openapi: 3.0.0
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: |
    > *Version 0.2.5*
    >
    > Date: October 22th, 2020
    >

    *This is still a Work In Progress.*

    --- 

    #### Available Postman Envinronments
    * [US Environment](https://documenter.getpostman.com/view/224925/SzYgQufe)
    * [EU Environment](https://documenter.getpostman.com/view/11418445/TVCe28uT)

    ---
    #### Useful links
    * [Mist Homepage](https://www.mist.com)
    * [Mist Documentation](https://www.mist.com/documentation)
    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account required)
    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)
    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)
  title: Mist API
  version: 0.2.5
servers:
  - description: Mist AWS US
    url: 'https://api.mist.com'
  - description: Mist AWS EU
    url: 'https://api.eu.mist.com'
  - description: Mist GCP US
    url: 'https://api.gc1.mist.com'
paths:
  '/api/v1/installer/orgs/{org_id}/alarmtemplates':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    get:
      description: Get the list of alarm templates
      operationId: getInstallerAlarmTemplates
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - id: 684dfc5c-fe77-2290-eb1d-ef3d677fe168
                      name: AlarmTemplate 1
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  required:
                    - id
                    - name
                  properties:
                    id:
                      type: string
                      minLength: 1
                    name:
                      type: string
                      minLength: 1
          description: Successful response
      summary: getInstallerAlarmTemplates
      tags:
        - Alarm Templates
        - Organization
  '/api/v1/installer/orgs/{org_id}/deviceprofiles':
    get:
      description: Get Device Profiles
      operationId: getInstallerDeviceProfiles_WIP_
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  required:
                    - id
                    - name
                  properties:
                    id:
                      type: string
                      minLength: 1
                    name:
                      type: string
                      minLength: 1
              examples:
                example-1:
                  value:
                    - id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                      name: DeviceProfile 1
          description: Successful response
      summary: getInstallerDeviceProfiles_WIP_
      tags:
        - Devices
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/api/v1/installer/orgs/{org_id}/devices':
    get:
      description: Get recently claimed devices
      operationId: getInstallerListOfRenctlyClaimedDevices
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  required:
                    - connected
                  properties:
                    map_id:
                      type: string
                      minLength: 1
                    x:
                      type: number
                    'y':
                      type: number
                    height:
                      type: number
                    orientation:
                      type: number
                    connected:
                      type: boolean
              examples:
                example-1:
                  value:
                    - mac: 5c5b35000018
                      model: AP41
                      serial: FXLH2015150025
                      connected: true
                    - name: hallway
                      site_name: SJ1
                      deviceprofile_name: SJ1
                      connected: false
                    - map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                      x: 150
                      'y': 300
                      height: 2.7
                      orientation: 90
                      connected: true
          description: Successful response
      summary: getInstallerListOfRenctlyClaimedDevices
      tags:
        - Devices
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: |
        This mirrors `POST /api/v1/orgs/{org_id}/inventory` (see Inventory API)
      operationId: claimInstallerDevices
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  - 6JG8E-PTFV2-A9Z2N
                  - DVH4V-SNMSZ-PDXBR
            schema:
              type: array
              description: ''
              minItems: 1
              uniqueItems: true
              items:
                type: string
        description: ''
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  added:
                    type: array
                    items:
                      type: string
                  duplicated:
                    type: array
                    items:
                      type: string
                  error:
                    type: array
                    items:
                      type: string
                  inventory_added:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        serial:
                          type: string
                          minLength: 1
                        model:
                          type: string
                          minLength: 1
                        type:
                          type: string
                          minLength: 1
                        magic:
                          type: string
                          minLength: 1
                        mac:
                          type: string
                          minLength: 1
                      required:
                        - serial
                        - model
                        - type
                        - magic
                        - mac
                  inventory_duplicated:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        serial:
                          type: string
                          minLength: 1
                        model:
                          type: string
                          minLength: 1
                        type:
                          type: string
                          minLength: 1
                        magic:
                          type: string
                          minLength: 1
                        mac:
                          type: string
                          minLength: 1
                      required:
                        - serial
                        - model
                        - type
                        - magic
                        - mac
                required:
                  - added
                  - duplicated
                  - error
                  - inventory_added
                  - inventory_duplicated
              examples:
                example-1:
                  value:
                    added:
                      - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                      - DVH4V-SNMSZ-PDXBR
                    error:
                      - PO1025335ohoh
                    inventory_added:
                      - serial: FXLH2015150025
                        model: AP41
                        type: ap
                        magic: 6JG8EPTFV2A9Z2N
                        mac: 5c5b35000018
                    inventory_duplicated:
                      - serial: FXLH2015150027
                        model: AP41
                        type: ap
                        magic: DVH4VSNMSZPDXBR
                        mac: 5c5b35000012
          description: Successful response
        '400':
          description: Bad Request if none of the entries are valid
      summary: claimInstallerDevices
      tags:
        - Devices
        - Organization
  '/api/v1/installer/orgs/{org_id}/devices/{device_mac}':
    delete:
      description: Unassign recently claimed devices
      operationId: unassignInstallerRecentlyClaimedDevice
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: unassignInstallerRecentlyClaimedDevice
      tags:
        - Devices
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: device_mac
        required: true
        schema:
          type: string
    put:
      description: 'Provision device '
      operationId: provisionInstallerDevices
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                height:
                  type: number
                map_id:
                  minLength: 1
                  type: string
                name:
                  minLength: 1
                  type: string
                orientation:
                  type: number
                site_id:
                  minLength: 1
                  type: string
                site_name:
                  minLength: 1
                  type: string
                x:
                  type: number
                'y':
                  type: number
                deviceprofile_name:
                  type: string
              required:
                - name
            examples:
              example-1:
                value:
                  height: 0
                  map_id: string
                  name: string
                  orientation: 0
                  site_id: string
                  site_name: string
                  x: 0
                  'y': 0
                  deviceprofile_name: string
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  detail:
                    type: string
                    minLength: 1
                required:
                  - detail
              examples:
                example-outsite_of_grace_period:
                  value:
                    detail: outside of grace period
      summary: provisionInstallerDevices
      tags:
        - Devices
        - Organization
  '/api/v1/installer/orgs/{org_id}/devices/{device_mac}/locate':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: device_mac
        required: true
        schema:
          type: string
    post:
      description: |
        Locate a Device by blinking it’s LED, it’s a persisted state that has to be stopped by calling Stop Locating API
      operationId: startInstallerLocateDevice
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: startInstallerLocateDevice
      tags:
        - Devices
        - Organization
  '/api/v1/installer/orgs/{org_id}/devices/{device_mac}/unlocate':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: device_mac
        required: true
        schema:
          type: string
    post:
      description: Stop it
      operationId: stopInstallerLocateDevice
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: stopInstallerLocateDevice
      tags:
        - Devices
        - Organization
  '/api/v1/installer/orgs/{org_id}/devices/{device_mac}/{image_name}':
    delete:
      tags:
        - Devices
      operationId: deleteInstallerDeviceImage
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: deleteInstallerDeviceImage
      description: delete image
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
          format: uuid
      - in: path
        name: image_name
        required: true
        schema:
          type: string
      - in: path
        name: device_mac
        required: true
        schema:
          type: string
    post:
      operationId: InstallerDeviceImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  format: binary
                  type: string
            examples: {}
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: InstallerDeviceImage
      tags:
        - Devices
        - Organization
      description: Add image
  '/api/v1/installer/orgs/{org_id}/rftemplates':
    get:
      description: Get RF Template
      operationId: getInstallerRfTemplatesNames
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  required:
                    - id
                    - name
                  properties:
                    id:
                      type: string
                      minLength: 1
                    name:
                      type: string
                      minLength: 1
              examples:
                example-1:
                  value:
                    - id: bb8a9017-1e36-5d6c-6f2b-551abe8a76a2
                      name: RFTemplate 1
          description: Successful response
      summary: getInstallerRfTemplatesNames
      tags:
        - RF Template
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/api/v1/installer/orgs/{org_id}/secpolicies':
    get:
      description: Get Secuity Policies
      operationId: getInstallerSecurityPolicies
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  required:
                    - id
                    - name
                  properties:
                    id:
                      type: string
                      minLength: 1
                    name:
                      type: string
                      minLength: 1
              examples:
                example-1:
                  value:
                    - id: 3bcd0beb-5d0a-4cbd-92c1-14aea91e98ef
                      name: SecuPolicy 1
          description: Successful response
      summary: getInstallerSecurityPolicies
      tags:
        - Security Policies
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/api/v1/installer/orgs/{org_id}/sitegroups':
    get:
      description: Get Site Groups
      operationId: getInstallerSiteGroups
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  required:
                    - id
                    - name
                  properties:
                    id:
                      type: string
                      minLength: 1
                    name:
                      type: string
                      minLength: 1
              examples:
                example-1:
                  value:
                    - id: 581328b6-e382-f54e-c9dc-999983183a34
                      name: SiteGroup 1
          description: Successful response
      summary: getInstallerSiteGroups
      tags:
        - Site Groups
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/api/v1/installer/orgs/{org_id}/sites':
    get:
      description: Get Sites
      operationId: getInstallerSites
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  required:
                    - id
                    - name
                    - timezone
                    - country_code
                    - latlng
                    - address
                  properties:
                    id:
                      type: string
                      minLength: 1
                    name:
                      type: string
                      minLength: 1
                    timezone:
                      type: string
                      minLength: 1
                    country_code:
                      type: string
                      minLength: 1
                    latlng:
                      type: object
                      properties:
                        lat:
                          type: number
                        lng:
                          type: number
                      required:
                        - lat
                        - lng
                    address:
                      type: string
                      minLength: 1
              examples:
                example-1:
                  value:
                    - id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      name: Mist Office
                      timezone: America/Los_Angeles
                      country_code: US
                      latlng:
                        lat: 37.295833
                        lng: -122.032946
                      address: '1601 S. Deanza Blvd., Cupertino, CA, 95014'
          description: Successful response
      summary: getInstallerSites
      tags:
        - Sites
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/api/v1/installer/orgs/{org_id}/sites/{site_name}':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: site_name
        required: true
        schema:
          type: string
    put:
      description: |
        Often the Installers are asked to assign Devices to Sites. The Sites can either be pre-created or created/modified by the Installer. If this is an update, the same grace period also applies.
      operationId: createOrUpdateInstallerSites
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                timezone:
                  type: string
                  minLength: 1
                country_code:
                  type: string
                  minLength: 1
                latlng:
                  type: object
                  required:
                    - lat
                    - lng
                  properties:
                    lat:
                      type: number
                    lng:
                      type: number
                address:
                  type: string
                  minLength: 1
                rftemplate_name:
                  type: string
                  minLength: 1
                sitegroup_names:
                  type: array
                  items:
                    type: string
              required:
                - timezone
            examples:
              example-1:
                value:
                  timezone: America/Los_Angeles
                  country_code: US
                  latlng:
                    lat: 37.295833
                    lng: -122.032946
                  address: '1601 S. Deanza Blvd., Cupertino, CA, 95014'
                  rftemplate_name: rftemplate1
                  sitegroup_names:
                    - sg1
                    - sg2
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: createOrUpdateInstallerSites
      tags:
        - Sites
        - Organization
  '/api/v1/installer/orgs/{org_id}/sites/{site_name}/maps':
    get:
      description: Get Maps
      operationId: getInstallerMaps
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./models/responses/response.map.v1.yaml
              examples:
                example-1:
                  value:
                    name: string
                    type: string
                    ppm: 0
                    width: 0
                    height: 0
                    origin_x: 0
                    origin_y: 0
                    orientation: 0
                    locked: true
                    wayfinding:
                      snap_to_path: true
                      micello:
                        account_key: string
                        map_id: string
                        default_level_id: 0
                    wayfinding_path:
                      coordinate: string
                      nodes:
                        - name: string
                          position:
                            x: 0
                            'y': 0
                          edges:
                            N2: string
                      name: string
                    wall_path:
                      coordinate: string
                      nodes:
                        - name: string
                          position:
                            x: 0
                            'y': 0
                          edges:
                            N2: string
                      name: string
                    sitesurvey_path:
                      - coordinate: string
                        nodes:
                          - name: string
                            position:
                              x: 0
                              'y': 0
                            edges:
                              N2: string
                        name: string
                        id: string
                    flags: {}
                    url: string
                    thumbnail_url: string
                    view: string
                    latlng_tl:
                      lat: string
                      lnt: string
                    latlng_bt:
                      lat: string
                      lnt: string
                    width_m: 0
                    height_m: 0
                    occupancy_limit: 0
                    site_id: string
                    org_id: string
                    created_time: 0
                    modified_time: 0
          description: Successful response
      summary: getInstallerMaps
      tags:
        - Maps
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: site_name
        required: true
        schema:
          type: string
  '/api/v1/installer/orgs/{org_id}/sites/{site_name}/maps/import':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: site_name
        required: true
        schema:
          type: string
    post:
      description: 'Import data from files is a multipart POST which has an file, an optional json, and an optional csv, to create floorplan, assign & place ap if name or mac matches'
      operationId: importInstallerMap
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                vendor_name:
                  type: string
                  minLength: 1
                  enum:
                    - ekahau
                    - ibwave
                import_all_floorplans:
                  type: boolean
                import_height:
                  type: boolean
                import_orientation:
                  type: boolean
              required:
                - vendor_name
            examples:
              example-1:
                value:
                  vendor_name: ekahau
                  import_all_floorplans: true
                  import_height: true
                  import_orientation: false
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                csv:
                  format: binary
                  type: string
        description: ''
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  site_id:
                    type: string
                    minLength: 1
                  aps:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        mac:
                          type: string
                          minLength: 1
                        action:
                          type: string
                          minLength: 1
                          enum:
                            - placed
                            - assigned-placed
                            - named-placed
                            - assigned-named-placed
                            - ignored
                        map_id:
                          type: string
                          minLength: 1
                        floorplan_id:
                          type: string
                          minLength: 1
                        orientation:
                          type: number
                        height:
                          type: number
                        reason:
                          type: string
                          minLength: 1
                      required:
                        - mac
                        - action
                        - map_id
                        - floorplan_id
                        - orientation
                  floorplans:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        name:
                          type: string
                          minLength: 1
                        action:
                          type: string
                          minLength: 1
                        map_id:
                          type: string
                          minLength: 1
                        reason:
                          type: string
                          minLength: 1
                      required:
                        - id
                        - name
                        - action
                        - map_id
                  summary:
                    type: object
                    required:
                      - num_ap_assigned
                      - num_map_assigned
                      - num_inv_assigned
                    properties:
                      num_ap_assigned:
                        type: number
                      num_map_assigned:
                        type: number
                      num_inv_assigned:
                        type: number
                required:
                  - site_id
                  - aps
                  - floorplans
                  - summary
              examples:
                example-placed:
                  value:
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    aps:
                      - mac: 5c5b35000001
                        action: placed
                        map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                        floorplan_id: cbdb7f0b-3be0-4872-88f9-58790b509c23-j68kows8
                        orientation: 45
                        height: 3
                    floorplans:
                      - id: cbdb7f0b-3be0-4872-88f9-58790b509c23-j68kows8
                        name: map1
                        action: imported
                        map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                    summary:
                      num_ap_assigned: 1
                      num_map_assigned: 1
                      num_inv_assigned: 1
                example-assigned_and_placed:
                  value:
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    aps:
                      - mac: 5c5b35000001
                        map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                        action: assigned-placed
                        floorplan_id: cbdb7f0b-3be0-4872-88f9-58790b509c23-j68kows8
                        orientation: 45
                        height: 3
                    floorplans:
                      - id: cbdb7f0b-3be0-4872-88f9-58790b509c23-j68kows8
                        name: map1
                        action: imported
                        map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                    summary:
                      num_ap_assigned: 1
                      num_map_assigned: 1
                      num_inv_assigned: 1
                example-assigned_named_and_placed:
                  value:
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    aps:
                      - mac: 5c5b35000001
                        map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                        action: assigned-named-placed
                        floorplan_id: cbdb7f0b-3be0-4872-88f9-58790b509c23-j68kows8
                        orientation: 45
                    floorplans:
                      - id: cbdb7f0b-3be0-4872-88f9-58790b509c23-j68kows8
                        name: map1
                        action: imported
                        map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                    summary:
                      num_ap_assigned: 1
                      num_map_assigned: 1
                      num_inv_assigned: 1
          description: Successful response
      summary: importInstallerMap
      tags:
        - Maps
        - Organization
  '/api/v1/installer/orgs/{org_id}/sites/{site_name}/maps/{map_id}':
    delete:
      description: Delete Map
      operationId: deleteInstallerMap
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: deleteInstallerMap
      tags:
        - Maps
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: site_name
        required: true
        schema:
          type: string
      - schema:
          type: string
        name: map_id
        in: path
        required: true
    post:
      description: Create a MAP
      operationId: createInstallerMap
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/map.v1.yaml
            examples:
              example-1:
                value:
                  name: string
                  type: string
                  ppm: 0
                  width: 0
                  height: 0
                  origin_x: 0
                  origin_y: 0
                  orientation: 0
                  locked: true
                  wayfinding:
                    snap_to_path: true
                    micello:
                      account_key: string
                      map_id: string
                      default_level_id: 0
                  wayfinding_path:
                    coordinate: string
                    nodes:
                      - name: string
                        position:
                          x: 0
                          'y': 0
                        edges:
                          N2: string
                  wall_path:
                    coordinate: string
                    nodes:
                      - name: string
                        position:
                          x: 0
                          'y': 0
                        edges:
                          N2: string
                  sitesurvey_path:
                    - coordinate: string
                      nodes:
                        - name: string
                          position:
                            x: 0
                            'y': 0
                          edges:
                            N2: string
                      name: string
                      id: string
                  flags: {}
                  url: string
                  thumbnail_url: string
                  view: string
                  latlng_tl:
                    lat: string
                    lnt: string
                  latlng_bt:
                    lat: string
                    lnt: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./models/responses/response.map.v1.yaml
              examples:
                example-1:
                  value:
                    name: string
                    type: string
                    ppm: 0
                    width: 0
                    height: 0
                    origin_x: 0
                    origin_y: 0
                    orientation: 0
                    locked: true
                    wayfinding:
                      snap_to_path: true
                      micello:
                        account_key: string
                        map_id: string
                        default_level_id: 0
                    wayfinding_path:
                      coordinate: string
                      nodes:
                        - name: string
                          position:
                            x: 0
                            'y': 0
                          edges:
                            N2: string
                      name: string
                    wall_path:
                      coordinate: string
                      nodes:
                        - name: string
                          position:
                            x: 0
                            'y': 0
                          edges:
                            N2: string
                      name: string
                    sitesurvey_path:
                      - coordinate: string
                        nodes:
                          - name: string
                            position:
                              x: 0
                              'y': 0
                            edges:
                              N2: string
                        name: string
                        id: string
                    flags: {}
                    url: string
                    thumbnail_url: string
                    view: string
                    latlng_tl:
                      lat: string
                      lnt: string
                    latlng_bt:
                      lat: string
                      lnt: string
                    width_m: 0
                    height_m: 0
                    occupancy_limit: 0
                    site_id: string
                    org_id: string
                    created_time: 0
                    modified_time: 0
          description: Successful response
      summary: createInstallerMap
      tags:
        - Maps
        - Organization
    put:
      description: Update map
      operationId: updateInstallerMap
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/map.v1.yaml
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: updateInstallerMap
      tags:
        - Maps
        - Organization
  '/api/v1/installer/sites/{site_name}/optimize':
    get:
      description: 'After installation is considered complete (APs are placed on maps, all powered up), you can trigger an optimize operation where RRM will kick in (and maybe other things in the future) before it’s automatically scheduled.'
      operationId: optimizeInstallerRrm
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: optimizeInstallerRrm
      tags:
        - RRM
    parameters:
      - in: path
        name: site_name
        required: true
        schema:
          type: string
  '/api/v1/invite/verify/{token}':
    parameters:
      - in: path
        name: token
        required: true
        schema:
          type: string
    post:
      description: 'NOTE: another call to ```GET /api/v1/self``` is required to see the new set of privileges'
      operationId: verifyMspAdminInvite
      requestBody:
        content: {}
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  detail:
                    type: string
                    minLength: 1
                  requires_two_factor_auth:
                    type: boolean
                  requires_special_char:
                    type: boolean
                  min_length:
                    type: integer
                required:
                  - detail
              examples:
                password policy not met:
                  value:
                    detail: password policy not met
                    min_length: 8
                    requires_special_char: false
                two factor not enabled:
                  value:
                    detail: two factor not enabled
                    requires_two_factor_auth: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
              examples:
                invalid secret:
                  value:
                    detail: invalid secret
                invite created by self:
                  value:
                    detail: invite created by self
      summary: verifyMspAdminInvite
      tags:
        - Admins
  '/api/v1/mobile/verify/{secret}':
    parameters:
      - in: path
        name: secret
        required: true
        schema:
          type: string
    post:
      description: Verify secret
      operationId: activateSdkInvite
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                device_id:
                  type: string
                  minLength: 1
              required:
                - device_id
            examples:
              example-1:
                value:
                  device_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  org_id:
                    type: string
                    minLength: 1
                  secret:
                    type: string
                    minLength: 1
                required:
                  - name
                  - org_id
                  - secret
              examples:
                example-1:
                  value:
                    name: Macy's
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    secret: device-specific-secret
          description: Successful response
      summary: activateSdkInvite
      tags:
        - SDK Invites
  /api/v1/msps:
    post:
      summary: Create MSP
      tags:
        - MSP
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  id:
                    type: string
                    minLength: 1
                  created_time:
                    type: number
                  modified_time:
                    type: number
                required:
                  - name
                  - id
                  - created_time
                  - modified_time
              examples:
                example-1:
                  value:
                    name: string
                    id: string
                    created_time: 0
                    modified_time: 0
      operationId: createMsp
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
              required:
                - name
            examples:
              example-1:
                value:
                  name: MSP
      description: Create MSP account
  '/api/v1/msps/{msp_id}':
    delete:
      description: |
        Deleting MSP removes the MSP and OrgGroup under the MSP as well as all privileges associated with them. It does not remove any Org or Admins
      operationId: deleteMsp
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: deleteMsp
      tags:
        - MSP
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
    put:
      description: Update MSP
      operationId: updateMsp
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
              required:
                - name
            examples:
              example-1:
                value:
                  name: MSP
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  id:
                    type: string
                    minLength: 1
                  created_time:
                    type: number
                  modified_time:
                    type: number
                required:
                  - name
                  - id
                  - created_time
                  - modified_time
              examples:
                example-1:
                  value:
                    name: MSP
                    id: 12579ee2-xxxx-xxxx-xxxx-a149538f27d8
                    created_time: 1603972889
                    modified_time: 1603972889
          description: Successful response
      summary: updateMsp
      tags:
        - MSP
  '/api/v1/msps/{msp_id}/admins':
    get:
      description: Get MSP Admins
      operationId: getMspAdmins
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  $ref: ./models/admin.v1.yaml
              examples:
                example-1:
                  value:
                    - admin_id: 456b7016-a916-a4b1-78dd-72b947c152b7
                      first_name: Joe
                      last_name: Smith
                      email: jsmith@mycorp.org
                      privileges:
                        - scope: msp
                          role: admin
                        - scope: org
                          org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                          role: admin
                        - scope: orggroup
                          orggroup_id: 507f1bab-13ba-73e2-f291-2bcb8d1362b0
                          role: read
                example-2:
                  value:
                    - admin_id: string
                      first_name: string
                      last_name: string
                      email: userexample@email
                      privileges:
                        - scope: string
                          org_id: string
                          name: string
                          role: string
                          msp_id: string
                          orggroup_ids:
                            - string
                          msp_name: string
                          org_name: string
                          site_id: string
                          sitegroup_ids:
                            - string
          description: Successful response
      summary: getMspAdmins
      tags:
        - Admins
        - MSP
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
  '/api/v1/msps/{msp_id}/admins/{admin_id}':
    delete:
      description: |
        This removes all privileges this admin has against the MSP. This goes deep all the way to the sites
      operationId: revokeMspAdmin
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: revokeMspAdmin
      tags:
        - Admins
        - MSP
    get:
      description: Get MSP Admins
      operationId: getMspAdminDetails
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/responses/response.admin.v1.yaml
              examples:
                example-1:
                  value:
                    - first_name: string
                      last_name: string
                      privileges:
                        - scope: string
                          org_id: string
                          name: string
                          role: string
                          msp_id: string
                          orggroup_ids:
                            - string
                          msp_name: string
                          org_name: string
                          site_id: string
                          sitegroup_ids:
                            - string
                      email: user@example.com
                      admin_id: string
          description: Successful response
      summary: getMspAdminDetails
      tags:
        - Admins
        - MSP
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
      - in: path
        name: admin_id
        required: true
        schema:
          type: string
    put:
      description: Update MSP Admin
      operationId: updateMspAdmin
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/admin.v1.yaml
            examples:
              example-1:
                value:
                  admin_id: string
                  first_name: string
                  last_name: string
                  email: userexample@email
                  privileges:
                    - scope: string
                      org_id: string
                      name: string
                      role: string
                      msp_id: string
                      orggroup_ids:
                        - string
                      msp_name: string
                      org_name: string
                      site_id: string
                      sitegroup_ids:
                        - string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./models/responses/response.admin.v1.yaml
              examples:
                example-1:
                  value:
                    first_name: string
                    last_name: string
                    privileges:
                      - scope: string
                        org_id: string
                        name: string
                        role: string
                        msp_id: string
                        orggroup_ids:
                          - string
                        msp_name: string
                        org_name: string
                        site_id: string
                        sitegroup_ids:
                          - string
                    email: user@example.com
                    admin_id: string
          description: Successful response
      summary: updateMspAdmin
      tags:
        - Admins
        - MSP
  '/api/v1/msps/{msp_id}/inventory/{mac}':
    get:
      description: Get Inventoy By device MAC address
      operationId: getMspInventoryByMac
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  serial:
                    type: string
                    minLength: 1
                  model:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                  mac:
                    type: string
                    minLength: 1
                  org_id:
                    type: string
                    minLength: 1
                  site_id:
                    type: string
                    minLength: 1
                required:
                  - serial
                  - model
                  - type
                  - mac
                  - org_id
                  - site_id
              examples:
                example-1:
                  value:
                    serial: FXLH2015150025
                    model: AP200
                    type: ap
                    mac: 5c5b35000018
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
          description: Successful response
      summary: getMspInventoryByMac
      tags:
        - Inventory
        - MSP
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
      - in: path
        name: mac
        required: true
        schema:
          type: string
  '/api/v1/msps/{msp_id}/invites':
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
    post:
      description: |-
        Invite MSP Admin

        Note: An email will also be sent to the user with a link to https://manage.mist.com/verify/invite?token=:token
      operationId: inviteMspAdmin
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/admin.v1.yaml
            examples:
              example-1:
                value:
                  first_name: string
                  last_name: string
                  privileges:
                    - scope: string
                      org_id: string
                      name: string
                      role: string
                      msp_id: string
                      orggroup_ids:
                        - string
                      msp_name: string
                      org_name: string
                      site_id: string
                      sitegroup_ids:
                        - string
                  email: user@example.com
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./models/responses/response.admin.v1.yaml
          description: Successful response
      summary: inviteMspAdmin
      tags:
        - Admins
        - MSP
  '/api/v1/msps/{msp_id}/invites/{invite_id}':
    delete:
      description: Delete admin invite
      operationId: uninviteMspAdmin
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: uninviteMspAdmin
      tags:
        - Admins
        - MSP
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
      - in: path
        name: invite_id
        required: true
        schema:
          type: string
    put:
      description: Update MSP admin invite
      operationId: updateMspAdminInvite
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/admin.v1.yaml
            examples:
              example-1:
                value:
                  first_name: string
                  last_name: string
                  privileges:
                    - scope: string
                      org_id: string
                      name: string
                      role: string
                      msp_id: string
                      orggroup_ids:
                        - string
                      msp_name: string
                      org_name: string
                      site_id: string
                      sitegroup_ids:
                        - string
                  email: user@example.com
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./models/responses/response.admin.v1.yaml
          description: Successful response
      summary: updateMspAdminInvite
      tags:
        - Admins
        - MSP
  '/api/v1/msps/{msp_id}/orggroups':
    get:
      description: Get MSP Org Groups
      operationId: getMspOrgGroups
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  $ref: ./models/responses/response.orggroup.v1.yaml
          description: Successful response
      summary: getMspOrgGroups
      tags:
        - Org Groups
        - MSP
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
    post:
      description: Create MSP Org Group
      operationId: createMspOrgGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/orggroup.v1.yaml
            examples:
              example-1:
                value:
                  org_ids:
                    - string
                  name: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./models/responses/response.orggroup.v1.yaml
              examples:
                example-1:
                  value:
                    org_ids:
                      - string
                    name: string
                    id: string
                    msp_id: string
                    created_time: 0
                    modified_time: 0
          description: Successful response
      summary: createMspOrgGroup
      tags:
        - Org Groups
        - MSP
  '/api/v1/msps/{msp_id}/orggroups/{orggroup_id}':
    delete:
      description: Delete MSP Org Group
      operationId: deleteMspOrgGroup
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: deleteMspOrgGroup
      tags:
        - Org Groups
        - MSP
    get:
      description: Get MSP Org Group Details
      operationId: getMspOrgGroupDetails
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./models/responses/response.orggroup.v1.yaml
              examples:
                example-1:
                  value:
                    org_ids:
                      - string
                    name: string
                    id: string
                    msp_id: string
                    created_time: 0
                    modified_time: 0
          description: Successful response
      summary: getMspOrgGroupDetails
      tags:
        - Org Groups
        - MSP
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
      - in: path
        name: orggroup_id
        required: true
        schema:
          type: string
    put:
      summary: ''
      operationId: updateMspOrgGroupDetails
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/responses/response.orggroup.v1.yaml
      description: Update MSP Org Group
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/orggroup.v1.yaml
      tags:
        - MSP
        - Org Groups
  '/api/v1/msps/{msp_id}/orgs':
    get:
      description: Get MSP Orgs
      operationId: getMspOrgs
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  $ref: ./models/responses/response.org.v1.yaml
          description: Successful response
      summary: getMspOrgs
      tags:
        - Org
        - MSP
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
    post:
      description: Create MSP Org
      operationId: createMspOrg
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/org.v1.yaml
            examples:
              example-1:
                value:
                  orggroup_ids:
                    - string
                  name: string
                  allow_mist: true
                  session_expiry: 10
                  alarmtemplate_id: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./models/responses/response.org.v1.yaml
          description: Successful response
      summary: createMspOrg
      tags:
        - Org
        - MSP
    put:
      description: |-
        #### Body Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        op|string|unassign
        org_ids|list|list of org_id
      operationId: unassignMspOrg
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                op:
                  type: string
                  minLength: 1
                  enum:
                    - assign
                org_ids:
                  type: array
                  items:
                    type: string
              required:
                - op
                - org_ids
            examples:
              example-1:
                value:
                  op: assign
                  org_ids:
                    - 2818e386-8dec-2562-9ede-5b8a0fbbdc71
        description: ''
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: unassignMspOrg
      tags:
        - Org
        - MSP
  '/api/v1/msps/{msp_id}/orgs/{org_id}':
    get:
      description: Get MSP Org Details
      operationId: getMspOrgDetails
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./models/responses/response.org.v1.yaml
          description: Successful response
      summary: getMspOrgDetails
      tags:
        - Org
        - Organization
        - MSP
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/api/v1/msps/{msp_id}/search':
    get:
      description: Search in MSP Orgs
      operationId: searchMspOrgGroup
      parameters:
        - example: orgs
          in: query
          name: type
          schema:
            type: string
            enum:
              - orgs
          description: orgs
          required: true
        - example: '{{q}}'
          in: query
          name: q
          schema:
            type: string
          description: search string
          required: true
        - schema:
            type: string
          in: query
          name: page
        - schema:
            type: string
          in: query
          name: limit
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  page:
                    type: number
                  limit:
                    type: number
                  total:
                    type: number
                  results:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - type
                        - text
                        - id
                      properties:
                        type:
                          type: string
                          minLength: 1
                        text:
                          type: string
                          minLength: 1
                        id:
                          type: string
                          minLength: 1
                required:
                  - page
                  - limit
                  - total
                  - results
              examples:
                example-1:
                  value:
                    page: 0
                    limit: 0
                    total: 0
                    results:
                      - type: string
                        text: string
                        id: string
          description: Successful response
      summary: searchMspOrgGroup
      tags:
        - Org Groups
        - MSP
        - Search
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
  '/api/v1/msps/{msp_id}/ssoroles':
    get:
      description: Get MSP SSO Roles
      operationId: getMspSsoRoles
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/responses/response.ssorole.v1.yaml
          description: Successful response
      summary: getMspSsoRoles
      tags:
        - SSO/SAML
        - MSP
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
    post:
      description: Create MSP Role
      operationId: createMspSsoRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/ssorole.v1.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./models/responses/response.ssorole.v1.yaml
          description: Successful response
      summary: createMspSsoRole
      tags:
        - SSO/SAML
        - MSP
  '/api/v1/msps/{msp_id}/ssoroles/{ssorole_id}':
    delete:
      description: Delete MSP SSO Roles
      operationId: deleteMspSsoRoles
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: deleteMspSsoRoles
      tags:
        - SSO/SAML
        - MSP
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
      - in: path
        name: ssorole_id
        required: true
        schema:
          type: string
    put:
      description: Update SSO Role
      operationId: updateMspSsoRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/ssorole.v1.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./models/responses/response.ssorole.v1.yaml
          description: Successful response
      summary: updateMspSsoRole
      tags:
        - SSO/SAML
        - MSP
  '/api/v1/msps/{msp_id}/ssos':
    get:
      description: Get MSP SSO Config
      operationId: getMspSso
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/responses/response.sso.v1.yaml
              examples:
                example-1:
                  value:
                    - name: string
                      idp_cert: string
                      idp_sso_url: string
                      custom_logout_url: string
                      nameid_format: string
                      idp_sign_algo: string
                      type: string
                      issuer: string
                      id: string
                      msp_id: string
                      org_id: string
                      domain: string
                      created_time: 0
                      modified_time: 0
          description: Successful response
      summary: getMspSso
      tags:
        - SSO/SAML
        - MSP
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
    post:
      description: |
        Create MSP SSO profile
      operationId: createMspSso
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/sso.v1.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./models/responses/response.sso.v1.yaml
          description: Successful response
      summary: createMspSso
      tags:
        - SSO/SAML
        - MSP
  '/api/v1/msps/{msp_id}/ssos/{sso_id}':
    delete:
      description: Delete MSP SSO Config
      operationId: deleteMspSso
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: deleteMspSso
      tags:
        - SSO/SAML
        - MSP
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
      - in: path
        name: sso_id
        required: true
        schema:
          type: string
    put:
      description: Update MSP SSO config
      operationId: updateMspSso
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/sso.v1.yaml
            examples:
              example-1:
                value:
                  name: string
                  issuer: string
                  idp_cert: string
                  idp_sign_algo: string
                  idp_sso_url: string
                  nameid_format: string
                  ignore_unmatched_roles: true
                  default_role: null
                  custom_logout_url: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./models/responses/response.sso.v1.yaml
              examples:
                example-1:
                  value:
                    name: string
                    idp_cert: string
                    idp_sso_url: string
                    custom_logout_url: string
                    nameid_format: string
                    idp_sign_algo: string
                    type: string
                    issuer: string
                    id: string
                    msp_id: string
                    org_id: string
                    domain: string
                    created_time: 0
                    modified_time: 0
          description: Successful response
      summary: updateMspSso
      tags:
        - SSO/SAML
        - MSP
  '/api/v1/msps/{msp_id}/ssos/{sso_id}/failures':
    get:
      description: Get MSP SSO Latest Failures
      operationId: getMspSsoLatestFailures
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  results:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - timestamp
                        - detail
                        - saml_assertion_xml
                      properties:
                        timestamp:
                          type: number
                        detail:
                          type: string
                          minLength: 1
                        saml_assertion_xml:
                          type: string
                          minLength: 1
                required:
                  - results
              examples:
                example-1:
                  value:
                    results:
                      - timestamp: 0
                        detail: string
                        saml_assertion_xml: string
          description: Successful response
      summary: getMspSsoLatestFailures
      tags:
        - SSO/SAML
        - MSP
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
      - in: path
        name: sso_id
        required: true
        schema:
          type: string
  '/api/v1/msps/{msp_id}/ssos/{sso_id}/metadata':
    get:
      description: Get MSP SSO SAML Metadata
      operationId: getMspSsoSamlMetadata
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  acs_url:
                    type: string
                    minLength: 1
                  logout_url:
                    type: string
                    minLength: 1
                  metadata_xml:
                    type: string
                    minLength: 1
                required:
                  - acs_url
                  - logout_url
                  - metadata_xml
              examples:
                example-1:
                  value:
                    acs_url: 'https://api.mist.com/api/v1/saml/llDfa13f/login'
                    logout_url: 'https://api.mist.com/api/v1/saml/llDfa13f/logout'
                    metadata_xml: '<?xml version="1.0" encoding="UTF-8"?><md:EntityDescriptor xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata" entityID="https://saml-llDfa13f.mist.com" validUntil="2027-10-12T21:59:01Z" xmlns:ds="http://www.w3.org/2000/09/xmldsig#"><md:SPSSODescriptor AuthnRequestsSigned="false" WantAssertionsSigned="true" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol"><md:NameIDFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified</md:NameIDFormat><md:AssertionConsumerService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Location="None" index="0" isDefault="true"/></md:SPSSODescriptor></md:EntityDescriptor>'
          description: Successful response
      summary: getMspSsoSamlMetadata
      tags:
        - SSO/SAML
        - MSP
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
      - in: path
        name: sso_id
        required: true
        schema:
          type: string
  '/api/v1/msps/{msp_id}/ssos/{sso_id}/metadata.xml':
    get:
      description: Download MSP SSO SAML Metadata
      operationId: downloadMspSsoSamlMetadata
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                type: object
                properties: {}
      summary: downloadMspSsoSamlMetadata
      tags:
        - SSO/SAML
        - MSP
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
      - in: path
        name: sso_id
        required: true
        schema:
          type: string
  '/api/v1/msps/{msp_id}/stats/licenses':
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
    get:
      description: Get MSP Licences
      operationId: getMspOrgLicenses
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./models/responses/response.license.v1.yaml
          description: Successful response
      summary: createMsp
      tags:
        - MSP
  '/api/v1/msps/{msp_id}/stats/orgs':
    get:
      description: Get MSP Orgs Stats
      operationId: getMspOrgStats
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/responses/stats/stats.org.v1.yaml
              examples:
                example-1:
                  value:
                    - orggroup_ids:
                        - string
                      name: string
                      id: string
                      msp_id: string
                      created_time: 0
                      modified_time: 0
                      allow_mist: true
                      session_expiry: 0
                      alarmtemplate_id: string
                      num_sites: 0
                      num_devices: 0
                      num_inventory: 0
                      num_devices_connected: 0
                      num_devices_disconnected: 0
                      sle:
                        - path: string
                          user_minutes:
                            total: 0
                            ok: 0
          description: Successful response
      summary: getMspOrgStats
      tags:
        - Org
        - MSP
    parameters:
      - in: path
        name: msp_id
        required: true
        schema:
          type: string
  '/api/v1/orgs/{org_id}':
    delete:
      description: Delete Org
      operationId: deleteOrg
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: deleteOrg
      tags:
        - Org
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    put:
      description: Update Org
      operationId: updateOrg
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/org.v1.yaml
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                $ref: ./models/responses/response.org.v1.yaml
          description: Successful response
      summary: updateOrg
      tags:
        - Org
        - Organization
  '/api/v1/orgs/{org_id}/admins':
    get:
      description: Get a list of people who can manage the Site/Org under the Org
      operationId: getOrgAdmins
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  $ref: ./models/responses/response.admin.v1.yaml
          description: Successful response
      summary: getOrgAdmins
      tags:
        - Admins
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/api/v1/orgs/{org_id}/admins/{admin_id}':
    delete:
      description: |
        This removes all privileges this admin has against the org
      operationId: revokeOrgAdmin
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: revokeOrgAdmin
      tags:
        - Admins
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: admin_id
        required: true
        schema:
          type: string
    put:
      description: Invite Org Admin
      operationId: updateOrgAdmin
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/admin.v1.yaml
            examples:
              example-1:
                value:
                  invite_id: string
                  email: user@email
                  first_name: string
                  last_name: string
                  privileges:
                    - scope: string
                      site_id: string
                      role: string
                  expire_time: 0
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ./models/responses/response.admin.v1.yaml
              examples:
                example-1:
                  value:
                    first_name: string
                    last_name: string
                    privileges:
                      - scope: string
                        org_id: string
                        name: string
                        role: string
                        msp_id: string
                        orggroup_ids:
                          - string
                        msp_name: string
                        org_name: string
                        site_id: string
                        sitegroup_ids:
                          - string
                    email: user@example.com
                    admin_id: string
          description: Successful response
      summary: updateOrgAdmin
      tags:
        - Admins
        - Organization
  '/api/v1/orgs/{org_id}/alarms/count':
    get:
      description: Count Org Alarms
      operationId: countOrgAlarms
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  results:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - type
                        - count
                      properties:
                        type:
                          type: string
                          minLength: 1
                        count:
                          type: number
                  start:
                    type: number
                  end:
                    type: number
                  limit:
                    type: number
                  distinct:
                    type: string
                    minLength: 1
                  total:
                    type: number
                  percentage:
                    type: number
                required:
                  - results
                  - start
                  - end
                  - limit
                  - distinct
                  - total
                  - percentage
              examples:
                example-1:
                  value:
                    results:
                      - type: device_down
                        count: 1
                      - type: gateway_down
                        count: 1
                      - type: switch_down
                        count: 1
                    start: 1603887405.0511672
                    end: 1603973805.051183
                    limit: 10
                    distinct: type
                    total: 3
                    percentage: 100
          description: Successful response
      summary: countOrgAlarms
      tags:
        - Alarms
        - Organization
        - Count
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/api/v1/orgs/{org_id}/alarms/search':
    get:
      description: Search Org Alarms
      operationId: searchOrgAlarms
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  results:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - id
                        - timestamp
                        - site_id
                        - type
                        - count
                        - acked
                        - acked_time
                        - note
                      properties:
                        id:
                          type: string
                          minLength: 1
                        timestamp:
                          type: number
                        site_id:
                          type: string
                          minLength: 1
                        type:
                          type: string
                          minLength: 1
                        count:
                          type: number
                        acked:
                          type: boolean
                        acked_time:
                          type: number
                        note:
                          type: string
                          minLength: 1
                required:
                  - results
          description: Successful response
      summary: searchOrgAlarms
      tags:
        - Alarms
        - Organization
        - Search
      parameters:
        - schema:
            type: string
          in: query
          name: type
        - schema:
            type: integer
          in: query
          name: start
        - schema:
            type: integer
          in: query
          name: end
        - schema:
            type: integer
          in: query
          name: limit
        - schema:
            type: integer
          in: query
          name: page
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/api/v1/orgs/{org_id}/alarmtemplates':
    get:
      description: Get Org Alarm Templates
      operationId: getOrgAlarmTemplates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/responses/response.alarmtemplate.v1.yaml
              examples:
                example-1:
                  value:
                    - delivery:
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                        additional_emails:
                          - string
                      rules:
                        bad_cable:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        gw_bad_cable:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        rogue_client:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        dhcp_failure:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        dot1x_failure:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        missing_vlan:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        negotiation_mismatch:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        gw_negotiation_mismatch:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        non_compliant:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        ap_offline:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        psk_failure:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        rogue_ap:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        air_magnet_scan:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        bssid_spoofing:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        device_restarted:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        eap_handshake_flood:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        honeypot_ssid:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        repeated_auth_failures:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        watched_station:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        adhoc_network:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        device_down:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        disassociation_flood:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        eap_dictionary_attack:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        eap_failure_injection:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        eap_spoofed_success:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        eapol_logoff_attack:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        essid_jack:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        excessive_client:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        excessive_eapol_start:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        beacon_flood:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        gateway_down:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        monkey_jack:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        out_of_sequence:
                          enabled: true
                        krack_attack:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        ssid_injection:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        secpolicy_violation:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        switch_down:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        tkip_icv_attack:
                          enabled: true
                          delivery:
                            enabled: true
                            to_org_admins: true
                            to_site_admins: true
                            additional_emails:
                              - string
                        vendor_ie_missing:
                          enabled: true
                          delivery:
[...]
