openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2306.1.6**

    >

    > Date: **June 21, 2023**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2306.1.6
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Authentication
- name: Monitor
- name: Operational
- name: Login
- description: A Mist account can be linked to OAuth2 providers:\n1. First, login
    with your Mist account\n2. Obtain the Authorization URL for Linking 1. in JSON
    response, more usable for developers. Simply don\'t specify the forward parameter
    when obtaining the authorization URL 2. or as GET parameter, for UI where the
    user flow can be continued. Specify the landing page/url of your choice 3. Obtain
    the authorizaiton code by clicking / going through Authorization URL Link Mist
    Account against OAuth2 Provider by using the authorization code
  name: Login With OAuth2
- description: "Like many other API providers, it\u2019s also possible to generate\
    \ API Tokens to be used (in HTTP Header) for authentication. An API token ties\
    \ to a Admin with equal or less privileges.\n\nNotes:\n* an API token generated\
    \ for a specific admin has the same privilege as the user\n* an API token will\
    \ be automatically removed if not used for > 90 days\n* SSO admins cannot generate\
    \ these API tokens. Refer Org level API tokens (/api/v1/docs/Org#api-token) which\
    \ can have privileges of a specific Org/Site for more information."
  name: API Token
- description: "In a typical enterprise, a separate group of people, Installers, are\
    \ responsible for install new devices. May it be a new installation (e.g. new\
    \ stores), a replacement installation (e.g. replacing Cisco APs with Mist APs),\
    \ or addition (e.g. adding new APs for better coverage). Instead of granting them\
    \ Admin/Write privilege, it's more desirable to grant them minimum privileges\
    \ to do the initial provisioning so they cannot read sensible information (e.g.\
    \ PSK of a WLAN), or change configs of running APs.\nAt a high level, Installer\
    \ APs try to achieve the following:\n1. identifying a device by MAC (that\u2019\
    s what they see)\n2. they can only touch configurations of the devices they\u2019\
    re installing\n3. allow the following configurations: * name * site assignment\
    \ * device  profile assignment * map and location (x/y) assignment * claim (if\
    \ not already in the inventory) * replace existing device with the device being\
    \ installed\n\n* Grace Period *\nGrace period provides a dynamic way to limit\
    \ what devices / sites   installer can work on. Generally installers work on recent\
    \ deployments -  bringing up new sites, add newly claimed devices to new / existing\
    \ sites. They  make mistakes, too, and may need to further tweak some of the parameters.\
    \   Default grace period is 7 days and can be set from 1 day to 365 days."
  name: Installer
- name: Admin
- name: Mobile
- description: MSP (Managed Service Provider) contains multiple Organizations.
  name: Msps
- name: Msps Admins
- name: Msps Inventory
- name: Msps Invites
- name: Msps Logo
- name: Msps Logs
- name: Msps Licenses
- name: Msps Marvis
- name: Msps Org Groups
- name: Msps Orgs
- name: Msps SLEs
- name: Msps SSO Roles
- name: Msps SSO
- name: Msps Stats
- name: Msps Tickets
- description: An organization usually represents a customer - which has inventories,
    licenses. An Organization can contain multiple sites. A site usually represents
    a deployment at the same location (a campus, an office).
  name: Orgs
- name: Orgs 128T
- name: Orgs Admins
- description: Alarms are triggered based on certain events. Alarms could be configured
    using an Alarm Template.
  name: Orgs Alarms
- description: An Alarm Template is a set of Alarm Rules that could be applied to
    one or more sites (while each site can only pick one Alarm Template), or to the
    whole org.
  name: Orgs Alarm Templates
- name: Orgs AP Templates
- name: Orgs API Tokens
- name: Orgs Assets
- name: Orgs Asset Filters
- name: Orgs Calls
- name: Orgs Cert
- name: Orgs Clients - Wan
- name: Orgs Clients - Wired
- name: Orgs Clients - Wireless
- name: Orgs CRL
- description: 'While Templates / RF Templates / Network Templates / Gateway Templates
    provides powerful ways to control how a Device\''s configuration is derived for
    a Site. There are cases where you\''d like another level of control at the Org
    Level.

    A Device Profile contains a subset of Device\''s configurations you\''d like a
    device to have. It will be merged at runtime when we\''re provisioning an AP.'
  name: Orgs Device Profiles
- name: Orgs Devices
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Orgs EVPN Topologies
- description: API Call for 3rd party devices
  name: Orgs Devices Others
- name: Orgs Devices Stats
- name: Orgs Devices Upgrades
- description: "In Zscaler UI \n 1. add Partner Integration at https://admin.zscalerbeta.net/#administration/partner-integration\
    \ \n 2. Add Partner Administrator Role at https://admin.zscalerbeta.net/#administration/role-management\
    \ - Name: Mist - Access: Full \n 3. add Partner Admin at https://admin.zscalerbeta.net/#administration/admin-management\
    \ with - Login ID: john - email: john@abc.com \n 4. Find the cloud name for ZIA\
    \ https://help.zscaler.com/zia/what-my-cloud-name-zia\n"
  name: Orgs Devices Zscaler
- description: Gateway Template is applied to a site for gateway(s) in a site.
  name: Orgs Gateway Templates
- name: Orgs Guests
- name: Orgs Inventory
- name: Orgs Invites
- name: Orgs JSE
- description: "Juniper Support Insight is a free service provided to all Mist customers.\
    \ You can adopt your devices via a few lines CLI comands. Allowing you to \n*\
    \ get some basic information about the adopted devices \n* web shell into device\
    \ (write privilege required) \n* upgrade (write privilege required)"
  name: Orgs JSI
- name: Orgs Licenses
- name: Orgs Logs
- name: Orgs Marvis
- name: Orgs Maps
- name: Orgs MxClusters
- name: Orgs MxEdges
- name: Orgs MxTunnels
- description: 'nactags are the building blocks to compose nacrules.

    They can either appear in the "matching" / "not_matching" sections of a nacrule,
    in which case they play the role of classifiers, or they could appear in the "apply_tags"
    section of the of a nacrule, in which case they influence the result.

    When the "type" field of nactag is "match", it can be used as the classfier of
    a nacrule. "match" field specifies the attribute name and "values" field specifies
    the list of attribute values to match on. When multiple values are specified,
    its treated as an OR condition between those values.

    When the "type" field of nactag is NOT "match", it can be used as the result of
    a nacrule. "type" field identifies the action to take and the corresponding field
    would provide any associated parameters to that action.'
  name: Orgs NAC Tags
- name: Orgs NAC Rules
- description: 'Network template is intended to be applied to a Site. It works like
    a blueprint of the network of the site.

    All Site Settings can go into Network Templates. See Site:Site Setting for schema

    Moreover, this can further be overwriten by individual Site Setting'
  name: Orgs Network Templates
- name: Orgs Networks
- name: Orgs OAuth
- name: Orgs Premium Analytics
- name: Orgs Psks
- description: "PSK Self-Service Portals are for \n  1. **WIFI users** who want to\
    \ connect to a WLAN with personal PSK, they\u2019re told to connect to a URL where\
    \ they can login (likely through company\u2019s SSO) and get the WIFI Name / Passphrase\
    \ - required input fields name, email so we can generate PSK \n  2. **PSK Admins**\
    \ (they don\u2019t have access to normal Network Admin Portal)\nWhen a PSK portal\
    \ is created, an unique URL will be generated (e.g. https://psk.mist.com/xxxxxx)"
  name: Orgs Psk Portals
- name: Orgs RF Templates
- name: Orgs SDK Clients
- name: Orgs SDK Invites
- name: Orgs SDK Templates
- description: "Security Policy is designed to audit / catch discripancies between\
    \ \u201Cwhat\u2019s intended to be running\u201D versus \u201Cwhat\u2019s actually\
    \ running\u201D in a network. Many big organizations have separated Security and\
    \ IT team (for good reasons). Each site can be assigned a security policy. Whenever\
    \ an AP is provisioned, the configuration will be checked against the security\
    \ policy. Any violations will be flagged in [Device Config History](/#operation/searchSiteDeviceConfigHistory)\
    \ where you can search for the when and where the violation occurs."
  name: Orgs SecPolicies
- name: Orgs Services
- name: Orgs Service Policies
- name: Orgs Setting
- name: Orgs Sitegroups
- name: Orgs Sites
- description: Site template is intended to be applied to a Site. The items in site
    setting which should be shared for all device types.
  name: Orgs Site Templates
- name: Orgs SLEs
- name: Orgs SSO Roles
- name: Orgs SSO
- name: Orgs Stats
- name: Orgs Subscriptions
- name: Orgs Templates
- name: Orgs Tickets
- name: Orgs Tunnels
- name: Orgs Tunnels Stats
- name: Orgs VPNs
- name: Orgs Webhooks
- name: Orgs Wlans
- name: Orgs WxRules
- name: Orgs WxTags
- name: Orgs WxTunnels
- description: A site represents a project, a deployment. For MSP, it can be as small
    as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps,
    Wlans, Policies, Zones.
  name: Sites
- name: Sites Alarms
- description: Applications contains a list of applications users are interested in
    monitoring / routing / policying
  name: Sites Applications
- name: Sites Anomaly
- name: Sites Asset Filters
- name: Sites Assets
- name: Sites Beacons
- name: Sites Calls
- name: Sites Clients - Wan
- name: Sites Clients - Wired
- name: Sites Clients - Wireless
- description: 'Mist provides many ways (device-type specific template, site template,
    device profile, per-device) to configure devices for different kind of scenarios.

    The precedence goes from most specific to least specific

    Device > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template
    > Site Template > Site Setting'
  name: Sites Devices
- name: Sites Devices APs
- description: API Call for 3rd party devices
  name: Sites Devices Others
- name: Sites Devices Switches
- name: Sites Devices Switches Virtual Chassis
- name: Sites Devices WAN Edges
- name: Sites Devices WAN Edges HA
- name: Sites Devices Stats
- name: Sites Devices Upgrades
- name: Sites Devices Utilities
- name: Sites Device Profiles
- name: Sites Events
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site '
  name: Sites EVPN Topologies
- name: Sites Guests
- name: Sites Insights
- name: Sites Licenses
- name: Sites Location
- name: Sites Maps
- name: Sites Maps Auto-orientation
- name: Sites Maps Auto-placement
- name: Sites MxEdges
- name: Sites MxTunnels
- name: Sites Networks
- name: Sites Pcaps
- name: Sites Psks
- name: Sites Rfdiags
- name: Sites Rogues
- name: Sites RRM
- name: Sites Rssizones
- name: Sites Services
- name: Sites Service Policies
- name: Sites Setting
- name: Sites Skyatp
- name: Sites SLEs
- name: Sites Stats
- name: Sites Subscriptions
- name: Sites Synthetic Tests
- name: Sites UI Settings
- name: Sites vBeacons
- name: Sites VPNs
- name: Sites Webhooks
- name: Sites Wlans
- name: Sites WxRules
- name: Sites WxTags
- name: Sites WxTunnels
- name: Sites Zones
- name: Constants
- name: Self
- name: Account
- name: Webhook Samples
paths:
  /api/v1/installer/orgs/{org_id}/alarmtemplates:
    get:
      description: Get List of alarm templates
      operationId: listInstallerAlarmTemplates
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - id: 684dfc5c-fe77-2290-eb1d-ef3d677fe168
                    name: AlarmTemplate 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                  - id
                  - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listInstallerAlarmTemplates
      tags:
      - Installer
      - Operational
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/deviceprofiles:
    get:
      description: Get List of Device Profiles
      operationId: listInstallerDeviceProfiles
      parameters: []
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                    name: DeviceProfile 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                  - id
                  - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listInstallerDeviceProfiles
      tags:
      - Installer
      - Operational
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/devices:
    get:
      description: Get List of recently claimed devices
      operationId: listInstallerListOfRenctlyClaimedDevices
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - connected: true
                    mac: 5c5b35000018
                    model: AP41
                    serial: FXLH2015150025
                  - connected: false
                    deviceprofile_name: SJ1
                    name: hallway
                    site_name: SJ1
                  - connected: true
                    height: 2.7
                    map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                    orientation: 90
                    x: 150
                    y: 300
              schema:
                items:
                  properties:
                    connected:
                      type: boolean
                    height:
                      type: number
                    map_id:
                      format: uuid
                      type: string
                    orientation:
                      type: number
                    x:
                      type: number
                    y:
                      type: number
                  required:
                  - connected
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listInstallerListOfRenctlyClaimedDevices
      tags:
      - Installer
      - Operational
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: This mirrors `POST /api/v1/orgs/{org_id}/inventory` (see Inventory
        API)
      operationId: claimInstallerDevices
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                - 6JG8E-PTFV2-A9Z2N
                - DVH4V-SNMSZ-PDXBR
            schema:
              $ref: '#/components/schemas/Model_array_string'
        description: Request Body
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    added:
                    - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                    - DVH4V-SNMSZ-PDXBR
                    error:
                    - PO1025335ohoh
                    inventory_added:
                    - mac: 5c5b35000018
                      magic: 6JG8EPTFV2A9Z2N
                      model: AP41
                      serial: FXLH2015150025
                      type: ap
                    inventory_duplicated:
                    - mac: 5c5b35000012
                      magic: DVH4VSNMSZPDXBR
                      model: AP41
                      serial: FXLH2015150027
                      type: ap
              schema:
                properties:
                  added:
                    items:
                      type: string
                    type: array
                  duplicated:
                    items:
                      type: string
                    type: array
                  error:
                    items:
                      type: string
                    type: array
                  inventory_added:
                    items:
                      properties:
                        mac:
                          type: string
                        magic:
                          type: string
                        model:
                          type: string
                        serial:
                          type: string
                        type:
                          type: string
                      required:
                      - serial
                      - model
                      - type
                      - magic
                      - mac
                      type: object
                    minItems: 1
                    type: array
                    uniqueItems: true
                  inventory_duplicated:
                    items:
                      properties:
                        mac:
                          type: string
                        magic:
                          type: string
                        model:
                          type: string
                        serial:
                          type: string
                        type:
                          type: string
                      required:
                      - serial
                      - model
                      - type
                      - magic
                      - mac
                      type: object
                    minItems: 1
                    type: array
                    uniqueItems: true
                required:
                - added
                - duplicated
                - error
                - inventory_added
                - inventory_duplicated
                type: object
          description: OK
        '400':
          description: Bad Request if none of the entries are valid
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: claimInstallerDevices
      tags:
      - Installer
      - Operational
  /api/v1/installer/orgs/{org_id}/devices/{device_mac}:
    delete:
      description: Unassign recently claimed devices
      operationId: unassignInstallerRecentlyClaimedDevice
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: unassignInstallerRecentlyClaimedDevice
      tags:
      - Installer
      - Operational
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/device_mac'
    put:
      description: "Provision or Replace a device \n\nIf replacing_mac is in the request\
        \ payload, other attributes are ignored, we attempt to replace existing device\
        \ (with mac replacing_mac) with the inventory device being configured. The\
        \ replacement device must be in the inventory but not assigned, and the replacing_mac\
        \ device must be assigned to a site, and satisfy grace period requirements.\
        \ The Device replaced will become unassigned."
      operationId: provisionInstallerDevices
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  deviceprofile_name: string
                  for_site: true
                  height: 0
                  map_id: 09d2b626-2e4e-45ef-a3c4-e6aeb6c83db1
                  name: string
                  orientation: 0
                  site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                  site_name: string
                  x: 0
                  y: 0
            schema:
              $ref: '#/components/schemas/Installer_devices'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              examples:
                invalid mac given for replacing_mac:
                  value:
                    detail: invalid replacing_mac
                inventory device is already assigned:
                  value:
                    detail: device already assigned
                outsite_of_grace_period:
                  value:
                    detail: outside of grace period
                replacing_mac device is not assigned to a site:
                  value:
                    detail: replacing_mac device is unassigned
                replacing_mac device last modified outside of grace period:
                  value:
                    detail: replacing_mac device outside of grace period
              schema:
                properties:
                  detail:
                    type: string
                required:
                - detail
                type: object
          description: Bad Request
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                replacing_mac device is not in org inventory:
                  value:
                    detail: replacing_mac inventory not found
                replacing_mac device not found:
                  value:
                    detail: replacing_mac device not found
              schema:
                properties:
                  detail:
                    type: string
                type: object
                x-examples:
                  example-1:
                    detail: replacing_mac inventory not found
          description: Not Found
      summary: provisionInstallerDevices
      tags:
      - Installer
      - Operational
  /api/v1/installer/orgs/{org_id}/devices/{device_mac}/locate:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/device_mac'
    post:
      description: "Locate a Device by blinking it\u2019s LED, it\u2019s a persisted\
        \ state that has to be stopped by calling Stop Locating API"
      operationId: startInstallerLocateDevice
      requestBody:
        content:
          application/json:
            schema:
              properties: {}
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: startInstallerLocateDevice
      tags:
      - Installer
      - Operational
  /api/v1/installer/orgs/{org_id}/devices/{device_mac}/unlocate:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/device_mac'
    post:
      description: Stop it
      operationId: stopInstallerLocateDevice
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: stopInstallerLocateDevice
      tags:
      - Installer
      - Operational
  /api/v1/installer/orgs/{org_id}/devices/{device_mac}/{image_name}:
    delete:
      description: delete image
      operationId: deleteInstallerDeviceImage
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: deleteInstallerDeviceImage
      tags:
      - Installer
      - Operational
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/image_name'
    - $ref: '#/components/parameters/device_mac'
    post:
      description: Add image
      operationId: addInstallerDeviceImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/image_upload'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: addInstallerDeviceImage
      tags:
      - Installer
      - Operational
  /api/v1/installer/orgs/{org_id}/rftemplates:
    get:
      description: Get List of RF Templates
      operationId: listInstallerRfTemplatesNames
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - id: bb8a9017-1e36-5d6c-6f2b-551abe8a76a2
                    name: RFTemplate 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                  - id
                  - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listInstallerRfTemplatesNames
      tags:
      - Installer
      - Operational
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/secpolicies:
    get:
      description: Get List of Secuity Policies
      operationId: listInstallerSecPolicies
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - id: 3bcd0beb-5d0a-4cbd-92c1-14aea91e98ef
                    name: SecuPolicy 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                  - id
                  - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listInstallerSecPolicies
      tags:
      - Installer
      - Operational
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/sitegroups:
    get:
      description: Get List of Site Groups
      operationId: listInstallerSiteGroups
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - id: 581328b6-e382-f54e-c9dc-999983183a34
                    name: SiteGroup 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                  - id
                  - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listInstallerSiteGroups
      tags:
      - Installer
      - Operational
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/sites:
    get:
      description: Get List of Sites
      operationId: listInstallerSites
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - address: 1601 S. Deanza Blvd., Cupertino, CA, 95014
                    country_code: US
                    id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    latlng:
                      lat: 37.295833
                      lng: -122.032946
                    name: Mist Office
                    timezone: America/Los_Angeles
              schema:
                items:
                  properties:
                    address:
                      type: string
                    country_code:
                      type: string
                    id:
                      format: uuid
                      type: string
                    latlng:
                      properties:
                        lat:
                          type: number
                        lng:
                          type: number
                      required:
                      - lat
                      - lng
                      type: object
                    name:
                      type: string
                    timezone:
                      type: string
                  required:
                  - id
                  - name
                  - timezone
                  - country_code
                  - latlng
                  - address
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listInstallerSites
      tags:
      - Installer
      - Operational
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/sites/{site_name}:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/site_name'
    put:
      description: Often the Installers are asked to assign Devices to Sites. The
        Sites can either be pre-created or created/modified by the Installer. If this
        is an update, the same grace period also applies.
      operationId: createOrUpdateInstallerSites
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  address: 1601 S. Deanza Blvd., Cupertino, CA, 95014
                  country_code: US
                  latlng:
                    lat: 37.295833
                    lng: -122.032946
                  name: string
                  rftemplate_name: rftemplate1
                  sitegroup_names:
                  - sg1
                  - sg2
                  timezone: America/Los_Angeles
            schema:
              $ref: '#/components/schemas/site'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: createOrUpdateInstallerSites
      tags:
      - Installer
      - Operational
  /api/v1/installer/orgs/{org_id}/sites/{site_name}/maps:
    get:
      description: Get List of Maps
      operationId: listInstallerMaps
      responses:
        '200':
          $ref: '#/components/responses/MapsArray'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listInstallerMaps
      tags:
      - Installer
      - Operational
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/site_name'
  /api/v1/installer/orgs/{org_id}/sites/{site_name}/maps/import:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/site_name'
    post:
      description: Import data from files is a multipart POST which has an file, an
        optional json, and an optional csv, to create floorplan, assign & place ap
        if name or mac matches
      operationId: importInstallerMap
      requestBody:
        content:
          multipart/form-data:
            examples:
              example-1:
                value:
                  csv: string
                  file: string
                  json:
                    import_all_floorplans: false
                    import_height: false
                    import_orientation: false
                    vendor_name: ekahau
            schema:
              properties:
                csv:
                  format: binary
                  type: string
                file:
                  format: binary
                  type: string
                json:
                  properties:
                    import_all_floorplans:
                      default: false
                      type: boolean
                    import_height:
                      default: false
                      type: boolean
                    import_orientation:
                      default: false
                      type: boolean
                    vendor_name:
                      enum:
                      - ibwave
                      - ekahau
                      type: string
                  required:
                  - vendor_name
                  type: object
              type: object
        description: ''
      responses:
        '200':
          $ref: '#/components/responses/MapImport'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: importInstallerMap
      tags:
      - Installer
      - Operational
  /api/v1/installer/orgs/{org_id}/sites/{site_name}/maps/{map_id}:
    delete:
      description: Delete Map
      operationId: deleteInstallerMap
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: deleteInstallerMap
      tags:
      - Installer
      - Operational
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/site_name'
    - $ref: '#/components/parameters/map_id'
    post:
      description: Create a MAP
      operationId: createInstallerMap
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  flags: {}
                  height: 0
                  latlng_br:
                    lat: string
                    lng: string
                  latlng_tl:
                    lat: string
                    lng: string
                  locked: true
                  name: string
                  orientation: 0
                  origin_x: 0
                  origin_y: 0
                  ppm: 0
                  sitesurvey_path:
                  - coordinate: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    nodes:
                    - edges:
                        N2: string
                      name: string
                      position:
                        x: 0
                        y: 0
                  thumbnail_url: string
                  type: image
                  url: string
                  view: roadmap
                  wall_path:
                    coordinate: string
                    nodes:
                    - edges:
                        N2: string
                      name: string
                      position:
                        x: 0
                        y: 0
                  wayfinding:
                    micello:
                      account_key: string
                      default_level_id: 0
                      map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    snap_to_path: true
                  wayfinding_path:
                    coordinate: string
                    nodes:
                    - edges:
                        N2: string
                      name: string
                      position:
                        x: 0
                        y: 0
                  width: 0
            schema:
              $ref: '#/components/schemas/map'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Map'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: createInstallerMap
      tags:
      - Installer
      - Operational
    put:
      description: Update map
      operationId: updateInstallerMap
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/map'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Map'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: updateInstallerMap
      tags:
      - Installer
      - Operational
  /api/v1/installer/sites/{site_name}/optimize:
    get:
      description: "After installation is considered complete (APs are placed on maps,\
        \ all powered up), you can trigger an optimize operation where RRM will kick\
        \ in (and maybe other things in the future) before it\u2019s automatically\
        \ scheduled."
      operationId: optimizeInstallerRrm
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: optimizeInstallerRrm
      tags:
      - Installer
      - Operational
    parameters:
    - $ref: '#/components/parameters/site_name'
  /api/v1/invite/verify/{token}:
    parameters:
    - $ref: '#/components/parameters/token'
    post:
      description: '**Note**: another call to ```GET /api/v1/self``` is required to
        see the new set of privileges'
      operationId: verifyAdminInvite
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                invalid secret:
                  value:
                    detail: invalid secret
                invite created by self:
                  value:
                    detail: invite created by self
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not Found
      summary: verifyAdminInvite
      tags:
      - Admin
      - Operational
  /api/v1/msps:
    post:
      description: Create MSP account
      operationId: createMsp
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  name: MSP
            schema:
              $ref: '#/components/schemas/Msp'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Msp'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: createMsp
      tags:
      - Msps
      - Operational
      - Operational
  /api/v1/msps/{msp_id}:
    delete:
      description: Deleting MSP removes the MSP and OrgGroup under the MSP as well
        as all privileges associated with them. It does not remove any Org or Admins
      operationId: deleteMsp
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: deleteMsp
      tags:
      - Msps
      - Operational
      - Operational
    get:
      description: Get MSP Detail
      operationId: getMspDetails
      responses:
        '200':
          $ref: '#/components/responses/Msp'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getMspDetails
      tags:
      - Msps
      - Operational
      - Operational
    parameters:
    - $ref: '#/components/parameters/msp_id'
    put:
      description: Update MSP
      operationId: updateMsp
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  name: MSP
            schema:
              $ref: '#/components/schemas/Msp'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Msp'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: updateMsp
      tags:
      - Msps
      - Operational
      - Operational
  /api/v1/msps/{msp_id}/admins:
    get:
      description: Get List of MSP Admins
      operationId: listMspAdmins
      responses:
        '200':
          $ref: '#/components/responses/AdminsArray'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listMspAdmins
      tags:
      - Msps Admins
      - Operational
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/admins/{admin_id}:
    delete:
      description: This removes all privileges this admin has against the MSP. This
        goes deep all the way to the sites
      operationId: revokeMspAdmin
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: revokeMspAdmin
      tags:
      - Msps Admins
      - Operational
    get:
      description: Get MSP Admins
      operationId: getMspAdmin
      responses:
        '200':
          $ref: '#/components/responses/Admin'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getMspAdmin
      tags:
      - Msps Admins
      - Operational
    parameters:
    - $ref: '#/components/parameters/msp_id'
    - $ref: '#/components/parameters/admin_id'
    put:
      description: Update MSP Admin
      operationId: updateMspAdmin
      requestBody:
        content:
          application/json:
            examples:
              example-2:
                value:
                  admin_id: 919c4da0-421a-479a-918d-df80e426d3bf
                  email: user@example.com
                  enable_two_factor: true
                  first_name: string
                  last_name: string
                  oauth_google: true
                  privileges:
                  - for_site: true
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    msp_name: string
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    org_name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    role: admin
                    scope: org
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    sitegroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  session_expiry: 0
                  tags:
                  - string
                  two_factor_verified: true
            schema:
              $ref: '#/components/schemas/admin'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Admin'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: updateMspAdmin
      tags:
      - Msps Admins
      - Operational
  /api/v1/msps/{msp_id}/claim:
    parameters:
    - $ref: '#/components/parameters/msp_id'
    post:
      description: Claim an Order by Activation Code
      operationId: claimMspLicence
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  code: ZHT3K-H36DT-MG85D-M61AC
            schema:
              description: ''
              properties:
                code:
                  description: activation code
                  minLength: 1
                  type: string
              required:
              - code
              type: object
              x-examples:
                example-1:
                  code: ZHT3K-H36DT-MG85D-M61AC
        description: ''
      responses:
        '200':
          $ref: '#/components/responses/claimLicense'
        '400':
          description: Response when the key is invalid (or already used)
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: claimMspLicence
      tags:
      - Msps Licenses
      - Operational
  /api/v1/msps/{msp_id}/inventory/{device_mac}:
    get:
      description: Get Inventoy By device MAC address
      operationId: getMspInventoryByMac
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    mac: 5c5b35000018
                    model: AP200
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    serial: FXLH2015150025
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    type: ap
              schema:
                properties:
                  for_site:
                    readOnly: true
                    type: boolean
                  mac:
                    readOnly: true
                    type: string
                  model:
                    readOnly: true
                    type: string
                  org_id:
                    format: uuid
                    readOnly: true
                    type: string
                  serial:
                    readOnly: true
                    type: string
                  site_id:
                    format: uuid
                    readOnly: true
                    type: string
                  type:
                    readOnly: true
                    type: string
                required:
                - serial
                - model
                - type
                - mac
                - org_id
                - site_id
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getMspInventoryByMac
      tags:
      - Msps Inventory
      - Operational
    parameters:
    - $ref: '#/components/parameters/msp_id'
    - $ref: '#/components/parameters/device_mac'
  /api/v1/msps/{msp_id}/invites:
    parameters:
    - $ref: '#/components/parameters/msp_id'
    post:
      description: 'Invite MSP Admin


        **Note**: An email will also be sent to the user with a link to https://manage.mist.com/verify/invite?token=:token'
      operationId: inviteMspAdmin
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  email: user@example.com
                  first_name: string
                  last_name: string
                  privileges:
                  - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    msp_name: string
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    org_name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    role: admin
                    scope: org
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    sitegroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: '#/components/schemas/admin'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Admin'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: inviteMspAdmin
      tags:
      - Msps Invites
      - Operational
  /api/v1/msps/{msp_id}/invites/{invite_id}:
    delete:
      description: Delete admin invite
      operationId: uninviteMspAdmin
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: uninviteMspAdmin
      tags:
      - Msps Invites
      - Operational
    parameters:
    - $ref: '#/components/parameters/msp_id'
    - $ref: '#/components/parameters/invite_id'
    put:
      description: Update MSP admin invite
      operationId: updateMspAdminInvite
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  email: user@example.com
                  first_name: string
                  last_name: string
                  privileges:
                  - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    msp_name: string
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    org_name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    role: admin
                    scope: org
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    sitegroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: '#/components/schemas/admin'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Admin'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: updateMspAdminInvite
      tags:
      - Msps Invites
      - Operational
  /api/v1/msps/{msp_id}/licenses:
    get:
      description: Get List of Msp Licenses
      operationId: listMspLicenses
      responses:
        '200':
          $ref: '#/components/responses/Licence'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
[...]
