openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2306.2.14**

    >

    > Date: **July 24, 2023**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2306.2.14
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
tags:
- name: Login
- description: A Mist account can be linked to OAuth2 providers:\n1. First, login
    with your Mist account\n2. Obtain the Authorization URL for Linking 1. in JSON
    response, more usable for developers. Simply don\'t specify the forward parameter
    when obtaining the authorization URL 2. or as GET parameter, for UI where the
    user flow can be continued. Specify the landing page/url of your choice 3. Obtain
    the authorizaiton code by clicking / going through Authorization URL Link Mist
    Account against OAuth2 Provider by using the authorization code
  name: Login With OAuth2
paths:
  /api/v1/login:
    post:
      description: "Log in with email/password.\nWhen 2FA is enabled, there are two\
        \ ways to login:\n1. login with two_factor token (with Google Authenticator,\
        \ etc) \n2. login with email/password, generate the token, and use /login/two_factor\
        \ with the token"
      operationId: login
      requestBody:
        content:
          application/json:
            examples:
              with 2FA:
                value:
                  email: string
                  password: string
                  two_factor: string
              without 2FA:
                value:
                  email: string
                  password: string
            schema:
              properties:
                email:
                  type: string
                password:
                  type: string
                two_factor:
                  type: string
              required:
              - email
              - password
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                2FA Required:
                  value:
                    email: test@mistsys.com
                    two_factor_passed: false
                    two_factor_required: true
                OK:
                  value: {}
              schema:
                properties:
                  email:
                    type: string
                  two_factor_passed:
                    type: boolean
                  two_factor_required:
                    type: boolean
                type: object
          description: Login Success
          headers:
            Set-Cookie:
              description: Session Cookie if login/password authentication is successful
              schema:
                example: csrftoken=vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx; expires=Tue,
                  15-Mar-2016 19:47:20 GMT; Max-Age=31449600; Path=/
                type: string
        '400':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    detail: sso admin login needs to be initiated by IdP
                    forward_url: https://my.sso/idp_sso_url
              schema:
                oneOf:
                - properties:
                    detail:
                      type: string
                    forward_url:
                      type: string
                  required:
                  - detail
                  type: object
          description: Login Failed
      summary: login
      tags:
      - Login
  /api/v1/login/lookup:
    post:
      description: Login Lookup
      operationId: lookup
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  email: test@mistsys.com
            schema:
              $ref: ./components/schemas/Model_object_email.yaml
        description: Request Body
      responses:
        '200':
          content:
            application/json:
              examples:
                SSO user exists:
                  value:
                    sso_url: https://my.sso/idp_sso_url
                local user exists:
                  value: {}
              schema:
                properties:
                  sso_url:
                    type: string
                type: object
          description: account exists
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          description: user does not exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: lookup
      tags:
      - Login
  /api/v1/login/oauth/{provider}:
    delete:
      description: Unlink OAuth2 Provider
      operationId: unlinkOAuth2Provider
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: unlinkOAuth2Provider
      tags:
      - Login With OAuth2
    get:
      description: Obtain Authorization URL for Login
      operationId: getOAuth2AuthorizationUrlForLogin
      parameters:
      - in: query
        name: forward
        schema:
          example: http://manage.mist.com/oauth/callback.html
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    authorization_url: https://accounts.google.com/o/oauth2/v2/auth?.....
                    client_id: 173131512-mpbnju32.apps.googleusercontent.com
              schema:
                properties:
                  authorization_url:
                    type: string
                  client_id:
                    type: string
                required:
                - client_id
                - authorization_url
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: getOAuth2AuthorizationUrlForLogin
      tags:
      - Login With OAuth2
    parameters:
    - in: path
      name: provider
      required: true
      schema:
        type: string
    post:
      description: Login via OAuth2
      operationId: loginOAuth2
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  code: 4/S9tegDeLkrYg0L9pWNXV4cgMVbbr3SR9t693A2kSHzw
            schema:
              properties:
                code:
                  type: string
              required:
              - code
              type: object
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: loginOAuth2
      tags:
      - Login With OAuth2
  /api/v1/login/two_factor:
    post:
      description: Send 2FA Code
      operationId: twoFactor
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  two_factor: '123456'
            schema:
              properties:
                two_factor:
                  type: string
              required:
              - two_factor
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: two_factor code is correct
          headers: {}
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          description: "two_factor code is incorrect or the user hasn\u2019t login\
            \ yet"
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          description: "the user doesn\u2019t have 2FA enabled"
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: twoFactor
      tags:
      - Login
  /api/v1/logout:
    post:
      description: Logout
      operationId: logout
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    forward_url: https://my.sso/custom_logout_url
              schema:
                properties:
                  forward_url:
                    description: if configured in SSO as custom_logout_url
                    type: string
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: logout
      tags:
      - Login
components:
  parameters: {}
  responses:
    OK:
      content:
        application/json:
          schema:
            type: object
      description: OK
