openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2306.1.6**

    >

    > Date: **June 21, 2023**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2306.1.6
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Authentication
- name: Monitor
- name: Operational
- name: Login
- description: A Mist account can be linked to OAuth2 providers:\n1. First, login
    with your Mist account\n2. Obtain the Authorization URL for Linking 1. in JSON
    response, more usable for developers. Simply don\'t specify the forward parameter
    when obtaining the authorization URL 2. or as GET parameter, for UI where the
    user flow can be continued. Specify the landing page/url of your choice 3. Obtain
    the authorizaiton code by clicking / going through Authorization URL Link Mist
    Account against OAuth2 Provider by using the authorization code
  name: Login With OAuth2
- description: "Like many other API providers, it\u2019s also possible to generate\
    \ API Tokens to be used (in HTTP Header) for authentication. An API token ties\
    \ to a Admin with equal or less privileges.\n\nNotes:\n* an API token generated\
    \ for a specific admin has the same privilege as the user\n* an API token will\
    \ be automatically removed if not used for > 90 days\n* SSO admins cannot generate\
    \ these API tokens. Refer Org level API tokens (/api/v1/docs/Org#api-token) which\
    \ can have privileges of a specific Org/Site for more information."
  name: API Token
- description: "In a typical enterprise, a separate group of people, Installers, are\
    \ responsible for install new devices. May it be a new installation (e.g. new\
    \ stores), a replacement installation (e.g. replacing Cisco APs with Mist APs),\
    \ or addition (e.g. adding new APs for better coverage). Instead of granting them\
    \ Admin/Write privilege, it's more desirable to grant them minimum privileges\
    \ to do the initial provisioning so they cannot read sensible information (e.g.\
    \ PSK of a WLAN), or change configs of running APs.\nAt a high level, Installer\
    \ APs try to achieve the following:\n1. identifying a device by MAC (that\u2019\
    s what they see)\n2. they can only touch configurations of the devices they\u2019\
    re installing\n3. allow the following configurations: * name * site assignment\
    \ * device  profile assignment * map and location (x/y) assignment * claim (if\
    \ not already in the inventory) * replace existing device with the device being\
    \ installed\n\n* Grace Period *\nGrace period provides a dynamic way to limit\
    \ what devices / sites   installer can work on. Generally installers work on recent\
    \ deployments -  bringing up new sites, add newly claimed devices to new / existing\
    \ sites. They  make mistakes, too, and may need to further tweak some of the parameters.\
    \   Default grace period is 7 days and can be set from 1 day to 365 days."
  name: Installer
- name: Admin
- name: Mobile
- description: MSP (Managed Service Provider) contains multiple Organizations.
  name: Msps
- name: Msps Admins
- name: Msps Inventory
- name: Msps Invites
- name: Msps Logo
- name: Msps Logs
- name: Msps Licenses
- name: Msps Marvis
- name: Msps Org Groups
- name: Msps Orgs
- name: Msps SLEs
- name: Msps SSO Roles
- name: Msps SSO
- name: Msps Stats
- name: Msps Tickets
- description: An organization usually represents a customer - which has inventories,
    licenses. An Organization can contain multiple sites. A site usually represents
    a deployment at the same location (a campus, an office).
  name: Orgs
- name: Orgs 128T
- name: Orgs Admins
- description: Alarms are triggered based on certain events. Alarms could be configured
    using an Alarm Template.
  name: Orgs Alarms
- description: An Alarm Template is a set of Alarm Rules that could be applied to
    one or more sites (while each site can only pick one Alarm Template), or to the
    whole org.
  name: Orgs Alarm Templates
- name: Orgs AP Templates
- name: Orgs API Tokens
- name: Orgs Assets
- name: Orgs Asset Filters
- name: Orgs Calls
- name: Orgs Cert
- name: Orgs Clients - Wan
- name: Orgs Clients - Wired
- name: Orgs Clients - Wireless
- name: Orgs CRL
- description: 'While Templates / RF Templates / Network Templates / Gateway Templates
    provides powerful ways to control how a Device\''s configuration is derived for
    a Site. There are cases where you\''d like another level of control at the Org
    Level.

    A Device Profile contains a subset of Device\''s configurations you\''d like a
    device to have. It will be merged at runtime when we\''re provisioning an AP.'
  name: Orgs Device Profiles
- name: Orgs Devices
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Orgs EVPN Topologies
- description: API Call for 3rd party devices
  name: Orgs Devices Others
- name: Orgs Devices Stats
- name: Orgs Devices Upgrades
- description: "In Zscaler UI \n 1. add Partner Integration at https://admin.zscalerbeta.net/#administration/partner-integration\
    \ \n 2. Add Partner Administrator Role at https://admin.zscalerbeta.net/#administration/role-management\
    \ - Name: Mist - Access: Full \n 3. add Partner Admin at https://admin.zscalerbeta.net/#administration/admin-management\
    \ with - Login ID: john - email: john@abc.com \n 4. Find the cloud name for ZIA\
    \ https://help.zscaler.com/zia/what-my-cloud-name-zia\n"
  name: Orgs Devices Zscaler
- description: Gateway Template is applied to a site for gateway(s) in a site.
  name: Orgs Gateway Templates
- name: Orgs Guests
- name: Orgs Inventory
- name: Orgs JSE
- description: "Juniper Support Insight is a free service provided to all Mist customers.\
    \ You can adopt your devices via a few lines CLI comands. Allowing you to \n*\
    \ get some basic information about the adopted devices \n* web shell into device\
    \ (write privilege required) \n* upgrade (write privilege required)"
  name: Orgs JSI
- name: Orgs Licenses
- name: Orgs Logs
- name: Orgs Marvis
- name: Orgs Maps
- name: Orgs MxClusters
- name: Orgs MxEdges
- name: Orgs MxTunnels
- description: 'nactags are the building blocks to compose nacrules.

    They can either appear in the "matching" / "not_matching" sections of a nacrule,
    in which case they play the role of classifiers, or they could appear in the "apply_tags"
    section of the of a nacrule, in which case they influence the result.

    When the "type" field of nactag is "match", it can be used as the classfier of
    a nacrule. "match" field specifies the attribute name and "values" field specifies
    the list of attribute values to match on. When multiple values are specified,
    its treated as an OR condition between those values.

    When the "type" field of nactag is NOT "match", it can be used as the result of
    a nacrule. "type" field identifies the action to take and the corresponding field
    would provide any associated parameters to that action.'
  name: Orgs NAC Tags
- name: Orgs NAC Rules
- description: 'Network template is intended to be applied to a Site. It works like
    a blueprint of the network of the site.

    All Site Settings can go into Network Templates. See Site:Site Setting for schema

    Moreover, this can further be overwriten by individual Site Setting'
  name: Orgs Network Templates
- name: Orgs Networks
- name: Orgs OAuth
- name: Orgs Premium Analytics
- name: Orgs Psks
- description: "PSK Self-Service Portals are for \n  1. **WIFI users** who want to\
    \ connect to a WLAN with personal PSK, they\u2019re told to connect to a URL where\
    \ they can login (likely through company\u2019s SSO) and get the WIFI Name / Passphrase\
    \ - required input fields name, email so we can generate PSK \n  2. **PSK Admins**\
    \ (they don\u2019t have access to normal Network Admin Portal)\nWhen a PSK portal\
    \ is created, an unique URL will be generated (e.g. https://psk.mist.com/xxxxxx)"
  name: Orgs Psk Portals
- name: Orgs RF Templates
- name: Orgs SDK Clients
- name: Orgs SDK Templates
- description: "Security Policy is designed to audit / catch discripancies between\
    \ \u201Cwhat\u2019s intended to be running\u201D versus \u201Cwhat\u2019s actually\
    \ running\u201D in a network. Many big organizations have separated Security and\
    \ IT team (for good reasons). Each site can be assigned a security policy. Whenever\
    \ an AP is provisioned, the configuration will be checked against the security\
    \ policy. Any violations will be flagged in [Device Config History](/#operation/searchSiteDeviceConfigHistory)\
    \ where you can search for the when and where the violation occurs."
  name: Orgs SecPolicies
- name: Orgs Services
- name: Orgs Service Policies
- name: Orgs Setting
- name: Orgs Sitegroups
- name: Orgs Sites
- description: Site template is intended to be applied to a Site. The items in site
    setting which should be shared for all device types.
  name: Orgs Site Templates
- name: Orgs SLEs
- name: Orgs SSO Roles
- name: Orgs SSO
- name: Orgs Stats
- name: Orgs Subscriptions
- name: Orgs Templates
- name: Orgs Tickets
- name: Orgs Tunnels
- name: Orgs Tunnels Stats
- name: Orgs VPNs
- name: Orgs Webhooks
- name: Orgs Wlans
- name: Orgs WxRules
- name: Orgs WxTags
- name: Orgs WxTunnels
- description: A site represents a project, a deployment. For MSP, it can be as small
    as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps,
    Wlans, Policies, Zones.
  name: Sites
- name: Sites Alarms
- description: Applications contains a list of applications users are interested in
    monitoring / routing / policying
  name: Sites Applications
- name: Sites Anomaly
- name: Sites Asset Filters
- name: Sites Assets
- name: Sites Beacons
- name: Sites Calls
- name: Sites Clients - Wan
- name: Sites Clients - Wired
- name: Sites Clients - Wireless
- description: 'Mist provides many ways (device-type specific template, site template,
    device profile, per-device) to configure devices for different kind of scenarios.

    The precedence goes from most specific to least specific

    Device > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template
    > Site Template > Site Setting'
  name: Sites Devices
- name: Sites Devices - Wireless
- description: API Call for 3rd party devices
  name: Sites Devices Others
- name: Sites Devices - Wired
- name: Sites Devices - Wired Virtual Chassis
- name: Sites Devices - WAN
- name: Sites Devices - WAN HA
- name: Sites Devices Stats
- name: Sites Devices Upgrades
- name: Sites Devices Utilities
- name: Sites Device Profiles
- name: Sites Events
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site '
  name: Sites EVPN Topologies
- name: Sites Guests
- name: Sites Insights
- name: Sites Licenses
- name: Sites Location
- name: Sites Maps
- name: Sites Maps Auto-orientation
- name: Sites Maps Auto-placement
- name: Sites MxEdges
- name: Sites MxTunnels
- name: Sites Networks
- name: Sites Pcaps
- name: Sites Psks
- name: Sites Rfdiags
- name: Sites Rogues
- name: Sites RRM
- name: Sites Rssizones
- name: Sites Services
- name: Sites Service Policies
- name: Sites Setting
- name: Sites Skyatp
- name: Sites SLEs
- name: Sites Stats
- name: Sites Subscriptions
- name: Sites Synthetic Tests
- name: Sites UI Settings
- name: Sites vBeacons
- name: Sites VPNs
- name: Sites Webhooks
- name: Sites Wlans
- name: Sites WxRules
- name: Sites WxTags
- name: Sites WxTunnels
- name: Sites Zones
- name: Constants
- name: Self
- name: Account
- name: Webhook Samples
paths:
  /api/v1/const/alarm_defs:
    get:
      description: Get List of brief definitions of all the supported alarm types.  The
        example field contains an example payload as you would recieve in the alarm
        webhook output.
      operationId: listAlarmDefinitions
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - display: Device offline
                    example:
                      aps:
                      - d420b02000fa
                      count: 1
                      group: infrastructure
                      hostnames:
                      - Vendor_AP2
                      id: f70c308f-7007-4866-9ecd-0d01842979ea
                      last_seen: 1629753888
                      org_id: 09dac91f-6e73-4100-89f7-698e0fafbb1b
                      severity: warn
                      site_id: dcfb31a1-d615-4361-8c95-b9dde05aa704
                      timestamp: 1629753888
                      type: device_down
                    fields:
                    - aps
                    - hostnames
                    group: infrastructure
                    key: device_down
                    severity: warn
              schema:
                items:
                  properties:
                    display:
                      description: Description of the alarm type
                      type: string
                    fields:
                      description: List of fields available in an alarm details payload
                        (in REST APIs & Webhooks); e.g. `aps`, `switches`, `gateways`,
                        `hostnames`, `ssids`, `bssids`
                      items:
                        type: string
                      type: array
                    group:
                      description: Group to which the alarm belongs
                      type: string
                    key:
                      description: Key name of an alarm type
                      type: string
                    marvis_suggestion_category:
                      description: Marvis defined category to which the alarm belongs
                      type: string
                    severity:
                      description: Severity of the alarm
                      type: string
                  required:
                  - key
                  - display
                  - group
                  - severity
                  - fields
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listAlarmDefinitions
      tags:
      - Constants
  /api/v1/const/ap_channels:
    get:
      description: Get List of List of Available channels per country code
      operationId: listApChannels
      parameters:
      - $ref: '#/components/parameters/country_code'
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    band24_channels:
                      '20':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      '40':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                    band24_enabled: true
                    band5_channels:
                      '20':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 132
                      - 136
                      - 140
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      '40':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 132
                      - 136
                      - 149
                      - 153
                      - 157
                      - 161
                      '80':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 132
                      - 136
                      - 149
                      - 153
                      - 157
                      - 161
                      dfs:
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 132
                      - 136
                      - 140
                    band5_enabled: true
                    code: 840
                    dfs_ok: true
                    key: US
                    name: United States
              schema:
                properties:
                  band24_channels:
                    additionalProperties:
                      items:
                        type: integer
                      type: array
                    description: The property key is the channel width
                    required:
                    - '20'
                    - '40'
                    type: object
                  band24_enabled:
                    type: boolean
                  band5_channels:
                    additionalProperties:
                      items:
                        type: integer
                      type: array
                    description: The property key is the channel width
                    type: object
                  band5_enabled:
                    type: boolean
                  code:
                    type: integer
                  dfs_ok:
                    type: boolean
                  key:
                    type: string
                  name:
                    type: string
                required:
                - key
                - name
                - code
                - band24_enabled
                - band24_channels
                - band5_enabled
                - dfs_ok
                - band5_channels
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listApChannels
      tags:
      - Constants
  /api/v1/const/ap_led_status:
    get:
      description: Get List of AP LED definition
      operationId: listApLedDefinition
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - code: '02'
                    description: Has no link (Seen using power injectors, but not
                      connected to a switch)
                    key: NO_ETHERNET_LINK
                    name: No ethernet link
              schema:
                items:
                  properties:
                    code:
                      type: string
                    description:
                      type: string
                    key:
                      type: string
                    name:
                      type: string
                  required:
                  - code
                  - key
                  - name
                  - description
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listApLedDefinition
      tags:
      - Constants
  /api/v1/const/applications:
    get:
      description: Get List of a list of applications that Juniper-Mist APs recognize
      operationId: listApplications
      responses:
        '200':
          $ref: '#/components/responses/ConstApplications'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listApplications
      tags:
      - Constants
  /api/v1/const/call_events:
    get:
      description: Get List of Call Event Definitions
      operationId: listCallEventsDefinitions
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - description: Client joined the call
                    display: Client joined the call
                    example:
                      app: zoom
                      meeting_id: '87609329850'
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                      timestamp: 1674777600
                      type: CLIENTS_JOINED_CALL
                      wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                    key: CLIENT_JOINED_CALL
                  - description: Client got abruptly disconnected from the call
                    display: Client disconnected abruptly from the call
                    example:
                      app: zoom
                      meeting_id: '87609329850'
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      reason: Network connection error.
                      site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                      timestamp: 1674777600
                      type: CLIENT_DISCONNECTED_FROM_CALL
                      wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                    key: CLIENT_DISCONNECTED_FROM_CALL
                  - description: Client left the call
                    display: Client left the call
                    example:
                      app: zoom
                      meeting_id: '87609329850'
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                      timestamp: 1674777600
                      type: CLIENT_LEFT_CALL
                      wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                    key: CLIENT_LEFT_CALL
                  - description: Zoom/Teams CPU usage is high
                    display: High CPU Observed
                    example:
                      app: zoom
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      timestamp: 1674777600
                      type: HIGH_CPU_OBSERVED
                    key: HIGH_CPU_OBSERVED
              schema:
                items:
                  properties:
                    description:
                      type: string
                    display:
                      type: string
                    example:
                      properties:
                        app:
                          type: string
                        meeting_id:
                          type: string
                        org_id:
                          type: string
                        site_id:
                          type: string
                        timestamp:
                          type: integer
                        type:
                          type: string
                        wcid:
                          type: string
                      type: object
                    key:
                      type: string
                  type: object
                type: array
                x-examples:
                  Example 1:
                  - description: Client joined the call
                    display: Client joined the call
                    example:
                      app: zoom
                      meeting_id: '87609329850'
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                      timestamp: 1674777600
                      type: CLIENTS_JOINED_CALL
                      wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                    key: CLIENT_JOINED_CALL
                  - description: Client got abruptly disconnected from the call
                    display: Client disconnected abruptly from the call
                    example:
                      app: zoom
                      meeting_id: '87609329850'
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      reason: Network connection error.
                      site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                      timestamp: 1674777600
                      type: CLIENT_DISCONNECTED_FROM_CALL
                      wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                    key: CLIENT_DISCONNECTED_FROM_CALL
                  - description: Client left the call
                    display: Client left the call
                    example:
                      app: zoom
                      meeting_id: '87609329850'
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                      timestamp: 1674777600
                      type: CLIENT_LEFT_CALL
                      wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                    key: CLIENT_LEFT_CALL
                  - description: Zoom/Teams CPU usage is high
                    display: High CPU Observed
                    example:
                      app: zoom
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      timestamp: 1674777600
                      type: HIGH_CPU_OBSERVED
                    key: HIGH_CPU_OBSERVED
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listCallEventsDefinitions
      tags:
      - Constants
  /api/v1/const/client_events:
    get:
      description: Get List of List of available Client Events
      operationId: listClientEventsDefinitions
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - display: DHCP Success
                    key: CLIENT_IP_ASSIGNED
              schema:
                items:
                  properties:
                    display:
                      type: string
                    key:
                      type: string
                  required:
                  - key
                  - display
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listClientEventsDefinitions
      tags:
      - Constants
  /api/v1/const/countries:
    get:
      description: Get List of List of available Country Codes
      operationId: listCountryCodes
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - alpha2: US
                    certified: true
                    name: United States
                    numeric: 840
                  - alpha2: JP
                    certified: true
                    name: Japan
                    numeric: 392
              schema:
                items:
                  properties:
                    alpha2:
                      type: string
                    certified:
                      type: boolean
                    name:
                      type: string
                    numeric:
                      type: number
                  required:
                  - alpha2
                  - numeric
                  - name
                  - certified
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listCountryCodes
      tags:
      - Constants
  /api/v1/const/default_gateway_config:
    get:
      description: Generate Default Gateway Config
      operationId: getGatawayDefaultConfig
      parameters:
      - description: model the default gateway config is intended (as the default
          LAN/WAN port can differ)
        in: query
        name: model
        schema:
          type: string
      - description: whether the config is intended for HA
        in: query
        name: ha
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    dhcpd_config:
                      lan:
                        ip_end: 192.168.1.254
                        ip_start: 192.168.1.2
                    ip_configs:
                      lan:
                        ip: 192.168.1.1
                        type: static
                    networks:
                      lan:
                        name: lan
                        subnet: 192.168.1.0/24
                        vlan_id: 1
                    path_preferences:
                      wan:
                        paths:
                        - name: wan
                          type: wan
                    port_config:
                      cl-1/0/0:
                        ip_config:
                          type: dhcp
                        name: lte
                        usage: wan
                        wan_type: lte
                      ge-0/0/0,ge-0/0/7:
                        ip_config:
                          type: dhcp
                        name: wan
                        usage: wan
                      ge-0/0/1-6:
                        port_network: lan
                        usage: lan
                    service_policies:
                    - action: allow
                      name: Internet
                      path_preference: wan
                      services:
                      - any
                      tenants:
                      - lan
              schema:
                additionalProperties: true
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getGatawayDefaultConfig
      tags:
      - Constants
  /api/v1/const/device_events:
    get:
      description: Get list of available Device Events
      operationId: listDeviceEventsDefinitions
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - description: AP was assigned to a site
                    display: AP Assigned
                    example:
                      ap: 5c5b35000001
                      audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      timestamp: 1552408871
                      type: AP_ASSIGNED
                    key: AP_ASSIGNED
              schema:
                items:
                  properties:
                    description:
                      minLength: 1
                      type: string
                    display:
                      minLength: 1
                      type: string
                    example:
                      type: object
                    key:
                      minLength: 1
                      type: string
                  required:
                  - key
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
                x-examples:
                  example-1:
                  - description: AP was assigned to a site
                    display: AP Assigned
                    example:
                      ap: 5c5b35000001
                      audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      timestamp: 1552408871
                      type: AP_ASSIGNED
                    key: AP_ASSIGNED
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listDeviceEventsDefinitions
      tags:
      - Constants
  /api/v1/const/device_models:
    get:
      description: Get list of AP device models for the Mist Site
      operationId: listDeviceModels
      responses:
        '200':
          $ref: '#/components/responses/ConstDeviceModels'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listDeviceModels
      tags:
      - Constants
  /api/v1/const/insight_metrics:
    get:
      description: List Insight Metrics
      operationId: listInsightMetrics
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    bytes:
                      description: aggregated bytes over time
                      example:
                      - 185
                      - 197
                      - 250
                      intervals:
                        10m:
                          interval: 600
                          max_age: 86400
                        1h:
                          interval: 3600
                          max_age: 1209600
                      report_durations:
                        1d:
                          duration: 86400
                          interval: 3600
                        1w:
                          duration: 604800
                          interval: 3600
                      report_scopes:
                      - site
                      - org
                      scopes:
                      - site
                      - ap
                      - client
                      type: timeseries
                      unit: byte
                    num_clients:
                      description: number of client over time
                      example:
                      - 18
                      - null
                      - 15
                      intervals:
                        10m:
                          interval: 600
                          max_age: 86400
                        1h:
                          interval: 3600
                          max_age: 1209600
                      report_durations:
                        1d:
                          duration: 86400
                          interval: 3600
                        1w:
                          duration: 604800
                          interval: 3600
                      report_scopes:
                      - site
                      - org
                      scopes:
                      - site
                      - ap
                      - device
                      type: timeseries
                      unit: ''
              schema:
                additionalProperties:
                  properties:
                    ctype:
                      items:
                        type: string
                      type: array
                    description:
                      type: string
                    exampe:
                      type: array
                    intervals:
                      additionalProperties:
                        properties:
                          interval:
                            type: integer
                          max_age:
                            type: integer
                        type: object
                      description: Property key is the interval (e.g. 10m, 1h, ...)
                      type: object
                    keys:
                      additionalProperties: true
                      type: object
                    params:
                      additionalProperties:
                        properties:
                          required:
                            type: boolean
                        type: object
                      description: Property key is the parameter name
                      type: object
                    report_duration:
                      additionalProperties:
                        properties:
                          interval:
                            type: integer
                          max_age:
                            type: integer
                        type: object
                      description: Property key is the duration (e.g. 1d, 1w, ...)
                      type: object
                    report_scopes:
                      items:
                        type: string
                      type: array
                    scopes:
                      items:
                        enum:
                        - site
                        - ap
                        - client
                        - switch
                        - device
                        - mxedge
                        type: string
                      type: array
                    sle_baselined:
                      type: boolean
                    sle_classifiers:
                      items:
                        type: string
                      type: array
                    type:
                      type: string
                    unit:
                      type: string
                    values:
                      additionalProperties: true
                      type: object
                  type: object
                description: Property key is the metric name
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listInsightMetrics
      tags:
      - Constants
  /api/v1/const/languages:
    get:
      description: Get List of Languages
      operationId: listSiteLanguages
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - display: English (US)
                    display_native: English (US)
                    key: en-US
                  - display: Chinese Traditional (Taiwan)
                    display_native: "\u4E2D\u6587\uFF08\u53F0\u7063\uFF09"
                    key: zh-TW
              schema:
                items:
                  properties:
                    display:
                      type: string
                    display_native:
                      type: string
                    key:
                      type: string
                  required:
                  - display
                  - display_native
                  - key
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listSiteLanguages
      tags:
      - Constants
  /api/v1/const/license_types:
    get:
      description: 'Get License Types

        '
      operationId: getLicenseTypes
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - description: Asset Visibility
                    key: sub_ast
                    name: SUB-AST
                  - description: IoT Assurance
                    key: sub_clnt
                    name: SUB-CLNT
                  - description: vBLE Engagement
                    key: sub_eng
                    name: SUB-ENG
                  - description: Wired Assurance 12
                    includes:
                    - sub_ex12a
                    - sub_ex12p
                    key: sub_ex12
                    name: SUB-EX12
                  - description: Wired Assurance 12 Advanced
                    key: sub_ex12a
                    name: SUB-EX12A
                  - description: Wired Assurance 12 Premium
                    key: sub_ex12p
                    name: SUB-EX12P
                  - description: Wired Assurance 24
                    includes:
                    - sub_ex24a
                    - sub_ex24p
                    key: sub_ex24
                    name: SUB-EX24
                  - description: Wired Assurance 24 Advanced
                    key: sub_ex24a
                    name: SUB-EX24A
                  - description: Wired Assurance 24 Premium
                    key: sub_ex24p
                    name: SUB-EX24P
                  - description: Wired Assurance 48
                    includes:
                    - sub_ex48a
                    - sub_ex48p
                    key: sub_ex48
                    name: SUB-EX48
                  - description: Wired Assurance 48 Advanced
                    key: sub_ex48a
                    name: SUB-EX48A
                  - description: Wired Assurance 48 Premium
                    key: sub_ex48p
                    name: SUB-EX48P
                  - description: WiFi Management and Assurance
                    key: sub_man
                    name: SUB-MAN
                  - description: Mist Edge
                    key: sub_me
                    name: SUB-ME
                  - description: Premium Analytics
                    key: sub_pma
                    name: SUB-PMA
                  - description: Marvis for Wired Network
                    includes:
                    - sub_svna4
                    key: sub_svna
                    name: SUB-SVNA
                  - description: Marvis for Wired/EX and QFX Class 4 devices
                    key: sub_svna4
                    name: SUB-SVNA4
                  - description: Wired Assurance for Class 4
                    includes:
                    - sub_sw4a
                    - sub_sw4p
                    key: sub_sw4
                    name: SUB-SW4
                  - description: Wired Assurance for Class 4 Advanced
                    key: sub_sw4a
                    name: SUB-SW4A
                  - description: Wired Assurance for Class 4 Premium
                    key: sub_sw4p
                    name: SUB-SW4P
                  - description: Marvis for Wireless
                    key: sub_vna
                    name: SUB-VNA
                  - description: WAN Assurance
                    key: sub_wan
                    name: SUB-WAN
                  - description: WAN Assurance for Class 1
                    key: sub_wan1
                    name: SUB-WAN1
                  - description: WAN Assurance for Class 2
                    key: sub_wan2
                    name: SUB-WAN2
                  - description: WAN Assurance for Class 3
                    key: sub_wan3
                    name: SUB-WAN3
                  - description: WAN Assurance for Class 4
                    key: sub_wan4
                    name: SUB-WAN4
                  - description: WAN Assurance for Class 5
                    key: sub_wan5
                    name: SUB-WAN5
                  - description: WAN Assurance for Class 6
                    key: sub_wan6
                    name: SUB-WAN6
                  - description: Marvis for WAN
                    includes:
                    - sub_wvna1
                    - sub_wvna2
                    - sub_wvna3
                    - sub_wvna4
                    - sub_wvna5
                    - sub_wvna6
                    key: sub_wvna
                    name: SUB-WVNA
                  - description: Marvis for WAN for SRX Class 1 devices
                    key: sub_wvna1
                    name: SUB-WVNA1
                  - description: Marvis for WAN for SRX Class 2 devices
                    key: sub_wvna2
                    name: SUB-WVNA2
                  - description: Marvis for WAN for SRX Class 3 devices
                    key: sub_wvna3
                    name: SUB-WVNA3
                  - description: Marvis for WAN for SRX Class 4 devices
                    key: sub_wvna4
                    name: SUB-WVNA4
                  - description: Marvis for WAN for SRX Class 5 devices
                    key: sub_wvna5
                    name: SUB-WVNA5
                  - description: Marvis for WAN for SRX Class 6 devices
                    key: sub_wvna6
                    name: SUB-WVNA6
              schema:
                items:
                  properties:
                    description:
                      type: string
                    includes:
                      items:
                        type: string
                      type: array
                    key:
                      type: string
                    name:
                      type: string
                  type: object
                type: array
                x-examples:
                  Example 1:
                  - description: Asset Visibility
                    key: sub_ast
                    name: SUB-AST
                  - description: IoT Assurance
                    key: sub_clnt
                    name: SUB-CLNT
                  - description: vBLE Engagement
                    key: sub_eng
                    name: SUB-ENG
                  - description: Wired Assurance 12
                    includes:
                    - sub_ex12a
                    - sub_ex12p
                    key: sub_ex12
                    name: SUB-EX12
                  - description: Wired Assurance 12 Advanced
                    key: sub_ex12a
                    name: SUB-EX12A
                  - description: Wired Assurance 12 Premium
                    key: sub_ex12p
                    name: SUB-EX12P
                  - description: Wired Assurance 24
                    includes:
                    - sub_ex24a
                    - sub_ex24p
                    key: sub_ex24
                    name: SUB-EX24
                  - description: Wired Assurance 24 Advanced
                    key: sub_ex24a
                    name: SUB-EX24A
                  - description: Wired Assurance 24 Premium
                    key: sub_ex24p
                    name: SUB-EX24P
                  - description: Wired Assurance 48
                    includes:
                    - sub_ex48a
                    - sub_ex48p
                    key: sub_ex48
                    name: SUB-EX48
                  - description: Wired Assurance 48 Advanced
                    key: sub_ex48a
                    name: SUB-EX48A
                  - description: Wired Assurance 48 Premium
                    key: sub_ex48p
                    name: SUB-EX48P
                  - description: WiFi Management and Assurance
                    key: sub_man
                    name: SUB-MAN
                  - description: Mist Edge
                    key: sub_me
                    name: SUB-ME
                  - description: Premium Analytics
                    key: sub_pma
                    name: SUB-PMA
                  - description: Marvis for Wired Network
                    includes:
                    - sub_svna4
                    key: sub_svna
                    name: SUB-SVNA
                  - description: Marvis for Wired/EX and QFX Class 4 devices
                    key: sub_svna4
                    name: SUB-SVNA4
                  - description: Wired Assurance for Class 4
                    includes:
                    - sub_sw4a
                    - sub_sw4p
                    key: sub_sw4
                    name: SUB-SW4
                  - description: Wired Assurance for Class 4 Advanced
                    key: sub_sw4a
                    name: SUB-SW4A
                  - description: Wired Assurance for Class 4 Premium
                    key: sub_sw4p
                    name: SUB-SW4P
                  - description: Marvis for Wireless
                    key: sub_vna
                    name: SUB-VNA
                  - description: WAN Assurance
                    key: sub_wan
                    name: SUB-WAN
                  - description: WAN Assurance for Class 1
                    key: sub_wan1
                    name: SUB-WAN1
                  - description: WAN Assurance for Class 2
                    key: sub_wan2
                    name: SUB-WAN2
                  - description: WAN Assurance for Class 3
                    key: sub_wan3
                    name: SUB-WAN3
                  - description: WAN Assurance for Class 4
                    key: sub_wan4
                    name: SUB-WAN4
                  - description: WAN Assurance for Class 5
                    key: sub_wan5
                    name: SUB-WAN5
                  - description: WAN Assurance for Class 6
                    key: sub_wan6
                    name: SUB-WAN6
                  - description: Marvis for WAN
                    includes:
                    - sub_wvna1
                    - sub_wvna2
                    - sub_wvna3
                    - sub_wvna4
                    - sub_wvna5
                    - sub_wvna6
                    key: sub_wvna
                    name: SUB-WVNA
                  - description: Marvis for WAN for SRX Class 1 devices
                    key: sub_wvna1
                    name: SUB-WVNA1
                  - description: Marvis for WAN for SRX Class 2 devices
                    key: sub_wvna2
                    name: SUB-WVNA2
                  - description: Marvis for WAN for SRX Class 3 devices
                    key: sub_wvna3
                    name: SUB-WVNA3
                  - description: Marvis for WAN for SRX Class 4 devices
                    key: sub_wvna4
                    name: SUB-WVNA4
                  - description: Marvis for WAN for SRX Class 5 devices
                    key: sub_wvna5
                    name: SUB-WVNA5
                  - description: Marvis for WAN for SRX Class 6 devices
                    key: sub_wvna6
                    name: SUB-WVNA6
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getLicenseTypes
      tags:
      - Constants
  /api/v1/const/mxedge_events:
    get:
      description: Get List of available MX Edge Events
      operationId: listMxEdgeEventsDefinitions
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - description: Config change on ME was triggered as a result of
                      change made by user
                    display: ME Config changed by user
                    example:
                      audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                      mxcluster_id: ed4665ed-c9ad-4835-8ca5-dda642765ad3
                      mxedge_id: 387804a7-3474-85ce-15a2-f9a9684c9c90
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      service: mxagent
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      timestamp: 1552408871
                      type: ME_CONFIG_CHANGED_BY_USER
                    key: ME_CONFIG_CHANGED_BY_USER
              schema:
                items:
                  properties:
                    description:
                      type: string
                    display:
                      type: string
                    example:
                      properties: {}
                      type: object
                    key:
                      type: string
                  type: object
                type: array
                x-examples:
                  example-1:
                  - description: Config change on ME was triggered as a result of
                      change made by user
                    display: ME Config changed by user
                    example: {}
                    key: ME_CONFIG_CHANGED_BY_USER
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listMxEdgeEventsDefinitions
      tags:
      - Constants
  /api/v1/const/mxedge_models:
    get:
      description: Get List of available Mx Edge models
      operationId: listMxEdgeModels
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - custom_ports: true
                    display: string
                    model: string
                    ports:
                      '0':
                        display: string
                        speed: 0
                      '1':
                        display: string
                        speed: 0
                      '2':
                        display: string
                        speed: 0
                      '3':
                        display: string
                        speed: 0
              schema:
                items:
                  properties:
                    custom_ports:
                      type: boolean
                    display:
                      type: string
                    model:
                      type: string
                    ports:
                      properties:
                        '0':
                          properties:
                            display:
                              type: string
                            speed:
                              type: integer
                          type: object
                        '1':
                          properties:
                            display:
                              type: string
                            speed:
                              type: integer
                          type: object
                        '2':
                          properties:
                            display:
                              type: string
                            speed:
                              type: integer
                          type: object
                        '3':
                          properties:
                            display:
                              type: string
                            speed:
                              type: integer
                          type: object
                      type: object
                  type: object
                type: array
                x-examples:
                  example-1:
                  - display: X1
                    model: ME-100
                    ports:
                      '0':
                        display: ge0
                        speed: 1000
                      '1':
                        display: ge1
                        speed: 1000
                  - display: X1
                    model: ME-X1
                    ports:
                      '0':
                        display: ge0
                        speed: 1000
                      '1':
                        display: ge1
                        speed: 1000
                  - display: X1-M
                    model: ME-X1-M
                    ports:
                      '0':
                        display: ge0
                        speed: 1000
                      '1':
                        display: ge1
                        speed: 1000
                      '2':
                        display: ge2
                        speed: 1000
                      '3':
                        display: ge3
                        speed: 1000
                  - display: X5
                    model: ME-200
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                  - display: X5
                    model: ME-201
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                  - display: X5
                    model: ME-X5
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                  - display: X5-M
                    model: ME-250
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                      '2':
                        display: xe2
                        speed: 10000
                      '3':
                        display: xe3
                        speed: 10000
                  - display: X5-M
                    model: ME-251
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                      '2':
                        display: xe2
                        speed: 10000
                      '3':
                        display: xe3
                        speed: 10000
                  - display: X5-M
                    model: ME-X5-M
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                      '2':
                        display: xe2
                        speed: 10000
                      '3':
                        display: xe3
                        speed: 10000
                  - display: X10
                    model: ME-300
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                      '2':
                        display: xe2
                        speed: 10000
                      '3':
                        display: xe3
                        speed: 10000
                  - display: X10
                    model: ME-301
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                      '2':
                        display: xe2
                        speed: 10000
                      '3':
                        display: xe3
                        speed: 10000
                  - display: X10
                    model: ME-X10
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                      '2':
                        display: xe2
                        speed: 10000
                      '3':
                        display: xe3
                        speed: 10000
                  - display: VM
                    model: ME-VM
                    ports:
                      '0':
                        display: ge0
                        speed: 1000
                      '1':
                        display: ge1
                        speed: 1000
                  - custom_ports: true
                    model: Custom
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listMxEdgeModels
      tags:
      - Constants
  /api/v1/const/other_device_events:
    get:
      description: 'Supported Events Type

        '
      operationId: listOtherDeviceEventsDefinitions
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - display: Connected to NCM
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Connected to NCM
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_CONNECTED_TO_NCM
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_CONNECTED_TO_NCM
                  - display: Disconnected from NCM
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Disconnected from NCM
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_DISCONNECTED_FROM_NCM
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_DISCONNECTED_FROM_NCM
              schema:
                items:
                  properties:
                    display:
                      type: string
                    example:
                      properties:
                        device_mac:
                          type: string
                        mac:
                          type: string
                        org_id:
                          type: string
                        site_id:
                          type: string
                        text:
                          type: string
                        timestamp:
                          type: number
                        type:
                          type: string
                        vendor:
                          type: string
                      type: object
                    key:
                      type: string
                  type: object
                type: array
                x-examples:
                  Example 1:
                  - display: Connected to NCM
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Connected to NCM
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_CONNECTED_TO_NCM
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_CONNECTED_TO_NCM
                  - display: Disconnected from NCM
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Disconnected from NCM
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_DISCONNECTED_FROM_NCM
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_DISCONNECTED_FROM_NCM
                  - display: Ethernet WAN device active
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Ethernet WAN device active
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_ETHERNET_WAN_CONNECTED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_ETHERNET_WAN_CONNECTED
                  - display: Ethernet WAN device no longer active
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Ethernet WAN device no longer active
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_ETHERNET_WAN_DISCONNECTED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_ETHERNET_WAN_DISCONNECTED
                  - display: Ethernet WAN device attached
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Ethernet WAN device attached
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_ETHERNET_WAN_PLUGGED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_ETHERNET_WAN_PLUGGED
                  - display: Ethernet WAN device removed
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Ethernet WAN device removed
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_ETHERNET_WAN_UNPLUGGED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_ETHERNET_WAN_UNPLUGGED
                  - display: Firmware Upgraded
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Firmware Upgraded
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_FIRMWARE_UPGRADED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_FIRMWARE_UPGRADED
                  - display: Login Failure
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Login Failure
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_LOGIN_FAILED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_LOGIN_FAILED
                  - display: Login Success
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Login Success
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_LOGIN_SUCCEEDED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_LOGIN_SUCCEEDED
                  - display: Modem WAN device active
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Modem WAN device active
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_MODEM_WAN_CONNECTED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_MODEM_WAN_CONNECTED
                  - display: Modem WAN device removed
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Modem WAN device removed
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_MODEM_WAN_DISCONNECTED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_MODEM_WAN_DISCONNECTED
                  - display: Router Rebooted
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Router Rebooted
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_REBOOTED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_REBOOTED
                  - display: SIM Door opened
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: SIM Door opened
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_SIM_DOOR_OPENED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_SIM_DOOR_OPENED
                  - display: SIM Door closed
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: SIM Door closed
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_SIM_DOOR_CLOSED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_SIM_DOOR_CLOSED
                  - display: WAN Device Service Type Changed
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: WAN Device Service Type Changed
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_WAN_SERVICE_TYPE_CHANGED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_WAN_SERVICE_TYPE_CHANGED
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listOtherDeviceEventsDefinitions
      tags:
      - Constants
  /api/v1/const/traffic_types:
    get:
      description: Get List of identified traffic
      operationId: listTrafficTypes
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - dscp: 0
                    failover_policy: string
                    name: string
                    traffic_class: string
              schema:
                description: Get Traffic Types Constants
                items:
                  properties:
                    dscp:
                      type: number
                    failover_policy:
                      minLength: 1
                      type: string
                    name:
                      minLength: 1
                      type: string
                    traffic_class:
                      minLength: 1
                      type: string
                  required:
                  - name
                  - failover_policy
                  - traffic_class
                  - dscp
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
                x-examples:
                  example-1:
                  - dscp: 0
                    failover_policy: non-revertible
                    name: data_best_effort
                    traffic_class: low
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listTrafficTypes
      tags:
      - Constants
components:
  parameters:
    country_code:
      description: country code, in two-character
      in: query
      name: country_code
      schema:
        example: US
        pattern: ^[a-zA-Z]{2}$
        type: string
  responses:
    ConstApplications:
      content:
        application/json:
          examples:
            Example 1:
              value:
              - app_id: true
                group: Emails
                key: all-email
                name: All Emails
              - app_id: true
                category: Collaboration
                group: Emails
                key: gmail
                name: Gmail
                ssr_app_id: true
[...]
