openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2306.1.6**

    >

    > Date: **June 21, 2023**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2306.1.6
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Authentication
- name: Monitor
- name: Operational
- name: Login
- description: A Mist account can be linked to OAuth2 providers:\n1. First, login
    with your Mist account\n2. Obtain the Authorization URL for Linking 1. in JSON
    response, more usable for developers. Simply don\'t specify the forward parameter
    when obtaining the authorization URL 2. or as GET parameter, for UI where the
    user flow can be continued. Specify the landing page/url of your choice 3. Obtain
    the authorizaiton code by clicking / going through Authorization URL Link Mist
    Account against OAuth2 Provider by using the authorization code
  name: Login With OAuth2
- description: "Like many other API providers, it\u2019s also possible to generate\
    \ API Tokens to be used (in HTTP Header) for authentication. An API token ties\
    \ to a Admin with equal or less privileges.\n\nNotes:\n* an API token generated\
    \ for a specific admin has the same privilege as the user\n* an API token will\
    \ be automatically removed if not used for > 90 days\n* SSO admins cannot generate\
    \ these API tokens. Refer Org level API tokens (/api/v1/docs/Org#api-token) which\
    \ can have privileges of a specific Org/Site for more information."
  name: API Token
- description: "In a typical enterprise, a separate group of people, Installers, are\
    \ responsible for install new devices. May it be a new installation (e.g. new\
    \ stores), a replacement installation (e.g. replacing Cisco APs with Mist APs),\
    \ or addition (e.g. adding new APs for better coverage). Instead of granting them\
    \ Admin/Write privilege, it's more desirable to grant them minimum privileges\
    \ to do the initial provisioning so they cannot read sensible information (e.g.\
    \ PSK of a WLAN), or change configs of running APs.\nAt a high level, Installer\
    \ APs try to achieve the following:\n1. identifying a device by MAC (that\u2019\
    s what they see)\n2. they can only touch configurations of the devices they\u2019\
    re installing\n3. allow the following configurations: * name * site assignment\
    \ * device  profile assignment * map and location (x/y) assignment * claim (if\
    \ not already in the inventory) * replace existing device with the device being\
    \ installed\n\n* Grace Period *\nGrace period provides a dynamic way to limit\
    \ what devices / sites   installer can work on. Generally installers work on recent\
    \ deployments -  bringing up new sites, add newly claimed devices to new / existing\
    \ sites. They  make mistakes, too, and may need to further tweak some of the parameters.\
    \   Default grace period is 7 days and can be set from 1 day to 365 days."
  name: Installer
- name: Admin
- name: Mobile
- description: MSP (Managed Service Provider) contains multiple Organizations.
  name: Msps
- name: Msps Admins
- name: Msps Inventory
- name: Msps Invites
- name: Msps Logo
- name: Msps Logs
- name: Msps Licenses
- name: Msps Marvis
- name: Msps Org Groups
- name: Msps Orgs
- name: Msps SLEs
- name: Msps SSO Roles
- name: Msps SSO
- name: Msps Stats
- name: Msps Tickets
- description: An organization usually represents a customer - which has inventories,
    licenses. An Organization can contain multiple sites. A site usually represents
    a deployment at the same location (a campus, an office).
  name: Orgs
- name: Orgs 128T
- name: Orgs Admins
- description: Alarms are triggered based on certain events. Alarms could be configured
    using an Alarm Template.
  name: Orgs Alarms
- description: An Alarm Template is a set of Alarm Rules that could be applied to
    one or more sites (while each site can only pick one Alarm Template), or to the
    whole org.
  name: Orgs Alarm Templates
- name: Orgs AP Templates
- name: Orgs API Tokens
- name: Orgs Assets
- name: Orgs Asset Filters
- name: Orgs Calls
- name: Orgs Cert
- name: Orgs Clients - Wan
- name: Orgs Clients - Wired
- name: Orgs Clients - Wireless
- name: Orgs CRL
- description: 'While Templates / RF Templates / Network Templates / Gateway Templates
    provides powerful ways to control how a Device\''s configuration is derived for
    a Site. There are cases where you\''d like another level of control at the Org
    Level.

    A Device Profile contains a subset of Device\''s configurations you\''d like a
    device to have. It will be merged at runtime when we\''re provisioning an AP.'
  name: Orgs Device Profiles
- name: Orgs Devices
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Orgs EVPN Topologies
- description: API Call for 3rd party devices
  name: Orgs Devices Others
- name: Orgs Devices Stats
- name: Orgs Devices Upgrades
- description: "In Zscaler UI \n 1. add Partner Integration at https://admin.zscalerbeta.net/#administration/partner-integration\
    \ \n 2. Add Partner Administrator Role at https://admin.zscalerbeta.net/#administration/role-management\
    \ - Name: Mist - Access: Full \n 3. add Partner Admin at https://admin.zscalerbeta.net/#administration/admin-management\
    \ with - Login ID: john - email: john@abc.com \n 4. Find the cloud name for ZIA\
    \ https://help.zscaler.com/zia/what-my-cloud-name-zia\n"
  name: Orgs Devices Zscaler
- description: Gateway Template is applied to a site for gateway(s) in a site.
  name: Orgs Gateway Templates
- name: Orgs Guests
- name: Orgs Inventory
- name: Orgs JSE
- description: "Juniper Support Insight is a free service provided to all Mist customers.\
    \ You can adopt your devices via a few lines CLI comands. Allowing you to \n*\
    \ get some basic information about the adopted devices \n* web shell into device\
    \ (write privilege required) \n* upgrade (write privilege required)"
  name: Orgs JSI
- name: Orgs Licenses
- name: Orgs Logs
- name: Orgs Marvis
- name: Orgs Maps
- name: Orgs MxClusters
- name: Orgs MxEdges
- name: Orgs MxTunnels
- description: 'nactags are the building blocks to compose nacrules.

    They can either appear in the "matching" / "not_matching" sections of a nacrule,
    in which case they play the role of classifiers, or they could appear in the "apply_tags"
    section of the of a nacrule, in which case they influence the result.

    When the "type" field of nactag is "match", it can be used as the classfier of
    a nacrule. "match" field specifies the attribute name and "values" field specifies
    the list of attribute values to match on. When multiple values are specified,
    its treated as an OR condition between those values.

    When the "type" field of nactag is NOT "match", it can be used as the result of
    a nacrule. "type" field identifies the action to take and the corresponding field
    would provide any associated parameters to that action.'
  name: Orgs NAC Tags
- name: Orgs NAC Rules
- description: 'Network template is intended to be applied to a Site. It works like
    a blueprint of the network of the site.

    All Site Settings can go into Network Templates. See Site:Site Setting for schema

    Moreover, this can further be overwriten by individual Site Setting'
  name: Orgs Network Templates
- name: Orgs Networks
- name: Orgs OAuth
- name: Orgs Premium Analytics
- name: Orgs Psks
- description: "PSK Self-Service Portals are for \n  1. **WIFI users** who want to\
    \ connect to a WLAN with personal PSK, they\u2019re told to connect to a URL where\
    \ they can login (likely through company\u2019s SSO) and get the WIFI Name / Passphrase\
    \ - required input fields name, email so we can generate PSK \n  2. **PSK Admins**\
    \ (they don\u2019t have access to normal Network Admin Portal)\nWhen a PSK portal\
    \ is created, an unique URL will be generated (e.g. https://psk.mist.com/xxxxxx)"
  name: Orgs Psk Portals
- name: Orgs RF Templates
- name: Orgs SDK Clients
- name: Orgs SDK Templates
- description: "Security Policy is designed to audit / catch discripancies between\
    \ \u201Cwhat\u2019s intended to be running\u201D versus \u201Cwhat\u2019s actually\
    \ running\u201D in a network. Many big organizations have separated Security and\
    \ IT team (for good reasons). Each site can be assigned a security policy. Whenever\
    \ an AP is provisioned, the configuration will be checked against the security\
    \ policy. Any violations will be flagged in [Device Config History](/#operation/searchSiteDeviceConfigHistory)\
    \ where you can search for the when and where the violation occurs."
  name: Orgs SecPolicies
- name: Orgs Services
- name: Orgs Service Policies
- name: Orgs Setting
- name: Orgs Sitegroups
- name: Orgs Sites
- description: Site template is intended to be applied to a Site. The items in site
    setting which should be shared for all device types.
  name: Orgs Site Templates
- name: Orgs SLEs
- name: Orgs SSO Roles
- name: Orgs SSO
- name: Orgs Stats
- name: Orgs Subscriptions
- name: Orgs Templates
- name: Orgs Tickets
- name: Orgs Tunnels
- name: Orgs Tunnels Stats
- name: Orgs VPNs
- name: Orgs Webhooks
- name: Orgs Wlans
- name: Orgs WxRules
- name: Orgs WxTags
- name: Orgs WxTunnels
- description: A site represents a project, a deployment. For MSP, it can be as small
    as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps,
    Wlans, Policies, Zones.
  name: Sites
- name: Sites Alarms
- description: Applications contains a list of applications users are interested in
    monitoring / routing / policying
  name: Sites Applications
- name: Sites Anomaly
- name: Sites Asset Filters
- name: Sites Assets
- name: Sites Beacons
- name: Sites Calls
- name: Sites Clients - Wan
- name: Sites Clients - Wired
- name: Sites Clients - Wireless
- description: 'Mist provides many ways (device-type specific template, site template,
    device profile, per-device) to configure devices for different kind of scenarios.

    The precedence goes from most specific to least specific

    Device > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template
    > Site Template > Site Setting'
  name: Sites Devices
- name: Sites Devices - Wireless
- description: API Call for 3rd party devices
  name: Sites Devices Others
- name: Sites Devices - Wired
- name: Sites Devices - Wired Virtual Chassis
- name: Sites Devices - WAN
- name: Sites Devices - WAN HA
- name: Sites Devices Stats
- name: Sites Devices Upgrades
- name: Sites Devices Utilities
- name: Sites Device Profiles
- name: Sites Events
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site '
  name: Sites EVPN Topologies
- name: Sites Guests
- name: Sites Insights
- name: Sites Licenses
- name: Sites Location
- name: Sites Maps
- name: Sites Maps Auto-orientation
- name: Sites Maps Auto-placement
- name: Sites MxEdges
- name: Sites MxTunnels
- name: Sites Networks
- name: Sites Pcaps
- name: Sites Psks
- name: Sites Rfdiags
- name: Sites Rogues
- name: Sites RRM
- name: Sites Rssizones
- name: Sites Services
- name: Sites Service Policies
- name: Sites Setting
- name: Sites Skyatp
- name: Sites SLEs
- name: Sites Stats
- name: Sites Subscriptions
- name: Sites Synthetic Tests
- name: Sites UI Settings
- name: Sites vBeacons
- name: Sites VPNs
- name: Sites Webhooks
- name: Sites Wlans
- name: Sites WxRules
- name: Sites WxTags
- name: Sites WxTunnels
- name: Sites Zones
- name: Constants
- name: Self
- name: Account
- name: Webhook Samples
paths:
  /api/v1/msps/{msp_id}/insights/{metric}:
    get:
      description: Get MSP SLEs (all/worst Orgs ...)
      operationId: getMspSle
      parameters:
      - description: see /api/v1/const/insight_metrics for more details
        in: query
        name: sle
        schema:
          type: string
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/interval'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      responses:
        '200':
          content:
            application/json:
              examples:
                orgs-sle:
                  value:
                    end: 1643706000
                    interval: 3600
                    limit: 100
                    results:
                    - ap-availability: 0.9919400860511628
                      ap-health: 0.967607512909879
                      capacity: 0.7484652273070254
                      coverage: 0.91217567374857
                      num_aps: 13
                      num_clients: 12
                      org_id: 978c48e6-6ef6-11e6-8bbf-02e208b2d34f
                      roaming: 0.991735537682683
                      roaming-exp: 0.991735537682683
                      successful-connect: 0.46052632135780236
                      throughput: 0.6775702123846302
                      time-to-connect: 0.9349112447196916
                    - ap-availability: 0.9990384613092129
                      ap-health: 0.48201754375507955
                      capacity: 0.9702673450306101
                      coverage: 0.8335392334930375
                      num_aps: 1
                      num_clients: 6
                      org_id: 49ff76e0-a283-4e7d-b38d-041f1e9aff3c
                      roaming: 1
                      roaming-exp: 1
                      successful-connect: 1
                      throughput: 0
                      time-to-connect: 1
                    - ap-availability: 1
                      ap-health: 0.982456140612301
                      capacity: 1
                      coverage: 0.9276041182442488
                      num_aps: 2
                      num_clients: 3
                      org_id: 9b9b48f1-15a4-459e-86cc-9cbec9005983
                      roaming: 1
                      roaming-exp: 1
                      successful-connect: 1
                      throughput: 1
                      time-to-connect: 0.8125
                    - ap-availability: 0.9981132070973234
                      ap-health: 0.9991228068084047
                      capacity: 1
                      coverage: 1
                      num_aps: 1
                      num_clients: 0
                      org_id: eb0e1671-7a6b-472b-94c3-c187dafe5274
                      roaming: 1
                      roaming-exp: 1
                      successful-connect: 1
                      throughput: 0
                      time-to-connect: 0.5
                    start: 1643670000
              schema:
                description: ''
                properties:
                  end:
                    type: number
                  interval:
                    type: number
                  limit:
                    type: number
                  results:
                    items:
                      additionalProperties: {}
                      type: object
                    type: array
                    uniqueItems: true
                  start:
                    type: number
                required:
                - start
                - end
                - interval
                - limit
                - results
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getMspSle
      tags:
      - Msps SLEs
      - Monitor
    parameters:
    - in: path
      name: msp_id
      required: true
      schema:
        example: 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    - description: see /api/v1/const/insight_metrics for available metrics
      in: path
      name: metric
      required: true
      schema:
        type: string
  /api/v1/msps/{msp_id}/licenses:
    get:
      description: Get List of Msp Licenses
      operationId: listMspLicenses
      responses:
        '200':
          $ref: '#/components/responses/Licence'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listMspLicenses
      tags:
      - Msps Licenses
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/logs:
    get:
      description: Get list of change logs for the current MSP
      operationId: listMspLogs
      parameters:
      - description: site id
        in: query
        name: site_id
        schema:
          type: string
      - description: admin name or email
        in: query
        name: admin_name
        schema:
          type: string
      - description: message
        in: query
        name: message
        schema:
          type: string
      - description: sort order
        in: query
        name: sort
        schema:
          enum:
          - timestamp
          - -timestamp
          - site_id
          - admin_id
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/LogsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listMspLogs
      tags:
      - Msps Logs
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/logs/count:
    get:
      description: Count by Distinct Attributes of Audit Logs
      operationId: countMspLogs
      parameters:
      - in: query
        name: distinct
        schema:
          default: admin_name
          enum:
          - admin_id
          - admin_name
          - message
          - org_id
          type: string
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countMspLogs
      tags:
      - Msps Logs
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/orgs/search:
    get:
      description: Search Org in MSP
      operationId: searchMspOrgs
      parameters:
      - $ref: '#/components/parameters/name'
      - description: org id
        in: query
        name: org_id
        schema:
          format: uuid
          type: string
      - description: if this org has sufficient subscription
        in: query
        name: sub_insufficient
        schema:
          type: boolean
      - description: if this org is under trial period
        in: query
        name: trial_enabled
        schema:
          type: boolean
      - description: a list of types that enabled by usage
        in: query
        name: usage_types
        schema:
          items:
            type: string
          type: array
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/OrgsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchMspOrgs
      tags:
      - Msps Orgs
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/search:
    get:
      description: Search in MSP Orgs
      operationId: searchMspOrgGroup
      parameters:
      - description: orgs
        example: orgs
        in: query
        name: type
        required: true
        schema:
          enum:
          - orgs
          type: string
      - $ref: '#/components/parameters/q'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/OrggroupsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchMspOrgGroup
      tags:
      - Msps Org Groups
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/ssos/{sso_id}/failures:
    get:
      description: Get List of MSP SSO Latest Failures
      operationId: listMspSsoLatestFailures
      responses:
        '200':
          $ref: '#/components/responses/SsoLatestFailures'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listMspSsoLatestFailures
      tags:
      - Msps SSO
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
    - $ref: '#/components/parameters/sso_id'
  /api/v1/msps/{msp_id}/stats/orgs:
    get:
      description: Get List of MSP Orgs Stats
      operationId: listMspOrgStats
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/OrgsArrayStats'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listMspOrgStats
      tags:
      - Msps Stats
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/suggestion/count:
    get:
      description: 'Count Marvis actions

        '
      operationId: countMspsMarvisActions
      parameters:
      - in: query
        name: distinct
        schema:
          default: org_id
          enum:
          - org_id
          - status
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    distinct: status
                    limit: 1000
                    results:
                    - count: 24
                      status: 002e176a-0000-000-1111-002e208b20e1
                    - count: 12
                      status: 2d3f176a-0000-000-2222-002e208f176a
                    - count: 15
                      status: 08b2176a-0000-000-3333-002e208b2d3f
                    total: 3
              schema:
                properties:
                  distinct:
                    type: string
                  limit:
                    type: integer
                  results:
                    items:
                      properties:
                        count:
                          type: integer
                        status:
                          type: string
                      type: object
                    type: array
                  total:
                    type: integer
                type: object
                x-examples:
                  Example 1:
                    distinct: status
                    limit: 1000
                    results:
                    - count: 24
                      status: 002e176a-0000-000-1111-002e208b20e1
                    - count: 12
                      status: 2d3f176a-0000-000-2222-002e208f176a
                    - count: 15
                      status: 08b2176a-0000-000-3333-002e208b2d3f
                    total: 3
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countMspsMarvisActions
      tags:
      - Msps Marvis
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/tickets/count:
    get:
      description: Count tickets
      operationId: countMspTickets
      parameters:
      - in: query
        name: distinct
        schema:
          default: status
          enum:
          - status
          - type
          - org_id
          type: string
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countMspTickets
      tags:
      - Msps Tickets
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
components:
  parameters:
    duration:
      description: "For historical stats and/or logs where time range is needed, you\
        \ can specify the time range in a few different ways:\n  * ?start=1430000000&end=1430864000\t\
        specify the start / end\n  * ?end=1430864000&duration=1d\tspecify end time\
        \ and duration\n  * ?duration=1d\tspecify duration, end will be now() in seconds"
      in: query
      name: duration
      required: false
      schema:
        default: 1d
        example: 10m
        type: string
    end:
      in: query
      name: end
      schema:
        default: 0
        minimum: 0
        type: integer
    interval:
      description: Aggregation works by giving a time range plus interval (e.g. 1d,
        1h, 10m) where aggregation function would be applied to.
      in: query
      name: interval
      required: false
      schema:
        example: 10m
        type: string
    limit:
      in: query
      name: limit
      required: false
      schema:
        default: 100
        minimum: 0
        type: integer
    msp_id:
      in: path
      name: msp_id
      required: true
      schema:
        example: 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    name:
      in: query
      name: name
      required: false
      schema:
        default: ''
        type: string
    page:
      in: query
      name: page
      required: false
      schema:
        default: 1
        minimum: 1
        type: integer
    q:
      description: search string
      in: query
      name: q
      schema:
        default: ''
        example: search
        type: string
    sso_id:
      in: path
      name: sso_id
      required: true
      schema:
        example: 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    start:
      in: query
      name: start
      schema:
        default: 0
        minimum: 0
        type: integer
  responses:
    Licence:
      content:
        application/json:
          examples:
            example-1:
              value:
                amendments:
                - created_time: 1644684842
                  end_time: 1744156799
                  id: ff0a14f6-1234-5678-90ab-c8e64d4bc6c6
                  modified_time: 1644684842
                  quantity: -1
                  start_time: 1632873600
                  subscription_id: VNA-000000af
                  type: SUB-VNA
                - created_time: 1644684842
                  end_time: 1744156799
                  id: c1c28812-1234-5678-90ab-dc95680da61e
                  modified_time: 1644684842
                  quantity: -1
                  start_time: 1632873600
                  subscription_id: MAN-000008be
                  type: SUB-MAN
                - created_time: 1644684842
                  end_time: 1744243199
                  id: 96c0a41f-1234-5678-90ab-afe74817e9fd
                  modified_time: 1644684842
                  quantity: -1
                  start_time: 1586476800
                  subscription_id: EX24-000000bc
                  type: SUB-EX24
                entitled:
                  SUB-ENG: 26
                  SUB-EX24: 9
                  SUB-MAN: 26
                  SUB-VNA: 26
                licenses:
                - created_time: 1555353534
                  end_time: 1586822399
                  id: 693a41a6-1234-5678-90ab-f53dbd3a31c0
                  modified_time: 1555353534
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 2
                  remaining_quantity: 0
                  start_time: 1555286400
                  subscription_id: VNA-000000aa
                  type: SUB-VNA
                - created_time: 1576132516
                  end_time: 1586822399
                  id: 656607cf-1234-5678-90ab-fc9035614ea5
                  modified_time: 1576132516
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 8
                  remaining_quantity: 0
                  start_time: 1576022400
                  subscription_id: VNA-000000ab
                  type: SUB-VNA
                - created_time: 1579204568
                  end_time: 1730764800
                  id: db50d0bc-1234-5678-90ab-e439958cb06b
                  modified_time: 1579204568
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 2
                  remaining_quantity: 2
                  start_time: 1572998400
                  subscription_id: MAN-000000ac
                  type: SUB-MAN
                - created_time: 1579204568
                  end_time: 1730764800
                  id: 2ff9e84a-1234-5678-90ab-fb9ec0726e01
                  modified_time: 1579204568
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 2
                  remaining_quantity: 2
                  start_time: 1572998400
                  subscription_id: ENG-000000ad
                  type: SUB-ENG
                - created_time: 1579204568
                  end_time: 1730764800
                  id: 16df7ea6-1234-5678-90ab-78018cd4024d
                  modified_time: 1579204568
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 2
                  remaining_quantity: 2
                  start_time: 1572998400
                  subscription_id: VNA-000000ae
                  type: SUB-VNA
                - created_time: 1586237081
                  end_time: 1744243199
                  id: 1b6f68d5-1234-5678-90ab-70d3e6d18c73
                  modified_time: 1586237081
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 14
                  remaining_quantity: 14
                  start_time: 1586563200
                  subscription_id: VNA-000000af
                  type: SUB-VNA
                - created_time: 1586237097
                  end_time: 1744243199
                  id: 1375c9bf-1234-5678-90ab-9c636708c89e
                  modified_time: 1586237097
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 14
                  remaining_quantity: 14
                  start_time: 1586563200
                  subscription_id: MAN-000000ba
                  type: SUB-MAN
                - created_time: 1586237137
                  end_time: 1744243199
                  id: 5974e979-1234-5678-90ab-438f833ec1c9
                  modified_time: 1586237137
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 14
                  remaining_quantity: 14
                  start_time: 1586563200
                  subscription_id: ENG-000000bb
                  type: SUB-ENG
                - created_time: 1629947267
                  end_time: 1744243199
                  id: 340a9cb3-1234-5678-90ab-b009344dbf3c
                  modified_time: 1629947267
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 10
                  remaining_quantity: 9
                  start_time: 1586476800
                  subscription_id: EX24-000000bc
                  type: SUB-EX24
                - created_time: 1632941870
                  end_time: 1744156799
                  id: 9b599b0f-1234-5678-90ab-406081b58e7f
                  modified_time: 1632941870
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 10
                  remaining_quantity: 10
                  start_time: 1632873600
                  subscription_id: ENG-000000bd
                  type: SUB-ENG
                - created_time: 1632941882
                  end_time: 1744156799
                  id: d6d8ead3-1234-5678-90ab-98badeac7287
                  modified_time: 1632941882
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 11
                  remaining_quantity: 9
                  start_time: 1632873600
                  subscription_id: MAN-000008be
                  type: SUB-MAN
                summary:
                  SUB-ENG: 18
                  SUB-EX24: 3
                  SUB-MAN: 22
                  SUB-VNA: 20
          schema:
            $ref: ./components/schemas/license.yaml
      description: OK
    LogsSearch:
      content:
        application/json:
          examples:
            example-1:
              value:
                end: 1428954000
                limit: 100
                results:
                - admin_id: 72bfa2bd-e58a-4670-9d20-a1468f7a6f58
                  admin_name: test@mistsys.com
                  id: c6f9347b-b0a4-4a23-b927-fa9249f2ffb2
                  message: TEST AUDIT
                  org_id: 469f6eca-6276-4993-bfeb-53cbbbba6f58
                  site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                  timestamp: 1431382121
                start: 1428939600
                total: 135
          schema:
            properties:
              end:
                type: integer
              limit:
                type: integer
              next:
                type: string
              results:
                items:
                  properties:
                    admin_id:
                      description: admin id
                      format: uuid
                      nullable: true
                      readOnly: true
                      type: string
                    admin_name:
                      description: name of the admin that performs the action
                      nullable: true
                      readOnly: true
                      type: string
                    after:
                      description: field values after the change
                      readOnly: true
                      type: object
                    before:
                      description: field values prior to the change
                      readOnly: true
                      type: object
                    for_site:
                      readOnly: true
                      type: boolean
                    id:
                      format: uuid
                      readOnly: true
                      type: string
                    message:
                      description: log message
                      readOnly: true
                      type: string
                    org_id:
                      description: org id
                      format: uuid
                      readOnly: true
                      type: string
                    site_id:
                      description: site id
                      format: uuid
                      readOnly: true
                      type: string
                    timestamp:
                      description: start time, in epoch
                      readOnly: true
                      type: number
                  required:
                  - admin_id
                  - admin_name
                  - message
                  - org_id
                  - site_id
                  - timestamp
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
              start:
                type: integer
              total:
                type: integer
            required:
            - end
            - limit
            - results
            - start
            - total
            type: object
      description: OK
    OrggroupsSearch:
      content:
        application/json:
          examples:
            example-1:
              value:
                limit: 0
                page: 0
                results:
                - id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  text: string
                  type: string
                total: 0
          schema:
            properties:
              limit:
                type: integer
              next:
                type: string
              page:
                type: integer
              results:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    text:
                      type: string
                    type:
                      type: string
                  required:
                  - id
                  - text
                  - type
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
              total:
                type: integer
            required:
            - limit
            - page
            - results
            - total
            type: object
      description: OK
    OrgsArrayStats:
      content:
        application/json:
          schema:
            items:
              $ref: ./components/schemas/license.yaml
            type: array
      description: OK
    OrgsSearch:
      content:
        application/json:
          examples:
            example-1:
              value:
                end: 1614383378.4365287
                limit: 10
                results:
                - msp_id: d287e62f-0000-0000-0000-f2b9ba0a531f
                  name: Test Org
                  num_aps: 9
                  num_sites: 5
                  num_switches: 1
                  num_unassigned_aps: 1
                  org_id: bb1a8bf6-0000-0000-0000-8053a663cf65
                  sub_ana_required: 9
                  sub_ast_entitled: 5
                  sub_ast_required: 3
                  sub_eng_required: 3
                  sub_ex12_required: 1
                  sub_insufficient: true
                  sub_man_required: 9
                  sub_vna_entitled: 1
                  timestamp: 1614322563.513937
                  trial_enabled: false
                  usage_types:
                  - sub_eng
                - msp_id: d287e62f-0000-0000-0000-f2b9ba0a531f
                  name: Rogue Test1
                  num_aps: 1
                  num_sites: 1
                  org_id: 0fb81690-0000-0000-0000-9596d1d1534f
                  sub_ana_entitled: 1
                  sub_ana_required: 1
                  sub_insufficient: false
                  sub_man_entitled: 1
                  sub_man_required: 1
                  timestamp: 1614309876.500955
                start: 1613778578.4365668
                total: 2
          schema:
            properties:
              end:
                readOnly: true
                type: number
              limit:
                readOnly: true
                type: integer
              next:
                type: string
              results:
                items:
                  properties:
                    msp_id:
                      format: uuid
                      readOnly: true
                      type: string
                    name:
                      description: org name
                      readOnly: true
                      type: string
                    num_aps:
                      readOnly: true
                      type: integer
                    num_gateways:
                      readOnly: true
                      type: integer
                    num_sites:
                      readOnly: true
                      type: integer
                    num_switches:
                      readOnly: true
                      type: integer
                    num_unassigned_aps:
                      readOnly: true
                      type: integer
                    org_id:
                      description: org id
                      format: uuid
                      readOnly: true
                      type: string
                    sub_ana_entitled:
                      readOnly: true
                      type: integer
                    sub_ana_required:
                      readOnly: true
                      type: integer
                    sub_ast_entitled:
                      readOnly: true
                      type: integer
                    sub_ast_required:
                      readOnly: true
                      type: integer
                    sub_eng_entitled:
                      readOnly: true
                      type: integer
                    sub_eng_required:
                      readOnly: true
                      type: integer
                    sub_ex12_required:
                      readOnly: true
                      type: integer
                    sub_insufficient:
                      description: if this org has sufficient subscription
                      readOnly: true
                      type: boolean
                    sub_man_entitled:
                      readOnly: true
                      type: integer
                    sub_man_required:
                      readOnly: true
                      type: integer
                    sub_me_entitled:
                      readOnly: true
                      type: integer
                    sub_vna_entitled:
                      readOnly: true
                      type: integer
                    sub_vna_required:
                      readOnly: true
                      type: integer
                    timestamp:
                      readOnly: true
                      type: number
                    trial_enabled:
                      description: if this org is under trial period
                      readOnly: true
                      type: boolean
                    usage_types:
                      description: a list of types that enabled by usage
                      items:
                        type: string
                      readOnly: true
                      type: array
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
              start:
                readOnly: true
                type: number
              total:
                readOnly: true
                type: integer
            required:
            - end
            - limit
            - results
            - start
            - total
            type: object
            x-examples:
              example-1:
                end: 1622703061.6106656
                limit: 10
                results:
                - msp_id: d3ea21e6-b7a3-4027-a689-754cb88b9807
                  name: TM-LAB
                  num_aps: 4
                  num_gateways: 1
                  num_sites: 2
                  num_switches: 1
                  num_unassigned_aps: 1
                  org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
                  sub_ana_entitled: 2
                  sub_ana_required: 4
                  sub_ast_entitled: 2
                  sub_ast_required: 3
                  sub_eng_entitled: 2
                  sub_eng_required: 2
                  sub_ex12_required: 1
                  sub_insufficient: true
                  sub_man_entitled: 2
                  sub_man_required: 3
                  sub_me_entitled: 2
                  sub_vna_entitled: 2
                  sub_vna_required: 3
                  timestamp: 1622647525.727498
                start: 1622098261.6106946
                total: 1
      description: OK
    SsoLatestFailures:
      content:
        application/json:
          examples:
            example-1:
              value:
                results:
                - detail: string
                  saml_assertion_xml: string
                  timestamp: 0
          schema:
            properties:
              results:
                items:
                  properties:
                    detail:
                      type: string
                    saml_assertion_xml:
                      type: string
                    timestamp:
                      type: number
                  required:
                  - timestamp
                  - detail
                  - saml_assertion_xml
                minItems: 1
                type: array
                uniqueItems: true
            required:
            - results
            type: object
      description: OK
    count:
      content:
        application/json:
          examples:
            example-1:
              value:
                distinct: string
                end: 0
                limit: 0
                percentage: 0
                results:
                - count: 0
                  property: string
                start: 0
                total: 0
          schema:
            properties:
              distinct:
                type: string
              end:
                type: integer
              limit:
                type: integer
              results:
                items:
                  additionalProperties:
                    type: string
                  properties:
                    count:
                      type: integer
                  required:
                  - count
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
              start:
                type: integer
              total:
                type: integer
            required:
            - distinct
            - end
            - limit
            - results
            - start
            - total
            type: object
      description: OK
x-tagGroups:
- name: Account
  tags:
  - Login
  - Login With OAuth2
  - API Token
  - Self
- name: Sites
  tags:
  - Sites
  - Sites Alarms
  - Sites Applications
  - Sites Anomaly
  - Sites Asset Filters
  - Sites Assets
  - Sites Beacons
  - Sites Calls
  - Sites Clients - Wan
  - Sites Clients - Wired
  - Sites Clients - Wireless
  - Sites Devices
  - Sites Devices - Wireless
  - Sites Devices Others
  - Sites Devices - Wired
  - Sites Devices - Wired Virtual Chassis
  - Sites Devices - WAN
  - Sites Devices - WAN HA
  - Sites Devices Upgrades
  - Sites Devices Utilities
  - Sites Devices Stats
  - Sites Device Profiles
  - Sites Events
  - Sites EVPN Topologies
  - Sites Guests
  - Sites Insights
  - Sites Licenses
  - Sites Location
  - Sites Maps
  - Sites Maps Auto-orientation
  - Sites Maps Auto-placement
  - Sites MxEdges
  - Sites MxTunnels
  - Sites Networks
  - Sites Pcaps
  - Sites Psks
  - Sites Rfdiags
  - Sites Rogues
  - Sites RRM
  - Sites Rssizones
  - Sites Services
  - Sites Service Policies
  - Sites Setting
  - Sites Skyatp
  - Sites SLEs
  - Sites Stats
  - Sites Subscriptions
  - Sites Synthetic Tests
  - Sites UI Settings
  - Sites vBeacons
  - Sites VPNs
  - Sites Webhooks
  - Sites Wlans
  - Sites WxRules
  - Sites WxTags
  - Sites WxTunnels
  - Sites Zones
- name: Orgs
  tags:
  - Orgs
  - Orgs 128T
  - Orgs Admins
  - Orgs Alarms
  - Orgs Alarm Templates
  - Orgs AP Templates
  - Orgs API Tokens
  - Orgs Assets
  - Orgs Asset Filters
  - Orgs Calls
  - Orgs Cert
  - Orgs Clients - Wan
  - Orgs Clients - Wired
  - Orgs Clients - Wireless
  - Orgs CRL
  - Orgs Devices
  - Orgs Devices Others
  - Orgs Devices Stats
  - Orgs Devices Upgrades
  - Orgs Devices Zscaler
  - Orgs Device Profiles
  - Orgs EVPN Topologies
  - Orgs Gateway Templates
  - Orgs Guests
  - Orgs Inventory
  - Orgs JSE
  - Orgs JSI
  - Orgs Licenses
  - Orgs Logs
  - Orgs Maps
  - Orgs Marvis
  - Orgs MxClusters
  - Orgs MxEdges
  - Orgs MxTunnels
  - Orgs NAC Rules
  - Orgs NAC Tags
  - Orgs Network Templates
  - Orgs Networks
  - Orgs OAuth
  - Orgs Premium Analytics
  - Orgs Psks
  - Orgs Psk Portals
  - Orgs RF Templates
  - Orgs SDK Clients
  - Orgs SDK Templates
  - Orgs SecPolicies
  - Orgs Services
  - Orgs Service Policies
  - Orgs Setting
  - Orgs Sitegroups
  - Orgs Sites
  - Orgs Site Templates
  - Orgs SLEs
  - Orgs SSO Roles
  - Orgs SSO
  - Orgs Stats
  - Orgs Subscriptions
  - Orgs Templates
  - Orgs Tickets
  - Orgs Tunnels
  - Orgs Tunnels Stats
  - Orgs VPNs
  - Orgs Webhooks
  - Orgs Wlans
  - Orgs WxRules
  - Orgs WxTags
  - Orgs WxTunnels
- name: MSPs
  tags:
  - Msps
  - Msps Admins
  - Msps Inventory
  - Msps Logo
  - Msps Invites
  - Msps Logs
  - Msps Licenses
  - Msps Marvis
  - Msps Org Groups
  - Msps Orgs
  - Msps SLEs
  - Msps SSO Roles
  - Msps SSO
  - Msps Stats
  - Msps Tickets
- name: Installer
  tags:
  - Installer
- name: Webhook Samples
  tags:
  - Webhook Samples
- name: Constants
  tags:
  - Constants
- name: Others
  tags:
  - Admin
  - Mobile
