openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2309.1.1**

    >

    > Date: **September 28, 2023**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2309.1.1
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- description: A site represents a project, a deployment. For MSP, it can be as small
    as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps,
    Wlans, Policies, Zones.
  name: Sites
- name: Sites Alarms
- name: Sites AP Templates
- name: Sites Asset Filters
- name: Sites Assets
- name: Sites Beacons
- name: Sites Clients - Wireless
- description: 'Mist provides many ways (device-type specific template, site template,
    device profile, per-device) to configure devices for different kind of scenarios.

    The precedence goes from most specific to least specific

    Device > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template
    > Site Template > Site Setting'
  name: Sites Devices
- name: Sites Devices - Wireless
- description: API Call for 3rd party devices
  name: Sites Devices Others
- name: Sites Devices - Wired
- name: Sites Devices - Wired Virtual Chassis
- name: Sites Devices - WAN
- name: Sites Devices - WAN HA
- name: Sites Devices Upgrades
- name: Sites Devices Utilities
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site '
  name: Sites EVPN Topologies
- name: Sites Guests
- name: Sites Location
- name: Sites Maps
- name: Sites Maps Auto-orientation
- name: Sites Maps Auto-placement
- name: Sites MxEdges
- name: Sites MxTunnels
- name: Sites Network Templates
- name: Sites Networks
- name: Sites Pcaps
- name: Sites Psks
- name: Sites RF Templates
- name: Sites Rfdiags
- name: Sites Rogues
- name: Sites RRM
- name: Sites Rssizones
- name: Sites Services
- name: Sites Service Policies
- name: Sites Setting
- name: Sites Site Templates
- name: Sites SLEs
- name: Sites Subscriptions
- name: Sites Synthetic Tests
- name: Sites UI Settings
- name: Sites vBeacons
- name: Sites VPNs
- name: Sites Webhooks
- name: Sites Wlans
- name: Sites WxRules
- name: Sites WxTags
- name: Sites WxTunnels
- name: Sites Zones
paths:
  /api/v1/sites/{site_id}:
    delete:
      description: Delete Site
      operationId: deleteSite
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteSite
      tags:
      - Sites
      - Configuration
    get:
      description: Get Site Info
      operationId: getSiteInfo
      responses:
        '200':
          $ref: '#/components/responses/Site'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteInfo
      tags:
      - Sites
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    put:
      description: Update Site Info
      operationId: updateSiteInfo
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  address: string
                  alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  country_code: string
                  latlng:
                    lat: 0
                    lng: 0
                  name: string
                  networktemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  notes: string
                  rftemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  secpolicy_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  sitegroup_ids:
                  - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  timezone: string
            schema:
              $ref: ./components/schemas/site.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Site'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateSiteInfo
      tags:
      - Sites
      - Configuration
  /api/v1/sites/{site_id}/alarms/ack:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Ack multiple Site Alarms
      operationId: multiAckSiteAlarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  alarm_ids:
                  - ccb8c94d-ca56-4075-932f-1f2ab444ff2c
                  - 98ff4a3d-ec9b-4138-a42e-54fc3335179d
                  note: maintenance window
            schema:
              properties:
                alarm_ids:
                  items:
                    format: uuid
                    type: string
                  type: array
                note:
                  description: Some text note describing the intent
                  type: string
              required:
              - alarm_ids
              type: object
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: multiAckSiteAlarms
      tags:
      - Sites Alarms
      - Configuration
  /api/v1/sites/{site_id}/alarms/ack_all:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: 'Ack all Site Alarms


        **N.B.**: Batch size for multiple alarm ack and unack has to be less or or
        equal to 1000.'
      operationId: ackSiteAllAlarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  note: string
            schema:
              $ref: ./components/schemas/note.yaml
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: ackSiteAllAlarms
      tags:
      - Sites Alarms
      - Configuration
  /api/v1/sites/{site_id}/alarms/unack:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Unack multiple Site Alarms
      operationId: multiUnackSiteAlarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  alarm_ids:
                  - ccb8c94d-ca56-4075-932f-1f2ab444ff2c
                  - 98ff4a3d-ec9b-4138-a42e-54fc3335179d
                  note: maintenance window
            schema:
              properties:
                alarm_ids:
                  items:
                    format: uuid
                    type: string
                  type: array
                note:
                  description: Some text note describing the intent
                  type: string
              required:
              - alarm_ids
              type: object
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: multiUnackSiteAlarms
      tags:
      - Sites Alarms
      - Configuration
  /api/v1/sites/{site_id}/alarms/unack_all:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: 'Unack all Site Alarms


        **N.B.**: Batch size for multiple alarm ack and unack has to be less or or
        equal to 1000.'
      operationId: unackSiteAllArlarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  note: maintenance window
            schema:
              $ref: ./components/schemas/note.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: unackSiteAllArlarms
      tags:
      - Sites Alarms
      - Configuration
  /api/v1/sites/{site_id}/alarms/{alarm_id}/ack:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/alarm_id'
    post:
      description: Ack Site Alarm
      operationId: ackSiteAlarm
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  note: maintenance window
            schema:
              $ref: ./components/schemas/note.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: ackSiteAlarm
      tags:
      - Sites Alarms
      - Configuration
  /api/v1/sites/{site_id}/alarms/{alarm_id}/unack:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/alarm_id'
    post:
      description: Unack Site Alarm
      operationId: unackSiteAlarm
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  note: maintenance window
            schema:
              $ref: ./components/schemas/note.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: unackSiteAlarm
      tags:
      - Sites Alarms
      - Configuration
  /api/v1/sites/{site_id}/aptemplates/derived:
    get:
      description: Get derived AP Templates for Site
      operationId: getSiteApTemplateDerived
      parameters:
      - description: whether resolve the site variables
        in: query
        name: resolve
        schema:
          type: boolean
      responses:
        '200':
          $ref: '#/components/responses/Aptemplate'
      summary: getSiteApTemplateDerived
      tags:
      - Sites AP Templates
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/assetfilters:
    get:
      description: Get List of Site Asset Filters
      operationId: listSiteAssetFilters
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/AssetfiltersArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSiteAssetFilters
      tags:
      - Sites Asset Filters
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Create Site Asset Filter
      operationId: createSiteAssetFilters
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./components/schemas/asset_filter.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Assetfilter'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createSiteAssetFilters
      tags:
      - Sites Asset Filters
      - Configuration
  /api/v1/sites/{site_id}/assetfilters/{assetfilter_id}:
    delete:
      description: Deletes an existing BLE asset filter for the given site.
      operationId: deleteSiteAssetFilter
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteSiteAssetFilter
      tags:
      - Sites Asset Filters
      - Configuration
    get:
      description: Get Site Asset Filter Details
      operationId: getSiteAssetFilter
      responses:
        '200':
          $ref: '#/components/responses/Assetfilter'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteAssetFilter
      tags:
      - Sites Asset Filters
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/assetfilter_id'
    put:
      description: Updates an existing BLE asset filter for the given site.
      operationId: updateSiteAssetFilter
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./components/schemas/asset_filter.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Assetfilter'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateSiteAssetFilter
      tags:
      - Sites Asset Filters
      - Configuration
  /api/v1/sites/{site_id}/assets:
    get:
      description: Get List of Site Assets
      operationId: listSiteAssets
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/AssetsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSiteAssets
      tags:
      - Sites Assets
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Create Site Asset
      operationId: createSiteAsset
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./components/schemas/asset.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Asset'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createSiteAsset
      tags:
      - Sites Assets
      - Configuration
  /api/v1/sites/{site_id}/assets/import:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: "Impert Site Assets. \n\nIt can be done via a CSV file or a JSON\
        \ payload.\n\n## CSV File Format\n```csv\nname,mac\n\"asset_name\",5c5b53010101\n\
        ``` "
      operationId: importSiteAssets
      parameters:
      - description: API will replace the assets with same mac if provided `upsert`==`True`,
          otherwise will report in errors in response.
        in: query
        name: upsert
        schema:
          default: 'False'
          enum:
          - 'True'
          - 'False'
          type: string
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                - mac: a31eb04e1c38
                  name: Expensive Instrument
                - mac: a31eb04e1c37
                  name: Cheap Instrument
            schema:
              items:
                properties:
                  mac:
                    minLength: 1
                    type: string
                  name:
                    minLength: 1
                    type: string
                required:
                - name
                - mac
                type: object
              minItems: 1
              type: array
              uniqueItems: true
              x-examples:
                example-1:
                - mac: a31eb04e1c38
                  name: Expensive Instrument
                - mac: a31eb04e1c37
                  name: Cheap Instrument
          multipart/form-data:
            schema:
              properties:
                file:
                  description: CSV file
                  format: binary
                  type: string
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: importSiteAssets
      tags:
      - Sites Assets
      - Configuration
  /api/v1/sites/{site_id}/assets/{asset_id}:
    delete:
      description: Delete Site Asset
      operationId: deleteSiteAsset
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteSiteAsset
      tags:
      - Sites Assets
      - Configuration
    get:
      description: Get Site Asset Details
      operationId: getSiteAsset
      responses:
        '200':
          $ref: '#/components/responses/Asset'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteAsset
      tags:
      - Sites Assets
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/asset_id'
    put:
      description: Update Site Asset
      operationId: updateSiteAsset
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./components/schemas/asset.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Asset'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateSiteAsset
      tags:
      - Sites Assets
      - Configuration
  /api/v1/sites/{site_id}/beacons:
    get:
      description: Get List of Site Beacons
      operationId: listSiteBeacons
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/BeaconsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSiteBeacons
      tags:
      - Sites Beacons
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Create Site Beacon
      operationId: createSiteBeacon
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  eddystone_instance: string
                  eddystone_namespace: string
                  eddystone_url: string
                  ibeacon_major: 0
                  ibeacon_minor: 0
                  ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  mac: string
                  map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  name: string
                  power: 0
                  type: eddystone-uid
                  x: 0
                  y: 0
            schema:
              $ref: ./components/schemas/beacon.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Beacon'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createSiteBeacon
      tags:
      - Sites Beacons
      - Configuration
  /api/v1/sites/{site_id}/beacons/{beacon_id}:
    delete:
      description: Delete Site Beacon
      operationId: deleteSiteBeacons
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteSiteBeacons
      tags:
      - Sites Beacons
      - Configuration
    get:
      description: Get Site Beacon Details
      operationId: getSiteBeacon
      responses:
        '200':
          $ref: '#/components/responses/Beacon'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteBeacon
      tags:
      - Sites Beacons
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/beacon_id'
    put:
      description: Update Site Beacon
      operationId: updateSiteBeacons
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  eddystone_instance: string
                  eddystone_namespace: string
                  eddystone_url: string
                  ibeacon_major: 0
                  ibeacon_minor: 0
                  ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  mac: string
                  map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  name: string
                  power: 0
                  type: eddystone-uid
                  x: 0
                  y: 0
            schema:
              $ref: ./components/schemas/beacon.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Beacon'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateSiteBeacons
      tags:
      - Sites Beacons
      - Configuration
  /api/v1/sites/{site_id}/clients/disconnect:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: To unauthorize multiple clients
      operationId: disconnectSiteMultipleClients
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                - 683b679ac024
            schema:
              items:
                type: string
              minItems: 1
              type: array
              uniqueItems: true
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: disconnectSiteMultipleClients
      tags:
      - Sites Clients - Wireless
      - Configuration
  /api/v1/sites/{site_id}/clients/unauthorize:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: "This unauthorize clients (if they are guest) and disconnect them.\
        \ From the guest\u2019s perspective, they will see the splash page again and\
        \ go through the flow (e.g. Terms of Use) again."
      operationId: unauthorizeSiteMultipleClients
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                - 683b679ac024
            schema:
              items:
                type: string
              minItems: 1
              type: array
              uniqueItems: true
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: unauthorizeSiteMultipleClients
      tags:
      - Sites Clients - Wireless
      - Configuration
  /api/v1/sites/{site_id}/clients/{client_mac}/disconnect:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/client_mac'
    post:
      description: "This disconnect a client (and it\u2019s likely to connect back)"
      operationId: disconnectSiteWirelessClient
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: disconnectSiteWirelessClient
      tags:
      - Sites Clients - Wireless
      - Configuration
  /api/v1/sites/{site_id}/clients/{client_mac}/unauthorize:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/client_mac'
    post:
      description: "This unauthorize a client (if it\u2019s a guest) and disconnect\
        \ it. From the guest\u2019s perspective, s/he will see the splash page again\
        \ and go through the flow (e.g. Terms of Use) again."
      operationId: unauthorizeSiteWirelessClient
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: unauthorizeSiteWirelessClient
      tags:
      - Sites Clients - Wireless
      - Configuration
  /api/v1/sites/{site_id}/deviceprofiles/derived:
    get:
      description: Retrieves the list of Device Profiles available for the Site
      operationId: listSiteDeviceProfilesDerived
      parameters:
      - description: whether resolve the site variables
        in: query
        name: resolve
        schema:
          default: false
          type: boolean
      responses:
        '200':
          $ref: '#/components/responses/DeviceprofilesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSiteDeviceProfilesDerived
      tags:
      - Sites Service Policies
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices:
    get:
      description: Get list of devices on the site.
      operationId: listSiteDevices
      parameters:
      - description: device type
        in: query
        name: type
        schema:
          default: ap
          enum:
          - ap
          - switch
          - gateway
          - all
          type: string
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/DevicesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSiteDevices
      tags:
      - Sites Devices
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/import:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: 'Import Information for Multiple Devices


        CSV format:

        ```csv

        mac,name,map_id,x,y,height,orientation,labels,band_24.power,band_24.bandwidth,band_24.channel,band_24.disabled,band_5.power,band_5.bandwidth,band_5.channel,band_5.disabled,band_6.power,band_6.bandwidth,band_6.channel,band_6.disabled

        5c5b53010101,"AP 1",845a23bf-bed9-e43c-4c86-6fa474be7ae5,30,10,2.3,45,"guest,
        campus, vip",1,20,0,false,0,40,0,false,17,80,0,false

        ```'
      operationId: importSiteDevices
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                - aeroscout:
                    enabled: false
                    host: aero.pvt.net
                    locate_connected: true
                  ble_config:
                    beacon_enabled: false
                    beacon_rate: 3
                    beacon_rate_mode: custom
                    beam_disabled:
                    - 1
                    - 3
                    - 6
                    custom_ble_packet_enabled: false
                    custom_ble_packet_frame: 0x........
                    custom_ble_packet_freq_msec: 300
                    eddystone_uid_adv_power: -65
                    eddystone_uid_beams: 2-4,7
                    eddystone_uid_enabled: false
                    eddystone_uid_freq_msec: 200
                    eddystone_uid_instance: 5c5b35000001
                    eddystone_uid_namespace: 2818e3868dec25629ede
                    eddystone_url_adv_power: -65
                    eddystone_url_beams: 2-4,7
                    eddystone_url_enabled: true
                    eddystone_url_freq_msec: 1000
                    eddystone_url_url: https://www.abc.com
                    ibeacon_adv_power: -65
                    ibeacon_beams: 2-4,7
                    ibeacon_enabled: false
                    ibeacon_freq_msec: 0
                    ibeacon_major: 13
                    ibeacon_minor: 138
                    ibeacon_uuid: f3f17139-704a-f03a-2786-0400279e37c3
                    power: 10
                    power_mode: custom
                  centrak:
                    enabled: false
                  client_bridge:
                    auth:
                      psk: foryoureyesonly
                      type: psk
                    enabled: false
                    ssid: Uplink-SSID
                  created_time: 0
                  deviceprofile_id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                  disable_eth1: false
                  disable_eth2: false
                  disable_eth3: false
                  disable_module: false
                  esl_config:
                    cacert: string
                    channel: 3
                    enabled: false
                    host: 1.1.1.1
                    port: 0
                    type: imagotag
                    verify_cert: true
                    vlan_id: 1
                  for_site: true
                  height: 2.75
                  id: 497f6eca-6276-4993-bfeb-53eabbba6f08
                  image1_url: string
                  image2_url: string
                  image3_url: string
                  iot_config:
                    A1:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                    A2:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                    A3:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                    A4:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                    DI1:
                      enabled: false
                      name: string
                      pullup: internal
                    DI2:
                      enabled: false
                      name: string
                      pullup: internal
                    DO:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                  ip_config:
                    dns:
                    - 8.8.8.8
                    - 4.4.4.4
                    dns_suffix:
                    - .mist.local
                    - .mist.com
                    gateway: 10.2.1.254
                    gateway6: 2607:f8b0:4005:808::1
                    ip: 10.2.1.1
                    ip6: 2607:f8b0:4005:808::2004
                    mtu: 0
                    netmask: 255.255.255.0
                    netmask6: /32
                    type: static
                    type6: static
                    vlan_id: 1
                  led:
                    brightness: 255
                    enabled: true
                  locked: true
                  map_id: 63eda950-c6da-11e4-a628-60f81dd250cc
                  mesh:
                    enabled: false
                    group: 1
                    role: base
                  modified_time: 0
                  name: conference room
                  notes: slightly off center
                  ntp_servers:
                  - string
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  orientation: 45
                  poe_passthrough: false
                  port_config:
                    property1:
                      additional_vlan_ids:
                      - 55
                      - 66
                      authentication_protocol: pap
                      disabled: true
                      dynamic_vlan:
                        default_vlan_id: 999
                        enabled: true
                        type: string
                        vlans:
                          1-10: null
                          user: null
                      enable_mac_auth: false
                      forwarding: all
                      mx_tunnel_id: 08cd7499-5841-51c8-e663-fb16b6f3b45e
                      mxtunnel_name: string
                      port_auth: none
                      port_vlan_id: 1
                      radius_config:
                        acct_interim_interval: 0
                        acct_servers:
                        - host: 1.2.3.4
                          keywrap_enabled: true
                          keywrap_format: hex
                          keywrap_kek: '1122334455'
                          keywrap_mack: '1122334455'
                          port: 1813
                          secret: testing123
                        auth_servers:
                        - host: 1.2.3.4
                          keywrap_enabled: true
                          keywrap_format: hex
                          keywrap_kek: '1122334455'
                          keywrap_mack: '1122334455'
                          port: 1812
                          secret: testing123
                        auth_servers_retries: 3
                        auth_servers_timeout: 5
                        coa_enabled: false
                        coa_port: 3799
                        network: string
                        source_ip: string
                      radsec:
                        enabled: true
                        idle_timeout: 60
                        mxcluster_ids:
                        - 572586b7-f97b-a22b-526c-8b97a3f609c4
                        proxy_hosts:
                        - mxedge1.local
                        server_name: radsec.abc.com
                        servers:
                        - host: 1.1.1.1
                          port: 1812
                        use_mxedge: true
                        use_site_mxedge: false
                      vlan_id: 9
                      vland_ids:
                      - 1
                      - 10
                      - 50
                      wxtunnel_id: 7dae216d-7c98-a51b-e068-dd7d477b7216
                      wxtunnel_remote_id: wifiguest
                    property2:
                      additional_vlan_ids:
                      - 55
                      - 66
                      authentication_protocol: pap
                      disabled: true
                      dynamic_vlan:
                        default_vlan_id: 999
                        enabled: true
                        type: string
                        vlans:
                          1-10: null
                          user: null
                      enable_mac_auth: false
                      forwarding: all
                      mx_tunnel_id: 08cd7499-5841-51c8-e663-fb16b6f3b45e
                      mxtunnel_name: string
                      port_auth: none
                      port_vlan_id: 1
                      radius_config:
                        acct_interim_interval: 0
                        acct_servers:
                        - host: 1.2.3.4
                          keywrap_enabled: true
                          keywrap_format: hex
                          keywrap_kek: '1122334455'
                          keywrap_mack: '1122334455'
                          port: 1813
                          secret: testing123
                        auth_servers:
                        - host: 1.2.3.4
                          keywrap_enabled: true
                          keywrap_format: hex
                          keywrap_kek: '1122334455'
                          keywrap_mack: '1122334455'
                          port: 1812
                          secret: testing123
                        auth_servers_retries: 3
                        auth_servers_timeout: 5
                        coa_enabled: false
                        coa_port: 3799
                        network: string
                        source_ip: string
                      radsec:
                        enabled: true
                        idle_timeout: 60
                        mxcluster_ids:
                        - 572586b7-f97b-a22b-526c-8b97a3f609c4
                        proxy_hosts:
                        - mxedge1.local
                        server_name: radsec.abc.com
                        servers:
                        - host: 1.1.1.1
                          port: 1812
                        use_mxedge: true
                        use_site_mxedge: false
                      vlan_id: 9
                      vland_ids:
                      - 1
                      - 10
                      - 50
                      wxtunnel_id: 7dae216d-7c98-a51b-e068-dd7d477b7216
                      wxtunnel_remote_id: wifiguest
                  pwr_config:
                    base: 2000
                    prefer_usb_over_wifi: false
                  radio_config:
                    allow_rrm_disable: false
                    ant_gain_24: 4
                    ant_gain_5: 5
                    ant_gain_6: 5
                    antenna_mode: default
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      channels:
                      - 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: short
                      usage: '24'
                    band_24_usage: '5'
                    band_5:
                      allow_rrm_disable: true
                      ant_gain: 0
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      channels:
                      - 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: short
                      usage: '24'
                    band_5_on_24_radio:
                      allow_rrm_disable: true
                      ant_gain: 0
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      channels:
                      - 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: short
                      usage: '24'
                    band_6:
                      allow_rrm_disable: true
                      ant_gain: 0
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      channels:
                      - 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: short
                      usage: '24'
                    indoor_use: false
                    scanning_enabled: true
                  site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                  uplink_port_config:
                    dot1x: false
                    keep_wlans_up_if_down: false
                  usb_config:
                    cacert: string
                    channel: 3
                    enabled: true
                    host: 1.1.1.1
                    port: 0
                    type: imagotag
                    verify_cert: true
                    vlan_id: 1
                  vars:
                    RADIUS_IP1: 172.31.2.5
                    RADIUS_SECRET: 11s64632d
                  x: 53.5
                  y: 173.1
            schema:
              items:
                $ref: ./components/schemas/device_ap.yaml
              type: array
          application/octet-stream:
            schema:
              format: binary
              type: string
      responses:
        '200':
          $ref: '#/components/responses/DevicesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: importSiteDevices
      tags:
      - Sites Devices
      - Configuration
  /api/v1/sites/{site_id}/devices/reprovision:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: 'To force all APs to reprovision itself again. '
      operationId: reprovisionSiteAllAps
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: reprovisionSiteAllAps
      tags:
      - Sites Devices - Wireless
      - Configuration
  /api/v1/sites/{site_id}/devices/reset_radio_config:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Reset all APs in the Site to use RRM
      operationId: resetSiteAllApsToUseRrm
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  bands:
                  - '24'
                  - '5'
                  - '6'
                  force: false
            schema:
              properties:
                bands:
                  description: list of bands
                  items:
                    type: string
                  type: array
                force:
                  default: false
                  description: whether to reset those with radio disabled. default
                    is false (i.e. if user intentionally disables a radio, honor it)
                  type: boolean
              required:
              - bands
              type: object
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: resetSiteAllApsToUseRrm
      tags:
      - Sites Devices - Wireless
      - Configuration
  /api/v1/sites/{site_id}/devices/restart:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Note that only the devices that are connected will be restarted.
      operationId: multiRestartSiteDevices
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  device_ids:
                  - 00000000-0000-0000-1000-5c5b35584a6f
                  - 00000000-0000-0000-1000-5c5b350ea3b3
              example-2:
                value:
                  device_ids:
                  - 421f6eca-6276-4893-bfeb-53cbbbba6f02
                  node: node0
            schema:
              properties:
                device_ids:
                  items:
                    format: uuid
                    type: string
                  type: array
                node:
                  description: 'only for SSR: if node is not present, both nodes are
                    restarted

                    for other devices: node should not be present'
                  type: string
              required:
              - device_ids
              type: object
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: multiRestartSiteDevices
      tags:
      - Sites Devices
      - Configuration
  /api/v1/sites/{site_id}/devices/send_ble_beacon:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: 'Send arbitrary BLE Beacon for a period of time


        Note that only the devices that are connected will be restarted.'
      operationId: sendSiteDevicesArbitratryBleBeacon
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  beacon_frame: 68b329da9893e34099c7d8ad5cb9c940
                  beacon_freq: 100
                  duration: 10
                  macs:
                  - 5c5b35584a6f
                  - 5c5b350ea3b3
                  map_ids:
                  - 845a23bf-bed9-e43c-4c86-6fa474be7ae5
            schema:
              properties:
                beacon_frame:
                  example: 68b329da9893e34099c7d8ad5cb9c940
                  type: string
                beacon_freq:
                  example: 100
                  type: integer
                duration:
                  example: 10
                  maximum: 60
                  minimum: 1
                  type: integer
                macs:
                  example:
                  - 5c5b35584a6f
                  - 5c5b350ea3b3
                  items:
                    type: string
                  type: array
                map_ids:
                  example:
                  - 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                  items:
                    type: string
                  type: array
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: sendSiteDevicesArbitratryBleBeacon
      tags:
      - Sites Devices - Wireless
      - Configuration
  /api/v1/sites/{site_id}/devices/upgrade:
    get:
      description: Get all upgrades for site
      operationId: listSiteDevicesUpgrade
      parameters:
      - in: query
        name: status
        schema:
          enum:
          - downloading
          - completed
          - created
          - downloaded
          - upgrading
          - cancelled
          - failed
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DeviceUpgradeArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSiteDevicesUpgrade
      tags:
      - Sites Devices Upgrades
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: "Upgrade Multiple Device\n\n**Note**: this call doesn\u2019t guarantee\
        \ the devices to be upgraded right away (they may be offline)"
      operationId: multiUpgradeSiteDevices
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  canary_phases:
                  - 1
                  - 10
                  - 50
                  - 100
                  device_ids:
                  - string
                  enable_p2p: true
                  force: false
                  max_failure_percentage: 5
                  max_failures:
                  - 0
                  models:
                  - string
                  start_time: 0
                  strategy: big_bang
                  version: stable
            schema:
              $ref: ./components/schemas/device_upgrade.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/DeviceUpgrade'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: multiUpgradeSiteDevices
      tags:
      - Sites Devices Upgrades
      - Configuration
  /api/v1/sites/{site_id}/devices/upgrade/{upgrade_id}:
    get:
      description: Get Site Device Upgrade
      operationId: getSiteUpgrade
      responses:
        '200':
          $ref: '#/components/responses/DeviceUpgrade'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteUpgrade
      tags:
      - Sites Devices Upgrades
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/upgrade_id'
  /api/v1/sites/{site_id}/devices/upgrade/{upgrade_id}/cancel:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/upgrade_id'
    post:
      description: Best effort to cancel an upgrade. Devices which are already upgraded
        wont be touched
      operationId: cancelSiteDeviceUpgrade
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: cancelSiteDeviceUpgrade
      tags:
      - Sites Devices Upgrades
      - Configuration
  /api/v1/sites/{site_id}/devices/upgrade_bios:
    parameters:
    - in: path
      name: site_id
      required: true
      schema:
        type: string
    post:
      description: Upgrade Bios Multiple Device
      operationId: upgraseSiteMultipleDevicesBios
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  device_ids:
                  - 00000000-0000-0000-1000-5c5b35584a6f
                  models:
                  - EX4400-48T
                  version: CDEN_P_EX1_00.15.01.00
            schema:
              properties:
                device_ids:
                  description: list of device id to upgrade bios
                  items:
                    example: 00000000-0000-0000-1000-5c5b35584a6f
                    format: uuid
                    type: string
                  type: array
                models:
                  description: list of device model to upgrade bios
                  items:
                    example: EX4400-48T
                    type: string
                  type: array
                reboot:
                  default: false
                  description: Reboot device immediately after upgrade is completed
                  type: boolean
                version:
                  description: specific bios version
                  example: CDEN_P_EX1_00.15.01.00
                  type: string
              type: object
              x-examples:
                Example 1:
                  device_ids:
                  - 00000000-0000-0000-1000-5c5b35584a6f
                  models:
                  - EX4400-48T
                  version: CDEN_P_EX1_00.15.01.00
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: upgraseSiteMultipleDevicesBios
      tags:
      - Sites Devices Upgrades
      - Configuration
  /api/v1/sites/{site_id}/devices/versions:
    get:
      description: Get List of Available Device Versions
      operationId: listSiteAvailableDeviceVersions
      parameters:
      - description: fetch version for device type (E.g. switch)
        in: query
        name: type
        schema:
          default: ap
          enum:
          - ap
          - switch
          - gateway
          type: string
      - description: fetch version for device model, use/combine with `type` as needed
          (for switch and gateway devices)
        in: query
        name: model
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DeviceVersion'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSiteAvailableDeviceVersions
      tags:
      - Sites Devices Upgrades
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/zerioze:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Zeroize all FIPS APs in the Site
      operationId: zeroizeSiteFipsAllAps
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  password: NUKETHESITE
            schema:
              properties:
                password:
                  description: FIPS zeroize password
                  type: string
              required:
              - password
              type: object
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: zeroizeSiteFipsAllAps
      tags:
      - Sites Devices - Wireless
      - Configuration
  /api/v1/sites/{site_id}/devices/{device_id}:
    delete:
      description: Delete Site Device
      operationId: deleteSiteDevice
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteSiteDevice
      tags:
      - Sites Devices
      - Configuration
    get:
      description: Get Device Configuration
      operationId: getSiteDevice
      responses:
        '200':
          $ref: '#/components/responses/Device'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteDevice
      tags:
      - Sites Devices
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    put:
      description: Update Device Configuration
      operationId: updateSiteDevice
      requestBody:
        content:
          application/json:
            examples:
              ap:
                value:
                  aeroscout:
                    enabled: false
                    host: aero.pvt.net
                    locate_connected: true
                  ble_config:
                    beacon_enabled: false
                    beacon_rate: 3
                    beacon_rate_mode: custom
                    beam_disabled:
                    - 1
                    - 3
                    - 6
                    custom_ble_packet_enabled: false
                    custom_ble_packet_frame: 0x........
                    custom_ble_packet_freq_msec: 300
                    eddystone_uid_adv_power: -65
                    eddystone_uid_beams: 2-4,7
                    eddystone_uid_enabled: false
                    eddystone_uid_freq_msec: 200
                    eddystone_uid_instance: 5c5b35000001
                    eddystone_uid_namespace: 2818e3868dec25629ede
                    eddystone_url_adv_power: -65
                    eddystone_url_beams: 2-4,7
                    eddystone_url_enabled: true
                    eddystone_url_freq_msec: 1000
                    eddystone_url_url: https://www.abc.com
                    ibeacon_adv_power: -65
                    ibeacon_beams: 2-4,7
                    ibeacon_enabled: false
                    ibeacon_freq_msec: 0
                    ibeacon_major: 13
                    ibeacon_minor: 138
                    ibeacon_uuid: f3f17139-704a-f03a-2786-0400279e37c3
                    power: 10
                    power_mode: custom
                  centrak:
                    enabled: false
                  client_bridge:
                    auth:
                      psk: foryoureyesonly
                      type: psk
                    enabled: false
                    ssid: Uplink-SSID
                  created_time: 0
                  deviceprofile_id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                  disable_eth1: false
                  disable_eth2: false
                  disable_eth3: false
                  disable_module: false
                  esl_config:
                    cacert: string
                    channel: 3
                    enabled: false
                    host: 1.1.1.1
                    port: 0
                    type: imagotag
                    verify_cert: true
                    vlan_id: 1
                  for_site: true
                  height: 2.75
                  id: 497f6eca-6276-4993-bfeb-53ebbbba6f08
                  image1_url: string
                  image2_url: string
                  image3_url: string
                  iot_config:
                    A1:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                    A2:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                    A3:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                    A4:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                    DI1:
                      enabled: false
                      name: string
                      pullup: internal
                    DI2:
                      enabled: false
                      name: string
                      pullup: internal
                    DO:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                  ip_config:
                    dns:
                    - 8.8.8.8
                    - 4.4.4.4
                    dns_suffix:
                    - .mist.local
                    - .mist.com
                    gateway: 10.2.1.254
                    gateway6: 2607:f8b0:4005:808::1
                    ip: 10.2.1.1
                    ip6: 2607:f8b0:4005:808::2004
                    mtu: 0
                    netmask: 255.255.255.0
                    netmask6: /32
                    type: static
                    type6: static
                    vlan_id: 1
                  led:
                    brightness: 255
                    enabled: true
                  locked: true
                  map_id: 63eda950-c6da-11e4-a628-60f81dd250cc
                  mesh:
                    enabled: false
                    group: 1
                    role: base
                  modified_time: 0
                  name: conference room
                  notes: slightly off center
                  ntp_servers:
                  - string
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  orientation: 45
                  poe_passthrough: false
                  port_config:
                    property1:
                      additional_vlan_ids:
                      - 55
                      - 66
                      authentication_protocol: pap
                      disabled: true
                      dynamic_vlan:
                        default_vlan_id: 999
                        enabled: true
                        type: string
                        vlans:
                          1-10: null
                          user: null
                      enable_mac_auth: false
                      forwarding: all
                      mx_tunnel_id: 08cd7499-5841-51c8-e663-fb16b6f3b45e
                      mxtunnel_name: string
                      port_auth: none
                      port_vlan_id: 1
                      radius_config:
                        acct_interim_interval: 0
                        acct_servers:
                        - host: 1.2.3.4
                          keywrap_enabled: true
                          keywrap_format: hex
                          keywrap_kek: '1122334455'
                          keywrap_mack: '1122334455'
                          port: 1813
                          secret: testing123
                        auth_servers:
                        - host: 1.2.3.4
                          keywrap_enabled: true
                          keywrap_format: hex
                          keywrap_kek: '1122334455'
                          keywrap_mack: '1122334455'
                          port: 1812
                          secret: testing123
                        auth_servers_retries: 3
                        auth_servers_timeout: 5
                        coa_enabled: false
                        coa_port: 3799
                        network: string
                        source_ip: string
                      radsec:
                        enabled: true
                        idle_timeout: 60
                        mxcluster_ids:
                        - 572586b7-f97b-a22b-526c-8b97a3f609c4
                        proxy_hosts:
                        - mxedge1.local
                        server_name: radsec.abc.com
                        servers:
                        - host: 1.1.1.1
                          port: 1812
                        use_mxedge: true
                        use_site_mxedge: false
                      vlan_id: 9
                      vland_ids:
                      - 1
                      - 10
                      - 50
                      wxtunnel_id: 7dae216d-7c98-a51b-e068-dd7d477b7216
                      wxtunnel_remote_id: wifiguest
                    property2:
                      additional_vlan_ids:
                      - 55
                      - 66
                      authentication_protocol: pap
                      disabled: true
                      dynamic_vlan:
                        default_vlan_id: 999
                        enabled: true
                        type: string
                        vlans:
                          1-10: null
                          user: null
                      enable_mac_auth: false
                      forwarding: all
                      mx_tunnel_id: 08cd7499-5841-51c8-e663-fb16b6f3b45e
                      mxtunnel_name: string
                      port_auth: none
                      port_vlan_id: 1
                      radius_config:
                        acct_interim_interval: 0
                        acct_servers:
                        - host: 1.2.3.4
                          keywrap_enabled: true
                          keywrap_format: hex
                          keywrap_kek: '1122334455'
                          keywrap_mack: '1122334455'
                          port: 1813
                          secret: testing123
                        auth_servers:
                        - host: 1.2.3.4
                          keywrap_enabled: true
                          keywrap_format: hex
                          keywrap_kek: '1122334455'
                          keywrap_mack: '1122334455'
                          port: 1812
                          secret: testing123
                        auth_servers_retries: 3
                        auth_servers_timeout: 5
                        coa_enabled: false
                        coa_port: 3799
                        network: string
                        source_ip: string
                      radsec:
                        enabled: true
                        idle_timeout: 60
                        mxcluster_ids:
                        - 572586b7-f97b-a22b-526c-8b97a3f609c4
                        proxy_hosts:
                        - mxedge1.local
                        server_name: radsec.abc.com
                        servers:
                        - host: 1.1.1.1
                          port: 1812
                        use_mxedge: true
                        use_site_mxedge: false
                      vlan_id: 9
                      vland_ids:
                      - 1
                      - 10
                      - 50
                      wxtunnel_id: 7dae216d-7c98-a51b-e068-dd7d477b7216
                      wxtunnel_remote_id: wifiguest
                  pwr_config:
                    base: 2000
                    prefer_usb_over_wifi: false
                  radio_config:
                    allow_rrm_disable: false
                    ant_gain_24: 4
                    ant_gain_5: 5
                    ant_gain_6: 5
                    antenna_mode: default
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      channels:
                      - 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: short
                      usage: '24'
                    band_24_usage: '5'
                    band_5:
                      allow_rrm_disable: true
                      ant_gain: 0
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      channels:
                      - 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: short
                      usage: '24'
                    band_5_on_24_radio:
                      allow_rrm_disable: true
                      ant_gain: 0
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      channels:
                      - 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: short
                      usage: '24'
                    band_6:
                      allow_rrm_disable: true
                      ant_gain: 0
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      channels:
                      - 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: short
                      usage: '24'
                    indoor_use: false
                    scanning_enabled: true
                  site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                  uplink_port_config:
                    dot1x: false
                    keep_wlans_up_if_down: false
                  usb_config:
                    cacert: string
                    channel: 3
                    enabled: true
                    host: 1.1.1.1
                    port: 0
                    type: imagotag
                    verify_cert: true
                    vlan_id: 1
                  vars:
                    RADIUS_IP1: 172.31.2.5
                    RADIUS_SECRET: 11s64632d
                  x: 53.5
                  y: 173.1
              gateway:
                value:
                  additional_config_cmds:
                  - set snmp community public
                  deviceprofile_id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                  dhcpd_config:
                    corp:
                      dns_servers:
                      - 8.8.8.8
                      - 4.4.4.4
                      dns_suffix:
                      - .mist.local
                      - .mist.com
                      fixed_bindings:
                        5684dae9ac8b:
                          ip: 192.168.70.35
                          name: John
                      gateway: 192.168.70.1
                      ip_end: 192.168.70.200
                      ip_start: 192.168.70.100
                      type: local
                    enabled: true
                  extra_routes:
                    0.0.0.0/0:
                      via: 10.2.1.1
                  image1_url: https://url/to/image.png
                  ip_configs:
                    corp:
                      ip: 192.168.10.1
                      type: static
                  managed: false
                  name: corp-a135
                  networks: {}
                  ntp_servers:
                  - pool.ntp.org
                  - time.google.com
                  oob_ip_config:
                    ip: 192.168.50.3
                    netmask: 255.255.255.0
                    type: static
                  port_config:
                    cl-0/0/1:
                      ip_config:
                        type: pppoe
                      usage: wan
                      wan_config:
                        backup_only: true
                    ge-0/0/0:
                      ip_config:
                        type: dhcp
                      usage: wan
                    ge-0/0/0,ge-7/0/0:
                      clustered: true
                      ip_config: {}
                      reth_idx: 3
                      usage: wan
                    ge-0/0/1-5:
                      usage: lan
                    ge-0/0/7:
                      ip_config:
                        type: static
                      usage: wan
                  port_forward:
                    remote-ssh:
                      ip_port: 10.2.5.3
                      ip_range: 10.2.5.1/32-10.2.5.20/32
                      protocol: tcp
                  vars:
                    RADIUS_IP1: 172.31.2.5
                    RADIUS_SECRET: 11s64632d
              switch:
                value:
                  additional_config_cmds:
                  - set snmp community public
                  deviceprofile_id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                  disable_auto_config: false
                  image1_url: https://url/to/image.png
                  ip_config:
                    dns:
                    - 8.8.8.8
                    - 4.4.4.4
                    dns_suffix:
                    - .mist.local
                    - .mist.com
                    gateway: 10.2.1.254
                    ip: 10.2.1.1
                    netmask: 255.255.255.0
                    network: default
                    type: static
                  managed: false
                  name: corp-a135
                  networks: {}
                  notes: slightly off center
                  ntp_servers:
                  - pool.ntp.org
                  - time.google.com
                  oob_ip_config: {}
                  other_ip_configs:
                    guest:
                      ip: 10.3.3.1
                      netmask: 255.255.255.0
                      type: static
                  port_config:
                    '*':
                      usage: default
                    ge-0/0/0:
                      aggregated: true
                      description: to dist-sw-01
                      usage: uplink
                    ge-0/0/1:
                      dynamic_usage: dynamic
                      usage: default
                    ge-0/0/8-16,ge-1/0/0-47:
                      usage: ap
                  port_usages: {}
                  radius_config:
                    acct_interim_interval: 0
                    acct_servers:
                    - host: 1.2.3.4
                      port: 1812
                      secret: testing123
                    auth_servers:
                    - host: 1.2.3.4
                      port: 1812
                      secret: testing123
                    - host: radius.internal
                      port: 1812
                      secret: testing123
                    auth_servers_retries: 3
                    auth_servers_timeout: 5
                  role: access
                  vars:
                    RADIUS_IP1: 172.31.2.5
                    RADIUS_SECRET: 11s64632d
            schema:
              example:
                name: conference room
              oneOf:
              - $ref: ./components/schemas/device_ap.yaml
              - $ref: ./components/schemas/device_switch.yaml
              - $ref: ./components/schemas/device_gateway.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Device'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateSiteDevice
      tags:
      - Sites Devices
      - Configuration
  /api/v1/sites/{site_id}/devices/{device_id}/arp:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: "ARP can be performed on the Device. The output will be available\
        \ through websocket. As there can be multiple command issued against the same\
        \ AP at the same time and the output all goes through the same websocket stream,\
        \ session is introduced for demux.\n\n\n#### Subscribe to Device Command outputs\n\
        `WS /api-ws/v1/stream`\n\n```json\n{\n    \"subscribe\": \"/sites/{site_id}/devices/{device_id}/cmd\"\
        \n}\n```\n##### Example output from ws stream\n```json\n{ \n \"event\": \"\
        data\", \n \"channel\": \"/sites/4ac1dcf4-9d8b-7211-65c4-057819f0862b/devices/00000000-0000-0000-1000-5c5b350e0060/cmd\"\
        , \n \"data\": { \n   \"session\": \"session_id\", \n   \"raw\": \n   \"Output\"\
        : \"\\tMAC\\t\\tDEV\\tVLAN\\tRx Packets\\t\\t Rx Bytes\\t\\tTx Packets\\t\\\
        t Tx Bytes\\tFlows\\tIdle sec\\n-----------------------------------------------------------------------------------------------------------------------\"\
        \n  } \n}\n```"
      operationId: arpFromDevice
      requestBody:
        content:
          application/json:
            examples:
              Example 1:
                value:
                  node: node0
            schema:
              properties:
                node:
                  description: only for HA
                  enum:
                  - node0
                  - node1
                  type: string
              type: object
      responses:
        '200':
          $ref: '#/components/responses/Session'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: arpFromDevice
      tags:
      - Sites Devices Utilities
      - Configuration
  /api/v1/sites/{site_id}/devices/{device_id}/bounce_port:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: "Port Bounce can be performed from the Switch.The output will be\
        \ available through websocket. As there can be multiple command issued against\
        \ the same AP at the same time and the output all goes through the same websocket\
        \ stream, session is introduced for demux.\n\n#### Subscribe to Device Command\
        \ outputs\n`WS /api-ws/v1/stream`\n\n```json\n{\n    \"subscribe\": \"/sites/{site_id}/devices/{device_id}/cmd\"\
        \n}\n```\n##### Example output from ws stream\n```json\n{\n    \"event\":\
        \ \"data\",\n    \"channel\": \"/sites/4ac1dcf4-9d8b-7211-65c4-057819f0862b/devices/00000000-0000-0000-1000-5c5b350e0060/cmd\"\
        ,\n    \"data\": {\n        \"session\": \"session_id\",\n        \"raw\"\
        : \"Port bounce complete.\"\n    }\n}\n```"
      operationId: portsBounceFromSwitch
      requestBody:
        content:
          application/json:
            examples:
              multiple:
                value:
                  ports:
                  - ge-0/0/0
                  - ge-0/0/1
              single:
                value:
                  port: ge-0/0/0
            schema:
              properties:
                port:
                  description: the port to bounce
                  type: string
                ports:
                  description: list of ports to bounce
                  items:
                    type: string
                  type: array
              type: object
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: portsBounceFromSwitch
      tags:
      - Sites Devices - Wired
      - Configuration
  /api/v1/sites/{site_id}/devices/{device_id}/cable_test:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: "TDR can be performed from the Switch. The output will be available\
        \ through websocket. As there can be multiple command issued against the same\
        \ Switch at the same time and the output all goes through the same websocket\
        \ stream, session is introduced for demux.\n\n#### Subscribe to Device Command\
        \ outputs\n`WS /api-ws/v1/stream`\n\n```json\n{\n    \"subscribe\": \"/sites/{site_id}/devices/{device_id}/cmd\"\
        \n}\n```\n##### Example output from ws stream\n```json\n{\n    \"event\":\
        \ \"data\",\n    \"channel\": \"/sites/4ac1dcf4-9d8b-7211-65c4-057819f0862b/devices/00000000-0000-0000-1000-5c5b350e0060/cmd\"\
        ,\n    \"data\": {\n        \"session\": \"session_id\",\n        \"raw\"\
        : \"Interface TDR detail:\\nTest status : Test successfully executed  ge-0/0/0\\\
        n\"\n    }\n}\n```"
      operationId: cableTestFromSwitch
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  port: ge-0/0/0
            schema:
              properties:
                port:
                  description: the port to run the cable test
                  type: string
              required:
              - port
              type: object
      responses:
        '200':
          $ref: '#/components/responses/Session'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: cableTestFromSwitch
      tags:
      - Sites Devices - Wired
      - Configuration
  /api/v1/sites/{site_id}/devices/{device_id}/check_radius_server:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: "Ping test from the AP to confirm \u2018reachability\u2019 of the\
        \ Radius server. Utilize Juniper EX switch(to which an AP is connected to)\
        \ radius test capabilities to get details on the Radius Server \u2018availability\u2019\
        ."
      operationId: startSiteSwitchRadiusSyntheticTest
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  password: string
                  profile: dot1x
                  user: string
            schema:
              properties:
                password:
                  description: Specify the password associated with the username
                  type: string
                profile:
                  default: dot1x
                  description: Specify the access profile associated with the subscriber
                  type: string
                user:
                  description: Specify the subscriber username to test
                  type: string
              required:
              - user
              - password
              type: object
              x-examples:
                example-1:
                  password: password
                  profile: profilename
                  user: username
      responses:
        '200':
          $ref: '#/components/responses/Session'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: triggerSiteSwitchRadiusSyntheticTest
      tags:
      - Sites Synthetic Tests
      - Configuration
  /api/v1/sites/{site_id}/devices/{device_id}/clear_arp:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: 'Clear the entire ARP cache or a subset if arguments are provided.


        *Note*: port_id is optional if neither vlan nor ip is specified'
      operationId: clearSiteSsrArpCache
      requestBody:
        content:
          application/json:
            examples:
              Example 1:
                value:
                  ip: 10.1.1.1
                  node: node0
                  port_id: wan
                  vlan: 1000
            schema:
              properties:
                ip:
                  description: The IP address for which to clear an ARP entry. port_id
                    must be specified. Both vlan and ip cannot be specified.
                  example: 10.1.1.1
                  type: string
                node:
                  description: only for HA
                  enum:
                  - node0
                  - node1
                  type: string
                port_id:
                  description: The device interface on which to clear the ARP cache.
                  example: wan
                  type: string
                vlan:
                  description: The VLAN on which to clear the ARP cache. port_id must
                    be specified. Both vlan and ip cannot be specified.
                  example: 1000
                  type: integer
              type: object
          application/xml:
            schema:
              properties:
                ip:
                  description: The IP address for which to clear an ARP entry. port_id
                    must be specified. Both vlan and ip cannot be specified.
                  type: string
                port_id:
                  description: The device interface on which to clear the ARP cache.
                  type: string
                vlan:
                  description: The VLAN on which to clear the ARP cache. port_id must
                    be specified. Both vlan and ip cannot be specified.
                  type: integer
              type: object
              x-examples:
                example-1:
                  ip: 10.1.1.1
                  port_id: wan
                  vlan: 1000
      responses:
        '200':
          $ref: '#/components/responses/Session'
        '400':
          description: 'port_id must be specified with vlan or ip

            Both vlan and ip cannot be specified'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: clearSiteSsrArpCache
      tags:
      - Sites Devices - WAN
      - Configuration
  /api/v1/sites/{site_id}/devices/{device_id}/clear_bgp:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: Clear routes associated with one or all BGP neighbors
      operationId: clearSiteSsrBgpRoutes
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  neighbor: all
                  type: in
                  vrf: TestVrf
            schema:
              properties:
                neighbor:
                  description: neighbor ip-address or `all`
                  minLength: 1
                  type: string
                type:
                  default: hard
                  enum:
                  - in
                  - out
                  - hard
                  - soft
                  minLength: 1
                  type: string
                vrf:
                  description: vrf name
                  minLength: 1
                  type: string
              required:
              - neighbor
              type: object
              x-examples:
                example-1:
                  neighbor: all
                  type: in
                  vrf: TestVrf
      responses:
        '200':
          $ref: '#/components/responses/Session'
        '400':
          description: parameter neighbor absent
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: clearSiteSsrBgpRoutes
      tags:
      - Sites Devices - WAN
      - Configuration
  /api/v1/sites/{site_id}/devices/{device_id}/clear_bpdu_error:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: Clear bridge protocol data unit (BPDU) error condition caused by
        the detection of a possible bridging loop from Spanning Tree Protocol (STP)
        operation that renders the port unoperational.
      operationId: clearBpduErrosFromPortsOnSwitch
      requestBody:
        content:
          application/json:
            schema:
              properties:
                port:
                  description: the port on which to clear the detected BPDU error,
                    or `all` for all ports
                  type: string
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          description: Port not specified
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: clearBpduErrosFromPortsOnSwitch
      tags:
      - Sites Devices - Wired
      - Configuration
  /api/v1/sites/{site_id}/devices/{device_id}/clear_macs:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: Clear all learned MAC addresses, including persistent MAC addresses,
        on a port.
      operationId: clearAllLearnedMacsFromPortOnSwitch
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  ports:
                  - ge-0/0/0.0
            schema:
              properties:
                ports:
                  description: the ports on which to clear the detected BPDU error,
                    or `["all"]` for all ports
                  items:
                    type: string
                  type: array
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: clearAllLearnedMacsFromPortOnSwitch
      tags:
      - Sites Devices - Wired
      - Configuration
  /api/v1/sites/{site_id}/devices/{device_id}/config_cmd:
    get:
      description: 'Get Config CLI Commands

        For a brown-field switch deployment where we adopted the switch through Adoption
        Command, we do not wipe out / overwrite the existing config automatically.
        Instead, we generate CLI commands that we would have generated. The user can
[...]
