openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2309.1.1**

    >

    > Date: **September 28, 2023**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: self
  version: 2309.1.1
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Self Account
- description: "Like many other API providers, it\u2019s also possible to generate\
    \ API Tokens to be used (in HTTP Header) for authentication. An API token ties\
    \ to a Admin with equal or less privileges.\n\nNotes:\n* an API token generated\
    \ for a specific admin has the same privilege as the user\n* an API token will\
    \ be automatically removed if not used for > 90 days\n* SSO admins cannot generate\
    \ these API tokens. Refer Org level API tokens (/api/v1/docs/Org#api-token) which\
    \ can have privileges of a specific Org/Site for more information.    "
  name: Self API Token
- name: Self OAuth2
- name: Self MFA
- name: Self Alarms
- name: Self Audit Logs
paths:
  /api/v1/self:
    delete:
      description: 'To delete ones account and every associated with it. The effects:


        the account would be deleted

        any orphaned Org (that only has this account as admin) will be deleted

        along with all data with Org (sites, wlans, devices) will be gone.'
      operationId: deleteSelf
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              examples:
                if any of the org to be deleted still has inventory:
                  value:
                    detail: inventory not empty
                    org_id: 424f6eca-7276-4993-bfeb-53cbbbba6f05
              schema:
                properties:
                  detail:
                    type: string
                  org_id:
                    format: uuid
                    type: string
                required:
                - detail
                - org_id
                type: object
          description: Bad Request
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteSelf
      tags:
      - Self Account
    get:
      description: "Get \u2018whoami\u2019 and privileges (which org and which sites\
        \ I have access to)"
      operationId: getSelf
      responses:
        '200':
          $ref: '#/components/responses/Admin'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSelf
      tags:
      - Self Account
    put:
      description: update Account Information
      operationId: updateSelf
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  email: john.smith@mycorp.net
                  enable_two_factor: true
                  first_name: John
                  last_name: Smith
                  password: foryoureyesonly
                  persona: security
                  phone: '14081112222'
                  phone2: '14083334444'
            schema:
              $ref: '#/components/schemas/admin'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Admin'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateSelf
      tags:
      - Self Account
  /api/v1/self/update:
    post:
      description: 'Change Email

        We require the user to verify that they actually own the email address they
        intend to change it to.


        After the API call, the user will receive an email to the new email address
        with a link like https://manage.mist.com/verify/update?expire=:exp_time&email=:admin_email&token=:token


        Upon clicking the link, the user is provided with a login page to authenticate
        using existing credentials. After successful login, the email address of the
        user gets updated


        **Note**: The request parameter email can be used by UI to validate that the
        current session (if any) belongs to the admin or provide a login page (by
        pre-populating the email on login screen). UI can also use the request parameter
        expire to validate token expiry.'
      operationId: updateSelfEmail
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  email: new@mistsys.com
            schema:
              $ref: '#/components/schemas/Model_object_email'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              examples:
                invalid email address:
                  value: {}
                new email address already exists:
                  value:
                    detail: email already existed
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: invalid email address or new email address already exists
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateSelfEmail
      tags:
      - Self Account
  /api/v1/self/update/verify/{token}:
    parameters:
    - $ref: '#/components/parameters/token'
    get:
      description: Verify Email change
      operationId: verifySelfEmail
      responses:
        '200':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: With correct verification, the email address of the user will
            be updated
        '400':
          content:
            application/json:
              examples:
                invalid or expired token:
                  value:
                    detail: invalid token
                new email address already exists:
                  value:
                    detail: email already existed
                request comes from authenticated users other than admin:
                  value:
                    detail: invalid token
              schema:
                properties:
                  detail:
                    type: string
                required:
                - detail
                type: object
          description: Bad Request
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: verifySelfEmail
      tags:
      - Self Account
  /api/v1/self/subscriptions:
    get:
      description: Get List of all the subscriptions
      operationId: listAlarmSubscriptions
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties:
                    org_id:
                      format: uuid
                      type: string
                  required:
                  - org_id
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listAlarmSubscriptions
      tags:
      - Self Alarms
  /api/v1/self/apitokens:
    get:
      description: Get List of Current User API Tokens
      operationId: listApiTokens
      responses:
        '200':
          $ref: '#/components/responses/ApitokensUserArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listApiTokens
      tags:
      - Self API Token
    post:
      description: 'Create API Token

        Note that the key is only available during creation time.'
      operationId: createApiToken
      requestBody:
        content:
          application/json:
            examples:
              Example 1:
                value:
                  created_time: 1626875902
                  last_used: 1690115110
                  name: org_token_xyz
            schema:
              $ref: '#/components/schemas/user_apitoken'
      responses:
        '200':
          $ref: '#/components/responses/ApitokensUserArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createApiToken
      tags:
      - Self API Token
  /api/v1/self/apitokens/{apitoken_id}:
    parameters:
    - in: path
      name: apitoken_id
      required: true
      schema:
        type: string
    delete:
      description: Delete an API Token
      operationId: deleteApiToken
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteApiToken
      tags:
      - Self API Token
    get:
      description: Get User API Token
      operationId: getApiToken
      responses:
        '200':
          $ref: '#/components/responses/ApitokenUser'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getApiToken
      tags:
      - Self API Token
    put:
      description: Update User API Token
      operationId: updateApiToken
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  name: org_token_xyz
            schema:
              $ref: '#/components/schemas/user_apitoken'
      responses:
        '200':
          $ref: '#/components/responses/ApitokenUser'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateApiToken
      tags:
      - Self API Token
  /api/v1/self/logs:
    get:
      description: 'Get List of change logs across all Orgs for current admin

        Audit logs records all administrative activities done by current admin across
        all orgs'
      operationId: listSelfAuditLogs
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    end: 1428954000
                    limit: 100
                    page: 1
                    results:
                    - admin_id: 72bfa2bd-e58a-4670-9d20-a1468f7a6f58
                      admin_name: test@mistsys.com
                      after:
                        auth:
                          type: open
                      before:
                        auth:
                          type: psk
                      id: c6f9347b-b0a4-4a23-b927-fa9249f2ffb2
                      message: Update WLAN "Corporate"
                      org_id: 423f6eca-6276-4994-bfeb-53cbbbba6f04
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      timestamp: 1431382121
                    start: 1428939600
                    total: 135
              schema:
                properties:
                  end:
                    type: integer
                  limit:
                    type: integer
                  page:
                    type: integer
                  results:
                    items:
                      properties:
                        admin_id:
                          format: uuid
                          type: string
                        admin_name:
                          type: string
                        after:
                          description: field values after the change
                          properties:
                            auth:
                              properties:
                                type:
                                  type: string
                              required:
                              - type
                              type: object
                          required:
                          - auth
                          type: object
                        before:
                          description: field values prior to the change
                          properties:
                            auth:
                              properties:
                                type:
                                  type: string
                              required:
                              - type
                              type: object
                          required:
                          - auth
                          type: object
                        for_site:
                          readOnly: true
                          type: boolean
                        id:
                          format: uuid
                          type: string
                        message:
                          type: string
                        org_id:
                          format: uuid
                          type: string
                        site_id:
                          format: uuid
                          type: string
                        timestamp:
                          type: number
                      required:
                      - admin_id
                      - admin_name
                      - id
                      - message
                      - org_id
                      - site_id
                      - timestamp
                      type: object
                    minItems: 1
                    type: array
                    uniqueItems: true
                  start:
                    type: integer
                  total:
                    type: integer
                required:
                - end
                - limit
                - page
                - results
                - start
                - total
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSelfAuditLogs
      tags:
      - Self Audit Logs
  /api/v1/self/two_factor/token:
    get:
      description: Generate QR code for verification
      operationId: generateQrCodeForVerification
      parameters:
      - description: if `by`==`qrcode`, returns the secret as a qrcode image
        in: query
        name: by
        schema:
          default: qrcode
          enum:
          - qrcode
          type: string
      responses:
        '200':
          $ref: '#/components/responses/TwoFactorToken'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: generateQrCodeForVerification
      tags:
      - Self MFA
  /api/v1/self/two_factor/verify:
    post:
      description: "Verify Two-factor (OTP)\n\nTo verify two-factor authentication\
        \ by using a code generated by app (e.g. Google Authenticator, Authy) or by\
        \ SMS. Upon successful verification, the otp_verified will be set to true\
        \ if it hasn\u2019t already been."
      operationId: verifyTwoFactor
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  two_factor: '123456'
            schema:
              properties:
                two_factor:
                  type: string
              required:
              - two_factor
              type: object
        description: Request Body
      responses:
        '200':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: Response when 2FA verification is successful
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: verifyTwoFactor
      tags:
      - Self MFA
  /api/v1/self/oauth/{provider}:
    parameters:
    - in: path
      name: provider
      required: true
      schema:
        type: string
    get:
      description: Obtain Authorization URL for Linking
      operationId: getOAuth2UrlForLinking
      parameters:
      - in: query
        name: forward
        schema:
          example: http://manage.mist.com/oauth/callback.html
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    authorization_url: https://accounts.google.com/o/oauth2/v2/auth?.....
                    linked: false
              schema:
                properties:
                  authorization_url:
                    type: string
                  linked:
                    type: boolean
                required:
                - linked
                - authorization_url
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOAuth2UrlForLinking
      tags:
      - Self OAuth2
    post:
      description: Link Mist account with an OAuth2 Provider
      operationId: linkOAuth2MistAccount
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  code: 4/S9tegDeLkrYg0L9pWNXV4cgMVbbr3SR9t693A2kSHzw
            schema:
              properties:
                code:
                  type: string
              required:
              - code
              type: object
        description: Request Body
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    action: oauth account linked
                    id: google-user-id
              schema:
                properties:
                  action:
                    type: string
                  id:
                    type: string
                required:
                - action
                - id
                type: object
          description: OK
        '400':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    error: access_denied
                    error_description: The resource owner or authorization server
                      denied the request.
              schema:
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
                required:
                - error
                - error_description
                type: object
          description: Authorization Error
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: linkOAuth2MistAccount
      tags:
      - Self OAuth2
components:
  parameters:
    duration:
      description: "For historical stats and/or logs where time range is needed, you\
        \ can specify the time range in a few different ways:\n  * ?start=1430000000&end=1430864000\t\
        specify the start / end\n  * ?end=1430864000&duration=1d\tspecify end time\
        \ and duration\n  * ?duration=1d\tspecify duration, end will be now() in seconds"
      in: query
      name: duration
      required: false
      schema:
        default: 1d
        example: 10m
        type: string
    end:
      in: query
      name: end
      schema:
        default: 0
        minimum: 0
        type: integer
    limit:
      in: query
      name: limit
      required: false
      schema:
        default: 100
        minimum: 0
        type: integer
    page:
      in: query
      name: page
      required: false
      schema:
        default: 1
        minimum: 1
        type: integer
    start:
      in: query
      name: start
      schema:
        default: 0
        minimum: 0
        type: integer
    token:
      in: path
      name: token
      required: true
      schema:
        type: string
  responses:
    OK:
      content:
        application/json:
          schema:
            type: object
      description: OK
    HTTP401:
      content:
        application/json:
          examples:
            Example:
              value:
                detail: Authentication credentials were not provided.
          schema:
            properties:
              detail:
                example: Authentication credentials were not provided.
                type: string
            type: object
            x-examples:
              Example 1:
                detail: Authentication credentials were not provided.
      description: Unauthorized
    HTTP403:
      content:
        application/json:
          examples:
            Example:
              value:
                detail: You do not have permission to perform this action.
          schema:
            properties:
              detail:
                example: You do not have permission to perform this action.
                type: string
            type: object
            x-examples:
              Example 1:
                detail: You do not have permission to perform this action.
      description: Permission Denied
    HTTP404:
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
      description: "Not found. The API endpoint doesn\u2019t exist or resource doesn\u2019\
        t exist"
    HTTP429:
      content:
        application/json:
          examples:
            Example:
              value:
                detail: Too Many Request. The API Token used for the request reached
                  the 5000 API Calls per hour threshold
          schema:
            properties:
              detail:
                example: Too Many Request. The API Token used for the request reached
                  the 5000 API Calls per hour threshold
                type: string
            type: object
        application/xml:
          schema:
            properties: {}
            type: object
      description: Too Many Request. The API Token used for the request reached the
        5000 API Calls per hour threshold
    Admin:
      content:
        application/json:
          examples:
            example-1:
              value:
                admin_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                email: user@example.com
                first_name: string
                last_name: string
                privileges:
                - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  msp_name: string
                  name: string
                  org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  org_name: string
                  orggroup_ids:
                  - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  role: admin
                  scope: org
                  site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  sitegroup_ids:
                  - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
          schema:
            $ref: '#/components/schemas/admin'
      description: OK
    HTTP400:
      content:
        application/json:
          examples:
            Example:
              value:
                detail: 'JSON parse error - Expecting value: line 5 column 8 (char
                  56)'
          schema:
            properties:
              detail:
                example: 'JSON parse error - Expecting value: line 5 column 8 (char
                  56)'
                type: string
            type: object
            x-examples:
              Example 1:
                detail: JSON parse error
      description: Bad Syntax
    ApitokensUserArray:
      content:
        application/json:
          examples:
            Example:
              value:
              - created_time: 1626875902
                id: 864f351a-1377-4ad9-83f8-72f3fe6199ba
                key: 1qkb...QQCL
                last_used: 1690115110
                name: org_token_xyz
          schema:
            items:
              $ref: '#/components/schemas/user_apitoken'
            type: array
      description: OK
    ApitokenUser:
      content:
        application/json:
          examples:
            Example:
              value:
                created_time: 1626875902
                id: 864f351a-1377-4ad9-83f8-72f3fe6199ba
                key: 1qkb...QQCL
                last_used: 1690115110
                name: org_token_xyz
          schema:
            $ref: '#/components/schemas/user_apitoken'
      description: OK
    TwoFactorToken:
      content:
        application/json:
          examples:
            Example:
              value:
                two_factor_secret: pYbeqdBaiFemq9qb4UbGGaqJZKcQX1gG
          schema:
            properties:
              two_factor_secret:
                example: pYbeqdBaiFemq9qb4UbGGaqJZKcQX1gG
                type: string
            type: object
            x-examples:
              Example 1:
                two_factor_secret: pYbeqdBaiFemq9qb4UbGGaqJZKcQX1gG
        application/octet-stream:
          schema:
            description: if `by`==`qrcode`, returns the secret as a qrcode image
            type: string
      description: Two Factor configuration Token
  schemas:
    admin:
      description: Admin
      properties:
        admin_id:
          example: 456b7016-a916-a4b1-78dd-72b947c152b7
          format: uuid
          readOnly: true
          type: string
        email:
          example: jsnow@abc.com
          format: email
          type: string
        enable_two_factor:
          readOnly: true
          type: boolean
        expire_time:
          type: integer
        first_name:
          description: for an invite, this is the original first name used
          example: John
          type: string
        hours:
          default: 24
          description: how long the invite should be valid
          maximum: 168
          minimum: 1
          type: integer
        last_name:
          description: for an invite, this is the original last name used
          example: Sno
          type: string
        oauth_google:
          readOnly: true
          type: boolean
        phone:
          description: phone number (numbers only, including country code)
          type: string
        phone2:
          description: secondary phone number (numbers only, including country code)
          type: string
        privileges:
          description: list of privileges the admin has on the MSP / Orgs / OrgGroups
          items:
            $ref: '#/components/schemas/privileges'
          minItems: 1
          readOnly: true
          type: array
          uniqueItems: true
        session_expiry:
          example: 1440
          readOnly: true
          type: integer
        tags:
          items:
            type: string
          readOnly: true
          type: array
        two_factor_verified:
          description: two factor status
          readOnly: true
          type: boolean
        via_sso:
          description: an admin alogin via_sso is more restircted. (password and email
            cannot be changed)
          readOnly: true
          type: boolean
      required:
      - email
      - first_name
      - last_name
      type: object
      x-examples:
        example-1:
          privileges:
          - role: write
            scope: org
            view: reporting
          - role: write
            scope: site
            site_id: d96e3952-53e8-4266-959a-45acd55f5114
            view: reporting
          - role: write
            scope: sitegroup
            sitegroup_id: 581328b6-e382-f54e-c9dc-999983183a34
            view: reporting
    privileges:
      description: Privilieges settings
      properties:
        for_site:
          readOnly: true
          type: boolean
        msp_id:
          description: id of the MSP (if the org belongs to an MSP)
          format: uuid
          nullable: true
          type: string
        msp_logo_url:
          description: logo of the MSP (if the MSP belongs to an Advanced tier)
          type: string
        msp_name:
          description: name of the MSP (if the org belongs to an MSP)
          nullable: true
          type: string
        msp_url:
          description: custom url of the MSP (if the MSP belongs to an Advanced tier)
          type: string
        name:
          description: name of the org/site/MSP depending on object scope
          type: string
        org_id:
          description: id of the org
          format: uuid
          nullable: true
          type: string
        org_name:
          description: name of the org (for a site belonging to org)
          type: string
        orggroup_ids:
          description: list of orggroup ids (if the org belongs to an MSP)
          items:
            format: uuid
            type: string
          type: array
        role:
          description: access permissions
          enum:
          - admin
          - write
          - read
          - helpdesk
          - installer
          type: string
        scope:
          description: "list of privileges the admin has on the MSP\_/ OrgGroups /\
            \ Orgs / Sites"
          enum:
          - org
          - site
          - msp
          - orggroup
          type: string
        site_id:
          description: id of the site
          format: uuid
          nullable: true
          type: string
        sitegroup_ids:
          description: list of sitegroup ids
          items:
            format: uuid
            type: string
          type: array
        views:
          description: 'Custom roles restrict Org users to specific UI views. This
            is useful for limiting UI access of Org users.


            You can invite a new user or update existing users in your Org to this
            custom role. For this, specify view along with role when assigning privileges.


            Below are the list of supported UI views. Note that this is UI only feature

            Custom roles restrict Org users to specific UI views. This is useful for
            limiting UI access of Org users.


            You can invite a new user or update existing users in your Org to this
            custom role. For this, specify `view` along with `role` when assigning
            privileges.


            Below are the list of supported UI views. Note that this is UI only feature


            | UI View | Description |

            | --- | --- |

            | `reporting` | full access to all analytics tools |

            | `marketing` | can view analytics and location maps |

            | `location` | can view and manage location maps |

            | `security` | can view and manage WLAN, rogues and authentication |

            | `switch_admin` | can view and manage Switch ports |

            | `mxedge_admin` | can view and manage Mist edges and Mist tunnels |

            | `lobby_admin` | full access to Org and Site Pre-shared keys |'
          items:
            type: string
          type: array
      required:
      - role
      - scope
      title: ''
      type: object
      x-examples:
        example-1:
          msp_id: 9520c63a-f7b3-670c-0944-727774d5a722
          msp_name: MSP
          name: TestCompany
          org_id: 9ff00eec-24f0-44d7-bda4-6238c81376ee
          orggroup_ids:
          - 9ff00eec-24f0-44d7-bda4-6238c81376ee
          role: admin
          scope: org
        example-2:
          name: Mist Office
          org_id: 9ff00eec-24f0-44d7-bda4-6238c81376ee
          org_name: TestCompany
          role: admin
          scope: site
          site_id: d96e3952-53e8-4266-959a-45acd55f5114
          sitegroup_ids:
          - 581328b6-e382-f54e-c9dc-999983183a34
        example-3:
          msp_id: 9520c63a-f7b3-670c-0944-727774d5a722
          name: MSP
          role: admin
          scope: msp
    user_apitoken:
      description: User API Token
      properties:
        created_time:
          example: 1626875902
          readOnly: true
          type: integer
        id:
          example: 864f351a-1377-4ad9-83f8-72f3fe6199ba
          format: uuid
          readOnly: true
          type: string
        key:
          example: 1qkb...QQCL
          readOnly: true
          type: string
        last_used:
          example: 1690115110
          nullable: true
          readOnly: true
          type: integer
        name:
          description: name of the token
          example: org_token_xyz
          type: string
      type: object
      x-examples:
        Example 1:
          created_time: 1626875902
          id: 864f351a-1377-4ad9-83f8-72f3fe6199ba
          key: 1qkb...QQCL
          last_used: 1690115110
          name: org_token_xyz
      x-stoplight:
        id: 9ced0c58817a5
    Model_object_email:
      properties:
        email:
          format: email
          type: string
      required:
      - email
      title: Model_object_email
      type: object
      x-examples:
        example-1:
          email: user@example.com
  securitySchemes:
    apiToken:
      description: "Like many other API providers, it\u2019s also possible to generate\
        \ API Tokens to be used (in HTTP Header) for authentication. An API token\
        \ ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token\
        \ value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated\
        \ for a specific admin has the same privilege as the user\n* an API token\
        \ will be automatically removed if not used for > 90 days\n* SSO admins cannot\
        \ generate these API tokens. Refer Org level API tokens which can have privileges\
        \ of a specific Org/Site for more information."
      in: header
      name: Authorization
      type: apiKey
    basicAuth:
      description: "While our current UI uses Session / Cookie-based authentication,\
        \ it\u2019s also possible to do Basic Auth."
      scheme: basic
      type: http
