openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2306.2.9**

    >

    > Date: **July 13, 2023**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2306.2.9
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Constants
paths:
  /api/v1/const/alarm_defs:
    get:
      description: Get List of brief definitions of all the supported alarm types.  The
        example field contains an example payload as you would recieve in the alarm
        webhook output.
      operationId: listAlarmDefinitions
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - display: Device offline
                    example:
                      aps:
                      - d420b02000fa
                      count: 1
                      group: infrastructure
                      hostnames:
                      - Vendor_AP2
                      id: f70c308f-7007-4866-9ecd-0d01842979ea
                      last_seen: 1629753888
                      org_id: 09dac91f-6e73-4100-89f7-698e0fafbb1b
                      severity: warn
                      site_id: dcfb31a1-d615-4361-8c95-b9dde05aa704
                      timestamp: 1629753888
                      type: device_down
                    fields:
                    - aps
                    - hostnames
                    group: infrastructure
                    key: device_down
                    severity: warn
              schema:
                items:
                  properties:
                    display:
                      description: Description of the alarm type
                      type: string
                    fields:
                      description: List of fields available in an alarm details payload
                        (in REST APIs & Webhooks); e.g. `aps`, `switches`, `gateways`,
                        `hostnames`, `ssids`, `bssids`
                      items:
                        type: string
                      type: array
                    group:
                      description: Group to which the alarm belongs
                      type: string
                    key:
                      description: Key name of an alarm type
                      type: string
                    marvis_suggestion_category:
                      description: Marvis defined category to which the alarm belongs
                      type: string
                    severity:
                      description: Severity of the alarm
                      type: string
                  required:
                  - key
                  - display
                  - group
                  - severity
                  - fields
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listAlarmDefinitions
      tags:
      - Constants
  /api/v1/const/ap_channels:
    get:
      description: Get List of List of Available channels per country code
      operationId: listApChannels
      parameters:
      - $ref: '#/components/parameters/country_code'
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    band24_channels:
                      '20':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      '40':
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                    band24_enabled: true
                    band5_channels:
                      '20':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 132
                      - 136
                      - 140
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      '40':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 132
                      - 136
                      - 149
                      - 153
                      - 157
                      - 161
                      '80':
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 132
                      - 136
                      - 149
                      - 153
                      - 157
                      - 161
                      dfs:
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 132
                      - 136
                      - 140
                    band5_enabled: true
                    code: 840
                    dfs_ok: true
                    key: US
                    name: United States
              schema:
                properties:
                  band24_channels:
                    additionalProperties:
                      items:
                        type: integer
                      type: array
                    description: The property key is the channel width
                    required:
                    - '20'
                    - '40'
                    type: object
                  band24_enabled:
                    type: boolean
                  band5_channels:
                    additionalProperties:
                      items:
                        type: integer
                      type: array
                    description: The property key is the channel width
                    type: object
                  band5_enabled:
                    type: boolean
                  code:
                    type: integer
                  dfs_ok:
                    type: boolean
                  key:
                    type: string
                  name:
                    type: string
                required:
                - key
                - name
                - code
                - band24_enabled
                - band24_channels
                - band5_enabled
                - dfs_ok
                - band5_channels
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listApChannels
      tags:
      - Constants
  /api/v1/const/ap_led_status:
    get:
      description: Get List of AP LED definition
      operationId: listApLedDefinition
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - code: '02'
                    description: Has no link (Seen using power injectors, but not
                      connected to a switch)
                    key: NO_ETHERNET_LINK
                    name: No ethernet link
              schema:
                items:
                  properties:
                    code:
                      type: string
                    description:
                      type: string
                    key:
                      type: string
                    name:
                      type: string
                  required:
                  - code
                  - key
                  - name
                  - description
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listApLedDefinition
      tags:
      - Constants
  /api/v1/const/applications:
    get:
      description: Get List of a list of applications that Juniper-Mist APs recognize
      operationId: listApplications
      responses:
        '200':
          $ref: '#/components/responses/ConstApplications'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listApplications
      tags:
      - Constants
  /api/v1/const/call_events:
    get:
      description: Get List of Call Event Definitions
      operationId: listCallEventsDefinitions
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - description: Client joined the call
                    display: Client joined the call
                    example:
                      app: zoom
                      meeting_id: '87609329850'
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                      timestamp: 1674777600
                      type: CLIENTS_JOINED_CALL
                      wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                    key: CLIENT_JOINED_CALL
                  - description: Client got abruptly disconnected from the call
                    display: Client disconnected abruptly from the call
                    example:
                      app: zoom
                      meeting_id: '87609329850'
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      reason: Network connection error.
                      site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                      timestamp: 1674777600
                      type: CLIENT_DISCONNECTED_FROM_CALL
                      wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                    key: CLIENT_DISCONNECTED_FROM_CALL
                  - description: Client left the call
                    display: Client left the call
                    example:
                      app: zoom
                      meeting_id: '87609329850'
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                      timestamp: 1674777600
                      type: CLIENT_LEFT_CALL
                      wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                    key: CLIENT_LEFT_CALL
                  - description: Zoom/Teams CPU usage is high
                    display: High CPU Observed
                    example:
                      app: zoom
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      timestamp: 1674777600
                      type: HIGH_CPU_OBSERVED
                    key: HIGH_CPU_OBSERVED
              schema:
                items:
                  properties:
                    description:
                      type: string
                    display:
                      type: string
                    example:
                      properties:
                        app:
                          type: string
                        meeting_id:
                          type: string
                        org_id:
                          type: string
                        site_id:
                          type: string
                        timestamp:
                          type: integer
                        type:
                          type: string
                        wcid:
                          type: string
                      type: object
                    key:
                      type: string
                  type: object
                type: array
                x-examples:
                  Example 1:
                  - description: Client joined the call
                    display: Client joined the call
                    example:
                      app: zoom
                      meeting_id: '87609329850'
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                      timestamp: 1674777600
                      type: CLIENTS_JOINED_CALL
                      wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                    key: CLIENT_JOINED_CALL
                  - description: Client got abruptly disconnected from the call
                    display: Client disconnected abruptly from the call
                    example:
                      app: zoom
                      meeting_id: '87609329850'
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      reason: Network connection error.
                      site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                      timestamp: 1674777600
                      type: CLIENT_DISCONNECTED_FROM_CALL
                      wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                    key: CLIENT_DISCONNECTED_FROM_CALL
                  - description: Client left the call
                    display: Client left the call
                    example:
                      app: zoom
                      meeting_id: '87609329850'
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      site_id: 1916d52a-4a90-11e5-8b45-1258369c38a9
                      timestamp: 1674777600
                      type: CLIENT_LEFT_CALL
                      wcid: 82c70a73-e2e1-42f9-6da0-97db44b7b9ad
                    key: CLIENT_LEFT_CALL
                  - description: Zoom/Teams CPU usage is high
                    display: High CPU Observed
                    example:
                      app: zoom
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      timestamp: 1674777600
                      type: HIGH_CPU_OBSERVED
                    key: HIGH_CPU_OBSERVED
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listCallEventsDefinitions
      tags:
      - Constants
  /api/v1/const/client_events:
    get:
      description: Get List of List of available Client Events
      operationId: listClientEventsDefinitions
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - display: DHCP Success
                    key: CLIENT_IP_ASSIGNED
              schema:
                items:
                  properties:
                    display:
                      type: string
                    key:
                      type: string
                  required:
                  - key
                  - display
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listClientEventsDefinitions
      tags:
      - Constants
  /api/v1/const/countries:
    get:
      description: Get List of List of available Country Codes
      operationId: listCountryCodes
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - alpha2: US
                    certified: true
                    name: United States
                    numeric: 840
                  - alpha2: JP
                    certified: true
                    name: Japan
                    numeric: 392
              schema:
                items:
                  properties:
                    alpha2:
                      type: string
                    certified:
                      type: boolean
                    name:
                      type: string
                    numeric:
                      type: number
                  required:
                  - alpha2
                  - numeric
                  - name
                  - certified
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listCountryCodes
      tags:
      - Constants
  /api/v1/const/default_gateway_config:
    get:
      description: Generate Default Gateway Config
      operationId: getGatawayDefaultConfig
      parameters:
      - description: model the default gateway config is intended (as the default
          LAN/WAN port can differ)
        in: query
        name: model
        schema:
          type: string
      - description: whether the config is intended for HA
        in: query
        name: ha
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    dhcpd_config:
                      lan:
                        ip_end: 192.168.1.254
                        ip_start: 192.168.1.2
                    ip_configs:
                      lan:
                        ip: 192.168.1.1
                        type: static
                    networks:
                      lan:
                        name: lan
                        subnet: 192.168.1.0/24
                        vlan_id: 1
                    path_preferences:
                      wan:
                        paths:
                        - name: wan
                          type: wan
                    port_config:
                      cl-1/0/0:
                        ip_config:
                          type: dhcp
                        name: lte
                        usage: wan
                        wan_type: lte
                      ge-0/0/0,ge-0/0/7:
                        ip_config:
                          type: dhcp
                        name: wan
                        usage: wan
                      ge-0/0/1-6:
                        port_network: lan
                        usage: lan
                    service_policies:
                    - action: allow
                      name: Internet
                      path_preference: wan
                      services:
                      - any
                      tenants:
                      - lan
              schema:
                additionalProperties: true
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getGatawayDefaultConfig
      tags:
      - Constants
  /api/v1/const/device_events:
    get:
      description: Get list of available Device Events
      operationId: listDeviceEventsDefinitions
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - description: AP was assigned to a site
                    display: AP Assigned
                    example:
                      ap: 5c5b35000001
                      audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      timestamp: 1552408871
                      type: AP_ASSIGNED
                    key: AP_ASSIGNED
              schema:
                items:
                  properties:
                    description:
                      minLength: 1
                      type: string
                    display:
                      minLength: 1
                      type: string
                    example:
                      type: object
                    key:
                      minLength: 1
                      type: string
                  required:
                  - key
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
                x-examples:
                  example-1:
                  - description: AP was assigned to a site
                    display: AP Assigned
                    example:
                      ap: 5c5b35000001
                      audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      timestamp: 1552408871
                      type: AP_ASSIGNED
                    key: AP_ASSIGNED
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listDeviceEventsDefinitions
      tags:
      - Constants
  /api/v1/const/device_models:
    get:
      description: Get list of AP device models for the Mist Site
      operationId: listDeviceModels
      responses:
        '200':
          $ref: '#/components/responses/ConstDeviceModels'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listDeviceModels
      tags:
      - Constants
  /api/v1/const/insight_metrics:
    get:
      description: List Insight Metrics
      operationId: listInsightMetrics
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    bytes:
                      description: aggregated bytes over time
                      example:
                      - 185
                      - 197
                      - 250
                      intervals:
                        10m:
                          interval: 600
                          max_age: 86400
                        1h:
                          interval: 3600
                          max_age: 1209600
                      report_durations:
                        1d:
                          duration: 86400
                          interval: 3600
                        1w:
                          duration: 604800
                          interval: 3600
                      report_scopes:
                      - site
                      - org
                      scopes:
                      - site
                      - ap
                      - client
                      type: timeseries
                      unit: byte
                    num_clients:
                      description: number of client over time
                      example:
                      - 18
                      - null
                      - 15
                      intervals:
                        10m:
                          interval: 600
                          max_age: 86400
                        1h:
                          interval: 3600
                          max_age: 1209600
                      report_durations:
                        1d:
                          duration: 86400
                          interval: 3600
                        1w:
                          duration: 604800
                          interval: 3600
                      report_scopes:
                      - site
                      - org
                      scopes:
                      - site
                      - ap
                      - device
                      type: timeseries
                      unit: ''
              schema:
                additionalProperties:
                  properties:
                    ctype:
                      items:
                        type: string
                      type: array
                    description:
                      type: string
                    example:
                      type: array
                    intervals:
                      additionalProperties:
                        properties:
                          interval:
                            type: integer
                          max_age:
                            type: integer
                        type: object
                      description: Property key is the interval (e.g. 10m, 1h, ...)
                      type: object
                    keys:
                      additionalProperties: true
                      type: object
                    params:
                      additionalProperties:
                        properties:
                          required:
                            type: boolean
                        type: object
                      description: Property key is the parameter name
                      type: object
                    report_duration:
                      additionalProperties:
                        properties:
                          interval:
                            type: integer
                          max_age:
                            type: integer
                        type: object
                      description: Property key is the duration (e.g. 1d, 1w, ...)
                      type: object
                    report_scopes:
                      items:
                        type: string
                      type: array
                    scopes:
                      items:
                        enum:
                        - site
                        - ap
                        - client
                        - switch
                        - device
                        - mxedge
                        type: string
                      type: array
                    sle_baselined:
                      type: boolean
                    sle_classifiers:
                      items:
                        type: string
                      type: array
                    type:
                      type: string
                    unit:
                      type: string
                    values:
                      additionalProperties: true
                      type: object
                  type: object
                description: Property key is the metric name
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listInsightMetrics
      tags:
      - Constants
      - Monitor
  /api/v1/const/languages:
    get:
      description: Get List of Languages
      operationId: listSiteLanguages
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - display: English (US)
                    display_native: English (US)
                    key: en-US
                  - display: Chinese Traditional (Taiwan)
                    display_native: "\u4E2D\u6587\uFF08\u53F0\u7063\uFF09"
                    key: zh-TW
              schema:
                items:
                  properties:
                    display:
                      type: string
                    display_native:
                      type: string
                    key:
                      type: string
                  required:
                  - display
                  - display_native
                  - key
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listSiteLanguages
      tags:
      - Constants
  /api/v1/const/license_types:
    get:
      description: 'Get License Types

        '
      operationId: getLicenseTypes
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - description: Asset Visibility
                    key: sub_ast
                    name: SUB-AST
                  - description: IoT Assurance
                    key: sub_clnt
                    name: SUB-CLNT
                  - description: vBLE Engagement
                    key: sub_eng
                    name: SUB-ENG
                  - description: Wired Assurance 12
                    includes:
                    - sub_ex12a
                    - sub_ex12p
                    key: sub_ex12
                    name: SUB-EX12
                  - description: Wired Assurance 12 Advanced
                    key: sub_ex12a
                    name: SUB-EX12A
                  - description: Wired Assurance 12 Premium
                    key: sub_ex12p
                    name: SUB-EX12P
                  - description: Wired Assurance 24
                    includes:
                    - sub_ex24a
                    - sub_ex24p
                    key: sub_ex24
                    name: SUB-EX24
                  - description: Wired Assurance 24 Advanced
                    key: sub_ex24a
                    name: SUB-EX24A
                  - description: Wired Assurance 24 Premium
                    key: sub_ex24p
                    name: SUB-EX24P
                  - description: Wired Assurance 48
                    includes:
                    - sub_ex48a
                    - sub_ex48p
                    key: sub_ex48
                    name: SUB-EX48
                  - description: Wired Assurance 48 Advanced
                    key: sub_ex48a
                    name: SUB-EX48A
                  - description: Wired Assurance 48 Premium
                    key: sub_ex48p
                    name: SUB-EX48P
                  - description: WiFi Management and Assurance
                    key: sub_man
                    name: SUB-MAN
                  - description: Mist Edge
                    key: sub_me
                    name: SUB-ME
                  - description: Premium Analytics
                    key: sub_pma
                    name: SUB-PMA
                  - description: Marvis for Wired Network
                    includes:
                    - sub_svna4
                    key: sub_svna
                    name: SUB-SVNA
                  - description: Marvis for Wired/EX and QFX Class 4 devices
                    key: sub_svna4
                    name: SUB-SVNA4
                  - description: Wired Assurance for Class 4
                    includes:
                    - sub_sw4a
                    - sub_sw4p
                    key: sub_sw4
                    name: SUB-SW4
                  - description: Wired Assurance for Class 4 Advanced
                    key: sub_sw4a
                    name: SUB-SW4A
                  - description: Wired Assurance for Class 4 Premium
                    key: sub_sw4p
                    name: SUB-SW4P
                  - description: Marvis for Wireless
                    key: sub_vna
                    name: SUB-VNA
                  - description: WAN Assurance
                    key: sub_wan
                    name: SUB-WAN
                  - description: WAN Assurance for Class 1
                    key: sub_wan1
                    name: SUB-WAN1
                  - description: WAN Assurance for Class 2
                    key: sub_wan2
                    name: SUB-WAN2
                  - description: WAN Assurance for Class 3
                    key: sub_wan3
                    name: SUB-WAN3
                  - description: WAN Assurance for Class 4
                    key: sub_wan4
                    name: SUB-WAN4
                  - description: WAN Assurance for Class 5
                    key: sub_wan5
                    name: SUB-WAN5
                  - description: WAN Assurance for Class 6
                    key: sub_wan6
                    name: SUB-WAN6
                  - description: Marvis for WAN
                    includes:
                    - sub_wvna1
                    - sub_wvna2
                    - sub_wvna3
                    - sub_wvna4
                    - sub_wvna5
                    - sub_wvna6
                    key: sub_wvna
                    name: SUB-WVNA
                  - description: Marvis for WAN for SRX Class 1 devices
                    key: sub_wvna1
                    name: SUB-WVNA1
                  - description: Marvis for WAN for SRX Class 2 devices
                    key: sub_wvna2
                    name: SUB-WVNA2
                  - description: Marvis for WAN for SRX Class 3 devices
                    key: sub_wvna3
                    name: SUB-WVNA3
                  - description: Marvis for WAN for SRX Class 4 devices
                    key: sub_wvna4
                    name: SUB-WVNA4
                  - description: Marvis for WAN for SRX Class 5 devices
                    key: sub_wvna5
                    name: SUB-WVNA5
                  - description: Marvis for WAN for SRX Class 6 devices
                    key: sub_wvna6
                    name: SUB-WVNA6
              schema:
                items:
                  properties:
                    description:
                      type: string
                    includes:
                      items:
                        type: string
                      type: array
                    key:
                      type: string
                    name:
                      type: string
                  type: object
                type: array
                x-examples:
                  Example 1:
                  - description: Asset Visibility
                    key: sub_ast
                    name: SUB-AST
                  - description: IoT Assurance
                    key: sub_clnt
                    name: SUB-CLNT
                  - description: vBLE Engagement
                    key: sub_eng
                    name: SUB-ENG
                  - description: Wired Assurance 12
                    includes:
                    - sub_ex12a
                    - sub_ex12p
                    key: sub_ex12
                    name: SUB-EX12
                  - description: Wired Assurance 12 Advanced
                    key: sub_ex12a
                    name: SUB-EX12A
                  - description: Wired Assurance 12 Premium
                    key: sub_ex12p
                    name: SUB-EX12P
                  - description: Wired Assurance 24
                    includes:
                    - sub_ex24a
                    - sub_ex24p
                    key: sub_ex24
                    name: SUB-EX24
                  - description: Wired Assurance 24 Advanced
                    key: sub_ex24a
                    name: SUB-EX24A
                  - description: Wired Assurance 24 Premium
                    key: sub_ex24p
                    name: SUB-EX24P
                  - description: Wired Assurance 48
                    includes:
                    - sub_ex48a
                    - sub_ex48p
                    key: sub_ex48
                    name: SUB-EX48
                  - description: Wired Assurance 48 Advanced
                    key: sub_ex48a
                    name: SUB-EX48A
                  - description: Wired Assurance 48 Premium
                    key: sub_ex48p
                    name: SUB-EX48P
                  - description: WiFi Management and Assurance
                    key: sub_man
                    name: SUB-MAN
                  - description: Mist Edge
                    key: sub_me
                    name: SUB-ME
                  - description: Premium Analytics
                    key: sub_pma
                    name: SUB-PMA
                  - description: Marvis for Wired Network
                    includes:
                    - sub_svna4
                    key: sub_svna
                    name: SUB-SVNA
                  - description: Marvis for Wired/EX and QFX Class 4 devices
                    key: sub_svna4
                    name: SUB-SVNA4
                  - description: Wired Assurance for Class 4
                    includes:
                    - sub_sw4a
                    - sub_sw4p
                    key: sub_sw4
                    name: SUB-SW4
                  - description: Wired Assurance for Class 4 Advanced
                    key: sub_sw4a
                    name: SUB-SW4A
                  - description: Wired Assurance for Class 4 Premium
                    key: sub_sw4p
                    name: SUB-SW4P
                  - description: Marvis for Wireless
                    key: sub_vna
                    name: SUB-VNA
                  - description: WAN Assurance
                    key: sub_wan
                    name: SUB-WAN
                  - description: WAN Assurance for Class 1
                    key: sub_wan1
                    name: SUB-WAN1
                  - description: WAN Assurance for Class 2
                    key: sub_wan2
                    name: SUB-WAN2
                  - description: WAN Assurance for Class 3
                    key: sub_wan3
                    name: SUB-WAN3
                  - description: WAN Assurance for Class 4
                    key: sub_wan4
                    name: SUB-WAN4
                  - description: WAN Assurance for Class 5
                    key: sub_wan5
                    name: SUB-WAN5
                  - description: WAN Assurance for Class 6
                    key: sub_wan6
                    name: SUB-WAN6
                  - description: Marvis for WAN
                    includes:
                    - sub_wvna1
                    - sub_wvna2
                    - sub_wvna3
                    - sub_wvna4
                    - sub_wvna5
                    - sub_wvna6
                    key: sub_wvna
                    name: SUB-WVNA
                  - description: Marvis for WAN for SRX Class 1 devices
                    key: sub_wvna1
                    name: SUB-WVNA1
                  - description: Marvis for WAN for SRX Class 2 devices
                    key: sub_wvna2
                    name: SUB-WVNA2
                  - description: Marvis for WAN for SRX Class 3 devices
                    key: sub_wvna3
                    name: SUB-WVNA3
                  - description: Marvis for WAN for SRX Class 4 devices
                    key: sub_wvna4
                    name: SUB-WVNA4
                  - description: Marvis for WAN for SRX Class 5 devices
                    key: sub_wvna5
                    name: SUB-WVNA5
                  - description: Marvis for WAN for SRX Class 6 devices
                    key: sub_wvna6
                    name: SUB-WVNA6
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getLicenseTypes
      tags:
      - Constants
  /api/v1/const/mxedge_events:
    get:
      description: Get List of available MX Edge Events
      operationId: listMxEdgeEventsDefinitions
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - description: Config change on ME was triggered as a result of
                      change made by user
                    display: ME Config changed by user
                    example:
                      audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                      mxcluster_id: ed4665ed-c9ad-4835-8ca5-dda642765ad3
                      mxedge_id: 387804a7-3474-85ce-15a2-f9a9684c9c90
                      org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                      service: mxagent
                      site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                      timestamp: 1552408871
                      type: ME_CONFIG_CHANGED_BY_USER
                    key: ME_CONFIG_CHANGED_BY_USER
              schema:
                items:
                  properties:
                    description:
                      type: string
                    display:
                      type: string
                    example:
                      properties: {}
                      type: object
                    key:
                      type: string
                  type: object
                type: array
                x-examples:
                  example-1:
                  - description: Config change on ME was triggered as a result of
                      change made by user
                    display: ME Config changed by user
                    example: {}
                    key: ME_CONFIG_CHANGED_BY_USER
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listMxEdgeEventsDefinitions
      tags:
      - Constants
  /api/v1/const/mxedge_models:
    get:
      description: Get List of available Mx Edge models
      operationId: listMxEdgeModels
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - custom_ports: true
                    display: string
                    model: string
                    ports:
                      '0':
                        display: string
                        speed: 0
                      '1':
                        display: string
                        speed: 0
                      '2':
                        display: string
                        speed: 0
                      '3':
                        display: string
                        speed: 0
              schema:
                items:
                  properties:
                    custom_ports:
                      type: boolean
                    display:
                      type: string
                    model:
                      type: string
                    ports:
                      properties:
                        '0':
                          properties:
                            display:
                              type: string
                            speed:
                              type: integer
                          type: object
                        '1':
                          properties:
                            display:
                              type: string
                            speed:
                              type: integer
                          type: object
                        '2':
                          properties:
                            display:
                              type: string
                            speed:
                              type: integer
                          type: object
                        '3':
                          properties:
                            display:
                              type: string
                            speed:
                              type: integer
                          type: object
                      type: object
                  type: object
                type: array
                x-examples:
                  example-1:
                  - display: X1
                    model: ME-100
                    ports:
                      '0':
                        display: ge0
                        speed: 1000
                      '1':
                        display: ge1
                        speed: 1000
                  - display: X1
                    model: ME-X1
                    ports:
                      '0':
                        display: ge0
                        speed: 1000
                      '1':
                        display: ge1
                        speed: 1000
                  - display: X1-M
                    model: ME-X1-M
                    ports:
                      '0':
                        display: ge0
                        speed: 1000
                      '1':
                        display: ge1
                        speed: 1000
                      '2':
                        display: ge2
                        speed: 1000
                      '3':
                        display: ge3
                        speed: 1000
                  - display: X5
                    model: ME-200
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                  - display: X5
                    model: ME-201
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                  - display: X5
                    model: ME-X5
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                  - display: X5-M
                    model: ME-250
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                      '2':
                        display: xe2
                        speed: 10000
                      '3':
                        display: xe3
                        speed: 10000
                  - display: X5-M
                    model: ME-251
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                      '2':
                        display: xe2
                        speed: 10000
                      '3':
                        display: xe3
                        speed: 10000
                  - display: X5-M
                    model: ME-X5-M
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                      '2':
                        display: xe2
                        speed: 10000
                      '3':
                        display: xe3
                        speed: 10000
                  - display: X10
                    model: ME-300
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                      '2':
                        display: xe2
                        speed: 10000
                      '3':
                        display: xe3
                        speed: 10000
                  - display: X10
                    model: ME-301
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                      '2':
                        display: xe2
                        speed: 10000
                      '3':
                        display: xe3
                        speed: 10000
                  - display: X10
                    model: ME-X10
                    ports:
                      '0':
                        display: xe0
                        speed: 10000
                      '1':
                        display: xe1
                        speed: 10000
                      '2':
                        display: xe2
                        speed: 10000
                      '3':
                        display: xe3
                        speed: 10000
                  - display: VM
                    model: ME-VM
                    ports:
                      '0':
                        display: ge0
                        speed: 1000
                      '1':
                        display: ge1
                        speed: 1000
                  - custom_ports: true
                    model: Custom
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listMxEdgeModels
      tags:
      - Constants
  /api/v1/const/other_device_events:
    get:
      description: 'Supported Events Type

        '
      operationId: listOtherDeviceEventsDefinitions
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - display: Connected to NCM
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Connected to NCM
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_CONNECTED_TO_NCM
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_CONNECTED_TO_NCM
                  - display: Disconnected from NCM
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Disconnected from NCM
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_DISCONNECTED_FROM_NCM
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_DISCONNECTED_FROM_NCM
              schema:
                items:
                  properties:
                    display:
                      type: string
                    example:
                      properties:
                        device_mac:
                          type: string
                        mac:
                          type: string
                        org_id:
                          type: string
                        site_id:
                          type: string
                        text:
                          type: string
                        timestamp:
                          type: number
                        type:
                          type: string
                        vendor:
                          type: string
                      type: object
                    key:
                      type: string
                  type: object
                type: array
                x-examples:
                  Example 1:
                  - display: Connected to NCM
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Connected to NCM
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_CONNECTED_TO_NCM
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_CONNECTED_TO_NCM
                  - display: Disconnected from NCM
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Disconnected from NCM
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_DISCONNECTED_FROM_NCM
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_DISCONNECTED_FROM_NCM
                  - display: Ethernet WAN device active
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Ethernet WAN device active
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_ETHERNET_WAN_CONNECTED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_ETHERNET_WAN_CONNECTED
                  - display: Ethernet WAN device no longer active
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Ethernet WAN device no longer active
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_ETHERNET_WAN_DISCONNECTED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_ETHERNET_WAN_DISCONNECTED
                  - display: Ethernet WAN device attached
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Ethernet WAN device attached
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_ETHERNET_WAN_PLUGGED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_ETHERNET_WAN_PLUGGED
                  - display: Ethernet WAN device removed
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Ethernet WAN device removed
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_ETHERNET_WAN_UNPLUGGED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_ETHERNET_WAN_UNPLUGGED
                  - display: Firmware Upgraded
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Firmware Upgraded
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_FIRMWARE_UPGRADED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_FIRMWARE_UPGRADED
                  - display: Login Failure
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Login Failure
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_LOGIN_FAILED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_LOGIN_FAILED
                  - display: Login Success
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Login Success
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_LOGIN_SUCCEEDED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_LOGIN_SUCCEEDED
                  - display: Modem WAN device active
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Modem WAN device active
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_MODEM_WAN_CONNECTED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_MODEM_WAN_CONNECTED
                  - display: Modem WAN device removed
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Modem WAN device removed
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_MODEM_WAN_DISCONNECTED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_MODEM_WAN_DISCONNECTED
                  - display: Router Rebooted
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: Router Rebooted
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_REBOOTED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_REBOOTED
                  - display: SIM Door opened
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: SIM Door opened
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_SIM_DOOR_OPENED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_SIM_DOOR_OPENED
                  - display: SIM Door closed
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: SIM Door closed
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_SIM_DOOR_CLOSED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_SIM_DOOR_CLOSED
                  - display: WAN Device Service Type Changed
                    example:
                      device_mac: 5c5b351e13b5
                      mac: 0030447771c0
                      org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                      site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                      text: WAN Device Service Type Changed
                      timestamp: 1675827825.765
                      type: CELLULAR_EDGE_WAN_SERVICE_TYPE_CHANGED
                      vendor: cradlepoint
                    key: CELLULAR_EDGE_WAN_SERVICE_TYPE_CHANGED
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listOtherDeviceEventsDefinitions
      tags:
      - Constants
  /api/v1/const/traffic_types:
    get:
      description: Get List of identified traffic
      operationId: listTrafficTypes
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - dscp: 0
                    failover_policy: string
                    name: string
                    traffic_class: string
              schema:
                description: Get Traffic Types Constants
                items:
                  properties:
                    dscp:
                      type: number
                    failover_policy:
                      minLength: 1
                      type: string
                    name:
                      minLength: 1
                      type: string
                    traffic_class:
                      minLength: 1
                      type: string
                  required:
                  - name
                  - failover_policy
                  - traffic_class
                  - dscp
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
                x-examples:
                  example-1:
                  - dscp: 0
                    failover_policy: non-revertible
                    name: data_best_effort
                    traffic_class: low
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listTrafficTypes
      tags:
      - Constants
components:
  parameters:
    country_code:
      description: country code, in two-character
      in: query
      name: country_code
      schema:
        example: US
        pattern: ^[a-zA-Z]{2}$
        type: string
  responses:
    ConstApplications:
      content:
        application/json:
          examples:
            Example 1:
              value:
              - app_id: true
                group: Emails
                key: all-email
                name: All Emails
              - app_id: true
                category: Collaboration
                group: Emails
                key: gmail
                name: Gmail
                ssr_app_id: true
              - app_id: true
                category: Collaboration
                group: Emails
                key: yahoo-mail
                name: Yahoo Mail
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: FileSharing
                group: File Sharing
                key: dropbox
                name: Dropbox
                ssr_app_id: true
              - app_id: true
                group: Online Backup
                key: icloud-backup
                name: iCloud backup
              - app_id: true
                category: FileSharing
                group: Peer 2 Peer
                key: bit-torrent
                name: BitTorrent
                ssr_app_id: true
              - app_id: true
                group: Social
                key: all-social
                name: All Socials
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: SocialMedia
                group: Social
                key: facebook
                name: Facebook
                ssr_app_id: true
          schema:
            items:
              properties:
                app_id:
                  type: boolean
                app_image_url:
                  type: string
                app_probe:
                  type: boolean
                group:
                  type: string
                key:
                  type: string
                name:
                  type: string
                signature_based:
                  type: boolean
                ssr_app_id:
                  type: boolean
              type: object
            type: array
            x-examples:
              Example 1:
              - app_id: true
                group: Emails
                key: all-email
                name: All Emails
              - app_id: true
                category: Collaboration
                group: Emails
                key: gmail
                name: Gmail
                ssr_app_id: true
              - app_id: true
                category: Collaboration
                group: Emails
                key: yahoo-mail
                name: Yahoo Mail
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: FileSharing
                group: File Sharing
                key: dropbox
                name: Dropbox
                ssr_app_id: true
              - app_id: true
                group: Online Backup
                key: icloud-backup
                name: iCloud backup
              - app_id: true
                category: FileSharing
                group: Peer 2 Peer
                key: bit-torrent
                name: BitTorrent
                ssr_app_id: true
              - app_id: true
                group: Social
                key: all-social
                name: All Socials
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: SocialMedia
                group: Social
                key: facebook
                name: Facebook
                ssr_app_id: true
              - app_id: true
                category: SocialMedia
                group: Social
                key: flickr
                name: Flickr
                ssr_app_id: true
              - app_id: true
                group: Social
                key: myspace
                name: MySpace
              - app_id: true
                category: SocialMedia
                group: Social
                key: pinterest
                name: Pinterest
                ssr_app_id: true
              - app_id: true
                category: Collaboration
                group: Social
                key: snapchat
                name: Snapchat
                ssr_app_id: true
              - app_id: true
                category: SocialMedia
                group: Social
                key: twitter
                name: Twitter
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Business
                group: Social
                key: slack
                name: Slack
                ssr_app_id: true
              - app_id: true
                category: Recreation
                key: yelp
                name: Yelp
                ssr_app_id: true
              - app_id: true
                group: Videos and Music
                key: all-video-music
                name: All Video and Music
              - app_id: true
                category: StreamingMedia
                group: Videos and Music
                key: amazon-video
                name: Amazon Video
                ssr_app_id: true
              - app_id: true
                group: Videos and Music
                key: twitter video
                name: Twitter Video
              - app_id: true
                group: Videos and Music
                key: periscope-stream
                name: Periscope
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: ArtsAndEntertainment
                group: Videos and Music
                key: apple-audio
                name: Apple Audio
                ssr_app_id: true
              - app_id: true
                category: StreamingMedia
                group: Videos and Music
                key: hbo-go
                name: HBO GO
                ssr_app_id: true
              - category: StreamingMedia
                group: Videos and Music
                key: last-fm
                name: last.fm
                ssr_app_id: true
              - app_id: true
                category: StreamingMedia
                group: Videos and Music
                key: twitch
                name: Twitch
                ssr_app_id: true
              - category: Games
                group: Videos and Music
                key: mixer
                name: Mixer
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: StreamingMedia
                group: Videos and Music
                key: youtube
                name: Youtube
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: StreamingMedia
                group: Videos and Music
                key: vimeo
                name: Vimeo
                ssr_app_id: true
              - app_id: true
                category: RemoteDesktop
                group: Remote Desktop
                key: teamviewer
                name: TeamViewer
                ssr_app_id: true
              - app_id: true
                category: NewsAndReference
                group: Wikimedia
                key: wikipedia.org
                name: Wikipedia
                ssr_app_id: true
              - app_id: true
                category: NewsAndReference
                group: Dev Resources
                key: stackoverflow
                name: StackOverflow
                ssr_app_id: true
              - app_id: true
                category: Technology
                group: Dev Resources
                key: github
                name: Github
                ssr_app_id: true
              - app_id: true
                category: SocialMedia
                group: Social
                key: linkedin
                name: LinkedIn
                ssr_app_id: true
              - app_id: true
                category: Conferencing
                group: Social
                key: line
                name: Line
                ssr_app_id: true
              - app_id: true
                category: Collaboration
                group: Social
                key: whatsapp
                name: Whatsapp
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Conferencing
                group: Voice/Video Conferencing
                key: zoom
                name: Zoom
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Conferencing
                group: Voice/Video Conferencing
                key: ms-teams
                name: Microsoft Teams
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Business
                group: Voice/Video Conferencing
                key: gotomeeting
                name: GoToMeeting
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Conferencing
                group: Voice/Video Conferencing
                key: ringcentral
                name: RingCentral
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Conferencing
                group: Voice/Video Conferencing
                key: webex
                name: Webex
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                group: Voice/Video Conferencing
                key: join.me
                name: join.me
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Business
                group: Collaboration/Productivity
                key: gsuite
                name: GSuite
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Business
                group: Collaboration/Productivity
                key: office365
                name: Office365
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Business
                group: Collaboration/Productivity
                key: okta
                name: Okta
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Business
                group: Collaboration/Productivity
                key: oracle
                name: Oracle
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Business
                group: Collaboration/Productivity
                key: sap
                name: SAP
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Technology
                group: Collaboration/Productivity
                key: atlassian
                name: Atlassian
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                group: Collaboration/Productivity
                key: asana
                name: Asana
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Infrastructure
                group: Cloud Traffic
                key: aws
                name: AWS
[...]
