openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2306.2.9**

    >

    > Date: **July 13, 2023**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2306.2.9
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Msps Inventory
- name: Msps Logs
- name: Msps Marvis
- name: Msps Org Groups
- name: Msps Orgs
- name: Msps SLEs
- name: Msps SSO
- name: Msps Stats
- name: Msps Tickets
paths:
  /api/v1/msps/{msp_id}/insights/{metric}:
    get:
      description: Get MSP SLEs (all/worst Orgs ...)
      operationId: getMspSle
      parameters:
      - description: see /api/v1/const/insight_metrics for more details
        in: query
        name: sle
        schema:
          type: string
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/interval'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      responses:
        '200':
          content:
            application/json:
              examples:
                orgs-sle:
                  value:
                    end: 1643706000
                    interval: 3600
                    limit: 100
                    results:
                    - ap-availability: 0.9919400860511628
                      ap-health: 0.967607512909879
                      capacity: 0.7484652273070254
                      coverage: 0.91217567374857
                      num_aps: 13
                      num_clients: 12
                      org_id: 978c48e6-6ef6-11e6-8bbf-02e208b2d34f
                      roaming: 0.991735537682683
                      roaming-exp: 0.991735537682683
                      successful-connect: 0.46052632135780236
                      throughput: 0.6775702123846302
                      time-to-connect: 0.9349112447196916
                    - ap-availability: 0.9990384613092129
                      ap-health: 0.48201754375507955
                      capacity: 0.9702673450306101
                      coverage: 0.8335392334930375
                      num_aps: 1
                      num_clients: 6
                      org_id: 49ff76e0-a283-4e7d-b38d-041f1e9aff3c
                      roaming: 1
                      roaming-exp: 1
                      successful-connect: 1
                      throughput: 0
                      time-to-connect: 1
                    - ap-availability: 1
                      ap-health: 0.982456140612301
                      capacity: 1
                      coverage: 0.9276041182442488
                      num_aps: 2
                      num_clients: 3
                      org_id: 9b9b48f1-15a4-459e-86cc-9cbec9005983
                      roaming: 1
                      roaming-exp: 1
                      successful-connect: 1
                      throughput: 1
                      time-to-connect: 0.8125
                    - ap-availability: 0.9981132070973234
                      ap-health: 0.9991228068084047
                      capacity: 1
                      coverage: 1
                      num_aps: 1
                      num_clients: 0
                      org_id: eb0e1671-7a6b-472b-94c3-c187dafe5274
                      roaming: 1
                      roaming-exp: 1
                      successful-connect: 1
                      throughput: 0
                      time-to-connect: 0.5
                    start: 1643670000
              schema:
                description: ''
                properties:
                  end:
                    type: number
                  interval:
                    type: number
                  limit:
                    type: number
                  results:
                    items:
                      additionalProperties: {}
                      type: object
                    type: array
                    uniqueItems: true
                  start:
                    type: number
                required:
                - start
                - end
                - interval
                - limit
                - results
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getMspSle
      tags:
      - Msps SLEs
      - Monitor
    parameters:
    - in: path
      name: msp_id
      required: true
      schema:
        example: 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    - description: see /api/v1/const/insight_metrics for available metrics
      in: path
      name: metric
      required: true
      schema:
        type: string
  /api/v1/msps/{msp_id}/inventory/{device_mac}:
    get:
      description: Get Inventoy By device MAC address
      operationId: getMspInventoryByMac
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    mac: 5c5b35000018
                    model: AP200
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    serial: FXLH2015150025
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    type: ap
              schema:
                properties:
                  for_site:
                    readOnly: true
                    type: boolean
                  mac:
                    readOnly: true
                    type: string
                  model:
                    readOnly: true
                    type: string
                  org_id:
                    format: uuid
                    readOnly: true
                    type: string
                  serial:
                    readOnly: true
                    type: string
                  site_id:
                    format: uuid
                    readOnly: true
                    type: string
                  type:
                    readOnly: true
                    type: string
                required:
                - serial
                - model
                - type
                - mac
                - org_id
                - site_id
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getMspInventoryByMac
      tags:
      - Msps Inventory
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
    - $ref: '#/components/parameters/device_mac'
  /api/v1/msps/{msp_id}/logs:
    get:
      description: Get list of change logs for the current MSP
      operationId: listMspLogs
      parameters:
      - description: site id
        in: query
        name: site_id
        schema:
          type: string
      - description: admin name or email
        in: query
        name: admin_name
        schema:
          type: string
      - description: message
        in: query
        name: message
        schema:
          type: string
      - description: sort order
        in: query
        name: sort
        schema:
          enum:
          - timestamp
          - -timestamp
          - site_id
          - admin_id
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/LogsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listMspLogs
      tags:
      - Msps Logs
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/logs/count:
    get:
      description: Count by Distinct Attributes of Audit Logs
      operationId: countMspLogs
      parameters:
      - in: query
        name: distinct
        schema:
          default: admin_name
          enum:
          - admin_id
          - admin_name
          - message
          - org_id
          type: string
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countMspLogs
      tags:
      - Msps Logs
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/orgs/search:
    get:
      description: Search Org in MSP
      operationId: searchMspOrgs
      parameters:
      - $ref: '#/components/parameters/name'
      - description: org id
        in: query
        name: org_id
        schema:
          format: uuid
          type: string
      - description: if this org has sufficient subscription
        in: query
        name: sub_insufficient
        schema:
          type: boolean
      - description: if this org is under trial period
        in: query
        name: trial_enabled
        schema:
          type: boolean
      - description: a list of types that enabled by usage
        in: query
        name: usage_types
        schema:
          items:
            type: string
          type: array
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/OrgsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchMspOrgs
      tags:
      - Msps Orgs
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/search:
    get:
      description: Search in MSP Orgs
      operationId: searchMspOrgGroup
      parameters:
      - description: orgs
        example: orgs
        in: query
        name: type
        required: true
        schema:
          enum:
          - orgs
          type: string
      - $ref: '#/components/parameters/q'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/OrggroupsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchMspOrgGroup
      tags:
      - Msps Org Groups
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/ssos/{sso_id}/failures:
    get:
      description: Get List of MSP SSO Latest Failures
      operationId: listMspSsoLatestFailures
      responses:
        '200':
          $ref: '#/components/responses/SsoLatestFailures'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listMspSsoLatestFailures
      tags:
      - Msps SSO
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
    - $ref: '#/components/parameters/sso_id'
  /api/v1/msps/{msp_id}/stats/licenses:
    get:
      description: Get List of MSP Licences
      operationId: listMspOrgLicenses
      parameters: []
      responses:
        '200':
          $ref: '#/components/responses/Licence'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listMspOrgLicenses
      tags:
      - Msps Stats
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/stats/orgs:
    get:
      description: Get List of MSP Orgs Stats
      operationId: listMspOrgStats
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/OrgsArrayStats'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listMspOrgStats
      tags:
      - Msps Stats
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/suggestion/count:
    get:
      description: 'Count Marvis actions

        '
      operationId: countMspsMarvisActions
      parameters:
      - in: query
        name: distinct
        schema:
          default: org_id
          enum:
          - org_id
          - status
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    distinct: status
                    limit: 1000
                    results:
                    - count: 24
                      status: 002e176a-0000-000-1111-002e208b20e1
                    - count: 12
                      status: 2d3f176a-0000-000-2222-002e208f176a
                    - count: 15
                      status: 08b2176a-0000-000-3333-002e208b2d3f
                    total: 3
              schema:
                properties:
                  distinct:
                    type: string
                  limit:
                    type: integer
                  results:
                    items:
                      properties:
                        count:
                          type: integer
                        status:
                          type: string
                      type: object
                    type: array
                  total:
                    type: integer
                type: object
                x-examples:
                  Example 1:
                    distinct: status
                    limit: 1000
                    results:
                    - count: 24
                      status: 002e176a-0000-000-1111-002e208b20e1
                    - count: 12
                      status: 2d3f176a-0000-000-2222-002e208f176a
                    - count: 15
                      status: 08b2176a-0000-000-3333-002e208b2d3f
                    total: 3
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countMspsMarvisActions
      tags:
      - Msps Marvis
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/tickets/count:
    get:
      description: Count tickets
      operationId: countMspTickets
      parameters:
      - in: query
        name: distinct
        schema:
          default: status
          enum:
          - status
          - type
          - org_id
          type: string
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countMspTickets
      tags:
      - Msps Tickets
      - Monitor
    parameters:
    - $ref: '#/components/parameters/msp_id'
components:
  parameters:
    device_mac:
      in: path
      name: device_mac
      required: true
      schema:
        example: 0000000000ab
        pattern: ^[0-9a-fA-F]{12}$
        type: string
    duration:
      description: "For historical stats and/or logs where time range is needed, you\
        \ can specify the time range in a few different ways:\n  * ?start=1430000000&end=1430864000\t\
        specify the start / end\n  * ?end=1430864000&duration=1d\tspecify end time\
        \ and duration\n  * ?duration=1d\tspecify duration, end will be now() in seconds"
      in: query
      name: duration
      required: false
      schema:
        default: 1d
        example: 10m
        type: string
    end:
      in: query
      name: end
      schema:
        default: 0
        minimum: 0
        type: integer
    interval:
      description: Aggregation works by giving a time range plus interval (e.g. 1d,
        1h, 10m) where aggregation function would be applied to.
      in: query
      name: interval
      required: false
      schema:
        example: 10m
        type: string
    limit:
      in: query
      name: limit
      required: false
      schema:
        default: 100
        minimum: 0
        type: integer
    msp_id:
      in: path
      name: msp_id
      required: true
      schema:
        example: 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    name:
      in: query
      name: name
      required: false
      schema:
        default: ''
        type: string
    page:
      in: query
      name: page
      required: false
      schema:
        default: 1
        minimum: 1
        type: integer
    q:
      description: search string
      in: query
      name: q
      schema:
        default: ''
        example: search
        type: string
    sso_id:
      in: path
      name: sso_id
      required: true
      schema:
        example: 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    start:
      in: query
      name: start
      schema:
        default: 0
        minimum: 0
        type: integer
  responses:
    Licence:
      content:
        application/json:
          examples:
            example-1:
              value:
                amendments:
                - created_time: 1644684842
                  end_time: 1744156799
                  id: ff0a14f6-1234-5678-90ab-c8e64d4bc6c6
                  modified_time: 1644684842
                  quantity: -1
                  start_time: 1632873600
                  subscription_id: VNA-000000af
                  type: SUB-VNA
                - created_time: 1644684842
                  end_time: 1744156799
                  id: c1c28812-1234-5678-90ab-dc95680da61e
                  modified_time: 1644684842
                  quantity: -1
                  start_time: 1632873600
                  subscription_id: MAN-000008be
                  type: SUB-MAN
                - created_time: 1644684842
                  end_time: 1744243199
                  id: 96c0a41f-1234-5678-90ab-afe74817e9fd
                  modified_time: 1644684842
                  quantity: -1
                  start_time: 1586476800
                  subscription_id: EX24-000000bc
                  type: SUB-EX24
                entitled:
                  SUB-ENG: 26
                  SUB-EX24: 9
                  SUB-MAN: 26
                  SUB-VNA: 26
                licenses:
                - created_time: 1555353534
                  end_time: 1586822399
                  id: 693a41a6-1234-5678-90ab-f53dbd3a31c0
                  modified_time: 1555353534
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 2
                  remaining_quantity: 0
                  start_time: 1555286400
                  subscription_id: VNA-000000aa
                  type: SUB-VNA
                - created_time: 1576132516
                  end_time: 1586822399
                  id: 656607cf-1234-5678-90ab-fc9035614ea5
                  modified_time: 1576132516
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 8
                  remaining_quantity: 0
                  start_time: 1576022400
                  subscription_id: VNA-000000ab
                  type: SUB-VNA
                - created_time: 1579204568
                  end_time: 1730764800
                  id: db50d0bc-1234-5678-90ab-e439958cb06b
                  modified_time: 1579204568
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 2
                  remaining_quantity: 2
                  start_time: 1572998400
                  subscription_id: MAN-000000ac
                  type: SUB-MAN
                - created_time: 1579204568
                  end_time: 1730764800
                  id: 2ff9e84a-1234-5678-90ab-fb9ec0726e01
                  modified_time: 1579204568
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 2
                  remaining_quantity: 2
                  start_time: 1572998400
                  subscription_id: ENG-000000ad
                  type: SUB-ENG
                - created_time: 1579204568
                  end_time: 1730764800
                  id: 16df7ea6-1234-5678-90ab-78018cd4024d
                  modified_time: 1579204568
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 2
                  remaining_quantity: 2
                  start_time: 1572998400
                  subscription_id: VNA-000000ae
                  type: SUB-VNA
                - created_time: 1586237081
                  end_time: 1744243199
                  id: 1b6f68d5-1234-5678-90ab-70d3e6d18c73
                  modified_time: 1586237081
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 14
                  remaining_quantity: 14
                  start_time: 1586563200
                  subscription_id: VNA-000000af
                  type: SUB-VNA
                - created_time: 1586237097
                  end_time: 1744243199
                  id: 1375c9bf-1234-5678-90ab-9c636708c89e
                  modified_time: 1586237097
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 14
                  remaining_quantity: 14
                  start_time: 1586563200
                  subscription_id: MAN-000000ba
                  type: SUB-MAN
                - created_time: 1586237137
                  end_time: 1744243199
                  id: 5974e979-1234-5678-90ab-438f833ec1c9
                  modified_time: 1586237137
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 14
                  remaining_quantity: 14
                  start_time: 1586563200
                  subscription_id: ENG-000000bb
                  type: SUB-ENG
                - created_time: 1629947267
                  end_time: 1744243199
                  id: 340a9cb3-1234-5678-90ab-b009344dbf3c
                  modified_time: 1629947267
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 10
                  remaining_quantity: 9
                  start_time: 1586476800
                  subscription_id: EX24-000000bc
                  type: SUB-EX24
                - created_time: 1632941870
                  end_time: 1744156799
                  id: 9b599b0f-1234-5678-90ab-406081b58e7f
                  modified_time: 1632941870
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 10
                  remaining_quantity: 10
                  start_time: 1632873600
                  subscription_id: ENG-000000bd
                  type: SUB-ENG
                - created_time: 1632941882
                  end_time: 1744156799
                  id: d6d8ead3-1234-5678-90ab-98badeac7287
                  modified_time: 1632941882
                  order_id: '00000000'
                  org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
                  quantity: 11
                  remaining_quantity: 9
                  start_time: 1632873600
                  subscription_id: MAN-000008be
                  type: SUB-MAN
                summary:
                  SUB-ENG: 18
                  SUB-EX24: 3
                  SUB-MAN: 22
                  SUB-VNA: 20
          schema:
            $ref: '#/components/schemas/license'
      description: OK
    LogsSearch:
      content:
        application/json:
          examples:
            example-1:
              value:
                end: 1428954000
                limit: 100
                results:
                - admin_id: 72bfa2bd-e58a-4670-9d20-a1468f7a6f58
                  admin_name: test@mistsys.com
                  id: c6f9347b-b0a4-4a23-b927-fa9249f2ffb2
                  message: TEST AUDIT
                  org_id: 469f6eca-6276-4993-bfeb-53cbbbba6f58
                  site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                  timestamp: 1431382121
                start: 1428939600
                total: 135
          schema:
            properties:
              end:
                type: integer
              limit:
                type: integer
              next:
                type: string
              results:
                items:
                  properties:
                    admin_id:
                      description: admin id
                      format: uuid
                      nullable: true
                      readOnly: true
                      type: string
                    admin_name:
                      description: name of the admin that performs the action
                      nullable: true
                      readOnly: true
                      type: string
                    after:
                      description: field values after the change
                      readOnly: true
                      type: object
                    before:
                      description: field values prior to the change
                      readOnly: true
                      type: object
                    for_site:
                      readOnly: true
                      type: boolean
                    id:
                      format: uuid
                      readOnly: true
                      type: string
                    message:
                      description: log message
                      readOnly: true
                      type: string
                    org_id:
                      description: org id
                      format: uuid
                      readOnly: true
                      type: string
                    site_id:
                      description: site id
                      format: uuid
                      readOnly: true
                      type: string
                    timestamp:
                      description: start time, in epoch
                      readOnly: true
                      type: number
                  required:
                  - admin_id
                  - admin_name
                  - message
                  - org_id
                  - site_id
                  - timestamp
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
              start:
                type: integer
              total:
                type: integer
            required:
            - end
            - limit
            - results
            - start
            - total
            type: object
      description: OK
    OrggroupsSearch:
      content:
        application/json:
          examples:
            example-1:
              value:
                limit: 0
                page: 0
                results:
                - id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  text: string
                  type: string
                total: 0
          schema:
            properties:
              limit:
                type: integer
              next:
                type: string
              page:
                type: integer
              results:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    text:
                      type: string
                    type:
                      type: string
                  required:
                  - id
                  - text
                  - type
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
              total:
                type: integer
            required:
            - limit
            - page
            - results
            - total
            type: object
      description: OK
    OrgsArrayStats:
      content:
        application/json:
          schema:
            items:
              $ref: '#/components/schemas/stats_org'
            type: array
      description: OK
    OrgsSearch:
      content:
        application/json:
          examples:
            example-1:
              value:
                end: 1614383378.4365287
                limit: 10
                results:
                - msp_id: d287e62f-0000-0000-0000-f2b9ba0a531f
                  name: Test Org
                  num_aps: 9
                  num_sites: 5
                  num_switches: 1
                  num_unassigned_aps: 1
                  org_id: bb1a8bf6-0000-0000-0000-8053a663cf65
                  sub_ana_required: 9
                  sub_ast_entitled: 5
                  sub_ast_required: 3
                  sub_eng_required: 3
                  sub_ex12_required: 1
                  sub_insufficient: true
                  sub_man_required: 9
                  sub_vna_entitled: 1
                  timestamp: 1614322563.513937
                  trial_enabled: false
                  usage_types:
                  - sub_eng
                - msp_id: d287e62f-0000-0000-0000-f2b9ba0a531f
                  name: Rogue Test1
                  num_aps: 1
                  num_sites: 1
                  org_id: 0fb81690-0000-0000-0000-9596d1d1534f
                  sub_ana_entitled: 1
                  sub_ana_required: 1
                  sub_insufficient: false
                  sub_man_entitled: 1
                  sub_man_required: 1
                  timestamp: 1614309876.500955
                start: 1613778578.4365668
                total: 2
          schema:
            properties:
              end:
                readOnly: true
                type: number
              limit:
                readOnly: true
                type: integer
              next:
                type: string
              results:
                items:
                  properties:
                    msp_id:
                      format: uuid
                      readOnly: true
                      type: string
                    name:
                      description: org name
                      readOnly: true
                      type: string
                    num_aps:
                      readOnly: true
                      type: integer
                    num_gateways:
                      readOnly: true
                      type: integer
                    num_sites:
                      readOnly: true
                      type: integer
                    num_switches:
                      readOnly: true
                      type: integer
                    num_unassigned_aps:
                      readOnly: true
                      type: integer
                    org_id:
                      description: org id
                      format: uuid
                      readOnly: true
                      type: string
                    sub_ana_entitled:
                      readOnly: true
                      type: integer
                    sub_ana_required:
                      readOnly: true
                      type: integer
                    sub_ast_entitled:
                      readOnly: true
                      type: integer
                    sub_ast_required:
                      readOnly: true
                      type: integer
                    sub_eng_entitled:
                      readOnly: true
                      type: integer
                    sub_eng_required:
                      readOnly: true
                      type: integer
                    sub_ex12_required:
                      readOnly: true
                      type: integer
                    sub_insufficient:
                      description: if this org has sufficient subscription
                      readOnly: true
                      type: boolean
                    sub_man_entitled:
                      readOnly: true
                      type: integer
                    sub_man_required:
                      readOnly: true
                      type: integer
                    sub_me_entitled:
                      readOnly: true
                      type: integer
                    sub_vna_entitled:
                      readOnly: true
                      type: integer
                    sub_vna_required:
                      readOnly: true
                      type: integer
                    timestamp:
                      readOnly: true
                      type: number
                    trial_enabled:
                      description: if this org is under trial period
                      readOnly: true
                      type: boolean
                    usage_types:
                      description: a list of types that enabled by usage
                      items:
                        type: string
                      readOnly: true
                      type: array
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
              start:
                readOnly: true
                type: number
              total:
                readOnly: true
                type: integer
            required:
            - end
            - limit
            - results
            - start
            - total
            type: object
            x-examples:
              example-1:
                end: 1622703061.6106656
                limit: 10
                results:
                - msp_id: d3ea21e6-b7a3-4027-a689-754cb88b9807
                  name: TM-LAB
                  num_aps: 4
                  num_gateways: 1
                  num_sites: 2
                  num_switches: 1
                  num_unassigned_aps: 1
                  org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
                  sub_ana_entitled: 2
                  sub_ana_required: 4
                  sub_ast_entitled: 2
                  sub_ast_required: 3
                  sub_eng_entitled: 2
                  sub_eng_required: 2
                  sub_ex12_required: 1
                  sub_insufficient: true
                  sub_man_entitled: 2
                  sub_man_required: 3
                  sub_me_entitled: 2
                  sub_vna_entitled: 2
                  sub_vna_required: 3
                  timestamp: 1622647525.727498
                start: 1622098261.6106946
                total: 1
      description: OK
    SsoLatestFailures:
      content:
        application/json:
          examples:
            example-1:
              value:
                results:
                - detail: string
                  saml_assertion_xml: string
                  timestamp: 0
          schema:
            properties:
              results:
                items:
                  properties:
                    detail:
                      type: string
                    saml_assertion_xml:
                      type: string
                    timestamp:
                      type: number
                  required:
                  - timestamp
                  - detail
                  - saml_assertion_xml
                minItems: 1
                type: array
                uniqueItems: true
            required:
            - results
            type: object
      description: OK
    count:
      content:
        application/json:
          examples:
            example-1:
              value:
                distinct: string
                end: 0
                limit: 0
                percentage: 0
                results:
                - count: 0
                  property: string
                start: 0
                total: 0
          schema:
            properties:
              distinct:
                type: string
              end:
                type: integer
              limit:
                type: integer
              results:
                items:
                  additionalProperties:
                    type: string
                  properties:
                    count:
                      type: integer
                  required:
                  - count
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
              start:
                type: integer
              total:
                type: integer
            required:
            - distinct
            - end
            - limit
            - results
            - start
            - total
            type: object
      description: OK
  schemas:
    license:
      description: License
      properties:
        amendments:
          items:
            properties:
              created_time:
                type: number
              end_time:
                readOnly: true
                type: integer
              id:
                readOnly: true
                type: string
              modified_time:
                type: number
              quantity:
                readOnly: true
                type: integer
              start_time:
                readOnly: true
                type: integer
              subscription_id:
                readOnly: true
                type: string
              type:
                enum:
                - SUB-MAN
                - SUB-AST
                - SUB-VNA
                - SUB-DATA
                - SUB-ENG
                - SUB-PMA
                - SUB-EX12
                - SUB-EX24
                - SUB-EX48
                - SUB-SVNA
                - SUB-ME
                - SUB-WAN1
                - SUB-WAN2
                - SUB-WVNA1
                - SUB-WVNA2
                - SUB-SRX1
                - SUB-SRX2
                readOnly: true
                type: string
            readOnly: true
            type: object
          readOnly: true
          type: array
          uniqueItems: true
        entitled:
          additionalProperties:
            type: integer
          description: Property key is license type (e.g. SUB-MAN)  and Property value
            is the number of licenses entitled.
          readOnly: true
          type: object
        licenses:
          description: list of registered licenses
          items:
            properties:
              created_time:
                type: number
              end_time:
                description: end date of the license term
                readOnly: true
                type: integer
              id:
                format: uuid
                type: string
              modified_time:
                type: number
              order_id:
                readOnly: true
                type: string
              org_id:
                format: uuid
                type: string
              quantity:
                description: number of devices entitled for this license
                readOnly: true
                type: integer
              remaining_quantity:
                description: Number of licences left in this subscription
                type: integer
              start_time:
                description: start date of the license term
                readOnly: true
                type: integer
              subscription_id:
                readOnly: true
                type: string
              type:
                enum:
                - SUB-MAN
                - SUB-AST
                - SUB-VNA
                - SUB-DATA
                - SUB-ENG
                - SUB-PMA
                - SUB-EX12
                - SUB-EX24
                - SUB-EX48
                - SUB-SVNA
                - SUB-ME
                - SUB-WAN1
                - SUB-WAN2
                - SUB-WVNA1
                - SUB-WVNA2
                - SUB-SRX1
                - SUB-SRX2
                readOnly: true
                type: string
            readOnly: true
            type: object
          readOnly: true
          type: array
          uniqueItems: true
        summary:
          additionalProperties:
            type: integer
          description: Property key is license type (e.g. SUB-MAN) and Property value
            is the number of licenses consumed.
          readOnly: true
          type: object
      type: object
      x-examples:
        example-1:
          amendments:
          - created_time: 1644684842
            end_time: 1744156799
            id: ff0a14f6-1234-5678-90ab-c8e64d4bc6c6
            modified_time: 1644684842
            quantity: -1
            start_time: 1632873600
            subscription_id: VNA-000000af
            type: SUB-VNA
          - created_time: 1644684842
            end_time: 1744156799
            id: c1c28812-1234-5678-90ab-dc95680da61e
            modified_time: 1644684842
            quantity: -1
            start_time: 1632873600
            subscription_id: MAN-000008be
            type: SUB-MAN
          - created_time: 1644684842
            end_time: 1744243199
            id: 96c0a41f-1234-5678-90ab-afe74817e9fd
            modified_time: 1644684842
            quantity: -1
            start_time: 1586476800
            subscription_id: EX24-000000bc
            type: SUB-EX24
          entitled:
            SUB-ENG: 26
            SUB-EX24: 9
            SUB-MAN: 26
            SUB-VNA: 26
          licenses:
          - created_time: 1555353534
            end_time: 1586822399
            id: 693a41a6-1234-5678-90ab-f53dbd3a31c0
            modified_time: 1555353534
            order_id: '00000000'
            org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
            quantity: 2
            remaining_quantity: 0
            start_time: 1555286400
            subscription_id: VNA-000000aa
            type: SUB-VNA
          - created_time: 1576132516
            end_time: 1586822399
            id: 656607cf-1234-5678-90ab-fc9035614ea5
            modified_time: 1576132516
            order_id: '00000000'
            org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
            quantity: 8
            remaining_quantity: 0
            start_time: 1576022400
            subscription_id: VNA-000000ab
            type: SUB-VNA
          - created_time: 1579204568
            end_time: 1730764800
            id: db50d0bc-1234-5678-90ab-e439958cb06b
            modified_time: 1579204568
            order_id: '00000000'
            org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
            quantity: 2
            remaining_quantity: 2
            start_time: 1572998400
            subscription_id: MAN-000000ac
            type: SUB-MAN
          - created_time: 1579204568
            end_time: 1730764800
            id: 2ff9e84a-1234-5678-90ab-fb9ec0726e01
            modified_time: 1579204568
            order_id: '00000000'
            org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
            quantity: 2
            remaining_quantity: 2
            start_time: 1572998400
            subscription_id: ENG-000000ad
            type: SUB-ENG
          - created_time: 1579204568
            end_time: 1730764800
            id: 16df7ea6-1234-5678-90ab-78018cd4024d
            modified_time: 1579204568
            order_id: '00000000'
            org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
            quantity: 2
            remaining_quantity: 2
            start_time: 1572998400
            subscription_id: VNA-000000ae
            type: SUB-VNA
          - created_time: 1586237081
            end_time: 1744243199
            id: 1b6f68d5-1234-5678-90ab-70d3e6d18c73
            modified_time: 1586237081
            order_id: '00000000'
            org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
            quantity: 14
            remaining_quantity: 14
            start_time: 1586563200
            subscription_id: VNA-000000af
            type: SUB-VNA
          - created_time: 1586237097
            end_time: 1744243199
            id: 1375c9bf-1234-5678-90ab-9c636708c89e
            modified_time: 1586237097
            order_id: '00000000'
            org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
            quantity: 14
            remaining_quantity: 14
            start_time: 1586563200
            subscription_id: MAN-000000ba
            type: SUB-MAN
          - created_time: 1586237137
            end_time: 1744243199
            id: 5974e979-1234-5678-90ab-438f833ec1c9
            modified_time: 1586237137
            order_id: '00000000'
            org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
            quantity: 14
            remaining_quantity: 14
            start_time: 1586563200
            subscription_id: ENG-000000bb
            type: SUB-ENG
          - created_time: 1629947267
            end_time: 1744243199
            id: 340a9cb3-1234-5678-90ab-b009344dbf3c
            modified_time: 1629947267
            order_id: '00000000'
            org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
            quantity: 10
            remaining_quantity: 9
            start_time: 1586476800
            subscription_id: EX24-000000bc
            type: SUB-EX24
          - created_time: 1632941870
            end_time: 1744156799
            id: 9b599b0f-1234-5678-90ab-406081b58e7f
            modified_time: 1632941870
            order_id: '00000000'
            org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
            quantity: 10
            remaining_quantity: 10
            start_time: 1632873600
            subscription_id: ENG-000000bd
            type: SUB-ENG
          - created_time: 1632941882
            end_time: 1744156799
            id: d6d8ead3-1234-5678-90ab-98badeac7287
            modified_time: 1632941882
            order_id: '00000000'
            org_id: 9777c1a0-1234-5678-90ab-02e208b2d34f
            quantity: 11
            remaining_quantity: 9
            start_time: 1632873600
            subscription_id: MAN-000008be
            type: SUB-MAN
          summary:
            SUB-ENG: 18
            SUB-EX24: 3
            SUB-MAN: 22
            SUB-VNA: 20
    stats_org:
      description: Org statistics
      properties:
        alarmtemplate_id:
          format: uuid
          type: string
        allow_mist:
          type: boolean
        created_time:
          type: number
        id:
          format: uuid
          type: string
        modified_time:
          type: number
        msp_id:
          format: uuid
          type: string
        name:
          type: string
        num_devices:
          type: integer
        num_devices_connected:
          type: integer
        num_devices_disconnected:
          type: integer
        num_inventory:
          type: integer
        num_sites:
          type: integer
        orggroup_ids:
          items:
            format: uuid
            type: string
          type: array
        session_expiry:
          type: integer
        sle:
          items:
            properties:
              path:
                type: string
              user_minutes:
                properties:
                  ok:
                    type: number
                  total:
                    type: number
                required:
                - total
                - ok
                type: object
            required:
            - path
            type: object
          minItems: 1
          type: array
          uniqueItems: true
      required:
      - orggroup_ids
      - name
      - id
      - msp_id
      - created_time
      - modified_time
      - allow_mist
      - session_expiry
      - alarmtemplate_id
      - num_sites
      - num_devices
      - num_inventory
      - num_devices_connected
      - num_devices_disconnected
      - sle
      type: object
      x-examples:
        example-1:
          alarmtemplate_id: 073a4600-xxxx-xxxx-xxxx-7dd17b048c44
          allow_mist: true
          created_time: 1565179566
          id: 203d3d02-xxxx-xxxx-xxxx-76896a3330f4
          modified_time: 1596096122
          msp_id: d3ea21e6-xxxx-xxxx-xxxx-754cb88b9807
          name: ORG-LAB
          num_devices: 8
          num_devices_connected: 4
          num_devices_disconnected: 4
          num_inventory: 8
          num_sites: 2
          orggroup_ids:
          - faea353c-xxxx-xxxx-xxxx-f16fcf1ca2a2
          session_expiry: 1440
          sle:
          - path: coverage
            user_minutes:
              ok: 47390
              total: 48932
          - path: Failed to Connect
            user_minutes:
              ok: 5
              total: 5
          - path: Time to Connect
            user_minutes:
              ok: 5
              total: 5
          - path: ap-availability
            user_minutes:
              ok: 7200
              total: 7200
          - path: throughput
            user_minutes:
              ok: 36881
              total: 36881
          - path: capacity
            user_minutes:
              ok: 39022
              total: 55764
