openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2306.2.9**

    >

    > Date: **July 13, 2023**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2306.2.9
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- description: Alarms are triggered based on certain events. Alarms could be configured
    using an Alarm Template.
  name: Orgs Alarms
- name: Orgs Assets
- name: Orgs Calls
- name: Orgs Clients - Wan
- name: Orgs Clients - Wired
- name: Orgs Clients - Wireless
- name: Orgs Devices
- description: API Call for 3rd party devices
  name: Orgs Devices Others
- name: Orgs Devices Stats
- name: Orgs Guests
- description: "Juniper Support Insight is a free service provided to all Mist customers.\
    \ You can adopt your devices via a few lines CLI comands. Allowing you to \n*\
    \ get some basic information about the adopted devices \n* web shell into device\
    \ (write privilege required) \n* upgrade (write privilege required)"
  name: Orgs JSI
- name: Orgs Licenses
- name: Orgs Logs
- name: Orgs Marvis
- name: Orgs Premium Analytics
- description: "PSK Self-Service Portals are for \n  1. **WIFI users** who want to\
    \ connect to a WLAN with personal PSK, they\u2019re told to connect to a URL where\
    \ they can login (likely through company\u2019s SSO) and get the WIFI Name / Passphrase\
    \ - required input fields name, email so we can generate PSK \n  2. **PSK Admins**\
    \ (they don\u2019t have access to normal Network Admin Portal)\nWhen a PSK portal\
    \ is created, an unique URL will be generated (e.g. https://psk.mist.com/xxxxxx)"
  name: Orgs Psk Portals
- name: Orgs Sites
- name: Orgs SLEs
- name: Orgs SSO
- name: Orgs Stats
- name: Orgs Tickets
- name: Orgs Tunnels Stats
- name: Orgs VPNs
- name: Orgs WxTags
- name: Sites Webhooks
paths:
  /api/v1/orgs/{org_id}/alarms/count:
    get:
      description: Count Org Alarms
      operationId: countOrgAlarms
      parameters:
      - in: query
        name: distinct
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countOrgAlarms
      tags:
      - Orgs Alarms
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/alarms/search:
    get:
      description: Search Org Alarms
      operationId: searchOrgAlarms
      parameters:
      - in: query
        name: site_id
        schema:
          type: string
      - in: query
        name: type
        schema:
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/AlarmsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchOrgAlarms
      tags:
      - Orgs Alarms
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/call/events/count:
    get:
      description: Count Org Call Events
      operationId: countOrgCallEvents
      parameters:
      - in: query
        name: distinct
        schema:
          enum:
          - type
          - app
          type: string
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countOrgCallEvents
      tags:
      - Orgs Calls
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/call/events/search:
    get:
      description: Search Org Call Events
      operationId: searchOrgCallEvents
      parameters:
      - description: Event Type. See [listCallEventsDefinitions](/#operation/listCallEventsDefinitions)
        in: query
        name: type
        schema:
          type: string
      - in: query
        name: ap
        schema:
          type: string
      - in: query
        name: mac
        schema:
          type: string
      - in: query
        name: app
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/CallEventsArraySearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchOrgCallEvents
      tags:
      - Orgs Calls
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/clients/count:
    get:
      description: Count Org Wireless Clients
      operationId: countOrgWirelessClients
      parameters:
      - in: query
        name: distinct
        schema:
          default: device
          enum:
          - mac
          - hostname
          - device
          - os
          - model
          - ap
          - vlan
          - ssid
          - ip
          type: string
      - description: partial / full MAC address
        in: query
        name: mac
        schema:
          type: string
      - description: partial / full hostname
        in: query
        name: hostname
        schema:
          type: string
      - description: device type, e.g. Mac, Nvidia, iPhone
        in: query
        name: device
        schema:
          type: string
      - description: os, e.g. Sierra, Yosemite, Windows 10
        in: query
        name: os
        schema:
          type: string
      - description: "model, e.g. \u201CMBP 15 late 2013\u201D, 6, 6s, \u201C8+ GSM\u201D"
        in: query
        name: model
        schema:
          type: string
      - description: AP mac where the client has connected to
        in: query
        name: ap
        schema:
          type: string
      - description: vlan
        in: query
        name: vlan
        schema:
          type: string
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - $ref: '#/components/parameters/ip'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countOrgWirelessClients
      tags:
      - Orgs Clients - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/clients/events/search:
    get:
      description: Get Org Clients Events
      operationId: searchOrgWirelessClientsEvents
      parameters:
      - description: event type, e.g. MARVIS_EVENT_CLIENT_FBT_FAILURE
        in: query
        name: type
        schema:
          type: string
      - description: for assoc/disassoc events
        in: query
        name: reason_code
        schema:
          type: integer
      - description: SSID Name
        in: query
        name: ssid
        schema:
          type: string
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - description: 802.11 standard
        in: query
        name: proto
        schema:
          enum:
          - b
          - g
          - n
          - ac
          - ax
          - a
          type: string
      - description: 24 / 5
        in: query
        name: band
        schema:
          enum:
          - '24'
          - '5'
          type: string
      - description: wlan_id
        in: query
        name: wlan_id
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/EventsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchOrgWirelessClientsEvents
      tags:
      - Orgs Clients - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/clients/search:
    get:
      description: Search Org Wireless Clients
      operationId: searchOrgWirelessClients
      parameters:
      - description: Site ID
        in: query
        name: site_id
        schema:
          type: string
      - description: partial / full MAC address
        in: query
        name: mac
        schema:
          type: string
      - $ref: '#/components/parameters/ip'
      - description: partial / full hostname
        in: query
        name: hostname
        schema:
          type: string
      - description: device type, e.g. Mac, Nvidia, iPhone
        in: query
        name: device
        schema:
          type: string
      - description: os, e.g. Sierra, Yosemite, Windows 10
        in: query
        name: os
        schema:
          type: string
      - description: "model, e.g. \u201CMBP 15 late 2013\u201D, 6, 6s, \u201C8+ GSM\u201D"
        in: query
        name: model
        schema:
          type: string
      - description: AP mac where the client has connected to
        in: query
        name: ap
        schema:
          type: string
      - $ref: '#/components/parameters/psk_id_query'
      - description: PSK Name
        in: query
        name: psk_name
        schema:
          type: string
      - description: vlan
        in: query
        name: vlan
        schema:
          type: string
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - description: partial / full MAC address, hostname
        in: query
        name: text
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/ClientsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchOrgWirelessClients
      tags:
      - Orgs Clients - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/clients/sessions/count:
    get:
      description: Count Org Wireless Clients Sessions
      operationId: countOrgWirelessClientsSessions
      parameters:
      - in: query
        name: distinct
        required: true
        schema:
          default: device
          enum:
          - ssid
          - ap
          - ip
          - vlan
          - hostname
          - os
          - model
          - device
          type: string
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - description: 5 / 24
        in: query
        name: band
        schema:
          enum:
          - '24'
          - '5'
          type: string
      - description: "E.g. \u201CMac\u201D, \u201CiPhone\u201D, \u201CApple watch\u201D"
        in: query
        name: client_family
        schema:
          type: string
      - description: "E.g. \u201CApple\u201D"
        in: query
        name: client_manufacture
        schema:
          type: string
      - description: "E.g. \u201C8+\u201D, \u201CXS\u201D"
        in: query
        name: client_model
        schema:
          type: string
      - description: "E.g. \u201CMojave\u201D, \u201CWindows 10\u201D, \u201CLinux\u201D"
        in: query
        name: client_os
        schema:
          type: string
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - description: wlan_id
        in: query
        name: wlan_id
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countOrgWirelessClientsSessions
      tags:
      - Orgs Clients - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/clients/sessions/search:
    get:
      description: Search Org Wireless Clients Sessions
      operationId: searchOrgWirelessClientSessions
      parameters:
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - description: 5 / 24
        in: query
        name: band
        schema:
          enum:
          - '24'
          - '5'
          type: string
      - description: "E.g. \u201CMac\u201D, \u201CiPhone\u201D, \u201CApple watch\u201D"
        in: query
        name: client_family
        schema:
          type: string
      - description: "E.g. \u201CApple\u201D"
        in: query
        name: client_manufacture
        schema:
          type: string
      - description: "E.g. \u201C8+\u201D, \u201CXS\u201D"
        in: query
        name: client_model
        schema:
          type: string
      - description: Username
        in: query
        name: client_username
        schema:
          type: string
      - description: "E.g. \u201CMojave\u201D, \u201CWindows 10\u201D, \u201CLinux\u201D"
        in: query
        name: client_os
        schema:
          type: string
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - description: wlan_id
        in: query
        name: wlan_id
        schema:
          type: string
      - $ref: '#/components/parameters/psk_id_query'
      - description: PSK Name
        in: query
        name: psk_name
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/WirelessClientSessionsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchOrgWirelessClientSessions
      tags:
      - Orgs Clients - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/devices/count:
    get:
      description: Count Org Devices
      operationId: countOrgDevices
      parameters:
      - example: model
        in: query
        name: distinct
        required: true
        schema:
          default: model
          enum:
          - hostname
          - site_id
          - model
          - mac
          - version
          - ip
          - mxtunnel_status
          - mxedge_id
          - lldp_system_name
          - lldp_system_desc
          - lldp_port_id
          - lldp_mgmt_addr
          type: string
      - description: partial / full hostname
        in: query
        name: hostname
        schema:
          type: string
      - description: site id
        in: query
        name: site_id
        schema:
          type: string
      - description: device model
        in: query
        name: model
        schema:
          type: string
      - description: AP mac
        in: query
        name: mac
        schema:
          type: string
      - description: version
        in: query
        name: version
        schema:
          type: string
      - $ref: '#/components/parameters/ip'
      - description: MxTunnel status, up / down
        in: query
        name: mxtunnel_status
        schema:
          enum:
          - up
          - down
          type: string
      - description: Mist Edge id, if AP is connecting to a Mist Edge
        in: query
        name: mxedge_id
        schema:
          type: string
      - description: LLDP system name
        in: query
        name: lldp_system_name
        schema:
          type: string
      - description: LLDP system description
        in: query
        name: lldp_system_desc
        schema:
          type: string
      - description: LLDP port id
        in: query
        name: lldp_port_id
        schema:
          type: string
      - description: LLDP management ip address
        in: query
        name: lldp_mgmt_addr
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countOrgDevices
      tags:
      - Orgs Devices
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/devices/events/count:
    get:
      description: Count Org Devices Events
      operationId: countOrgDevicesEvents
      parameters:
      - in: query
        name: distinct
        required: true
        schema:
          default: model
          enum:
          - org_id
          - site_id
          - ap
          - apfw
          - model
          - text
          - timestamp
          - type
          type: string
      - description: site id
        in: query
        name: site_id
        schema:
          type: string
      - description: AP mac
        in: query
        name: ap
        schema:
          type: string
      - description: AP Firmware
        in: query
        name: apfw
        schema:
          type: string
      - description: device model
        in: query
        name: model
        schema:
          type: string
      - description: event message
        in: query
        name: text
        schema:
          type: string
      - description: event time
        in: query
        name: timestamp
        schema:
          type: string
      - description: Events Type
        in: query
        name: type
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countOrgDevicesEvents
      tags:
      - Orgs Devices
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/devices/events/search:
    get:
      description: Search Org Devices Events
      operationId: searchOrgDevicesEvents
      parameters:
      - description: device mac
        in: query
        name: mac
        schema:
          type: string
      - description: device model
        in: query
        name: model
        schema:
          type: string
      - description: device type
        in: query
        name: device_type
        schema:
          default: ap
          enum:
          - ap
          - switch
          - gateway
          type: string
      - description: event message
        in: query
        name: text
        schema:
          type: string
      - description: event time
        in: query
        name: timestamp
        schema:
          type: string
      - description: see [listDeviceEventsDefinitions](/#operation/listDeviceEventsDefinitions)
        in: query
        name: type
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/DevicesEventsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchOrgDevicesEvents
      tags:
      - Orgs Devices
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/devices/last_config/count:
    get:
      description: Counts the number of entries in device config history for distinct
        field with given filters
      operationId: countOrgDeviceLastConfigs
      parameters:
      - in: query
        name: device_type
        schema:
          default: ap
          enum:
          - ap
          - switch
          - gateway
          type: string
      - in: query
        name: distinct
        schema:
          enum:
          - mac
          - version
          - name
          - site_id
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countOrgDeviceLastConfigs
      tags:
      - Orgs Devices
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/devices/last_config/search:
    get:
      description: Search Device Last Configs
      operationId: searchOrgDeviceLastConfigs
      parameters:
      - in: query
        name: device_type
        schema:
          default: ap
          enum:
          - ap
          - switch
          - gateway
          type: string
      - in: query
        name: mac
        schema:
          type: string
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: version
        schema:
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/ConfigsHistorySearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchOrgDeviceLastConfigs
      tags:
      - Orgs Devices
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/devices/radio_macs:
    get:
      description: Get List of Org AP Device Mac and Radio MACs
      operationId: listOrgApsMacs
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - mac: 5c5b35000001
                    radio_macs:
                    - 5c5b35000040
                    - 5c5b35000050
                    - 5c5b35000060
                  - mac: 5c5b45000001
                    radio_macs:
                    - 5c5b45000040
                    - 5c5b45000050
                    - 5c5b45000060
              schema:
                description: ''
                items:
                  properties:
                    mac:
                      minLength: 1
                      type: string
                    radio_macs:
                      items:
                        properties: {}
                      type: array
                  required:
                  - mac
                  - radio_macs
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
                x-examples:
                  example-1:
                  - mac: 5c5b35000001
                    radio_macs:
                    - 5c5b35000040
                    - 5c5b35000050
                    - 5c5b35000060
                  - mac: 5c5b45000001
                    radio_macs:
                    - 5c5b45000040
                    - 5c5b45000050
                    - 5c5b45000060
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listOrgApsMacs
      tags:
      - Orgs Devices
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/devices/search:
    get:
      description: Search Org Devices
      operationId: searchOrgDevices
      parameters:
      - description: partial / full hostname
        in: query
        name: hostname
        schema:
          type: string
      - description: site id
        in: query
        name: site_id
        schema:
          type: string
      - description: device model
        in: query
        name: model
        schema:
          type: string
      - description: AP mac
        in: query
        name: mac
        schema:
          type: string
      - description: version
        in: query
        name: version
        schema:
          type: string
      - description: power_constrained
        in: query
        name: power_constrained
        schema:
          type: boolean
      - $ref: '#/components/parameters/ip'
      - description: MxTunnel status, up / down
        in: query
        name: mxtunnel_status
        schema:
          enum:
          - up
          - down
          type: string
      - description: Mist Edge id, if AP is connecting to a Mist Edge
        in: query
        name: mxedge_id
        schema:
          type: string
      - description: LLDP system name
        in: query
        name: lldp_system_name
        schema:
          type: string
      - description: LLDP system description
        in: query
        name: lldp_system_desc
        schema:
          type: string
      - description: LLDP port id
        in: query
        name: lldp_port_id
        schema:
          type: string
      - description: LLDP management ip address
        in: query
        name: lldp_mgmt_addr
        schema:
          type: string
      - description: Bandwith of band_24
        in: query
        name: band_24_bandwith
        schema:
          type: integer
      - description: Bandwith of band_5
        in: query
        name: band_5_bandwith
        schema:
          type: integer
      - description: Bandwith of band_6
        in: query
        name: band_6_bandwith
        schema:
          type: integer
      - description: Channel of band_24
        in: query
        name: band_24_channel
        schema:
          type: integer
      - description: Channel of band_5
        in: query
        name: band_5_channel
        schema:
          type: integer
      - description: Channel of band_6
        in: query
        name: band_6_channel
        schema:
          type: integer
      - description: Port speed of eth0
        in: query
        name: eth0_port_speed
        schema:
          type: integer
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/DevicesSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchOrgDevices
      tags:
      - Orgs Devices
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/guests/count:
    get:
      description: Count Org Authorized Guest
      operationId: countOrgGuestAuthorizations
      parameters:
      - example: auth_method
        in: query
        name: distinct
        schema:
          default: auth_method
          enum:
          - auth_method
          - ssid
          - company
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countOrgGuestAuthorizations
      tags:
      - Orgs Guests
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/guests/search:
    get:
      description: Search Authorized Guest
      operationId: searchOrgGuestAuthorization
      parameters:
      - example: 00000000-0000-0000-0000-000000000000
        in: query
        name: wlan_id
        schema:
          type: string
      - in: query
        name: auth_method
        schema:
          type: string
      - in: query
        name: ssid
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/GuestsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchOrgGuestAuthorization
      tags:
      - Orgs Guests
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/insights/sites-sle:
    get:
      description: Get Org Sites SLE
      operationId: getOrgSitesSle
      parameters:
      - in: query
        name: sle
        schema:
          enum:
          - wan
          - wired
          - wifi
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/interval'
      responses:
        '200':
          $ref: '#/components/responses/OrgSiteSle'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getOrgSitesSle
      tags:
      - Orgs SLEs
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/insights/{metric}:
    get:
      description: Get Org SLEs (all/worst sites, Mx Edges, ...)
      operationId: getOrgSle
      parameters:
      - description: see [listInsightMetrics](/#operation/listInsightMetrics) for
          more details
        in: query
        name: sle
        schema:
          type: string
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/interval'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      responses:
        '200':
          content:
            application/json:
              examples:
                worst-sites-by-sle:
                  value:
                    end: 1643706000
                    interval: 3600
                    limit: 100
                    results:
                    - ap-availability: 0.9919400860511628
                      ap-health: 0.967607512909879
                      capacity: 0.7484652273070254
                      coverage: 0.91217567374857
                      num_aps: 13
                      num_clients: 12
                      roaming: 0.991735537682683
                      roaming-exp: 0.991735537682683
                      site_id: 978c48e6-6ef6-11e6-8bbf-02e208b2d34f
                      successful-connect: 0.46052632135780236
                      throughput: 0.6775702123846302
                      time-to-connect: 0.9349112447196916
                    - ap-availability: 0.9990384613092129
                      ap-health: 0.48201754375507955
                      capacity: 0.9702673450306101
                      coverage: 0.8335392334930375
                      num_aps: 1
                      num_clients: 6
                      roaming: 1
                      roaming-exp: 1
                      site_id: 49ff76e0-a283-4e7d-b38d-041f1e9aff3c
                      successful-connect: 1
                      throughput: 0
                      time-to-connect: 1
                    - ap-availability: 1
                      ap-health: 0.982456140612301
                      capacity: 1
                      coverage: 0.9276041182442488
                      num_aps: 2
                      num_clients: 3
                      roaming: 1
                      roaming-exp: 1
                      site_id: 9b9b48f1-15a4-459e-86cc-9cbec9005983
                      successful-connect: 1
                      throughput: 1
                      time-to-connect: 0.8125
                    - ap-availability: 0.9981132070973234
                      ap-health: 0.9991228068084047
                      capacity: 1
                      coverage: 1
                      num_aps: 1
                      num_clients: 0
                      roaming: 1
                      roaming-exp: 1
                      site_id: eb0e1671-7a6b-472b-94c3-c187dafe5274
                      successful-connect: 1
                      throughput: 0
                      time-to-connect: 0.5
                    start: 1643670000
              schema:
                description: ''
                properties:
                  end:
                    type: number
                  interval:
                    type: number
                  limit:
                    type: number
                  results:
                    items:
                      additionalProperties: {}
                      type: object
                    type: array
                    uniqueItems: true
                  start:
                    type: number
                required:
                - start
                - end
                - interval
                - limit
                - results
                type: object
                x-examples:
                  example-1:
                    end: 1643706000
                    interval: 3600
                    limit: 100
                    results:
                    - {}
                    start: 1643670000
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getOrgSle
      tags:
      - Orgs SLEs
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/metric'
  /api/v1/orgs/{org_id}/jsi/inventory:
    get:
      description: Get List of all devices purchased from the accounts associated
        with the Org
      operationId: listOrgJsiPastPurchases
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - in: query
        name: model
        schema:
          type: string
      - in: query
        name: serial
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - contract_end_time: 1708214400
                    contract_id: '68247710'
                    contract_sku: PAR-SDCE-EX4300T48
                    contract_start_time: 1629331200
                    customer_po: '4501942932'
                    distributor: dist1
                    eol_time: 1671062400
                    eos_time: 1828828800
                    installed_address: Address
                    model: EX4300-48T
                    order_id: '15909647'
                    reseller: reseller1
                    serial: PE3721050223
                    sku: EX4300-48T-AFI
                    type: switch
                    warranty_end_time: 2258236800
                    warranty_start_time: 1619395200
                    warranty_type: Enhanced Hardware Warranty
              schema:
                items:
                  properties:
                    contract_end_time:
                      type: integer
                    contract_id:
                      type: string
                    contract_sku:
                      type: string
                    contract_start_time:
                      type: integer
                    customer_po:
                      description: po number associated with this SKU
                      type: string
                    distributor:
                      description: distributor name
                      type: string
                    eol_time:
                      description: end of life time
                      type: integer
                    eos_time:
                      description: end of support time
                      type: integer
                    installed_address:
                      description: address where the device is installed. It is a
                        combination of address , region , country , zip
                      type: string
                    model:
                      description: model of the install base inventory
                      type: string
                    order_id:
                      description: order ID associated with this SKU
                      type: string
                    reseller:
                      description: reseller name
                      type: string
                    serial:
                      description: serial Number of the inventory
                      type: string
                    sku:
                      description: serviceable device stock
                      type: string
                    type:
                      enum:
                      - ap
                      - switch
                      - gateway
                      type: string
                    warranty_end_time:
                      type: integer
                    warranty_start_time:
                      type: integer
                    warranty_type:
                      type: string
                  type: object
                type: array
                x-examples:
                  Example 1:
                  - contract_end_time: 1708214400
                    contract_id: '68247710'
                    contract_sku: PAR-SDCE-EX4300T48
                    contract_start_time: 1629331200
                    customer_po: '4501942932'
                    distributor: dist1
                    eol_time: 1671062400
                    eos_time: 1828828800
                    installed_address: Address
                    model: EX4300-48T
                    order_id: '15909647'
                    reseller: reseller1
                    serial: PE3721050223
                    sku: EX4300-48T-AFI
                    type: switch
                    warranty_end_time: 2258236800
                    warranty_start_time: 1619395200
                    warranty_type: Enhanced Hardware Warranty
          description: OK
        '400':
          content:
            application/json:
              examples:
                No Juniper Account Linked:
                  value:
                    detail: no juniper account linked
              schema:
                properties:
                  detail:
                    type: string
                type: object
                x-examples:
                  example-1:
                    detail: no juniper account linked
          description: Bad Requeno Juniper Account Linkedst
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listOrgJsiPastPurchases
      tags:
      - Orgs JSI
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/licenses/usages:
    get:
      description: 'Get Licenses Usage by Sites

        This shows license usage (i.e. needed) based on the features enabled for the
        site.'
      operationId: getOrgLicencesBySite
      responses:
        '200':
          $ref: '#/components/responses/LicenceUsage'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getOrgLicencesBySite
      tags:
      - Orgs Licenses
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/logs:
    get:
      description: Get List of change logs for the current Org
      operationId: listOrgLogs
      parameters:
      - description: site id
        in: query
        name: site_id
        schema:
          type: string
      - description: admin name or email
        in: query
        name: admin_name
        schema:
          type: string
      - description: message
        in: query
        name: message
        schema:
          type: string
      - description: sort order
        in: query
        name: sort
        schema:
          enum:
          - timestamp
          - -timestamp
          - site_id
          - admin_id
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/LogsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listOrgLogs
      tags:
      - Orgs Logs
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/logs/count:
    get:
      description: Count by Distinct Attributes of Audit Logs
      operationId: countOrgLogs
      parameters:
      - in: query
        name: distinct
        required: true
        schema:
          default: admin_name
          enum:
          - admin_id
          - admin_name
          - message
          - site_id
          type: string
      - in: query
        name: admin_id
        schema:
          type: string
      - in: query
        name: admin_name
        schema:
          type: string
      - in: query
        name: site_id
        schema:
          type: string
      - in: query
        name: message
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countOrgLogs
      tags:
      - Orgs Logs
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/otherdevices/events/count:
    get:
      description: Count Org OtherDevices Events
      operationId: countOrgOtherDevicesEvents
      parameters:
      - in: query
        name: distinct
        schema:
          default: mac
          enum:
          - mac
          - type
          - vendor
          - site_id
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countOrgOtherDevicesEvents
      tags:
      - Orgs Devices Others
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/otherdevices/events/search:
    get:
      description: Search Org OtherDevices Events
      operationId: searchOrgOtherDevicesEvents
      parameters:
      - description: site id
        in: query
        name: site_id
        schema:
          type: string
      - description: mac
        in: query
        name: mac
        schema:
          type: string
      - description: mac of attached device
        in: query
        name: device_mac
        schema:
          type: string
      - description: vendor name
        in: query
        name: vendor
        schema:
          type: string
      - description: event type
        in: query
        name: type
        schema:
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/EventsOtherDevicesSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchOrgOtherDevicesEvents
      tags:
      - Orgs Devices Others
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/pma/dashboards:
    get:
      description: Get List of premium analytics dashboards for this Org
      operationId: listOrgPmaDashboards
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - name: dashboard_1
                    url: https://mist.looker.com/login/embed/%2Fembed%2Fdashboards%2F1?group_ids=%5B3%5D&last_name=%22%22&models=%5B%22generic%22%5D&.....
              schema:
                items:
                  properties:
                    description:
                      description: description of the dashboard
                      example: Dashboard 1 description
                      type: string
                    label:
                      description: group label name
                      example: Wireless
                      type: string
                    name:
                      description: name of the dashboard
                      example: dashboard_1
                      type: string
                    url:
                      description: url to access dashboard. Url will redirect the
                        user to the dashboard
                      example: https://api.mist.com/api/v1/forward/looker?jwt=...
                      type: string
                  type: object
                type: array
                x-examples:
                  example-1:
                  - name: dashboard_1
                    url: https://mist.looker.com/login/embed/%2Fembed%2Fdashboards%2F1?group_ids=%5B3%5D&last_name=%22%22&models=%5B%22generic%22%5D&.....
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listOrgPmaDashboards
      tags:
      - Orgs Premium Analytics
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/pskportals/logs:
    get:
      description: Get the list of PSK Portals Logs
      operationId: listOrgPskPortalLogs
      parameters:
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/PskPortalLogsArray'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listOrgPskPortalLogs
      tags:
      - Orgs Psk Portals
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/pskportals/logs/count:
    get:
      description: Count by Distinct Attributes of PskPortal Logs
      operationId: countOrgPskPortalLogs
      parameters:
      - in: query
        name: distinct
        schema:
          default: pskportal_id
          enum:
          - admin_id
          - admin_name
          - psk_name
          - psk_id
          - pskportal_id
          - user_id
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countOrgPskPortalLogs
      tags:
      - Orgs Psk Portals
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/pskportals/logs/search:
    get:
      description: Search Org PSK Portal Logs
      operationId: searchOrgPskPortalLogs
      parameters:
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - in: query
        name: psk_name
        schema:
          type: string
      - in: query
        name: psk_id
        schema:
          format: uuid
          type: string
      - in: query
        name: pskportal_id
        schema:
          format: uuid
          type: string
      - description: audit_id
        in: query
        name: id
        schema:
          format: uuid
          type: string
      - in: query
        name: admin_name
        schema:
          type: string
      - in: query
        name: admin_id
        schema:
          format: uuid
          type: string
      - description: name_id used in SSO
        in: query
        name: name_id
        schema:
          format: uuid
          type: string
      responses:
        '200':
          $ref: '#/components/responses/PskPortalLogsArray'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchOrgPskPortalLogs
      tags:
      - Orgs Psk Portals
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/sites/count:
    get:
      description: Count Sites
      operationId: countOrgSites
      parameters:
      - in: query
        name: distinct
        schema:
          default: id
          enum:
          - analytic_enabled
          - app_waking
          - asset_enabled
          - auto_upgrade_enabled
          - auto_upgrade_version
          - country_code
          - honeypot_enabled
          - id
          - locate_unconnected
          - mesh_enabled
          - name
          - rogue_enabled
          - remote_syslog_enabled
          - rtsa_enabled
          - vna_enabled
          - wifi_enabled
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countOrgSites
      tags:
      - Orgs Sites
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/sites/search:
    get:
      description: Search Sites
      operationId: searchOrgSites
      parameters:
      - description: if Advanced Analytic feature is enabled
        in: query
        name: analytic_enabled
        schema:
          type: boolean
      - description: if App Waking feature is enabled
        in: query
        name: app_waking
        schema:
          type: boolean
      - description: if Asset Tracking is enabled
        in: query
        name: asset_enabled
        schema:
          type: boolean
      - description: if Auto Upgrade feature is enabled
        in: query
        name: auto_upgrade_enabled
        schema:
          type: boolean
      - description: if Auto Upgrade feature is enabled
        in: query
        name: auto_upgrade_version
        schema:
          type: string
      - description: site country code
        in: query
        name: country_code
        schema:
          type: string
      - description: if Honeypot detection is enabled
        in: query
        name: honeypot_enabled
        schema:
          type: boolean
      - description: site id
        in: query
        name: id
        schema:
          type: string
      - description: if unconnected client are located
        in: query
        name: locate_unconnected
        schema:
          type: boolean
      - description: if Mesh feature is enabled
        in: query
        name: mesh_enabled
        schema:
          type: boolean
      - description: site name
        in: query
        name: name
        schema:
          type: string
      - description: if Rogue detection is enabled
        in: query
        name: rogue_enabled
        schema:
          type: boolean
      - description: if Remote Syslog is enabled
        in: query
        name: remote_syslog_enabled
        schema:
          type: boolean
      - description: if managed mobility feature is enabled
        in: query
        name: rtsa_enabled
        schema:
          type: boolean
      - description: if Virtual Network Assistant is enabled
        in: query
        name: vna_enabled
        schema:
          type: boolean
      - description: if WIFI feature is enabled
        in: query
        name: wifi_enabled
        schema:
          type: boolean
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/SitesSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchOrgSites
      tags:
      - Orgs Sites
      - Monitor
    parameters:
    - $ref: '#/components/parameters/org_id'
[...]
