openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2306.2.3**

    >

    > Date: **June 30, 2023**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2306.2.3
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- description: A site represents a project, a deployment. For MSP, it can be as small
    as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps,
    Wlans, Policies, Zones.
  name: Sites
- name: Sites Alarms
- name: Sites Asset Filters
- name: Sites Assets
- name: Sites Beacons
- name: Sites Clients - Wireless
- description: 'Mist provides many ways (device-type specific template, site template,
    device profile, per-device) to configure devices for different kind of scenarios.

    The precedence goes from most specific to least specific

    Device > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template
    > Site Template > Site Setting'
  name: Sites Devices
- name: Sites Devices APs
- description: API Call for 3rd party devices
  name: Sites Devices Others
- name: Sites Devices Switches
- name: Sites Devices Switches Virtual Chassis
- name: Sites Devices WAN Edges
- name: Sites Devices WAN Edges HA
- name: Sites Devices Upgrades
- name: Sites Devices Utilities
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site '
  name: Sites EVPN Topologies
- name: Sites Guests
- name: Sites Insights
- name: Sites Location
- name: Sites Maps
- name: Sites Maps Auto-orientation
- name: Sites Maps Auto-placement
- name: Sites MxEdges
- name: Sites MxTunnels
- name: Sites Networks
- name: Sites Pcaps
- name: Sites Psks
- name: Sites Rfdiags
- name: Sites Rogues
- name: Sites RRM
- name: Sites Rssizones
- name: Sites Services
- name: Sites Service Policies
- name: Sites Setting
- name: Sites SLEs
- name: Sites Subscriptions
- name: Sites Synthetic Tests
- name: Sites UI Settings
- name: Sites vBeacons
- name: Sites VPNs
- name: Sites Webhooks
- name: Sites Wlans
- name: Sites WxRules
- name: Sites WxTags
- name: Sites WxTunnels
- name: Sites Zones
paths:
  /api/v1/sites/{site_id}:
    delete:
      description: Delete Site
      operationId: deleteSite
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: deleteSite
      tags:
      - Sites
      - Configuration
    get:
      description: Get Site Info
      operationId: getSiteInfo
      responses:
        '200':
          $ref: '#/components/responses/Site'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getSiteInfo
      tags:
      - Sites
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    put:
      description: Update Site Info
      operationId: updateSiteInfo
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  address: string
                  alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  country_code: string
                  latlng:
                    lat: 0
                    lng: 0
                  name: string
                  networktemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  notes: string
                  rftemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  secpolicy_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  sitegroup_ids:
                  - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  timezone: string
            schema:
              $ref: ./components/schemas/site.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Site'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: updateSiteInfo
      tags:
      - Sites
      - Configuration
  /api/v1/sites/{site_id}/alarms/ack:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Ack multiple Site Alarms
      operationId: multiAckSiteAlarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  alarm_ids:
                  - ccb8c94d-ca56-4075-932f-1f2ab444ff2c
                  - 98ff4a3d-ec9b-4138-a42e-54fc3335179d
                  note: maintenance window
            schema:
              properties:
                alarm_ids:
                  items:
                    format: uuid
                    type: string
                  type: array
                note:
                  description: Some text note describing the intent
                  type: string
              required:
              - alarm_ids
              type: object
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: multiAckSiteAlarms
      tags:
      - Sites Alarms
      - Configuration
  /api/v1/sites/{site_id}/alarms/ack_all:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: 'Ack all Site Alarms


        **N.B.**: Batch size for multiple alarm ack and unack has to be less or or
        equal to 1000.'
      operationId: ackSiteAllAlarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  note: string
            schema:
              $ref: ./components/schemas/note.yaml
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: ackSiteAllAlarms
      tags:
      - Sites Alarms
      - Configuration
  /api/v1/sites/{site_id}/alarms/unack:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Unack multiple Site Alarms
      operationId: multiUnackSiteAlarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  alarm_ids:
                  - ccb8c94d-ca56-4075-932f-1f2ab444ff2c
                  - 98ff4a3d-ec9b-4138-a42e-54fc3335179d
                  note: maintenance window
            schema:
              properties:
                alarm_ids:
                  items:
                    format: uuid
                    type: string
                  type: array
                note:
                  description: Some text note describing the intent
                  type: string
              required:
              - alarm_ids
              type: object
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: multiUnackSiteAlarms
      tags:
      - Sites Alarms
      - Configuration
  /api/v1/sites/{site_id}/alarms/unack_all:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: 'Unack all Site Alarms


        **N.B.**: Batch size for multiple alarm ack and unack has to be less or or
        equal to 1000.'
      operationId: unackSiteAllArlarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  note: maintenance window
            schema:
              $ref: ./components/schemas/note.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: unackSiteAllArlarms
      tags:
      - Sites Alarms
      - Configuration
  /api/v1/sites/{site_id}/alarms/{alarm_id}/ack:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/alarm_id'
    post:
      description: Ack Site Alarm
      operationId: ackSiteAlarm
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  note: maintenance window
            schema:
              $ref: ./components/schemas/note.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: ackSiteAlarm
      tags:
      - Sites Alarms
      - Configuration
  /api/v1/sites/{site_id}/alarms/{alarm_id}/unack:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/alarm_id'
    post:
      description: Unack Site Alarm
      operationId: unackSiteAlarm
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  note: maintenance window
            schema:
              $ref: ./components/schemas/note.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: unackSiteAlarm
      tags:
      - Sites Alarms
      - Configuration
  /api/v1/sites/{site_id}/assetfilters:
    get:
      description: Get List of Site Asset Filters
      operationId: listSiteAssetFilters
      responses:
        '200':
          $ref: '#/components/responses/AssetfiltersArray'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listSiteAssetFilters
      tags:
      - Sites Asset Filters
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Create Site Asset Filter
      operationId: createSiteAssetFilters
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./components/schemas/asset_filter.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Assetfilter'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: createSiteAssetFilters
      tags:
      - Sites Asset Filters
      - Configuration
  /api/v1/sites/{site_id}/assetfilters/{assetfilter_id}:
    delete:
      description: Deletes an existing BLE asset filter for the given site.
      operationId: deleteSiteAssetFilter
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: deleteSiteAssetFilter
      tags:
      - Sites Asset Filters
      - Configuration
    get:
      description: Get Site Asset Filter Details
      operationId: getSiteAssetFilter
      responses:
        '200':
          $ref: '#/components/responses/Assetfilter'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getSiteAssetFilter
      tags:
      - Sites Asset Filters
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/assetfilter_id'
    put:
      description: Updates an existing BLE asset filter for the given site.
      operationId: updateSiteAssetFilter
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./components/schemas/asset_filter.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Assetfilter'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: updateSiteAssetFilter
      tags:
      - Sites Asset Filters
      - Configuration
  /api/v1/sites/{site_id}/assets:
    get:
      description: Get List of Site Assets
      operationId: listSiteAssets
      responses:
        '200':
          $ref: '#/components/responses/AssetsArray'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listSiteAssets
      tags:
      - Sites Assets
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Create Site Asset
      operationId: createSiteAsset
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./components/schemas/asset.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Asset'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: createSiteAsset
      tags:
      - Sites Assets
      - Configuration
  /api/v1/sites/{site_id}/assets/import:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: "Impert Site Assets. \n\nIt can be done via a CSV file or a JSON\
        \ payload.\n\n## CSV File Format\n```csv\nname,mac\n\"asset_name\",5c5b53010101\n\
        ``` "
      operationId: importSiteAssets
      parameters:
      - description: API will replace the assets with same mac if provided `upsert`==`True`,
          otherwise will report in errors in response.
        in: query
        name: upsert
        schema:
          default: 'False'
          enum:
          - 'True'
          - 'False'
          type: string
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                - mac: a31eb04e1c38
                  name: Expensive Instrument
                - mac: a31eb04e1c37
                  name: Cheap Instrument
            schema:
              description: ''
              items:
                properties:
                  mac:
                    minLength: 1
                    type: string
                  name:
                    minLength: 1
                    type: string
                required:
                - name
                - mac
                type: object
              minItems: 1
              type: array
              uniqueItems: true
              x-examples:
                example-1:
                - mac: a31eb04e1c38
                  name: Expensive Instrument
                - mac: a31eb04e1c37
                  name: Cheap Instrument
          multipart/form-data:
            schema:
              properties:
                file:
                  description: CSV file
                  format: binary
                  type: string
              type: object
        description: ''
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: importSiteAssets
      tags:
      - Sites Assets
      - Configuration
  /api/v1/sites/{site_id}/assets/{asset_id}:
    delete:
      description: Delete Site Asset
      operationId: deleteSiteAsset
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '201':
          description: Created
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: deleteSiteAsset
      tags:
      - Sites Assets
      - Configuration
    get:
      description: Get Site Asset Details
      operationId: getSiteAsset
      responses:
        '200':
          $ref: '#/components/responses/Asset'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getSiteAsset
      tags:
      - Sites Assets
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/asset_id'
    put:
      description: Update Site Asset
      operationId: updateSiteAsset
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./components/schemas/asset.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Asset'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: updateSiteAsset
      tags:
      - Sites Assets
      - Configuration
  /api/v1/sites/{site_id}/beacons:
    get:
      description: Get List of Site Beacons
      operationId: listSiteBeacons
      responses:
        '200':
          $ref: '#/components/responses/BeaconsArray'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listSiteBeacons
      tags:
      - Sites Beacons
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Create Site Beacon
      operationId: createSiteBeacon
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  eddystone_instance: string
                  eddystone_namespace: string
                  eddystone_url: string
                  ibeacon_major: 0
                  ibeacon_minor: 0
                  ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  mac: string
                  map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  name: string
                  power: 0
                  type: eddystone-uid
                  x: 0
                  y: 0
            schema:
              $ref: ./components/schemas/beacon.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Beacon'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: createSiteBeacon
      tags:
      - Sites Beacons
      - Configuration
  /api/v1/sites/{site_id}/beacons/{beacon_id}:
    delete:
      description: Delete Site Beacon
      operationId: deleteSiteBeacons
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: deleteSiteBeacons
      tags:
      - Sites Beacons
      - Configuration
    get:
      description: Get Site Beacon Details
      operationId: getSiteBeacon
      responses:
        '200':
          $ref: '#/components/responses/Beacon'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getSiteBeacon
      tags:
      - Sites Beacons
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/beacon_id'
    put:
      description: Update Site Beacon
      operationId: updateSiteBeacons
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  eddystone_instance: string
                  eddystone_namespace: string
                  eddystone_url: string
                  ibeacon_major: 0
                  ibeacon_minor: 0
                  ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  mac: string
                  map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  name: string
                  power: 0
                  type: eddystone-uid
                  x: 0
                  y: 0
            schema:
              $ref: ./components/schemas/beacon.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Beacon'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: updateSiteBeacons
      tags:
      - Sites Beacons
      - Configuration
  /api/v1/sites/{site_id}/clients/disconnect:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: To unauthorize multiple clients
      operationId: disconnectSiteMultipleClients
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                - 683b679ac024
            schema:
              items:
                type: string
              minItems: 1
              type: array
              uniqueItems: true
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: disconnectSiteMultipleClients
      tags:
      - Sites Clients - Wireless
      - Configuration
  /api/v1/sites/{site_id}/clients/unauthorize:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: "This unauthorize clients (if they are guest) and disconnect them.\
        \ From the guest\u2019s perspective, they will see the splash page again and\
        \ go through the flow (e.g. Terms of Use) again."
      operationId: unauthorizeSiteMultipleClients
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                - 683b679ac024
            schema:
              items:
                type: string
              minItems: 1
              type: array
              uniqueItems: true
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: unauthorizeSiteMultipleClients
      tags:
      - Sites Clients - Wireless
      - Configuration
  /api/v1/sites/{site_id}/clients/{client_mac}/disconnect:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/client_mac'
    post:
      description: "This disconnect a client (and it\u2019s likely to connect back)"
      operationId: disconnectSiteWirelessClient
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: disconnectSiteWirelessClient
      tags:
      - Sites Clients - Wireless
      - Configuration
  /api/v1/sites/{site_id}/clients/{client_mac}/unauthorize:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/client_mac'
    post:
      description: "This unauthorize a client (if it\u2019s a guest) and disconnect\
        \ it. From the guest\u2019s perspective, s/he will see the splash page again\
        \ and go through the flow (e.g. Terms of Use) again."
      operationId: unauthorizeSiteWirelessClient
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: unauthorizeSiteWirelessClient
      tags:
      - Sites Clients - Wireless
      - Configuration
  /api/v1/sites/{site_id}/deviceprofiles/derived:
    get:
      description: Retrieves the list of Device Profiles available for the Site
      operationId: listSiteDeviceProfilesDerived
      parameters:
      - description: whether resolve the site variables
        in: query
        name: resolve
        schema:
          default: false
          type: boolean
      responses:
        '200':
          $ref: '#/components/responses/DeviceprofilesArray'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listSiteDeviceProfilesDerived
      tags:
      - Sites Service Policies
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices:
    get:
      description: Get list of devices on the site.
      operationId: listSiteDevices
      parameters:
      - description: device type
        in: query
        name: type
        schema:
          default: ap
          enum:
          - ap
          - switch
          - gateway
          - all
          type: string
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/DevicesArray'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listSiteDevices
      tags:
      - Sites Devices
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/import:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: 'Import Information for Multiple Devices


        CSV format:

        ```csv

        mac,name,map_id,x,y,height,orientation,labels,band_24.power,band_24.bandwidth,band_24.channel,band_24.disabled,band_5.power,band_5.bandwidth,band_5.channel,band_5.disabled,band_6.power,band_6.bandwidth,band_6.channel,band_6.disabled

        5c5b53010101,"AP 1",845a23bf-bed9-e43c-4c86-6fa474be7ae5,30,10,2.3,45,"guest,
        campus, vip",1,20,0,false,0,40,0,false,17,80,0,false

        ```'
      operationId: importSiteDevices
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                - aeroscout:
                    enabled: false
                    host: string
                    locate_connected: true
                  ble_config:
                    beacon_enabled: true
                    beacon_rate: 0
                    beacon_rate_mode: default
                    beam_disabled:
                    - 0
                    eddystone_uid_adv_power: -100
                    eddystone_uid_beams: string
                    eddystone_uid_enabled: true
                    eddystone_uid_freq_msec: 0
                    eddystone_uid_instance: string
                    eddystone_uid_namespace: string
                    eddystone_url_adv_power: 0
                    eddystone_url_beams: string
                    eddystone_url_enabled: true
                    eddystone_url_freq_msec: 0
                    eddystone_url_url: string
                    ibeacon_adv_power: -100
                    ibeacon_beams: string
                    ibeacon_enabled: false
                    ibeacon_freq_msec: 0
                    ibeacon_major: 0
                    ibeacon_minor: 0
                    ibeacon_uuid: 1f89bc00-d0af-481b-82fe-a6629259a39f
                    power: 9
                    power_mode: string
                  created_time: 0
                  deviceprofile_id: 366a0f23-8d77-404c-8908-b2e629ba0782
                  disable_eth1: false
                  disable_eth2: false
                  disable_eth3: false
                  disable_module: false
                  for_site: true
                  height: 0
                  id: 484f6eca-6276-4993-bfeb-55cbbbba6f08
                  image1_url: string
                  image2_url: string
                  image3_url: string
                  iot_config:
                    A1:
                      enabled: false
                      name: string
                      output: true
                      pullup: internal
                      value: 0
                    A2:
                      enabled: false
                      name: string
                      output: true
                      pullup: internal
                      value: 0
                    A3:
                      enabled: false
                      name: string
                      output: true
                      pullup: internal
                      value: 0
                    A4:
                      enabled: false
                      name: string
                      output: true
                      pullup: internal
                      value: 0
                    DI1:
                      enabled: false
                      name: string
                      pullup: internal
                    DI2:
                      enabled: false
                      name: string
                      pullup: internal
                    DO:
                      enabled: false
                      name: string
                      output: true
                      pullup: internal
                      value: 0
                  ip_config:
                    dns:
                    - string
                    dns_suffix:
                    - string
                    gateway: 192.168.0.1
                    gateway6: 2001:0db8:85a3:0000:0000:8a2e:0370:7334
                    ip: 192.168.0.1
                    ip6: 2001:0db8:85a3:0000:0000:8a2e:0370:7334
                    mtu: 0
                    netmask: 192.168.0.1
                    netmask6: 2001:0db8:85a3:0000:0000:8a2e:0370:7334
                    type: static
                    type6: static
                    vlan_id: 1
                  led:
                    brightness: 0
                    enabled: true
                  locked: true
                  map_id: 09d2b626-2e4e-45ef-a3c4-e6aeb6c83db1
                  mesh:
                    enabled: false
                    group: 0
                    role: base
                  modified_time: 0
                  name: string
                  notes: string
                  ntp_servers:
                  - string
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  orientation: 0
                  poe_passthrough: false
                  port_config:
                    property1:
                      disabled: true
                      dynamic_vlan:
                        default_vlan_id: 0
                        enabled: true
                        type: string
                        vlans:
                          property1: string
                          property2: string
                      enable_mac_auth: true
                      forwarding: all
                      mx_tunnel_id: 5f5cac07-0805-46ea-aafd-5c5729042729
                      mxtunnel_name: string
                      port_auth: none
                      port_vlan_id: 0
                      radius_config:
                        acct_interim_interval: 0
                        acct_servers:
                        - host: string
                          keywrap_enabled: true
                          keywrap_format: string
                          keywrap_kek: string
                          keywrap_mack: string
                          port: 1813
                          secret: string
                        auth_servers:
                        - host: string
                          keywrap_enabled: true
                          keywrap_format: string
                          keywrap_kek: string
                          keywrap_mack: string
                          port: 1812
                          secret: string
                        auth_servers_retries: 3
                        auth_servers_timeout: 5
                        coa_enabled: false
                        coa_port: 3799
                        network: string
                        source_ip: string
                      radsec:
                        enabled: true
                        idle_timeout: 0
                        server_name: string
                        servers:
                        - host: string
                          port: 0
                        use_mxedge: true
                      vlan_id: 0
                      vland_ids:
                      - 0
                      wxtunnel_id: string
                      wxtunnel_remote_id: string
                    property2:
                      disabled: true
                      dynamic_vlan:
                        default_vlan_id: 0
                        enabled: true
                        type: string
                        vlans:
                          property1: string
                          property2: string
                      enable_mac_auth: true
                      forwarding: all
                      mx_tunnel_id: 5f5cac07-0805-46ea-aafd-5c5729042729
                      mxtunnel_name: string
                      port_auth: none
                      port_vlan_id: 0
                      radius_config:
                        acct_interim_interval: 0
                        acct_servers:
                        - host: string
                          keywrap_enabled: true
                          keywrap_format: string
                          keywrap_kek: string
                          keywrap_mack: string
                          port: 1813
                          secret: string
                        auth_servers:
                        - host: string
                          keywrap_enabled: true
                          keywrap_format: string
                          keywrap_kek: string
                          keywrap_mack: string
                          port: 1812
                          secret: string
                        auth_servers_retries: 3
                        auth_servers_timeout: 5
                        coa_enabled: false
                        coa_port: 3799
                        network: string
                        source_ip: string
                      radsec:
                        enabled: true
                        idle_timeout: 0
                        server_name: string
                        servers:
                        - host: string
                          port: 0
                        use_mxedge: true
                      vlan_id: 0
                      vland_ids:
                      - 0
                      wxtunnel_id: string
                      wxtunnel_remote_id: string
                  pwr_config:
                    base: 0
                  radio_config:
                    ant_gain_24: 0
                    ant_gain_5: 0
                    ant_gain_6: 0
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      channels:
                      - 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: short
                      usage: '24'
                    band_24_usage: '24'
                    band_5:
                      allow_rrm_disable: true
                      ant_gain: 0
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      channels:
                      - 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: short
                      usage: '24'
                    band_5_on_24_radio:
                      allow_rrm_disable: true
                      ant_gain: 0
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      channels:
                      - 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: short
                      usage: '24'
                    band_6:
                      allow_rrm_disable: true
                      ant_gain: 0
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      channels:
                      - 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: short
                      usage: '24'
                    scanning_enabled: true
                  site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                  switch_config:
                    enabled: false
                    eth0:
                      enable_vlan: true
                      port_vlan_id: 0
                      vlan_ids:
                      - 0
                    eth1:
                      enable_vlan: true
                      port_vlan_id: 0
                      vlan_ids:
                      - 0
                    eth2:
                      enable_vlan: true
                      port_vlan_id: 0
                      vlan_ids:
                      - 0
                    eth3:
                      enable_vlan: true
                      port_vlan_id: 0
                      vlan_ids:
                      - 0
                    module:
                      enable_vlan: true
                      port_vlan_id: 0
                      vlan_ids:
                      - 0
                    wds:
                      enable_vlan: true
                      port_vlan_id: 0
                      vlan_ids:
                      - 0
                  usb_config:
                    cacert: string
                    channel: 0
                    enabled: true
                    host: string
                    port: 0
                    type: imagotag
                    verify_cert: true
                  vars: {}
                  x: 0
                  y: 0
            schema:
              items:
                $ref: ./components/schemas/device_ap.yaml
              type: array
          application/octet-stream:
            schema:
              format: binary
              type: string
      responses:
        '200':
          $ref: '#/components/responses/DevicesArray'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: importSiteDevices
      tags:
      - Sites Devices
      - Configuration
  /api/v1/sites/{site_id}/devices/reprovision:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: 'To force all APs to reprovision itself again. '
      operationId: reprovisionSiteAllAps
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: reprovisionSiteAllAps
      tags:
      - Sites Devices APs
      - Configuration
  /api/v1/sites/{site_id}/devices/reset_radio_config:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Reset all APs in the Site to use RRM
      operationId: resetSiteAllApsToUseRrm
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  bands:
                  - '24'
                  - '5'
                  - '6'
                  force: false
            schema:
              properties:
                bands:
                  description: list of bands
                  items:
                    type: string
                  type: array
                force:
                  default: false
                  description: whether to reset those with radio disabled. default
                    is false (i.e. if user intentionally disables a radio, honor it)
                  type: boolean
              required:
              - bands
              type: object
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: resetSiteAllApsToUseRrm
      tags:
      - Sites Devices APs
      - Configuration
  /api/v1/sites/{site_id}/devices/restart:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Note that only the devices that are connected will be restarted.
      operationId: multiRestartSiteDevices
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  device_ids:
                  - 00000000-0000-0000-1000-5c5b35584a6f
                  - 00000000-0000-0000-1000-5c5b350ea3b3
              example-2:
                value:
                  device_ids:
                  - 421f6eca-6276-4893-bfeb-53cbbbba6f02
                  node: node0
            schema:
              properties:
                device_ids:
                  items:
                    format: uuid
                    type: string
                  type: array
                node:
                  description: 'only for SSR: if node is not present, both nodes are
                    restarted

                    for other devices: node should not be present'
                  type: string
              required:
              - device_ids
              type: object
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: multiRestartSiteDevices
      tags:
      - Sites Devices
      - Configuration
  /api/v1/sites/{site_id}/devices/upgrade:
    get:
      description: Get all upgrades for site
      operationId: getSiteDevicesUpgrade
      parameters:
      - in: query
        name: status
        schema:
          enum:
          - downloading
          - completed
          - created
          - downloaded
          - upgrading
          - cancelled
          - failed
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DeviceUpgradeArray'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getSiteDevicesUpgrade
      tags:
      - Sites Devices Upgrades
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: "Upgrade Multiple Device\n\n**Note**: this call doesn\u2019t guarantee\
        \ the devices to be upgraded right away (they may be offline)"
      operationId: multiUpgradeSiteDevices
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  canary_phases:
                  - 1
                  - 10
                  - 50
                  - 100
                  device_ids:
                  - string
                  enable_p2p: true
                  force: false
                  max_failure_percentage: 5
                  max_failures:
                  - 0
                  models:
                  - string
                  start_time: 0
                  strategy: big_bang
                  version: stable
            schema:
              $ref: ./components/schemas/device_upgrade.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/DeviceUpgrade'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: multiUpgradeSiteDevices
      tags:
      - Sites Devices Upgrades
      - Configuration
  /api/v1/sites/{site_id}/devices/upgrade/{upgrade_id}:
    get:
      description: Get Site Device Upgrade
      operationId: getSiteUpgrade
      responses:
        '200':
          $ref: '#/components/responses/DeviceUpgrade'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getSiteUpgrade
      tags:
      - Sites Devices Upgrades
      - Configuration
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/upgrade_id'
  /api/v1/sites/{site_id}/devices/upgrade/{upgrade_id}/cancel:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/upgrade_id'
    post:
      description: Best effort to cancel an upgrade. Devices which are already upgraded
        wont be touched
      operationId: cancelSiteDeviceUpgrade
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
[...]
