openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2306.2.12**

    >

    > Date: **July 19, 2023**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2306.2.12
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- description: "In a typical enterprise, a separate group of people, Installers, are\
    \ responsible for install new devices. May it be a new installation (e.g. new\
    \ stores), a replacement installation (e.g. replacing Cisco APs with Mist APs),\
    \ or addition (e.g. adding new APs for better coverage). Instead of granting them\
    \ Admin/Write privilege, it's more desirable to grant them minimum privileges\
    \ to do the initial provisioning so they cannot read sensible information (e.g.\
    \ PSK of a WLAN), or change configs of running APs.\nAt a high level, Installer\
    \ APs try to achieve the following:\n1. identifying a device by MAC (that\u2019\
    s what they see)\n2. they can only touch configurations of the devices they\u2019\
    re installing\n3. allow the following configurations: * name * site assignment\
    \ * device  profile assignment * map and location (x/y) assignment * claim (if\
    \ not already in the inventory) * replace existing device with the device being\
    \ installed\n\n* Grace Period *\nGrace period provides a dynamic way to limit\
    \ what devices / sites   installer can work on. Generally installers work on recent\
    \ deployments -  bringing up new sites, add newly claimed devices to new / existing\
    \ sites. They  make mistakes, too, and may need to further tweak some of the parameters.\
    \   Default grace period is 7 days and can be set from 1 day to 365 days."
  name: Installer
paths:
  /api/v1/installer/orgs/{org_id}/alarmtemplates:
    get:
      description: Get List of alarm templates
      operationId: listInstallerAlarmTemplates
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - id: 684dfc5c-fe77-2290-eb1d-ef3d677fe168
                    name: AlarmTemplate 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                  - id
                  - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: listInstallerAlarmTemplates
      tags:
      - Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/deviceprofiles:
    get:
      description: Get List of Device Profiles
      operationId: listInstallerDeviceProfiles
      parameters: []
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                    name: DeviceProfile 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                  - id
                  - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: listInstallerDeviceProfiles
      tags:
      - Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/devices:
    get:
      description: Get List of recently claimed devices
      operationId: listInstallerListOfRenctlyClaimedDevices
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - connected: true
                    mac: 5c5b35000018
                    model: AP41
                    serial: FXLH2015150025
                  - connected: false
                    deviceprofile_name: SJ1
                    name: hallway
                    site_name: SJ1
                  - connected: true
                    height: 2.7
                    map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                    orientation: 90
                    x: 150
                    y: 300
              schema:
                items:
                  properties:
                    connected:
                      type: boolean
                    deviceprofile_name:
                      type: string
                    height:
                      type: number
                    mac:
                      type: string
                    map_id:
                      format: uuid
                      type: string
                    model:
                      type: string
                    name:
                      type: string
                    orientation:
                      type: number
                    serial:
                      type: string
                    site_name:
                      type: string
                    x:
                      type: number
                    y:
                      type: number
                  required:
                  - connected
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: listInstallerListOfRenctlyClaimedDevices
      tags:
      - Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: This mirrors `POST /api/v1/orgs/{org_id}/inventory` (see Inventory
        API)
      operationId: claimInstallerDevices
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                - 6JG8E-PTFV2-A9Z2N
                - DVH4V-SNMSZ-PDXBR
            schema:
              $ref: ./components/schemas/Model_array_string.yaml
        description: Request Body
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    added:
                    - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                    - DVH4V-SNMSZ-PDXBR
                    error:
                    - PO1025335ohoh
                    inventory_added:
                    - mac: 5c5b35000018
                      magic: 6JG8EPTFV2A9Z2N
                      model: AP41
                      serial: FXLH2015150025
                      type: ap
                    inventory_duplicated:
                    - mac: 5c5b35000012
                      magic: DVH4VSNMSZPDXBR
                      model: AP41
                      serial: FXLH2015150027
                      type: ap
              schema:
                properties:
                  added:
                    items:
                      type: string
                    type: array
                  duplicated:
                    items:
                      type: string
                    type: array
                  error:
                    items:
                      type: string
                    type: array
                  inventory_added:
                    items:
                      properties:
                        mac:
                          type: string
                        magic:
                          type: string
                        model:
                          type: string
                        serial:
                          type: string
                        type:
                          type: string
                      required:
                      - serial
                      - model
                      - type
                      - magic
                      - mac
                      type: object
                    minItems: 1
                    type: array
                    uniqueItems: true
                  inventory_duplicated:
                    items:
                      properties:
                        mac:
                          type: string
                        magic:
                          type: string
                        model:
                          type: string
                        serial:
                          type: string
                        type:
                          type: string
                      required:
                      - serial
                      - model
                      - type
                      - magic
                      - mac
                      type: object
                    minItems: 1
                    type: array
                    uniqueItems: true
                required:
                - added
                - duplicated
                - error
                - inventory_added
                - inventory_duplicated
                type: object
          description: OK
        '400':
          description: Bad Request if none of the entries are valid
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: claimInstallerDevices
      tags:
      - Installer
  /api/v1/installer/orgs/{org_id}/devices/{device_mac}:
    delete:
      description: Unassign recently claimed devices
      operationId: unassignInstallerRecentlyClaimedDevice
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: unassignInstallerRecentlyClaimedDevice
      tags:
      - Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/device_mac'
    put:
      description: "Provision or Replace a device \n\nIf replacing_mac is in the request\
        \ payload, other attributes are ignored, we attempt to replace existing device\
        \ (with mac replacing_mac) with the inventory device being configured. The\
        \ replacement device must be in the inventory but not assigned, and the replacing_mac\
        \ device must be assigned to a site, and satisfy grace period requirements.\
        \ The Device replaced will become unassigned."
      operationId: provisionInstallerDevices
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  deviceprofile_name: string
                  for_site: true
                  height: 0
                  map_id: 09d2b626-2e4e-45ef-a3c4-e6aeb6c83db1
                  name: string
                  orientation: 0
                  site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                  site_name: string
                  x: 0
                  y: 0
            schema:
              $ref: ./components/schemas/Installer_devices.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              examples:
                invalid mac given for replacing_mac:
                  value:
                    detail: invalid replacing_mac
                inventory device is already assigned:
                  value:
                    detail: device already assigned
                outsite_of_grace_period:
                  value:
                    detail: outside of grace period
                replacing_mac device is not assigned to a site:
                  value:
                    detail: replacing_mac device is unassigned
                replacing_mac device last modified outside of grace period:
                  value:
                    detail: replacing_mac device outside of grace period
              schema:
                properties:
                  detail:
                    type: string
                required:
                - detail
                type: object
          description: Bad Request
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                replacing_mac device is not in org inventory:
                  value:
                    detail: replacing_mac inventory not found
                replacing_mac device not found:
                  value:
                    detail: replacing_mac device not found
              schema:
                properties:
                  detail:
                    type: string
                type: object
                x-examples:
                  example-1:
                    detail: replacing_mac inventory not found
          description: Not Found
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: provisionInstallerDevices
      tags:
      - Installer
  /api/v1/installer/orgs/{org_id}/devices/{device_mac}/locate:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/device_mac'
    post:
      description: "Locate a Device by blinking it\u2019s LED, it\u2019s a persisted\
        \ state that has to be stopped by calling Stop Locating API"
      operationId: startInstallerLocateDevice
      requestBody:
        content:
          application/json:
            schema:
              properties: {}
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: startInstallerLocateDevice
      tags:
      - Installer
  /api/v1/installer/orgs/{org_id}/devices/{device_mac}/unlocate:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/device_mac'
    post:
      description: Stop it
      operationId: stopInstallerLocateDevice
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: stopInstallerLocateDevice
      tags:
      - Installer
  /api/v1/installer/orgs/{org_id}/devices/{device_mac}/{image_name}:
    delete:
      description: delete image
      operationId: deleteInstallerDeviceImage
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: deleteInstallerDeviceImage
      tags:
      - Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/image_name'
    - $ref: '#/components/parameters/device_mac'
    post:
      description: Add image
      operationId: addInstallerDeviceImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: ./components/schemas/image_upload.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: addInstallerDeviceImage
      tags:
      - Installer
  /api/v1/installer/orgs/{org_id}/rftemplates:
    get:
      description: Get List of RF Templates
      operationId: listInstallerRfTemplatesNames
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - id: bb8a9017-1e36-5d6c-6f2b-551abe8a76a2
                    name: RFTemplate 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                  - id
                  - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: listInstallerRfTemplatesNames
      tags:
      - Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/secpolicies:
    get:
      description: Get List of Secuity Policies
      operationId: listInstallerSecPolicies
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - id: 3bcd0beb-5d0a-4cbd-92c1-14aea91e98ef
                    name: SecuPolicy 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                  - id
                  - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: listInstallerSecPolicies
      tags:
      - Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/sitegroups:
    get:
      description: Get List of Site Groups
      operationId: listInstallerSiteGroups
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - id: 581328b6-e382-f54e-c9dc-999983183a34
                    name: SiteGroup 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                  - id
                  - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: listInstallerSiteGroups
      tags:
      - Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/sites:
    get:
      description: Get List of Sites
      operationId: listInstallerSites
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - address: 1601 S. Deanza Blvd., Cupertino, CA, 95014
                    country_code: US
                    id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    latlng:
                      lat: 37.295833
                      lng: -122.032946
                    name: Mist Office
                    timezone: America/Los_Angeles
              schema:
                items:
                  properties:
                    address:
                      type: string
                    country_code:
                      type: string
                    id:
                      format: uuid
                      type: string
                    latlng:
                      properties:
                        lat:
                          type: number
                        lng:
                          type: number
                      required:
                      - lat
                      - lng
                      type: object
                    name:
                      type: string
                    timezone:
                      type: string
                  required:
                  - id
                  - name
                  - timezone
                  - country_code
                  - latlng
                  - address
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: listInstallerSites
      tags:
      - Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/sites/{site_name}:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/site_name'
    put:
      description: Often the Installers are asked to assign Devices to Sites. The
        Sites can either be pre-created or created/modified by the Installer. If this
        is an update, the same grace period also applies.
      operationId: createOrUpdateInstallerSites
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  address: 1601 S. Deanza Blvd., Cupertino, CA, 95014
                  country_code: US
                  latlng:
                    lat: 37.295833
                    lng: -122.032946
                  name: string
                  rftemplate_name: rftemplate1
                  sitegroup_names:
                  - sg1
                  - sg2
                  timezone: America/Los_Angeles
            schema:
              properties:
                address:
                  type: string
                country_code:
                  type: string
                latlng:
                  properties:
                    lat:
                      type: number
                    lng:
                      type: number
                  type: object
                name:
                  type: string
                rftemplate_name:
                  type: string
                sitegroup_names:
                  items:
                    type: string
                  type: array
                timezone:
                  type: string
              required:
              - address
              - country_code
              - name
              type: object
              x-examples:
                Example 1:
                  address: 1601 S. Deanza Blvd., Cupertino, CA, 95014
                  country_code: US
                  latlng:
                    lat: 37.295833
                    lng: -122.032946
                  name: string
                  rftemplate_name: rftemplate1
                  sitegroup_names:
                  - sg1
                  - sg2
                  timezone: America/Los_Angeles
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: createOrUpdateInstallerSites
      tags:
      - Installer
  /api/v1/installer/orgs/{org_id}/sites/{site_name}/maps:
    get:
      description: Get List of Maps
      operationId: listInstallerMaps
      responses:
        '200':
          $ref: '#/components/responses/MapsArray'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: listInstallerMaps
      tags:
      - Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/site_name'
  /api/v1/installer/orgs/{org_id}/sites/{site_name}/maps/import:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/site_name'
    post:
      description: Import data from files is a multipart POST which has an file, an
        optional json, and an optional csv, to create floorplan, assign & place ap
        if name or mac matches
      operationId: importInstallerMap
      requestBody:
        content:
          multipart/form-data:
            examples:
              Example:
                value:
                  csv: string
                  file: string
                  json:
                    import_all_floorplans: false
                    import_height: false
                    import_orientation: false
                    vendor_name: ibwave
            schema:
              properties:
                csv:
                  format: binary
                  type: string
                file:
                  format: binary
                  type: string
                json:
                  properties:
                    import_all_floorplans:
                      default: false
                      type: boolean
                    import_height:
                      default: false
                      type: boolean
                    import_orientation:
                      default: false
                      type: boolean
                    vendor_name:
                      enum:
                      - ibwave
                      - ekahau
                      type: string
                  required:
                  - vendor_name
                  type: object
              type: object
        description: ''
      responses:
        '200':
          $ref: '#/components/responses/MapImport'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: importInstallerMap
      tags:
      - Installer
  /api/v1/installer/orgs/{org_id}/sites/{site_name}/maps/{map_id}:
    delete:
      description: Delete Map
      operationId: deleteInstallerMap
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: deleteInstallerMap
      tags:
      - Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/site_name'
    - $ref: '#/components/parameters/map_id'
    post:
      description: Create a MAP
      operationId: createInstallerMap
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  flags: {}
                  height: 0
                  latlng_br:
                    lat: string
                    lng: string
                  latlng_tl:
                    lat: string
                    lng: string
                  locked: true
                  name: string
                  orientation: 0
                  origin_x: 0
                  origin_y: 0
                  ppm: 0
                  sitesurvey_path:
                  - coordinate: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    nodes:
                    - edges:
                        N2: string
                      name: string
                      position:
                        x: 0
                        y: 0
                  thumbnail_url: string
                  type: image
                  url: string
                  view: roadmap
                  wall_path:
                    coordinate: string
                    nodes:
                    - edges:
                        N2: string
                      name: string
                      position:
                        x: 0
                        y: 0
                  wayfinding:
                    micello:
                      account_key: string
                      default_level_id: 0
                      map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    snap_to_path: true
                  wayfinding_path:
                    coordinate: string
                    nodes:
                    - edges:
                        N2: string
                      name: string
                      position:
                        x: 0
                        y: 0
                  width: 0
            schema:
              $ref: ./components/schemas/map.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Map'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: createInstallerMap
      tags:
      - Installer
    put:
      description: Update map
      operationId: updateInstallerMap
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./components/schemas/map.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Map'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: updateInstallerMap
      tags:
      - Installer
  /api/v1/installer/sites/{site_name}/optimize:
    get:
      description: "After installation is considered complete (APs are placed on maps,\
        \ all powered up), you can trigger an optimize operation where RRM will kick\
        \ in (and maybe other things in the future) before it\u2019s automatically\
        \ scheduled."
      operationId: optimizeInstallerRrm
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
        '429':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Too Many Request. The API Token used for the request reached
                      the 5000 API Calls per hour threshold
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Too Many Request. The API Token used for the request reached
            the 5000 API Calls per hour threshold
      summary: optimizeInstallerRrm
      tags:
      - Installer
    parameters:
    - $ref: '#/components/parameters/site_name'
components:
  parameters:
    device_mac:
      in: path
      name: device_mac
      required: true
      schema:
        example: 0000000000ab
        pattern: ^[0-9a-fA-F]{12}$
        type: string
    image_name:
      in: path
      name: image_name
      required: true
      schema:
        type: string
    map_id:
      in: path
      name: map_id
      required: true
      schema:
        example: 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    org_id:
      in: path
      name: org_id
      required: true
      schema:
        example: 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    site_name:
      in: path
      name: site_name
      required: true
      schema:
        type: string
  responses:
    Map:
      content:
        application/json:
          schema:
            $ref: ./components/schemas/map.yaml
      description: OK
    MapImport:
      content:
        application/json:
          examples:
            example-assigned_and_placed:
              value:
                aps:
                - action: assigned-placed
                  floorplan_id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                  height: 3
                  mac: 5c5b35000001
                  map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                  orientation: 45
                floorplans:
                - action: imported
                  id: cbdb7f0b-3be0-4872-88f9-58790b509c23
                  map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                  name: map1
                site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                summary:
                  num_ap_assigned: 1
                  num_inv_assigned: 1
                  num_map_assigned: 1
            example-assigned_named_and_placed:
              value:
                aps:
                - action: assigned-named-placed
                  floorplan_id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                  mac: 5c5b35000001
                  map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                  orientation: 45
                floorplans:
                - action: imported
                  id: cbdb7f0b-3be0-4872-88f9-58790b509c23
                  map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                  name: map1
                site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                summary:
                  num_ap_assigned: 1
                  num_inv_assigned: 1
                  num_map_assigned: 1
            example-placed:
              value:
                aps:
                - action: placed
                  floorplan_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  height: 3
                  mac: 5c5b35000001
                  map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                  orientation: 45
                floorplans:
                - action: imported
                  id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                  name: map1
                site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                summary:
                  num_ap_assigned: 1
                  num_inv_assigned: 1
                  num_map_assigned: 1
          schema:
            properties:
              aps:
                items:
                  properties:
                    action:
                      enum:
                      - placed
                      - assigned-placed
                      - named-placed
                      - assigned-named-placed
                      - ignored
                      type: string
                    floorplan_id:
                      format: uuid
                      type: string
                    height:
                      type: number
                    mac:
                      type: string
                    map_id:
                      format: uuid
                      type: string
                    orientation:
                      type: number
                    reason:
                      type: string
                  required:
                  - mac
                  - action
                  - map_id
                  - floorplan_id
                  - orientation
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
              floorplans:
                items:
                  properties:
                    action:
                      type: string
                    id:
                      format: uuid
                      type: string
                    map_id:
                      format: uuid
                      type: string
                    name:
                      type: string
                    reason:
                      type: string
                  required:
                  - id
                  - name
                  - action
                  - map_id
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
              for_site:
                readOnly: true
                type: boolean
              site_id:
                format: uuid
                type: string
              summary:
                properties:
                  num_ap_assigned:
                    type: integer
                  num_inv_assigned:
                    type: integer
                  num_map_assigned:
                    type: integer
                required:
                - num_ap_assigned
                - num_map_assigned
                - num_inv_assigned
                type: object
            required:
            - site_id
            - aps
            - floorplans
            - summary
            type: object
      description: OK
    MapsArray:
      content:
        application/json:
          examples:
            example-1:
              value:
              - created_time: 0
                flags: {}
                height: 0
                height_m: 0
                id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                latlng_br:
                  lat: string
                  lng: string
                latlng_tl:
                  lat: string
                  lng: string
                locked: true
                modified_time: 0
                name: string
                occupancy_limit: 0
                org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                orientation: 0
                origin_x: 0
                origin_y: 0
                ppm: 0
                site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                sitesurvey_path:
                - coordinate: string
                  id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  name: string
                  nodes:
                  - edges:
                      N2: string
                    name: string
                    position:
                      x: 0
                      y: 0
                thumbnail_url: string
                type: image
                url: string
                view: roadmap
                wall_path:
                  coordinate: string
                  nodes:
                  - edges:
                      N2: string
                    name: string
                    position:
                      x: 0
                      y: 0
                wayfinding:
                  micello:
                    account_key: string
                    default_level_id: 0
                    map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  snap_to_path: true
                wayfinding_path:
                  coordinate: string
                  nodes:
                  - edges:
                      N2: string
                    name: string
                    position:
                      x: 0
                      y: 0
                width: 0
                width_m: 0
          schema:
            items:
              $ref: ./components/schemas/map.yaml
            type: array
      description: OK
    OK:
      content:
        application/json:
          schema:
            type: object
      description: OK
  securitySchemes:
    apiToken:
      description: "Like many other API providers, it\u2019s also possible to generate\
        \ API Tokens to be used (in HTTP Header) for authentication. An API token\
        \ ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token\
        \ value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated\
        \ for a specific admin has the same privilege as the user\n* an API token\
        \ will be automatically removed if not used for > 90 days\n* SSO admins cannot\
        \ generate these API tokens. Refer Org level API tokens which can have privileges\
        \ of a specific Org/Site for more information."
      in: header
      name: Authorization
      type: apiKey
    basicAuth:
      description: "While our current UI uses Session / Cookie-based authentication,\
        \ it\u2019s also possible to do Basic Auth."
      scheme: basic
      type: http
