openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2309.1.1**

    >

    > Date: **September 28, 2023**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2309.1.1
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Constants
paths:
  /api/v1/const/alarm_defs:
    get:
      description: Get List of brief definitions of all the supported alarm types.  The
        example field contains an example payload as you would recieve in the alarm
        webhook output.
      operationId: listAlarmDefinitions
      responses:
        '200':
          $ref: '#/components/responses/ConstAlarmDefs'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listAlarmDefinitions
      tags:
      - Constants
  /api/v1/const/ap_channels:
    get:
      description: Get List of List of Available channels per country code
      operationId: listApChannels
      parameters:
      - $ref: '#/components/parameters/country_code'
      responses:
        '200':
          $ref: '#/components/responses/ConstApChannels'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listApChannels
      tags:
      - Constants
  /api/v1/const/ap_led_status:
    get:
      description: Get List of AP LED definition
      operationId: listApLedDefinition
      responses:
        '200':
          $ref: '#/components/responses/ConstApLedArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listApLedDefinition
      tags:
      - Constants
  /api/v1/const/applications:
    get:
      description: Get List of a list of applications that Juniper-Mist APs recognize
      operationId: listApplications
      responses:
        '200':
          $ref: '#/components/responses/ConstApplications'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listApplications
      tags:
      - Constants
  /api/v1/const/client_events:
    get:
      description: Get List of List of available Client Events
      operationId: listClientEventsDefinitions
      responses:
        '200':
          $ref: '#/components/responses/ConstClientEventsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listClientEventsDefinitions
      tags:
      - Constants
  /api/v1/const/countries:
    get:
      description: Get List of List of available Country Codes
      operationId: listCountryCodes
      responses:
        '200':
          $ref: '#/components/responses/ConstCrountriesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listCountryCodes
      tags:
      - Constants
  /api/v1/const/default_gateway_config:
    get:
      description: Generate Default Gateway Config
      operationId: getGatawayDefaultConfig
      parameters:
      - description: model the default gateway config is intended (as the default
          LAN/WAN port can differ)
        in: query
        name: model
        required: true
        schema:
          type: string
      - description: whether the config is intended for HA
        in: query
        name: ha
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    dhcpd_config:
                      lan:
                        ip_end: 192.168.1.254
                        ip_start: 192.168.1.2
                    ip_configs:
                      lan:
                        ip: 192.168.1.1
                        type: static
                    networks:
                      lan:
                        name: lan
                        subnet: 192.168.1.0/24
                        vlan_id: 1
                    path_preferences:
                      wan:
                        paths:
                        - name: wan
                          type: wan
                    port_config:
                      cl-1/0/0:
                        ip_config:
                          type: dhcp
                        name: lte
                        usage: wan
                        wan_type: lte
                      ge-0/0/0,ge-0/0/7:
                        ip_config:
                          type: dhcp
                        name: wan
                        usage: wan
                      ge-0/0/1-6:
                        port_network: lan
                        usage: lan
                    service_policies:
                    - action: allow
                      name: Internet
                      path_preference: wan
                      services:
                      - any
                      tenants:
                      - lan
              schema:
                additionalProperties: true
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getGatawayDefaultConfig
      tags:
      - Constants
  /api/v1/const/device_events:
    get:
      description: Get list of available Device Events
      operationId: listDeviceEventsDefinitions
      responses:
        '200':
          $ref: '#/components/responses/ConstDeviceEventsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listDeviceEventsDefinitions
      tags:
      - Constants
  /api/v1/const/device_models:
    get:
      description: Get list of AP device models for the Mist Site
      operationId: listDeviceModels
      responses:
        '200':
          $ref: '#/components/responses/ConstDeviceModels'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listDeviceModels
      tags:
      - Constants
  /api/v1/const/insight_metrics:
    get:
      description: List Insight Metrics
      operationId: listInsightMetrics
      responses:
        '200':
          $ref: '#/components/responses/ConstInsightMetrics'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listInsightMetrics
      tags:
      - Constants
      - Monitor
  /api/v1/const/languages:
    get:
      description: Get List of Languages
      operationId: listSiteLanguages
      responses:
        '200':
          $ref: '#/components/responses/ConstLanaguagesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSiteLanguages
      tags:
      - Constants
  /api/v1/const/license_types:
    get:
      description: 'Get License Types

        '
      operationId: getLicenseTypes
      responses:
        '200':
          $ref: '#/components/responses/ConstLicenceTypesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getLicenseTypes
      tags:
      - Constants
  /api/v1/const/mxedge_events:
    get:
      description: Get List of available MX Edge Events
      operationId: listMxEdgeEventsDefinitions
      responses:
        '200':
          $ref: '#/components/responses/ConstMxEdgeEventsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listMxEdgeEventsDefinitions
      tags:
      - Constants
  /api/v1/const/mxedge_models:
    get:
      description: Get List of available Mx Edge models
      operationId: listMxEdgeModels
      responses:
        '200':
          $ref: '#/components/responses/ConstMxEdgeModelsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listMxEdgeModels
      tags:
      - Constants
  /api/v1/const/nac_events:
    get:
      description: Get List of List of available NAC Client Events
      operationId: listNacEventsDefinitions
      responses:
        '200':
          $ref: '#/components/responses/ConstNacEventsArray'
      summary: listNacEventsDefinitions
      tags:
      - Constants
  /api/v1/const/otherdevice_events:
    get:
      description: 'Supported Events Type

        '
      operationId: listOtherDeviceEventsDefinitions
      responses:
        '200':
          $ref: '#/components/responses/ConstOtherDeviceEventsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOtherDeviceEventsDefinitions
      tags:
      - Constants
  /api/v1/const/otherdevice_models:
    get:
      description: 'Supported OtherDevice Models

        '
      operationId: getSupportedOtherDeviceModels
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - _vendor_model_id: '65'
                    display: W1850
                    model: W1850
                    type: router
                    vendor: cradlepoint
              schema:
                items:
                  properties:
                    _vendor_model_id:
                      type: string
                    display:
                      type: string
                    model:
                      type: string
                    type:
                      type: string
                    vendor:
                      type: string
                  type: object
                type: array
                x-examples:
                  Example 1:
                  - _vendor_model_id: '65'
                    display: W1850
                    model: W1850
                    type: router
                    vendor: cradlepoint
                  - _vendor_model_id: '57'
                    display: W2000
                    model: W2000
                    type: router
                    vendor: cradlepoint
                  - _vendor_model_id: '58'
                    display: W2005
                    model: W2005
                    type: router
                    vendor: cradlepoint
                  - _vendor_model_id: '59'
                    display: W4005
                    model: W4005
                    type: router
                    vendor: cradlepoint
                  - _vendor_model_id: '54'
                    display: E300
                    model: E300
                    type: router
                    vendor: cradlepoint
                  - _vendor_model_id: '56'
                    display: E3000
                    model: E3000
                    type: router
                    vendor: cradlepoint
                  - _vendor_model_id: '66'
                    display: R1900
                    model: R1900
                    type: router
                    vendor: cradlepoint
                  - _vendor_model_id: '41'
                    display: AER2200
                    model: AER2200
                    type: router
                    vendor: cradlepoint
                  - _vendor_model_id: '27'
                    display: CBA850
                    model: CBA850
                    type: router
                    vendor: cradlepoint
          description: OK
      summary: getSupportedOtherDeviceModels
      tags:
      - Constants
  /api/v1/const/traffic_types:
    get:
      description: Get List of identified traffic
      operationId: listTrafficTypes
      responses:
        '200':
          $ref: '#/components/responses/ConstTrafficTypesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listTrafficTypes
      tags:
      - Constants
components:
  parameters:
    country_code:
      description: country code, in two-character
      in: query
      name: country_code
      schema:
        example: US
        pattern: ^[a-zA-Z]{2}$
        type: string
  responses:
    ConstAlarmDefs:
      content:
        application/json:
          examples:
            Example:
              value:
              - display: Device offline
                example:
                  aps:
                  - d420b02000fa
                  count: 1
                  group: infrastructure
                  hostnames:
                  - Vendor_AP2
                  id: e70c308f-7007-4866-9ecd-0d01842979ea
                  last_seen: 1629753888
                  org_id: 09dac91f-6e73-4100-89f7-698e0fafbb1b
                  severity: warn
                  site_id: dcfb31a1-d615-4361-8c95-b9dde05aa704
                  timestamp: 1629753888
                  type: device_down
                fields:
                - aps
                - hostnames
                group: infrastructure
                key: device_down
                marvis_suggestion_category: string
                severity: warn
          schema:
            items:
              $ref: ./components/schemas/const_alarm_definition.yaml
            type: array
      description: List of Alarm Definitions
    ConstApChannels:
      content:
        application/json:
          examples:
            Example:
              value:
                band24_40mhz_allowed: true
                band24_channels:
                  '20':
                  - 1
                  - 2
                  - 3
                  - 4
                  - 5
                  - 6
                  - 7
                  - 8
                  - 9
                  - 10
                  - 11
                  '40':
                  - 1
                  - 2
                  - 3
                  - 4
                  - 5
                  - 6
                  - 7
                  - 8
                  - 9
                  - 10
                  - 11
                band24_enabled: true
                band5_channels:
                  '20':
                  - 36
                  - 40
                  - 44
                  - 48
                  - 52
                  - 56
                  - 60
                  - 64
                  - 100
                  - 104
                  - 108
                  - 112
                  - 116
                  - 120
                  - 124
                  - 128
                  - 132
                  - 136
                  - 140
                  - 144
                  - 149
                  - 153
                  - 157
                  - 161
                  - 165
                  '40':
                  - 36
                  - 40
                  - 44
                  - 48
                  - 52
                  - 56
                  - 60
                  - 64
                  - 100
                  - 104
                  - 108
                  - 112
                  - 116
                  - 120
                  - 124
                  - 128
                  - 132
                  - 136
                  - 140
                  - 144
                  - 149
                  - 153
                  - 157
                  - 161
                  '80':
                  - 36
                  - 40
                  - 44
                  - 48
                  - 52
                  - 56
                  - 60
                  - 64
                  - 100
                  - 104
                  - 108
                  - 112
                  - 116
                  - 120
                  - 124
                  - 128
                  - 132
                  - 136
                  - 140
                  - 144
                  - 149
                  - 153
                  - 157
                  - 161
                  dfs:
                  - 52
                  - 56
                  - 60
                  - 64
                  - 100
                  - 104
                  - 108
                  - 112
                  - 116
                  - 120
                  - 124
                  - 128
                  - 132
                  - 136
                  - 140
                  - 144
                  outdoor:
                  - 36
                  - 40
                  - 44
                  - 48
                  - 52
                  - 56
                  - 60
                  - 64
                  - 100
                  - 104
                  - 108
                  - 112
                  - 116
                  - 120
                  - 124
                  - 128
                  - 132
                  - 136
                  - 140
                  - 144
                  - 149
                  - 153
                  - 157
                  - 161
                  - 165
                band5_enabled: true
                band6_channels:
                  '160':
                  - 1
                  - 5
                  - 9
                  - 13
                  - 17
                  - 21
                  - 25
                  - 29
                  - 33
                  - 37
                  - 41
                  - 45
                  - 49
                  - 53
                  - 57
                  - 61
                  - 65
                  - 69
                  - 73
                  - 77
                  - 81
                  - 85
                  - 89
                  - 93
                  - 97
                  - 101
                  - 105
                  - 109
                  - 113
                  - 117
                  - 121
                  - 125
                  - 129
                  - 133
                  - 137
                  - 141
                  - 145
                  - 149
                  - 153
                  - 157
                  - 161
                  - 165
                  - 169
                  - 173
                  - 177
                  - 181
                  - 185
                  - 189
                  - 193
                  - 197
                  - 201
                  - 205
                  - 209
                  - 213
                  - 217
                  - 221
                  '20':
                  - 1
                  - 5
                  - 9
                  - 13
                  - 17
                  - 21
                  - 25
                  - 29
                  - 33
                  - 37
                  - 41
                  - 45
                  - 49
                  - 53
                  - 57
                  - 61
                  - 65
                  - 69
                  - 73
                  - 77
                  - 81
                  - 85
                  - 89
                  - 93
                  - 97
                  - 101
                  - 105
                  - 109
                  - 113
                  - 117
                  - 121
                  - 125
                  - 129
                  - 133
                  - 137
                  - 141
                  - 145
                  - 149
                  - 153
                  - 157
                  - 161
                  - 165
                  - 169
                  - 173
                  - 177
                  - 181
                  - 185
                  - 189
                  - 193
                  - 197
                  - 201
                  - 205
                  - 209
                  - 213
                  - 217
                  - 221
                  - 225
                  - 229
                  - 233
                  '40':
                  - 1
                  - 5
                  - 9
                  - 13
                  - 17
                  - 21
                  - 25
                  - 29
                  - 33
                  - 37
                  - 41
                  - 45
                  - 49
                  - 53
                  - 57
                  - 61
                  - 65
                  - 69
                  - 73
                  - 77
                  - 81
                  - 85
                  - 89
                  - 93
                  - 97
                  - 101
                  - 105
                  - 109
                  - 113
                  - 117
                  - 121
                  - 125
                  - 129
                  - 133
                  - 137
                  - 141
                  - 145
                  - 149
                  - 153
                  - 157
                  - 161
                  - 165
                  - 169
                  - 173
                  - 177
                  - 181
                  - 185
                  - 189
                  - 193
                  - 197
                  - 201
                  - 205
                  - 209
                  - 213
                  - 217
                  - 221
                  - 225
                  - 229
                  '80':
                  - 1
                  - 5
                  - 9
                  - 13
                  - 17
                  - 21
                  - 25
                  - 29
                  - 33
                  - 37
                  - 41
                  - 45
                  - 49
                  - 53
                  - 57
                  - 61
                  - 65
                  - 69
                  - 73
                  - 77
                  - 81
                  - 85
                  - 89
                  - 93
                  - 97
                  - 101
                  - 105
                  - 109
                  - 113
                  - 117
                  - 121
                  - 125
                  - 129
                  - 133
                  - 137
                  - 141
                  - 145
                  - 149
                  - 153
                  - 157
                  - 161
                  - 165
                  - 169
                  - 173
                  - 177
                  - 181
                  - 185
                  - 189
                  - 193
                  - 197
                  - 201
                  - 205
                  - 209
                  - 213
                  - 217
                  - 221
                  psc:
                  - 5
                  - 21
                  - 37
                  - 53
                  - 69
                  - 85
                  - 101
                  - 117
                  - 133
                  - 149
                  - 165
                  - 181
                  - 197
                  - 213
                  - 229
                band6_enabled: true
                certified: true
                code: 840
                dfs_ok: true
                key: US
                name: United States
                uses: US_FCC
          schema:
            $ref: ./components/schemas/const_ap_channel.yaml
      description: AP Channels
    ConstApLedArray:
      content:
        application/json:
          examples:
            Example:
              value:
              - code: '01'
                description: LED not working
                key: LED_FAILURE
                name: LED Failure
          schema:
            items:
              $ref: ./components/schemas/const_ap_led.yaml
            type: array
      description: List of AP Led Status
    ConstApplications:
      content:
        application/json:
          examples:
            Example:
              value:
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: FileSharing
                group: File Sharing
                key: dropbox
                name: Dropbox
                signature_based: true
                ssr_app_id: true
          schema:
            items:
              properties:
                app_id:
                  type: boolean
                app_image_url:
                  example: '""'
                  type: string
                app_probe:
                  type: boolean
                category:
                  example: FileSharing
                  type: string
                group:
                  example: File Sharing
                  type: string
                key:
                  example: dropbox
                  type: string
                name:
                  example: Dropbox
                  type: string
                signature_based:
                  type: boolean
                ssr_app_id:
                  type: boolean
              type: object
            type: array
            x-examples:
              Example 1:
              - app_id: true
                group: Emails
                key: all-email
                name: All Emails
              - app_id: true
                category: Collaboration
                group: Emails
                key: gmail
                name: Gmail
                ssr_app_id: true
              - app_id: true
                category: Collaboration
                group: Emails
                key: yahoo-mail
                name: Yahoo Mail
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: FileSharing
                group: File Sharing
                key: dropbox
                name: Dropbox
                ssr_app_id: true
              - app_id: true
                group: Online Backup
                key: icloud-backup
                name: iCloud backup
              - app_id: true
                category: FileSharing
                group: Peer 2 Peer
                key: bit-torrent
                name: BitTorrent
                ssr_app_id: true
              - app_id: true
                group: Social
                key: all-social
                name: All Socials
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: SocialMedia
                group: Social
                key: facebook
                name: Facebook
                ssr_app_id: true
              - app_id: true
                category: SocialMedia
                group: Social
                key: flickr
                name: Flickr
                ssr_app_id: true
              - app_id: true
                group: Social
                key: myspace
                name: MySpace
              - app_id: true
                category: SocialMedia
                group: Social
                key: pinterest
                name: Pinterest
                ssr_app_id: true
              - app_id: true
                category: Collaboration
                group: Social
                key: snapchat
                name: Snapchat
                ssr_app_id: true
              - app_id: true
                category: SocialMedia
                group: Social
                key: twitter
                name: Twitter
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Business
                group: Social
                key: slack
                name: Slack
                ssr_app_id: true
              - app_id: true
                category: Recreation
                key: yelp
                name: Yelp
                ssr_app_id: true
              - app_id: true
                group: Videos and Music
                key: all-video-music
                name: All Video and Music
              - app_id: true
                category: StreamingMedia
                group: Videos and Music
                key: amazon-video
                name: Amazon Video
                ssr_app_id: true
              - app_id: true
                group: Videos and Music
                key: twitter video
                name: Twitter Video
              - app_id: true
                group: Videos and Music
                key: periscope-stream
                name: Periscope
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: ArtsAndEntertainment
                group: Videos and Music
                key: apple-audio
                name: Apple Audio
                ssr_app_id: true
              - app_id: true
                category: StreamingMedia
                group: Videos and Music
                key: hbo-go
                name: HBO GO
                ssr_app_id: true
              - category: StreamingMedia
                group: Videos and Music
                key: last-fm
                name: last.fm
                ssr_app_id: true
              - app_id: true
                category: StreamingMedia
                group: Videos and Music
                key: twitch
                name: Twitch
                ssr_app_id: true
              - category: Games
                group: Videos and Music
                key: mixer
                name: Mixer
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: StreamingMedia
                group: Videos and Music
                key: youtube
                name: Youtube
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: StreamingMedia
                group: Videos and Music
                key: vimeo
                name: Vimeo
                ssr_app_id: true
              - app_id: true
                category: RemoteDesktop
                group: Remote Desktop
                key: teamviewer
                name: TeamViewer
                ssr_app_id: true
              - app_id: true
                category: NewsAndReference
                group: Wikimedia
                key: wikipedia.org
                name: Wikipedia
                ssr_app_id: true
              - app_id: true
                category: NewsAndReference
                group: Dev Resources
                key: stackoverflow
                name: StackOverflow
                ssr_app_id: true
              - app_id: true
                category: Technology
                group: Dev Resources
                key: github
                name: Github
                ssr_app_id: true
              - app_id: true
                category: SocialMedia
                group: Social
                key: linkedin
                name: LinkedIn
                ssr_app_id: true
              - app_id: true
                category: Conferencing
                group: Social
                key: line
                name: Line
                ssr_app_id: true
              - app_id: true
                category: Collaboration
                group: Social
                key: whatsapp
                name: Whatsapp
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Conferencing
                group: Voice/Video Conferencing
                key: zoom
                name: Zoom
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Conferencing
                group: Voice/Video Conferencing
                key: ms-teams
                name: Microsoft Teams
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Business
                group: Voice/Video Conferencing
                key: gotomeeting
                name: GoToMeeting
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Conferencing
                group: Voice/Video Conferencing
                key: ringcentral
                name: RingCentral
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Conferencing
                group: Voice/Video Conferencing
                key: webex
                name: Webex
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                group: Voice/Video Conferencing
                key: join.me
                name: join.me
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Business
                group: Collaboration/Productivity
                key: gsuite
                name: GSuite
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Business
                group: Collaboration/Productivity
                key: office365
                name: Office365
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Business
                group: Collaboration/Productivity
                key: okta
                name: Okta
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Business
                group: Collaboration/Productivity
                key: oracle
                name: Oracle
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Business
                group: Collaboration/Productivity
                key: sap
                name: SAP
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Technology
                group: Collaboration/Productivity
                key: atlassian
                name: Atlassian
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                group: Collaboration/Productivity
                key: asana
                name: Asana
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Infrastructure
                group: Cloud Traffic
                key: aws
                name: AWS
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: StreamingMedia
                group: Streaming Services
                key: disney-plus
                name: Disney Plus
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: FileSharing
                group: Collaboration/Productivity
                key: box
                name: Box
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Infrastructure
                group: Cloud Traffic
                key: azure
                name: Microsoft Azure
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Infrastructure
                group: Cloud Traffic
                key: gcp
                name: Google Cloud Platform
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: FileSharing
                group: Cloud Traffic
                key: icloud
                name: Apple iCloud
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: StreamingMedia
                group: Videos and Music
                key: netflix
                name: Netflix
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: StreamingMedia
                group: Videos and Music
                key: spotify
                name: Spotify
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: StreamingMedia
                group: Videos and Music
                key: pandora
                name: Pandora
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: StreamingMedia
                group: Videos and Music
                key: hulu
                name: Hulu
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: SocialMedia
                group: Streaming Services
                key: tiktok
                name: TikTok
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                group: Streaming Services
                key: amazon-prime
                name: Amazon Prime
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Business
                group: Collaboration/Productivity
                key: workday
                name: Workday
                ssr_app_id: true
              - app_id: true
                app_image_url: ''
                app_probe: true
                category: Business
                group: Collaboration/Productivity
                key: service-now
                name: ServiceNow
                ssr_app_id: true
              - category: Advertisement
                group: Collaboration/Productivity
                key: salesforce
                name: Salesforce
                ssr_app_id: true
              - category: Business
                group: Collaboration/Productivity
                key: cookielaw
                name: CookieLaw
                ssr_app_id: true
              - app_id: true
                category: NewsAndReference
                group: Social
                key: cnn
                name: CNN
                ssr_app_id: true
              - category: Advertisement
                group: Cloud Traffic
                key: outbrain
                name: Outbrain
                ssr_app_id: true
              - app_id: true
                category: Sports
                group: Videos and Music
                key: espn
                name: Espn
                ssr_app_id: true
              - category: Networking
                group: Collaboration/Productivity
                key: zscaler
                name: Zscaler
                ssr_app_id: true
              - category: Security
                group: Collaboration/Productivity
                key: trustarc
                name: TrustArc
                ssr_app_id: true
              - category: ArtsAndEntertainment
                group: Videos and Music
                key: warnermedia
                name: WarnerMedia
                ssr_app_id: true
              - app_id: true
                key: skype-business-voice
                name: Skype For Business (Voice)
                signature_based: true
              - app_id: true
                key: skype-business-video
                name: Skype For Business (Video)
                signature_based: true
              - app_id: true
                key: teams-video
                name: Teams (Video)
                signature_based: true
              - app_id: true
                key: teams-voice
                name: Teams (Voice)
                signature_based: true
              - app_id: true
                key: zoom-video
                name: Zoom (Video)
                signature_based: true
              - app_id: true
                key: zoom-voice
                name: Zoom (Voice)
                signature_based: true
              - key: webex-video
                name: Webex (Video)
                signature_based: true
              - key: webex-voice
                name: Webex (Voice)
                signature_based: true
      description: List of Applications
    ConstClientEventsArray:
      content:
        application/json:
          examples:
            Example:
              value:
              - display: 11r Association
                key: CLIENT_AUTH_ASSOCIATION_11R
          schema:
            items:
              $ref: ./components/schemas/const_event.yaml
            type: array
      description: List of Client Events definitions
    ConstCrountriesArray:
      content:
        application/json:
          examples:
            Example 1:
              value:
              - alpha2: FR
                certified: true
                name: France
                numeric: 250
          schema:
            items:
              $ref: ./components/schemas/const_country.yaml
            type: array
      description: List of Countries
    ConstDeviceEventsArray:
      content:
        application/json:
          examples:
            Example:
              value:
              - description: AP was assigned to a site
                display: AP Assigned
                example:
                  ap: 5c5b35000001
                  audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                  org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                  site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                  timestamp: 1552408871
                  type: AP_ASSIGNED
                key: AP_ASSIGNED
          schema:
            items:
              $ref: ./components/schemas/const_event.yaml
            type: array
      description: List of Device Events Definitions
    ConstDeviceModels:
      content:
        application/json:
          examples:
            Example:
              value:
              - ap_type: jewel
                band24:
                  band5_channels_op: low
                  max_clients: 128
                  max_power: 19
                  min_power: 8
                band24_usages:
                - '5'
                band5:
                  max_clients: 128
                  max_power: 17
                  min_power: 8
                band6:
                  max_clients: 128
                  max_power: 17
                  min_power: 8
                ce_dfs_ok: true
                cisco_pace: true
                description: AP-45
                disallowed_channels:
                  property1:
                    property1:
                    - 0
                    property2:
                    - 0
                  property2:
                    property1:
                    - 0
                    property2:
                    - 0
                display: AP45
                extio:
                  property1:
                    default_dir: IN
                    input: true
                    output: true
                  property2:
                    default_dir: IN
                    input: true
                    output: true
                fcc_dfs_ok: true
                has_11ax: true
                has_compass: false
                has_ext_ant: true
                has_extio: false
                has_height: false
                has_module_port: true
                has_poe_out: true
                has_scanning_radio: true
                has_selectable_radio: true
                has_usb: true
                has_vble: true
                has_wifi_band24: true
                has_wifi_band5: true
                has_wifi_band6: true
                max_poe_out: 15400
                max_wlans: 0
                model: AP45
                other_dfs_ok: true
                outdoor: true
                radios:
                  r0: '6'
                  r1: '5'
                  r2: '24'
                shared_scanning_radio: true
                type: ap
                unmanaged: true
                vble:
                  beacon_rate: 4
                  beams: 9
                  power: 8
              - alias: EX4100-48P-CHAS
                defaults:
                  _ports: ge-0/0/0-47, et-0/1/0-3, xe-0/2/0-3, ge-0/2/0-3
                description: Juniper EX4100 Series
                display: EX4100-48P
                evpn_ri_type: mac-vrf
                fans_pluggable: true
                has_bgp: true
                has_evpn: true
                has_irb: true
                has_poe_out: true
                model: EX4100-48P
                number_fans: 2
                oc_device: true
                oob_interface: re0:mgmt-0, re1:mgmt-0
                pic:
                  '0': ge*48
                  '1': qsfp+*4
                  '2': sfp+*4 (uplink)
                sub_required: string
                type: switch
              - defaults:
                  ha_control_port: ge-0/0/1
                  ha_data_ports: ge-0/0/2,ge-3/0/2
                  ha_fxp0_port: ge-0/0/0
                  ha_lan_ports: ge-0/0/4,ge-3/0/4
                  ha_wan_ports: ge-0/0/3,ge-3/0/3
                  lan_ports: ge-0/0/1-6
                  lte_wan_ports: cl-1/0/0
                  wan_ports: ge-0/0/0,ge-0/0/7
                description: Juniper SRX320 Series
                fans_pluggable: false
                ha_node1_fpc: 3
                has_bgp: true
                has_fxp0: false
                has_irb: true
                model: SRX320
                number_fans: 1
                oc_device: true
                pic:
                  '0': ge*6, sfp*2
                sub_required: wan1
                type: gateway
          schema:
            items:
              anyOf:
              - $ref: ./components/schemas/const_device_ap.yaml
              - $ref: ./components/schemas/const_device_switch.yaml
              - $ref: ./components/schemas/const_device_gateway.yaml
              - $ref: ./components/schemas/const_device_unknown.yaml
            type: array
      description: List of supported device models
    ConstInsightMetrics:
      content:
        application/json:
          examples:
            Example:
              value:
                bytes:
                  description: aggregated bytes over time
                  example:
                  - 185
                  - 197
                  - 250
                  intervals:
                    10m:
                      interval: 600
                      max_age: 86400
                    1h:
                      interval: 3600
                      max_age: 1209600
                  report_durations:
                    1d:
                      duration: 86400
                      interval: 3600
                    1w:
                      duration: 604800
                      interval: 3600
                  report_scopes:
                  - site
                  - org
                  scopes:
                  - site
                  - ap
                  - client
                  type: timeseries
                  unit: byte
                num_clients:
                  description: number of client over time
                  example:
                  - 18
                  - null
                  - 15
                  intervals:
                    10m:
                      interval: 600
                      max_age: 86400
                    1h:
                      interval: 3600
                      max_age: 1209600
                  report_durations:
                    1d:
                      duration: 86400
                      interval: 3600
                    1w:
                      duration: 604800
                      interval: 3600
                  report_scopes:
                  - site
                  - org
                  scopes:
                  - site
                  - ap
                  - device
                  type: timeseries
                  unit: ''
          schema:
            additionalProperties:
              properties:
                ctype:
                  items:
                    type: string
                  type: array
                description:
                  type: string
                example:
                  items:
                    anyOf:
                    - nullable: true
                      type: integer
                    - nullable: true
                      type: number
                    - nullable: true
                      type: string
                    - type: boolean
                  type: array
                intervals:
                  additionalProperties:
                    properties:
                      interval:
                        type: integer
                      max_age:
                        type: integer
                    type: object
                  description: Property key is the interval (e.g. 10m, 1h, ...)
                  type: object
                keys:
                  additionalProperties: true
                  type: object
                params:
                  additionalProperties:
                    properties:
                      required:
                        type: boolean
                    type: object
                  description: Property key is the parameter name
                  type: object
                report_duration:
                  additionalProperties:
                    properties:
                      interval:
                        type: integer
                      max_age:
                        type: integer
                    type: object
                  description: Property key is the duration (e.g. 1d, 1w, ...)
                  type: object
                report_scopes:
                  items:
                    type: string
                  type: array
                scopes:
                  items:
                    enum:
                    - site
                    - ap
                    - client
                    - switch
                    - device
                    - mxedge
                    type: string
                  type: array
                sle_baselined:
                  type: boolean
                sle_classifiers:
                  items:
                    type: string
                  type: array
                type:
                  type: string
                unit:
                  type: string
                values:
                  additionalProperties: true
                  type: object
              type: object
            description: Property key is the metric name
            type: object
      description: Insight Metrics Definition
    ConstLanaguagesArray:
      content:
        application/json:
          examples:
            Example:
              value:
              - display: English (US)
                display_native: English (US)
                key: en-US
          schema:
            items:
              $ref: ./components/schemas/const_language.yaml
            type: array
      description: List of Languages
    ConstLicenceTypesArray:
      content:
        application/json:
          examples:
            Example:
              value:
              - description: Wired Assurance 12
                includes:
                - sub_ex12a
                - sub_ex12p
                key: sub_ex12
                name: SUB-EX12
          schema:
            items:
              $ref: ./components/schemas/const_licence_type.yaml
            type: array
      description: List of Licence Types
    ConstMxEdgeEventsArray:
      content:
        application/json:
          examples:
            Example:
              value:
              - description: Config change on ME was triggered as a result of change
                  made by user
                display: ME Config changed by user
                example:
                  audit_id: e9a88814-fa81-5bdc-34b0-84e8735420e5
                  mxcluster_id: ed4665ed-c9ad-4835-8ca5-dda642765ad3
                  mxedge_id: 387804a7-3474-85ce-15a2-f9a9684c9c9
                  org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                  service: mxagent
                  site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                  timestamp: 1552408871
                  type: ME_CONFIG_CHANGED_BY_USER
                key: ME_CONFIG_CHANGED_BY_USER
          schema:
            items:
              $ref: ./components/schemas/const_event.yaml
            type: array
      description: List of MxEdge Events definitions
    ConstMxEdgeModelsArray:
      content:
        application/json:
          examples:
            Example:
              value:
              - display: X10
                model: ME-X10
                ports:
                  '0':
                    display: xe0
                    speed: 10000
                  '1':
                    display: xe1
                    speed: 10000
                  '2':
                    display: xe2
                    speed: 10000
                  '3':
                    display: xe3
                    speed: 10000
          schema:
            items:
              $ref: ./components/schemas/const_mxedge_model.yaml
            type: array
      description: List of MxEdge Models
    ConstNacEventsArray:
      content:
        application/json:
          examples:
            Example:
              value:
              - ap: 5c5b355008c0
                bssid: 5c5b35548892
                cert_cn: suriyas
                cert_expiry: 1711557441
                cert_issuer: /DC=net/DC=jnpr/CN=Juniper Networks Issuing AWS1 CA
                cert_san_upn:
                - suriyas@juniper.net
                cert_serial: 1300103d29e56ef083797bedc2000100103d29
                cert_subject: /CN=suriyas/emailAddress=suriyas@juniper.net
                eap_type: EAP-TLS
                nas_vendor: Mist
                org_id: 94de66e8-556a-4d56-8780-a114620a5c42
                random_mac: true
                site_id: b5a005ab-47d4-41f7-97bf-733f9cc252dd
                ssid: Test_Suriya-SSID
                timestamp: 1685658478.438995
                type: NAC_CLIENT_CERT_CHECK_SUCCESS
                username: suriyas@juniper.net
                wcid: b43637b0-f0d9-0a1d-1ec2-73c394a9f679
          schema:
            items:
              $ref: ./components/schemas/const_nac_events.yaml
            type: array
      description: Example response
    ConstOtherDeviceEventsArray:
      content:
        application/json:
          examples:
            Example:
              value:
              - display: Connected to NCM
                example:
                  device_mac: 5c5b351e13b5
                  mac: 0030447771c0
                  org_id: c080ce4d-4e35-4373-bdc4-08df15d257f5
                  site_id: 1df889ad-9111-4c0e-a00b-8a008b83eb68
                  text: Connected to NCM
                  timestamp: 1675827825.765
                  type: CELLULAR_EDGE_CONNECTED_TO_NCM
                  vendor: cradlepoint
                key: CELLULAR_EDGE_CONNECTED_TO_NCM
          schema:
            items:
              $ref: ./components/schemas/const_event.yaml
            type: array
      description: List of Other Device Events definitions
    ConstTrafficTypesArray:
      content:
        application/json:
          examples:
            Example:
              value:
              - display: VoIP Video
                dscp: 32
                failover_policy: non_revertible
                max_jitter: 250
                max_latency: 1500
                max_loss: 35
                name: voip_video
                traffic_class: medium
          schema:
            items:
              $ref: ./components/schemas/const_traffic_type.yaml
            type: array
      description: List of Traffic Types
    HTTP400:
      content:
        application/json:
          examples:
            Example:
              value:
                detail: 'JSON parse error - Expecting value: line 5 column 8 (char
                  56)'
          schema:
            properties:
              detail:
                example: 'JSON parse error - Expecting value: line 5 column 8 (char
                  56)'
                type: string
            type: object
            x-examples:
              Example 1:
                detail: JSON parse error
      description: Bad Syntax
    HTTP401:
      content:
        application/json:
          examples:
            Example:
              value:
                detail: Authentication credentials were not provided.
          schema:
            properties:
              detail:
                example: Authentication credentials were not provided.
                type: string
            type: object
            x-examples:
              Example 1:
                detail: Authentication credentials were not provided.
      description: Unauthorized
    HTTP403:
      content:
        application/json:
          examples:
            Example:
              value:
                detail: You do not have permission to perform this action.
          schema:
            properties:
              detail:
                example: You do not have permission to perform this action.
                type: string
            type: object
            x-examples:
              Example 1:
                detail: You do not have permission to perform this action.
      description: Permission Denied
    HTTP404:
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
      description: "Not found. The API endpoint doesn\u2019t exist or resource doesn\u2019\
        t exist"
    HTTP429:
      content:
        application/json:
          examples:
            Example:
              value:
                detail: Too Many Request. The API Token used for the request reached
                  the 5000 API Calls per hour threshold
          schema:
            properties:
              detail:
                example: Too Many Request. The API Token used for the request reached
                  the 5000 API Calls per hour threshold
                type: string
            type: object
        application/xml:
          schema:
            properties: {}
            type: object
      description: Too Many Request. The API Token used for the request reached the
        5000 API Calls per hour threshold
  schemas:
    const_alarm_definition:
      properties:
        display:
          description: Description of the alarm type
          example: Device offline
          type: string
        example:
          example:
            aps:
            - d420b02000fa
            count: 1
            group: infrastructure
            hostnames:
            - Vendor_AP2
            id: f70c308f-7007-4866-9ecd-0d01842979ea
            last_seen: 1629753888
            org_id: 09dac91f-6e73-4100-89f7-698e0fafbb1b
            severity: warn
            site_id: dcfb31a1-d615-4361-8c95-b9dde05aa704
            timestamp: 1629753888
            type: device_down
          type: object
        fields:
          description: List of fields available in an alarm details payload (in REST
            APIs & Webhooks); e.g. `aps`, `switches`, `gateways`, `hostnames`, `ssids`,
            `bssids`
          example:
          - aps
          - hostnames
          items:
            type: string
          type: array
        group:
          description: Group to which the alarm belongs
          example: infrastructure
          type: string
        key:
          description: Key name of an alarm type
          example: device_down
          type: string
        marvis_suggestion_category:
          description: Marvis defined category to which the alarm belongs
          type: string
        severity:
          description: Severity of the alarm
          example: warn
          type: string
      required:
      - key
      - display
      - group
      - severity
      - fields
      title: ''
      type: object
      x-examples: {}
    const_ap_channel:
      properties:
        band24_40mhz_allowed:
          example: true
          type: boolean
        band24_channels:
          additionalProperties:
            items:
              type: integer
            type: array
          description: Property key is the channel width
          example:
            '20':
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            '40':
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
          type: object
        band24_enabled:
          example: true
          type: boolean
        band5_channels:
          additionalProperties:
            items:
              type: integer
            type: array
          description: Property key is the channel width
          example:
            '20':
            - 36
            - 40
            - 44
            - 48
            - 52
            - 56
            - 60
            - 64
            - 100
            - 104
            - 108
            - 112
            - 116
            - 120
            - 124
            - 128
            - 132
            - 136
            - 140
            - 144
            - 149
            - 153
            - 157
            - 161
            - 165
            '40':
            - 36
            - 40
            - 44
            - 48
            - 52
            - 56
            - 60
            - 64
            - 100
            - 104
            - 108
            - 112
            - 116
            - 120
            - 124
            - 128
            - 132
            - 136
            - 140
            - 144
            - 149
            - 153
            - 157
            - 161
            '80':
            - 36
            - 40
            - 44
            - 48
            - 52
            - 56
            - 60
            - 64
            - 100
            - 104
            - 108
            - 112
            - 116
            - 120
            - 124
            - 128
            - 132
            - 136
            - 140
            - 144
            - 149
            - 153
            - 157
            - 161
            dfs:
            - 52
            - 56
            - 60
            - 64
            - 100
            - 104
            - 108
            - 112
            - 116
            - 120
            - 124
            - 128
            - 132
            - 136
            - 140
            - 144
            outdoor:
            - 36
            - 40
            - 44
            - 48
            - 52
            - 56
            - 60
            - 64
            - 100
            - 104
            - 108
            - 112
            - 116
            - 120
            - 124
            - 128
            - 132
            - 136
            - 140
            - 144
            - 149
            - 153
            - 157
            - 161
            - 165
          type: object
        band5_enabled:
          example: true
          type: boolean
        band6_channels:
          additionalProperties:
            items:
              type: integer
            type: array
          description: Property key is the channel width
          example:
            '160':
            - 1
            - 5
            - 9
            - 13
            - 17
            - 21
            - 25
            - 29
            - 33
            - 37
            - 41
            - 45
            - 49
            - 53
            - 57
            - 61
            - 65
            - 69
            - 73
            - 77
            - 81
            - 85
            - 89
            - 93
            - 97
            - 101
            - 105
            - 109
            - 113
            - 117
            - 121
            - 125
            - 129
            - 133
            - 137
            - 141
            - 145
            - 149
            - 153
            - 157
            - 161
            - 165
            - 169
            - 173
            - 177
            - 181
            - 185
            - 189
            - 193
            - 197
            - 201
            - 205
            - 209
            - 213
            - 217
            - 221
            '20':
            - 1
            - 5
            - 9
            - 13
            - 17
            - 21
            - 25
            - 29
            - 33
            - 37
            - 41
            - 45
            - 49
            - 53
            - 57
            - 61
            - 65
            - 69
            - 73
            - 77
            - 81
            - 85
            - 89
            - 93
            - 97
            - 101
            - 105
            - 109
            - 113
            - 117
            - 121
            - 125
            - 129
            - 133
            - 137
            - 141
            - 145
            - 149
            - 153
            - 157
            - 161
            - 165
            - 169
            - 173
            - 177
            - 181
            - 185
            - 189
            - 193
            - 197
            - 201
            - 205
            - 209
            - 213
            - 217
            - 221
            - 225
            - 229
            - 233
            '40':
            - 1
            - 5
            - 9
            - 13
            - 17
            - 21
            - 25
            - 29
            - 33
            - 37
            - 41
            - 45
            - 49
            - 53
            - 57
            - 61
            - 65
            - 69
            - 73
            - 77
            - 81
            - 85
            - 89
            - 93
            - 97
            - 101
            - 105
            - 109
            - 113
            - 117
            - 121
            - 125
            - 129
            - 133
            - 137
            - 141
            - 145
            - 149
            - 153
            - 157
            - 161
            - 165
            - 169
            - 173
            - 177
            - 181
            - 185
            - 189
            - 193
            - 197
            - 201
            - 205
            - 209
            - 213
            - 217
            - 221
            - 225
            - 229
            '80':
            - 1
            - 5
            - 9
            - 13
            - 17
            - 21
            - 25
            - 29
            - 33
            - 37
            - 41
            - 45
            - 49
            - 53
            - 57
            - 61
            - 65
            - 69
            - 73
            - 77
            - 81
            - 85
            - 89
            - 93
            - 97
            - 101
            - 105
            - 109
            - 113
            - 117
            - 121
            - 125
            - 129
            - 133
            - 137
            - 141
            - 145
            - 149
            - 153
            - 157
            - 161
            - 165
            - 169
            - 173
            - 177
            - 181
            - 185
            - 189
            - 193
            - 197
            - 201
            - 205
            - 209
            - 213
            - 217
            - 221
            psc:
            - 5
            - 21
            - 37
            - 53
            - 69
            - 85
            - 101
            - 117
            - 133
            - 149
            - 165
            - 181
            - 197
            - 213
            - 229
          type: object
        band6_enabled:
          example: true
          type: boolean
        certified:
          example: true
          type: boolean
        code:
          description: country code, ISO 3166-1 numeric
          example: 840
          type: integer
        dfs_ok:
          example: true
          type: boolean
        key:
          description: country code, in two-character
          example: US
          type: string
        name:
          example: United States
          type: string
        uses:
          example: US_FCC
          type: string
      type: object
      x-examples: {}
    const_ap_led:
      properties:
        code:
          example: '01'
          type: string
        description:
          example: LED not working
          type: string
        key:
          example: LED_FAILURE
          type: string
        name:
          example: LED Failure
          type: string
      required:
      - code
      - key
      - name
      - description
      type: object
    const_country:
      properties:
        alpha2:
          description: country code, in two-character
          example: FR
          type: string
        certified:
          example: true
          type: boolean
        name:
          example: France
          type: string
        numeric:
          description: country code, ISO 3166-1 numeric
          example: 250
          type: number
      required:
      - alpha2
      - numeric
      - name
      - certified
      type: object
      x-stoplight:
        id: 49ea4d68bfc5c
    const_device_ap:
      properties:
        ap_type:
          example: jewel
          type: string
        band24:
          properties:
            band5_channels_op:
              example: low
              type: string
            max_clients:
              example: 128
              type: integer
            max_power:
              example: 19
              type: integer
            min_power:
              example: 8
              type: integer
          type: object
        band24_usages:
          example:
          - '5'
          items:
            type: string
          type: array
        band5:
          properties:
            max_clients:
              example: 128
              type: integer
            max_power:
              example: 17
              type: integer
            min_power:
              example: 8
              type: integer
          type: object
        band6:
          properties:
            max_clients:
              example: 128
              type: integer
            max_power:
              example: 17
              type: integer
            min_power:
              example: 8
              type: integer
          type: object
        ce_dfs_ok:
          example: true
          type: boolean
        cisco_pace:
          type: boolean
        description:
          example: AP-45
          type: string
        disallowed_channels:
          additionalProperties:
            additionalProperties:
              items:
                type: integer
              type: array
            description: Property key is the RF band (e.g. "band5")
            type: object
          description: Property key is a list of country codes (e.g. "GB, DE")
          type: object
        display:
          example: AP45
          type: string
        extio:
          additionalProperties:
            properties:
              default_dir:
                enum:
                - IN
                - OUT
                type: string
              input:
                type: boolean
              output:
                type: boolean
            type: object
          description: Property key is the GPIO port name (e.g. "D0", "A1")
          type: object
        fcc_dfs_ok:
          example: true
          type: boolean
        has_11ax:
          type: boolean
        has_compass:
          example: false
          type: boolean
        has_ext_ant:
          type: boolean
        has_extio:
          example: false
          type: boolean
        has_height:
          example: false
          type: boolean
        has_module_port:
          type: boolean
        has_poe_out:
          example: true
          type: boolean
        has_scanning_radio:
          example: true
          type: boolean
        has_selectable_radio:
          example: true
          type: boolean
        has_usb:
          type: boolean
        has_vble:
          example: true
          type: boolean
        has_wifi_band24:
          example: true
          type: boolean
        has_wifi_band5:
          example: true
          type: boolean
        has_wifi_band6:
          example: true
          type: boolean
        max_poe_out:
          example: 15400
          type: integer
        max_wlans:
          type: integer
        model:
          example: AP45
          type: string
        other_dfs_ok:
          example: true
          type: boolean
        outdoor:
          type: boolean
        radios:
          additionalProperties:
            type: string
          description: Property key is the radio number (e.g. r0, r1, ...). Property
            value is the RF band (e.g. "24", "5", ...)
          example:
            r0: '6'
            r1: '5'
            r2: '24'
          type: object
        shared_scanning_radio:
          type: boolean
        type:
          enum:
          - ap
          example: ap
          type: string
        unmanaged:
          type: boolean
        vble:
          properties:
            beacon_rate:
              example: 4
              type: integer
            beams:
              example: 9
              type: integer
            power:
              example: 8
              type: integer
          type: object
      title: const_device_ap
      type: object
      x-examples:
        AP43:
          ap_type: aphx
          band24:
            max_clients: 128
            max_power: 19
            min_power: 8
          band5:
            max_clients: 128
            max_power: 17
            min_power: 8
          ce_dfs_ok: true
          description: AP-43
          display: AP43
          extio:
            A1:
              default_dir: IN
              input: true
              output: true
            A2:
              default_dir: IN
              input: true
              output: true
            A3:
              default_dir: IN
              input: true
              output: true
            A4:
              default_dir: IN
              input: true
              output: true
            DI1:
              default_dir: IN
              input: true
              output: false
            DI2:
              default_dir: IN
              input: true
              output: false
            DO:
              default_dir: OUT
              input: true
              output: true
          fcc_dfs_ok: true
          has_11ax: true
          has_compass: false
          has_extio: true
          has_height: true
          has_poe_out: true
          has_scanning_radio: true
          has_selectable_radio: true
          has_usb: true
          has_vble: true
          has_wifi_band24: true
          has_wifi_band5: true
          max_poe_out: 15400
          model: AP43
          other_dfs_ok: true
          radios:
            r0: '5'
            r1: '24'
          type: ap
          vble:
            beacon_rate: 4
            beams: 8
            power: 8
      x-stoplight:
        id: nduszepepd9mb
    const_device_gateway:
      properties:
        defaults:
          additionalProperties:
            description: list of interfaces names (e.g. "ge-0/0/3,ge-1/0/3")
            type: string
          description: Object Key is the interface type name (e.g. "lan_ports", "wan_ports",
            ...)
          type: object
        description:
          type: string
        experimental:
          default: false
          type: boolean
        fans_pluggable:
          default: true
          type: boolean
        ha_node0_fpc:
          type: integer
        ha_node1_fpc:
          type: integer
        has_bgp:
          default: false
          type: boolean
        has_fxp0:
          default: true
          type: boolean
        has_ha_control:
          default: false
          type: boolean
        has_ha_data:
          default: false
          type: boolean
        has_irb:
          default: false
          type: boolean
        has_poe_out:
          default: true
          type: boolean
        has_snapshot:
          default: true
          type: boolean
        irb_disabled_by_default:
          default: false
          type: boolean
        model:
          type: string
        number_fans:
          type: integer
        oc_device:
          default: false
          type: boolean
        pic:
          additionalProperties:
            description: list of type and number of ports (e.g. "mge*8, ge*16")
            type: string
          description: Object Key is the PIC number
          type: object
        ports:
          description: Object Key is the interface name (e.g. "ge-0/0/1", ...)
          properties:
            display:
              type: string
            pci_address:
              type: string
            speed:
              type: integer
          type: object
        sub_required:
          type: string
        t128_device:
          default: false
          type: boolean
        type:
          enum:
          - gateway
          type: string
      title: const_device_gateway
      type: object
      x-examples:
        SRX320:
          defaults:
            ha_control_port: ge-0/0/1
            ha_data_ports: ge-0/0/2,ge-3/0/2
            ha_fxp0_port: ge-0/0/0
            ha_lan_ports: ge-0/0/4,ge-3/0/4
            ha_wan_ports: ge-0/0/3,ge-3/0/3
            lan_ports: ge-0/0/1-6
            lte_wan_ports: cl-1/0/0
            wan_ports: ge-0/0/0,ge-0/0/7
          description: Juniper SRX320 Series
          fans_pluggable: false
          ha_node1_fpc: 3
          has_bgp: true
          has_fxp0: false
          has_irb: true
          model: SRX320
          number_fans: 1
          oc_device: true
          pic:
            '0': ge*6, sfp*2
          sub_required: wan1
          type: gateway
        SSR120:
          defaults:
            lan_ports: ge-0/0/3
            wan_ports: ge-0/0/0,ge-0/0/1,ge-0/0/2
          description: 128T SSR small branch router
          ha_node1_fpc: 1
          model: SSR120
          ports:
            ge-0/0/0:
              display: ge-0/0/0
              pci_address: '0000:04:00.1'
              speed: 1000
            ge-0/0/1:
              display: ge-0/0/1
              pci_address: '0000:04:00.0'
              speed: 1000
            ge-0/0/2:
              display: ge-0/0/2
              pci_address: '0000:03:00.1'
              speed: 1000
            ge-0/0/3:
              display: ge-0/0/3
              pci_address: '0000:03:00.0'
              speed: 1000
            ge-0/0/4:
              display: ge-0/0/4
              pci_address: '0000:02:00.1'
              speed: 1000
            ge-0/0/5:
              display: ge-0/0/5
              pci_address: '0000:02:00.0'
              speed: 1000
          sub_required: wan
          t128_device: true
          type: gateway
      x-stoplight:
        id: qhnk0441he1ye
    const_device_switch:
      properties:
        alias:
          example: EX4100-48P-CHAS
          type: string
        defaults:
          properties:
            _ports:
              example: ge-0/0/0-47, et-0/1/0-3, xe-0/2/0-3, ge-0/2/0-3
              type: string
          type: object
        description:
          example: Juniper EX4100 Series
          type: string
        display:
          example: EX4100-48P
          type: string
        evolved_os:
          default: false
          type: boolean
        evpn_ri_type:
          example: mac-vrf
          type: string
        experimental:
          default: false
          type: boolean
        fans_pluggable:
          default: false
          example: true
          type: boolean
        has_bgp:
          default: false
          example: true
          type: boolean
        has_ets:
          default: false
          type: boolean
        has_evpn:
          default: false
          example: true
          type: boolean
        has_irb:
          default: false
          example: true
          type: boolean
        has_poe_out:
          default: false
          example: true
          type: boolean
        has_snapshot:
          default: true
          type: boolean
        has_vc:
          default: true
          example: true
          type: boolean
        model:
          example: EX4100-48P
          type: string
        modular:
          default: false
          type: boolean
        no_shaping_rate:
          default: false
          type: boolean
        number_fans:
          example: 2
          type: integer
        oc_device:
          default: false
          example: true
          type: boolean
        oob_interface:
          example: re0:mgmt-0, re1:mgmt-0
          type: string
        packet_action_drop_only:
          default: false
          type: boolean
        pic:
          additionalProperties:
            description: list of type and number of ports (e.g. "mge*8, ge*16")
            type: string
          description: Object Key is the PIC number
          example:
            '0': ge*48
            '1': qsfp+*4
            '2': sfp+*4 (uplink)
          type: object
        sub_required:
          type: string
        type:
          enum:
          - switch
          example: switch
          type: string
      title: const_device_switch
      type: object
      x-examples:
        Example:
          alias: EX4100-48P-CHAS
          defaults:
            _ports: ge-0/0/0-47, et-0/1/0-3, xe-0/2/0-3, ge-0/2/0-3
          description: Juniper EX4100 Series
          display: EX4100-48P
          evpn_ri_type: mac-vrf
          fans_pluggable: true
          has_bgp: true
          has_evpn: true
          has_irb: true
          has_poe_out: true
          model: EX4100-48P
          number_fans: 2
          oc_device: true
          oob_interface: re0:mgmt-0, re1:mgmt-0
          pic:
            '0': ge*48
            '1': qsfp+*4
            '2': sfp+*4 (uplink)
          sub_required: string
          type: switch
      x-stoplight:
        id: lzuvzrifxqruk
    const_device_unknown:
      properties:
        ap_type:
          type: string
        description:
          type: string
        display:
          type: string
        has_extio:
          type: boolean
        has_vble:
          type: boolean
        has_wifi_band24:
          type: boolean
        has_wifi_band5:
          type: boolean
        model:
          type: string
        unmanaged:
          type: boolean
      type: object
      x-examples:
        Example 1:
          ap_type: unknown
          description: '?'
          display: '?'
          has_extio: false
          has_vble: false
          has_wifi_band24: false
          has_wifi_band5: false
          model: unknown
          unmanaged: true
    const_event:
      properties:
        description:
          type: string
        display:
          type: string
        example:
          additionalProperties: true
          type: object
        key:
          type: string
      required:
      - key
      - display
      type: object
      x-stoplight:
        id: 69803e81afdda
    const_language:
      properties:
        display:
          example: English (US)
          type: string
        display_native:
          example: English (US)
          type: string
        key:
          example: en-US
          type: string
      required:
      - display
      - display_native
      - key
      title: const_language
      type: object
      x-stoplight:
        id: tlxphh6jw92xz
    const_licence_type:
      properties:
        description:
          example: Wired Assurance 12
          type: string
        includes:
          example:
          - sub_ex12a
          - sub_ex12p
          items:
            type: string
          type: array
        key:
          example: sub_ex12
          type: string
        name:
          example: SUB-EX12
          type: string
      title: const_licence_type
      type: object
      x-stoplight:
        id: eirac798gbcqu
    const_mxedge_model:
      properties:
        custom_ports:
          type: boolean
        display:
          example: X10
          type: string
        model:
          example: ME-X10
          type: string
        ports:
          properties:
            '0':
              properties:
                display:
                  example: xe0
                  type: string
                speed:
                  example: 10000
                  type: integer
              type: object
            '1':
              properties:
                display:
                  example: xe1
                  type: string
                speed:
                  example: 10000
                  type: integer
              type: object
            '2':
              properties:
                display:
                  example: xe2
                  type: string
                speed:
                  example: 10000
                  type: integer
              type: object
            '3':
              properties:
                display:
                  example: xe3
                  type: string
                speed:
                  example: 10000
                  type: integer
              type: object
          type: object
      title: const_mxedge_model
      type: object
      x-stoplight:
        id: 0716eb696a6b5
    const_nac_events:
      properties:
        ap:
          example: 5c5b355008c0
          type: string
        bssid:
          example: 5c5b35548892
          type: string
        cert_cn:
          example: suriyas
          type: string
        cert_expiry:
          example: 1711557441
          type: integer
        cert_issuer:
          example: /DC=net/DC=jnpr/CN=Juniper Networks Issuing AWS1 CA
          type: string
        cert_san_upn:
          example:
          - suriyas@juniper.net
          items:
            type: string
          type: array
        cert_serial:
          example: 1300103d29e56ef083797bedc2000100103d29
          type: string
        cert_subject:
          example: /CN=suriyas/emailAddress=suriyas@juniper.net
          type: string
        eap_type:
          example: EAP-TLS
          type: string
        nas_vendor:
          example: Mist
          type: string
        org_id:
          example: 94de66e8-556a-4d56-8780-a114620a5c42
          format: uuid
          type: string
        random_mac:
          example: true
          type: boolean
        site_id:
          example: b5a005ab-47d4-41f7-97bf-733f9cc252dd
          format: uuid
          type: string
        ssid:
          example: Test_Suriya-SSID
          type: string
        timestamp:
          example: 1685658478.438995
          type: number
        type:
          example: NAC_CLIENT_CERT_CHECK_SUCCESS
          type: string
        username:
          example: suriyas@juniper.net
          type: string
        wcid:
          example: b43637b0-f0d9-0a1d-1ec2-73c394a9f679
          format: uuid
          type: string
      type: object
      x-examples: {}
      x-stoplight:
        id: 9ad3e3cffe5d6
    const_traffic_type:
      properties:
        display:
          example: VoIP Video
          type: string
        dscp:
          example: 32
          type: integer
        failover_policy:
          example: non_revertible
          type: string
        max_jitter:
          example: 250
          type: integer
        max_latency:
          example: 1500
          type: integer
        max_loss:
          example: 35
          type: integer
        name:
          example: voip_video
          type: string
        traffic_class:
          example: medium
          type: string
      type: object
  securitySchemes:
    apiToken:
      description: "Like many other API providers, it\u2019s also possible to generate\
        \ API Tokens to be used (in HTTP Header) for authentication. An API token\
        \ ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token\
        \ value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated\
        \ for a specific admin has the same privilege as the user\n* an API token\
        \ will be automatically removed if not used for > 90 days\n* SSO admins cannot\
        \ generate these API tokens. Refer Org level API tokens which can have privileges\
        \ of a specific Org/Site for more information."
      in: header
      name: Authorization
      type: apiKey
    basicAuth:
      description: "While our current UI uses Session / Cookie-based authentication,\
        \ it\u2019s also possible to do Basic Auth."
      scheme: basic
      type: http
