openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2306.1.6**

    >

    > Date: **June 21, 2023**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2306.1.6
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Authentication
- name: Monitor
- name: Operational
- name: Login
- description: A Mist account can be linked to OAuth2 providers:\n1. First, login
    with your Mist account\n2. Obtain the Authorization URL for Linking 1. in JSON
    response, more usable for developers. Simply don\'t specify the forward parameter
    when obtaining the authorization URL 2. or as GET parameter, for UI where the
    user flow can be continued. Specify the landing page/url of your choice 3. Obtain
    the authorizaiton code by clicking / going through Authorization URL Link Mist
    Account against OAuth2 Provider by using the authorization code
  name: Login With OAuth2
- description: "Like many other API providers, it\u2019s also possible to generate\
    \ API Tokens to be used (in HTTP Header) for authentication. An API token ties\
    \ to a Admin with equal or less privileges.\n\nNotes:\n* an API token generated\
    \ for a specific admin has the same privilege as the user\n* an API token will\
    \ be automatically removed if not used for > 90 days\n* SSO admins cannot generate\
    \ these API tokens. Refer Org level API tokens (/api/v1/docs/Org#api-token) which\
    \ can have privileges of a specific Org/Site for more information."
  name: API Token
- description: "In a typical enterprise, a separate group of people, Installers, are\
    \ responsible for install new devices. May it be a new installation (e.g. new\
    \ stores), a replacement installation (e.g. replacing Cisco APs with Mist APs),\
    \ or addition (e.g. adding new APs for better coverage). Instead of granting them\
    \ Admin/Write privilege, it's more desirable to grant them minimum privileges\
    \ to do the initial provisioning so they cannot read sensible information (e.g.\
    \ PSK of a WLAN), or change configs of running APs.\nAt a high level, Installer\
    \ APs try to achieve the following:\n1. identifying a device by MAC (that\u2019\
    s what they see)\n2. they can only touch configurations of the devices they\u2019\
    re installing\n3. allow the following configurations: * name * site assignment\
    \ * device  profile assignment * map and location (x/y) assignment * claim (if\
    \ not already in the inventory) * replace existing device with the device being\
    \ installed\n\n* Grace Period *\nGrace period provides a dynamic way to limit\
    \ what devices / sites   installer can work on. Generally installers work on recent\
    \ deployments -  bringing up new sites, add newly claimed devices to new / existing\
    \ sites. They  make mistakes, too, and may need to further tweak some of the parameters.\
    \   Default grace period is 7 days and can be set from 1 day to 365 days."
  name: Installer
- name: Admin
- name: Mobile
- description: MSP (Managed Service Provider) contains multiple Organizations.
  name: Msps
- name: Msps Admins
- name: Msps Inventory
- name: Msps Invites
- name: Msps Logo
- name: Msps Logs
- name: Msps Licenses
- name: Msps Marvis
- name: Msps Org Groups
- name: Msps Orgs
- name: Msps SLEs
- name: Msps SSO Roles
- name: Msps SSO
- name: Msps Stats
- name: Msps Tickets
- description: An organization usually represents a customer - which has inventories,
    licenses. An Organization can contain multiple sites. A site usually represents
    a deployment at the same location (a campus, an office).
  name: Orgs
- name: Orgs 128T
- name: Orgs Admins
- description: Alarms are triggered based on certain events. Alarms could be configured
    using an Alarm Template.
  name: Orgs Alarms
- description: An Alarm Template is a set of Alarm Rules that could be applied to
    one or more sites (while each site can only pick one Alarm Template), or to the
    whole org.
  name: Orgs Alarm Templates
- name: Orgs AP Templates
- name: Orgs API Tokens
- name: Orgs Assets
- name: Orgs Asset Filters
- name: Orgs Calls
- name: Orgs Cert
- name: Orgs Clients - Wan
- name: Orgs Clients - Wired
- name: Orgs Clients - Wireless
- name: Orgs CRL
- description: 'While Templates / RF Templates / Network Templates / Gateway Templates
    provides powerful ways to control how a Device\''s configuration is derived for
    a Site. There are cases where you\''d like another level of control at the Org
    Level.

    A Device Profile contains a subset of Device\''s configurations you\''d like a
    device to have. It will be merged at runtime when we\''re provisioning an AP.'
  name: Orgs Device Profiles
- name: Orgs Devices
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Orgs EVPN Topologies
- description: API Call for 3rd party devices
  name: Orgs Devices Others
- name: Orgs Devices Stats
- name: Orgs Devices Upgrades
- description: "In Zscaler UI \n 1. add Partner Integration at https://admin.zscalerbeta.net/#administration/partner-integration\
    \ \n 2. Add Partner Administrator Role at https://admin.zscalerbeta.net/#administration/role-management\
    \ - Name: Mist - Access: Full \n 3. add Partner Admin at https://admin.zscalerbeta.net/#administration/admin-management\
    \ with - Login ID: john - email: john@abc.com \n 4. Find the cloud name for ZIA\
    \ https://help.zscaler.com/zia/what-my-cloud-name-zia\n"
  name: Orgs Devices Zscaler
- description: Gateway Template is applied to a site for gateway(s) in a site.
  name: Orgs Gateway Templates
- name: Orgs Guests
- name: Orgs Inventory
- name: Orgs JSE
- description: "Juniper Support Insight is a free service provided to all Mist customers.\
    \ You can adopt your devices via a few lines CLI comands. Allowing you to \n*\
    \ get some basic information about the adopted devices \n* web shell into device\
    \ (write privilege required) \n* upgrade (write privilege required)"
  name: Orgs JSI
- name: Orgs Licenses
- name: Orgs Logs
- name: Orgs Marvis
- name: Orgs Maps
- name: Orgs MxClusters
- name: Orgs MxEdges
- name: Orgs MxTunnels
- description: 'nactags are the building blocks to compose nacrules.

    They can either appear in the "matching" / "not_matching" sections of a nacrule,
    in which case they play the role of classifiers, or they could appear in the "apply_tags"
    section of the of a nacrule, in which case they influence the result.

    When the "type" field of nactag is "match", it can be used as the classfier of
    a nacrule. "match" field specifies the attribute name and "values" field specifies
    the list of attribute values to match on. When multiple values are specified,
    its treated as an OR condition between those values.

    When the "type" field of nactag is NOT "match", it can be used as the result of
    a nacrule. "type" field identifies the action to take and the corresponding field
    would provide any associated parameters to that action.'
  name: Orgs NAC Tags
- name: Orgs NAC Rules
- description: 'Network template is intended to be applied to a Site. It works like
    a blueprint of the network of the site.

    All Site Settings can go into Network Templates. See Site:Site Setting for schema

    Moreover, this can further be overwriten by individual Site Setting'
  name: Orgs Network Templates
- name: Orgs Networks
- name: Orgs OAuth
- name: Orgs Premium Analytics
- name: Orgs Psks
- description: "PSK Self-Service Portals are for \n  1. **WIFI users** who want to\
    \ connect to a WLAN with personal PSK, they\u2019re told to connect to a URL where\
    \ they can login (likely through company\u2019s SSO) and get the WIFI Name / Passphrase\
    \ - required input fields name, email so we can generate PSK \n  2. **PSK Admins**\
    \ (they don\u2019t have access to normal Network Admin Portal)\nWhen a PSK portal\
    \ is created, an unique URL will be generated (e.g. https://psk.mist.com/xxxxxx)"
  name: Orgs Psk Portals
- name: Orgs RF Templates
- name: Orgs SDK Clients
- name: Orgs SDK Templates
- description: "Security Policy is designed to audit / catch discripancies between\
    \ \u201Cwhat\u2019s intended to be running\u201D versus \u201Cwhat\u2019s actually\
    \ running\u201D in a network. Many big organizations have separated Security and\
    \ IT team (for good reasons). Each site can be assigned a security policy. Whenever\
    \ an AP is provisioned, the configuration will be checked against the security\
    \ policy. Any violations will be flagged in [Device Config History](/#operation/searchSiteDeviceConfigHistory)\
    \ where you can search for the when and where the violation occurs."
  name: Orgs SecPolicies
- name: Orgs Services
- name: Orgs Service Policies
- name: Orgs Setting
- name: Orgs Sitegroups
- name: Orgs Sites
- description: Site template is intended to be applied to a Site. The items in site
    setting which should be shared for all device types.
  name: Orgs Site Templates
- name: Orgs SLEs
- name: Orgs SSO Roles
- name: Orgs SSO
- name: Orgs Stats
- name: Orgs Subscriptions
- name: Orgs Templates
- name: Orgs Tickets
- name: Orgs Tunnels
- name: Orgs Tunnels Stats
- name: Orgs VPNs
- name: Orgs Webhooks
- name: Orgs Wlans
- name: Orgs WxRules
- name: Orgs WxTags
- name: Orgs WxTunnels
- description: A site represents a project, a deployment. For MSP, it can be as small
    as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps,
    Wlans, Policies, Zones.
  name: Sites
- name: Sites Alarms
- description: Applications contains a list of applications users are interested in
    monitoring / routing / policying
  name: Sites Applications
- name: Sites Anomaly
- name: Sites Asset Filters
- name: Sites Assets
- name: Sites Beacons
- name: Sites Calls
- name: Sites Clients - Wan
- name: Sites Clients - Wired
- name: Sites Clients - Wireless
- description: 'Mist provides many ways (device-type specific template, site template,
    device profile, per-device) to configure devices for different kind of scenarios.

    The precedence goes from most specific to least specific

    Device > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template
    > Site Template > Site Setting'
  name: Sites Devices
- name: Sites Devices - Wireless
- description: API Call for 3rd party devices
  name: Sites Devices Others
- name: Sites Devices - Wired
- name: Sites Devices - Wired Virtual Chassis
- name: Sites Devices - WAN
- name: Sites Devices - WAN HA
- name: Sites Devices Stats
- name: Sites Devices Upgrades
- name: Sites Devices Utilities
- name: Sites Device Profiles
- name: Sites Events
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site '
  name: Sites EVPN Topologies
- name: Sites Guests
- name: Sites Insights
- name: Sites Licenses
- name: Sites Location
- name: Sites Maps
- name: Sites Maps Auto-orientation
- name: Sites Maps Auto-placement
- name: Sites MxEdges
- name: Sites MxTunnels
- name: Sites Networks
- name: Sites Pcaps
- name: Sites Psks
- name: Sites Rfdiags
- name: Sites Rogues
- name: Sites RRM
- name: Sites Rssizones
- name: Sites Services
- name: Sites Service Policies
- name: Sites Setting
- name: Sites Skyatp
- name: Sites SLEs
- name: Sites Stats
- name: Sites Subscriptions
- name: Sites Synthetic Tests
- name: Sites UI Settings
- name: Sites vBeacons
- name: Sites VPNs
- name: Sites Webhooks
- name: Sites Wlans
- name: Sites WxRules
- name: Sites WxTags
- name: Sites WxTunnels
- name: Sites Zones
- name: Constants
- name: Self
- name: Account
- name: Webhook Samples
paths:
  /api/v1/sites/{site_id}/alarms/count:
    get:
      description: Count Site Alarms
      operationId: countSiteAlarms
      parameters:
      - description: Group by and count the alarms by some distinct field
        in: query
        name: distinct
        schema:
          default: type
          enum:
          - type
          - acked
          - severity
          - group
          type: string
      - description: Name of the admins who have acked the alarms; accepts multiple
          values separated by comma
        in: query
        name: ack_admin_name
        schema:
          type: string
      - in: query
        name: acked
        schema:
          type: boolean
      - description: Key-name of the alarms; accepts multiple values separated by
          comma
        in: query
        name: type
        schema:
          type: string
      - description: Alarm severity; accepts multiple values separated by comma
        in: query
        name: severity
        schema:
          type: string
      - description: Alarm group name; accepts multiple values separated by comma
        in: query
        name: group
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countSiteAlarms
      tags:
      - Sites Alarms
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/alarms/search:
    get:
      description: Search Site Alarms
      operationId: searchSiteAlarms
      parameters:
      - description: Key-name of the alarms; accepts multiple values separated by
          comma
        in: query
        name: type
        schema:
          type: string
      - description: Name of the admins who have acked the alarms; accepts multiple
          values separated by comma
        in: query
        name: ack_admin_name
        schema:
          type: string
      - in: query
        name: acked
        schema:
          type: boolean
      - description: Alarm severity; accepts multiple values separated by comma
        in: query
        name: severity
        schema:
          type: string
      - description: Alarm group name; accepts multiple values separated by comma
        in: query
        name: group
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/AlarmsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchSiteAlarms
      tags:
      - Sites Alarms
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/anomaly/client/{client_mac}/{metric}:
    get:
      description: Get Client Anomaly Events
      operationId: getSiteClientAnomalyEvents
      responses:
        '200':
          $ref: '#/components/responses/AnomalyMetrics'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getSiteClientAnomalyEvents
      tags:
      - Sites Anomaly
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/client_mac'
    - $ref: '#/components/parameters/metric'
  /api/v1/sites/{site_id}/anomaly/device/{device_mac}/{metric}:
    get:
      description: Get Device Anomaly Events
      operationId: getSiteDeviceAnomalyEvents
      responses:
        '200':
          $ref: '#/components/responses/AnomalyMetrics'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getSiteDeviceAnomalyEvents
      tags:
      - Sites Anomaly
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/metric'
    - $ref: '#/components/parameters/device_mac'
  /api/v1/sites/{site_id}/anomaly/{metric}:
    get:
      description: Get Site Anomaly Events
      operationId: getSiteAnomalyEvents
      responses:
        '200':
          $ref: '#/components/responses/AnomalyMetrics'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getSiteAnomalyEvents
      tags:
      - Sites Anomaly
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/metric'
  /api/v1/sites/{site_id}/call/events/count:
    get:
      description: Count Site Call Events
      operationId: countSiteCallEvents
      parameters:
      - in: query
        name: distinct
        schema:
          enum:
          - type
          - app
          type: string
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countSiteCallEvents
      tags:
      - Sites Calls
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/call/events/search:
    get:
      description: Search Site Call Events
      operationId: searchSiteCallEvents
      parameters:
      - description: Event Type. See [listCallEventsDefinitions](/#operation/listCallEventsDefinitions)
        in: query
        name: type
        schema:
          type: string
      - in: query
        name: ap
        schema:
          type: string
      - in: query
        name: mac
        schema:
          type: string
      - in: query
        name: app
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/CallEventsArraySearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchSiteCallEvents
      tags:
      - Sites Calls
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/clients/count:
    get:
      description: Count by Distinct Attributes of Clients
      operationId: countSiteWirelessClients
      parameters:
      - example: hostname
        in: query
        name: distinct
        required: true
        schema:
          default: device
          enum:
          - ssid
          - ap
          - ip
          - vlan
          - hostname
          - os
          - model
          - device
          type: string
      - in: query
        name: ssid
        schema:
          type: string
      - in: query
        name: ap
        schema:
          type: string
      - $ref: '#/components/parameters/ip'
      - in: query
        name: vlan
        schema:
          type: string
      - in: query
        name: hostname
        schema:
          type: string
      - in: query
        name: os
        schema:
          type: string
      - in: query
        name: model
        schema:
          type: string
      - in: query
        name: device
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countSiteWirelessClients
      tags:
      - Sites Clients - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/clients/events/count:
    get:
      description: Count by Distinct Attributes of Client-Events
      operationId: countSiteWirelessClientsEvents
      parameters:
      - description: type / proto / band / channel / wlan_id / ssid
        example: type
        in: query
        name: distinct
        schema:
          enum:
          - type
          - proto
          - band
          - channel
          - wlan_id
          - ssid
          type: string
      - description: event type, e.g. MARVIS_EVENT_CLIENT_FBT_FAILURE
        in: query
        name: type
        schema:
          type: string
      - description: for assoc/disassoc events
        in: query
        name: reason_code
        schema:
          type: integer
      - description: SSID Name
        in: query
        name: ssid
        schema:
          type: string
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - description: 802.11 standard
        in: query
        name: proto
        schema:
          enum:
          - b
          - g
          - n
          - ac
          - ax
          - a
          type: string
      - description: 24 / 5
        in: query
        name: band
        schema:
          enum:
          - '24'
          - '5'
          type: string
      - description: wlan_id
        in: query
        name: wlan_id
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countSiteWirelessClientsEvents
      tags:
      - Sites Clients - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/clients/events/search:
    get:
      description: Get Site Clients Events
      operationId: searchSiteWirelessClientsEvents
      parameters:
      - description: event type, e.g. MARVIS_EVENT_CLIENT_FBT_FAILURE
        in: query
        name: type
        schema:
          type: string
      - description: for assoc/disassoc events
        in: query
        name: reason_code
        schema:
          type: integer
      - description: SSID Name
        in: query
        name: ssid
        schema:
          type: string
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - description: 802.11 standard
        in: query
        name: proto
        schema:
          enum:
          - b
          - g
          - n
          - ac
          - ax
          - a
          type: string
      - description: 24 / 5
        in: query
        name: band
        schema:
          enum:
          - '24'
          - '5'
          type: string
      - description: wlan_id
        in: query
        name: wlan_id
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/EventsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchSiteWirelessClientsEvents
      tags:
      - Sites Clients - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/clients/search:
    get:
      description: "Search Wireless Clients\n\n**NOTE**: fuzzy logic can be used with\
        \ \u2018*\u2019, supported filters: mac, hostname, device, os, model. E.g.\
        \ /clients/search?device=Mac*&hostname=jerry"
      operationId: searchSiteWirelessClients
      parameters:
      - description: partial / full MAC address
        in: query
        name: mac
        schema:
          type: string
      - $ref: '#/components/parameters/ip'
      - description: partial / full hostname
        in: query
        name: hostname
        schema:
          type: string
      - description: device type, e.g. Mac, Nvidia, iPhone
        in: query
        name: device
        schema:
          type: string
      - description: os, e.g. Sierra, Yosemite, Windows 10
        in: query
        name: os
        schema:
          type: string
      - description: "model, e.g. \u201CMBP 15 late 2013\u201D, 6, 6s, \u201C8+ GSM\u201D"
        in: query
        name: model
        schema:
          type: string
      - description: AP mac where the client has connected to
        in: query
        name: ap
        schema:
          type: string
      - in: query
        name: ssid
        schema:
          type: string
      - description: partial / full MAC address, hostname, username or ip
        in: query
        name: text
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/ClientsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchSiteWirelessClients
      tags:
      - Sites Clients - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/clients/sessions/count:
    get:
      description: Count by Distinct Attributes of Client Sessions
      operationId: countSiteWirelessClientSessions
      parameters:
      - in: query
        name: distinct
        schema:
          default: mac
          enum:
          - ssid
          - wlan_id
          - ap
          - mac
          - client_family
          - client_manufacture
          - client_model
          - client_os
          type: string
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - description: 24 /5
        in: query
        name: band
        schema:
          type: string
      - description: "E.g. \u201CMac\u201D, \u201CiPhone\u201D, \u201CApple watch\u201D"
        in: query
        name: client_family
        schema:
          type: string
      - description: "E.g. \u201CApple\u201D"
        in: query
        name: client_manufacture
        schema:
          type: string
      - description: "E.g. \u201C8+\u201D, \u201CXS\u201D"
        in: query
        name: client_model
        schema:
          type: string
      - description: "E.g. \u201CMojave\u201D, \u201CWindows 10\u201D, \u201CLinux\u201D"
        in: query
        name: client_os
        schema:
          type: string
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - description: wlan_id
        in: query
        name: wlan_id
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countSiteWirelessClientSessions
      tags:
      - Sites Clients - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/clients/sessions/search:
    get:
      description: Search Client Sessions
      operationId: searchSiteWirelessClientSessions
      parameters:
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - description: 5 / 24
        in: query
        name: band
        schema:
          enum:
          - '24'
          - '5'
          type: string
      - description: "E.g. \u201CMac\u201D, \u201CiPhone\u201D, \u201CApple watch\u201D"
        in: query
        name: client_family
        schema:
          type: string
      - description: "E.g. \u201CApple\u201D"
        in: query
        name: client_manufacture
        schema:
          type: string
      - description: "E.g. \u201C8+\u201D, \u201CXS\u201D"
        in: query
        name: client_model
        schema:
          type: string
      - description: Username
        in: query
        name: client_username
        schema:
          type: string
      - description: "E.g. \u201CMojave\u201D, \u201CWindows 10\u201D, \u201CLinux\u201D"
        in: query
        name: client_os
        schema:
          type: string
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - description: wlan_id
        in: query
        name: wlan_id
        schema:
          type: string
      - $ref: '#/components/parameters/psk_id_query'
      - description: PSK Name
        in: query
        name: psk_name
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/ClientSessionsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchSiteWirelessClientSessions
      tags:
      - Sites Clients - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/clients/{client_mac}/events:
    get:
      description: Get the list of events for a specific client
      operationId: getSiteEventsForClient
      parameters:
      - description: e.g. MARVIS_EVENT_CLIENT_DHCP_STUCK
        in: query
        name: type
        schema:
          enum:
          - b
          - g
          - n
          type: string
      - description: a / b / g / n / ac / ax
        in: query
        name: proto
        schema:
          enum:
          - a
          - b
          - g
          - n
          - ac
          - ax
          type: string
      - description: 24 / 5
        in: query
        name: band
        schema:
          type: string
      - in: query
        name: channel
        schema:
          type: string
      - in: query
        name: wlan_id
        schema:
          type: string
      - in: query
        name: ssid
        schema:
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/ClientEventsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getSiteEventsForClient
      tags:
      - Sites Clients - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/client_mac'
  /api/v1/sites/{site_id}/devices/ap_channels:
    get:
      description: Get a list of allowed channels (per channel width)
      operationId: getSiteDeviceRadioChannels
      parameters:
      - description: country code for the site (for AP config generation), in [two-character](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
        example: US
        in: query
        name: country_code
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DeviceRadioChannels'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getSiteDeviceRadioChannels
      tags:
      - Sites Devices - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/config_history/count:
    get:
      description: Counts the number of entries in device config history for distinct
        field with given filters
      operationId: countSiteDeviceConfigHistory
      parameters:
      - in: query
        name: distinct
        schema:
          type: string
      - in: query
        name: mac
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countSiteDeviceConfigHistory
      tags:
      - Sites Devices - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/config_history/search:
    get:
      description: Search for entries in device config history
      operationId: searchSiteDeviceConfigHistory
      parameters:
      - in: query
        name: device_type
        schema:
          default: ap
          enum:
          - ap
          - switch
          - gateway
          type: string
      - description: Device MAC Address
        in: query
        name: mac
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/ConfigsHistorySearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchSiteDeviceConfigHistory
      tags:
      - Sites Devices - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/count:
    get:
      description: Counts the number of entries in ap events history for distinct
        field with given filters
      operationId: countSiteDevices
      parameters:
      - in: query
        name: distinct
        schema:
          default: model
          enum:
          - model
          - version
          - map_id
          - hostname
          - mxtunnel_status
          - mxedge_id
          - lldp_system_name
          - lldp_system_desc
          - lldp_port_id
          - lldp_mgmt_addr
          type: string
      - in: query
        name: hostname
        schema:
          type: string
      - in: query
        name: model
        schema:
          type: string
      - in: query
        name: mac
        schema:
          type: string
      - in: query
        name: version
        schema:
          type: string
      - in: query
        name: mxtunnel_status
        schema:
          type: string
      - in: query
        name: mxedge_id
        schema:
          type: string
      - in: query
        name: lldp_system_name
        schema:
          type: string
      - in: query
        name: lldp_system_desc
        schema:
          type: string
      - in: query
        name: lldp_port_id
        schema:
          type: string
      - in: query
        name: lldp_mgmt_addr
        schema:
          type: string
      - in: query
        name: map_id
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    distinct: model
                    end: 1604304258.674506
                    limit: 10
                    percentage: 100
                    results:
                    - count: 1
                      model: AP41
                    - count: 1
                      model: AP43
                    start: 1604217858.6744902
                    total: 2
              schema:
                properties:
                  distinct:
                    type: string
                  end:
                    type: number
                  limit:
                    type: integer
                  percentage:
                    type: integer
                  results:
                    items:
                      properties:
                        count:
                          type: integer
                        model:
                          type: string
                      required:
                      - model
                      - count
                    minItems: 1
                    type: array
                    uniqueItems: true
                  start:
                    type: number
                  total:
                    type: integer
                required:
                - results
                - start
                - end
                - limit
                - distinct
                - total
                - percentage
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countSiteDevices
      tags:
      - Sites Devices
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/events/count:
    get:
      description: Counts the number of entries in ap events history for distinct
        field with given filters
      operationId: countSiteDeviceEvents
      parameters:
      - in: query
        name: distinct
        schema:
          default: model
          enum:
          - model
          - type
          - type_code
          - mac
          type: string
      - in: query
        name: model
        schema:
          type: string
      - in: query
        name: type
        schema:
          type: string
      - in: query
        name: type_code
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    distinct: type
                    end: 1531862583
                    limit: 10
                    percentage: 100
                    results:
                    - count: 10
                      type: AP_CONNECT_STATUS
                    - count: 4
                      type: AP_CONFIGURED
                    start: 1531776183
                    total: 2
              schema:
                properties:
                  distinct:
                    type: string
                  end:
                    type: integer
                  limit:
                    type: integer
                  percentage:
                    type: integer
                  results:
                    items:
                      properties:
                        count:
                          type: integer
                        type:
                          type: string
                      required:
                      - count
                      - type
                    minItems: 1
                    type: array
                    uniqueItems: true
                  start:
                    type: integer
                  total:
                    type: integer
                required:
                - end
                - distinct
                - results
                - start
                - limit
                - percentage
                - total
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countSiteDeviceEvents
      tags:
      - Sites Devices - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/events/search:
    get:
      description: Search Devices Events
      operationId: searchSiteDevicesEvents
      parameters:
      - in: query
        name: device_type
        schema:
          enum:
          - ap
          - switch
          - gateway
          type: string
      - description: device mac
        in: query
        name: mac
        schema:
          type: string
      - description: device model
        in: query
        name: model
        schema:
          type: string
      - description: event message
        in: query
        name: text
        schema:
          type: string
      - description: event time
        in: query
        name: timestamp
        schema:
          type: string
      - description: see [Event Types Definition](/#operation/listDeviceEventsDefinitions)
        in: query
        name: type
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    end: 1531862583
                    limit: 2
                    next: /api/v1/sites/8aaba0aa-09cc-44bd-9709-33b98040550c/devices/events/search?ap=5c5b350e0001&end=1531855849.000&limit=2&start=1531776183.0
                    results:
                    - last_reboot_time: 1531854327
                      text: Success
                      timestamp: 1531855849.226722
                      type: AP_CONNECT_STATUS
                      type_code: 2002
                    - timestamp: 1531854326
                      type: AP_CONFIGURED
                    start: 1531776183
                    total: 14
              schema:
                properties:
                  end:
                    type: integer
                  limit:
                    type: integer
                  next:
                    type: string
                  results:
                    items:
                      $ref: ./components/schemas/events_device_ap.yaml
                    minItems: 1
                    type: array
                    uniqueItems: true
                  start:
                    type: integer
                  total:
                    type: integer
                required:
                - end
                - limit
                - next
                - results
                - start
                - total
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchSiteDevicesEvents
      tags:
      - Sites Devices - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/last_config/count:
    get:
      description: Counts the number of entries in device config history for distinct
        field with given filters
      operationId: countSiteDeviceLastConfig
      parameters:
      - in: query
        name: distinct
        schema:
          default: mac
          enum:
          - version
          - name
          - site_id
          - mac
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    distinct: ap
                    end: 1604310805
                    limit: 10
                    percentage: 100
                    results:
                    - ap: 5c5b35000000
                      count: 1
                    - ap: 5c5b35000001
                      count: 1
                    start: 1604307205
                    total: 2
              schema:
                properties:
                  distinct:
                    type: string
                  end:
                    type: integer
                  limit:
                    type: integer
                  percentage:
                    type: integer
                  results:
                    items:
                      properties:
                        ap:
                          type: string
                        count:
                          type: integer
                      required:
                      - ap
                      - count
                    minItems: 1
                    type: array
                    uniqueItems: true
                  start:
                    type: integer
                  total:
                    type: integer
                required:
                - results
                - start
                - end
                - limit
                - distinct
                - total
                - percentage
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countSiteDeviceLastConfig
      tags:
      - Sites Devices - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/last_config/search:
    get:
      description: Search Device Last Configs
      operationId: searchSiteDeviceLastConfigs
      parameters:
      - in: query
        name: device_type
        schema:
          default: ap
          enum:
          - ap
          - switch
          - gateway
          type: string
      - in: query
        name: mac
        schema:
          type: string
      - in: query
        name: version
        schema:
          type: string
      - in: query
        name: name
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/ConfigsHistorySearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchSiteDeviceLastConfigs
      tags:
      - Sites Devices - Wireless
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/search:
    get:
      description: Search Device
      operationId: searchSiteDevices
      parameters:
      - description: partial / full hostname
        in: query
        name: hostname
        schema:
          type: string
      - description: device type
        in: query
        name: type
        schema:
          default: ap
          enum:
          - ap
          - switch
          - gateway
          type: string
      - description: device model
        in: query
        name: model
        schema:
          type: string
      - description: device MAC
        in: query
        name: mac
        schema:
          type: string
      - description: version
        in: query
        name: version
        schema:
          type: string
      - description: power_constrained
        in: query
        name: power_constrained
        schema:
          type: boolean
      - $ref: '#/components/parameters/ip'
      - description: MxTunnel status, up / down
        in: query
        name: mxtunnel_status
        schema:
          enum:
          - up
          - down
          type: string
      - description: Mist Edge id, if AP is connecting to a Mist Edge
        in: query
        name: mxedge_id
        schema:
          format: uuid
          type: string
      - description: LLDP system name
        in: query
        name: lldp_system_name
        schema:
          type: string
      - description: LLDP system description
        in: query
        name: lldp_system_desc
        schema:
          type: string
      - description: LLDP port id
        in: query
        name: lldp_port_id
        schema:
          type: string
      - description: LLDP management ip address
        in: query
        name: lldp_mgmt_addr
        schema:
          type: string
      - description: Channel of band_24
        in: query
        name: band_24_channel
        schema:
          type: integer
      - description: Channel of band_5
        in: query
        name: band_5_channel
        schema:
          type: integer
      - description: Channel of band_6
        in: query
        name: band_6_channel
        schema:
          type: integer
      - description: Port speed of eth0
        in: query
        name: eth0_port_speed
        schema:
          type: integer
      - description: sort options
        in: query
        name: sort
        schema:
          default: timestamp
          enum:
          - timestamp
          - mac
          - model
          - sku
          type: string
      - description: sort options in reverse order
        in: query
        name: desc-sort
        schema:
          enum:
          - timestamp
          - mac
          - model
          - sku
          type: string
      - description: whether to return device stats
        in: query
        name: stats
        schema:
          default: false
          type: boolean
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/DevicesSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchSiteDevices
      tags:
      - Sites Devices
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/{device_id}/poll_stats:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: This API can be used to poll statistics from the Switch proactively
        once. After it is called, the statistics will be pushed back to the cloud
        within the statistics interval.
      operationId: pollSiteSwitchStats
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: pollSiteSwitchStats
      tags:
      - Sites Devices - Wired
      - Monitor
  /api/v1/sites/{site_id}/devices/{device_id}/show_session:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - in: path
      name: device_id
      required: true
      schema:
        type: string
    post:
      description: "Get active sessions passing through the Device. The output will\
        \ be available through websocket. As there can be multiple command issued\
        \ against the same device at the same time and the output all goes through\
        \ the same websocket stream, session is introduced for demux.\n\n#### Subscribe\
        \ to Device Command outputs\n`WS /api-ws/v1/stream`\n\n```json\n{\n    \"\
        subscribe\": \"/sites/{site_id}/devices/{device_id}/cmd\"\n}\n```\n##### Example\
        \ output from ws stream\n```\nadmin@ssr.node# show sessions\nFri 2020-04-17\
        \ 16:55:34 UTC\n\nNode: node1\n\n====================================== =====\
        \ ============= =========== ========== ====== ======= ================= ==========\
        \ ================= =========== ================= ========== ===================\
        \ ========= =================\n Session Id                             Dir\
        \   Service       Tenant      Dev Name   VLAN   Proto   Src IP           \
        \ Src Port   Dest IP           Dest Port   NAT IP            NAT Port   Payload\
        \ Encrypted   Timeout   Uptime\n====================================== =====\
        \ ============= =========== ========== ====== ======= ================= ==========\
        \ ================= =========== ================= ========== ===================\
        \ ========= =================\n 01187fb8-765a-45e5-ae90-37d77f15e292   fwd\
        \   Internet      lanSubnet   lan           0   udp     192.168.0.28     \
        \    44674   35.166.173.18          9930   96.230.191.130       19569   false\
        \                   154   0 days  0:00:28\n 01187fb8-765a-45e5-ae90-37d77f15e292\
        \   rev   Internet      lanSubnet   wan           0   udp     35.166.173.18\
        \         9930   96.230.191.130        19569   0.0.0.0                  0\
        \   false                   154   0 days  0:00:28\n 0859a4ae-bcff-4aa6-b812-79a5236a6c13\
        \   fwd   Internet      lanSubnet   lan           0   tcp     192.168.0.41\
        \         60843   17.249.171.246          443   96.230.191.130       51941\
        \   false                     2   0 days  0:00:10\n\n```"
      operationId: getSiteSsrAndSrxSessions
      requestBody:
        content:
          application/json:
            examples:
              Example 1:
                value:
                  node: node0
                  service_name: any
            schema:
              properties:
                node:
                  description: 'only for '
                  enum:
                  - node0
                  - node1
                  type: string
                service_name:
                  description: The exact service name for which to display the active
                    sessions
                  example: any
                  type: string
              type: object
              x-examples:
                example-1:
                  service_name: any
      responses:
        '200':
          $ref: '#/components/responses/Session'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getSiteSsrAndSrxSessions
      tags:
      - Sites Devices - WAN
      - Monitor
  /api/v1/sites/{site_id}/events/fast_roam:
    get:
      description: Get Roaming Events data
      operationId: getSiteRoamingEvents
      parameters:
      - description: event type
        in: query
        name: type
        schema:
          enum:
          - success
          - fail
          - none
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/EventsFastroam'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getSiteRoamingEvents
      tags:
      - Sites Events
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/events/interference:
    get:
      description: Get Interference Events
      operationId: getSiteInterferenceEvents
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/EventsInterference'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getSiteInterferenceEvents
      tags:
      - Sites Events
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/events/system/count:
    get:
      description: Count System Events
      operationId: countSiteSystemEvents
      parameters:
      - in: query
        name: distinct
        schema:
          default: type
          enum:
          - type
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: countSiteSystemEvents
      tags:
      - Sites Events
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/events/system/search:
    get:
      description: Search System Events
      operationId: searchSiteSystemEvents
      parameters:
      - in: query
        name: type
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/DevicesEventsSearch'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: searchSiteSystemEvents
      tags:
      - Sites Events
      - Monitor
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/guests:
    get:
      description: Get List of Site Guest Authorizations
      operationId: listSiteAllGuestAuthorizations
      parameters:
      - description: UUID of single or multiple (Comma separated) WLAN under Site
          `site_id` (to filter by WLAN)
        in: query
        name: wlan_id
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/GuestsArray'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
[...]
