openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2306.1.6**

    >

    > Date: **June 21, 2023**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2306.1.6
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Authentication
- name: Monitor
- name: Operational
- name: Login
- description: A Mist account can be linked to OAuth2 providers:\n1. First, login
    with your Mist account\n2. Obtain the Authorization URL for Linking 1. in JSON
    response, more usable for developers. Simply don\'t specify the forward parameter
    when obtaining the authorization URL 2. or as GET parameter, for UI where the
    user flow can be continued. Specify the landing page/url of your choice 3. Obtain
    the authorizaiton code by clicking / going through Authorization URL Link Mist
    Account against OAuth2 Provider by using the authorization code
  name: Login With OAuth2
- description: "Like many other API providers, it\u2019s also possible to generate\
    \ API Tokens to be used (in HTTP Header) for authentication. An API token ties\
    \ to a Admin with equal or less privileges.\n\nNotes:\n* an API token generated\
    \ for a specific admin has the same privilege as the user\n* an API token will\
    \ be automatically removed if not used for > 90 days\n* SSO admins cannot generate\
    \ these API tokens. Refer Org level API tokens (/api/v1/docs/Org#api-token) which\
    \ can have privileges of a specific Org/Site for more information."
  name: API Token
- description: "In a typical enterprise, a separate group of people, Installers, are\
    \ responsible for install new devices. May it be a new installation (e.g. new\
    \ stores), a replacement installation (e.g. replacing Cisco APs with Mist APs),\
    \ or addition (e.g. adding new APs for better coverage). Instead of granting them\
    \ Admin/Write privilege, it's more desirable to grant them minimum privileges\
    \ to do the initial provisioning so they cannot read sensible information (e.g.\
    \ PSK of a WLAN), or change configs of running APs.\nAt a high level, Installer\
    \ APs try to achieve the following:\n1. identifying a device by MAC (that\u2019\
    s what they see)\n2. they can only touch configurations of the devices they\u2019\
    re installing\n3. allow the following configurations: * name * site assignment\
    \ * device  profile assignment * map and location (x/y) assignment * claim (if\
    \ not already in the inventory) * replace existing device with the device being\
    \ installed\n\n* Grace Period *\nGrace period provides a dynamic way to limit\
    \ what devices / sites   installer can work on. Generally installers work on recent\
    \ deployments -  bringing up new sites, add newly claimed devices to new / existing\
    \ sites. They  make mistakes, too, and may need to further tweak some of the parameters.\
    \   Default grace period is 7 days and can be set from 1 day to 365 days."
  name: Installer
- name: Admin
- name: Mobile
- description: MSP (Managed Service Provider) contains multiple Organizations.
  name: Msps
- name: Msps Admins
- name: Msps Inventory
- name: Msps Invites
- name: Msps Logo
- name: Msps Logs
- name: Msps Licenses
- name: Msps Marvis
- name: Msps Org Groups
- name: Msps Orgs
- name: Msps SLEs
- name: Msps SSO Roles
- name: Msps SSO
- name: Msps Stats
- name: Msps Tickets
- description: An organization usually represents a customer - which has inventories,
    licenses. An Organization can contain multiple sites. A site usually represents
    a deployment at the same location (a campus, an office).
  name: Orgs
- name: Orgs 128T
- name: Orgs Admins
- description: Alarms are triggered based on certain events. Alarms could be configured
    using an Alarm Template.
  name: Orgs Alarms
- description: An Alarm Template is a set of Alarm Rules that could be applied to
    one or more sites (while each site can only pick one Alarm Template), or to the
    whole org.
  name: Orgs Alarm Templates
- name: Orgs AP Templates
- name: Orgs API Tokens
- name: Orgs Assets
- name: Orgs Asset Filters
- name: Orgs Calls
- name: Orgs Cert
- name: Orgs Clients - Wan
- name: Orgs Clients - Wired
- name: Orgs Clients - Wireless
- name: Orgs CRL
- description: 'While Templates / RF Templates / Network Templates / Gateway Templates
    provides powerful ways to control how a Device\''s configuration is derived for
    a Site. There are cases where you\''d like another level of control at the Org
    Level.

    A Device Profile contains a subset of Device\''s configurations you\''d like a
    device to have. It will be merged at runtime when we\''re provisioning an AP.'
  name: Orgs Device Profiles
- name: Orgs Devices
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Orgs EVPN Topologies
- description: API Call for 3rd party devices
  name: Orgs Devices Others
- name: Orgs Devices Stats
- name: Orgs Devices Upgrades
- description: "In Zscaler UI \n 1. add Partner Integration at https://admin.zscalerbeta.net/#administration/partner-integration\
    \ \n 2. Add Partner Administrator Role at https://admin.zscalerbeta.net/#administration/role-management\
    \ - Name: Mist - Access: Full \n 3. add Partner Admin at https://admin.zscalerbeta.net/#administration/admin-management\
    \ with - Login ID: john - email: john@abc.com \n 4. Find the cloud name for ZIA\
    \ https://help.zscaler.com/zia/what-my-cloud-name-zia\n"
  name: Orgs Devices Zscaler
- description: Gateway Template is applied to a site for gateway(s) in a site.
  name: Orgs Gateway Templates
- name: Orgs Guests
- name: Orgs Inventory
- name: Orgs JSE
- description: "Juniper Support Insight is a free service provided to all Mist customers.\
    \ You can adopt your devices via a few lines CLI comands. Allowing you to \n*\
    \ get some basic information about the adopted devices \n* web shell into device\
    \ (write privilege required) \n* upgrade (write privilege required)"
  name: Orgs JSI
- name: Orgs Licenses
- name: Orgs Logs
- name: Orgs Marvis
- name: Orgs Maps
- name: Orgs MxClusters
- name: Orgs MxEdges
- name: Orgs MxTunnels
- description: 'nactags are the building blocks to compose nacrules.

    They can either appear in the "matching" / "not_matching" sections of a nacrule,
    in which case they play the role of classifiers, or they could appear in the "apply_tags"
    section of the of a nacrule, in which case they influence the result.

    When the "type" field of nactag is "match", it can be used as the classfier of
    a nacrule. "match" field specifies the attribute name and "values" field specifies
    the list of attribute values to match on. When multiple values are specified,
    its treated as an OR condition between those values.

    When the "type" field of nactag is NOT "match", it can be used as the result of
    a nacrule. "type" field identifies the action to take and the corresponding field
    would provide any associated parameters to that action.'
  name: Orgs NAC Tags
- name: Orgs NAC Rules
- description: 'Network template is intended to be applied to a Site. It works like
    a blueprint of the network of the site.

    All Site Settings can go into Network Templates. See Site:Site Setting for schema

    Moreover, this can further be overwriten by individual Site Setting'
  name: Orgs Network Templates
- name: Orgs Networks
- name: Orgs OAuth
- name: Orgs Premium Analytics
- name: Orgs Psks
- description: "PSK Self-Service Portals are for \n  1. **WIFI users** who want to\
    \ connect to a WLAN with personal PSK, they\u2019re told to connect to a URL where\
    \ they can login (likely through company\u2019s SSO) and get the WIFI Name / Passphrase\
    \ - required input fields name, email so we can generate PSK \n  2. **PSK Admins**\
    \ (they don\u2019t have access to normal Network Admin Portal)\nWhen a PSK portal\
    \ is created, an unique URL will be generated (e.g. https://psk.mist.com/xxxxxx)"
  name: Orgs Psk Portals
- name: Orgs RF Templates
- name: Orgs SDK Clients
- name: Orgs SDK Templates
- description: "Security Policy is designed to audit / catch discripancies between\
    \ \u201Cwhat\u2019s intended to be running\u201D versus \u201Cwhat\u2019s actually\
    \ running\u201D in a network. Many big organizations have separated Security and\
    \ IT team (for good reasons). Each site can be assigned a security policy. Whenever\
    \ an AP is provisioned, the configuration will be checked against the security\
    \ policy. Any violations will be flagged in [Device Config History](/#operation/searchSiteDeviceConfigHistory)\
    \ where you can search for the when and where the violation occurs."
  name: Orgs SecPolicies
- name: Orgs Services
- name: Orgs Service Policies
- name: Orgs Setting
- name: Orgs Sitegroups
- name: Orgs Sites
- description: Site template is intended to be applied to a Site. The items in site
    setting which should be shared for all device types.
  name: Orgs Site Templates
- name: Orgs SLEs
- name: Orgs SSO Roles
- name: Orgs SSO
- name: Orgs Stats
- name: Orgs Subscriptions
- name: Orgs Templates
- name: Orgs Tickets
- name: Orgs Tunnels
- name: Orgs Tunnels Stats
- name: Orgs VPNs
- name: Orgs Webhooks
- name: Orgs Wlans
- name: Orgs WxRules
- name: Orgs WxTags
- name: Orgs WxTunnels
- description: A site represents a project, a deployment. For MSP, it can be as small
    as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps,
    Wlans, Policies, Zones.
  name: Sites
- name: Sites Alarms
- description: Applications contains a list of applications users are interested in
    monitoring / routing / policying
  name: Sites Applications
- name: Sites Anomaly
- name: Sites Asset Filters
- name: Sites Assets
- name: Sites Beacons
- name: Sites Calls
- name: Sites Clients - Wan
- name: Sites Clients - Wired
- name: Sites Clients - Wireless
- description: 'Mist provides many ways (device-type specific template, site template,
    device profile, per-device) to configure devices for different kind of scenarios.

    The precedence goes from most specific to least specific

    Device > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template
    > Site Template > Site Setting'
  name: Sites Devices
- name: Sites Devices - Wireless
- description: API Call for 3rd party devices
  name: Sites Devices Others
- name: Sites Devices - Wired
- name: Sites Devices - Wired Virtual Chassis
- name: Sites Devices - WAN
- name: Sites Devices - WAN HA
- name: Sites Devices Stats
- name: Sites Devices Upgrades
- name: Sites Devices Utilities
- name: Sites Device Profiles
- name: Sites Events
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site '
  name: Sites EVPN Topologies
- name: Sites Guests
- name: Sites Insights
- name: Sites Licenses
- name: Sites Location
- name: Sites Maps
- name: Sites Maps Auto-orientation
- name: Sites Maps Auto-placement
- name: Sites MxEdges
- name: Sites MxTunnels
- name: Sites Networks
- name: Sites Pcaps
- name: Sites Psks
- name: Sites Rfdiags
- name: Sites Rogues
- name: Sites RRM
- name: Sites Rssizones
- name: Sites Services
- name: Sites Service Policies
- name: Sites Setting
- name: Sites Skyatp
- name: Sites SLEs
- name: Sites Stats
- name: Sites Subscriptions
- name: Sites Synthetic Tests
- name: Sites UI Settings
- name: Sites vBeacons
- name: Sites VPNs
- name: Sites Webhooks
- name: Sites Wlans
- name: Sites WxRules
- name: Sites WxTags
- name: Sites WxTunnels
- name: Sites Zones
- name: Constants
- name: Self
- name: Account
- name: Webhook Samples
paths:
  /api/v1/invite/verify/{token}:
    parameters:
    - $ref: '#/components/parameters/token'
    post:
      description: '**Note**: another call to ```GET /api/v1/self``` is required to
        see the new set of privileges'
      operationId: verifyAdminInvite
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                invalid secret:
                  value:
                    detail: invalid secret
                invite created by self:
                  value:
                    detail: invite created by self
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not Found
      summary: verifyAdminInvite
      tags:
      - Orgs Admins
      - Configuration
  /api/v1/mobile/verify/{secret}:
    parameters:
    - $ref: '#/components/parameters/secret'
    post:
      description: Verify secret
      operationId: activateSdkInvite
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  device_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: ./components/schemas/Model_object_device_id.yaml
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    name: Macy's
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    secret: device-specific-secret
              schema:
                properties:
                  name:
                    type: string
                  org_id:
                    format: uuid
                    type: string
                  secret:
                    type: string
                required:
                - name
                - org_id
                - secret
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: activateSdkInvite
      tags:
      - Orgs SDK Clients
      - Configuration
  /api/v1/orgs:
    post:
      description: "Org admin can invite people to manage the org. Furthermore, he\
        \ can dictate the level of security those accounts are. The check is enforced\
        \ when the invited admin tries to \u201Caccept\u201D the invitation and every\
        \ time the admin tries to login"
      operationId: createOrg
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  allow_mist: true
                  msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  name: string
                  orggroup_ids:
                  - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                  session_expiry: 0
            schema:
              $ref: ./components/schemas/org.yaml
      responses:
        '200':
          $ref: '#/components/responses/Org'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: createOrg
      tags:
      - Orgs
      - Configuration
  /api/v1/orgs/{org_id}:
    delete:
      description: Delete Org
      operationId: deleteOrg
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: deleteOrg
      tags:
      - Orgs
      - Configuration
    get:
      description: Get Organization information
      operationId: getOrgInfo
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    alarmtemplate_id: null
                    allow_mist: true
                    created_time: 1652905706
                    id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    modified_time: 1652905706
                    msp_id: b9d42c2e-88ee-41f8-b798-f009ce7fe909
                    msp_logo_url: https://.../logo/b9d42c2e-88ee-41f8-b798-f009ce7fe909.jpeg
                    msp_name: MSP
                    name: Org
                    session_expiry: 1440
              schema:
                $ref: ./components/schemas/org_info.yaml
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getOrg
      tags:
      - Orgs
      - Configuration
    parameters:
    - $ref: '#/components/parameters/org_id'
    put:
      description: Update Org
      operationId: updateOrg
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  alarmtemplate_id: 1984805d-2be2-4aec-a8d4-3ddf67fab0df
                  allow_mist: true
                  created_time: 0
                  id: 497f6eca-6276-5021-bfeb-53cbbbba6f2a
                  modified_time: 0
                  msp_id: c0cf23fc-d82f-4219-988c-82fb61d8c875
                  name: string
                  orggroup_ids: []
                  session_expiry: 1440
            schema:
              $ref: ./components/schemas/org.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Org'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: updateOrg
      tags:
      - Orgs
      - Configuration
  /api/v1/orgs/{org_id}/128routers/register_cmd:
    get:
      description: 128T devices can be managed/adopted by Mist.
      operationId: getOrg128TRegistrationCommands
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    conductor_cmd: register mist eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmdfaWQiOiIyODE4ZTM4Ni04ZGVjLTI1NjItOWVkZS01YjhhMGZiYmRjNzEiLCJzdmMiOiIxMjhyb3V0ZXIiLCJwcm92aWRlciI6ImF3cyIsImVudiI6ImxvY2FsIiwiZXB0ZXJtX3VybCI6IndzczovL2xvY2FsL3dzIiwiaWF0IjoxNjEzODQ3NDg0LCJleHAiOjE2NDUzODM0ODR9.YnhgThKYAj1uaooi6j-zY8dMipp5YqJxnn79B9TB5XQ
                    registration_code: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmdfaWQiOiIyODE4ZTM4Ni04ZGVjLTI1NjItOWVkZS01YjhhMGZiYmRjNzEiLCJzdmMiOiIxMjhyb3V0ZXIiLCJwcm92aWRlciI6ImF3cyIsImVudiI6ImxvY2FsIiwiZXB0ZXJtX3VybCI6IndzczovL2xvY2FsL3dzIiwiaWF0IjoxNjEzODQ3NDg0LCJleHAiOjE2NDUzODM0ODR9.YnhgThKYAj1uaooi6j-zY8dMipp5YqJxnn79B9TB5XQ
                    router_shell_cmd: 128agent register --registration-code eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmdfaWQiOiIyODE4ZTM4Ni04ZGVjLTI1NjItOWVkZS01YjhhMGZiYmRjNzEiLCJzdmMiOiIxMjhyb3V0ZXIiLCJwcm92aWRlciI6ImF3cyIsImVudiI6ImxvY2FsIiwiZXB0ZXJtX3VybCI6IndzczovL2xvY2FsL3dzIiwiaWF0IjoxNjEzODQ3NDg0LCJleHAiOjE2NDUzODM0ODR9.YnhgThKYAj1uaooi6j-zY8dMipp5YqJxnn79B9TB5XQ
              schema:
                properties:
                  conductor_cmd:
                    type: string
                  registration_code:
                    type: string
                  router_shell_cmd:
                    type: string
                type: object
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getOrg128TRegistrationCommands
      tags:
      - Orgs 128T
      - Configuration
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/admins:
    get:
      description: Get List of people who can manage the Site/Org under the Org
      operationId: listOrgAdmins
      responses:
        '200':
          $ref: '#/components/responses/AdminsArray'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listOrgAdmins
      tags:
      - Orgs Admins
      - Configuration
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/admins/{admin_id}:
    delete:
      description: This removes all privileges this admin has against the org
      operationId: revokeOrgAdmin
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: revokeOrgAdmin
      tags:
      - Orgs Admins
      - Configuration
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/admin_id'
    put:
      description: Invite Org Admin
      operationId: updateOrgAdmin
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  email: user@example.com
                  expire_time: 0
                  first_name: string
                  invite_id: string
                  last_name: string
                  privileges:
                  - role: admin
                    scope: org
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: ./components/schemas/admin.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Admin'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: updateOrgAdmin
      tags:
      - Orgs Admins
      - Configuration
  /api/v1/orgs/{org_id}/alarms/ack:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Ack multiple Org Alarms
      operationId: multiAckOrgAlarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  alarm_ids:
                  - ccb8c94d-ca56-4075-932f-1f2ab444ff2c
                  - 98ff4a3d-ec9b-4138-a42e-54fc3335179d
                  note: maintenance window
            schema:
              properties:
                alarm_ids:
                  items:
                    format: uuid
                    type: string
                  type: array
                note:
                  description: Some text note describing the intent
                  type: string
              required:
              - alarm_ids
              type: object
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: multiAckOrgAlarms
      tags:
      - Orgs Alarms
      - Configuration
  /api/v1/orgs/{org_id}/alarms/ack_all:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: 'Ack all Org Alarms

        **N.B.**: Batch size for multiple alarm ack and unack has to be less or or
        equal to 1000.'
      operationId: ackOrgAllAlarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  note: string
            schema:
              $ref: ./components/schemas/note.yaml
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: ackOrgAllAlarms
      tags:
      - Orgs Alarms
      - Configuration
  /api/v1/orgs/{org_id}/alarms/unack:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Unack multiple Org Alarms
      operationId: multiUnackOrgAlarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  alarm_ids:
                  - ccb8c94d-ca56-4075-932f-1f2ab444ff2c
                  - 98ff4a3d-ec9b-4138-a42e-54fc3335179d
                  note: maintenance window
            schema:
              properties:
                alarm_ids:
                  items:
                    format: uuid
                    type: string
                  type: array
                note:
                  description: Some text note describing the intent
                  type: string
              required:
              - alarm_ids
              type: object
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: multiUnackOrgAlarms
      tags:
      - Orgs Alarms
      - Configuration
  /api/v1/orgs/{org_id}/alarms/unack_all:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: 'Unack all Org Alarms


        **N.B.**: Batch size for multiple alarm ack and unack has to be less or or
        equal to 1000.'
      operationId: unackOrgAllArlarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  note: maintenance window
            schema:
              $ref: ./components/schemas/note.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: unackOrgAllArlarms
      tags:
      - Orgs Alarms
      - Configuration
  /api/v1/orgs/{org_id}/alarms/{alarm_id}/ack:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/alarm_id'
    post:
      description: Ack Org Alarm
      operationId: ackOrgAlarm
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  note: maintenance window
            schema:
              $ref: ./components/schemas/note.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: ackOrgAlarm
      tags:
      - Orgs Alarms
      - Configuration
  /api/v1/orgs/{org_id}/alarmtemplates:
    get:
      description: Get List of Org Alarm Templates
      operationId: listOrgAlarmTemplates
      responses:
        '200':
          $ref: '#/components/responses/AlarmtemplatesArray'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listOrgAlarmTemplates
      tags:
      - Orgs Alarm Templates
      - Configuration
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: 'Available rules can be found in Orgs>Consts>getAlarmDefs


        The delivery dict is only required if different from the template delivery
        settings.'
      operationId: createOrgAlarmTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./components/schemas/alarmtemplate.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Alarmtemplate'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: createOrgAlarmTemplate
      tags:
      - Orgs Alarm Templates
      - Configuration
  /api/v1/orgs/{org_id}/alarmtemplates/suppress:
    delete:
      description: Un-Suppress Suppressed Alarms
      operationId: unsuppressOrgSuppressedAlarms
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: unsuppressOrgSuppressedAlarms
      tags:
      - Orgs Alarms
      - Configuration
    get:
      description: Get List of Org Alarms Currently Suppressed
      operationId: listOrgSuppressedAlarms
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    results:
                    - duration: 48
                      site_id: 581328b6-e382-f54e-c9dc-9c998d183a34
              schema:
                properties:
                  results:
                    items:
                      properties:
                        duration:
                          description: duration, in seconds. Maximum duration is 86400
                            * 14 (14 days). 0 is to un-suppress alarms.
                          type: integer
                        site_id:
                          type: string
                      type: object
                    type: array
                type: object
                x-examples:
                  Example 1:
                    results:
                    - duration: 48
                      site_id: 581328b6-e382-f54e-c9dc-9c998d183a34
          description: OK
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listOrgSuppressedAlarms
      tags:
      - Orgs Alarms
      - Configuration
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: In certain situations, for example, scheduled maintanance, you
        may want to suspend alarms to be triggered for a period of time.
      operationId: suppressOrgAlarm
      requestBody:
        content:
          application/json:
            schema:
              properties:
                applies:
                  description: Object defines the scope (within the org e.g. whole
                    org, and/or some site-groups, and/or some sites) for which the
                    alarm service has to be suppressed for some `duration`
                  properties:
                    org_id:
                      description: UUID of the current org (if provided, the alarms
                        will be suppressed at org level)
                      format: uuid
                      minLength: 1
                      type: string
                    site_ids:
                      description: List of UUID of the sites within the org (if provided,
                        the alarms will be suppressed for all the mentioned sites
                        under the org)
                      items:
                        format: uuid
                        type: string
                      type: array
                    sitegroup_ids:
                      description: List of UUID of the site groups within the org
                        (if provided, the alarms will be suppressed for all the sites
                        under those site groups)
                      items:
                        format: uuid
                        type: string
                      type: array
                  required:
                  - org_id
                  - site_ids
                  - sitegroup_ids
                  type: object
                duration:
                  default: 3600
                  description: duration, in seconds. 0 is to un-suppress alarms
                  maximum: 86400
                  minimum: 0
                  type: number
                scheduled_time:
                  description: poch_time in seconds, Default as now, accepted time
                    range is from now to now + 7 days
                  type: integer
              required:
              - applies
              type: object
              x-examples:
                example-1:
                  applies:
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    site_ids:
                    - 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    sitegroup_ids:
                    - 581328b6-e382-f54e-c9dc-999983183a34
                    - f57096b9-0c2f-4df6-c77b-ae6ae87a3d43
                  duration: 60
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: suppressOrgAlarm
      tags:
      - Orgs Alarms
      - Configuration
  /api/v1/orgs/{org_id}/alarmtemplates/{alarmtemplate_id}:
    delete:
      description: Delete Org Alarm Template
      operationId: deleteOrgAlarmTemplate
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: deleteOrgAlarmTemplate
      tags:
      - Orgs Alarm Templates
      - Configuration
    get:
      description: Get Org Alarm Template Details
      operationId: getOrgAlarmTemplate
      responses:
        '200':
          $ref: '#/components/responses/Alarmtemplate'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getOrgAlarmTemplate
      tags:
      - Orgs Alarm Templates
      - Configuration
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/alarmtemplate_id'
    put:
      description: Update Org Alarm Template
      operationId: updateOrgAlarmTemplate
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  delivery:
                    additional_emails:
                    - string
                    enabled: true
                    to_org_admins: true
                    to_site_admins: true
                  name: string
                  rules:
                    adhoc_network:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    air_magnet_scan:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    ap_offline:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    bad_cable:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    beacon_flood:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    bssid_spoofing:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    device_down:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    device_restarted:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    dhcp_failure:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    disassociation_flood:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    dot1x_failure:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    eap_dictionary_attack:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    eap_failure_injection:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    eap_handshake_flood:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    eap_spoofed_success:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    eapol_logoff_attack:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    essid_jack:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    excessive_client:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    excessive_eapol_start:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    gateway_down:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    gw_bad_cable:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    gw_negotiation_mismatch:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    honeypot_ssid:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    krack_attack:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    missing_vlan:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    monkey_jack:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    negotiation_mismatch:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    non_compliant:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    out_of_sequence:
                      enabled: true
                    psk_failure:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    repeated_auth_failures:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    rogue_ap:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    rogue_client:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    secpolicy_violation:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    ssid_injection:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    switch_down:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    tkip_icv_attack:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    vendor_ie_missing:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    watched_station:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    zero_ssid_association:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
            schema:
              $ref: ./components/schemas/alarmtemplate.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Alarmtemplate'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: updateOrgAlarmTemplate
      tags:
      - Orgs Alarm Templates
      - Configuration
  /api/v1/orgs/{org_id}/apitokens:
    get:
      description: Get List of Org API Tokens
      operationId: listOrgApiTokens
      responses:
        '200':
          $ref: '#/components/responses/ApitokensArray'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listOrgApiTokens
      tags:
      - Orgs API Tokens
      - Configuration
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: 'Create Org API Token

        Note that the token key is only available during creation time.'
      operationId: createOrgApiToken
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              properties:
                name:
                  minLength: 1
                  type: string
                privileges:
                  description: list of privileges the token has on the orgs/sites
                  items:
                    properties:
                      role:
                        enum:
                        - admin
                        - write
                        - read
                        minLength: 1
                        type: string
                      scope:
                        enum:
                        - site
                        - org
                        - sitegroup
                        minLength: 1
                        type: string
                      site_id:
                        description: if `scope`==`site`
                        format: uuid
                        type: string
                      sitegroup_id:
                        description: if `scope`==`sitegroup`
                        format: uuid
                        type: string
                    required:
                    - scope
                    - role
                    - site_id
                    type: object
                  minItems: 1
                  type: array
                  uniqueItems: true
              required:
              - name
              - privileges
              type: object
              x-examples:
                example-1:
                  name: org_token_xyz
                  privileges:
                  - role: read
                    scope: org
                  - role: admin
                    scope: site
                    site_id: d96e3952-53e8-4266-959a-45acd55f5114
                  - role: write
                    scope: sitegroup
                    sitegroup_id: 581328b6-e382-f54e-c9dc-999983183a34
      responses:
        '200':
          $ref: '#/components/responses/Apitoken'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: createOrgApiToken
      tags:
      - Orgs API Tokens
      - Configuration
  /api/v1/orgs/{org_id}/apitokens/{apitoken_id}:
    delete:
      description: Delete Org API Token
      operationId: deleteOrgApiToken
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: deleteOrgApiToken
      tags:
      - Orgs API Tokens
      - Configuration
    get:
      description: Get Org API Token
      operationId: getOrgApiToken
      responses:
        '200':
          $ref: '#/components/responses/Apitoken'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: getOrgApiToken
      tags:
      - Orgs API Tokens
      - Configuration
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/apitoken_id'
    put:
      description: Update Org API Token
      operationId: updateOrgApiToken
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  key: string
                  name: string
                  org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: ./components/schemas/apitoken.yaml
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Apitoken'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: updateOrgApiToken
      tags:
      - Orgs API Tokens
      - Configuration
  /api/v1/orgs/{org_id}/aptemplates:
    get:
      description: Get List of Org AP Templates
      operationId: listOrgAptemplates
      responses:
        '200':
          $ref: '#/components/responses/AptemplatesArray'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not found. The API endpoint doesn't exist or resource doesn't
            exist
      summary: listOrgAptemplates
      tags:
      - Orgs AP Templates
      - Configuration
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create Org AP Template
      operationId: createOrgAptemplate
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  ap_matching:
                    enabled: true
                    rules:
                    - match_model: string
                      name: string
                      port_config:
                        property1:
                          additional_vlan_ids:
                          - 0
                          disabled: true
                          dynamic_vlan:
                            default_vlan_id: 0
                            enabled: true
                            type: string
                            vlans:
                              property1: string
                              property2: string
                          enable_mac_auth: true
                          forwarding: all
                          mx_tunnel_id: 5f5cac07-0805-46ea-aafd-5c5729042729
                          mxtunnel_name: string
                          port_auth: none
                          port_vlan_id: 0
                          radius_config:
                            acct_interim_interval: 0
                            acct_servers:
                            - host: string
                              keywrap_enabled: true
                              keywrap_format: string
                              keywrap_kek: string
                              keywrap_mack: string
                              port: 1813
                              secret: string
                            auth_servers:
                            - host: string
                              keywrap_enabled: true
                              keywrap_format: string
                              keywrap_kek: string
                              keywrap_mack: string
                              port: 1812
                              secret: string
                            auth_servers_retries: 3
                            auth_servers_timeout: 5
                            coa_enabled: false
                            coa_port: 3799
                            network: string
                            source_ip: string
                          radsec:
                            enabled: true
                            idle_timeout: 0
                            server_name: string
                            servers:
                            - host: string
                              port: 0
                            use_mxedge: true
                          vlan_id: 0
                          vland_ids:
                          - 0
                          wxtunnel_id: string
                          wxtunnel_remote_id: string
                        property2:
                          additional_vlan_ids:
                          - 0
                          disabled: true
                          dynamic_vlan:
                            default_vlan_id: 0
                            enabled: true
                            type: string
                            vlans:
                              property1: string
                              property2: string
                          enable_mac_auth: true
                          forwarding: all
                          mx_tunnel_id: 5f5cac07-0805-46ea-aafd-5c5729042729
                          mxtunnel_name: string
                          port_auth: none
                          port_vlan_id: 0
                          radius_config:
                            acct_interim_interval: 0
                            acct_servers:
                            - host: string
                              keywrap_enabled: true
                              keywrap_format: string
                              keywrap_kek: string
                              keywrap_mack: string
                              port: 1813
                              secret: string
                            auth_servers:
                            - host: string
                              keywrap_enabled: true
                              keywrap_format: string
                              keywrap_kek: string
                              keywrap_mack: string
                              port: 1812
                              secret: string
                            auth_servers_retries: 3
                            auth_servers_timeout: 5
                            coa_enabled: false
                            coa_port: 3799
                            network: string
                            source_ip: string
                          radsec:
                            enabled: true
                            idle_timeout: 0
                            server_name: string
                            servers:
                            - host: string
                              port: 0
                            use_mxedge: true
                          vlan_id: 0
                          vland_ids:
                          - 0
                          wxtunnel_id: string
                          wxtunnel_remote_id: string
                  created_time: 0
                  for_site: true
                  id: 497f6eca-6276-5022-bfeb-53cbbbba6f2b
                  modified_time: 0
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                  wifi:
                    cisco_enabled: true
                    disable_11k: false
                    disable_radios_when_power_constrained: true
                    enable_arp_spoof: true
                    enable_shared_radio_scanning: false
                    enabled: true
                    locate_connected: false
                    locate_unconnected: false
                    mesh_allow_dfs: false
                    mesh_enable_crm: true
                    mesh_enabled: true
                    proxy_arp: false
            schema:
              $ref: ./components/schemas/aptemplate.yaml
      responses:
        '200':
          $ref: '#/components/responses/Aptemplate'
        '400':
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: The API endpoint exists but its syntax/payload is incorrect,
            detail may be given
        '401':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Authentication credentials were not provided.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Unauthorized
        '403':
          content:
            application/json:
              examples:
                Permission Denied:
                  value:
                    detail: You do not have permission to perform this action.
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Permission Denied
        '404':
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    detail: Not found.
              schema:
                properties:
                  detail:
                    type: string
                type: object
[...]
