openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2402.1.1**

    >

    > Date: **March 16, 2024**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2402.1.1
  x-codegen-settings:
    BrandLabel: Juniper Networks
    EnableAdditionalModelProperties: true
    GenerateEnums: false
    ProjectName: MistAPI
    ReturnCompleteHttpResponse: true
    SortResources: true
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
  x-server-configuration:
    default-environment: Mist Global 01
    default-server: API Host
    environments:
    - name: Mist Global 01
      servers:
      - name: API Host
        url: https://api.mist.com
    - name: Mist Global 02
      servers:
      - name: API Host
        url: https://api.gc1.mist.com
    - name: Mist Global 03
      servers:
      - name: API Host
        url: https://api.ac2.mist.com
    - name: Mist Global 04
      servers:
      - name: API Host
        url: https://api.gc2.mist.com
    - name: Mist EMEA 01
      servers:
      - name: API Host
        url: https://api.eu.mist.com
    - name: Mist EMEA 02
      servers:
      - name: API Host
        url: https://api.gc3.mist.com
    - name: Mist APAC 01
      servers:
      - name: API Host
        url: https://api.ac5.mist.com
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist EMEA 01
  url: https://api.eu.mist.com
- description: Mist EMEA 02
  url: https://api.gc3.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Orgs AP Templates
- name: Orgs Clients - Wireless
- name: Orgs Devices
- name: Orgs Guests
- name: Orgs MxClusters
- name: Orgs MxEdges
- name: Orgs MxTunnels
- description: "PSK Self-Service Portals are for \n  1. **WIFI users** who want to\
    \ connect to a WLAN with personal PSK, they\u2019re told to connect to a URL where\
    \ they can login (likely through company\u2019s SSO) and get the WIFI Name / Passphrase\
    \ - required input fields name, email so we can generate PSK \n  2. **PSK Admins**\
    \ (they don\u2019t have access to normal Network Admin Portal)\nWhen a PSK portal\
    \ is created, an unique URL will be generated (e.g. https://psk.mist.com/xxxxxx)"
  name: Orgs Psk Portals
- name: Orgs Psks
- name: Orgs RF Templates
- name: Orgs Stats
- name: Orgs Tunnels Stats
- name: Orgs WLAN Templates
- name: Orgs Wlans
- name: Orgs WxRules
- name: Orgs WxTags
- name: Orgs WxTunnels
- name: Sites AP Templates
- name: Sites Clients - Wireless
- name: Sites Clients Stats
- name: Sites Devices - Wireless
- name: Sites Devices Stats
- name: Sites Events
- name: Sites Guests
- name: Sites Insights
- name: Sites MxEdges
- name: Sites Psks
- name: Sites RF Templates
- name: Sites RRM
- name: Sites Rfdiags
- name: Sites Rogues
- name: Sites Stats
- name: Sites Wlans
- name: Sites WxRules
- name: Sites WxTags
- name: Sites WxTunnels
- name: Utilities MxEdge
- name: Utilities Upgrade
- name: Utilities Wi-Fi
paths:
  /api/v1/orgs/{org_id}/aptemplates:
    get:
      description: Get List of Org AP Templates
      operationId: listOrgAptemplates
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/AptemplatesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgAptemplates
      tags:
      - op:WLAN:CONFIGURE:Orgs:AP Templates
      - Orgs AP Templates
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create Org AP Template
      operationId: createOrgAptemplate
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  ap_matching:
                    enabled: true
                    rules:
                    - match_model: string
                      name: string
                      port_config:
                        property1:
                          additional_vlan_ids:
                          - 55
                          - 66
                          authentication_protocol: pap
                          disabled: true
                          dynamic_vlan:
                            default_vlan_id: 999
                            enabled: true
                            type: string
                            vlans:
                              1-10: null
                              user: null
                          enable_mac_auth: false
                          forwarding: all
                          mx_tunnel_id: 08cd7499-5841-51c8-e663-fb16b6f3b45e
                          mxtunnel_name: string
                          port_auth: none
                          port_vlan_id: 1
                          radius_config:
                            acct_interim_interval: 0
                            acct_servers:
                            - host: 1.2.3.4
                              keywrap_enabled: true
                              keywrap_format: hex
                              keywrap_kek: '1122334455'
                              keywrap_mack: '1122334455'
                              port: 1813
                              secret: testing123
                            auth_servers:
                            - host: 1.2.3.4
                              keywrap_enabled: true
                              keywrap_format: hex
                              keywrap_kek: '1122334455'
                              keywrap_mack: '1122334455'
                              port: 1812
                              secret: testing123
                            auth_servers_retries: 3
                            auth_servers_timeout: 5
                            coa_enabled: false
                            coa_port: 3799
                            network: string
                            source_ip: string
                          radsec:
                            enabled: true
                            idle_timeout: 60
                            mxcluster_ids:
                            - 572586b7-f97b-a22b-526c-8b97a3f609c4
                            proxy_hosts:
                            - mxedge1.local
                            server_name: radsec.abc.com
                            servers:
                            - host: 1.1.1.1
                              port: 1812
                            use_mxedge: true
                            use_site_mxedge: false
                          vlan_id: 9
                          vland_ids:
                          - 1
                          - 10
                          - 50
                          wxtunnel_id: 7dae216d-7c98-a51b-e068-dd7d477b7216
                          wxtunnel_remote_id: wifiguest
                        property2:
                          additional_vlan_ids:
                          - 55
                          - 66
                          authentication_protocol: pap
                          disabled: true
                          dynamic_vlan:
                            default_vlan_id: 999
                            enabled: true
                            type: string
                            vlans:
                              1-10: null
                              user: null
                          enable_mac_auth: false
                          forwarding: all
                          mx_tunnel_id: 08cd7499-5841-51c8-e663-fb16b6f3b45e
                          mxtunnel_name: string
                          port_auth: none
                          port_vlan_id: 1
                          radius_config:
                            acct_interim_interval: 0
                            acct_servers:
                            - host: 1.2.3.4
                              keywrap_enabled: true
                              keywrap_format: hex
                              keywrap_kek: '1122334455'
                              keywrap_mack: '1122334455'
                              port: 1813
                              secret: testing123
                            auth_servers:
                            - host: 1.2.3.4
                              keywrap_enabled: true
                              keywrap_format: hex
                              keywrap_kek: '1122334455'
                              keywrap_mack: '1122334455'
                              port: 1812
                              secret: testing123
                            auth_servers_retries: 3
                            auth_servers_timeout: 5
                            coa_enabled: false
                            coa_port: 3799
                            network: string
                            source_ip: string
                          radsec:
                            enabled: true
                            idle_timeout: 60
                            mxcluster_ids:
                            - 572586b7-f97b-a22b-526c-8b97a3f609c4
                            proxy_hosts:
                            - mxedge1.local
                            server_name: radsec.abc.com
                            servers:
                            - host: 1.1.1.1
                              port: 1812
                            use_mxedge: true
                            use_site_mxedge: false
                          vlan_id: 9
                          vland_ids:
                          - 1
                          - 10
                          - 50
                          wxtunnel_id: 7dae216d-7c98-a51b-e068-dd7d477b7216
                          wxtunnel_remote_id: wifiguest
                  created_time: 0
                  for_site: true
                  id: 497f6eca-6276-4993-bfeb-53d7bbba6f08
                  modified_time: 0
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                  wifi:
                    cisco_enabled: true
                    disable_11k: false
                    disable_radios_when_power_constrained: true
                    enable_arp_spoof: true
                    enable_shared_radio_scanning: false
                    enabled: true
                    locate_connected: false
                    locate_unconnected: false
                    mesh_allow_dfs: false
                    mesh_enable_crm: true
                    mesh_enabled: true
                    proxy_arp: false
            schema:
              $ref: '#/components/schemas/ap_template'
      responses:
        '200':
          $ref: '#/components/responses/Aptemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgAptemplate
      tags:
      - op:WLAN:CONFIGURE:Orgs:AP Templates
      - Orgs AP Templates
  /api/v1/orgs/{org_id}/aptemplates/{aptemplate_id}:
    delete:
      description: Delete existing AP Template
      operationId: deleteOrgAptemplate
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgAptemplate
      tags:
      - op:WLAN:CONFIGURE:Orgs:AP Templates
      - Orgs AP Templates
    get:
      description: Get AP Template
      operationId: getOrgAptemplate
      responses:
        '200':
          $ref: '#/components/responses/Aptemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgAptemplate
      tags:
      - op:WLAN:CONFIGURE:Orgs:AP Templates
      - Orgs AP Templates
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/aptemplate_id'
    put:
      description: Update AP Template
      operationId: updateOrgAptemplate
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  ap_matching:
                    enabled: true
                    rules:
                    - match_model: string
                      name: string
                      port_config:
                        property1:
                          additional_vlan_ids:
                          - 55
                          - 66
                          authentication_protocol: pap
                          disabled: true
                          dynamic_vlan:
                            default_vlan_id: 999
                            enabled: true
                            type: string
                            vlans:
                              1-10: null
                              user: null
                          enable_mac_auth: false
                          forwarding: all
                          mx_tunnel_id: 08cd7499-5841-51c8-e663-fb16b6f3b45e
                          mxtunnel_name: string
                          port_auth: none
                          port_vlan_id: 1
                          radius_config:
                            acct_interim_interval: 0
                            acct_servers:
                            - host: 1.2.3.4
                              keywrap_enabled: true
                              keywrap_format: hex
                              keywrap_kek: '1122334455'
                              keywrap_mack: '1122334455'
                              port: 1813
                              secret: testing123
                            auth_servers:
                            - host: 1.2.3.4
                              keywrap_enabled: true
                              keywrap_format: hex
                              keywrap_kek: '1122334455'
                              keywrap_mack: '1122334455'
                              port: 1812
                              secret: testing123
                            auth_servers_retries: 3
                            auth_servers_timeout: 5
                            coa_enabled: false
                            coa_port: 3799
                            network: string
                            source_ip: string
                          radsec:
                            enabled: true
                            idle_timeout: 60
                            mxcluster_ids:
                            - 572586b7-f97b-a22b-526c-8b97a3f609c4
                            proxy_hosts:
                            - mxedge1.local
                            server_name: radsec.abc.com
                            servers:
                            - host: 1.1.1.1
                              port: 1812
                            use_mxedge: true
                            use_site_mxedge: false
                          vlan_id: 9
                          vland_ids:
                          - 1
                          - 10
                          - 50
                          wxtunnel_id: 7dae216d-7c98-a51b-e068-dd7d477b7216
                          wxtunnel_remote_id: wifiguest
                        property2:
                          additional_vlan_ids:
                          - 55
                          - 66
                          authentication_protocol: pap
                          disabled: true
                          dynamic_vlan:
                            default_vlan_id: 999
                            enabled: true
                            type: string
                            vlans:
                              1-10: null
                              user: null
                          enable_mac_auth: false
                          forwarding: all
                          mx_tunnel_id: 08cd7499-5841-51c8-e663-fb16b6f3b45e
                          mxtunnel_name: string
                          port_auth: none
                          port_vlan_id: 1
                          radius_config:
                            acct_interim_interval: 0
                            acct_servers:
                            - host: 1.2.3.4
                              keywrap_enabled: true
                              keywrap_format: hex
                              keywrap_kek: '1122334455'
                              keywrap_mack: '1122334455'
                              port: 1813
                              secret: testing123
                            auth_servers:
                            - host: 1.2.3.4
                              keywrap_enabled: true
                              keywrap_format: hex
                              keywrap_kek: '1122334455'
                              keywrap_mack: '1122334455'
                              port: 1812
                              secret: testing123
                            auth_servers_retries: 3
                            auth_servers_timeout: 5
                            coa_enabled: false
                            coa_port: 3799
                            network: string
                            source_ip: string
                          radsec:
                            enabled: true
                            idle_timeout: 60
                            mxcluster_ids:
                            - 572586b7-f97b-a22b-526c-8b97a3f609c4
                            proxy_hosts:
                            - mxedge1.local
                            server_name: radsec.abc.com
                            servers:
                            - host: 1.1.1.1
                              port: 1812
                            use_mxedge: true
                            use_site_mxedge: false
                          vlan_id: 9
                          vland_ids:
                          - 1
                          - 10
                          - 50
                          wxtunnel_id: 7dae216d-7c98-a51b-e068-dd7d477b7216
                          wxtunnel_remote_id: wifiguest
                  created_time: 0
                  for_site: true
                  id: 497f6eca-6276-4993-bfeb-53d8bbba6f08
                  modified_time: 0
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                  wifi:
                    cisco_enabled: true
                    disable_11k: false
                    disable_radios_when_power_constrained: true
                    enable_arp_spoof: true
                    enable_shared_radio_scanning: false
                    enabled: true
                    locate_connected: false
                    locate_unconnected: false
                    mesh_allow_dfs: false
                    mesh_enable_crm: true
                    mesh_enabled: true
                    proxy_arp: false
            schema:
              $ref: '#/components/schemas/ap_template'
      responses:
        '200':
          $ref: '#/components/responses/Aptemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgAptemplate
      tags:
      - op:WLAN:CONFIGURE:Orgs:AP Templates
      - Orgs AP Templates
  /api/v1/orgs/{org_id}/clients/count:
    get:
      description: Count Org Wireless Clients
      operationId: countOrgWirelessClients
      parameters:
      - in: query
        name: distinct
        schema:
          default: device
          enum:
          - mac
          - hostname
          - device
          - os
          - model
          - ap
          - vlan
          - ssid
          - ip
          title: Org clients count distinct
          type: string
      - description: partial / full MAC address
        in: query
        name: mac
        schema:
          type: string
      - description: partial / full hostname
        in: query
        name: hostname
        schema:
          type: string
      - description: device type, e.g. Mac, Nvidia, iPhone
        in: query
        name: device
        schema:
          type: string
      - description: os, e.g. Sierra, Yosemite, Windows 10
        in: query
        name: os
        schema:
          type: string
      - description: "model, e.g. \u201CMBP 15 late 2013\u201D, 6, 6s, \u201C8+ GSM\u201D"
        in: query
        name: model
        schema:
          type: string
      - description: AP mac where the client has connected to
        in: query
        name: ap
        schema:
          type: string
      - description: vlan
        in: query
        name: vlan
        schema:
          type: string
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - $ref: '#/components/parameters/ip'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countOrgWirelessClients
      tags:
      - op:WLAN:MONITOR:Orgs:Clients - Wireless
      - Orgs Clients - Wireless
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/clients/events/search:
    get:
      description: Get Org Clients Events
      operationId: searchOrgWirelessClientEvents
      parameters:
      - $ref: '#/components/parameters/client_event_type'
      - description: for assoc/disassoc events
        in: query
        name: reason_code
        schema:
          type: integer
      - description: SSID Name
        in: query
        name: ssid
        schema:
          type: string
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - $ref: '#/components/parameters/dot11_proto'
      - $ref: '#/components/parameters/dot11_band'
      - description: wlan_id
        in: query
        name: wlan_id
        schema:
          type: string
      - description: nacrule_id
        in: query
        name: nacrule_id
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/EventsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgWirelessClientEvents
      tags:
      - op:WLAN:MONITOR:Orgs:Clients - Wireless
      - Orgs Clients - Wireless
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/clients/search:
    get:
      description: Search Org Wireless Clients
      operationId: searchOrgWirelessClients
      parameters:
      - description: Site ID
        in: query
        name: site_id
        schema:
          type: string
      - description: partial / full MAC address
        in: query
        name: mac
        schema:
          type: string
      - $ref: '#/components/parameters/ip'
      - description: partial / full hostname
        in: query
        name: hostname
        schema:
          type: string
      - description: device type, e.g. Mac, Nvidia, iPhone
        in: query
        name: device
        schema:
          type: string
      - description: os, e.g. Sierra, Yosemite, Windows 10
        in: query
        name: os
        schema:
          type: string
      - description: "model, e.g. \u201CMBP 15 late 2013\u201D, 6, 6s, \u201C8+ GSM\u201D"
        in: query
        name: model
        schema:
          type: string
      - description: AP mac where the client has connected to
        in: query
        name: ap
        schema:
          type: string
      - $ref: '#/components/parameters/psk_id_query'
      - description: PSK Name
        in: query
        name: psk_name
        schema:
          type: string
      - description: vlan
        in: query
        name: vlan
        schema:
          type: string
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - description: partial / full MAC address, hostname, username, psk_name or ip
        in: query
        name: text
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/ClientsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgWirelessClients
      tags:
      - op:WLAN:MONITOR:Orgs:Clients - Wireless
      - Orgs Clients - Wireless
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/clients/sessions/count:
    get:
      description: Count Org Wireless Clients Sessions
      operationId: countOrgWirelessClientsSessions
      parameters:
      - in: query
        name: distinct
        schema:
          default: device
          enum:
          - ssid
          - ap
          - ip
          - vlan
          - hostname
          - os
          - model
          - device
          title: Org Client Sessions count distinct
          type: string
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - $ref: '#/components/parameters/dot11_band'
      - description: "E.g. \u201CMac\u201D, \u201CiPhone\u201D, \u201CApple watch\u201D"
        in: query
        name: client_family
        schema:
          type: string
      - description: "E.g. \u201CApple\u201D"
        in: query
        name: client_manufacture
        schema:
          type: string
      - description: "E.g. \u201C8+\u201D, \u201CXS\u201D"
        in: query
        name: client_model
        schema:
          type: string
      - description: "E.g. \u201CMojave\u201D, \u201CWindows 10\u201D, \u201CLinux\u201D"
        in: query
        name: client_os
        schema:
          type: string
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - description: wlan_id
        in: query
        name: wlan_id
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countOrgWirelessClientsSessions
      tags:
      - op:WLAN:MONITOR:Orgs:Clients - Wireless
      - Orgs Clients - Wireless
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/clients/sessions/search:
    get:
      description: Search Org Wireless Clients Sessions
      operationId: searchOrgWirelessClientSessions
      parameters:
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - $ref: '#/components/parameters/dot11_band'
      - description: "E.g. \u201CMac\u201D, \u201CiPhone\u201D, \u201CApple watch\u201D"
        in: query
        name: client_family
        schema:
          type: string
      - description: "E.g. \u201CApple\u201D"
        in: query
        name: client_manufacture
        schema:
          type: string
      - description: "E.g. \u201C8+\u201D, \u201CXS\u201D"
        in: query
        name: client_model
        schema:
          type: string
      - description: Username
        in: query
        name: client_username
        schema:
          type: string
      - description: "E.g. \u201CMojave\u201D, \u201CWindows 10\u201D, \u201CLinux\u201D"
        in: query
        name: client_os
        schema:
          type: string
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - description: wlan_id
        in: query
        name: wlan_id
        schema:
          type: string
      - $ref: '#/components/parameters/psk_id_query'
      - description: PSK Name
        in: query
        name: psk_name
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/WirelessClientSessionsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgWirelessClientSessions
      tags:
      - op:WLAN:MONITOR:Orgs:Clients - Wireless
      - Orgs Clients - Wireless
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/clients/{client_mac}/coa:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/client_mac'
    post:
      description: Trigger a CoA (change of authorization) against a client
      operationId: reauthOrgDot1xWirelessClient
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: reauthOrgDot1xWirelessClient
      tags:
      - op:WLAN:CONFIGURE:Wi-Fi
      - Utilities Wi-Fi
  /api/v1/orgs/{org_id}/devices/radio_macs:
    get:
      description: 'For some scenarios like E911 or security systems, the BSSIDs are
        required to identify which AP the client is connecting to. Then the location
        of the AP can be used as the approximate location of the client.


        Each radio MAC can have 16 BSSIDs (enumerate the last octet from 0-F)'
      operationId: listOrgApsMacs
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/RadioMacs'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgApsMacs
      tags:
      - op:WLAN:MONITOR:Orgs:Devices
      - Orgs Devices
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/guests:
    get:
      description: Get List of Org Guest Authorizations
      operationId: listOrgGuestAuthorizations
      responses:
        '200':
          $ref: '#/components/responses/GuestsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgGuestAuthorizations
      tags:
      - op:WLAN:CONFIGURE:Orgs:Guests
      - Orgs Guests
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/guests/count:
    get:
      description: Count Org Authorized Guest
      operationId: countOrgGuestAuthorizations
      parameters:
      - in: query
        name: distinct
        schema:
          default: auth_method
          enum:
          - auth_method
          - ssid
          - company
          title: Org Guests count distinct
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countOrgGuestAuthorizations
      tags:
      - op:WLAN:MONITOR:Orgs:Guests
      - Orgs Guests
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/guests/search:
    get:
      description: Search Authorized Guest
      operationId: searchOrgGuestAuthorization
      parameters:
      - example: 00000000-0000-0000-0000-000000000000
        in: query
        name: wlan_id
        schema:
          type: string
      - in: query
        name: auth_method
        schema:
          type: string
      - in: query
        name: ssid
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/GuestsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgGuestAuthorization
      tags:
      - op:WLAN:MONITOR:Orgs:Guests
      - Orgs Guests
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/guests/{guest_mac}:
    delete:
      description: Delete Guest Authorization
      operationId: deleteOrgGuestAuthorization
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgGuestAuthorization
      tags:
      - op:WLAN:CONFIGURE:Orgs:Guests
      - Orgs Guests
    get:
      description: Get Guest Authorization
      operationId: getOrgGuestAuthorization
      responses:
        '200':
          $ref: '#/components/responses/Guest'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgGuestAuthorization
      tags:
      - op:WLAN:CONFIGURE:Orgs:Guests
      - Orgs Guests
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/guest_mac'
    put:
      description: Update Guest Authorization
      operationId: updateOrgGuestAuthorization
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  authorized: true
                  authorized_expiring_time: 0
                  authorized_time: 0
                  company: string
                  email: user@example.com
                  field1: string
                  field2: string
                  field3: string
                  field4: string
                  mac: string
                  minutes: 0
                  name: string
            schema:
              $ref: '#/components/schemas/guest'
      responses:
        '200':
          $ref: '#/components/responses/Guest'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgGuestAuthorization
      tags:
      - op:WLAN:CONFIGURE:Orgs:Guests
      - Orgs Guests
  /api/v1/orgs/{org_id}/mxclusters:
    get:
      description: Get List of Org MxEdge Clusters
      operationId: listOrgMxEdgeClusters
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/MxclustersArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgMxEdgeClusters
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxClusters
      - Orgs MxClusters
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create MxCluster
      operationId: createOrgMxEdgeCluster
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  name: string
                  radsec:
                    enabled: true
                    server_name: string
                    servers:
                    - host: string
                      port: 0
                  tunterm_ap_subnets:
                  - string
                  tunterm_hosts:
                  - string
            schema:
              $ref: '#/components/schemas/mxcluster'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Mxcluster'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgMxEdgeCluster
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxClusters
      - Orgs MxClusters
  /api/v1/orgs/{org_id}/mxclusters/{mxcluster_id}:
    delete:
      description: Delete Org MXEdge Cluster
      operationId: deleteOrgMxEdgeCluster
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgMxEdgeCluster
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxClusters
      - Orgs MxClusters
    get:
      description: Get Org MxEdge Cluster Details
      operationId: getOrgMxEdgeCluster
      responses:
        '200':
          $ref: '#/components/responses/Mxcluster'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgMxEdgeCluster
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxClusters
      - Orgs MxClusters
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/mxcluster_id'
    put:
      description: Update Org MxEdge Cluster
      operationId: updateOrgMxEdgeCluster
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  name: string
                  radsec:
                    enabled: true
                    server_name: string
                    servers:
                    - host: string
                      port: 0
                  tunterm_ap_subnets:
                  - string
                  tunterm_hosts:
                  - string
            schema:
              $ref: '#/components/schemas/mxcluster'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Mxcluster'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgMxEdgeCluster
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxClusters
      - Orgs MxClusters
  /api/v1/orgs/{org_id}/mxedges:
    get:
      description: Get List of Org MxEdges
      operationId: listOrgMxEdges
      parameters:
      - description: filter for site level mist edges
        in: query
        name: for_sites
        schema:
          default: any
          enum:
          - any
          - 'true'
          - 'false'
          title: mxedge_for_site
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/MxedgesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgMxEdges
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxEdges
      - Orgs MxEdges
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create MxEdge
      operationId: createOrgMxEdge
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  model: ME-100
                  mxcluster_id: 572586b7-f97b-a22b-526c-8b97a3f609c4
                  mxedge_mgmt: {}
                  name: Guest
                  ntp_servers: []
                  oob_ip_config: {}
                  services:
                  - tunterm
                  tunterm_ip_config:
                    gateway: 10.2.1.254
                    ip: 10.2.1.1
                    netmask: 255.255.255.0
                  tunterm_port_config:
                    downstream_ports:
                    - '0'
                    - '1'
                    - '2'
                    - '3'
                    separate_upstream_downstream: true
                    upstream_port_vlan_id: 1
                    upstream_ports:
                    - '0'
                    - '1'
                    - '2'
                    - '3'
                  tunterm_switch_config:
                    '0':
                      port_vlan_id: 1
                      vlan_ids:
                      - 5
                      - 2
                      - 3
                    enabled: true
                  versions:
                    mxagent: 2.4.194
                    tunterm: 0.1.928-1
            schema:
              $ref: '#/components/schemas/mxedge'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Mxedge'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgMxEdge
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxEdges
      - Orgs MxEdges
  /api/v1/orgs/{org_id}/mxedges/assign:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Assign Org MxEdge to Site
      operationId: assignOrgMxEdgeToSite
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  mxedge_ids:
                  - 387804a7-3474-85ce-15a2-f9a9684c9c90
                  site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
            schema:
              $ref: '#/components/schemas/mxedges_assign'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/assignSuccess'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: assignOrgMxEdgeToSite
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxEdges
      - Orgs MxEdges
  /api/v1/orgs/{org_id}/mxedges/claim:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: "For a Mist Edge in default state, it will show a random claim\
        \ code like `135-546-673` which you can \u201Cclaim\u201D it into your Org"
      operationId: claimOrgMxEdge
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  code: 135-546-673
            schema:
              $ref: '#/components/schemas/code'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/claimMxedge'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: claimOrgMxEdge
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxEdges
      - Orgs MxEdges
  /api/v1/orgs/{org_id}/mxedges/count:
    get:
      description: Count Org Mist Edges
      operationId: countOrgMxEdges
      parameters:
      - in: query
        name: distinct
        schema:
          default: model
          enum:
          - model
          - mxcluster_id
          - distro
          - tunterm_version
          - site_id
          title: Org MxEdge count distinct
          type: string
      - description: mist edge id
        in: query
        name: mxedge_id
        schema:
          type: string
      - description: mist edge site id
        in: query
        name: site_id
        schema:
          type: string
      - description: mist edge cluster id
        in: query
        name: mxcluster_id
        schema:
          type: string
      - description: model name
        in: query
        name: model
        schema:
          type: string
      - description: debian code name(buster, bullseye)
        in: query
        name: distro
        schema:
          type: string
      - description: tunterm version
        in: query
        name: tunterm_version
        schema:
          type: string
      - description: sort options, -prefix represents DESC order, default is -last_seen
        in: query
        name: sort
        schema:
          type: string
      - description: whether to return device stats, default is false
        in: query
        name: stats
        schema:
          type: boolean
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countOrgMxEdges
      tags:
      - op:WLAN:MONITOR:Orgs:MxEdges
      - Orgs MxEdges
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/mxedges/events/count:
    get:
      description: Count Org Mist Edge Events
      operationId: countOrgSiteMxEdgeEvents
      parameters:
      - in: query
        name: distinct
        schema:
          default: mxedge_id
          enum:
          - mxedge_id
          - type
          - mxcluster_id
          - package
          title: Org Mx Edge events count distinct
          type: string
      - description: mist edge id
        in: query
        name: mxedge_id
        schema:
          type: string
      - description: mist edge cluster id
        in: query
        name: mxcluster_id
        schema:
          type: string
      - $ref: '#/components/parameters/mxedge_event_type'
      - description: service running on mist edge(mxagent, tunterm etc)
        in: query
        name: service
        schema:
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countOrgSiteMxEdgeEvents
      tags:
      - op:WLAN:MONITOR:Orgs:MxEdges
      - Orgs MxEdges
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/mxedges/events/search:
    get:
      description: Search Org Mist Edge Events
      operationId: searchOrgMistEdgeEvents
      parameters:
      - description: mist edge id
        in: query
        name: mxedge_id
        schema:
          type: string
      - description: mist edge cluster id
        in: query
        name: mxcluster_id
        schema:
          type: string
      - $ref: '#/components/parameters/mxedge_event_type'
      - description: service running on mist edge(mxagent, tunterm etc)
        in: query
        name: service
        schema:
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/MxEdgeEventsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgMistEdgeEvents
      tags:
      - op:WLAN:MONITOR:Orgs:MxEdges
      - Orgs MxEdges
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/mxedges/search:
    get:
      description: Search Org Mist Edges
      operationId: searchOrgMxEdges
      parameters:
      - description: mist edge id
        in: query
        name: mxedge_id
        schema:
          type: string
      - description: mist edge site id
        in: query
        name: site_id
        schema:
          type: string
      - description: mist edge cluster id
        in: query
        name: mxcluster_id
        schema:
          type: string
      - description: model name
        in: query
        name: model
        schema:
          type: string
      - description: debian code name(buster, bullseye)
        in: query
        name: distro
        schema:
          type: string
      - description: tunterm version
        in: query
        name: tunterm_version
        schema:
          type: string
      - description: sort options, -prefix represents DESC order, default is -last_seen
        in: query
        name: sort
        schema:
          type: string
      - description: whether to return device stats, default is false
        in: query
        name: stats
        schema:
          type: boolean
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/MxEdgeSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgMxEdges
      tags:
      - op:WLAN:MONITOR:Orgs:MxEdges
      - Orgs MxEdges
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/mxedges/unassign:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Unassign Org MxEdge from Site
      operationId: unassignOrgMxEdgeFromSite
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  mxedge_ids:
                  - 387804a7-3474-85ce-15a2-f9a9684c9c90
            schema:
              $ref: '#/components/schemas/mxedges_unassign'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/assignSuccess'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: unassignOrgMxEdgeFromSite
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxEdges
      - Orgs MxEdges
  /api/v1/orgs/{org_id}/mxedges/upgrade:
    get:
      description: Get List of Org Mist Edge Upgrades
      operationId: listOrgMxEdgeUpgrades
      responses:
        '200':
          $ref: '#/components/responses/MxEdgeUpgradesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgMxEdgeUpgrades
      tags:
      - op:WLAN:CONFIGURE:Upgrade
      - Utilities Upgrade
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Upgrade Mist Edges
      operationId: upgradeOrgMxEdges
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  channel: stable
                  mxedge_ids:
                  - 387804a7-3474-85ce-15a2-f9a9684c9c90
                  versions:
                    mxagent: current
                    tunterm: default
            schema:
              $ref: '#/components/schemas/mxedge_upgrade_multi'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: upgradeOrgMxEdges
      tags:
      - op:WLAN:CONFIGURE:Upgrade
      - Utilities Upgrade
  /api/v1/orgs/{org_id}/mxedges/upgrade/{upgrade_id}:
    get:
      description: Get Mist Edge Upgrade
      operationId: getOrgMxEdgeUpgrade
      responses:
        '200':
          $ref: '#/components/responses/MxEdgeUpgrade'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgMxEdgeUpgrade
      tags:
      - op:WLAN:CONFIGURE:Upgrade
      - Utilities Upgrade
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/upgrade_id'
  /api/v1/orgs/{org_id}/mxedges/version:
    get:
      description: Get Mist Edge Upgrade Information
      operationId: getOrgMxEdgeUpgradeInfo
      parameters:
      - description: upgrade channel to follow, stable (default) / beta / alpha
        in: query
        name: channel
        schema:
          default: stable
          enum:
          - stable
          - beta
          - alpha
          type: string
      responses:
        '200':
          $ref: '#/components/responses/MxedgeUpgradeInfo'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgMxEdgeUpgradeInfo
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxEdges
      - Orgs MxEdges
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/mxedges/{mxedge_id}:
    delete:
      description: Delete Org MxEdge
      operationId: deleteOrgMxEdge
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgMxEdge
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxEdges
      - Orgs MxEdges
    get:
      description: Get Org MxEdge details
      operationId: getOrgMxEdge
      responses:
        '200':
          $ref: '#/components/responses/Mxedge'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgMxEdge
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxEdges
      - Orgs MxEdges
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/mxedge_id'
    put:
      description: Update Org MxEdge
      operationId: updateOrgMxEdge
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  magic: string
                  model: string
                  mxcluster_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  name: string
                  ntp_servers:
                  - string
                  services:
                  - tunterm
                  tunterm_ip_config:
                    dns:
                    - string
                    dns_suffix:
                    - string
                    gateway: string
                    ip: string
                    netmask: string
                  tunterm_port_config:
                    downstream_ports:
                    - string
                    separate_upstream_downstream: true
                    upstream_port_vlan_id: 1
                    upstream_ports:
                    - string
            schema:
              $ref: '#/components/schemas/mxedge'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Mxedge'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgMxEdge
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxEdges
      - Orgs MxEdges
  /api/v1/orgs/{org_id}/mxedges/{mxedge_id}/image/{image_number}:
    delete:
      description: Remove MxEdge Image
      operationId: deleteOrgMxEdgeImage
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgMxEdgeImage
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxEdges
      - Orgs MxEdges
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/mxedge_id'
    - in: path
      name: image_number
      required: true
      schema:
        maximum: 3
        minimum: 1
        type: integer
    post:
      description: Attach up to 3 images to a mxedge
      operationId: addOrgMxEdgeImage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/image_upload'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: addOrgMxEdgeImage
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxEdges
      - Orgs MxEdges
  /api/v1/orgs/{org_id}/mxedges/{mxedge_id}/restart:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/mxedge_id'
    post:
      description: In the case where a Mist Edge is replaced, you would need to unregister
        it. Which disconnects the currently the connected Mist Edge and allow another
        to register.
      operationId: restartOrgMxEdge
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: restartOrgMxEdge
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxEdges
      - Orgs MxEdges
  /api/v1/orgs/{org_id}/mxedges/{mxedge_id}/services/tunterm/bounce_port:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/mxedge_id'
    post:
      description: Bounce TunTerm Data Ports
      operationId: bounceOrgMxEdgeDataPorts
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  ports:
                  - '0'
                  - '2'
              example-2:
                value:
                  hold_time: 0
                  ports:
                  - string
            schema:
              $ref: '#/components/schemas/utils_tunterm_bounce_port'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: bounceOrgMxEdgeDataPorts
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxEdges
      - Orgs MxEdges
  /api/v1/orgs/{org_id}/mxedges/{mxedge_id}/services/{name}/{action}:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/mxedge_id'
    - in: path
      name: name
      required: true
      schema:
        enum:
        - tunterm
        - radsecproxy
        - mxagent
        - mxocproxy
        - mxdas
        title: mxedge_service_name
        type: string
    - description: restart or start or stop
      in: path
      name: action
      required: true
      schema:
        enum:
        - restart
        - start
        - stop
        title: mxedge_service_action
        type: string
    post:
      description: Control Services on a Mist Edge
      operationId: controlOrgMxEdgeServices
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: controlOrgMxEdgeServices
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxEdges
      - Orgs MxEdges
  /api/v1/orgs/{org_id}/mxedges/{mxedge_id}/support:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/mxedge_id'
    post:
      description: Support / Upload Mist Edge support files
      operationId: uploadOrgMxEdgeSupportFiles
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: uploadOrgMxEdgeSupportFiles
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxEdges
      - Orgs MxEdges
  /api/v1/orgs/{org_id}/mxedges/{mxedge_id}/unregister:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/mxedge_id'
    post:
      description: In the case where a Mist Edge is replaced, you would need to unregister
        it. Which disconnects the currently the connected Mist Edge and allow another
        to register.
      operationId: unregisterOrgMxEdge
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: unregisterOrgMxEdge
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxEdges
      - Orgs MxEdges
  /api/v1/orgs/{org_id}/mxtunnels:
    get:
      description: Get List of Org MxTunnels
      operationId: listOrgMxTunnels
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/MxtunnelsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgMxTunnels
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxTunnels
      - Orgs MxTunnels
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create MxTunnel
      operationId: createOrgMxTunnel
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  cluster_ids:
                  - string
                  created_time: 0
                  for_site: true
                  hello_interval: 60
                  hello_retries: 7
                  id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  ipsec:
                    dns_servers:
                    - string
                    enabled: true
                    extra_routes:
                    - dest: string
                      next_hop: 192.168.0.1
                    split_tunnel: true
                    use_mxedge: true
                  modified_time: 0
                  org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  vlan_ids:
                  - 0
            schema:
              $ref: '#/components/schemas/mxtunnel'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Mxtunnel'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgMxTunnel
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxTunnels
      - Orgs MxTunnels
  /api/v1/orgs/{org_id}/mxtunnels/{mxtunnel_id}:
    delete:
      description: Delete Org MxTunnel
      operationId: deleteOrgMxTunnel
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgMxTunnel
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxTunnels
      - Orgs MxTunnels
    get:
      description: Get Org MxTunnel Details
      operationId: getOrgMxTunnel
      responses:
        '200':
          $ref: '#/components/responses/Mxtunnel'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgMxTunnel
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxTunnels
      - Orgs MxTunnels
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/mxtunnel_id'
    put:
      description: Update Org MxTunnel
      operationId: updateOrgMxTunnel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mxtunnel'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Mxtunnel'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgMxTunnel
      tags:
      - op:WLAN:CONFIGURE:Orgs:MxTunnels
      - Orgs MxTunnels
  /api/v1/orgs/{org_id}/pskportals:
    get:
      description: Get List of Org Psk Portals
      operationId: listOrgPskPortals
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/PskPortalsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgPskPortals
      tags:
      - op:WLAN:CONFIGURE:Orgs:Psk Portals
      - Orgs Psk Portals
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create Org Psk Portal
      operationId: createOrgPskPortal
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  auth: sso
                  created_time: 0
                  expire: 0
                  id: string
                  max_usage: 0
                  modified_time: 0
                  name: string
                  org_id: 31f27122-68a9-47a4-b526-8fb8a62a8acb
                  required_fields:
                  - string
                  role: string
                  ssid: string
                  sso:
                    default_role: string
                    forced_role: string
                    idp_cert: string
                    idp_sign_algo: string
                    idp_sso_url: string
                    issuer: string
                    nameid_format: string
                  sso_required_role: string
                  template_url: string
                  type: byod
                  vlan_id: 0
            schema:
              $ref: '#/components/schemas/psk_portal'
      responses:
        '200':
          $ref: '#/components/responses/PskPortal'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgPskPortal
      tags:
      - op:WLAN:CONFIGURE:Orgs:Psk Portals
      - Orgs Psk Portals
  /api/v1/orgs/{org_id}/pskportals/logs:
    get:
      description: Get the list of PSK Portals Logs
      operationId: listOrgPskPortalLogs
      parameters:
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/PskPortalLogsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgPskPortalLogs
      tags:
      - op:WLAN:MONITOR:Orgs:Psk Portals
      - Orgs Psk Portals
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/pskportals/logs/count:
    get:
      description: Count by Distinct Attributes of PskPortal Logs
      operationId: countOrgPskPortalLogs
      parameters:
      - in: query
        name: distinct
        schema:
          default: pskportal_id
          enum:
          - admin_id
          - admin_name
          - psk_name
          - psk_id
          - pskportal_id
          - user_id
          title: Org Psk Portal logs count distinct
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countOrgPskPortalLogs
      tags:
      - op:WLAN:MONITOR:Orgs:Psk Portals
      - Orgs Psk Portals
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/pskportals/logs/search:
    get:
      description: Search Org PSK Portal Logs
      operationId: searchOrgPskPortalLogs
      parameters:
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - in: query
        name: psk_name
        schema:
          type: string
      - in: query
        name: psk_id
        schema:
          format: uuid
          type: string
      - in: query
        name: pskportal_id
        schema:
          format: uuid
          type: string
      - description: audit_id
        in: query
        name: id
        schema:
          format: uuid
          type: string
      - in: query
        name: admin_name
        schema:
          type: string
      - in: query
        name: admin_id
        schema:
          format: uuid
          type: string
      - description: name_id used in SSO
        in: query
        name: name_id
        schema:
          format: uuid
          type: string
      responses:
        '200':
          $ref: '#/components/responses/PskPortalLogsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgPskPortalLogs
      tags:
      - op:WLAN:MONITOR:Orgs:Psk Portals
      - Orgs Psk Portals
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/pskportals/{pskportal_id}:
    delete:
      description: Delete Org Psk Portal
      operationId: deleteOrgPskPortal
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgPskPortal
      tags:
      - op:WLAN:CONFIGURE:Orgs:Psk Portals
      - Orgs Psk Portals
    get:
      description: get Org Psk Portal Details
      operationId: getOrgPskPortal
      responses:
        '200':
          $ref: '#/components/responses/PskPortal'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgPskPortal
      tags:
      - op:WLAN:CONFIGURE:Orgs:Psk Portals
      - Orgs Psk Portals
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/pskportal_id'
    put:
      description: update Org Psk Portal
      operationId: updateOrgPskPortal
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  auth: sso
                  created_time: 0
                  expire: 0
                  id: string
                  max_usage: 0
                  modified_time: 0
                  name: string
                  org_id: 31f27122-68a9-47a4-b526-8fb8a62a8acb
                  required_fields:
                  - string
                  role: string
                  ssid: string
                  sso:
                    default_role: string
                    forced_role: string
                    idp_cert: string
                    idp_sign_algo: string
                    idp_sso_url: string
                    issuer: string
                    nameid_format: string
                  sso_required_role: string
                  template_url: string
                  type: byod
                  vlan_id: 0
            schema:
              $ref: '#/components/schemas/psk_portal'
      responses:
        '200':
          $ref: '#/components/responses/PskPortal'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgPskPortal
      tags:
      - op:WLAN:CONFIGURE:Orgs:Psk Portals
      - Orgs Psk Portals
  /api/v1/orgs/{org_id}/psks:
    get:
      description: Get List of Org Psks
      operationId: listOrgPsks
      parameters:
      - example: psk_name
        in: query
        name: name
        schema:
          type: string
      - in: query
        name: ssid
        schema:
          type: string
      - in: query
        name: role
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/PsksArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgPsks
      tags:
      - op:WLAN:CONFIGURE:Orgs:Psks
      - Orgs Psks
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create Org PSK
      operationId: createOrgPsk
      parameters:
      - description: if a key exists with the same `name`, replace it with the new
          one
        in: query
        name: upsert
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/psk'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Psk'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgPsk
      tags:
      - op:WLAN:CONFIGURE:Orgs:Psks
      - Orgs Psks
    put:
      description: Update multi PSKs
      operationId: updateOrgMultiPsks
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                - created_time: 0
                  expire_time: 1614990263
                  id: 426f6eca-6286-4993-bfeb-53cbbbba6f07
                  mac: string
                  max_usage: 0
                  modified_time: 0
                  name: string
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  passphrase: stringst
                  site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                  ssid: string
                  usage: multi
                  vlan_id: 0
            schema:
              items:
                $ref: '#/components/schemas/psk'
              type: array
      responses:
        '200':
          $ref: '#/components/responses/PsksArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgMultiPsks
      tags:
      - op:WLAN:CONFIGURE:Orgs:Psks
      - Orgs Psks
  /api/v1/orgs/{org_id}/psks/import:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: "Import PSK from CSV file or JSON\n\n##\_CSV File Format\n```\n\
        PSK Import CSV File Format:\nname,ssid,passphrase,usage,vlan_id,mac,max_usage,role,expire_time,notify_expiry,expiry_notification_time,notify_on_create_or_edit,email\n\
        Common,warehouse,foryoureyesonly,single,35,a31425f31278,0,student,1618594236\n\
        Justin,reception,visible,multi,1002,200,teacher,1618594236\nCommon2,ssid,1245678-xx,single,35,a31425f31278,0,student,1618594236,true,7,true,admin@test.com\n\
        ```"
      operationId: importOrgPsks
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                - created_time: 0
                  expire_time: 1614990263
                  id: 425f6eca-6376-4993-bfeb-53cbbbba6f06
                  mac: string
                  max_usage: 0
                  modified_time: 0
                  name: string
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  passphrase: stringst
                  site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                  ssid: string
                  usage: multi
                  vlan_id: 0
            schema:
              items:
                $ref: '#/components/schemas/psk'
              minItems: 1
              type: array
              uniqueItems: true
          multipart/form-data:
            schema:
              properties:
                file:
                  format: binary
                  type: string
              type: object
      responses:
        '200':
          $ref: '#/components/responses/PsksArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: importOrgPsks
      tags:
      - op:WLAN:CONFIGURE:Orgs:Psks
      - Orgs Psks
  /api/v1/orgs/{org_id}/psks/{psk_id}:
    delete:
      description: Delete Org PSK
      operationId: deleteOrgPsk
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgPsk
      tags:
      - op:WLAN:CONFIGURE:Orgs:Psks
      - Orgs Psks
    get:
      description: Get Org PSK Details
      operationId: getOrgPsk
      responses:
        '200':
          $ref: '#/components/responses/Psk'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgPsk
      tags:
      - op:WLAN:CONFIGURE:Orgs:Psks
      - Orgs Psks
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/psk_id'
    put:
      description: Update Org PSK
      operationId: updateOrgPsk
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/psk'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Psk'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgPsk
      tags:
      - op:WLAN:CONFIGURE:Orgs:Psks
      - Orgs Psks
  /api/v1/orgs/{org_id}/psks/{psk_id}/delete_old_passphrase:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/psk_id'
    post:
      description: "Delete `old_passphrase` from PSK. \nIf successful, response is\
        \ same as GET, returns the PSK with `old_passphrase` removed."
      operationId: deleteOrgPskOldPassphrase
      requestBody:
        content:
          application/json:
            schema:
              properties: {}
              type: object
      responses:
        '200':
          $ref: '#/components/responses/Psk'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgPskOldPassphrase
      tags:
      - op:WLAN:CONFIGURE:Orgs:Psks
      - Orgs Psks
  /api/v1/orgs/{org_id}/rftemplates:
    get:
      description: Get List of Org RF Template
      operationId: listOrgRfTemplates
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/RftemplatesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgRfTemplates
      tags:
      - op:WLAN:CONFIGURE:Orgs:RF Templates
      - Orgs RF Templates
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create Org RF Template
      operationId: createOrgRfTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rf_template'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Rftemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgRfTemplate
      tags:
      - op:WLAN:CONFIGURE:Orgs:RF Templates
      - Orgs RF Templates
  /api/v1/orgs/{org_id}/rftemplates/{rftemplate_id}:
    delete:
      description: Delete Org RF Template
      operationId: deleteOrgRfTemplate
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgRfTemplate
      tags:
      - op:WLAN:CONFIGURE:Orgs:RF Templates
      - Orgs RF Templates
    get:
      description: Get Org RF Template Details
      operationId: getOrgRfTemplate
      responses:
        '200':
          $ref: '#/components/responses/Rftemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgRfTemplate
      tags:
      - op:WLAN:CONFIGURE:Orgs:RF Templates
      - Orgs RF Templates
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/rftemplate_id'
    put:
      description: Update Org RF Template
      operationId: updateOrgRfTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rf_template'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Rftemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgRfTemplate
      tags:
      - op:WLAN:CONFIGURE:Orgs:RF Templates
      - Orgs RF Templates
  /api/v1/orgs/{org_id}/stats/mxedges:
    get:
      description: Get List of Org MxEdge Stats
      operationId: listOrgMxEdgesStats
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - description: filter for site level mist edges
        in: query
        name: for_site
        schema:
          default: 'false'
          enum:
          - 'true'
          - 'false'
          - any
          type: string
      responses:
        '200':
          $ref: '#/components/responses/MxedgesArrayStats'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgMxEdgesStats
      tags:
      - op:WLAN:MONITOR:Orgs:Stats
      - Orgs Stats
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/stats/mxedges/{mxedge_id}:
    get:
      description: Get Org MxEdge Details Stats
      operationId: getOrgMxEdgeStats
      responses:
        '200':
          $ref: '#/components/responses/MxedgeStats'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgMxEdgeStats
      tags:
      - op:WLAN:MONITOR:Orgs:Stats
      - Orgs Stats
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/mxedge_id'
  /api/v1/orgs/{org_id}/stats/tunnels/count:
    get:
      description: Count Mist Tunnels Stats
      operationId: countOrgTunnelsStats
      parameters:
[...]
