openapi: 3.0.0
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: API library for Orgs - v1
  title: Mist Orgs API
  version: 0.2.5
servers:
  - description: Mist AWS US
    url: 'https://api.mist.com/api/v1/orgs'
  - description: Mist AWS EU
    url: 'https://api.eu.mist.com/api/v1/orgs'
  - description: Mist GCP US
    url: 'https://api.gc1.mist.com/api/v1/orgs'
paths:
  '/{org_id}':
    delete:
      description: Delete Org
      operationId: deleteOrg
      parameters:
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: deleteOrg
      tags:
        - Org
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    put:
      description: Update Organization
      operationId: updateOrg
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../models/org.v1.yaml
            examples:
              example-1:
                value:
                  orggroup_ids:
                    - string
                  name: string
                  allow_mist: true
                  session_expiry: 0
                  alarmtemplate_id: string
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                description: ''
                type: object
                properties:
                  orggroup_ids:
                    type: array
                    items:
                      type: string
                  name:
                    type: string
                    minLength: 1
                  id:
                    type: string
                    minLength: 1
                  msp_id:
                    type: string
                    minLength: 1
                  created_time:
                    type: number
                  modified_time:
                    type: number
                  allow_mist:
                    type: boolean
                  session_expiry:
                    type: number
                  alarmtemplate_id:
                    type: string
                    minLength: 1
                  msp_name:
                    type: string
                    minLength: 1
                required:
                  - orggroup_ids
                  - name
                  - id
                  - msp_id
                  - created_time
                  - modified_time
                  - allow_mist
                  - session_expiry
                  - alarmtemplate_id
                  - msp_name
          description: Successful response
      summary: updateOrg
      tags:
        - Org
        - Organization
  '/{org_id}/admins':
    get:
      description: Get a list of people who can manage the Site/Org under the Org
      operationId: getOrgAdmins
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  $ref: ../models/responses/response.admin.v1.yaml
          description: Successful response
      summary: getOrgAdmins
      tags:
        - Admins
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/{org_id}/admins/{admin_id}':
    delete:
      description: |
        This removes all privileges this admin has against the org
      operationId: revokeOrgAdmin
      parameters:
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: revokeOrgAdmin
      tags:
        - Admins
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: admin_id
        required: true
        schema:
          type: string
    put:
      description: Update Admin
      operationId: updateOrgAdmin
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../models/admin.v1.yaml
            examples:
              example-1:
                value:
                  invite_id: string
                  email: string
                  first_name: string
                  last_name: string
                  privileges:
                    - scope: string
                      site_id: string
                      role: string
                  expire_time: 0
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: ../models/responses/response.admin.v1.yaml
          description: Successful response
      summary: updateOrgAdmin
      tags:
        - Admins
        - Organization
  '/{org_id}/alarms/count':
    get:
      description: Count Org Alarms
      operationId: countOrgAlarms
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  results:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - type
                        - count
                      properties:
                        type:
                          type: string
                          minLength: 1
                        count:
                          type: number
                  start:
                    type: number
                  end:
                    type: number
                  limit:
                    type: number
                  distinct:
                    type: string
                    minLength: 1
                  total:
                    type: number
                  percentage:
                    type: number
                required:
                  - results
                  - start
                  - end
                  - limit
                  - distinct
                  - total
                  - percentage
              examples:
                example-1:
                  value:
                    results:
                      - type: device_down
                        count: 1
                      - type: gateway_down
                        count: 1
                      - type: switch_down
                        count: 1
                    start: 1603882664.9144216
                    end: 1603969064.914436
                    limit: 10
                    distinct: type
                    total: 3
                    percentage: 100
          description: Successful response
      summary: countOrgAlarms
      tags:
        - Alarms
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/{org_id}/alarms/search':
    get:
      description: Search Org Alarms
      operationId: searchOrgAlarms
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  results:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - type
                        - count
                      properties:
                        type:
                          type: string
                          minLength: 1
                        count:
                          type: number
                  start:
                    type: number
                  end:
                    type: number
                  limit:
                    type: number
                  distinct:
                    type: string
                    minLength: 1
                  total:
                    type: number
                  percentage:
                    type: number
                required:
                  - results
                  - start
                  - end
                  - limit
                  - distinct
                  - total
                  - percentage
          description: Successful response
      summary: searchOrgAlarms
      tags:
        - Alarms
        - Organization
      parameters:
        - schema:
            type: string
          in: query
          name: type
        - schema:
            type: number
          in: query
          name: start
        - schema:
            type: number
          in: query
          name: end
        - schema:
            type: integer
          in: query
          name: page
        - schema:
            type: integer
          in: query
          name: limit
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/{org_id}/alarmtemplates':
    get:
      description: Get Org Alarm Templates
      operationId: getOrgAlarmTemplates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ''
      summary: getOrgAlarmTemplates
      tags:
        - Alarm Templates
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: |-
        Available rules can be found in Orgs>Consts>getAlarmDefs

        The delivery dict is only required if different from the template delivery settings.
      operationId: createOrgAlarmTemplate
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                id:
                  type: string
                  minLength: 1
                name:
                  type: string
                  minLength: 1
                delivery:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    to_org_admins:
                      type: boolean
                    to_site_admins:
                      type: boolean
                    additional_emails:
                      type: array
                  required:
                    - enabled
                    - to_org_admins
                    - to_site_admins
                    - additional_emails
                rules:
                  type: object
                  properties:
                    device_down:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        delivery:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                            to_org_admins:
                              type: boolean
                            to_site_admins:
                              type: boolean
                            additional_emails:
                              type: array
                          required:
                            - enabled
                            - to_org_admins
                            - to_site_admins
                            - additional_emails
                      required:
                        - enabled
                        - delivery
                  required:
                    - device_down
              required:
                - id
                - name
                - delivery
                - rules
      summary: createOrgAlarmTemplate
      tags:
        - Alarm Templates
        - Organization
      responses:
        '200':
          description: OK
  '/{org_id}/alarmtemplates/suppress':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: |-
        In certain situations, for example, scheduled maintanance, you may want to suspend alarms to be triggered for a period of time.

        #### Body Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        duration|int|duration, in seconds. Deafult is 60. Maximum allowed duration is 1 day (86400).
      operationId: suppressOrgAlarmTemplate
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                duration:
                  type: number
                applies:
                  type: object
                  properties:
                    org_id:
                      type: string
                      minLength: 1
                    sitegroup_ids:
                      type: array
                    site_ids:
                      type: array
                  required:
                    - org_id
                    - sitegroup_ids
                    - site_ids
              required:
                - duration
                - applies
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: suppressOrgAlarmTemplate
      tags:
        - Alarm Templates
        - Organization
  '/{org_id}/alarmtemplates/{alarmtemplate_id}':
    delete:
      description: Delete Org Alarm Template
      operationId: deleteOrgAlarmTemplate
      parameters:
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: deleteOrgAlarmTemplate
      tags:
        - Alarm Templates
        - Organization
    get:
      description: Get Org Alarm Template Details
      operationId: getOrgAlarmTemplateDetails
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  name:
                    type: string
                    minLength: 1
                  delivery:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      to_org_admins:
                        type: boolean
                      to_site_admins:
                        type: boolean
                      additional_emails:
                        type: array
                    required:
                      - enabled
                      - to_org_admins
                      - to_site_admins
                      - additional_emails
                  rules:
                    type: object
                    properties:
                      device_down:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                          delivery:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                              to_org_admins:
                                type: boolean
                              to_site_admins:
                                type: boolean
                              additional_emails:
                                type: array
                            required:
                              - enabled
                              - to_org_admins
                              - to_site_admins
                              - additional_emails
                        required:
                          - enabled
                          - delivery
                    required:
                      - device_down
                required:
                  - id
                  - name
                  - delivery
                  - rules
          description: Successful response
      summary: getOrgAlarmTemplateDetails
      tags:
        - Alarm Templates
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: alarmtemplate_id
        required: true
        schema:
          type: string
    put:
      description: Update Org Alarm Template
      operationId: updateOrgAlarmTemplate
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                delivery:
                  type: object
                  required:
                    - enabled
                    - to_org_admins
                    - to_site_admins
                    - additional_emails
                  properties:
                    enabled:
                      type: boolean
                    to_org_admins:
                      type: boolean
                    to_site_admins:
                      type: boolean
                    additional_emails:
                      type: array
                      items:
                        type: object
                rules:
                  type: object
                  required:
                    - device_down
                  properties:
                    device_down:
                      type: object
                      required:
                        - enabled
                        - delivery
                      properties:
                        enabled:
                          type: boolean
                        delivery:
                          type: object
                          required:
                            - enabled
                            - to_org_admins
                            - to_site_admins
                            - additional_emails
                          properties:
                            enabled:
                              type: boolean
                            to_org_admins:
                              type: boolean
                            to_site_admins:
                              type: boolean
                            additional_emails:
                              type: array
                              items:
                                type: object
              required:
                - name
                - delivery
                - rules
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  name:
                    type: string
                    minLength: 1
                  delivery:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      to_org_admins:
                        type: boolean
                      to_site_admins:
                        type: boolean
                      additional_emails:
                        type: array
                    required:
                      - enabled
                      - to_org_admins
                      - to_site_admins
                      - additional_emails
                  rules:
                    type: object
                    properties:
                      device_down:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                          delivery:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                              to_org_admins:
                                type: boolean
                              to_site_admins:
                                type: boolean
                              additional_emails:
                                type: array
                            required:
                              - enabled
                              - to_org_admins
                              - to_site_admins
                              - additional_emails
                        required:
                          - enabled
                          - delivery
                    required:
                      - device_down
                required:
                  - id
                  - name
                  - delivery
                  - rules
          description: Successful response
      summary: updateOrgAlarmTemplate
      tags:
        - Alarm Templates
        - Organization
  '/{org_id}/alarmtemplates/{alarmtemplate_id}/alarmrules':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: alarmtemplate_id
        required: true
        schema:
          type: string
  '/{org_id}/apitokens':
    get:
      operationId: getOrgApiTokens
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgApiTokens
      tags:
        - API Tokens
        - Organization
      description: get organization api tokens
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: |-
        #### Body Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        name|string|name of the token
        privileges|list|list of privileges the token has on the orgs/sites
        scope|string|site / org / sitegroup
        role|string|admin / write / read
      operationId: createOrgApiToken
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                privileges:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    type: object
                    properties:
                      scope:
                        type: string
                        minLength: 1
                      site_id:
                        type: string
                        minLength: 1
                      role:
                        type: string
                        minLength: 1
                      sitegroup_id:
                        type: string
                    required:
                      - scope
                      - role
              required:
                - name
                - privileges
            examples:
              example-1:
                value:
                  name: org_token_xyz
                  privileges:
                    - scope: org
                      role: read
                    - scope: site
                      site_id: d96e3952-53e8-4266-959a-45acd55f5114
                      role: admin
                    - scope: sitegroup
                      sitegroup_id: 581328b6-e382-f54e-c9dc-999983183a34
                      role: write
        description: ''
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  id:
                    type: string
                    minLength: 1
                  last_used: {}
                  key:
                    type: string
                    minLength: 1
                  created_time:
                    type: number
                  org_id:
                    type: string
                    minLength: 1
                required:
                  - name
                  - id
                  - key
                  - created_time
                  - org_id
          description: Successful response
      summary: createOrgApiToken
      tags:
        - API Tokens
        - Organization
  '/{org_id}/apitokens/{apitoken_id}':
    delete:
      description: |-
        #### Body Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        name|string|name of the token
        privileges|list|list of privileges the token has on the orgs/sites
        scope|string|site / org / sitegroup
        role|string|admin / write / read
      operationId: deleteOrgApiToken
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: deleteOrgApiToken
      tags:
        - API Tokens
        - Organization
    get:
      description: Get Org API Token
      operationId: getOrgApiTokensDetails
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  id:
                    type: string
                    minLength: 1
                  last_used: {}
                  key:
                    type: string
                    minLength: 1
                  created_time:
                    type: number
                  org_id:
                    type: string
                    minLength: 1
                  privileges:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - scope
                        - org_id
                        - role
                      properties:
                        scope:
                          type: string
                          minLength: 1
                        org_id:
                          type: string
                          minLength: 1
                        role:
                          type: string
                          minLength: 1
                required:
                  - name
                  - id
                  - key
                  - created_time
                  - org_id
                  - privileges
          description: Successful response
      summary: getOrgApiTokensDetails
      tags:
        - API Tokens
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: apitoken_id
        required: true
        schema:
          type: string
    put:
      description: |-
        #### Body Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        name|string|name of the token
        privileges|list|list of privileges the token has on the orgs/sites
        scope|string|site / org / sitegroup
        role|string|admin / write / read
      operationId: updateOrgApiToken
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: org_token_pqr
                privileges:
                  - role: write
                    scope: org
                  - role: admin
                    scope: site
                    site_id: d96e3952-53e8-4266-959a-45acd55f5114
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: updateOrgApiToken
      tags:
        - API Tokens
        - Organization
  '/{org_id}/assetfilters':
    get:
      description: 'Get the list of all BLE asset filters for the given site. Each asset filter in the list operates independently. For a filter object to match an asset, all of the filter properties must match (logical ‘AND’ of each filter property). For example, the “Visitor Tags” filter below will match an asset when both the “ibeacon\_uuid” and “ibeacon_major” properties match the asset. All non-matching assets are ignored.'
      operationId: getOrgAssetFilters
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgAssetFilters
      tags:
        - Asset Filters
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: " #### Create Asset Filter\r\n Creates a single BLE asset filter for the given site. Any subset of filter properties can be included in the filter. A matching asset must meet the conditions of all given filter properties (logical ‘AND’).\r\n\r\n\r\n**Parameter**|**Type**|**Description** \r\n :-------------: |:-------------: |:-------------: \r\n name|string|asset filter name\r\n disabled|boolean|optional; whether the asset filter is disabled, default is false\r\n ibeacon_uuid|string|optional; ibeacon uuid used to filter assets\r\n ibeacon_major|int|optional; ibeacon major value used to filter assets\r\n eddystone_uid_namespace|string|optional; eddystone uid namespace used to filter assets\r\n eddystone_url|string|optional; eddystone url used to filter assets\r\n mfg_company_id|int|optional; ble manufacturing-specific company-id used to filter assets"
      operationId: createOrgAssetFilters
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                eddystone_uid_namespace: 2818e3868dec25629ede
                eddystone_url: 'https://www.abc.com'
                ibeacon_major: 13
                ibeacon_uuid: f3f17139-704a-f03a-2786-0400279e37c3
                mfg_company_id: 935
                name: Visitor Tags
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: createOrgAssetFilters
      tags:
        - Asset Filters
        - Organization
  '/{org_id}/assetfilters/{assetfilter_id}':
    delete:
      description: |
        Deletes an existing BLE asset filter for the given site.
      operationId: deleteOrgAssetFilters
      parameters:
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: deleteOrgAssetFilters
      tags:
        - Asset Filters
        - Organization
    get:
      description: Get Org Asset Filter Details
      operationId: getOrgAssetFiltersDetails
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgAssetFiltersDetails
      tags:
        - Asset Filters
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: assetfilter_id
        required: true
        schema:
          type: string
    put:
      description: Updates an existing BLE asset filter for the given site.
      operationId: updateOrgAssetFilters
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: Visitor Tags
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: updateOrgAssetFilters
      tags:
        - Asset Filters
        - Organization
  '/{org_id}/cert':
    get:
      description: Get Org Certificates
      operationId: getOrgCertificates
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgCertificates
      tags:
        - Certificates
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/{org_id}/cert/regenerate':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: Clear Org Certificates
      operationId: clearOrgCertificates
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content: {}
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: clearOrgCertificates
      tags:
        - Certificates
        - Organization
  '/{org_id}/claim':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: |-
        #### Body Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        code|string|activation code
        type|string|what to claim, all (default) / license / inventory
      operationId: claimOrgLicense
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                code: ZHT3K-H36DT-MG85D-M61AC
                type: all
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: claimOrgLicense
      tags:
        - Licenses
        - Organization
  '/{org_id}/clients/count':
    get:
      description: |
        #### Query Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        distinct|string|ssid, ap, ip, vlan, hostname, os, model, device, default is device


        NOTE: the filters from /clients/search can also be used. E.g. `/clients/count?device=iphone&distinct=os`
      operationId: countOrgWirelessClients
      parameters:
        - example: hostname
          in: query
          name: distinct
          schema:
            type: string
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: countOrgWirelessClients
      tags:
        - Clients - Wireless
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/{org_id}/clients/search':
    get:
      description: |-
        #### Supported Filters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        mac|string|partial / full MAC address
        hostname|string|partial / full hostname
        device|string|device type, e.g. Mac, Nvidia, iPhone
        os|string|os, e.g. Sierra, Yosemite, Windows 10
        model|string|model, e.g. “MBP 15 late 2013”, 6, 6s, “8+ GSM”
        ap|string|AP mac where the client has connected to
        ssid|string|SSID
        vlan|string|vlan
        ip|string|ip address
      operationId: searchOrgWirelessClients
      parameters:
        - example: '{{hostname}}'
          in: query
          name: hostname
          schema:
            type: string
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: searchOrgWirelessClients
      tags:
        - Clients - Wireless
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/{org_id}/clients/sessions/count':
    get:
      description: Get MxEdge Models
      operationId: getMxEdgeModels
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getMxEdgeModels
      tags:
        - Consts
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/{org_id}/clients/sessions/search':
    get:
      description: |-
        #### Query Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        ap|string|AP MAC
        band|string|5 / 24
        client_family|string|E.g. “Mac”, “iPhone”, “Apple watch”
        client_manufacture|string|E.g. “Apple”
        client_model|string|E.g. “8+”, “XS”
        client_os|string|E.g. “Mojave”, “Windows 10”, “Linux”
        ssid|string|SSID
        wlan_id|string|wlan_id
      operationId: searchOrgWirelessClientSessions
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: searchOrgWirelessClientSessions
      tags:
        - Clients - Wireless
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/{org_id}/clone':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: 'Create an Org by cloning from another one. Org Settings, Templates, Wxlan Tags, Wxlan Tunnels, Wxlan Rules, Org Wlans will be copied. Sites and Site Groups will not be copied, and therefore, the copied template will not be applied to any site/sitegroups.'
      operationId: cloneOrg
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: New Org
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: cloneOrg
      tags:
        - Org
        - Organization
  '/{org_id}/crl':
    get:
      description: Get Org CRL File
      operationId: getOrgCrlFile
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgCrlFile
      tags:
        - Certificates
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/{org_id}/deviceprofiles':
    get:
      description: Get Org Device Profiles
      operationId: getOrgDeviceProfiles
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgDeviceProfiles
      tags:
        - Devices Profiles
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: |
        #### Body Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        name|string|name of the profile
        vars|object|a dictionary of name->value, the vars can then be used in Wlans. This can overwrite those from Site Vars

        #### Radio Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        radio_config|object|radio configs
        band_24|object|radio config for 2.4G
        band_5|object|radio config for 5G
        band\_24_usage|string|24 / 5 / auto, default is 24
        scanning_enabled|boolean|whether scanning radio is enabled
        disabled|boolean|whether to disable the radio
        channel|int|(primary) channel for the band, 0 means using the Site Setting
        power|int|tx power of the radio, 0 mean using the Site Setting
        ant\_gain_24|int|antenna gain for 2.4G - for models with external antenna only
        ant\_gain_5|int|antenna gain for 5G - for models with external antenna only
        bandwidth|int|channel width for the band, 20 / 40 / 80, 80 is only applicable for band_5, ignored if channel is 0
        channels|list|list of channels, null or empty array means auto
        antenna_mode|string|default / 1x1 / 2x2 / 3x3 / 1x4
        power_min|int|when power=0, min tx power to use, HW-specific values will be used if not set
        power_max|int|when power=0, max tx power to use, HW-specific values will be used if not set
        preamble|string|short / long / auto, default is short
        usage|string|for band_24 radio, 24 / 5 / rrm, default is 24

        #### IP Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        vlan_id|int|management vlan id, default is 1 (untagged)

        #### BLE Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        ble_config|object|BLE config
        power_mode|string|default / custom
        power|int|required if power_mode==custom, 1-10, in dBm, default is currently 8
        beacon_enabled|boolean|whether Mist beacons is enabled, default is true
        beacon\_rate_mode|string|default / custom
        beacon\_rate|int|required if beacon\_rate_mode==custom, 1-10, in number-beacons-per-second
        beam_disabled|list|list of AP BLE location beam numbers (1-8) which should be disabled at the AP and not transmit location information (where beam 1 is oriented at the top the AP, growing counter-clock-wise, with 9 being the omni BLE beam)

        #### USB Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        usb_config|object|USB config
        enabled|boolean|whether to enable any usb config
        type|string|usb config type, option: imagotag
        channel|int|channel selection, 0-10, not needed by default, required for manual channel override only
        host|string|required if type==imagotag
        port|int|port, default 0
        verify_cert|boolean|whether to turn on SSL verification
        cacert|string|ca certs

        #### LED Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        led|object|LED control

        #### Mesh Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        mesh|object|mesh-related
        enabled|boolean|whether mesh is enabled on this AP, default is false
        role|string|base / remote
        group|int|mesh group, base AP(s) will only allow remote AP(s) in the same mesh group to join, 1-9, optional

        #### Ports Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        disable_eth1|boolean|whether to disable eth1 port, default is false
        disable_module|boolean|whether to disable module port, default is false

        #### Power Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        poe_passthrough|boolean|whether to enable power out through module port (for APH) or eth1 (for APL/BT11), default is false
        pwr_config|object|power related configs
        base|int|additional power to request during negotiating with PSE over PoE, in mW, default is 0

        #### Switch Parameters
        By default, configuration of the switch is automated/abstracted. If you have scenarios that cannot be covered, you can customize it here.


        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        switch_config|object|switching-related
        enabled|boolean|default is false
        eth0|object|port config for eth0, available ports are eth0 / eth1 / module (only for AP41 and AP61) / wds (only when mesh is enabled)
        vlan_ids|list|list of VLAN ids this
        port_vlan_id|int|native VLAN id, optional

        #### IoT Parameters
        Configuration of IoT pins. By default, all the pins are disabled
      operationId: createOrgDeviceProfiles
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                ble_config:
                  beacon_enabled: true
                  power: 10
                  power_mode: custom
                disable_eth1: false
                disable_module: false
                height: 3
                led:
                  brightness: 255
                  enabled: true
                mesh:
                  enabled: true
                  group: 0
                  role: base
                name: LowPower
                poe_passthrough: false
                pwr_config:
                  base: 2000
                radio_config:
                  ant_gain_24: 4
                  ant_gain_5: 5
                  band_24:
                    allow_rrm_disable: false
                    antenna_mode: 1x1
                    bandwidth: 20
                    channel: 0
                    disabled: false
                    power: 1
                  band_24_usage: '5'
                  band_5:
                    antenna_mode: default
                    bandwidth: 40
                    channel: 0
                    disabled: false
                    power: 0
                  band_5_on_24_radio:
                    antenna_mode: default
                    bandwidth: 40
                    channel: 0
                    disabled: false
                    power: 0
                  scanning_enabled: true
                switch_config:
                  enabled: true
                  eth0:
                    port_vlan_id: 1
                    vlan_ids:
                      - 1
                      - 3055
                usb_config:
                  cacert: ''
                  channel: 3
                  enabled: true
                  host: 1.1.1.1
                  port: 0
                  type: imagotag
                  verify_cert: false
                vars:
                  RADIUS_IP1: 172.31.2.5
                  RADIUS_SECRET: 11s64632d
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: createOrgDeviceProfiles
      tags:
        - Devices Profiles
        - Organization
  '/{org_id}/deviceprofiles/{deviceprofile_id}':
    delete:
      description: Delete Org Device Profiles
      operationId: deleteOrgDeviceProfiles
      parameters:
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: deleteOrgDeviceProfiles
      tags:
        - Devices Profiles
        - Organization
    get:
      description: Get Org device Profile Details
      operationId: getOrgDeviceProfilesDetails
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgDeviceProfilesDetails
      tags:
        - Devices Profiles
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: deviceprofile_id
        required: true
        schema:
          type: string
    put:
      description: Update Org Device Profile
      operationId: updateOrgDeviceProfiles
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                radio_config:
                  band_24:
                    allow_rrm_disable: false
                    antenna_mode: 1x1
                    bandwidth: 20
                    channel: 0
                    disabled: false
                    power: 1
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: updateOrgDeviceProfiles
      tags:
        - Devices Profiles
        - Organization
  '/{org_id}/deviceprofiles/{deviceprofile_id}/assign':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: deviceprofile_id
        required: true
        schema:
          type: string
    post:
      description: Assign Org Device Profile to Devices
      operationId: assignOrgDeviceProfileToDevices
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                macs:
                  - 5c5b350e0001
                  - 5c5b350e0003
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: assignOrgDeviceProfileToDevices
      tags:
        - Devices Profiles
        - Organization
  '/{org_id}/deviceprofiles/{deviceprofile_id}/unassign':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: deviceprofile_id
        required: true
        schema:
          type: string
    post:
      description: Unassign Org Device Profile from Devices
      operationId: unassignOrgDeviceProfilesFromDevices
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                macs:
                  - 5c5b350e0001
                  - 5c5b350e0003
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: unassignOrgDeviceProfilesFromDevices
      tags:
        - Devices Profiles
        - Organization
  '/{org_id}/devices':
    get:
      description: Get Org Devices
      operationId: getOrgDevices
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgDevices
      tags:
        - Devices
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/{org_id}/devices/count':
    get:
      description: |-
        Supported Filters

        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        hostname|string|partial / full hostname
        site_id|string|site id
        model|string|device model
        mac|string|AP mac
        version|string|version
        ip|string|ip address
      operationId: countOrgDevices
      parameters:
        - example: model
          in: query
          name: distinct
          schema:
            type: string
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: countOrgDevices
      tags:
        - Devices
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/{org_id}/devices/events/count':
    get:
      description: |-
        Supported Filters

        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        hostname|string|partial / full hostname
        site_id|string|site id
        model|string|device model
        mac|string|AP mac
        version|string|version
        ip|string|ip address
      operationId: countOrgDevicesEvents
      parameters:
        - example: model
          in: query
          name: distinct
          schema:
            type: string
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: countOrgDevicesEvents
      tags:
        - Devices
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/{org_id}/devices/events/search':
    get:
      description: |-
        #### Supported Filters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        org_id|string|org id
        site_id|string|site id
        ap|string|AP mac
        apfw|string|AP Firmware
        model|string|device model
        text|string|event message
        timestamp|string|event time
        type|string|See Supported Events Type (E.g. CLIENT_DNS_OK)

        #### Supported Events Type

        **Name**
        :-------------: |
        AP\_CONFIG\_CHANGED\_BY\_RRM
        AP\_CONFIG\_CHANGED\_BY\_USER
        AP\_CONFIGURED
        AP\_RECONFIGURED
        AP\_RESTART\_BY\_USER
        AP\_RESTARTED
        AP\_RRM\_ACTION
        CLIENT\_DNS\_OK
        MARVIS\_DNS\_FAILURE
      operationId: searchOrgDevicesEvents
      parameters:
        - example: '{{ip}}'
          in: query
          name: ip
          schema:
            type: string
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: searchOrgDevicesEvents
      tags:
        - Devices
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/{org_id}/devices/search':
    get:
      description: |-
        Supported Filters

        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        hostname|string|partial / full hostname
        site_id|string|site id
        model|string|device model
        mac|string|AP mac
        version|string|version
        ip|string|ip address
      operationId: searchOrgDevices
      parameters:
        - example: '{{ip}}'
          in: query
          name: ip
          schema:
            type: string
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: searchOrgDevices
      tags:
        - Devices
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/{org_id}/inventory':
    get:
      description: |-
        #### Response Parameters
        **Parameter**|**Type**|**Description** 
        serial|string|device serial
        model|string|device model
        type|string|device type, ap
        mac|string|MAC address
        name|string|device name if assigned
        id|string|device id
        site_id|string|site id if assigned, null if not assigned
        deviceprofile_id|string|deviceprofile id if assigned, null if not assigned
        connected|boolean|whether the AP is connected
        created_time|long|inventory created time, in epoch
        modified_time|long|inventory last modified time, in epoch


        #### Query Options
        * Filtered Inventory by
         * model
         * serial
         * magic
         * site_id
         * type
         * mac
         * vc_mac
         * vc

        Example:
        ```
        https://{{host}}/{org_id}/inventory?model=AP41
        ```
      operationId: getOrgInventory
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgInventory
      tags:
        - Inventory
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: Add Device to Org Inventory
      operationId: addOrgInventory
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                - 6JG8E-PTFV2-A9Z2N
                - DVH4V-SNMSZ-PDXBR
              type: array
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: addOrgInventory
      tags:
        - Inventory
        - Organization
    put:
      description: |-
        #### Body Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        op|string|Required. unassign
        macs|list|list of MAC, e.g. 5c5b350e0001
      operationId: unasignOrgInventoryToSite
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                macs:
                  - 5c5b350e0001
                op: unassign
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: unasignOrgInventoryToSite
      tags:
        - Inventory
        - Organization
  '/{org_id}/inventory/replace':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: |-
        It’s a common request we get from the customers. When a AP HW has problem and need a replacement, they would want to copy the existing attributes (Device Config) of this old AP to the new one. It can be done by providing the MAC of a device that’s currently in the inventory but not assigned. The Device replaced will become unclaimed.

        #### Body Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        site_id|string|the site_id of the device to be replaced
        mac|string|device mac
        inventory_mac|string|mac of the inventory that will be replacing the old one. It has to be claimed and unassigned.
      operationId: replaceOrgDevices
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                inventory_mac: 5c5b35000301
                mac: 5c5b35000101
                site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: replaceOrgDevices
      tags:
        - Devices
        - Organization
  '/{org_id}/invites':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: |-
        If the request is successful, an email will also be sent to the user with a link to ```https://manage.mist.com/verify/invite?token=:token&expire=1459632743&org=OrgName```



        #### Body Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        email|string|email - admin_id is not exposed
        first_name|string|first name, used in the invitation text
        last_name|string|last name
        privileges|list|list of privileges the admin has on the orgs/sites
        scope|string|site / org / sitegroup
        role|string|admin / write / read / helpdesk
        site_id|string|site id
        hours|int|optional, how long the invite should be valid, default is 1 day. Max is capped at 1 week.
      operationId: inviteOrgAdmin
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                email: joe@abc.com
                first_name: John
                hours: 24
                last_name: Smith
                privileges:
                  - role: admin
                    scope: org
                  - role: admin
                    scope: site
                    site_id: d96e3952-53e8-4266-959a-45acd55f5114
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: inviteOrgAdmin
      tags:
        - Admins
        - Organization
  '/{org_id}/invites/{invite_id}':
    delete:
      description: Delete Admin Invite
      operationId: uninviteOrgAdmin
      parameters:
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: uninviteOrgAdmin
      tags:
        - Admins
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: invite_id
        required: true
        schema:
          type: string
    put:
      description: Update Admin Invite
      operationId: updateOrgAdminInvite
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                hours: 24
                privileges:
                  - role: admin
                    scope: org
                  - role: admin
                    scope: site
                    site_id: d96e3952-53e8-4266-959a-45acd55f5114
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: updateOrgAdminInvite
      tags:
        - Admins
        - Organization
  '/{org_id}/licenses':
    get:
      description: |-
        #### Response Parameters
        **Parameter**|**Type**|**Description** 
        licenses|list|list of licenses
        type|string|subscription type, SUB-MAN / SUB-LOC / SUB-AST / SUB-VNA / SUB-DATA
        start|long|start date of the license term
        end|long|end date of the license term
        quantity|int|number of devices entitled for this license
        usage|object|usages of each license type
        entitled|object|currently entitled for each license type
      operationId: getOrgLicencesSummary
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgLicencesSummary
      tags:
        - Licenses
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    put:
      description: Undo Move Org License to Another Org
      operationId: undoMoveOrgLicenseToAnotherOrg
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                amendment_id: 2b9116ab-cd1e-e897-6e08-31fccd88e792
                op: unamend
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: undoMoveOrgLicenseToAnotherOrg
      tags:
        - Licenses
        - Organization
  '/{org_id}/licenses/usages':
    get:
      description: |-
        #### Response Parameters
        **Parameter**|**Type**|**Description** 
        usages|object|subscriptions and their quantities
      operationId: getOrgLicencesBySite
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgLicencesBySite
      tags:
        - Licenses
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/{org_id}/logs':
    get:
      description: |-
        #### Supported Filters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        site_id|string|site id
        admin_name|string|admin name or email
        message|string|message


        #### Response Parameters
        The logs are always sorted by time in descending order


        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        timestamp|long|start time, in epoch
        site_id|string|site id
        org_id|string|org id
        admin_id|string|admin id
        admin_name|string|name of the admin that performs the action
        message|string|log message
        before|object|the diff, before
        after|object|the diff, after
      operationId: getOrgLogs
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgLogs
      tags:
        - Audit Logs
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/{org_id}/logs/count':
    get:
      description: |-
        #### Body Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        distinct|string|admin_id / admin_name / message / site_id, default is admin_name
      operationId: countOrgLogsByDistinctAttributes
      parameters:
        - example: '{{distinct}}'
          in: query
          name: distinct
          schema:
            type: string
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: countOrgLogsByDistinctAttributes
      tags:
        - Audit Logs
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
  '/{org_id}/mxclusters':
    get:
      description: Get MxEdge Clusters
      operationId: getOrgMxEdgeClusters
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgMxEdgeClusters
      tags:
        - MxEdge Culsters
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: |
        #### Body Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        tunterm_hosts|list|hostnames or IPs where a Mist Tunnel will use as the Peer (i.e. they are reachable from AP)
        tunterm_ap_subnets|list|list of subnets where we allow AP to establish Mist Tunnels from
      operationId: createOrgMxEdgeCluster
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: Guest Cluster
                radsec:
                  acct_servers:
                    - host: 1.2.3.4
                      port: 1812
                      secret: testing123
                  auth_servers:
                    - host: 1.2.3.4
                      port: 1812
                      secret: testing123
                    - host: radius.internal
                      port: 1812
                      secret: testing123
                  enabled: true
                tunterm_ap_subnets:
                  - 0.0.0.0/0
                tunterm_hosts:
                  - guest-sj1.corp.com
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: createOrgMxEdgeCluster
      tags:
        - MxEdge Culsters
        - Organization
  '/{org_id}/mxclusters/{mxcluster_id}':
    delete:
      description: Delete Org MXEdge Cluster
      operationId: deleteOrgMxEdgeCluster
      parameters:
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: deleteOrgMxEdgeCluster
      tags:
        - MxEdge Culsters
        - Organization
    get:
      description: Get Org MxEdge Cluster Details
      operationId: getOrgMxEdgeClusterDetails
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgMxEdgeClusterDetails
      tags:
        - MxEdge Culsters
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: mxcluster_id
        required: true
        schema:
          type: string
    put:
      description: Update ORg MxEdge Cluster
      operationId: updateOrgMxEdgeCluster
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: Guest Cluster
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: updateOrgMxEdgeCluster
      tags:
        - MxEdge Culsters
        - Organization
  '/{org_id}/mxedges':
    get:
      description: |-
        #### Response Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        mxcluster_id|string|MxCluster this MxEdge belongs to
        tunterm_ip_config|object|ip configuration of the Mist Tunnel interface
        services|list|list of services to run, tunterm only for now
        tunterm_port_config|object|ethernet port configurations
        separate_upstream_downstream|boolean|weather to separate upstream / downstream ports. default is false where all ports will be used.
        downstream_ports|list|list of ports to be used for downstream (to AP) purpose
        upstream_ports|list|list of ports to be used for upstrea purpose (to LAN)
        upstream_port_vlan_id|int|native VLAN id for upstream ports, default is 1
      operationId: getOrgMxEdges
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgMxEdges
      tags:
        - MxEdge
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: |-
        #### Body Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        name|string|name of the Mist Edge
        model|string|model of the Mist Edge
        service|list|list of services enabled 
        mxcluster_id|string|MxCluster this MxEdge belongs to
        tunterm_ip_config|object|ip configuration of the Mist Tunnel interface
        services|list|list of services to run, tunterm only for now
        tunterm_port_config|object|ethernet port configurations
        separate_upstream_downstream|boolean|weather to separate upstream / downstream ports. default is false where all ports will be used.
        downstream_ports|list|list of ports to be used for downstream (to AP) purpose
        upstream_ports|list|list of ports to be used for upstrea purpose (to LAN)
        upstream_port_vlan_id|int|native VLAN id for upstream ports, default is 1


        Note: The list of available Mist Edge Models is available in Org>Const>getMxEdgeModels
      operationId: createOrgMxEdge
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                model: ME-S2019
                mxcluster_id: 572586b7-f97b-a22b-526c-8b97a3f609c4
                name: Guest
                ntp_servers: []
                services:
                  - tunterm
                tunterm_ip_config:
                  gateway: 10.2.1.254
                  ip: 10.2.1.1
                  netmask: 255.255.255.0
                tunterm_port_config:
                  downstream:
                    port_vlan_id: 1
                    ports:
                      - '0'
                      - '1'
                      - '2'
                      - '3'
                  upstrem:
                    ports:
                      - '0'
                      - '1'
                      - '2'
                      - '3'
                versions:
                  mxagent: 2.4.194
                  tunterm: 0.1.928-1
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: createOrgMxEdge
      tags:
        - MxEdge
        - Organization
  '/{org_id}/mxedges/assign':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: Assign Org MxEdge to Site
      operationId: assignOrgMxEdgeToSite
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                mxedge_ids:
                  - 387804a7-3474-85ce-15a2-f9a9684c9c90
                site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: assignOrgMxEdgeToSite
      tags:
        - MxEdge
        - Organization
  '/{org_id}/mxedges/claim':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: 'For a Mist Edge in default state, it will show a random claim code like `135-546-673` which you can “claim” it into your Org'
      operationId: claimOrgMxEdge
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                code: 135-546-673
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: claimOrgMxEdge
      tags:
        - MxEdge
        - Organization
  '/{org_id}/mxedges/unassign':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: Unassign Org MxEdge from Site
      operationId: unassignOrgMxEdgeFromSite
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                mxedge_ids:
                  - 387804a7-3474-85ce-15a2-f9a9684c9c90
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: unassignOrgMxEdgeFromSite
      tags:
        - MxEdge
        - Organization
  '/{org_id}/mxedges/{mxedge_id}':
    delete:
      description: Delete Org MxEdge
      operationId: deleteOrgMxEdge
      parameters:
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: deleteOrgMxEdge
      tags:
        - MxEdge
        - Organization
    get:
      description: |-
        #### Response Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        mxcluster_id|string|MxCluster this MxEdge belongs to
        tunterm_ip_config|object|ip configuration of the Mist Tunnel interface
        services|list|list of services to run, tunterm only for now
        tunterm_port_config|object|ethernet port configurations
        separate_upstream_downstream|boolean|weather to separate upstream / downstream ports. default is false where all ports will be used.
        downstream_ports|list|list of ports to be used for downstream (to AP) purpose
        upstream_ports|list|list of ports to be used for upstrea purpose (to LAN)
        upstream_port_vlan_id|int|native VLAN id for upstream ports, default is 1
      operationId: getOrgMxEdgeDetails
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgMxEdgeDetails
      tags:
        - MxEdge
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: mxedge_id
        required: true
        schema:
          type: string
    put:
      description: Update Org MxEdge
      operationId: updateOrgMxEdge
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: Guest
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: updateOrgMxEdge
      tags:
        - MxEdge
        - Organization
  '/{org_id}/mxedges/{mxedge_id}/restart':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: mxedge_id
        required: true
        schema:
          type: string
    post:
      description: |
        In the case where a Mist Edge is replaced, you would need to unregister it. Which disconnects the currently the connected Mist Edge and allow another to register.
      operationId: restartOrgMxEdge
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content: {}
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: restartOrgMxEdge
      tags:
        - MxEdge
        - Organization
  '/{org_id}/mxedges/{mxedge_id}/unregister':
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: mxedge_id
        required: true
        schema:
          type: string
    post:
      description: |
        In the case where a Mist Edge is replaced, you would need to unregister it. Which disconnects the currently the connected Mist Edge and allow another to register.
      operationId: unregisterOrgMxEdge
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content: {}
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: unregisterOrgMxEdge
      tags:
        - MxEdge
        - Organization
  '/{org_id}/mxtunnels':
    get:
      description: Get Org MxTiunnels
      operationId: getOrgMxTunnels
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgMxTunnels
      tags:
        - MxTunnels
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: |-
        #### Body Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        name|string|the name of the tunnel
        protocol|list|udp / ip, default is udp
        ipsec|object|enable or disable IPSec. default is disabled
        mtu|number|Maximum Transmission Unit between Mist APs and Mist Edge. 0 means auto. Default is 0.
        vlan_ids|list|list of vlan_ids that will be used
        mxcluster_ids|list|list of mxclusters to deploy this tunnel to
        hello_interval|float|in seconds, used as heartbeat to detect if a tunnel is alive. AP will try another peer after missing N hellos specified by hello_retries. between 1 and 300, default is 60 seconds
        hello_retries|int|between 2 and 30, default is 7
      operationId: createOrgMxTunnel
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                hello_interval: 60
                hello_retries: 3
                ipsec:
                  enabled: false
                mtu: 1000
                mxcluster_ids:
                  - 572586b7-f97b-a22b-526c-8b97a3f609c4
                name: HQ
                protocol: udp
                vlan_ids:
                  - 3
                  - 4
                  - 5
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: createOrgMxTunnel
      tags:
        - MxTunnels
        - Organization
  '/{org_id}/mxtunnels/{mxtunnel_id}':
    delete:
      description: Delete Org MxTunnel
      operationId: deleteOrgMxTunnel
      parameters:
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: deleteOrgMxTunnel
      tags:
        - MxTunnels
        - Organization
    get:
      description: Get Org MxTunnel Details
      operationId: getOrgMxTunnelsDetails
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgMxTunnelsDetails
      tags:
        - MxTunnels
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
      - in: path
        name: mxtunnel_id
        required: true
        schema:
          type: string
    put:
      description: Update Org MxTunnel
      operationId: updateOrgMxTunnel
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: HQ
              type: object
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: updateOrgMxTunnel
      tags:
        - MxTunnels
        - Organization
  '/{org_id}/networktemplates':
    get:
      description: Get Org Network Templates
      operationId: getOrgNetworkTemplates
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: getOrgNetworkTemplates
      tags:
        - Network Templates
        - Organization
    parameters:
      - in: path
        name: org_id
        required: true
        schema:
          type: string
    post:
      description: |-
        #### Body Parameters
        **Parameter**|**Type**|**Description** 
        :-------------: |:-------------: |:-------------: 
        name|string|The name of the RF template
        country_code|string|optional, country code to use. If specified, this gets applied to all sites using the RF Template
        model_specific|object|overwrites for a specific model. If a band is specified, it will shadow the default.
        channels|list|list of channels, null or empty array means auto
        bandwidth|int|channel width for the band, 20 / 40 / 80, 80 is only applicable for band_5
        power|int|tx power of the radio, 0 mean auto
        power_min|int|when power=0, min tx power to use, HW-specific values will be used if not set
        power_max|int|when power=0, max tx power to use, HW-specific values will be used if not set
        preamble|string|short / long / auto, default is short
      operationId: createOrgNetworkTemplate
      parameters:
        - example: application/json
          in: header
          name: Accept
          schema:
            type: string
        - example: '{{csrftoken}}'
          in: header
          name: X-CSRFToken
          schema:
            type: string
        - example: application/json
          in: header
          name: Content-Type
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: xxx
                networks:
                  corp:
                    vlan_id: 600
                  default:
                    vlan_id: 1
                  guest:
                    vlan_id: 700
                  mgmt:
                    vlan_id: 500
                port_usages:
                  ap:
                    all_networks: false
                    description: WAP
                    disabled: false
                    mode: trunk
                    networks:
                      - guest
                      - corp
                    port_network: mgmt
                    stp_edge: true
                  default:
                    mode: access
                    port_network: default
                    stp_edge: false
                  dynamic:
                    mode: dynamic
                    rules:
                      - equals: SENSOR
                        expression: '[0:3]'
                        src: lldp_system_name
                        usage: iot
                      - equals: SENSOR
                        expression: '[0:3]'
                        src: radius_username
                        usage: iot
                  iot:
                    mode: access
                    port_network: default
                    stp_edge: true
                  uplink:
                    all_networks: true
                    mode: trunk
                    port_network: null
                    stp_edge: false
                  user:
                    bypass_auth_when_server_down: false
                    enable_mac_auth: false
                    guest_network: null
                    mode: access
                    port_auth: dot1x
                    stp_edge: true
                radius_config:
                  acct_interim_interval: 0
                  acct_servers:
                    - host: 1.2.3.4
                      port: 1812
                      secret: testing123
                  auth_servers:
                    - host: 1.2.3.4
                      port: 1812
                      secret: testing123
                    - host: radius.internal
                      port: 1812
                      secret: testing123
                  auth_servers_retries: 3
                  auth_servers_timeout: 5
                switch_matching:
                  enable: true
                  rules:
                    - match_model: EX4300
                      'match_name[0:3]': abc
                      name: match by name
                      port_config:
                        '*':
                          usage: default
[...]
