openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2405.1.2**

    >

    > Date: **May 28, 2024**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2405.1.2
  x-codegen-settings:
    BrandLabel: Juniper Networks
    EnableAdditionalModelProperties: true
    GenerateEnums: false
    ProjectName: MistAPI
    ReturnCompleteHttpResponse: true
    SortResources: true
    enableLogging: true
    generateExceptions: false
    generateInterfaces: true
    generateModels: true
    nullify404: true
    shortCopyrightNotice: "Copyright \xA9 2024 Juniper Networks, Inc.  All rights\
      \ reserved"
    useControllerPrefix: false
    useEnumPostfix: true
    useMethodPrefix: false
    useModelPostfix: false
    userAgent: SDK 2024.2.1
    userConfigurableRetries: true
  x-server-configuration:
    default-environment: Mist Global 01
    default-server: API Host
    environments:
    - name: Mist Global 01
      servers:
      - name: API Host
        url: https://api.mist.com
    - name: Mist Global 02
      servers:
      - name: API Host
        url: https://api.gc1.mist.com
    - name: Mist Global 03
      servers:
      - name: API Host
        url: https://api.ac2.mist.com
    - name: Mist Global 04
      servers:
      - name: API Host
        url: https://api.gc2.mist.com
    - name: Mist EMEA 01
      servers:
      - name: API Host
        url: https://api.eu.mist.com
    - name: Mist EMEA 02
      servers:
      - name: API Host
        url: https://api.gc3.mist.com
    - name: Mist APAC 01
      servers:
      - name: API Host
        url: https://api.ac5.mist.com
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist EMEA 01
  url: https://api.eu.mist.com
- description: Mist EMEA 02
  url: https://api.gc3.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- description: A site represents a project, a deployment. For MSP, it can be as small
    as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps,
    Wlans, Policies, Zones.
  name: Sites
- name: Sites AP Templates
- name: Sites Alarms
- name: Sites Anomaly
- description: Applications contains a list of applications users are interested in
    monitoring / routing / policying
  name: Sites Applications
- name: Sites Asset Filters
- name: Sites Assets
- name: Sites Beacons
- name: Sites Calls
- name: Sites Clients - NAC
- name: Sites Clients - SDK
- name: Sites Clients - Wan
- name: Sites Clients - Wired
- name: Sites Clients - Wireless
- name: Sites Device Profiles
- description: 'Mist provides many ways (device-type specific template, site template,
    device profile, per-device) to configure devices for different kind of scenarios.

    The precedence goes from most specific to least specific

    Device > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template
    > Site Template > Site Setting'
  name: Sites Devices
- name: Sites Devices - Discovered Switches
- description: API Call for 3rd party devices
  name: Sites Devices - Others
- name: Sites Devices - WAN Cluster
- name: Sites Devices - Wired
- name: Sites Devices - Wired - Virtual Chassis
- name: Sites Devices - Wireless
- name: Sites Devices Stats
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Sites EVPN Topologies
- name: Sites Events
- name: Sites Gateway Templates
- name: Sites Guests
- name: Sites Insights
- name: Sites JSE
- name: Sites Licenses
- name: Sites Location
- name: Sites Maps
- name: Sites Maps - Auto-orientation
- name: Sites Maps - Auto-placement
- name: Sites MxEdges
- name: Sites Network Templates
- name: Sites Networks
- name: Sites Psks
- name: Sites RF Templates
- name: Sites RRM
- name: Sites RSSI Zones
- name: Sites Rfdiags
- name: Sites Rogues
- name: Sites SLEs
- name: Sites Service Policies
- name: Sites Services
- name: Sites Setting
- name: Sites Site Templates
- name: Sites Skyatp
- name: Sites Synthetic Tests
- name: Sites UI Settings
- name: Sites VPNs
- name: Sites WAN Usages
- name: Sites Webhooks
- name: Sites Wlans
- name: Sites WxRules
- name: Sites WxTags
- name: Sites WxTunnels
- name: Sites Zones
- name: Sites vBeacons
- name: Utilities Common
- name: Utilities LAN
- name: Utilities Location
- name: Utilities MxEdge
- name: Utilities PCAPs
- name: Utilities Upgrade
- name: Utilities WAN
- name: Utilities Wi-Fi
paths:
  /api/v1/sites/{site_id}:
    delete:
      description: Delete Site
      operationId: deleteSite
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteSite
      tags:
      - Sites
    get:
      description: Get Site Info
      operationId: getSiteInfo
      responses:
        '200':
          $ref: '#/components/responses/Site'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteInfo
      tags:
      - Sites
    parameters:
    - $ref: '#/components/parameters/site_id'
    put:
      description: Update Site Info
      operationId: updateSiteInfo
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  address: string
                  alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  country_code: string
                  latlng:
                    lat: 0
                    lng: 0
                  name: string
                  networktemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  notes: string
                  rftemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  secpolicy_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  sitegroup_ids:
                  - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  timezone: string
            schema:
              $ref: '#/components/schemas/site'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Site'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateSiteInfo
      tags:
      - Sites
  /api/v1/sites/{site_id}/alarms/ack:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Ack multiple Site Alarms
      operationId: multiAckSiteAlarms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/alarm_ack'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: multiAckSiteAlarms
      tags:
      - Sites Alarms
  /api/v1/sites/{site_id}/alarms/ack_all:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: 'Ack all Site Alarms


        **N.B.**: Batch size for multiple alarm ack and unack has to be less or or
        equal to 1000.'
      operationId: ackSiteAllAlarms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/note'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: ackSiteAllAlarms
      tags:
      - Sites Alarms
  /api/v1/sites/{site_id}/alarms/count:
    get:
      description: Count Site Alarms
      operationId: countSiteAlarms
      parameters:
      - description: Group by and count the alarms by some distinct field
        in: query
        name: distinct
        schema:
          $ref: '#/components/schemas/alarm_count_disctinct'
      - description: Name of the admins who have acked the alarms; accepts multiple
          values separated by comma
        in: query
        name: ack_admin_name
        schema:
          type: string
      - in: query
        name: acked
        schema:
          type: boolean
      - description: Key-name of the alarms; accepts multiple values separated by
          comma
        in: query
        name: type
        schema:
          type: string
      - description: Alarm severity; accepts multiple values separated by comma
        in: query
        name: severity
        schema:
          type: string
      - description: Alarm group name; accepts multiple values separated by comma
        in: query
        name: group
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/Count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countSiteAlarms
      tags:
      - Sites Alarms
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/alarms/search:
    get:
      description: Search Site Alarms
      operationId: searchSiteAlarms
      parameters:
      - description: Key-name of the alarms; accepts multiple values separated by
          comma
        in: query
        name: type
        schema:
          type: string
      - description: Name of the admins who have acked the alarms; accepts multiple
          values separated by comma
        in: query
        name: ack_admin_name
        schema:
          type: string
      - in: query
        name: acked
        schema:
          type: boolean
      - description: Alarm severity; accepts multiple values separated by comma
        in: query
        name: severity
        schema:
          type: string
      - description: Alarm group name; accepts multiple values separated by comma
        in: query
        name: group
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/AlarmsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchSiteAlarms
      tags:
      - Sites Alarms
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/alarms/unack:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Unack multiple Site Alarms
      operationId: multiUnackSiteAlarms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/alarm_ack'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: multiUnackSiteAlarms
      tags:
      - Sites Alarms
  /api/v1/sites/{site_id}/alarms/unack_all:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: 'Unack all Site Alarms


        **N.B.**: Batch size for multiple alarm ack and unack has to be less or or
        equal to 1000.'
      operationId: unackSiteAllArlarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  note: maintenance window
            schema:
              $ref: '#/components/schemas/note'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: unackSiteAllArlarms
      tags:
      - Sites Alarms
  /api/v1/sites/{site_id}/alarms/{alarm_id}/ack:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/alarm_id'
    post:
      description: Ack Site Alarm
      operationId: ackSiteAlarm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/note'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: ackSiteAlarm
      tags:
      - Sites Alarms
  /api/v1/sites/{site_id}/alarms/{alarm_id}/unack:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/alarm_id'
    post:
      description: Unack Site Alarm
      operationId: unackSiteAlarm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/note'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: unackSiteAlarm
      tags:
      - Sites Alarms
  /api/v1/sites/{site_id}/anomaly/client/{client_mac}/{metric}:
    get:
      description: Get Client Anomaly Events
      operationId: getSiteAnomalyEventsForClient
      responses:
        '200':
          $ref: '#/components/responses/AnomalyMetrics'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteAnomalyEventsForClient
      tags:
      - Sites Anomaly
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/client_mac'
    - $ref: '#/components/parameters/metric'
  /api/v1/sites/{site_id}/anomaly/device/{device_mac}/{metric}:
    get:
      description: Get Device Anomaly Events
      operationId: getSiteAnomalyEventsforDevice
      responses:
        '200':
          $ref: '#/components/responses/AnomalyMetrics'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteAnomalyEventsforDevice
      tags:
      - Sites Anomaly
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/metric'
    - $ref: '#/components/parameters/device_mac'
  /api/v1/sites/{site_id}/anomaly/{metric}:
    get:
      description: Get Site Anomaly Events
      operationId: getSiteAnomalyEvents
      responses:
        '200':
          $ref: '#/components/responses/AnomalyMetrics'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteAnomalyEvents
      tags:
      - Sites Anomaly
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/metric'
  /api/v1/sites/{site_id}/apps:
    get:
      description: Get List of Site Applications
      operationId: listSiteApps
      responses:
        '200':
          $ref: '#/components/responses/SiteApps'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSiteApps
      tags:
      - Sites Applications
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/aptemplates/derived:
    get:
      description: Get derived AP Templates for Site
      operationId: getSiteApTemplateDerived
      parameters:
      - description: whether resolve the site variables
        in: query
        name: resolve
        schema:
          type: boolean
      responses:
        '200':
          $ref: '#/components/responses/Aptemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteApTemplateDerived
      tags:
      - Sites AP Templates
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/assetfilters:
    get:
      description: Get List of Site Asset Filters
      operationId: listSiteAssetFilters
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/AssetfiltersArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSiteAssetFilters
      tags:
      - Sites Asset Filters
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Create Site Asset Filter
      operationId: createSiteAssetFilters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/asset_filter'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Assetfilter'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createSiteAssetFilters
      tags:
      - Sites Asset Filters
  /api/v1/sites/{site_id}/assetfilters/{assetfilter_id}:
    delete:
      description: Deletes an existing BLE asset filter for the given site.
      operationId: deleteSiteAssetFilter
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteSiteAssetFilter
      tags:
      - Sites Asset Filters
    get:
      description: Get Site Asset Filter Details
      operationId: getSiteAssetFilter
      responses:
        '200':
          $ref: '#/components/responses/Assetfilter'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteAssetFilter
      tags:
      - Sites Asset Filters
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/assetfilter_id'
    put:
      description: Updates an existing BLE asset filter for the given site.
      operationId: updateSiteAssetFilter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/asset_filter'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Assetfilter'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateSiteAssetFilter
      tags:
      - Sites Asset Filters
  /api/v1/sites/{site_id}/assets:
    get:
      description: Get List of Site Assets
      operationId: listSiteAssets
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/AssetsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSiteAssets
      tags:
      - Sites Assets
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Create Site Asset
      operationId: createSiteAsset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/asset'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Asset'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createSiteAsset
      tags:
      - Sites Assets
  /api/v1/sites/{site_id}/assets/import:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: "Impert Site Assets. \n\nIt can be done via a CSV file or a JSON\
        \ payload.\n\n## CSV File Format\n```csv\nname,mac\n\"asset_name\",5c5b53010101\n\
        ``` "
      operationId: importSiteAssets
      parameters:
      - description: API will replace the assets with same mac if provided `upsert`==`True`,
          otherwise will report in errors in response.
        in: query
        name: upsert
        schema:
          default: 'False'
          enum:
          - 'True'
          - 'False'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assets_import_json'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/assets_import_file'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: importSiteAssets
      tags:
      - Sites Assets
  /api/v1/sites/{site_id}/assets/{asset_id}:
    delete:
      description: Delete Site Asset
      operationId: deleteSiteAsset
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteSiteAsset
      tags:
      - Sites Assets
    get:
      description: Get Site Asset Details
      operationId: getSiteAsset
      responses:
        '200':
          $ref: '#/components/responses/Asset'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteAsset
      tags:
      - Sites Assets
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/asset_id'
    put:
      description: Update Site Asset
      operationId: updateSiteAsset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/asset'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Asset'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateSiteAsset
      tags:
      - Sites Assets
  /api/v1/sites/{site_id}/beacons:
    get:
      description: Get List of Site Beacons
      operationId: listSiteBeacons
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/BeaconsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSiteBeacons
      tags:
      - Sites Beacons
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Create Site Beacon
      operationId: createSiteBeacon
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  eddystone_instance: string
                  eddystone_namespace: string
                  eddystone_url: string
                  ibeacon_major: 0
                  ibeacon_minor: 0
                  ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  mac: string
                  map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  name: string
                  power: 0
                  type: eddystone-uid
                  x: 0
                  y: 0
            schema:
              $ref: '#/components/schemas/beacon'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Beacon'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createSiteBeacon
      tags:
      - Sites Beacons
  /api/v1/sites/{site_id}/beacons/{beacon_id}:
    delete:
      description: Delete Site Beacon
      operationId: deleteSiteBeacons
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteSiteBeacons
      tags:
      - Sites Beacons
    get:
      description: Get Site Beacon Details
      operationId: getSiteBeacon
      responses:
        '200':
          $ref: '#/components/responses/Beacon'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteBeacon
      tags:
      - Sites Beacons
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/beacon_id'
    put:
      description: Update Site Beacon
      operationId: updateSiteBeacons
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  eddystone_instance: string
                  eddystone_namespace: string
                  eddystone_url: string
                  ibeacon_major: 0
                  ibeacon_minor: 0
                  ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  mac: string
                  map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  name: string
                  power: 0
                  type: eddystone-uid
                  x: 0
                  y: 0
            schema:
              $ref: '#/components/schemas/beacon'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Beacon'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateSiteBeacons
      tags:
      - Sites Beacons
  /api/v1/sites/{site_id}/clients/count:
    get:
      description: Count by Distinct Attributes of Clients
      operationId: countSiteWirelessClients
      parameters:
      - example: hostname
        in: query
        name: distinct
        schema:
          default: device
          enum:
          - ssid
          - ap
          - ip
          - vlan
          - hostname
          - os
          - model
          - device
          title: Site Clients count distinct
          type: string
      - in: query
        name: ssid
        schema:
          type: string
      - in: query
        name: ap
        schema:
          type: string
      - $ref: '#/components/parameters/ip'
      - in: query
        name: vlan
        schema:
          type: string
      - in: query
        name: hostname
        schema:
          type: string
      - in: query
        name: os
        schema:
          type: string
      - in: query
        name: model
        schema:
          type: string
      - in: query
        name: device
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/Count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countSiteWirelessClients
      tags:
      - Sites Clients - Wireless
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/clients/disconnect:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: To unauthorize multiple clients
      operationId: disconnectSiteMultipleClients
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mac_addresses'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: disconnectSiteMultipleClients
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/clients/events/count:
    get:
      description: Count by Distinct Attributes of Client-Events
      operationId: countSiteWirelessClientEvents
      parameters:
      - example: type
        in: query
        name: distinct
        schema:
          enum:
          - type
          - proto
          - band
          - channel
          - wlan_id
          - ssid
          title: Site Client Events count distinct
          type: string
      - $ref: '#/components/parameters/client_event_type'
      - description: for assoc/disassoc events
        in: query
        name: reason_code
        schema:
          type: integer
      - description: SSID Name
        in: query
        name: ssid
        schema:
          type: string
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - $ref: '#/components/parameters/dot11_proto'
      - $ref: '#/components/parameters/dot11_band'
      - description: wlan_id
        in: query
        name: wlan_id
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/Count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countSiteWirelessClientEvents
      tags:
      - Sites Clients - Wireless
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/clients/events/search:
    get:
      description: Get Site Clients Events
      operationId: searchSiteWirelessClientEvents
      parameters:
      - $ref: '#/components/parameters/client_event_type'
      - description: for assoc/disassoc events
        in: query
        name: reason_code
        schema:
          type: integer
      - description: SSID Name
        in: query
        name: ssid
        schema:
          type: string
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - $ref: '#/components/parameters/dot11_proto'
      - $ref: '#/components/parameters/dot11_band'
      - description: wlan_id
        in: query
        name: wlan_id
        schema:
          type: string
      - description: nacrule_id
        in: query
        name: nacrule_id
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/EventsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchSiteWirelessClientEvents
      tags:
      - Sites Clients - Wireless
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/clients/search:
    get:
      description: "Search Wireless Clients\n\n**NOTE**: fuzzy logic can be used with\
        \ \u2018*\u2019, supported filters: mac, hostname, device, os, model. E.g.\
        \ /clients/search?device=Mac*&hostname=jerry"
      operationId: searchSiteWirelessClients
      parameters:
      - description: partial / full MAC address
        in: query
        name: mac
        schema:
          type: string
      - $ref: '#/components/parameters/ip'
      - description: partial / full hostname
        in: query
        name: hostname
        schema:
          type: string
      - description: device type, e.g. Mac, Nvidia, iPhone
        in: query
        name: device
        schema:
          type: string
      - description: os, e.g. Sierra, Yosemite, Windows 10
        in: query
        name: os
        schema:
          type: string
      - description: "model, e.g. \u201CMBP 15 late 2013\u201D, 6, 6s, \u201C8+ GSM\u201D"
        in: query
        name: model
        schema:
          type: string
      - description: AP mac where the client has connected to
        in: query
        name: ap
        schema:
          type: string
      - in: query
        name: ssid
        schema:
          type: string
      - description: partial / full MAC address, hostname, username, psk_name or ip
        in: query
        name: text
        schema:
          type: string
      - description: nacrule_id
        in: query
        name: nacrule_id
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/ClientsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchSiteWirelessClients
      tags:
      - Sites Clients - Wireless
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/clients/sessions/count:
    get:
      description: Count by Distinct Attributes of Client Sessions
      operationId: countSiteWirelessClientSessions
      parameters:
      - in: query
        name: distinct
        schema:
          default: mac
          enum:
          - ssid
          - wlan_id
          - ap
          - mac
          - client_family
          - client_manufacture
          - client_model
          - client_os
          title: Site Client Sessions count distinct
          type: string
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - $ref: '#/components/parameters/dot11_band'
      - description: "E.g. \u201CMac\u201D, \u201CiPhone\u201D, \u201CApple watch\u201D"
        in: query
        name: client_family
        schema:
          type: string
      - description: "E.g. \u201CApple\u201D"
        in: query
        name: client_manufacture
        schema:
          type: string
      - description: "E.g. \u201C8+\u201D, \u201CXS\u201D"
        in: query
        name: client_model
        schema:
          type: string
      - description: "E.g. \u201CMojave\u201D, \u201CWindows 10\u201D, \u201CLinux\u201D"
        in: query
        name: client_os
        schema:
          type: string
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - description: wlan_id
        in: query
        name: wlan_id
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/Count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countSiteWirelessClientSessions
      tags:
      - Sites Clients - Wireless
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/clients/sessions/search:
    get:
      description: Search Client Sessions
      operationId: searchSiteWirelessClientSessions
      parameters:
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - $ref: '#/components/parameters/dot11_band'
      - description: "E.g. \u201CMac\u201D, \u201CiPhone\u201D, \u201CApple watch\u201D"
        in: query
        name: client_family
        schema:
          type: string
      - description: "E.g. \u201CApple\u201D"
        in: query
        name: client_manufacture
        schema:
          type: string
      - description: "E.g. \u201C8+\u201D, \u201CXS\u201D"
        in: query
        name: client_model
        schema:
          type: string
      - description: Username
        in: query
        name: client_username
        schema:
          type: string
      - description: "E.g. \u201CMojave\u201D, \u201CWindows 10\u201D, \u201CLinux\u201D"
        in: query
        name: client_os
        schema:
          type: string
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - description: wlan_id
        in: query
        name: wlan_id
        schema:
          type: string
      - $ref: '#/components/parameters/psk_id_query'
      - description: PSK Name
        in: query
        name: psk_name
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/ClientSessionsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchSiteWirelessClientSessions
      tags:
      - Sites Clients - Wireless
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/clients/unauthorize:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: "This unauthorize clients (if they are guest) and disconnect them.\
        \ From the guest\u2019s perspective, they will see the splash page again and\
        \ go through the flow (e.g. Terms of Use) again."
      operationId: unauthorizeSiteMultipleClients
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mac_addresses'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: unauthorizeSiteMultipleClients
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/clients/{client_mac}/coa:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/client_mac'
    post:
      description: Trigger a CoA (change of authorization) against a client
      operationId: reauthSiteDot1xWirelessClient
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: reauthSiteDot1xWirelessClient
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/clients/{client_mac}/disconnect:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/client_mac'
    post:
      description: "This disconnect a client (and it\u2019s likely to connect back)"
      operationId: disconnectSiteWirelessClient
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: disconnectSiteWirelessClient
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/clients/{client_mac}/events:
    get:
      description: Get the list of events for a specific client
      operationId: getSiteEventsForClient
      parameters:
      - description: e.g. MARVIS_EVENT_CLIENT_DHCP_STUCK
        in: query
        name: type
        schema:
          type: string
      - $ref: '#/components/parameters/dot11_proto'
      - $ref: '#/components/parameters/dot11_band'
      - in: query
        name: channel
        schema:
          type: string
      - in: query
        name: wlan_id
        schema:
          type: string
      - in: query
        name: ssid
        schema:
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/ClientEventsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteEventsForClient
      tags:
      - Sites Clients - Wireless
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/client_mac'
  /api/v1/sites/{site_id}/clients/{client_mac}/unauthorize:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/client_mac'
    post:
      description: "This unauthorize a client (if it\u2019s a guest) and disconnect\
        \ it. From the guest\u2019s perspective, s/he will see the splash page again\
        \ and go through the flow (e.g. Terms of Use) again."
      operationId: unauthorizeSiteWirelessClient
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: unauthorizeSiteWirelessClient
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/deviceprofiles/derived:
    get:
      description: Retrieves the list of Device Profiles available for the Site
      operationId: listSiteDeviceProfilesDerived
      parameters:
      - description: whether resolve the site variables
        in: query
        name: resolve
        schema:
          default: false
          type: boolean
      responses:
        '200':
          $ref: '#/components/responses/DeviceprofilesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSiteDeviceProfilesDerived
      tags:
      - Sites Device Profiles
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices:
    get:
      description: Get list of devices on the site.
      operationId: listSiteDevices
      parameters:
      - in: query
        name: type
        schema:
          $ref: '#/components/schemas/device_type_with_all'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/DevicesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSiteDevices
      tags:
      - Sites Devices
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/ap_channels:
    get:
      description: Get a list of allowed channels (per channel width)
      operationId: getSiteDeviceRadioChannels
      parameters:
      - description: country code for the site (for AP config generation), in [two-character](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
        example: US
        in: query
        name: country_code
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DeviceRadioChannels'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteDeviceRadioChannels
      tags:
      - Sites Devices - Wireless
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/config_history/count:
    get:
      description: Counts the number of entries in device config history for distinct
        field with given filters
      operationId: countSiteDeviceConfigHistory
      parameters:
      - in: query
        name: distinct
        schema:
          title: Site Device Config History count distinct
          type: string
      - in: query
        name: mac
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/Count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countSiteDeviceConfigHistory
      tags:
      - Sites Devices
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/config_history/search:
    get:
      description: Search for entries in device config history
      operationId: searchSiteDeviceConfigHistory
      parameters:
      - in: query
        name: type
        schema:
          $ref: '#/components/schemas/device_type'
      - description: Device MAC Address
        in: query
        name: mac
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/ConfigsHistorySearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchSiteDeviceConfigHistory
      tags:
      - Sites Devices
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/count:
    get:
      description: Counts the number of entries in ap events history for distinct
        field with given filters
      operationId: countSiteDevices
      parameters:
      - in: query
        name: distinct
        schema:
          default: model
          enum:
          - model
          - version
          - map_id
          - hostname
          - mxtunnel_status
          - mxedge_id
          - lldp_system_name
          - lldp_system_desc
          - lldp_port_id
          - lldp_mgmt_addr
          title: Site Devices count distinct
          type: string
      - in: query
        name: hostname
        schema:
          type: string
      - in: query
        name: model
        schema:
          type: string
      - in: query
        name: mac
        schema:
          type: string
      - in: query
        name: version
        schema:
          type: string
      - in: query
        name: mxtunnel_status
        schema:
          type: string
      - in: query
        name: mxedge_id
        schema:
          type: string
      - in: query
        name: lldp_system_name
        schema:
          type: string
      - in: query
        name: lldp_system_desc
        schema:
          type: string
      - in: query
        name: lldp_port_id
        schema:
          type: string
      - in: query
        name: lldp_mgmt_addr
        schema:
          type: string
      - in: query
        name: map_id
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/Count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countSiteDevices
      tags:
      - Sites Devices
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/events/count:
    get:
      description: Counts the number of entries in ap events history for distinct
        field with given filters
      operationId: countSiteDeviceEvents
      parameters:
      - in: query
        name: distinct
        schema:
          default: model
          enum:
          - model
          - type
          - type_code
          - mac
          title: Site Device Events count distinct
          type: string
      - in: query
        name: model
        schema:
          type: string
      - $ref: '#/components/parameters/device_event_type'
      - in: query
        name: type_code
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/Count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countSiteDeviceEvents
      tags:
      - Sites Devices
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/events/search:
    get:
      description: Search Devices Events
      operationId: searchSiteDeviceEvents
      parameters:
      - description: device mac
        in: query
        name: mac
        schema:
          type: string
      - description: device model
        in: query
        name: model
        schema:
          type: string
      - description: event message
        in: query
        name: text
        schema:
          type: string
      - description: event time
        in: query
        name: timestamp
        schema:
          type: string
      - $ref: '#/components/parameters/device_event_type'
      - description: Return last/recent event for passed in field
        example: port_id
        in: query
        name: last_by
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/EventsDevices'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchSiteDeviceEvents
      tags:
      - Sites Devices
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/export:
    get:
      description: To download the exported device information
      operationId: exportSiteDevices
      responses:
        '200':
          $ref: '#/components/responses/File'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: exportSiteDevices
      tags:
      - Sites Devices
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/import:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: 'Import Information for Multiple Devices


        CSV format:

        ```csv

        mac,name,map_id,x,y,height,orientation,labels,band_24.power,band_24.bandwidth,band_24.channel,band_24.disabled,band_5.power,band_5.bandwidth,band_5.channel,band_5.disabled,band_6.power,band_6.bandwidth,band_6.channel,band_6.disabled

        5c5b53010101,"AP 1",845a23bf-bed9-e43c-4c86-6fa474be7ae5,30,10,2.3,45,"guest,
        campus, vip",1,20,0,false,0,40,0,false,17,80,0,false

        ```'
      operationId: importSiteDevices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ap_import_json'
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/binary_stream'
      responses:
        '200':
          $ref: '#/components/responses/DevicesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: importSiteDevices
      tags:
      - Sites Devices
  /api/v1/sites/{site_id}/devices/last_config/count:
    get:
      description: Counts the number of entries in device config history for distinct
        field with given filters
      operationId: countSiteDeviceLastConfig
      parameters:
      - in: query
        name: distinct
        schema:
          default: mac
          enum:
          - version
          - name
          - site_id
          - mac
          title: Site Device Last Config count distinct
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/Count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countSiteDeviceLastConfig
      tags:
      - Sites Devices
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/last_config/search:
    get:
      description: Search Device Last Configs
      operationId: searchSiteDeviceLastConfigs
      parameters:
      - in: query
        name: type
        schema:
          $ref: '#/components/schemas/device_type'
      - in: query
        name: mac
        schema:
          type: string
      - in: query
        name: version
        schema:
          type: string
      - in: query
        name: name
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/ConfigsHistorySearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchSiteDeviceLastConfigs
      tags:
      - Sites Devices
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/reprovision:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: To force all APs to reprovision itself again.
      operationId: reprovisionSiteAllAps
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: reprovisionSiteAllAps
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/devices/reset_radio_config:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Reset all APs in the Site to use RRM
      operationId: resetSiteAllApsToUseRrm
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  bands:
                  - '24'
                  - '5'
                  - '6'
                  force: false
            schema:
              $ref: '#/components/schemas/utils_reset_radio_config'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: resetSiteAllApsToUseRrm
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/devices/restart:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Note that only the devices that are connected will be restarted.
      operationId: multiRestartSiteDevices
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  device_ids:
                  - 00000000-0000-0000-1000-5c5b35584a6f
                  - 00000000-0000-0000-1000-5c5b350ea3b3
              example-2:
                value:
                  device_ids:
                  - 421f6eca-6276-4893-bfeb-53cbbbba6f02
                  node: node0
            schema:
              $ref: '#/components/schemas/utils_devices_restart_multi'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: multiRestartSiteDevices
      tags:
      - Sites Devices
  /api/v1/sites/{site_id}/devices/search:
    get:
      description: Search Device
      operationId: searchSiteDevices
      parameters:
      - description: partial / full hostname
        in: query
        name: hostname
        schema:
          type: string
      - in: query
        name: type
        schema:
          $ref: '#/components/schemas/device_type'
      - description: device model
        in: query
        name: model
        schema:
          type: string
      - description: device MAC
        in: query
        name: mac
        schema:
          type: string
      - description: version
        in: query
        name: version
        schema:
          type: string
      - description: power_constrained
        in: query
        name: power_constrained
        schema:
          type: boolean
      - $ref: '#/components/parameters/ip'
      - description: MxTunnel status, up / down
        in: query
        name: mxtunnel_status
        schema:
          enum:
          - up
          - down
          type: string
      - description: Mist Edge id, if AP is connecting to a Mist Edge
        in: query
        name: mxedge_id
        schema:
          format: uuid
          type: string
      - description: LLDP system name
        in: query
        name: lldp_system_name
        schema:
          type: string
      - description: LLDP system description
        in: query
        name: lldp_system_desc
        schema:
          type: string
      - description: LLDP port id
        in: query
        name: lldp_port_id
        schema:
          type: string
      - description: LLDP management ip address
        in: query
        name: lldp_mgmt_addr
        schema:
          type: string
      - description: Channel of band_24
        in: query
        name: band_24_channel
        schema:
          type: integer
      - description: Channel of band_5
        in: query
        name: band_5_channel
        schema:
          type: integer
      - description: Channel of band_6
        in: query
        name: band_6_channel
        schema:
          type: integer
      - description: Bandwidth of band_24
        in: query
        name: band_24_bandwith
        schema:
          type: integer
      - description: Bandwidth of band_5
        in: query
        name: band_5_bandwith
        schema:
          type: integer
      - description: Bandwidth of band_6
        in: query
        name: band_6_bandwith
        schema:
          type: integer
      - description: Port speed of eth0
        in: query
        name: eth0_port_speed
        schema:
          type: integer
      - description: sort options
        in: query
        name: sort
        schema:
          default: timestamp
          enum:
          - timestamp
          - mac
          - model
          - sku
          type: string
      - description: sort options in reverse order
        in: query
        name: desc-sort
        schema:
          enum:
          - timestamp
          - mac
          - model
          - sku
          type: string
      - description: whether to return device stats
        in: query
        name: stats
        schema:
          default: false
          type: boolean
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/DevicesSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchSiteDevices
      tags:
      - Sites Devices
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/send_ble_beacon:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: 'Send arbitrary BLE Beacon for a period of time


        Note that only the devices that are connected will be restarted.'
      operationId: sendSiteDevicesArbitratryBleBeacon
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  beacon_frame: 68b329da9893e34099c7d8ad5cb9c940
                  beacon_freq: 100
                  duration: 10
                  macs:
                  - 5c5b35584a6f
                  - 5c5b350ea3b3
                  map_ids:
                  - 845a23bf-bed9-e43c-4c86-6fa474be7ae5
            schema:
              $ref: '#/components/schemas/utils_send_ble_beacon'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: sendSiteDevicesArbitratryBleBeacon
      tags:
      - Utilities Location
  /api/v1/sites/{site_id}/devices/upgrade:
    get:
      description: Get all upgrades for site
      operationId: listSiteDevicesUpgrade
      parameters:
      - in: query
        name: status
        schema:
          enum:
          - downloading
          - completed
          - created
          - downloaded
          - upgrading
          - cancelled
          - failed
          title: site_device_upgrade_status_filter
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DeviceUpgradeArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSiteDevicesUpgrade
      tags:
      - Utilities Upgrade
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: "Upgrade Multiple Device\n\n**Note**: this call doesn\u2019t guarantee\
        \ the devices to be upgraded right away (they may be offline)"
      operationId: multiUpgradeSiteDevices
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  canary_phases:
                  - 1
                  - 10
                  - 50
                  - 100
                  device_ids:
                  - string
                  enable_p2p: true
                  force: false
                  max_failure_percentage: 5
                  max_failures:
                  - 0
                  models:
                  - string
                  start_time: 0
                  strategy: big_bang
                  version: stable
            schema:
              $ref: '#/components/schemas/device_upgrade_site_multi'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/DeviceUpgrade'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: multiUpgradeSiteDevices
      tags:
      - Utilities Upgrade
  /api/v1/sites/{site_id}/devices/upgrade/{upgrade_id}:
    get:
      description: Get Site Device Upgrade
      operationId: getSiteUpgrade
      responses:
        '200':
          $ref: '#/components/responses/DeviceUpgrade'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteUpgrade
      tags:
      - Utilities Upgrade
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/upgrade_id'
  /api/v1/sites/{site_id}/devices/upgrade/{upgrade_id}/cancel:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/upgrade_id'
    post:
      description: Best effort to cancel an upgrade. Devices which are already upgraded
        wont be touched
      operationId: cancelSiteDeviceUpgrade
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: cancelSiteDeviceUpgrade
      tags:
      - Utilities Upgrade
  /api/v1/sites/{site_id}/devices/upgrade_bios:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Upgrade Bios on Multiple Device
      operationId: upgradeSiteMultipleDevicesBios
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/upgrade_bios_multi'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: upgradeSiteMultipleDevicesBios
      tags:
      - Utilities LAN
  /api/v1/sites/{site_id}/devices/upgrade_fpga:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Upgrade Bios on Multiple Device
      operationId: upgradeSiteMultipleDevicesFpga
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/upgrade_fpga_multi'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: upgradeSiteMultipleDevicesFpga
      tags:
      - Utilities LAN
  /api/v1/sites/{site_id}/devices/versions:
    get:
      description: Get List of Available Device Versions
      operationId: listSiteAvailableDeviceVersions
      parameters:
      - in: query
        name: type
        schema:
          $ref: '#/components/schemas/device_type'
      - description: fetch version for device model, use/combine with `type` as needed
          (for switch and gateway devices)
        in: query
        name: model
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DeviceVersion'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSiteAvailableDeviceVersions
      tags:
      - Utilities Upgrade
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/devices/zeroize:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Zeroize all FIPS APs in the Site
      operationId: zeroizeSiteFipsAllAps
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  password: NUKETHESITE
            schema:
              $ref: '#/components/schemas/utils_zeroise_fips'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: zeroizeSiteFipsAllAps
      tags:
      - Utilities Wi-Fi
  /api/v1/sites/{site_id}/devices/{device_id}:
    delete:
      description: Delete Site Device
      operationId: deleteSiteDevice
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteSiteDevice
      tags:
      - Sites Devices
    get:
      description: Get Device Configuration
      operationId: getSiteDevice
      responses:
        '200':
          $ref: '#/components/responses/Device'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteDevice
      tags:
      - Sites Devices
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    put:
      description: Update Device Configuration
      operationId: updateSiteDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mist_device'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Device'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateSiteDevice
      tags:
      - Sites Devices
  /api/v1/sites/{site_id}/devices/{device_id}/arp:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: "ARP can be performed on the Device. The output will be available\
        \ through websocket. As there can be multiple command issued against the same\
        \ AP at the same time and the output all goes through the same websocket stream,\
        \ session is introduced for demux.\n\n\n#### Subscribe to Device Command outputs\n\
        `WS /api-ws/v1/stream`\n\n```json\n{\n    \"subscribe\": \"/sites/{site_id}/devices/{device_id}/cmd\"\
        \n}\n```\n##### Example output from ws stream\n```json\n{ \n \"event\": \"\
        data\", \n \"channel\": \"/sites/4ac1dcf4-9d8b-7211-65c4-057819f0862b/devices/00000000-0000-0000-1000-5c5b350e0060/cmd\"\
        , \n \"data\": { \n   \"session\": \"session_id\", \n   \"raw\": \n   \"Output\"\
        : \"\\tMAC\\t\\tDEV\\tVLAN\\tRx Packets\\t\\t Rx Bytes\\t\\tTx Packets\\t\\\
        t Tx Bytes\\tFlows\\tIdle sec\\n-----------------------------------------------------------------------------------------------------------------------\"\
        \n  } \n}\n```"
      operationId: arpFromDevice
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  node: node0
            schema:
              $ref: '#/components/schemas/ha_cluster_node'
      responses:
        '200':
          $ref: '#/components/responses/WebsocketSession'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: arpFromDevice
      tags:
      - Utilities Common
  /api/v1/sites/{site_id}/devices/{device_id}/bounce_port:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: "Port Bounce can be performed from the Switch.The output will be\
        \ available through websocket. As there can be multiple command issued against\
        \ the same AP at the same time and the output all goes through the same websocket\
        \ stream, session is introduced for demux.\n\n#### Subscribe to Device Command\
        \ outputs\n`WS /api-ws/v1/stream`\n\n```json\n{\n    \"subscribe\": \"/sites/{site_id}/devices/{device_id}/cmd\"\
        \n}\n```\n##### Example output from ws stream\n```json\n{\n    \"event\":\
        \ \"data\",\n    \"channel\": \"/sites/4ac1dcf4-9d8b-7211-65c4-057819f0862b/devices/00000000-0000-0000-1000-5c5b350e0060/cmd\"\
        ,\n    \"data\": {\n        \"session\": \"session_id\",\n        \"raw\"\
        : \"Port bounce complete.\"\n    }\n}\n```"
      operationId: portsBounceFromSwitch
      requestBody:
        content:
          application/json:
            examples:
              multiple:
                value:
                  ports:
                  - ge-0/0/0
                  - ge-0/0/1
              single:
                value:
                  port: ge-0/0/0
            schema:
              $ref: '#/components/schemas/utils_bounce_port'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: portsBounceFromSwitch
      tags:
      - Utilities LAN
  /api/v1/sites/{site_id}/devices/{device_id}/cable_test:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: "TDR can be performed from the Switch. The output will be available\
        \ through websocket. As there can be multiple command issued against the same\
        \ Switch at the same time and the output all goes through the same websocket\
        \ stream, session is introduced for demux.\n\n#### Subscribe to Device Command\
        \ outputs\n`WS /api-ws/v1/stream`\n\n```json\n{\n    \"subscribe\": \"/sites/{site_id}/devices/{device_id}/cmd\"\
        \n}\n```\n##### Example output from ws stream\n```json\n{\n    \"event\":\
        \ \"data\",\n    \"channel\": \"/sites/4ac1dcf4-9d8b-7211-65c4-057819f0862b/devices/00000000-0000-0000-1000-5c5b350e0060/cmd\"\
        ,\n    \"data\": {\n        \"session\": \"session_id\",\n        \"raw\"\
        : \"Interface TDR detail:\\nTest status : Test successfully executed  ge-0/0/0\\\
        n\"\n    }\n}\n```"
      operationId: cableTestFromSwitch
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  port: ge-0/0/0
            schema:
              $ref: '#/components/schemas/utils_cable_test'
      responses:
        '200':
          $ref: '#/components/responses/WebsocketSession'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: cableTestFromSwitch
      tags:
      - Utilities LAN
  /api/v1/sites/{site_id}/devices/{device_id}/check_radius_server:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: "Ping test from the AP to confirm \u2018reachability\u2019 of the\
        \ Radius server. Utilize Juniper EX switch(to which an AP is connected to)\
        \ radius test capabilities to get details on the Radius Server \u2018availability\u2019\
        ."
      operationId: startSiteSwitchRadiusSyntheticTest
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  password: string
                  profile: dot1x
                  user: string
            schema:
              $ref: '#/components/schemas/synthetic_test_radius_server'
      responses:
        '200':
          $ref: '#/components/responses/WebsocketSession'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: triggerSiteSwitchRadiusSyntheticTest
      tags:
      - Sites Synthetic Tests
  /api/v1/sites/{site_id}/devices/{device_id}/clear_arp:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: 'Clear ARP cache for SSR, SRX and Switch


        Clear the entire ARP cache or a subset if arguments are provided.


        *Note*: port_id is optional if neither vlan nor ip is specified'
      operationId: clearSiteSsrArpCache
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/utils_clear_arp'
      responses:
        '200':
          $ref: '#/components/responses/WebsocketSession'
        '400':
          description: 'port_id must be specified with vlan or ip

            Both vlan and ip cannot be specified'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: clearSiteSsrArpCache
      tags:
      - Utilities WAN
  /api/v1/sites/{site_id}/devices/{device_id}/clear_bgp:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: Clear routes associated with one or all BGP neighbors
      operationId: clearSiteSsrBgpRoutes
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  neighbor: all
                  type: in
                  vrf: TestVrf
            schema:
              $ref: '#/components/schemas/utils_clear_bgp'
      responses:
        '200':
          $ref: '#/components/responses/WebsocketSession'
        '400':
          description: parameter neighbor absent
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: clearSiteBgpRoutes
      tags:
      - Utilities WAN
  /api/v1/sites/{site_id}/devices/{device_id}/clear_bpdu_error:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: Clear bridge protocol data unit (BPDU) error condition caused by
        the detection of a possible bridging loop from Spanning Tree Protocol (STP)
        operation that renders the port unoperational.
      operationId: clearBpduErrosFromPortsOnSwitch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/utils_clear_bpdu'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          description: Port not specified
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: clearBpduErrosFromPortsOnSwitch
      tags:
      - Utilities LAN
  /api/v1/sites/{site_id}/devices/{device_id}/clear_mac_table:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: "Clear MAC Table from the Device.\n\nThe output will be available\
        \ through websocket. As there can be multiple command issued against the same\
        \ device at the same time and the output all goes through the same websocket\
        \ stream, `session` is introduced for demux.\n\n#### Subscribe to Device Command\
        \ outputs\n`WS /api-ws/v1/stream`\n\n```json\n{\n    \"subscribe\": \"/sites/{site_id}/devices/{device_id}/cmd\"\
        \n}\n```\n"
      operationId: clearSiteDeviceMacTable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/utils_mac_table'
        description: all attributes are optional
      responses:
        '200':
          $ref: '#/components/responses/WebsocketSession'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: clearSiteDeviceMacTable
      tags:
      - Utilities Common
  /api/v1/sites/{site_id}/devices/{device_id}/clear_macs:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: Clear all learned MAC addresses, including persistent MAC addresses,
        on a port.
      operationId: clearAllLearnedMacsFromPortOnSwitch
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  ports:
                  - ge-0/0/0.0
            schema:
              $ref: '#/components/schemas/utils_clear_macs'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: clearAllLearnedMacsFromPortOnSwitch
      tags:
      - Utilities LAN
  /api/v1/sites/{site_id}/devices/{device_id}/config_cmd:
    get:
      description: 'Get Config CLI Commands

        For a brown-field switch deployment where we adopted the switch through Adoption
        Command, we do not wipe out / overwrite the existing config automatically.
        Instead, we generate CLI commands that we would have generated. The user can
        inspect, modify, and incorporate this into their existing config manually.


        Once they feel comfortable about the config we generate, they can enable allow_mist_config
        where we will take full control of their config like a claimed switch'
      operationId: getSiteDeviceConfigCmd
      parameters:
      - description: Make output cmds sorted (for better readability) or not.
        in: query
        name: sort
        schema:
          default: 'false'
          enum:
          - 'true'
          - 'false'
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DeviceConfigCmd'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteDeviceConfigCmd
      tags:
      - Utilities Common
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
  /api/v1/sites/{site_id}/devices/{device_id}/ha:
    delete:
      description: Delete HA Cluster
      operationId: deleteSiteDeviceHaCluster
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteSiteDeviceHaCluster
      tags:
      - Sites Devices - WAN Cluster
    parameters:
    - $ref: '#/components/parameters/site_id'
[...]
