openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2401.1.5**

    >

    > Date: **February 15, 2024**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2401.1.5
  x-codegen-settings:
    BrandLabel: Juniper Networks
    EnableAdditionalModelProperties: true
    GenerateEnums: false
    ProjectName: MistAPI
    ReturnCompleteHttpResponse: true
    SortResources: true
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
  x-server-configuration:
    default-environment: Mist Global 01
    default-server: API Host
    environments:
    - name: Mist Global 01
      servers:
      - name: API Host
        url: https://api.mist.com
    - name: Mist Global 02
      servers:
      - name: API Host
        url: https://api.gc1.mist.com
    - name: Mist Global 03
      servers:
      - name: API Host
        url: https://api.ac2.mist.com
    - name: Mist Global 04
      servers:
      - name: API Host
        url: https://api.gc2.mist.com
    - name: Mist Europe 01
      servers:
      - name: API Host
        url: https://api.eu.mist.com
    - name: Mist APAC 01
      servers:
      - name: API Host
        url: https://api.ac5.mist.com
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Orgs 128T
- name: Orgs Clients - Wan
- description: API Call for 3rd party devices
  name: Orgs Devices Others
- name: Orgs Devices Stats
- name: Orgs Devices Upgrades
- description: "In Zscaler UI \n 1. add Partner Integration at https://admin.zscalerbeta.net/#administration/partner-integration\
    \ \n 2. Add Partner Administrator Role at https://admin.zscalerbeta.net/#administration/role-management\
    \ - Name: Mist - Access: Full \n 3. add Partner Admin at https://admin.zscalerbeta.net/#administration/admin-management\
    \ with - Login ID: john - email: john@abc.com \n 4. Find the cloud name for ZIA\
    \ https://help.zscaler.com/zia/what-my-cloud-name-zia\n"
  name: Orgs Devices Zscaler
- description: Gateway Template is applied to a site for gateway(s) in a site.
  name: Orgs Gateway Templates
- name: Orgs IDP Profiles
- name: Orgs Inventory
- name: Orgs Networks
- name: Orgs Service Policies
- name: Orgs Services
- name: Orgs VPNs
- name: Sites Clients - Wan
- name: Sites Devices - WAN
- name: Sites Devices - WAN Cluster
- description: API Call for 3rd party devices
  name: Sites Devices Others
- name: Sites Devices Stats
- name: Sites Devices Upgrades
- name: Sites Networks
- name: Sites Service Policies
- name: Sites Services
- name: Sites Site Templates
- name: Sites Skyatp
- name: Sites VPNs
paths:
  /api/v1/orgs/{org_id}/128routers/register_cmd:
    get:
      description: 128T devices can be managed/adopted by Mist.
      operationId: getOrg128TRegistrationCommands
      responses:
        '200':
          $ref: '#/components/responses/Router128TRegisterCmd'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrg128TRegistrationCommands
      tags:
      - tag:WAN:CONFIGURE:Orgs:128T
      - Orgs 128T
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/gatewaytemplates:
    get:
      description: Get List of Org Gateway Templates
      operationId: listOrgGatewayTemplates
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/GatewaytemplatesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgGatewayTemplates
      tags:
      - tag:WAN:CONFIGURE:Orgs:Gateway Templates
      - Orgs Gateway Templates
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create Org Gateway Template
      operationId: createOrgGatewayTemplate
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  additional_config_cmds:
                  - string
                  bgp_config:
                    property1:
                      auth_key: string
                      bfd_minimum_interval: 0
                      communities:
                      - id: string
                        local_preference: 0
                        vpn_name: string
                      disable_bfd: false
                      export: string
                      export_policy: string
                      graceful_restart_time: 0
                      hold_time: 90
                      import: string
                      import_policy: string
                      local_as: 0
                      neighbor_as: 0
                      neighbors:
                        property1:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                        property2:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                      networks:
                      - string
                      type: internal
                      via: lan
                      vpn_name: string
                      wan_name: string
                    property2:
                      auth_key: string
                      bfd_minimum_interval: 0
                      communities:
                      - id: string
                        local_preference: 0
                        vpn_name: string
                      disable_bfd: false
                      export: string
                      export_policy: string
                      graceful_restart_time: 0
                      hold_time: 90
                      import: string
                      import_policy: string
                      local_as: 0
                      neighbor_as: 0
                      neighbors:
                        property1:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                        property2:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                      networks:
                      - string
                      type: internal
                      via: lan
                      vpn_name: string
                      wan_name: string
                  created_time: 0
                  dhcpd_config:
                    property1:
                      dns_servers:
                      - 192.168.0.1
                      dns_suffix:
                      - string
                      fixed_bindings:
                        property1:
                          ip: 192.168.0.1
                          name: string
                        property2:
                          ip: 192.168.0.1
                          name: string
                      gateway: 192.168.0.1
                      ip_end: 192.168.0.1
                      ip_start: 192.168.0.1
                      servers:
                      - 192.168.0.1
                      type: local
                    property2:
                      dns_servers:
                      - 192.168.0.1
                      dns_suffix:
                      - string
                      fixed_bindings:
                        property1:
                          ip: 192.168.0.1
                          name: string
                        property2:
                          ip: 192.168.0.1
                          name: string
                      gateway: 192.168.0.1
                      ip_end: 192.168.0.1
                      ip_start: 192.168.0.1
                      servers:
                      - 192.168.0.1
                      type: local
                  extra_routes:
                    property1:
                      via: 192.168.0.1
                    property2:
                      via: 192.168.0.1
                  gateway_matching:
                    enable: true
                    rules:
                    - additional_config_cmds:
                      - string
                      name: string
                      port_config:
                        property1:
                          ae_disable_lacp: true
                          ae_idx: 0
                          aggregated: false
                          critical: true
                          description: string
                          disable_autoneg: false
                          duplex: auto
                          dynamic_usage: string
                          esilag: true
                          mtu: 1514
                          no_local_overwrite: true
                          poe_disabled: false
                          speed: auto
                          usage: string
                        property2:
                          ae_disable_lacp: true
                          ae_idx: 0
                          aggregated: false
                          critical: true
                          description: string
                          disable_autoneg: false
                          duplex: auto
                          dynamic_usage: string
                          esilag: true
                          mtu: 1514
                          no_local_overwrite: true
                          poe_disabled: false
                          speed: auto
                          usage: string
                      property1: string
                      property2: string
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f31
                  ip_configs:
                    property1:
                      ip: 192.168.0.1
                      netmask: /24
                    property2:
                      ip: 192.168.0.1
                      netmask: /24
                  modified_time: 0
                  name: string
                  networks:
                    property1:
                      created_time: 0
                      disallow_mist_services: false
                      gateway: 192.168.70.1
                      hosts:
                        property1:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                        property2:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                      id: 497f6eca-6276-4993-bfeb-53cbbbba6f32
                      internal_access:
                        enabled: true
                      internet_access:
                        create_simple_service_policy: false
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                          property2:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                        enabled: true
                        restricted: false
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: printer-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: printer-1
                      isolation: true
                      modified_time: 0
                      name: string
                      org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      subnet: 192.168.70.0/24
                      tenants:
                        property1:
                          addresses: string
                        property2:
                          addresses: string
                      vlan_id: 0
                      vpn_access:
                        property1:
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                        property2:
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                    property2:
                      created_time: 0
                      disallow_mist_services: false
                      gateway: 192.168.70.1
                      hosts:
                        property1:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                        property2:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                      id: 497f6eca-6276-4993-bfeb-53cbbbba6f33
                      internal_access:
                        enabled: true
                      internet_access:
                        create_simple_service_policy: false
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                          property2:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                        enabled: true
                        restricted: false
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: printer-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: printer-1
                      isolation: true
                      modified_time: 0
                      name: string
                      org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      subnet: 192.168.70.0/24
                      tenants:
                        property1:
                          addresses: string
                        property2:
                          addresses: string
                      vlan_id: 0
                      vpn_access:
                        property1:
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                        property2:
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                  oob_ip_config:
                    dns:
                    - string
                    dns_suffix:
                    - string
                    gateway: string
                    ip: string
                    netmask: string
                    network: string
                    node1:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                      use_mgmt_vrf: false
                      use_mgmt_vrf_for_host_out: false
                      vlan_id: 0
                    property1:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                    property2:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                    type: dynamic
                    use_mgmt_vrf: false
                    use_mgmt_vrf_for_host_out: false
                    vlan_id: 0
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  path_preferences:
                    property1:
                      paths:
                        cost: 0
                        gateway_ip: string
                        internet_access: false
                        name: string
                        networks:
                        - string
                        target_ips:
                        - string
                        type: local
                      strategy: ordered
                    property2:
                      paths:
                        cost: 0
                        gateway_ip: string
                        internet_access: false
                        name: string
                        networks:
                        - string
                        target_ips:
                        - string
                        type: local
                      strategy: ordered
                  port_config:
                    property1:
                      description: string
                      disable_autoneg: false
                      dsl_config:
                        ppoe_auth: none
                        ppoe_password: string
                        ppoe_username: string
                      duplex: full
                      ip_config:
                        dns:
                        - string
                        dns_suffix:
                        - string
                        gateway: string
                        ip: string
                        netmask: string
                        network: string
                        poser_password: string
                        ppoe_username: string
                        pppoe_auth: none
                        type: dhcp
                      lte_apn: string
                      lte_auth: none
                      lte_backup: true
                      lte_password: string
                      lte_username: string
                      mtu: 0
                      name: string
                      networks:
                      - string
                      outer_vlan_id: 0
                      poe_disabled: false
                      port_network: string
                      preserve_dscp: true
                      redundant: true
                      reth_idx: 0
                      reth_node: string
                      speed: 1g
                      svr_port_range: 60000-60005
                      traffic_shaping:
                        class_percentages:
                        - 0
                        enabled: false
                      usage: lan
                      vlan_id: 0
                      vpn_paths:
                        property1:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                        property2:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                      wan_ext_ip: string
                      wan_source_nat:
                        disabled: false
                        nat_pool: 64.2.4.0/30
                      wan_type: broadband
                    property2:
                      description: string
                      disable_autoneg: false
                      dsl_config:
                        ppoe_auth: none
                        ppoe_password: string
                        ppoe_username: string
                      duplex: full
                      ip_config:
                        dns:
                        - string
                        dns_suffix:
                        - string
                        gateway: string
                        ip: string
                        netmask: string
                        network: string
                        poser_password: string
                        ppoe_username: string
                        pppoe_auth: none
                        type: dhcp
                      lte_apn: string
                      lte_auth: none
                      lte_backup: true
                      lte_password: string
                      lte_username: string
                      mtu: 0
                      name: string
                      networks:
                      - string
                      outer_vlan_id: 0
                      poe_disabled: false
                      port_network: string
                      preserve_dscp: true
                      redundant: true
                      reth_idx: 0
                      reth_node: string
                      speed: 1g
                      svr_port_range: 60000-60005
                      traffic_shaping:
                        class_percentages:
                        - 0
                        enabled: false
                      usage: lan
                      vlan_id: 0
                      vpn_paths:
                        property1:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                        property2:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                      wan_ext_ip: string
                      wan_source_nat:
                        disabled: false
                        nat_pool: 64.2.4.0/30
                      wan_type: broadband
                  routing_policies:
                    property1:
                      terms:
                      - action:
                          accept: true
                          community:
                          - '65003:10'
                          exclude_as_path:
                          - '65002'
                          export_communitites:
                          - string
                          local_preference: string
                          prepend_as_path:
                          - '65003'
                          summarize: 192.168.0.0/16
                        matching:
                          as_path:
                          - '65001'
                          community:
                          - '65001:2'
                          network:
                          - string
                          prefix:
                          - 192.168.0.0/16-30
                          protocol:
                          - direct
                          route_exists:
                            route: 192.168.0.0/24
                            vrf_name: default
                          vpn_name:
                          - string
                          vpn_path:
                          - string
                    property2:
                      terms:
                      - action:
                          accept: true
                          community:
                          - '65003:10'
                          exclude_as_path:
                          - '65002'
                          export_communitites:
                          - string
                          local_preference: string
                          prepend_as_path:
                          - '65003'
                          summarize: 192.168.0.0/16
                        matching:
                          as_path:
                          - '65001'
                          community:
                          - '65001:2'
                          network:
                          - string
                          prefix:
                          - 192.168.0.0/16-30
                          protocol:
                          - direct
                          route_exists:
                            route: 192.168.0.0/24
                            vrf_name: default
                          vpn_name:
                          - string
                          vpn_path:
                          - string
                  service_policies:
                  - action: allow
                    ewf:
                    - alert_only: true
                      block_message: Access to this URL Category has been blocked
                      enabled: false
                      profille: strict
                    idp:
                      alert_only: string
                      enabled: false
                      profile: strict
                    local_routing: false
                    name: string
                    path_preferences: string
                    servicepolicy_id: a4b81837-7a2f-46c1-bf27-dc8af6edd0a0
                    services:
                    - string
                    tenants:
                    - string
                  tunnel_configs:
                    property1:
                      auto_provision:
                        enable: true
                        latlng:
                          lat: 37.295833
                          lng: -122.032946
                        primary:
                          num_hosts: string
                          wan_names:
                          - wan0
                        region: auto
                        secondary:
                          num_hosts: string
                          wan_names:
                          - wan0
                      ike_lifetime: 0
                      ike_mode: main
                      ike_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      ipsec_lifetime: 0
                      ipsec_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      local_id: string
                      mode: active-standby
                      primary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      probe:
                        interval: 0
                        threshold: 0
                        timeout: 0
                        type: icmp
                      protocol: ipsec
                      provider: zscaler-ipsec
                      psk: string
                      secondary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      version: '2'
                    property2:
                      auto_provision:
                        enable: true
                        latlng:
                          lat: 37.295833
                          lng: -122.032946
                        primary:
                          num_hosts: string
                          wan_names:
                          - wan0
                        region: auto
                        secondary:
                          num_hosts: string
                          wan_names:
                          - wan0
                      ike_lifetime: 0
                      ike_mode: main
                      ike_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      ipsec_lifetime: 0
                      ipsec_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      local_id: string
                      mode: active-standby
                      primary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      probe:
                        interval: 0
                        threshold: 0
                        timeout: 0
                        type: icmp
                      protocol: ipsec
                      provider: zscaler-ipsec
                      psk: string
                      secondary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      version: '2'
                  type: standalone
            schema:
              $ref: '#/components/schemas/gateway_template'
        description: Gateway Template
      responses:
        '200':
          $ref: '#/components/responses/Gatewaytemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgGatewayTemplate
      tags:
      - tag:WAN:CONFIGURE:Orgs:Gateway Templates
      - Orgs Gateway Templates
  /api/v1/orgs/{org_id}/gatewaytemplates/{gatewaytemplate_id}:
    delete:
      description: Delete Organization Gateway Template
      operationId: deleteOrgGatewayTemplate
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgGatewayTemplate
      tags:
      - tag:WAN:CONFIGURE:Orgs:Gateway Templates
      - Orgs Gateway Templates
    get:
      description: Get Organization Gateway Template details
      operationId: getOrgGatewayTemplate
      responses:
        '200':
          $ref: '#/components/responses/Gatewaytemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgGatewayTemplate
      tags:
      - tag:WAN:CONFIGURE:Orgs:Gateway Templates
      - Orgs Gateway Templates
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/gatewaytemplate_id'
    put:
      description: Update Organization Gateway Template
      operationId: updateOrgGatewayTemplate
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  additional_config_cmds:
                  - string
                  bgp_config:
                    property1:
                      auth_key: string
                      bfd_minimum_interval: 0
                      communities:
                      - id: string
                        local_preference: 0
                        vpn_name: string
                      disable_bfd: false
                      export: string
                      export_policy: string
                      graceful_restart_time: 0
                      hold_time: 90
                      import: string
                      import_policy: string
                      local_as: 0
                      neighbor_as: 0
                      neighbors:
                        property1:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                        property2:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                      networks:
                      - string
                      type: internal
                      via: lan
                      vpn_name: string
                      wan_name: string
                    property2:
                      auth_key: string
                      bfd_minimum_interval: 0
                      communities:
                      - id: string
                        local_preference: 0
                        vpn_name: string
                      disable_bfd: false
                      export: string
                      export_policy: string
                      graceful_restart_time: 0
                      hold_time: 90
                      import: string
                      import_policy: string
                      local_as: 0
                      neighbor_as: 0
                      neighbors:
                        property1:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                        property2:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                      networks:
                      - string
                      type: internal
                      via: lan
                      vpn_name: string
                      wan_name: string
                  created_time: 0
                  dhcpd_config:
                    property1:
                      dns_servers:
                      - 192.168.0.1
                      dns_suffix:
                      - string
                      fixed_bindings:
                        property1:
                          ip: 192.168.0.1
                          name: string
                        property2:
                          ip: 192.168.0.1
                          name: string
                      gateway: 192.168.0.1
                      ip_end: 192.168.0.1
                      ip_start: 192.168.0.1
                      servers:
                      - 192.168.0.1
                      type: local
                    property2:
                      dns_servers:
                      - 192.168.0.1
                      dns_suffix:
                      - string
                      fixed_bindings:
                        property1:
                          ip: 192.168.0.1
                          name: string
                        property2:
                          ip: 192.168.0.1
                          name: string
                      gateway: 192.168.0.1
                      ip_end: 192.168.0.1
                      ip_start: 192.168.0.1
                      servers:
                      - 192.168.0.1
                      type: local
                  extra_routes:
                    property1:
                      via: 192.168.0.1
                    property2:
                      via: 192.168.0.1
                  gateway_matching:
                    enable: true
                    rules:
                    - additional_config_cmds:
                      - string
                      name: string
                      port_config:
                        property1:
                          ae_disable_lacp: true
                          ae_idx: 0
                          aggregated: false
                          critical: true
                          description: string
                          disable_autoneg: false
                          duplex: auto
                          dynamic_usage: string
                          esilag: true
                          mtu: 1514
                          no_local_overwrite: true
                          poe_disabled: false
                          speed: auto
                          usage: string
                        property2:
                          ae_disable_lacp: true
                          ae_idx: 0
                          aggregated: false
                          critical: true
                          description: string
                          disable_autoneg: false
                          duplex: auto
                          dynamic_usage: string
                          esilag: true
                          mtu: 1514
                          no_local_overwrite: true
                          poe_disabled: false
                          speed: auto
                          usage: string
                      property1: string
                      property2: string
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f34
                  ip_configs:
                    property1:
                      ip: 192.168.0.1
                      netmask: /24
                    property2:
                      ip: 192.168.0.1
                      netmask: /24
                  modified_time: 0
                  name: string
                  networks:
                    property1:
                      created_time: 0
                      disallow_mist_services: false
                      gateway: 192.168.70.1
                      hosts:
                        property1:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                        property2:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                      id: 497f6eca-6276-4993-bfeb-53cbbbba6f35
                      internal_access:
                        enabled: true
                      internet_access:
                        create_simple_service_policy: false
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                          property2:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                        enabled: true
                        restricted: false
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: printer-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: printer-1
                      isolation: true
                      modified_time: 0
                      name: string
                      org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      subnet: 192.168.70.0/24
                      tenants:
                        property1:
                          addresses: string
                        property2:
                          addresses: string
                      vlan_id: 0
                      vpn_access:
                        property1:
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                        property2:
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                    property2:
                      created_time: 0
                      disallow_mist_services: false
                      gateway: 192.168.70.1
                      hosts:
                        property1:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                        property2:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                      id: 497f6eca-6276-4993-bfeb-53cbbbba6f36
                      internal_access:
                        enabled: true
                      internet_access:
                        create_simple_service_policy: false
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                          property2:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                        enabled: true
                        restricted: false
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: printer-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: printer-1
                      isolation: true
                      modified_time: 0
                      name: string
                      org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      subnet: 192.168.70.0/24
                      tenants:
                        property1:
                          addresses: string
                        property2:
                          addresses: string
                      vlan_id: 0
                      vpn_access:
                        property1:
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                        property2:
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                  oob_ip_config:
                    dns:
                    - string
                    dns_suffix:
                    - string
                    gateway: string
                    ip: string
                    netmask: string
                    network: string
                    node1:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                      use_mgmt_vrf: false
                      use_mgmt_vrf_for_host_out: false
                      vlan_id: 0
                    property1:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                    property2:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                    type: dynamic
                    use_mgmt_vrf: false
                    use_mgmt_vrf_for_host_out: false
                    vlan_id: 0
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  path_preferences:
                    property1:
                      paths:
                        cost: 0
                        gateway_ip: string
                        internet_access: false
                        name: string
                        networks:
                        - string
                        target_ips:
                        - string
                        type: local
                      strategy: ordered
                    property2:
                      paths:
                        cost: 0
                        gateway_ip: string
                        internet_access: false
                        name: string
                        networks:
                        - string
                        target_ips:
                        - string
                        type: local
                      strategy: ordered
                  port_config:
                    property1:
                      description: string
                      disable_autoneg: false
                      dsl_config:
                        ppoe_auth: none
                        ppoe_password: string
                        ppoe_username: string
                      duplex: full
                      ip_config:
                        dns:
                        - string
                        dns_suffix:
                        - string
                        gateway: string
                        ip: string
                        netmask: string
                        network: string
                        poser_password: string
                        ppoe_username: string
                        pppoe_auth: none
                        type: dhcp
                      lte_apn: string
                      lte_auth: none
                      lte_backup: true
                      lte_password: string
                      lte_username: string
                      mtu: 0
                      name: string
                      networks:
                      - string
                      outer_vlan_id: 0
                      poe_disabled: false
                      port_network: string
                      preserve_dscp: true
                      redundant: true
                      reth_idx: 0
                      reth_node: string
                      speed: 1g
                      svr_port_range: 60000-60005
                      traffic_shaping:
                        class_percentages:
                        - 0
                        enabled: false
                      usage: lan
                      vlan_id: 0
                      vpn_paths:
                        property1:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                        property2:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                      wan_ext_ip: string
                      wan_source_nat:
                        disabled: false
                        nat_pool: 64.2.4.0/30
                      wan_type: broadband
                    property2:
                      description: string
                      disable_autoneg: false
                      dsl_config:
                        ppoe_auth: none
                        ppoe_password: string
                        ppoe_username: string
                      duplex: full
                      ip_config:
                        dns:
                        - string
                        dns_suffix:
                        - string
                        gateway: string
                        ip: string
                        netmask: string
                        network: string
                        poser_password: string
                        ppoe_username: string
                        pppoe_auth: none
                        type: dhcp
                      lte_apn: string
                      lte_auth: none
                      lte_backup: true
                      lte_password: string
                      lte_username: string
                      mtu: 0
                      name: string
                      networks:
                      - string
                      outer_vlan_id: 0
                      poe_disabled: false
                      port_network: string
                      preserve_dscp: true
                      redundant: true
                      reth_idx: 0
                      reth_node: string
                      speed: 1g
                      svr_port_range: 60000-60005
                      traffic_shaping:
                        class_percentages:
                        - 0
                        enabled: false
                      usage: lan
                      vlan_id: 0
                      vpn_paths:
                        property1:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                        property2:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                      wan_ext_ip: string
                      wan_source_nat:
                        disabled: false
                        nat_pool: 64.2.4.0/30
                      wan_type: broadband
                  routing_policies:
                    property1:
                      terms:
                      - action:
                          accept: true
                          community:
                          - '65003:10'
                          exclude_as_path:
                          - '65002'
                          export_communitites:
                          - string
                          local_preference: string
                          prepend_as_path:
                          - '65003'
                          summarize: 192.168.0.0/16
                        matching:
                          as_path:
                          - '65001'
                          community:
                          - '65001:2'
                          network:
                          - string
                          prefix:
                          - 192.168.0.0/16-30
                          protocol:
                          - direct
                          route_exists:
                            route: 192.168.0.0/24
                            vrf_name: default
                          vpn_name:
                          - string
                          vpn_path:
                          - string
                    property2:
                      terms:
                      - action:
                          accept: true
                          community:
                          - '65003:10'
                          exclude_as_path:
                          - '65002'
                          export_communitites:
                          - string
                          local_preference: string
                          prepend_as_path:
                          - '65003'
                          summarize: 192.168.0.0/16
                        matching:
                          as_path:
                          - '65001'
                          community:
                          - '65001:2'
                          network:
                          - string
                          prefix:
                          - 192.168.0.0/16-30
                          protocol:
                          - direct
                          route_exists:
                            route: 192.168.0.0/24
                            vrf_name: default
                          vpn_name:
                          - string
                          vpn_path:
                          - string
                  service_policies:
                  - action: allow
                    ewf:
                    - alert_only: true
                      block_message: Access to this URL Category has been blocked
                      enabled: false
                      profille: strict
                    idp:
                      alert_only: string
                      enabled: false
                      profile: strict
                    local_routing: false
                    name: string
                    path_preferences: string
                    servicepolicy_id: a4b81837-7a2f-46c1-bf27-dc8af6edd0a0
                    services:
                    - string
                    tenants:
                    - string
                  tunnel_configs:
                    property1:
                      auto_provision:
                        enable: true
                        latlng:
                          lat: 37.295833
                          lng: -122.032946
                        primary:
                          num_hosts: string
                          wan_names:
                          - wan0
                        region: auto
                        secondary:
                          num_hosts: string
                          wan_names:
                          - wan0
                      ike_lifetime: 0
                      ike_mode: main
                      ike_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      ipsec_lifetime: 0
                      ipsec_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      local_id: string
                      mode: active-standby
                      primary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      probe:
                        interval: 0
                        threshold: 0
                        timeout: 0
                        type: icmp
                      protocol: ipsec
                      provider: zscaler-ipsec
                      psk: string
                      secondary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      version: '2'
                    property2:
                      auto_provision:
                        enable: true
                        latlng:
                          lat: 37.295833
                          lng: -122.032946
                        primary:
                          num_hosts: string
                          wan_names:
                          - wan0
                        region: auto
                        secondary:
                          num_hosts: string
                          wan_names:
                          - wan0
                      ike_lifetime: 0
                      ike_mode: main
                      ike_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      ipsec_lifetime: 0
                      ipsec_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      local_id: string
                      mode: active-standby
                      primary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      probe:
                        interval: 0
                        threshold: 0
                        timeout: 0
                        type: icmp
                      protocol: ipsec
                      provider: zscaler-ipsec
                      psk: string
                      secondary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      version: '2'
                  type: standalone
            schema:
              $ref: '#/components/schemas/gateway_template'
        description: Gateway Template
      responses:
        '200':
          $ref: '#/components/responses/Gatewaytemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgGatewayTemplate
      tags:
      - tag:WAN:CONFIGURE:Orgs:Gateway Templates
      - Orgs Gateway Templates
  /api/v1/orgs/{org_id}/idpprofiles:
    get:
      description: get the list of Org IDP Profiles
      operationId: listOrgIdpProfiles
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/IdpProfileArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgIdpProfiles
      tags:
      - tag:WAN:CONFIGURE:Orgs:IDP Profiles
      - Orgs IDP Profiles
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create Org IDP Profile
      operationId: createOrgIdpProfile
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  base_profile: strict
                  name: relaxed
                  overwrites:
                  - action: alert
                    matching:
                      attack_name:
                      - HTTP:INVALID:HDR-FIELD
                      dst_subnet:
                      - 63.1.2.0/24
                      severity:
                      - major
            schema:
              $ref: '#/components/schemas/idp_profile'
      responses:
        '200':
          $ref: '#/components/responses/IdpProfile'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgIdpProfile
      tags:
      - tag:WAN:CONFIGURE:Orgs:IDP Profiles
      - Orgs IDP Profiles
  /api/v1/orgs/{org_id}/idpprofiles/{idpprofile_id}:
    delete:
      description: Delete Org IDP Profile
      operationId: deleteOrgIdpProfile
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgIdpProfile
      tags:
      - tag:WAN:CONFIGURE:Orgs:IDP Profiles
      - Orgs IDP Profiles
    get:
      description: Get Org IDP Profile
      operationId: getOrgIdpProfile
      responses:
        '200':
          $ref: '#/components/responses/IdpProfile'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgIdpProfile
      tags:
      - tag:WAN:CONFIGURE:Orgs:IDP Profiles
      - Orgs IDP Profiles
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/idpprofile_id'
    put:
      description: Update Org IDP Profile
      operationId: updateOrgIdpProfile
      requestBody:
        content:
          application/json:
            examples:
              idpprofile:
                value:
                  base_profile: strict
                  name: relaxed
                  overwrites:
                  - action: alert
                    matching:
                      attack_name:
                      - HTTP:INVALID:HDR-FIELD
                      dst_subnet:
                      - 63.1.2.0/24
                      severity:
                      - major
            schema:
              $ref: '#/components/schemas/idp_profile'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgIdpProfile
      tags:
      - tag:WAN:CONFIGURE:Orgs:IDP Profiles
      - Orgs IDP Profiles
  /api/v1/orgs/{org_id}/inventory/create_ha_cluster:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create HA Cluster from unassigned Gateways
      operationId: createOrgGatewayHaCluster
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  disable_auto_config: true
                  managed: true
                  nodes:
                  - mac: aff827549235
                  - mac: 8396cd006c8c
                  site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
            schema:
              $ref: '#/components/schemas/create_ha_cluster'
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: createOrgGatewayHaCluster
      tags:
      - tag:WAN:CONFIGURE:Orgs:Inventory
      - Orgs Inventory
  /api/v1/orgs/{org_id}/networks:
    get:
      description: Get List of Org Networks
      operationId: listOrgNetworks
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/NetworksArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgNetworks
      tags:
      - tag:WAN:CONFIGURE:Orgs:Networks
      - Orgs Networks
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create Organization Network
      operationId: createOrgNetwork
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  created_time: 0
                  disallow_mist_services: false
                  gateway: 192.168.70.1
                  hosts:
                    property1:
                      external_ips: 172.16.10.32-172.16.10.35
                      ips: 192.168.70.32-192.168.70.35
                    property2:
                      external_ips: 172.16.10.32-172.16.10.35
                      ips: 192.168.70.32-192.168.70.35
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f37
                  internal_access:
                    enabled: true
                  internet_access:
                    create_simple_service_policy: false
                    destination_nat:
                      property1:
                        internal_ip: 192.168.70.30
                        name: web server
                        port: 443
                      property2:
                        internal_ip: 192.168.70.30
                        name: web server
                        port: 443
                    enabled: true
                    restricted: false
                    static_nat:
                      property1:
                        internal_ip: 192.168.70.3
                        name: printer-1
                      property2:
                        internal_ip: 192.168.70.3
                        name: printer-1
                  isolation: true
                  modified_time: 0
                  name: string
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  subnet: 192.168.70.0/24
                  tenants:
                    property1:
                      addresses: string
                    property2:
                      addresses: string
                  vlan_id: 0
                  vpn_access:
                    property1:
                      allow_ping: true
                      destination_nat:
                        property1:
                          name: web server
                          port: 443
                          to: 192.168.70.5/30
                        property2:
                          name: web server
                          port: 443
                          to: 192.168.70.5/30
                      nat_pool: 172.16.0.0/26
                      routed: true
                      source_nat:
                        exteral_ip: 172.16.0.8/30
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: pos-station-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: pos-station-1
                      summarized_subnet: 172.16.0.0/16
                    property2:
                      allow_ping: true
                      destination_nat:
                        property1:
                          name: web server
                          port: 443
                          to: 192.168.70.5/30
                        property2:
                          name: web server
                          port: 443
                          to: 192.168.70.5/30
                      nat_pool: 172.16.0.0/26
                      routed: true
                      source_nat:
                        exteral_ip: 172.16.0.8/30
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: pos-station-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: pos-station-1
                      summarized_subnet: 172.16.0.0/16
            schema:
              $ref: '#/components/schemas/network'
      responses:
        '200':
          $ref: '#/components/responses/Network'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgNetwork
      tags:
      - tag:WAN:CONFIGURE:Orgs:Networks
      - Orgs Networks
  /api/v1/orgs/{org_id}/networks/{network_id}:
    delete:
      description: Delete Organization Network
      operationId: deleteOrgNetwork
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgNetwork
      tags:
      - tag:WAN:CONFIGURE:Orgs:Networks
      - Orgs Networks
    get:
      description: Get Organization Network Details
      operationId: getOrgNetwork
      responses:
        '200':
          $ref: '#/components/responses/Network'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgNetwork
      tags:
      - tag:WAN:CONFIGURE:Orgs:Networks
      - Orgs Networks
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/network_id'
    put:
      description: Update Organization Network
      operationId: updateOrgNetwork
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  created_time: 0
                  disallow_mist_services: false
                  gateway: 192.168.70.1
                  hosts:
                    property1:
                      external_ips: 172.16.10.32-172.16.10.35
                      ips: 192.168.70.32-192.168.70.35
                    property2:
                      external_ips: 172.16.10.32-172.16.10.35
                      ips: 192.168.70.32-192.168.70.35
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f38
                  internal_access:
                    enabled: true
                  internet_access:
                    create_simple_service_policy: false
                    destination_nat:
                      property1:
                        internal_ip: 192.168.70.30
                        name: web server
                        port: 443
                      property2:
                        internal_ip: 192.168.70.30
                        name: web server
                        port: 443
                    enabled: true
                    restricted: false
                    static_nat:
                      property1:
                        internal_ip: 192.168.70.3
                        name: printer-1
                      property2:
                        internal_ip: 192.168.70.3
                        name: printer-1
                  isolation: true
                  modified_time: 0
                  name: string
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  subnet: 192.168.70.0/24
                  tenants:
                    property1:
                      addresses: string
                    property2:
                      addresses: string
                  vlan_id: 0
                  vpn_access:
                    property1:
                      allow_ping: true
                      destination_nat:
                        property1:
                          name: web server
                          port: 443
                          to: 192.168.70.5/30
                        property2:
                          name: web server
                          port: 443
                          to: 192.168.70.5/30
                      nat_pool: 172.16.0.0/26
                      routed: true
                      source_nat:
                        exteral_ip: 172.16.0.8/30
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: pos-station-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: pos-station-1
                      summarized_subnet: 172.16.0.0/16
                    property2:
                      allow_ping: true
                      destination_nat:
                        property1:
                          name: web server
                          port: 443
                          to: 192.168.70.5/30
                        property2:
                          name: web server
                          port: 443
                          to: 192.168.70.5/30
                      nat_pool: 172.16.0.0/26
                      routed: true
                      source_nat:
                        exteral_ip: 172.16.0.8/30
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: pos-station-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: pos-station-1
                      summarized_subnet: 172.16.0.0/16
            schema:
              $ref: '#/components/schemas/network'
      responses:
        '200':
          $ref: '#/components/responses/Network'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgNetwork
      tags:
      - tag:WAN:CONFIGURE:Orgs:Networks
      - Orgs Networks
  /api/v1/orgs/{org_id}/otherdevices:
    get:
      description: Get List of Org other devices (3rd party devices)
      operationId: listOrgOtherDevices
      parameters:
      - in: query
        name: vendor
        schema:
          type: string
      - in: query
        name: mac
        schema:
          type: string
      - in: query
        name: serial
        schema:
          type: string
      - in: query
        name: model
        schema:
          type: string
      - in: query
        name: name
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/DeviceOtherArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgOtherDevices
      tags:
      - tag:WAN:CONFIGURE:Orgs:Devices Others
      - Orgs Devices Others
    parameters:
    - $ref: '#/components/parameters/org_id'
    put:
      description: If the Site / Device cannot be identified, a manual association
        can be made. Either a site_id or a device_mac needs to be provided.
      operationId: updateOrgOtherDevices
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  device_mac: 0adfea67e65b
                  macs:
                  - 5c5b350e0001
                  - 5c5b350e0003
                  op: assign
                  site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
            schema:
              $ref: '#/components/schemas/other_device_update_multi'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgOtherDevices
      tags:
      - tag:WAN:CONFIGURE:Orgs:Devices Others
      - Orgs Devices Others
  /api/v1/orgs/{org_id}/otherdevices/events/count:
    get:
      description: Count Org OtherDevices Events
      operationId: countOrgOtherDeviceEvents
      parameters:
      - in: query
        name: distinct
        schema:
          default: mac
          enum:
          - mac
          - type
          - vendor
          - site_id
          title: Org Other Devices events count distinct
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countOrgOtherDeviceEvents
      tags:
      - tag:WAN:MONITOR:Orgs:Devices Others
      - Orgs Devices Others
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/otherdevices/events/search:
    get:
      description: Search Org OtherDevices Events
      operationId: searchOrgOtherDeviceEvents
      parameters:
      - description: site id
        in: query
        name: site_id
        schema:
          type: string
      - description: mac
        in: query
        name: mac
        schema:
          type: string
      - description: mac of attached device
        in: query
        name: device_mac
        schema:
          type: string
      - description: device model
        in: query
        name: model
        schema:
          type: string
      - description: vendor name
        in: query
        name: vendor
        schema:
          type: string
      - description: event type
        in: query
        name: type
        schema:
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/EventsOtherDevicesSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgOtherDeviceEvents
      tags:
      - tag:WAN:MONITOR:Orgs:Devices Others
      - Orgs Devices Others
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/otherdevices/{device_mac}:
    delete:
      description: Delete OtherDevice
      operationId: deleteOrgOtherDevice
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgOtherDevice
      tags:
      - tag:WAN:CONFIGURE:Orgs:Devices Others
      - Orgs Devices Others
    get:
      description: Get Org other device (3rd party device)
      operationId: getOrgOtherDevice
      responses:
        '200':
          $ref: '#/components/responses/DeviceOther'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgOtherDevice
      tags:
      - tag:WAN:CONFIGURE:Orgs:Devices Others
      - Orgs Devices Others
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/device_mac'
    put:
      description: If the Site / Device cannot be identified, a manual association
        can be made
      operationId: updateOrgOtherDevice
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  device_mac: 0adfea67e65b
                  site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
            schema:
              $ref: '#/components/schemas/other_device_update'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgOtherDevice
      tags:
      - tag:WAN:CONFIGURE:Orgs:Devices Others
      - Orgs Devices Others
  /api/v1/orgs/{org_id}/otherdevices/{device_mac}/reboot:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/device_mac'
    post:
      description: Reboot OtherDevice
      operationId: rebootOrgOtherDevice
      requestBody:
        content:
          application/json:
            schema:
              properties: {}
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: rebootOrgOtherDevice
      tags:
      - tag:WAN:CONFIGURE:Orgs:Devices Others
      - Orgs Devices Others
  /api/v1/orgs/{org_id}/servicepolicies:
    get:
      description: Get List of Org Service Policies
      operationId: listOrgServicePolicies
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/ServicePoliciesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgServicePolicies
      tags:
      - tag:WAN:CONFIGURE:Orgs:Service Policies
      - Orgs Service Policies
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create Org Serrvice Policy
      operationId: createOrgServicePolicy
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  action: allow
                  name: string
                  services:
                  - string
                  tenants:
                  - string
            schema:
              $ref: '#/components/schemas/service_policy'
      responses:
        '200':
          $ref: '#/components/responses/ServicePolicy'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgServicePolicy
      tags:
      - tag:WAN:CONFIGURE:Orgs:Service Policies
      - Orgs Service Policies
  /api/v1/orgs/{org_id}/servicepolicies/{servicepolicy_id}:
    delete:
      description: Delete Org Service Policuy
      operationId: deleteOrgServicePolicy
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgServicePolicy
      tags:
      - tag:WAN:CONFIGURE:Orgs:Service Policies
      - Orgs Service Policies
    get:
      description: Get Org Service Policy Details
      operationId: getOrgServicePolicy
      responses:
        '200':
          $ref: '#/components/responses/ServicePolicy'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgServicePolicy
      tags:
      - tag:WAN:CONFIGURE:Orgs:Service Policies
      - Orgs Service Policies
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/servicepolicy_id'
    put:
      description: Update Org Serrvice Policy
      operationId: updateOrgServicePolicy
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  action: allow
                  name: string
                  services:
                  - string
                  tenants:
                  - string
            schema:
              $ref: '#/components/schemas/service_policy'
      responses:
        '200':
          $ref: '#/components/responses/ServicePolicy'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgServicePolicy
      tags:
      - tag:WAN:CONFIGURE:Orgs:Service Policies
      - Orgs Service Policies
  /api/v1/orgs/{org_id}/services:
    get:
      description: Get List of Org Services
      operationId: listOrgServices
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/ServicesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgServices
      tags:
      - tag:WAN:CONFIGURE:Orgs:Services
      - Orgs Services
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create getOrgServices Service
      operationId: createOrgService
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  app_key: string
                  name: string
                  network_id: d6797cf4-42b9-4cad-8591-9dd91c3f0fc3
                  specs:
                  - address: string
                    port: 0
                    protocol: any
                  subnet: string
                  type: custom
            schema:
              $ref: '#/components/schemas/service'
      responses:
        '200':
          $ref: '#/components/responses/Service'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgService
      tags:
      - tag:WAN:CONFIGURE:Orgs:Services
      - Orgs Services
  /api/v1/orgs/{org_id}/services/{service_id}:
    delete:
      description: deleteOrgService
      operationId: deleteOrgService
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgService
      tags:
      - tag:WAN:CONFIGURE:Orgs:Services
      - Orgs Services
    get:
      description: Get Org Service
      operationId: getOrgService
      responses:
        '200':
          $ref: '#/components/responses/Service'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
[...]
