openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2401.1.5**

    >

    > Date: **February 15, 2024**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2401.1.5
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Orgs Clients - Wired
- name: Orgs Devices Stats
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Orgs EVPN Topologies
- description: 'Network template is intended to be applied to a Site. It works like
    a blueprint of the network of the site.

    All Site Settings can go into Network Templates. See Site:Site Setting for schema

    Moreover, this can further be overwriten by individual Site Setting'
  name: Orgs Network Templates
- name: Orgs Stats
- name: Sites Clients - Wired
- description: 'Mist provides many ways (device-type specific template, site template,
    device profile, per-device) to configure devices for different kind of scenarios.

    The precedence goes from most specific to least specific

    Device > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template
    > Site Template > Site Setting'
  name: Sites Devices
- name: Sites Devices - Wired
- name: Sites Devices - Wired Virtual Chassis
- name: Sites Devices - Wireless
- name: Sites Devices Stats
- name: Sites Devices Upgrades
- name: Sites Devices Utilities
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site '
  name: Sites EVPN Topologies
- name: Sites Network Templates
- name: Sites Stats
- name: Sites Synthetic Tests
paths:
  /api/v1/orgs/{org_id}/evpn_topologies:
    get:
      description: Get List of the existing Org EVPN topologies
      operationId: listOrgEvpnTopologies
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/EvpnTopology'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgEvpnTopologies
      tags:
      - tag:LAN:CONFIGURE:Orgs:EVPN Topologies
      - Orgs EVPN Topologies
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: "While all the `evpn_id` / `downlink_ips` can be specifidd by hand,\
        \ the easiest way is to call the `build_vpn_topology` API, allowing you to\
        \ examine the diff, and update it yourself. You can also simply call it with\
        \ `overwrite=true` which will apply the updates for you.\n\n**Notes:**\n1.\
        \ You can use `core` / `distribution` / `access` to create a CLOS topology\n\
        2. You can also use `core` / `distribution` to form a 2-tier EVPN topology\
        \ where ESI-Lag is configured distribution to connect to access switches\n\
        3. In a small/medium campus, `collapsed-core` can be used where core switches\
        \ are the inter-connected to do EVPN\n4. The API uses a few pre-defined parameters\
        \ and best-practices to generate the configs. It can be customized by using\
        \ `evpn_options` in Site Setting / Network Template. (e.g. a different subnet\
        \ for the underlay)\n\n#### Collapsed Core\nIn a small-medium campus, EVPN\
        \ can also be enabled only at the core switches (up to 4) by assigning all\
        \ participating switches with `collapsed-core role`. When there are more than\
        \ 2 switches, a ring-like topology will be formed.\n\n#### ESI-Lag\nIf the\
        \ access switchess does not have EVPN support, you can take advantage of EVPN\
        \ by setting up ESI-Lag on distribution switches\n\n#### Leaf / Access / Collapsed-Core\n\
        For leaf nodes in a EVPN topology, you\u2019d have to configure the IPs for\
        \ networks that would participate in EVPN. Optionally, VRFs to isolate traffic\
        \ from one tenant verus another"
      operationId: createOrgEvpnTopology
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  id: 9197ec96-4c8d-529f-c595-035895e688b2
                  name: CC
                  pod_names:
                    '1': default
                    '2': default
                  switches:
                  - mac: 5c5b35000003
                    role: collapsed-core
                  - mac: 5c5b35000004
                    role: collapsed-core
            schema:
              $ref: '#/components/schemas/junos_evpn_topology'
      responses:
        '200':
          $ref: '#/components/responses/EvpnTopology'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgEvpnTopology
      tags:
      - tag:LAN:CONFIGURE:Orgs:EVPN Topologies
      - Orgs EVPN Topologies
  /api/v1/orgs/{org_id}/evpn_topologies/{evpn_topology_id}:
    delete:
      description: Delete the Org EVPN Topology
      operationId: deleteOrgEvpnTopology
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgEvpnTopology
      tags:
      - tag:LAN:CONFIGURE:Orgs:EVPN Topologies
      - Orgs EVPN Topologies
    get:
      description: Get One EVPN Topology Detail
      operationId: getOrgEvpnTolopogy
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgEvpnTolopogy
      tags:
      - tag:LAN:CONFIGURE:Orgs:EVPN Topologies
      - Orgs EVPN Topologies
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/evpn_topology_id'
    put:
      description: Update the EVPN Topolgy
      operationId: updateOrgEvpnTopology
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  overwrite: false
                  switches:
                  - mac: 5c5b35000003
                    role: collapsed-core
                  - mac: 5c5b35000004
                    role: none
            schema:
              $ref: '#/components/schemas/junos_evpn_topology'
      responses:
        '200':
          $ref: '#/components/responses/EvpnTopology'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgEvpnTopology
      tags:
      - tag:LAN:CONFIGURE:Orgs:EVPN Topologies
      - Orgs EVPN Topologies
  /api/v1/orgs/{org_id}/networktemplates:
    get:
      description: Get List of Org Network Templates
      operationId: listOrgNetworkTemplates
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/NetworktemplatesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgNetworkTemplates
      tags:
      - tag:LAN:CONFIGURE:Orgs:Network Templates
      - Orgs Network Templates
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Update Org Network Templates
      operationId: createOrgNetworkTemplate
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  additional_config_cmds:
                  - string
                  created_time: 0
                  dhcp_snooping:
                    all_networks: true
                    enable_arp_spoof_check: true
                    enable_ip_source_guard: true
                    enabled: true
                    networks:
                    - string
                  dns_servers:
                  - string
                  dns_suffix:
                  - string
                  extra_routes:
                    property1:
                      via: string
                    property2:
                      via: string
                  group_tags: {}
                  id: 497f6eca-6276-4993-bfeb-53debbba6f08
                  import_org_networks:
                  - ap
                  mist_nac:
                    enabled: true
                    network: string
                  modified_time: 0
                  name: string
                  networks:
                    property1:
                      subnet: 192.168.1.0/24
                      vlan_id: 10
                    property2:
                      subnet: 192.168.1.0/24
                      vlan_id: 10
                  ntp_servers:
                  - string
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  port_usages:
                    dynamic:
                      mode: dynamic
                      reset_default_when: link_down
                      rules:
                      - equals: string
                        equals_any:
                        - string
                        expression: string
                        src: lldp_chassis_id
                        usage: string
                    property1:
                      all_networks: false
                      allow_dhcpd: true
                      authentication_protocol: pap
                      bypass_auth_when_server_down: true
                      description: string
                      disable_autoneg: false
                      disabled: false
                      duplex: auto
                      enable_mac_auth: true
                      enable_qos: true
                      guest_network: string
                      mac_auth_only: true
                      mac_limit: 0
                      mode: access
                      mtu: 0
                      networks:
                      - string
                      persist_mac: false
                      poe_disabled: false
                      port_auth: string
                      port_network: string
                      rejected_network: null
                      speed: string
                      storm_control:
                        no_broadcast: false
                        no_multicast: false
                        no_registered_multicast: false
                        no_unknown_unicast: false
                        percentage: 80
                      stp_edge: true
                      voip_network: string
                    property2:
                      all_networks: false
                      allow_dhcpd: true
                      authentication_protocol: pap
                      bypass_auth_when_server_down: true
                      description: string
                      disable_autoneg: false
                      disabled: false
                      duplex: auto
                      enable_mac_auth: true
                      enable_qos: true
                      guest_network: string
                      mac_auth_only: true
                      mac_limit: 0
                      mode: access
                      mtu: 0
                      networks:
                      - string
                      persist_mac: false
                      poe_disabled: false
                      port_auth: string
                      port_network: string
                      rejected_network: null
                      speed: string
                      storm_control:
                        no_broadcast: false
                        no_multicast: false
                        no_registered_multicast: false
                        no_unknown_unicast: false
                        percentage: 80
                      stp_edge: true
                      voip_network: string
                  radius_config:
                    acct_interim_interval: 0
                    acct_servers:
                    - host: 1.2.3.4
                      keywrap_enabled: true
                      keywrap_format: hex
                      keywrap_kek: '1122334455'
                      keywrap_mack: '1122334455'
                      port: 1813
                      secret: testing123
                    auth_servers:
                    - host: 1.2.3.4
                      keywrap_enabled: true
                      keywrap_format: hex
                      keywrap_kek: '1122334455'
                      keywrap_mack: '1122334455'
                      port: 1812
                      secret: testing123
                    auth_servers_retries: 3
                    auth_servers_timeout: 5
                    coa_enabled: false
                    coa_port: 3799
                    network: string
                    source_ip: string
                  remote_syslog:
                    archive:
                      files: 111
                      size: 5m
                    console:
                      contents:
                      - facility: any
                        severity: any
                    enabled: false
                    files:
                    - archive:
                        files: 10
                        size: 5m
                      contents:
                      - facility: any
                        severity: any
                      explicit_priority: true
                      file: file-name
                      match: '!alarm|ntp|errors.crc_error[chan]'
                      structured_data: true
                    network: string
                    send_to_all_servers: true
                    servers:
                    - contents:
                      - facility: any
                        severity: any
                      explicit_priority: true
                      facility: any
                      host: syslogd.internal
                      match: '!alarm|ntp|errors.crc_error[chan]'
                      port: 514
                      protocol: udp
                      routing_instance: routing-instance-name
                      severity: any
                      source_address: string
                      structured_data: true
                      tag: string
                    time_format: millisecond
                    users:
                    - contents:
                      - facility: any
                        severity: any
                      match: '"!alarm|ntp|errors.crc_error[chan]"'
                      user: '*'
                  snmp_config:
                    client_list:
                    - client_list_name: clist-1
                      clients:
                      - 151.140.101.218/32
                    contact: cns@juniper.net
                    description: Juniper QFX Series Switch - 1K_5LA
                    enabled: true
                    engine_id: local
                    location: Las Vegas, NV
                    name: TGH-1K-QFX10K
                    network: default
                    trap_groups:
                    - categories:
                      - authentication
                      group_name: profiler
                      targets:
                      - 172.29.158.19
                      version: v2
                    v2c_config:
                    - authorization: read-only
                      client_list_name: clist-1
                      community_name: abc123
                      view: all
                    v3_config:
                      notify:
                      - name: string
                        tag: string
                        type: trap
                      notify_filter:
                      - contents:
                        - include: true
                          oid: 1.3.6.1.4.1
                        profile_name: string
                      target_address:
                      - address: address
                        address_mask: address_mask
                        port: 161
                        tag_list: string
                        target_address_name: target_address_name
                        target_parameters: string
                      target_parameters:
                      - message_processing_model: v1
                        name: string
                        notify_filter: string
                        security_level: authentication
                        security_model: usm
                        security_name: m01620
                      usm:
                        engine-id: 00:00:00:0b:00:00:70:10:6f:08:b6:3f
                        engine_type: remote_engine
                        users:
                        - authentication_password: strings
                          authentication_type: authentication-md5
                          encryption_password: stringst
                          encryption_type: privacy-aes128
                          name: string
                      vacm:
                        access:
                        - group_name: string
                          prefix_list:
                          - context_prefix: iil
                            notify_view: all
                            read_view: all
                            security_level: privacy
                            security_model: any
                            type: default_context_prefix
                            write_view: all
                        security_to_group:
                          content:
                          - group: string
                            security_name: string
                          security_model: usm
                    views:
                      include: true
                      oid: 1.3.6.1
                      view_name: all
                  switch_matching:
                    enable: true
                    rules:
                    - additional_config_cmds:
                      - string
                      match_role: string
                      name: string
                      port_config:
                        property1:
                          ae_disable_lacp: true
                          ae_idx: 0
                          aggregated: false
                          critical: true
                          description: string
                          disable_autoneg: false
                          duplex: auto
                          dynamic_usage: string
                          esilag: true
                          mtu: 1514
                          no_local_overwrite: true
                          poe_disabled: false
                          speed: auto
                          usage: string
                        property2:
                          ae_disable_lacp: true
                          ae_idx: 0
                          aggregated: false
                          critical: true
                          description: string
                          disable_autoneg: false
                          duplex: auto
                          dynamic_usage: string
                          esilag: true
                          mtu: 1514
                          no_local_overwrite: true
                          poe_disabled: false
                          speed: auto
                          usage: string
                      property1: string
                      property2: string
                      switch_mgmt:
                        ap_affinity_threshold: '10'
                        config_revert_timer: 10
                        dhcp_option_fqdn: false
                        mxedge_proxy_host: string
                        mxedge_proxy_port: 2222
                        use_mxedge_proxy: false
                  switch_mgmt:
                    config_revert: 10
                    protect_re:
                      enabled: false
                    root_password: string
                    tacacs:
                      acct_servers:
                      - host: string
                        port: string
                        secret: string
                        timeout: 10
                      enabled: true
                      network: string
                      tacplus_servers:
                      - host: string
                        port: string
                        secret: string
                        timeout: 10
                  vrf_config:
                    enabled: false
                  vrf_instances:
                    property1:
                      extra_routes:
                        property1:
                          via: string
                        property2:
                          via: string
                      networks:
                      - string
                    property2:
                      extra_routes:
                        property1:
                          via: string
                        property2:
                          via: string
                      networks:
                      - string
            schema:
              $ref: '#/components/schemas/networktemplate'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Networktemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgNetworkTemplate
      tags:
      - tag:LAN:CONFIGURE:Orgs:Network Templates
      - Orgs Network Templates
  /api/v1/orgs/{org_id}/networktemplates/{networktemplate_id}:
    delete:
      description: Delete Org Network Template
      operationId: deleteOrgNetworkTemplate
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgNetworkTemplate
      tags:
      - tag:LAN:CONFIGURE:Orgs:Network Templates
      - Orgs Network Templates
    get:
      description: Get Org Network Templates Details
      operationId: getOrgNetworkTemplate
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/networktemplate'
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgNetworkTemplate
      tags:
      - tag:LAN:CONFIGURE:Orgs:Network Templates
      - Orgs Network Templates
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/networktemplate_id'
    put:
      description: Update Org Network Template
      operationId: updateOrgNetworkTemplates
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  additional_config_cmds:
                  - string
                  created_time: 0
                  dhcp_snooping:
                    all_networks: true
                    enable_arp_spoof_check: true
                    enable_ip_source_guard: true
                    enabled: true
                    networks:
                    - string
                  dns_servers:
                  - string
                  dns_suffix:
                  - string
                  extra_routes:
                    property1:
                      via: string
                    property2:
                      via: string
                  group_tags: {}
                  id: 497f6eca-6276-4993-bfeb-53dfbbba6f08
                  import_org_networks:
                  - ap
                  mist_nac:
                    enabled: true
                    network: string
                  modified_time: 0
                  name: string
                  networks:
                    property1:
                      subnet: 192.168.1.0/24
                      vlan_id: 10
                    property2:
                      subnet: 192.168.1.0/24
                      vlan_id: 10
                  ntp_servers:
                  - string
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  port_usages:
                    dynamic:
                      mode: dynamic
                      reset_default_when: link_down
                      rules:
                      - equals: string
                        equals_any:
                        - string
                        expression: string
                        src: lldp_chassis_id
                        usage: string
                    property1:
                      all_networks: false
                      allow_dhcpd: true
                      authentication_protocol: pap
                      bypass_auth_when_server_down: true
                      description: string
                      disable_autoneg: false
                      disabled: false
                      duplex: auto
                      enable_mac_auth: true
                      enable_qos: true
                      guest_network: string
                      mac_auth_only: true
                      mac_limit: 0
                      mode: access
                      mtu: 0
                      networks:
                      - string
                      persist_mac: false
                      poe_disabled: false
                      port_auth: string
                      port_network: string
                      rejected_network: null
                      speed: string
                      storm_control:
                        no_broadcast: false
                        no_multicast: false
                        no_registered_multicast: false
                        no_unknown_unicast: false
                        percentage: 80
                      stp_edge: true
                      voip_network: string
                    property2:
                      all_networks: false
                      allow_dhcpd: true
                      authentication_protocol: pap
                      bypass_auth_when_server_down: true
                      description: string
                      disable_autoneg: false
                      disabled: false
                      duplex: auto
                      enable_mac_auth: true
                      enable_qos: true
                      guest_network: string
                      mac_auth_only: true
                      mac_limit: 0
                      mode: access
                      mtu: 0
                      networks:
                      - string
                      persist_mac: false
                      poe_disabled: false
                      port_auth: string
                      port_network: string
                      rejected_network: null
                      speed: string
                      storm_control:
                        no_broadcast: false
                        no_multicast: false
                        no_registered_multicast: false
                        no_unknown_unicast: false
                        percentage: 80
                      stp_edge: true
                      voip_network: string
                  radius_config:
                    acct_interim_interval: 0
                    acct_servers:
                    - host: 1.2.3.4
                      keywrap_enabled: true
                      keywrap_format: hex
                      keywrap_kek: '1122334455'
                      keywrap_mack: '1122334455'
                      port: 1813
                      secret: testing123
                    auth_servers:
                    - host: 1.2.3.4
                      keywrap_enabled: true
                      keywrap_format: hex
                      keywrap_kek: '1122334455'
                      keywrap_mack: '1122334455'
                      port: 1812
                      secret: testing123
                    auth_servers_retries: 3
                    auth_servers_timeout: 5
                    coa_enabled: false
                    coa_port: 3799
                    network: string
                    source_ip: string
                  remote_syslog:
                    archive:
                      files: 111
                      size: 5m
                    console:
                      contents:
                      - facility: any
                        severity: any
                    enabled: false
                    files:
                    - archive:
                        files: 10
                        size: 5m
                      contents:
                      - facility: any
                        severity: any
                      explicit_priority: true
                      file: file-name
                      match: '!alarm|ntp|errors.crc_error[chan]'
                      structured_data: true
                    network: string
                    send_to_all_servers: true
                    servers:
                    - contents:
                      - facility: any
                        severity: any
                      explicit_priority: true
                      facility: any
                      host: syslogd.internal
                      match: '!alarm|ntp|errors.crc_error[chan]'
                      port: 514
                      protocol: udp
                      routing_instance: routing-instance-name
                      severity: any
                      source_address: string
                      structured_data: true
                      tag: string
                    time_format: millisecond
                    users:
                    - contents:
                      - facility: any
                        severity: any
                      match: '"!alarm|ntp|errors.crc_error[chan]"'
                      user: '*'
                  snmp_config:
                    client_list:
                    - client_list_name: clist-1
                      clients:
                      - 151.140.101.218/32
                    contact: cns@juniper.net
                    description: Juniper QFX Series Switch - 1K_5LA
                    enabled: true
                    engine_id: local
                    location: Las Vegas, NV
                    name: TGH-1K-QFX10K
                    network: default
                    trap_groups:
                    - categories:
                      - authentication
                      group_name: profiler
                      targets:
                      - 172.29.158.19
                      version: v2
                    v2c_config:
                    - authorization: read-only
                      client_list_name: clist-1
                      community_name: abc123
                      view: all
                    v3_config:
                      notify:
                      - name: string
                        tag: string
                        type: trap
                      notify_filter:
                      - contents:
                        - include: true
                          oid: 1.3.6.1.4.1
                        profile_name: string
                      target_address:
                      - address: address
                        address_mask: address_mask
                        port: 161
                        tag_list: string
                        target_address_name: target_address_name
                        target_parameters: string
                      target_parameters:
                      - message_processing_model: v1
                        name: string
                        notify_filter: string
                        security_level: authentication
                        security_model: usm
                        security_name: m01620
                      usm:
                        engine-id: 00:00:00:0b:00:00:70:10:6f:08:b6:3f
                        engine_type: remote_engine
                        users:
                        - authentication_password: strings
                          authentication_type: authentication-md5
                          encryption_password: stringst
                          encryption_type: privacy-aes128
                          name: string
                      vacm:
                        access:
                        - group_name: string
                          prefix_list:
                          - context_prefix: iil
                            notify_view: all
                            read_view: all
                            security_level: privacy
                            security_model: any
                            type: default_context_prefix
                            write_view: all
                        security_to_group:
                          content:
                          - group: string
                            security_name: string
                          security_model: usm
                    views:
                      include: true
                      oid: 1.3.6.1
                      view_name: all
                  switch_matching:
                    enable: true
                    rules:
                    - additional_config_cmds:
                      - string
                      match_role: string
                      name: string
                      port_config:
                        property1:
                          ae_disable_lacp: true
                          ae_idx: 0
                          aggregated: false
                          critical: true
                          description: string
                          disable_autoneg: false
                          duplex: auto
                          dynamic_usage: string
                          esilag: true
                          mtu: 1514
                          no_local_overwrite: true
                          poe_disabled: false
                          speed: auto
                          usage: string
                        property2:
                          ae_disable_lacp: true
                          ae_idx: 0
                          aggregated: false
                          critical: true
                          description: string
                          disable_autoneg: false
                          duplex: auto
                          dynamic_usage: string
                          esilag: true
                          mtu: 1514
                          no_local_overwrite: true
                          poe_disabled: false
                          speed: auto
                          usage: string
                      property1: string
                      property2: string
                      switch_mgmt:
                        ap_affinity_threshold: '10'
                        config_revert_timer: 10
                        dhcp_option_fqdn: false
                        mxedge_proxy_host: string
                        mxedge_proxy_port: 2222
                        use_mxedge_proxy: false
                  switch_mgmt:
                    config_revert: 10
                    protect_re:
                      enabled: false
                    root_password: string
                    tacacs:
                      acct_servers:
                      - host: string
                        port: string
                        secret: string
                        timeout: 10
                      enabled: true
                      network: string
                      tacplus_servers:
                      - host: string
                        port: string
                        secret: string
                        timeout: 10
                  vrf_config:
                    enabled: false
                  vrf_instances:
                    property1:
                      extra_routes:
                        property1:
                          via: string
                        property2:
                          via: string
                      networks:
                      - string
                    property2:
                      extra_routes:
                        property1:
                          via: string
                        property2:
                          via: string
                      networks:
                      - string
            schema:
              $ref: '#/components/schemas/networktemplate'
        description: Request Body
      responses:
        '200':
          content:
            application/json:
              examples:
                Example:
                  value:
                    additional_config_cmds:
                    - string
                    created_time: 0
                    dhcp_snooping:
                      all_networks: true
                      enable_arp_spoof_check: true
                      enable_ip_source_guard: true
                      enabled: true
                      networks:
                      - string
                    dns_servers:
                    - string
                    dns_suffix:
                    - string
                    extra_routes:
                      property1:
                        via: string
                      property2:
                        via: string
                    group_tags: {}
                    id: 497f6eca-6276-4993-bfeb-53e0bbba6f08
                    import_org_networks:
                    - ap
                    mist_nac:
                      enabled: true
                      network: string
                    modified_time: 0
                    name: string
                    networks:
                      property1:
                        subnet: 192.168.1.0/24
                        vlan_id: 10
                      property2:
                        subnet: 192.168.1.0/24
                        vlan_id: 10
                    ntp_servers:
                    - string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    port_usages:
                      dynamic:
                        mode: dynamic
                        reset_default_when: link_down
                        rules:
                        - equals: string
                          equals_any:
                          - string
                          expression: string
                          src: lldp_chassis_id
                          usage: string
                      property1:
                        all_networks: false
                        allow_dhcpd: true
                        authentication_protocol: pap
                        bypass_auth_when_server_down: true
                        description: string
                        disable_autoneg: false
                        disabled: false
                        duplex: auto
                        enable_mac_auth: true
                        enable_qos: true
                        guest_network: string
                        mac_auth_only: true
                        mac_limit: 0
                        mode: access
                        mtu: 0
                        networks:
                        - string
                        persist_mac: false
                        poe_disabled: false
                        port_auth: string
                        port_network: string
                        rejected_network: null
                        speed: string
                        storm_control:
                          no_broadcast: false
                          no_multicast: false
                          no_registered_multicast: false
                          no_unknown_unicast: false
                          percentage: 80
                        stp_edge: true
                        voip_network: string
                      property2:
                        all_networks: false
                        allow_dhcpd: true
                        authentication_protocol: pap
                        bypass_auth_when_server_down: true
                        description: string
                        disable_autoneg: false
                        disabled: false
                        duplex: auto
                        enable_mac_auth: true
                        enable_qos: true
                        guest_network: string
                        mac_auth_only: true
                        mac_limit: 0
                        mode: access
                        mtu: 0
                        networks:
                        - string
                        persist_mac: false
                        poe_disabled: false
                        port_auth: string
                        port_network: string
                        rejected_network: null
                        speed: string
                        storm_control:
                          no_broadcast: false
                          no_multicast: false
                          no_registered_multicast: false
                          no_unknown_unicast: false
                          percentage: 80
                        stp_edge: true
                        voip_network: string
                    radius_config:
                      acct_interim_interval: 0
                      acct_servers:
                      - host: 1.2.3.4
                        keywrap_enabled: true
                        keywrap_format: hex
                        keywrap_kek: '1122334455'
                        keywrap_mack: '1122334455'
                        port: 1813
                        secret: testing123
                      auth_servers:
                      - host: 1.2.3.4
                        keywrap_enabled: true
                        keywrap_format: hex
                        keywrap_kek: '1122334455'
                        keywrap_mack: '1122334455'
                        port: 1812
                        secret: testing123
                      auth_servers_retries: 3
                      auth_servers_timeout: 5
                      coa_enabled: false
                      coa_port: 3799
                      network: string
                      source_ip: string
                    remote_syslog:
                      archive:
                        files: 111
                        size: 5m
                      console:
                        contents:
                        - facility: any
                          severity: any
                      enabled: false
                      files:
                      - archive:
                          files: 10
                          size: 5m
                        contents:
                        - facility: any
                          severity: any
                        explicit_priority: true
                        file: file-name
                        match: '!alarm|ntp|errors.crc_error[chan]'
                        structured_data: true
                      network: string
                      send_to_all_servers: true
                      servers:
                      - contents:
                        - facility: any
                          severity: any
                        explicit_priority: true
                        facility: any
                        host: syslogd.internal
                        match: '!alarm|ntp|errors.crc_error[chan]'
                        port: 514
                        protocol: udp
                        routing_instance: routing-instance-name
                        severity: any
                        source_address: string
                        structured_data: true
                        tag: string
                      time_format: millisecond
                      users:
                      - contents:
                        - facility: any
                          severity: any
                        match: '"!alarm|ntp|errors.crc_error[chan]"'
                        user: '*'
                    snmp_config:
                      client_list:
                      - client_list_name: clist-1
                        clients:
                        - 151.140.101.218/32
                      contact: cns@juniper.net
                      description: Juniper QFX Series Switch - 1K_5LA
                      enabled: true
                      engine_id: local
                      location: Las Vegas, NV
                      name: TGH-1K-QFX10K
                      network: default
                      trap_groups:
                      - categories:
                        - authentication
                        group_name: profiler
                        targets:
                        - 172.29.158.19
                        version: v2
                      v2c_config:
                      - authorization: read-only
                        client_list_name: clist-1
                        community_name: abc123
                        view: all
                      v3_config:
                        notify:
                        - name: string
                          tag: string
                          type: trap
                        notify_filter:
                        - contents:
                          - include: true
                            oid: 1.3.6.1.4.1
                          profile_name: string
                        target_address:
                        - address: address
                          address_mask: address_mask
                          port: 161
                          tag_list: string
                          target_address_name: target_address_name
                          target_parameters: string
                        target_parameters:
                        - message_processing_model: v1
                          name: string
                          notify_filter: string
                          security_level: authentication
                          security_model: usm
                          security_name: m01620
                        usm:
                          engine-id: 00:00:00:0b:00:00:70:10:6f:08:b6:3f
                          engine_type: remote_engine
                          users:
                          - authentication_password: strings
                            authentication_type: authentication-md5
                            encryption_password: stringst
                            encryption_type: privacy-aes128
                            name: string
                        vacm:
                          access:
                          - group_name: string
                            prefix_list:
                            - context_prefix: iil
                              notify_view: all
                              read_view: all
                              security_level: privacy
                              security_model: any
                              type: default_context_prefix
                              write_view: all
                          security_to_group:
                            content:
                            - group: string
                              security_name: string
                            security_model: usm
                      views:
                        include: true
                        oid: 1.3.6.1
                        view_name: all
                    switch_matching:
                      enable: true
                      rules:
                      - additional_config_cmds:
                        - string
                        match_role: string
                        name: string
                        port_config:
                          property1:
                            ae_disable_lacp: true
                            ae_idx: 0
                            aggregated: false
                            critical: true
                            description: string
                            disable_autoneg: false
                            duplex: auto
                            dynamic_usage: string
                            esilag: true
                            mtu: 1514
                            no_local_overwrite: true
                            poe_disabled: false
                            speed: auto
                            usage: string
                          property2:
                            ae_disable_lacp: true
                            ae_idx: 0
                            aggregated: false
                            critical: true
                            description: string
                            disable_autoneg: false
                            duplex: auto
                            dynamic_usage: string
                            esilag: true
                            mtu: 1514
                            no_local_overwrite: true
                            poe_disabled: false
                            speed: auto
                            usage: string
                        property1: string
                        property2: string
                        switch_mgmt:
                          ap_affinity_threshold: '10'
                          config_revert_timer: 10
                          dhcp_option_fqdn: false
                          mxedge_proxy_host: string
                          mxedge_proxy_port: 2222
                          use_mxedge_proxy: false
                    switch_mgmt:
                      config_revert: 10
                      protect_re:
                        enabled: false
                      root_password: string
                      tacacs:
                        acct_servers:
                        - host: string
                          port: string
                          secret: string
                          timeout: 10
                        enabled: true
                        network: string
                        tacplus_servers:
                        - host: string
                          port: string
                          secret: string
                          timeout: 10
                    vrf_config:
                      enabled: false
                    vrf_instances:
                      property1:
                        extra_routes:
                          property1:
                            via: string
                          property2:
                            via: string
                        networks:
                        - string
                      property2:
                        extra_routes:
                          property1:
                            via: string
                          property2:
                            via: string
                        networks:
                        - string
              schema:
                $ref: '#/components/schemas/networktemplate'
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgNetworkTemplates
      tags:
      - tag:LAN:CONFIGURE:Orgs:Network Templates
      - Orgs Network Templates
  /api/v1/orgs/{org_id}/stats/ports/search:
    get:
      description: Search Switch / Gateway Ports
      operationId: searchOrgSwOrGwPorts
      parameters:
      - description: indicates full or half duplex
        in: query
        name: full_duplex
        schema:
          type: boolean
      - description: device identifier
        in: query
        name: mac
        schema:
          type: string
      - description: Chassis identifier of the chassis type listed
        in: query
        name: neighbor_mac
        schema:
          type: string
      - description: "Description supplied by the system on the interface E.g. \u201C\
          GigabitEthernet2/0/39\u201D"
        in: query
        name: neighbor_port_desc
        schema:
          type: string
      - description: "Name supplied by the system on the interface E.g. neighbor system\
          \ name E.g. \u201CKumar-Acc-SW.mist.local\u201D"
        in: query
        name: neighbor_system_name
        schema:
          type: string
      - description: is the POE configured not be disabled.
        in: query
        name: poe_disabled
        schema:
          type: boolean
      - description: "poe mode depending on class E.g. \u201C802.3at\u201D"
        in: query
        name: poe_mode
        schema:
          type: string
      - description: is the device attached to POE
        in: query
        name: poe_on
        schema:
          type: boolean
      - description: interface name
        in: query
        name: port_id
        schema:
          type: string
      - description: interface mac address
        in: query
        name: port_mac
        schema:
          type: string
      - description: Amount of power being used by the interface at the time the command
          is executed. Unit in watts.
        in: query
        name: power_draw
        schema:
          type: number
      - description: Output packets
        in: query
        name: tx_pkts
        schema:
          type: integer
      - description: Input packets
        in: query
        name: rx_pkts
        schema:
          type: integer
      - description: Input bytes
        in: query
        name: rx_bytes
        schema:
          type: integer
      - description: Output rate
        in: query
        name: tx_bps
        schema:
          type: integer
      - description: Input rate
        in: query
        name: rx_bps
        schema:
          type: integer
      - description: Output errors
        in: query
        name: tx_errors
        schema:
          type: integer
      - description: Input errors
        in: query
        name: rx_errors
        schema:
          type: integer
      - description: Multicast output packets
        in: query
        name: tx_mcast_pkts
        schema:
          type: integer
      - description: Broadcast output packets
        in: query
        name: tx_bcast_pkts
        schema:
          type: integer
      - description: Multicast input packets
        in: query
        name: rx_mcast_pkts
        schema:
          type: integer
      - description: Broadcast input packets
        in: query
        name: rx_bcast_pkts
        schema:
          type: integer
      - description: port speed
        in: query
        name: speed
        schema:
          type: integer
      - description: Limit on number of dynamically learned macs
        in: query
        name: mac_limit
        schema:
          type: integer
      - description: Number of mac addresses in the forwarding table
        in: query
        name: mac_count
        schema:
          type: integer
      - description: indicates if interface is up
        in: query
        name: up
        schema:
          type: boolean
      - description: if `up`==`true`
        in: query
        name: stp_state
        schema:
          enum:
          - forwarding
          - blocking
          - learning
          - listening
          - disabled
          type: string
      - description: if `up`==`true`
        in: query
        name: stp_role
        schema:
          enum:
          - designated
          - backup
          - alternate
          - root
          - root-prevented
          type: string
      - description: if `up`==`true` && has Authenticator role
        in: query
        name: auth_state
        schema:
          enum:
          - init
          - authenticated
          - authenticating
          - held
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/PortStatsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgSwOrGwPorts
      tags:
      - tag:LAN:MONITOR:Orgs:Devices Stats
      - Orgs Devices Stats
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/stats/switch_ports/count:
    get:
      description: Count by Distinct Attributes of Switch/Gateway Ports
      operationId: countOrgSwitchPorts
      parameters:
      - description: port_id, port_mac, full_duplex, mac, neighbor_macneighbor_port_desc,
          neighbor_system_name, poe_disabled, poe_mode, poe_on, speed, up
        in: query
        name: distinct
        schema:
          default: mac
          enum:
          - port_id
          - port_mac
          - full_duplex
          - mac
          - neighbor_mac
          - neighbor_port_desc
          - neighbor_system_name
          - poe_disabled
          - poe_mode
          - poe_on
          - speed
          - up
          type: string
      - description: indicates full or half duplex
        in: query
        name: full_duplex
        schema:
          type: boolean
      - description: device identifier
        in: query
        name: mac
        schema:
          type: string
      - description: Chassis identifier of the chassis type listed
        in: query
        name: neighbor_mac
        schema:
          type: string
      - description: "Description supplied by the system on the interface E.g. \u201C\
          GigabitEthernet2/0/39\u201D"
        in: query
        name: neighbor_port_desc
        schema:
          type: string
      - description: "Name supplied by the system on the interface E.g. neighbor system\
          \ name E.g. \u201CKumar-Acc-SW.mist.local\u201D"
        in: query
        name: neighbor_system_name
        schema:
          type: string
      - description: is the POE configured not be disabled.
        in: query
        name: poe_disabled
        schema:
          type: boolean
      - description: "poe mode depending on class E.g. \u201C802.3at\u201D"
        in: query
        name: poe_mode
        schema:
          type: string
      - description: is the device attached to POE
        in: query
        name: poe_on
        schema:
          type: boolean
      - description: interface name
        in: query
        name: port_id
        schema:
          type: string
      - description: interface mac address
        in: query
        name: port_mac
        schema:
          type: string
      - description: Amount of power being used by the interface at the time the command
          is executed. Unit in watts.
        in: query
        name: power_draw
        schema:
          type: number
      - description: Output packets
        in: query
        name: tx_pkts
        schema:
          type: integer
      - description: Input packets
        in: query
        name: rx_pkts
        schema:
          type: integer
      - description: Input bytes
        in: query
        name: rx_bytes
        schema:
          type: integer
      - description: Output rate
        in: query
        name: tx_bps
        schema:
          type: integer
      - description: Input rate
        in: query
        name: rx_bps
        schema:
          type: integer
      - description: Multicast output packets
        in: query
        name: tx_mcast_pkts
        schema:
          type: integer
      - description: Broadcast output packets
        in: query
        name: tx_bcast_pkts
        schema:
          type: integer
      - description: Multicast input packets
        in: query
        name: rx_mcast_pkts
        schema:
          type: integer
      - description: Broadcast input packets
        in: query
        name: rx_bcast_pkts
        schema:
          type: integer
      - description: port speed
        in: query
        name: speed
        schema:
          type: integer
      - description: if `up`==`true`
        in: query
        name: stp_state
        schema:
          enum:
          - forwarding
          - blocking
          - learning
          - listening
          - disabled
          type: string
      - description: if `up`==`true`
        in: query
        name: stp_role
        schema:
          enum:
          - designated
          - backup
          - alternate
          - root
          - root-prevented
          type: string
      - description: if `up`==`true`
        in: query
        name: auth_state
        schema:
          enum:
          - init
          - authenticated
          - authenticating
          - held
          type: string
      - description: indicates if interface is up
        in: query
        name: up
        schema:
          type: boolean
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    distinct: mac
                    end: 1513177200
                    limit: 100
                    results:
                    - count: 217
                      mac: '112233445566'
                    - count: 35
                      mac: '001122334455'
                    start: 1511967600
                    total: 20
              schema:
                properties:
                  distinct:
                    type: string
                  end:
                    type: integer
                  limit:
                    type: integer
                  results:
                    items:
                      properties:
                        count:
                          type: integer
                        mac:
                          type: string
                      required:
                      - count
                      - mac
                    minItems: 1
                    type: array
                    uniqueItems: true
                  start:
                    type: integer
                  total:
                    type: integer
                required:
                - start
                - end
                - limit
                - distinct
                - total
                - results
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countOrgSwitchPorts
      tags:
      - tag:LAN:MONITOR:Orgs:Stats
      - Orgs Stats
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/wired_clients/count:
    get:
      description: 'Count by Distinct Attributes of Clients


        Note: For list of avaialable `type` values, please refer to [listClientEventsDefinitions](/#operation/listClientEventsDefinitions)'
      operationId: countOrgWiredClients
      parameters:
      - in: query
        name: distinct
        schema:
          default: mac
          enum:
          - port_id
          - vlan
          - mac
          - device_mac
          - site_id
          - type
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countOrgWiredClients
      tags:
      - tag:LAN:MONITOR:Orgs:Clients - Wired
      - Orgs Clients - Wired
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/wired_clients/search:
    get:
      description: 'Search for Wired Clients in org


        Note: For list of avaialable `type` values, please refer to [listClientEventsDefinitions](/#operation/listClientEventsDefinitions)'
      operationId: searchOrgWiredClients
      parameters:
      - description: Site ID
        in: query
        name: site_id
        schema:
          type: string
      - description: device mac
        in: query
        name: device_mac
        schema:
          type: string
      - description: client mac
        in: query
        name: mac
        schema:
          type: string
      - description: port id
        in: query
        name: port_id
        schema:
          type: string
      - description: vlan
        in: query
        name: vlan
        schema:
          type: integer
      - description: ip
        in: query
        name: ip
        schema:
          type: string
      - description: client manufacturer
        in: query
        name: manufacture
        schema:
          type: string
      - description: single entry of hostname/mac
        in: query
        name: text
        schema:
          type: string
      - description: nacrule_id
        in: query
        name: nacrule_id
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/WiredClientsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgWiredClients
      tags:
      - tag:LAN:MONITOR:Orgs:Clients - Wired
      - Orgs Clients - Wired
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/sites/{site_id}/devices/upgrade_bios:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Upgrade Bios Multiple Device
      operationId: upgraseSiteMultipleDevicesBios
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  device_ids:
                  - 00000000-0000-0000-1000-5c5b35584a6f
                  models:
                  - EX4400-48T
                  version: CDEN_P_EX1_00.15.01.00
            schema:
              properties:
                device_ids:
                  description: list of device id to upgrade bios
                  items:
                    example: 00000000-0000-0000-1000-5c5b35584a6f
                    format: uuid
                    type: string
                  type: array
                models:
                  description: list of device model to upgrade bios
                  items:
                    example: EX4400-48T
                    type: string
                  type: array
                reboot:
                  default: false
                  description: Reboot device immediately after upgrade is completed
                  type: boolean
                version:
                  description: specific bios version
                  example: CDEN_P_EX1_00.15.01.00
                  type: string
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: upgraseSiteMultipleDevicesBios
      tags:
      - tag:LAN:CONFIGURE:Sites:Devices Upgrades
      - Sites Devices Upgrades
  /api/v1/sites/{site_id}/devices/zeroize:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Zeroize all FIPS APs in the Site
      operationId: zeroizeSiteFipsAllAps
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  password: NUKETHESITE
            schema:
              properties:
                password:
                  description: FIPS zeroize password
                  type: string
              required:
              - password
              type: object
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: zeroizeSiteFipsAllAps
      tags:
      - tag:LAN:CONFIGURE:Sites:Devices - Wireless
      - Sites Devices - Wireless
  /api/v1/sites/{site_id}/devices/{device_id}/check_radius_server:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: "Ping test from the AP to confirm \u2018reachability\u2019 of the\
        \ Radius server. Utilize Juniper EX switch(to which an AP is connected to)\
        \ radius test capabilities to get details on the Radius Server \u2018availability\u2019\
        ."
      operationId: startSiteSwitchRadiusSyntheticTest
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  password: string
                  profile: dot1x
                  user: string
            schema:
              properties:
                password:
                  description: Specify the password associated with the username
                  type: string
                profile:
                  default: dot1x
                  description: Specify the access profile associated with the subscriber
                  type: string
                user:
                  description: Specify the subscriber username to test
                  type: string
              required:
              - user
              - password
              type: object
      responses:
        '200':
          $ref: '#/components/responses/Session'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: triggerSiteSwitchRadiusSyntheticTest
      tags:
      - tag:LAN:CONFIGURE:Sites:Synthetic Tests
      - Sites Synthetic Tests
  /api/v1/sites/{site_id}/devices/{device_id}/clear_bpdu_error:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: Clear bridge protocol data unit (BPDU) error condition caused by
        the detection of a possible bridging loop from Spanning Tree Protocol (STP)
        operation that renders the port unoperational.
      operationId: clearBpduErrosFromPortsOnSwitch
      requestBody:
        content:
          application/json:
            schema:
              properties:
                port:
                  description: the port on which to clear the detected BPDU error,
                    or `all` for all ports
                  type: string
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          description: Port not specified
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: clearBpduErrosFromPortsOnSwitch
      tags:
      - tag:LAN:CONFIGURE:Sites:Devices - Wired
      - Sites Devices - Wired
  /api/v1/sites/{site_id}/devices/{device_id}/clear_macs:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: Clear all learned MAC addresses, including persistent MAC addresses,
        on a port.
      operationId: clearAllLearnedMacsFromPortOnSwitch
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  ports:
                  - ge-0/0/0.0
            schema:
              properties:
                ports:
                  description: the ports on which to clear the detected BPDU error,
                    or `["all"]` for all ports
                  items:
                    type: string
                  type: array
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: clearAllLearnedMacsFromPortOnSwitch
      tags:
      - tag:LAN:CONFIGURE:Sites:Devices - Wired
      - Sites Devices - Wired
  /api/v1/sites/{site_id}/devices/{device_id}/config_cmd:
    get:
      description: 'Get Config CLI Commands

        For a brown-field switch deployment where we adopted the switch through Adoption
        Command, we do not wipe out / overwrite the existing config automatically.
        Instead, we generate CLI commands that we would have generated. The user can
        inspect, modify, and incorporate this into their existing config manually.


        Once they feel comfortable about the config we generate, they can enable allow_mist_config
        where we will take full control of their config like a claimed switch'
      operationId: getSiteDeviceConfigCmd
      parameters:
      - description: Make output cmds sorted (for better readability) or not.
        in: query
        name: sort
        schema:
          default: 'false'
          enum:
          - 'true'
          - 'false'
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DeviceConfigCmd'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteDeviceConfigCmd
      tags:
      - tag:LAN:CONFIGURE:Sites:Devices
      - Sites Devices
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
  /api/v1/sites/{site_id}/devices/{device_id}/local_port_config:
    delete:
      description: Sometimes HelpDesk Admin needs to change port configs
      operationId: deleteSiteLocalSwitchPortConfig
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteSiteLocalSwitchPortConfig
      tags:
      - tag:LAN:CONFIGURE:Sites:Devices - Wired
      - Sites Devices - Wired
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    put:
      description: Sometimes HelpDesk Admin needs to change port configs
      operationId: updateSiteLocalSwitchPortConfig
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  ae_disable_lacp: true
                  ae_idx: 0
                  aggregated: false
                  description: string
                  disable_autoneg: true
                  duplex: auto
                  dynamic_usage: string
                  esilag: true
                  poe_disabled: true
                  speed: auto
                  usage: string
            schema:
              $ref: '#/components/schemas/junos_port_config'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateSiteLocalSwitchPortConfig
      tags:
      - tag:LAN:CONFIGURE:Sites:Devices - Wired
      - Sites Devices - Wired
  /api/v1/sites/{site_id}/devices/{device_id}/poll_stats:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: This API can be used to poll statistics from the Switch proactively
        once. After it is called, the statistics will be pushed back to the cloud
        within the statistics interval.
      operationId: pollSiteSwitchStats
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: pollSiteSwitchStats
      tags:
      - tag:LAN:CONFIGURE:Sites:Devices - Wired
      - Sites Devices - Wired
  /api/v1/sites/{site_id}/devices/{device_id}/snapshot:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: Create recovery device snapshot (Available on Junos OS EX2300-,
        EX3400-, EX4400- devices)
      operationId: createSiteDeviceSnapshot
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    status_id: string
                    staus: starting
                    timestamp: 0
              schema:
                properties:
                  status_id:
                    description: the internal status id
                    type: string
                  staus:
                    enum:
                    - starting
                    - inprogress
                    - success
                    - error
                    - scheduled
                    type: string
                  timestamp:
                    type: number
                type: object
          description: OK
        '400':
          content:
            application/json:
              examples:
                cannot-snapshot-an-offline-device:
                  value: cannot snapshot an offline device
                snapshot-not-supported:
                  value: snapshot not supported
              schema:
                type: string
          description: Bad Request
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createSiteDeviceSnapshot
      tags:
      - tag:LAN:CONFIGURE:Sites:Devices Utilities
      - Sites Devices Utilities
  /api/v1/sites/{site_id}/devices/{device_id}/upgrade_bios:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: Upgrade device bios
      operationId: upgradeSiteDeviceBios
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  version: CDEN_P_EX1_00.20.01.00
            schema:
              properties:
                reboot:
                  default: false
                  description: Reboot device immediately after upgrade is completed
                  type: boolean
                version:
                  description: specific bios version
                  example: CDEN_P_EX1_00.20.01.00
                  type: string
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                Example:
                  value:
                    status: inprogress
                    timestamp: 1428949501
              schema:
                properties:
                  status:
                    type: string
                  timestamp:
                    type: integer
                type: object
          description: OK
      summary: upgradeSiteDeviceBios
      tags:
      - tag:LAN:CONFIGURE:Sites:Devices Upgrades
      - Sites Devices Upgrades
  /api/v1/sites/{site_id}/devices/{device_id}/vc:
    delete:
      description: "When all the member switches of VC are removed and only member\
        \ ID 0 is left, the cloud would detect this situation and automatically changes\
        \ the single switch to non-VC role.\n\nFor some unexpected cases that the\
        \ VC is gone and disconncted, the API below could be used to change the state\
        \ of VC\u2019s switches to be standalone. After it is executed, all the switches\
        \ will be shown as standalone switches under Inventory."
      operationId: deleteSiteVirtualChassis
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteSiteVirtualChassis
      tags:
      - tag:LAN:CONFIGURE:Sites:Devices - Wired Virtual Chassis
      - Sites Devices - Wired Virtual Chassis
    get:
      description: 'Get VC Status


        The API returns a combined view of the VC status which includes topology and
        stats_'
      operationId: getSiteDeviceVirtualChassis
      responses:
        '200':
          $ref: '#/components/responses/Vc'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteDeviceVirtualChassis
      tags:
      - tag:LAN:CONFIGURE:Sites:Devices - Wired Virtual Chassis
      - Sites Devices - Wired Virtual Chassis
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: "For models (e.g. EX3400 and up) having dedicated VC ports, it\
        \ is easier to form a VC by just connecting cables with the dedicated VC ports.\
        \ Cloud will detect the new VC and update the inventory.\n\nIn case that the\
        \ user would like to choose the dedicated switch as a VC master. Or for EX2300-C-12P\
        \ and EX2300-C-12T which doesn\u2019t have dedicated VC ports, below are procedures\
        \ to automate the VC creation:\n\n1. Power on the switch that is choosen as\
        \ the VC master first. And the powering on the other member switches.\n2.\
        \ Claim or adopt all these switches under the same organization\u2019s Inventory\n\
        3. Assign these switches into the same Site\n4. Invoke vc command on the switch\
        \ choosen to be the VC master. For EX2300-C-12P, VC ports will be created\
        \ automatically.\n5. Connect the cables to the VC ports for these switches\n\
        6. Wait for the VC to be formed. The Org\u2019s inventory will be updated\
        \ for the new VC."
      operationId: createSiteVirtualChassis
      requestBody:
        content:
          application/json:
            examples:
              create-a-VC-with-three-members:
                value:
                  members:
                  - mac: aff827549235
                    vc_ports:
                    - xe-0/1/0
                    vc_role: master
                  - mac: 8396cd006c8c
                    vc_ports:
                    - xe-0/1/0
                    - xe-0/1/1
                    vc_role: backup
                  - mac: 8396cd00888c
                    vc_ports:
                    - xe-0/1/0
                    vc_role: linecard
              create-a-pre-provisioned-VC-with-three-members:
                value:
                  members:
                  - mac: aff827549235
                    member_id: 0
                    vc_ports:
                    - xe-0/1/0
                    - xe-0/1/1
                    vc_role: master
                  - mac: 8396cd006c8c
                    member_id: 1
                    vc_ports:
                    - xe-0/1/0
                    vc_role: linecard
                  - mac: 8396cd00888c
                    member_id: 2
                    vc_ports:
                    - xe-0/1/0
                    vc_role: backup
                  preprovisioned: true
            schema:
              $ref: '#/components/schemas/device_switch_vc'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Vc'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createSiteVirtualChassis
      tags:
      - tag:LAN:CONFIGURE:Sites:Devices - Wired Virtual Chassis
      - Sites Devices - Wired Virtual Chassis
    put:
      description: "The VC creation and adding member switch API will update the device\u2019\
        s virtual chassis config which is applied after VC is formed to create JUNOS\
        \ pre-provisioned virtual chassis configuration.\n\n## Change to use preprovisioned\
        \ VC\nTo switch the VC to use preprovisioned VC, enable preprovisioned in\
        \ virtual_chassis config. Both vc_role master and backup will be matched to\
        \ routing-engine role in Junos preprovisioned VC config.\n\nIn this config,\
        \ fpc0 has to be the same as the mac of device_id. Use renumber if you want\
        \ to replace fpc0 which involves device_id change.\n\nNotice: to configure\
        \ preprovisioned VC, every member of the VC must be in the inventory.\n\n\
        ## Add new members\nFor models (e.g. EX4300 and up) having dedicated VC ports,\
        \ it is easier to add new member switches into a VC by just connecting cables\
        \ with the dedicated VC ports. Cloud will detect the new members and update\
        \ the inventory.\n\nFor EX2300 VC, adding new members requires to follow the\
        \ procedures below:\n1. Powering on the new member switches and ensuring cables\
        \ are not connected to any VC ports.\n2. Claim or adopt all new member switches\
        \ under the VC\u2019s organization Inventory\n3. Assign all new member switches\
        \ to the same Site as the VC\n4. Invoke vc command to add switches to the\
        \ VC.\n5. Connect the cables to the VC ports for these switches\n6. After\
        \ a while, the Org\u2019s Inventory shows this new switches has been added\
        \ into the VC.\n\n## Removing member switch\nTo remove a member switch from\
        \ the VC, following the procedures below:\n\n1. Ensuring the VC is connected\
        \ to the cloud first\n2. Unplug the cable from the VC port of the switch\n\
        3. Waiting for the VC state (vc_state) of this switch is changed to not-present\n\
        4. Invoke update_vc with remove to remove this switch from the VC\n5. The\
        \ Org\u2019s Inventory shows the switch is removed.\n\nPlease notice that\
        \ member ID 0 (fpc0) cannot be removed. When a VC has two switches left, unpluging\
        \ the cable may result in the situation that fpc0 becomes a line card (LC).\
        \ When this situation is happened, please re-plug in the cable, wait for both\
        \ switches becoming present (show virtual-chassis) and then removing the cable\
        \ again.\n\n## Renumber a member switch\nWhen a member switch doesn\u2019\
        t work properly and needed to be replaced, the renumber API could be used.\
        \ The following two types of renumber are supported:\n\n1. Replace a non-fpc0\
        \ member switch\n2. Replace fpc0. When fpc0 is relaced, PAPI device config\
        \ and JUNOS config will be both updated.\n\nFor renumber to work, the following\
        \ procedures are needed: \n1. Ensuring the VC is connected to the cloud and\
        \ the state of the member switch to be replaced must be non present. \n2.\
        \ Adding the new member switch to the VC \n3. Waiting for the VC state (vc_state)\
        \ of this VC to be updated to API server \n4. Invoke vc with renumber to replace\
        \ the new member switch from fpc X to\n\n## Perprovision VC members\nBy specifying\
        \ \u201Cpreprovision\u201D op, you can convert the current VC to pre-provisioned\
        \ mode, update VC members as well as specify vc_ports when adding new members\
        \ for device models without dedicated vc ports. Use renumber for fpc0 replacement\
        \ which involves device_id change.\n\nNote: \n1. vc_ports is used for adding\
        \ new members and not needed if * the device model has dedicated vc ports,\
        \ or * no new member is added \n2. New VC members to be added should exist\
        \ in the same Site as the VC\n\nUpdate Device\u2019s VC config can achieve\
        \ similar purpose by directly modifying current virtual_chassis config. However,\
        \ it cannot fulfill requests to enabling vc_ports on new members that are\
        \ yet to belong to current VC."
      operationId: updateSiteVirtualChassisMember
      requestBody:
        content:
          application/json:
            examples:
              adding-two-new-switches-as-line-cards-into-the-VC:
                value:
                  members:
                  - mac: aff827549235
                    member: 0
                    vc_ports:
                    - xe-0/1/1
                    vc_role: linecard
                  - mac: 8396cd00777c
                    vc_ports:
                    - xe-0/1/0
                    vc_role: linecard
                  op: add
              convert-to-pre-provisioned-VC:
                value:
                  member: 0
                  members:
                  - mac: string
                    member: 0
                    vc_ports:
                    - string
                    vc_role: master
                  new-member: 0
                  op: add
              removing-two-switches-from-VC:
                value:
                  members:
                  - member: 2
                  - member: 3
                  op: remove
              renumber-member-ID-3-to-member-ID-2:
                value:
                  member: 3
                  new-member: 2
                  op: renumber
            schema:
              $ref: '#/components/schemas/device_switch_vc_update'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Vc'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateSiteVirtualChassisMember
      tags:
      - tag:LAN:CONFIGURE:Sites:Devices - Wired Virtual Chassis
      - Sites Devices - Wired Virtual Chassis
  /api/v1/sites/{site_id}/devices/{device_id}/vc/vc_port:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: Set VC port
      operationId: setSiteVcPort
      requestBody:
        content:
          application/json:
            examples:
              delete-VC-port-of-xe-0/1/1-of-member-0-and-member-2:
                value:
                  members:
                  - member: 0
                    vc_ports:
                    - xe-0/1/1
                  - member: 2
                    vc_ports:
                    - xe-0/1/1
                  op: delete
              set-VC-port-of-xe-0/1/1-of-member-0-and-member-2:
                value:
                  members:
                  - member: 0
                    vc_ports:
                    - xe-0/1/1
                  - member: 2
                    vc_ports:
                    - xe-0/1/1
                  op: set
            schema:
              properties:
                members:
                  items:
                    properties:
                      member:
                        type: number
                      vc_ports:
                        items:
                          type: string
                        type: array
                    required:
                    - member
                    type: object
                  minItems: 1
                  type: array
                  uniqueItems: true
                op:
                  enum:
                  - set
                  - delete
                  minLength: 1
                  type: string
              required:
              - op
              - members
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: setSiteVcPort
      tags:
      - tag:LAN:CONFIGURE:Sites:Devices - Wired Virtual Chassis
      - Sites Devices - Wired Virtual Chassis
  /api/v1/sites/{site_id}/evpn_topologies:
    get:
      description: Get the existing EVPN topology
      operationId: getSiteEvpnTopology
      responses:
        '200':
          $ref: '#/components/responses/EvpnTopology'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteEvpnTopology
      tags:
      - tag:LAN:CONFIGURE:Sites:EVPN Topologies
      - Sites EVPN Topologies
    parameters:
[...]
