openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2401.1.2**

    >

    > Date: **Feb 1, 2024**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2311.1.4
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Login
- description: A Mist account can be linked to OAuth2 providers:\n1. First, login
    with your Mist account\n2. Obtain the Authorization URL for Linking 1. in JSON
    response, more usable for developers. Simply don\'t specify the forward parameter
    when obtaining the authorization URL 2. or as GET parameter, for UI where the
    user flow can be continued. Specify the landing page/url of your choice 3. Obtain
    the authorizaiton code by clicking / going through Authorization URL Link Mist
    Account against OAuth2 Provider by using the authorization code
  name: Login With OAuth2
- description: "In a typical enterprise, a separate group of people, Installers, are\
    \ responsible for install new devices. May it be a new installation (e.g. new\
    \ stores), a replacement installation (e.g. replacing Cisco APs with Mist APs),\
    \ or addition (e.g. adding new APs for better coverage). Instead of granting them\
    \ Admin/Write privilege, it's more desirable to grant them minimum privileges\
    \ to do the initial provisioning so they cannot read sensible information (e.g.\
    \ PSK of a WLAN), or change configs of running APs.\nAt a high level, Installer\
    \ APs try to achieve the following:\n1. identifying a device by MAC (that\u2019\
    s what they see)\n2. they can only touch configurations of the devices they\u2019\
    re installing\n3. allow the following configurations: * name * site assignment\
    \ * device  profile assignment * map and location (x/y) assignment * claim (if\
    \ not already in the inventory) * replace existing device with the device being\
    \ installed\n\n* Grace Period *\nGrace period provides a dynamic way to limit\
    \ what devices / sites   installer can work on. Generally installers work on recent\
    \ deployments -  bringing up new sites, add newly claimed devices to new / existing\
    \ sites. They  make mistakes, too, and may need to further tweak some of the parameters.\
    \   Default grace period is 7 days and can be set from 1 day to 365 days."
  name: Installer
- name: Admin
- name: Mobile
- description: MSP (Managed Service Provider) contains multiple Organizations.
  name: Msps
- name: Msps Admins
- name: Msps Inventory
- name: Msps Invites
- name: Msps Logo
- name: Msps Logs
- name: Msps Licenses
- name: Msps Marvis
- name: Msps Org Groups
- name: Msps Orgs
- name: Msps SLEs
- name: Msps SSO Roles
- name: Msps SSO
- name: Msps Stats
- name: Msps Tickets
- description: An organization usually represents a customer - which has inventories,
    licenses. An Organization can contain multiple sites. A site usually represents
    a deployment at the same location (a campus, an office).
  name: Orgs
- name: Orgs 128T
- name: Orgs Admins
- description: Alarms are triggered based on certain events. Alarms could be configured
    using an Alarm Template.
  name: Orgs Alarms
- description: An Alarm Template is a set of Alarm Rules that could be applied to
    one or more sites (while each site can only pick one Alarm Template), or to the
    whole org.
  name: Orgs Alarm Templates
- name: Orgs AP Templates
- name: Orgs API Tokens
- name: Orgs Assets
- name: Orgs Asset Filters
- name: Orgs Calls
- name: Orgs Cert
- name: Orgs Clients - NAC
- name: Orgs Clients - Wan
- name: Orgs Clients - Wired
- name: Orgs Clients - Wireless
- name: Orgs CRL
- description: 'While Templates / RF Templates / Network Templates / Gateway Templates
    provides powerful ways to control how a Device\''s configuration is derived for
    a Site. There are cases where you\''d like another level of control at the Org
    Level.

    A Device Profile contains a subset of Device\''s configurations you\''d like a
    device to have. It will be merged at runtime when we\''re provisioning an AP.'
  name: Orgs Device Profiles
- name: Orgs Devices
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Orgs EVPN Topologies
- description: API Call for 3rd party devices
  name: Orgs Devices Others
- name: Orgs Devices Stats
- name: Orgs Devices Upgrades
- description: "In Zscaler UI \n 1. add Partner Integration at https://admin.zscalerbeta.net/#administration/partner-integration\
    \ \n 2. Add Partner Administrator Role at https://admin.zscalerbeta.net/#administration/role-management\
    \ - Name: Mist - Access: Full \n 3. add Partner Admin at https://admin.zscalerbeta.net/#administration/admin-management\
    \ with - Login ID: john - email: john@abc.com \n 4. Find the cloud name for ZIA\
    \ https://help.zscaler.com/zia/what-my-cloud-name-zia\n"
  name: Orgs Devices Zscaler
- description: Gateway Template is applied to a site for gateway(s) in a site.
  name: Orgs Gateway Templates
- name: Orgs Guests
- name: Orgs IDP Profiles
- name: Orgs Inventory
- name: Orgs JSE
- description: "Juniper Support Insight is a free service provided to all Mist customers.\
    \ You can adopt your devices via a few lines CLI comands. Allowing you to \n*\
    \ get some basic information about the adopted devices \n* web shell into device\
    \ (write privilege required) \n* upgrade (write privilege required)"
  name: Orgs JSI
- name: Orgs Licenses
- name: Orgs Linked Applications
- name: Orgs Logs
- name: Orgs Marvis
- name: Orgs Maps
- name: Orgs MxClusters
- name: Orgs MxEdges
- name: Orgs MxTunnels
- name: Orgs NAC
- description: 'nactags are the building blocks to compose nacrules.

    They can either appear in the "matching" / "not_matching" sections of a nacrule,
    in which case they play the role of classifiers, or they could appear in the "apply_tags"
    section of the of a nacrule, in which case they influence the result.

    When the "type" field of nactag is "match", it can be used as the classfier of
    a nacrule. "match" field specifies the attribute name and "values" field specifies
    the list of attribute values to match on. When multiple values are specified,
    its treated as an OR condition between those values.

    When the "type" field of nactag is NOT "match", it can be used as the result of
    a nacrule. "type" field identifies the action to take and the corresponding field
    would provide any associated parameters to that action.'
  name: Orgs NAC Tags
- name: Orgs NAC CRL
- name: Orgs NAC Rules
- description: 'Network template is intended to be applied to a Site. It works like
    a blueprint of the network of the site.

    All Site Settings can go into Network Templates. See Site:Site Setting for schema

    Moreover, this can further be overwriten by individual Site Setting'
  name: Orgs Network Templates
- name: Orgs Networks
- name: Orgs Premium Analytics
- name: Orgs Psks
- description: "PSK Self-Service Portals are for \n  1. **WIFI users** who want to\
    \ connect to a WLAN with personal PSK, they\u2019re told to connect to a URL where\
    \ they can login (likely through company\u2019s SSO) and get the WIFI Name / Passphrase\
    \ - required input fields name, email so we can generate PSK \n  2. **PSK Admins**\
    \ (they don\u2019t have access to normal Network Admin Portal)\nWhen a PSK portal\
    \ is created, an unique URL will be generated (e.g. https://psk.mist.com/xxxxxx)"
  name: Orgs Psk Portals
- name: Orgs RF Templates
- name: Orgs SDK Clients
- name: Orgs SDK Templates
- description: "Security Policy is designed to audit / catch discripancies between\
    \ \u201Cwhat\u2019s intended to be running\u201D versus \u201Cwhat\u2019s actually\
    \ running\u201D in a network. Many big organizations have separated Security and\
    \ IT team (for good reasons). Each site can be assigned a security policy. Whenever\
    \ an AP is provisioned, the configuration will be checked against the security\
    \ policy. Any violations will be flagged in [Device Config History](/#operation/searchSiteDeviceConfigHistory)\
    \ where you can search for the when and where the violation occurs."
  name: Orgs SecPolicies
- name: Orgs Services
- name: Orgs Service Policies
- name: Orgs Setting
- name: Orgs Sitegroups
- name: Orgs Sites
- description: Site template is intended to be applied to a Site. The items in site
    setting which should be shared for all device types.
  name: Orgs Site Templates
- name: Orgs SLEs
- name: Orgs SSO Roles
- name: Orgs SSO
- name: Orgs Stats
- name: Orgs Subscriptions
- name: Orgs Templates
- name: Orgs Tickets
- name: Orgs Tunnels Stats
- name: Orgs Vars
- name: Orgs VPNs
- name: Orgs Webhooks
- name: Orgs Wlans
- name: Orgs WxRules
- name: Orgs WxTags
- name: Orgs WxTunnels
- description: A site represents a project, a deployment. For MSP, it can be as small
    as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps,
    Wlans, Policies, Zones.
  name: Sites
- name: Sites Alarms
- name: Sites AP Templates
- description: Applications contains a list of applications users are interested in
    monitoring / routing / policying
  name: Sites Applications
- name: Sites Anomaly
- name: Sites Asset Filters
- name: Sites Assets
- name: Sites Beacons
- name: Sites Calls
- name: Sites Clients - NAC
- name: Sites Clients - Wan
- name: Sites Clients - Wired
- name: Sites Clients - Wireless
- description: 'Mist provides many ways (device-type specific template, site template,
    device profile, per-device) to configure devices for different kind of scenarios.

    The precedence goes from most specific to least specific

    Device > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template
    > Site Template > Site Setting'
  name: Sites Devices
- name: Sites Devices - Wireless
- description: API Call for 3rd party devices
  name: Sites Devices Others
- name: Sites Devices - Wired
- name: Sites Devices - Wired Virtual Chassis
- name: Sites Devices - WAN
- name: Sites Devices - WAN HA
- name: Sites Devices Stats
- name: Sites Devices Upgrades
- name: Sites Devices Utilities
- name: Sites Events
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Sites EVPN Topologies
- name: Sites Guests
- name: Sites Insights
- name: Sites JSE
- name: Sites Licenses
- name: Sites Location
- name: Sites Maps
- name: Sites Maps Auto-orientation
- name: Sites Maps Auto-placement
- name: Sites MxEdges
- name: Sites MxTunnels
- name: Sites Network Templates
- name: Sites Networks
- name: Sites Pcaps
- name: Sites Psks
- name: Sites RF Templates
- name: Sites Rfdiags
- name: Sites Rogues
- name: Sites RRM
- name: Sites Rssizones
- name: Sites Services
- name: Sites Service Policies
- name: Sites Setting
- name: Sites Site Templates
- name: Sites Skyatp
- name: Sites SLEs
- name: Sites Stats
- name: Sites Subscriptions
- name: Sites Synthetic Tests
- name: Sites UI Settings
- name: Sites vBeacons
- name: Sites VPNs
- name: Sites Webhooks
- name: Sites Wlans
- name: Sites WxRules
- name: Sites WxTags
- name: Sites WxTunnels
- name: Sites Zones
- name: Constants
- name: Self Account
- description: "Like many other API providers, it\u2019s also possible to generate\
    \ API Tokens to be used (in HTTP Header) for authentication. An API token ties\
    \ to a Admin with equal or less privileges.\n\nNotes:\n* an API token generated\
    \ for a specific admin has the same privilege as the user\n* an API token will\
    \ be automatically removed if not used for > 90 days\n* SSO admins cannot generate\
    \ these API tokens. Refer Org level API tokens (/api/v1/docs/Org#api-token) which\
    \ can have privileges of a specific Org/Site for more information."
  name: Self API Token
- name: Self OAuth2
- name: Recover Password
- name: Self MFA
- name: Self Alarms
- name: Self Audit Logs
- name: Webhook Samples
paths:
  /api/v1/orgs/{org_id}/mist_nac/test_idp:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: "IDP Credential Validation. The output will be available through\
        \ websocket. As there can be multiple command issued against the same device\
        \ at the same time and the output all goes through the same websocket stream,\
        \ `session` is introduced for demux.\n\n#### Subscribe to Device Command outputs\n\
        `WS /api-ws/v1/stream`\n\n``` json\n{\n    \"subscribe\": \"orgs/:org_id/mist_nac/test_idp\"\
        \n}\n\n ```\n\n### Response (no idp can be found)\n\n``` json\n{\n    \"event\"\
        : \"data\",\n    \"channel\": \"/orgs/:org_id/mist_nac/test_idp\",\n    \"\
        status\": \n    \"data\": {\n        \"status\": \"failure\",\n        \"\
        error\": \"No matching IDP found\"\n    }\n}\n\n ```\n\n### Response OK\n\n\
        ``` json\n{\n    \"event\": \"data\",\n    \"channel\": \"/orgs/:org_id/mist_nac/test_idp\"\
        ,\n    \"status\": \n    \"data\": {\n        \"status\": \"success\",\n \
        \       \"idp_id\": \"915793c0-1355-4e98-b1c0-23df2227b357\",\n        \"\
        idp_type\": \"ldap\",\n        // more attributes will be added later\n  \
        \  }\n}\n\n ```\n\n### Response Invalid Credentials\n\n``` json\n{\n    \"\
        event\": \"data\",\n    \"channel\": \"/orgs/:org_id/mist_nac/test_idp\",\n\
        \    \"status\": \n    \"data\": {\n        \"status\": \"failure\",\n   \
        \     \"error\": \"Invalid Credentials\",\n        \"idp_id\": \"915793c0-1355-4e98-b1c0-23df2227b357\"\
        ,\n        \"idp_type\": \"ldap\",\n    }\n}\n\n ```"
      operationId: validateOrgIdpCredential
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  password: xxxxxx
                  username: suriyas@juniper.net
            schema:
              properties:
                password:
                  type: string
                username:
                  type: string
              type: object
      responses:
        '200':
          $ref: '#/components/responses/Session'
      summary: validateOrgIdpCredential
      tags:
      - Orgs NAC
      - cat:NAC:CONFIGURE
  /api/v1/orgs/{org_id}/nac_clients/count:
    get:
      description: Count by Distinct Attributes of NAC Clients
      operationId: countOrgNacClients
      parameters:
      - description: NAC Policy Rule ID, if matched
        in: query
        name: distinct
        schema:
          default: type
          enum:
          - type
          - last_nacrule_id
          - auth_type
          - last_vlan_id
          - last_nas_vendor
          - last_username
          - last_ap
          - mac
          - last_ssid
          - last_status
          - mdm_compliance_status
          - mdm_provider
          type: string
      - description: NAC Policy Rule ID, if matched
        in: query
        name: last_nacrule_id
        schema:
          type: string
      - description: NAC Policy Rule Matched
        in: query
        name: nacrule_matched
        schema:
          type: boolean
      - description: "authentication type, e.g. \u201Ceap-tls\u201D, \u201Ceap-ttls\u201D\
          , \u201Ceap-teap\u201D, \u201Cmab\u201D, \u201Cdevice-auth\u201D"
        in: query
        name: auth_type
        schema:
          type: string
      - description: Vlan ID
        in: query
        name: last_vlan_id
        schema:
          type: string
      - description: vendor of NAS device
        in: query
        name: last_nas_vendor
        schema:
          type: string
      - description: SSO ID, if present and used
        in: query
        name: idp_id
        schema:
          type: string
      - description: SSID
        in: query
        name: last_ssid
        schema:
          type: string
      - description: Username presented by the client
        in: query
        name: last_username
        schema:
          type: string
      - description: start time, in epoch
        in: query
        name: timestamp
        schema:
          type: number
      - description: org id
        in: query
        name: org_id
        schema:
          type: string
      - description: site id if assigned, null if not assigned
        in: query
        name: site_id
        schema:
          type: string
      - description: AP MAC connected to by client
        in: query
        name: last_ap
        schema:
          type: string
      - description: MAC address
        in: query
        name: mac
        schema:
          type: string
      - description: "Connection status of client i.e \u201Cpermitted\u201D, \u201C\
          denied, \u201Csession_ended\u201D"
        in: query
        name: last_status
        schema:
          type: string
      - description: "Client type i.e. \u201Cwireless\u201D, \u201Cwired\u201D etc."
        in: query
        name: type
        schema:
          type: string
      - description: "MDM compliancy of client i.e \u201Ccompliant\u201D, \u201Cnot\
          \ compliant\u201D"
        in: query
        name: mdm_compliance_status
        schema:
          type: string
      - description: "MDM provider of client\u2019s organisation eg \u201Cintune\u201D\
          , \u201Cjamf\u201D"
        in: query
        name: mdm_provider
        schema:
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/count'
      summary: countOrgNacClients
      tags:
      - Orgs Clients - NAC
      - cat:NAC:MONITOR
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/nac_clients/events/count:
    get:
      description: Count by Distinct Attributes of NAC Client-Events
      operationId: countOrgNacClientEvents
      parameters:
      - in: query
        name: distinct
        schema:
          enum:
          - type
          - nacrule_id
          - dryrun_nacrule_id
          - auth_type
          - vlan
          - nas_vendor
          - username
          - ap
          - mac
          - ssid
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/count'
      summary: countOrgNacClientEvents
      tags:
      - Orgs Clients - NAC
      - cat:NAC:MONITOR
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/nac_clients/events/search:
    get:
      description: Search NAC Client Events
      operationId: searchOrgNacClientEvents
      parameters:
      - description: event type, e.g. NAC_CLIENT_PERMIT
        in: query
        name: type
        schema:
          type: string
      - description: NAC Policy Rule ID, if matched
        in: query
        name: nacrule_id
        schema:
          format: uuid
          type: string
      - description: NAC Policy Rule Matched
        in: query
        name: nacrule_matched
        schema:
          type: boolean
      - description: NAC Policy Dry Run Rule ID, if present and matched
        in: query
        name: dryrun_nacrule_id
        schema:
          type: string
      - description: True - if dryrun rule present and matched with priority, False
          - if not matched or not present
        in: query
        name: dryrun_nacrule_matched
        schema:
          type: boolean
      - description: "authentication type, e.g. \u201C802.1X\u201D, \u201CMAB\u201D\
          , \u201CDeviceAuth\u201D"
        in: query
        name: auth_type
        schema:
          type: string
      - description: Vlan ID
        in: query
        name: vlan
        schema:
          type: integer
      - description: vendor of NAS device
        in: query
        name: nas_vendor
        schema:
          type: string
      - description: SSID
        in: query
        name: bssid
        schema:
          type: string
      - description: SSO ID, if present and used
        in: query
        name: idp_id
        schema:
          format: uuid
          type: string
      - description: IDP returned roles/groups for the user
        in: query
        name: idp_role
        schema:
          type: string
      - description: Radius attributes returned by NAC to NAS Devive
        in: query
        name: resp_attrs
        schema:
          items:
            type: string
          type: array
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - description: Username presented by the client
        in: query
        name: username
        schema:
          type: string
      - description: site id
        in: query
        name: site_id
        schema:
          type: string
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - description: AP random macMAC
        in: query
        name: random_mac
        schema:
          type: boolean
      - description: MAC address
        in: query
        name: mac
        schema:
          type: string
      - description: start time, in epoch
        in: query
        name: timestamp
        schema:
          type: number
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/EventsNacClientSearch'
      summary: searchOrgNacClientEvents
      tags:
      - Orgs Clients - NAC
      - cat:NAC:MONITOR
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/nac_clients/search:
    get:
      description: Search Org NAC Clients
      operationId: searchOrgNacClients
      parameters:
      - description: NAC Policy Rule ID, if matched
        in: query
        name: last_nacrule_id
        schema:
          type: string
      - description: NAC Policy Rule Matched
        in: query
        name: nacrule_matched
        schema:
          type: boolean
      - description: "authentication type, e.g. \u201Ceap-tls\u201D, \u201Ceap-ttls\u201D\
          , \u201Ceap-teap\u201D, \u201Cmab\u201D, \u201Cdevice-auth\u201D"
        in: query
        name: auth_type
        schema:
          type: string
      - description: Vlan ID
        in: query
        name: last_vlan_id
        schema:
          type: string
      - description: vendor of NAS device
        in: query
        name: last_nas_vendor
        schema:
          type: string
      - description: SSO ID, if present and used
        in: query
        name: idp_id
        schema:
          type: string
      - description: SSID
        in: query
        name: last_ssid
        schema:
          type: string
      - description: Username presented by the client
        in: query
        name: last_username
        schema:
          type: string
      - description: start time, in epoch
        in: query
        name: timestamp
        schema:
          type: number
      - description: org id
        in: query
        name: org_id
        schema:
          type: string
      - description: site id if assigned, null if not assigned
        in: query
        name: site_id
        schema:
          type: string
      - description: AP MAC connected to by client
        in: query
        name: last_ap
        schema:
          type: string
      - description: MAC address
        in: query
        name: mac
        schema:
          type: string
      - description: "Connection status of client i.e \u201Cpermitted\u201D, \u201C\
          denied, \u201Csession_ended\u201D"
        in: query
        name: last_status
        schema:
          type: string
      - description: "Client type i.e. \u201Cwireless\u201D, \u201Cwired\u201D etc."
        in: query
        name: type
        schema:
          type: string
      - description: "MDM compliancy of client i.e \u201Ccompliant\u201D, \u201Cnot\
          \ compliant\u201D"
        in: query
        name: mdm_compliance_status
        schema:
          type: string
      - description: "MDM provider of client\u2019s organisation eg \u201Cintune\u201D\
          , \u201Cjamf\u201D"
        in: query
        name: mdm_provider
        schema:
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/ClientNacSearch'
      summary: searchOrgNacClients
      tags:
      - Orgs Clients - NAC
      - cat:NAC:MONITOR
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/nacrules:
    get:
      description: Get List of Org NAC Rules
      operationId: listOrgNacRules
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/NacRulesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgNacRules
      tags:
      - Orgs NAC Rules
      - cat:NAC:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: create Org NAC Rule
      operationId: createOrgNacRule
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  action: allow
                  apply_tags:
                  - c049dfcd-0c73-5014-1c64-062e9903f1e5"
                  matching:
                    auth_type: eap-tls
                    nactags:
                    - 041d5d36-716c-4cfb-4988-3857c6aa14a2
                    - a809a97f-d599-f812-eb8c-c3f84aabf6ba
                    port_types:
                    - wired
                    site_ids:
                    - bb19fc3e-4124-4b57-80d9-c3f6edce47c4
                    - bb19fc3e-6564-4b57-80d9-c3f6edce47c1
                    sitegroup_ids:
                    - bb19fc3e-4124-4b57-80d9-c3f6edce47c4
                    - bb19fc3e-6564-4b57-80d9-c3f6edce47c1
                  name: name1
                  not_matching: {}
                  order: 1
            schema:
              $ref: '#/components/schemas/nac_rule'
      responses:
        '200':
          $ref: '#/components/responses/NacRule'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgNacRule
      tags:
      - Orgs NAC Rules
      - cat:NAC:CONFIGURE
  /api/v1/orgs/{org_id}/nacrules/{nacrule_id}:
    delete:
      description: Delete Org NAC Rule
      operationId: deleteOrgNacRule
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgNacRule
      tags:
      - Orgs NAC Rules
      - cat:NAC:CONFIGURE
    get:
      description: Get Org NAC Rule
      operationId: getOrgNacRule
      responses:
        '200':
          $ref: '#/components/responses/NacRule'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgNacRule
      tags:
      - Orgs NAC Rules
      - cat:NAC:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/nacrule_id'
    put:
      description: Update Org NAC Rule
      operationId: updateOrgNacRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nac_rule'
      responses:
        '200':
          $ref: '#/components/responses/NacRule'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgNacRule
      tags:
      - Orgs NAC Rules
      - cat:NAC:CONFIGURE
  /api/v1/orgs/{org_id}/nactags:
    get:
      description: Get List of Org NAC Tags
      operationId: listOrgNacTags
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/NacTagsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgNacTags
      tags:
      - Orgs NAC Tags
      - cat:NAC:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create Org NAC Tag
      operationId: createOrgNacTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nac_tag'
      responses:
        '200':
          $ref: '#/components/responses/NacTag'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgNacTag
      tags:
      - Orgs NAC Tags
      - cat:NAC:CONFIGURE
  /api/v1/orgs/{org_id}/nactags/{nactag_id}:
    delete:
      description: Delete Org NAC Tag
      operationId: deleteOrgNacTag
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgNacTag
      tags:
      - Orgs NAC Tags
      - cat:NAC:CONFIGURE
    get:
      description: Get Org NAC Tag
      operationId: getOrgNacTag
      responses:
        '200':
          $ref: '#/components/responses/NacTag'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgNacTag
      tags:
      - Orgs NAC Tags
      - cat:NAC:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/nactag_id'
    put:
      description: 'Update Org NAC Tag '
      operationId: updateOrgNacTag
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: '#/components/schemas/nac_tag'
      responses:
        '200':
          $ref: '#/components/responses/NacTag'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgNacTag
      tags:
      - Orgs NAC Tags
      - cat:NAC:CONFIGURE
  /api/v1/sites/{site_id}/nac_clients/count:
    get:
      description: Count by Distinct Attributes of NAC Clients
      operationId: countSiteNacClients
      parameters:
      - description: NAC Policy Rule ID, if matched
        in: query
        name: distinct
        schema:
          default: type
          enum:
          - type
          - last_nacrule_id
          - auth_type
          - last_vlan_id
          - last_nas_vendor
          - last_username
          - last_ap
          - mac
          - last_ssid
          - last_status
          - mdm_compliance_status
          - mdm_provider
          type: string
      - description: NAC Policy Rule ID, if matched
        in: query
        name: last_nacrule_id
        schema:
          type: string
      - description: NAC Policy Rule Matched
        in: query
        name: nacrule_matched
        schema:
          type: boolean
      - description: "authentication type, e.g. \u201Ceap-tls\u201D, \u201Ceap-ttls\u201D\
          , \u201Ceap-teap\u201D, \u201Cmab\u201D, \u201Cdevice-auth\u201D"
        in: query
        name: auth_type
        schema:
          type: string
      - description: Vlan ID
        in: query
        name: last_vlan_id
        schema:
          type: string
      - description: vendor of NAS device
        in: query
        name: last_nas_vendor
        schema:
          type: string
      - description: SSO ID, if present and used
        in: query
        name: idp_id
        schema:
          type: string
      - description: SSID
        in: query
        name: last_ssid
        schema:
          type: string
      - description: Username presented by the client
        in: query
        name: last_username
        schema:
          type: string
      - description: start time, in epoch
        in: query
        name: timestamp
        schema:
          type: number
      - description: org id
        in: query
        name: org_id
        schema:
          type: string
      - description: site id if assigned, null if not assigned
        in: query
        name: site_id
        schema:
          type: string
      - description: AP MAC connected to by client
        in: query
        name: last_ap
        schema:
          type: string
      - description: MAC address
        in: query
        name: mac
        schema:
          type: string
      - description: "Connection status of client i.e \u201Cpermitted\u201D, \u201C\
          denied, \u201Csession_ended\u201D"
        in: query
        name: last_status
        schema:
          type: string
      - description: "Client type i.e. \u201Cwireless\u201D, \u201Cwired\u201D etc."
        in: query
        name: type
        schema:
          type: string
      - description: "MDM compliancy of client i.e \u201Ccompliant\u201D, \u201Cnot\
          \ compliant\u201D"
        in: query
        name: mdm_compliance_status
        schema:
          type: string
      - description: "MDM provider of client\u2019s organisation eg \u201Cintune\u201D\
          , \u201Cjamf\u201D"
        in: query
        name: mdm_provider
        schema:
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/count'
      summary: countSiteNacClients
      tags:
      - Sites Clients - NAC
      - cat:NAC:MONITOR
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/nac_clients/events/count:
    get:
      description: Count by Distinct Attributes of NAC Client-Events
      operationId: countSiteNacClientEvents
      parameters:
      - in: query
        name: distinct
        schema:
          enum:
          - type
          - nacrule_id
          - dryrun_nacrule_id
          - auth_type
          - vlan
          - nas_vendor
          - username
          - ap
          - mac
          - ssid
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/count'
      summary: countSiteNacClientEvents
      tags:
      - Sites Clients - NAC
      - cat:NAC:MONITOR
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/nac_clients/events/search:
    get:
      description: Search NAC Client Events
      operationId: searcSitegNacClientEvents
      parameters:
      - description: event type, e.g. NAC_CLIENT_PERMIT
        in: query
        name: type
        schema:
          type: string
      - description: NAC Policy Rule ID, if matched
        in: query
        name: nacrule_id
        schema:
          format: uuid
          type: string
      - description: NAC Policy Rule Matched
        in: query
        name: nacrule_matched
        schema:
          type: boolean
      - description: NAC Policy Dry Run Rule ID, if present and matched
        in: query
        name: dryrun_nacrule_id
        schema:
          type: string
      - description: True - if dryrun rule present and matched with priority, False
          - if not matched or not present
        in: query
        name: dryrun_nacrule_matched
        schema:
          type: boolean
      - description: "authentication type, e.g.  \u201Ceap-tls\u201D, \u201Ceap-ttls\u201D\
          , \u201Ceap-teap\u201D, \u201Cmab\u201D, \u201Cdevice-auth\u201D"
        in: query
        name: auth_type
        schema:
          type: string
      - description: Vlan ID
        in: query
        name: vlan
        schema:
          type: integer
      - description: vendor of NAS device
        in: query
        name: nas_vendor
        schema:
          type: string
      - description: SSID
        in: query
        name: bssid
        schema:
          type: string
      - description: SSO ID, if present and used
        in: query
        name: idp_id
        schema:
          format: uuid
          type: string
      - description: IDP returned roles/groups for the user
        in: query
        name: idp_role
        schema:
          type: string
      - description: Radius attributes returned by NAC to NAS Devive
        in: query
        name: resp_attrs
        schema:
          items:
            type: string
          type: array
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - description: Username presented by the client
        in: query
        name: username
        schema:
          type: string
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - description: AP random macMAC
        in: query
        name: random_mac
        schema:
          type: boolean
      - description: MAC address
        in: query
        name: mac
        schema:
          type: string
      - description: start time, in epoch
        in: query
        name: timestamp
        schema:
          type: number
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/EventsNacClientSearch'
      summary: searcSitegNacClientEvents
      tags:
      - Sites Clients - NAC
      - cat:NAC:MONITOR
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/nac_clients/search:
    get:
      description: Search Site NAC Clients
      operationId: searchSiteNacClients
      parameters:
      - description: NAC Policy Rule ID, if matched
        in: query
        name: last_nacrule_id
        schema:
          type: string
      - description: NAC Policy Rule Matched
        in: query
        name: nacrule_matched
        schema:
          type: boolean
      - description: "authentication type, e.g. \u201Ceap-tls\u201D, \u201Ceap-ttls\u201D\
          , \u201Ceap-teap\u201D, \u201Cmab\u201D, \u201Cdevice-auth\u201D"
        in: query
        name: auth_type
        schema:
          type: string
      - description: Vlan ID
        in: query
        name: last_vlan_id
        schema:
          type: string
      - description: vendor of NAS device
        in: query
        name: last_nas_vendor
        schema:
          type: string
      - description: SSO ID, if present and used
        in: query
        name: idp_id
        schema:
          type: string
      - description: SSID
        in: query
        name: last_ssid
        schema:
          type: string
      - description: Username presented by the client
        in: query
        name: last_username
        schema:
          type: string
      - description: start time, in epoch
        in: query
        name: timestamp
        schema:
          type: number
      - description: org id
        in: query
        name: org_id
        schema:
          type: string
      - description: site id if assigned, null if not assigned
        in: query
        name: site_id
        schema:
          type: string
      - description: AP MAC connected to by client
        in: query
        name: last_ap
        schema:
          type: string
      - description: MAC address
        in: query
        name: mac
        schema:
          type: string
      - description: "Connection status of client i.e \u201Cpermitted\u201D, \u201C\
          denied, \u201Csession_ended\u201D"
        in: query
        name: last_status
        schema:
          type: string
      - description: "Client type i.e. \u201Cwireless\u201D, \u201Cwired\u201D etc."
        in: query
        name: type
        schema:
          type: string
      - description: "MDM compliancy of client i.e \u201Ccompliant\u201D, \u201Cnot\
          \ compliant\u201D"
        in: query
        name: mdm_compliance_status
        schema:
          type: string
      - description: "MDM provider of client\u2019s organisation eg \u201Cintune\u201D\
          , \u201Cjamf\u201D"
        in: query
        name: mdm_provider
        schema:
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/ClientNacSearch'
      summary: searchSiteNacClients
      tags:
      - Sites Clients - NAC
      - cat:NAC:MONITOR
    parameters:
    - $ref: '#/components/parameters/site_id'
components:
  parameters:
    admin_id:
      $ref: ./components/parameters/admin_id.yml
    alarm_id:
      $ref: ./components/parameters/alarm_id.yml
    alarmtemplate_id:
      $ref: ./components/parameters/alarmtemplate_id.yml
    apitoken_id:
      $ref: ./components/parameters/apitoken_id.yml
    aptemplate_id:
      $ref: ./components/parameters/aptemplate_id.yml
    client_mac:
      $ref: ./components/parameters/client_mac.yml
    country_code:
      $ref: ./components/parameters/country_code.yml
    device_id:
      $ref: ./components/parameters/device_id.yml
    device_mac:
      $ref: ./components/parameters/device_mac.yml
    duration:
      $ref: ./components/parameters/duration.yml
    end:
      $ref: ./components/parameters/end.yml
    evpn_topology_id:
      $ref: ./components/parameters/evpn_topology_id.yml
    gatewaytemplate_id:
      $ref: ./components/parameters/gatewaytemplate_id.yml
    guest_mac:
      $ref: ./components/parameters/guest_mac.yml
    idpprofile_id:
      $ref: ./components/parameters/idpprofile_id.yml
    image_name:
      $ref: ./components/parameters/image_name.yml
    interval:
      $ref: ./components/parameters/interval.yml
    invite_id:
      $ref: ./components/parameters/invite_id.yml
    ip:
      $ref: ./components/parameters/ip.yml
    limit:
      $ref: ./components/parameters/limit.yml
    metric:
      $ref: ./components/parameters/metric.yml
    msp_id:
      $ref: ./components/parameters/msp_id.yml
    mxcluster_id:
      $ref: ./components/parameters/mxcluster_id.yml
    mxedge_id:
      $ref: ./components/parameters/mxedge_id.yml
    mxtunnel_id:
      $ref: ./components/parameters/mxtunnel_id.yml
    nacrule_id:
      $ref: ./components/parameters/nacrule_id.yml
    nactag_id:
      $ref: ./components/parameters/nactag_id.yml
    name:
      $ref: ./components/parameters/name.yml
    network_id:
      $ref: ./components/parameters/network_id.yml
    org_id:
      $ref: ./components/parameters/org_id.yml
    orggroup_id:
      $ref: ./components/parameters/orggroup_id.yml
    page:
      $ref: ./components/parameters/page.yml
    psk_id:
      $ref: ./components/parameters/psk_id.yml
    psk_id_query:
      $ref: ./components/parameters/psk_id_query.yml
    pskportal_id:
      $ref: ./components/parameters/pskportal_id.yml
    q:
      $ref: ./components/parameters/q.yml
    rfdiag_id:
      $ref: ./components/parameters/rfdiag_id.yml
    rftemplate_id:
      $ref: ./components/parameters/rftemplate_id.yml
    rogue_bssid:
      $ref: ./components/parameters/rogue_bssid.yml
    rogue_type:
      $ref: ./components/parameters/rogue_type.yml
    secpolicy_id:
      $ref: ./components/parameters/secpolicy_id.yml
    service_id:
      $ref: ./components/parameters/service_id.yml
    servicepolicy_id:
      $ref: ./components/parameters/servicepolicy_id.yml
    site_id:
      $ref: ./components/parameters/site_id.yml
    site_name:
      $ref: ./components/parameters/site_name.yml
    sitegroup_id:
      $ref: ./components/parameters/sitegroup_id.yml
    sitetemplate_id:
      $ref: ./components/parameters/sitetemplate_id.yml
    sso_id:
      $ref: ./components/parameters/sso_id.yml
    ssorole_id:
      $ref: ./components/parameters/ssorole_id.yml
    start:
      $ref: ./components/parameters/start.yml
    template_id:
      $ref: ./components/parameters/template_id.yml
    ticket_id:
      $ref: ./components/parameters/ticket_id.yml
    token:
      $ref: ./components/parameters/token.yml
    uisetting_id:
      $ref: ./components/parameters/uisetting_id.yml
    upgrade_id:
      $ref: ./components/parameters/upgrade_id.yml
    vpn_id:
      $ref: ./components/parameters/vpn_id.yml
    webhook_id:
      $ref: ./components/parameters/webhook_id.yml
    wlan_id:
      $ref: ./components/parameters/wlan_id.yml
    wxrules_id:
      $ref: ./components/parameters/wxrules_id.yml
    wxtag_id:
      $ref: ./components/parameters/wxtag_id.yml
    wxtunnel_id:
      $ref: ./components/parameters/wxtunnel_id.yml
  responses:
    Admin:
      $ref: ./components/responses/Admin.yml
    AdminsArray:
      $ref: ./components/responses/AdminsArray.yml
    AlarmsSearch:
      $ref: ./components/responses/AlarmsSearch.yml
    Alarmtemplate:
      $ref: ./components/responses/Alarmtemplate.yml
    AlarmtemplatesArray:
      $ref: ./components/responses/AlarmtemplatesArray.yml
    AnomalyMetrics:
      $ref: ./components/responses/AnomalyMetrics.yml
    ApitokenOrg:
      $ref: ./components/responses/ApitokenOrg.yml
    ApitokenUser:
      $ref: ./components/responses/ApitokenUser.yml
    ApitokensOrgArray:
      $ref: ./components/responses/ApitokensOrgArray.yml
    ApitokensUserArray:
      $ref: ./components/responses/ApitokensUserArray.yml
    Aptemplate:
      $ref: ./components/responses/Aptemplate.yml
    AptemplatesArray:
      $ref: ./components/responses/AptemplatesArray.yml
    BgpStatsArraySearch:
      $ref: ./components/responses/BgpStatsArraySearch.yml
    CallEventsArraySearch:
      $ref: ./components/responses/CallEventsArraySearch.yml
    CallStatsArray:
      $ref: ./components/responses/CallStatsArray.yml
    CallTroubleshoot:
      $ref: ./components/responses/CallTroubleshoot.yml
    Certificate:
      $ref: ./components/responses/Certificate.yml
    ClientEventsSearch:
      $ref: ./components/responses/ClientEventsSearch.yml
    ClientNacSearch:
      $ref: ./components/responses/ClientNacSearch.yml
    ClientSessionsSearch:
      $ref: ./components/responses/ClientSessionsSearch.yml
    ClientsSearch:
      $ref: ./components/responses/ClientsSearch.yml
    ConstAlarmDefs:
      $ref: ./components/responses/ConstAlarmDefs.yml
    ConstApChannels:
      $ref: ./components/responses/ConstApChannels.yml
    ConstApLedArray:
      $ref: ./components/responses/ConstApLedArray.yml
    ConstApplications:
      $ref: ./components/responses/ConstApplications.yml
    ConstClientEventsArray:
      $ref: ./components/responses/ConstClientEventsArray.yml
    ConstCrountriesArray:
      $ref: ./components/responses/ConstCrountriesArray.yml
    ConstDeviceEventsArray:
      $ref: ./components/responses/ConstDeviceEventsArray.yml
    ConstDeviceModels:
      $ref: ./components/responses/ConstDeviceModels.yml
    ConstInsightMetrics:
      $ref: ./components/responses/ConstInsightMetrics.yml
    ConstLanaguagesArray:
      $ref: ./components/responses/ConstLanaguagesArray.yml
    ConstLicenceTypesArray:
      $ref: ./components/responses/ConstLicenceTypesArray.yml
    ConstNacEventsArray:
      $ref: ./components/responses/ConstNacEventsArray.yml
    ConstTrafficTypesArray:
      $ref: ./components/responses/ConstTrafficTypesArray.yml
    DeviceConfigCmd:
      $ref: ./components/responses/DeviceConfigCmd.yml
    DeviceEventsSearch:
      $ref: ./components/responses/DeviceEventsSearch.yml
    DeviceIot:
      $ref: ./components/responses/DeviceIot.yml
    DeviceOther:
      $ref: ./components/responses/DeviceOther.yml
    DeviceOtherArray:
      $ref: ./components/responses/DeviceOtherArray.yml
    DeviceOtherStats:
      $ref: ./components/responses/DeviceOtherStats.yml
    DeviceRadioChannels:
      $ref: ./components/responses/DeviceRadioChannels.yml
    EventsFastroam:
      $ref: ./components/responses/EventsFastroam.yml
    EventsNacClientSearch:
      $ref: ./components/responses/EventsNacClientSearch.yml
    EventsOtherDevicesSearch:
      $ref: ./components/responses/EventsOtherDevicesSearch.yml
    EventsSearch:
      $ref: ./components/responses/EventsSearch.yml
    EvpnTopology:
      $ref: ./components/responses/EvpnTopology.yml
    File:
      $ref: ./components/responses/File.yml
    Gatewaytemplate:
      $ref: ./components/responses/Gatewaytemplate.yml
    GatewaytemplatesArray:
      $ref: ./components/responses/GatewaytemplatesArray.yml
    Guest:
      $ref: ./components/responses/Guest.yml
    GuestsArray:
      $ref: ./components/responses/GuestsArray.yml
    GuestsSearch:
      $ref: ./components/responses/GuestsSearch.yml
    HTTP400:
      $ref: ./components/responses/HTTP400.yml
    HTTP401:
      $ref: ./components/responses/HTTP401.yml
    HTTP403:
      $ref: ./components/responses/HTTP403.yml
    HTTP404:
      $ref: ./components/responses/HTTP404.yml
    HTTP429:
      $ref: ./components/responses/HTTP429.yml
    IdpProfile:
      $ref: ./components/responses/IdpProfile.yml
    IdpProfileArray:
      $ref: ./components/responses/IdpProfileArray.yml
    InsightMetric:
      $ref: ./components/responses/InsightMetric.yml
    InsightRogue:
      $ref: ./components/responses/InsightRogue.yml
    InsightRogueClients:
      $ref: ./components/responses/InsightRogueClients.yml
    InstallerAlarmtemplatesArray:
      $ref: ./components/responses/InstallerAlarmtemplatesArray.yml
    InstallerDevicesArray:
      $ref: ./components/responses/InstallerDevicesArray.yml
    InstallerSecpoliciesArray:
      $ref: ./components/responses/InstallerSecpoliciesArray.yml
    InstallerSitegroupsArray:
      $ref: ./components/responses/InstallerSitegroupsArray.yml
    InstallerSitesArray:
      $ref: ./components/responses/InstallerSitesArray.yml
    JseInfo:
      $ref: ./components/responses/JseInfo.yml
    Licence:
      $ref: ./components/responses/Licence.yml
    LicenceUsage:
      $ref: ./components/responses/LicenceUsage.yml
    LogsSearch:
      $ref: ./components/responses/LogsSearch.yml
    MacsArray:
      $ref: ./components/responses/MacsArray.yml
    Msp:
      $ref: ./components/responses/Msp.yml
    MxEdgeEventsSearch:
      $ref: ./components/responses/MxEdgeEventsSearch.yml
    MxEdgeSearch:
      $ref: ./components/responses/MxEdgeSearch.yml
    MxEdgeUpgrade:
      $ref: ./components/responses/MxEdgeUpgrade.yml
    MxEdgeUpgradesArray:
      $ref: ./components/responses/MxEdgeUpgradesArray.yml
    Mxcluster:
      $ref: ./components/responses/Mxcluster.yml
    MxclustersArray:
      $ref: ./components/responses/MxclustersArray.yml
    Mxedge:
      $ref: ./components/responses/Mxedge.yml
    MxedgeStats:
      $ref: ./components/responses/MxedgeStats.yml
    MxedgeStatsArray:
      $ref: ./components/responses/MxedgeStatsArray.yml
    MxedgeUpdateInfo:
      $ref: ./components/responses/MxedgeUpdateInfo.yml
    MxedgesArray:
      $ref: ./components/responses/MxedgesArray.yml
    MxedgesArrayStats:
      $ref: ./components/responses/MxedgesArrayStats.yml
    Mxtunnel:
      $ref: ./components/responses/Mxtunnel.yml
    MxtunnelsArray:
      $ref: ./components/responses/MxtunnelsArray.yml
    NacRule:
      $ref: ./components/responses/NacRule.yml
    NacRulesArray:
      $ref: ./components/responses/NacRulesArray.yml
    NacTag:
      $ref: ./components/responses/NacTag.yml
    NacTagsArray:
      $ref: ./components/responses/NacTagsArray.yml
    Network:
      $ref: ./components/responses/Network.yml
    NetworksArray:
      $ref: ./components/responses/NetworksArray.yml
    OK:
      $ref: ./components/responses/OK.yml
    OauthAppLink:
      $ref: ./components/responses/OauthAppLink.yml
    Org:
      $ref: ./components/responses/Org.yml
    OrgInventory:
      $ref: ./components/responses/OrgInventory.yml
    OrgInventoryAdd:
      $ref: ./components/responses/OrgInventoryAdd.yml
    OrgInventoryChanges:
      $ref: ./components/responses/OrgInventoryChanges.yml
    OrgSetting:
      $ref: ./components/responses/OrgSetting.yml
    OrgSiteSle:
      $ref: ./components/responses/OrgSiteSle.yml
    OrgStats:
      $ref: ./components/responses/OrgStats.yml
    Orggroup:
      $ref: ./components/responses/Orggroup.yml
    OrggroupsArray:
      $ref: ./components/responses/OrggroupsArray.yml
    OrggroupsSearch:
      $ref: ./components/responses/OrggroupsSearch.yml
    OrgsArray:
      $ref: ./components/responses/OrgsArray.yml
    OrgsArrayStats:
      $ref: ./components/responses/OrgsArrayStats.yml
    OrgsSearch:
      $ref: ./components/responses/OrgsSearch.yml
    PortStatsSearch:
      $ref: ./components/responses/PortStatsSearch.yml
    Psk:
      $ref: ./components/responses/Psk.yml
    PskPortal:
      $ref: ./components/responses/PskPortal.yml
    PskPortalsArray:
      $ref: ./components/responses/PskPortalsArray.yml
    PsksArray:
      $ref: ./components/responses/PsksArray.yml
    Recaptcha:
      $ref: ./components/responses/Recaptcha.yml
    Rfdiag:
      $ref: ./components/responses/Rfdiag.yml
    RfdiagsArray:
      $ref: ./components/responses/RfdiagsArray.yml
    Rftemplate:
      $ref: ./components/responses/Rftemplate.yml
    RftemplatesArray:
      $ref: ./components/responses/RftemplatesArray.yml
    RogueEventsSearch:
      $ref: ./components/responses/RogueEventsSearch.yml
    Rrm:
      $ref: ./components/responses/Rrm.yml
    RrmConsideration:
      $ref: ./components/responses/RrmConsideration.yml
    RrmEvents:
      $ref: ./components/responses/RrmEvents.yml
    SecpoliciesArray:
      $ref: ./components/responses/SecpoliciesArray.yml
    Secpolicy:
      $ref: ./components/responses/Secpolicy.yml
    Service:
      $ref: ./components/responses/Service.yml
    ServicePathEventsSearch:
      $ref: ./components/responses/ServicePathEventsSearch.yml
    ServicePoliciesArray:
      $ref: ./components/responses/ServicePoliciesArray.yml
    ServicePolicy:
      $ref: ./components/responses/ServicePolicy.yml
    ServicesArray:
      $ref: ./components/responses/ServicesArray.yml
    Session:
      $ref: ./components/responses/Session.yml
    Site:
      $ref: ./components/responses/Site.yml
    SiteSettings:
      $ref: ./components/responses/SiteSettings.yml
    SiteTemplate:
      $ref: ./components/responses/SiteTemplate.yml
    SiteTemplatesArray:
      $ref: ./components/responses/SiteTemplatesArray.yml
    Sitegroup:
      $ref: ./components/responses/Sitegroup.yml
    SitegroupsArray:
      $ref: ./components/responses/SitegroupsArray.yml
    SitesArray:
      $ref: ./components/responses/SitesArray.yml
    SitesSearch:
      $ref: ./components/responses/SitesSearch.yml
    SleClassifierSummary:
      $ref: ./components/responses/SleClassifierSummary.yml
    SleHistogram:
      $ref: ./components/responses/SleHistogram.yml
    SleImpactSummary:
      $ref: ./components/responses/SleImpactSummary.yml
    SleImpactedApplications:
      $ref: ./components/responses/SleImpactedApplications.yml
    SleImpactedAps:
      $ref: ./components/responses/SleImpactedAps.yml
    SleImpactedChassis:
      $ref: ./components/responses/SleImpactedChassis.yml
    SleImpactedClients:
      $ref: ./components/responses/SleImpactedClients.yml
    SleImpactedGateways:
      $ref: ./components/responses/SleImpactedGateways.yml
    SleImpactedInterfaces:
      $ref: ./components/responses/SleImpactedInterfaces.yml
    SleImpactedSwitches:
      $ref: ./components/responses/SleImpactedSwitches.yml
    SleImpactedUsers:
      $ref: ./components/responses/SleImpactedUsers.yml
    SleSummary:
      $ref: ./components/responses/SleSummary.yml
    SleThreshold:
      $ref: ./components/responses/SleThreshold.yml
    Sso:
      $ref: ./components/responses/Sso.yml
    SsoLatestFailures:
      $ref: ./components/responses/SsoLatestFailures.yml
    SsoSamlMetadata:
      $ref: ./components/responses/SsoSamlMetadata.yml
    Ssorole:
      $ref: ./components/responses/Ssorole.yml
    SsorolesArray:
      $ref: ./components/responses/SsorolesArray.yml
    SsosArray:
      $ref: ./components/responses/SsosArray.yml
    SsrUpgrade:
      $ref: ./components/responses/SsrUpgrade.yml
    SsrUpgradesArray:
      $ref: ./components/responses/SsrUpgradesArray.yml
    SwitchPortsSearch:
      $ref: ./components/responses/SwitchPortsSearch.yml
    SyntheticTest:
      $ref: ./components/responses/SyntheticTest.yml
    SynthetictestStatus:
      $ref: ./components/responses/SynthetictestStatus.yml
    Template:
      $ref: ./components/responses/Template.yml
    TemplatesArray:
      $ref: ./components/responses/TemplatesArray.yml
    Ticket:
      $ref: ./components/responses/Ticket.yml
    TicketsArray:
      $ref: ./components/responses/TicketsArray.yml
    Troubleshoot:
      $ref: ./components/responses/Troubleshoot.yml
    TunnelsSearch:
      $ref: ./components/responses/TunnelsSearch.yml
    TwoFactorSecret:
      $ref: ./components/responses/TwoFactorSecret.yml
    UiSettings:
      $ref: ./components/responses/UiSettings.yml
    UiSettingsArray:
      $ref: ./components/responses/UiSettingsArray.yml
    Vc:
      $ref: ./components/responses/Vc.yml
    Vpn:
      $ref: ./components/responses/Vpn.yml
    VpnsArray:
      $ref: ./components/responses/VpnsArray.yml
    WanClientEventsSearch:
      $ref: ./components/responses/WanClientEventsSearch.yml
    WanClientsSearch:
      $ref: ./components/responses/WanClientsSearch.yml
    Webhook:
      $ref: ./components/responses/Webhook.yml
    WebhookDeliverySearch:
      $ref: ./components/responses/WebhookDeliverySearch.yml
    WebhooksArray:
      $ref: ./components/responses/WebhooksArray.yml
    WiredClientsSearch:
      $ref: ./components/responses/WiredClientsSearch.yml
    WirelessClientSessionsSearch:
      $ref: ./components/responses/WirelessClientSessionsSearch.yml
    Wlan:
      $ref: ./components/responses/Wlan.yml
    WlansArray:
      $ref: ./components/responses/WlansArray.yml
    WxTagsMatchingArray:
      $ref: ./components/responses/WxTagsMatchingArray.yml
    Wxrule:
      $ref: ./components/responses/Wxrule.yml
    WxruleArray:
      $ref: ./components/responses/WxruleArray.yml
    WxruleStatsArray:
      $ref: ./components/responses/WxruleStatsArray.yml
    Wxtag:
      $ref: ./components/responses/Wxtag.yml
    WxtagArray:
      $ref: ./components/responses/WxtagArray.yml
    WxtagClients:
      $ref: ./components/responses/WxtagClients.yml
    Wxtunnel:
      $ref: ./components/responses/Wxtunnel.yml
    WxtunnelArray:
      $ref: ./components/responses/WxtunnelArray.yml
    ZscalerAccount:
      $ref: ./components/responses/ZscalerAccount.yml
    assignSuccess:
      $ref: ./components/responses/assignSuccess.yml
    claimLicense:
      $ref: ./components/responses/claimLicense.yml
    count:
      $ref: ./components/responses/count.yml
    countMarvisActions:
      $ref: ./components/responses/countMarvisActions.yml
    getLicenceUsage:
      $ref: ./components/responses/getLicenceUsage.yml
  schemas:
    account_jamf_write:
      $ref: ./components/schemas/account_jamf_write.yml
    account_juniper_read:
      $ref: ./components/schemas/account_juniper_read.yml
    account_juniper_write:
      $ref: ./components/schemas/account_juniper_write.yml
    account_oauth_write:
      $ref: ./components/schemas/account_oauth_write.yml
    account_vmware_write:
      $ref: ./components/schemas/account_vmware_write.yml
    account_zscaler_write:
      $ref: ./components/schemas/account_zscaler_write.yml
    admin:
      $ref: ./components/schemas/admin.yml
    alarmtemplate:
      $ref: ./components/schemas/alarmtemplate.yml
    aptemplate:
      $ref: ./components/schemas/aptemplate.yml
    claimcodes:
      $ref: ./components/schemas/claimcodes.yml
    create_ha_cluster:
      $ref: ./components/schemas/create_ha_cluster.yml
    delete_ha_cluster:
      $ref: ./components/schemas/delete_ha_cluster.yml
    device_switch_vc:
      $ref: ./components/schemas/device_switch_vc.yml
    device_switch_vc_update:
      $ref: ./components/schemas/device_switch_vc_update.yml
    events_skyatp:
      $ref: ./components/schemas/events_skyatp.yml
    gatewaytemplate:
      $ref: ./components/schemas/gatewaytemplate.yml
    guest:
      $ref: ./components/schemas/guest.yml
    idpprofile:
      $ref: ./components/schemas/idpprofile.yml
    image_upload:
      $ref: ./components/schemas/image_upload.yml
    installer_provision_device:
      $ref: ./components/schemas/installer_provision_device.yml
    installer_site:
      $ref: ./components/schemas/installer_site.yml
    junos_evpn_topology:
      $ref: ./components/schemas/junos_evpn_topology.yml
    junos_port_config:
      $ref: ./components/schemas/junos_port_config.yml
    login:
      $ref: ./components/schemas/login.yml
    model_object_email:
      $ref: ./components/schemas/model_object_email.yml
    model_object_macs_array_string:
      $ref: ./components/schemas/model_object_macs_array_string.yml
    msp:
      $ref: ./components/schemas/msp.yml
    mxcluster:
      $ref: ./components/schemas/mxcluster.yml
    mxedge:
      $ref: ./components/schemas/mxedge.yml
    mxtunnel:
      $ref: ./components/schemas/mxtunnel.yml
    nac_rule:
      $ref: ./components/schemas/nac_rule.yml
    nac_tag:
      $ref: ./components/schemas/nac_tag.yml
    network:
      $ref: ./components/schemas/network.yml
    new_admin:
      $ref: ./components/schemas/new_admin.yml
    note:
      $ref: ./components/schemas/note.yml
    org:
      $ref: ./components/schemas/org.yml
    org_apitoken:
      $ref: ./components/schemas/org_apitoken.yml
    org_setting:
      $ref: ./components/schemas/org_setting.yml
    orggroup:
      $ref: ./components/schemas/orggroup.yml
    psk:
      $ref: ./components/schemas/psk.yml
    psk_portal:
      $ref: ./components/schemas/psk_portal.yml
    recover:
      $ref: ./components/schemas/recover.yml
    req_clear_bgp:
      $ref: ./components/schemas/req_clear_bgp.yml
    req_replace_device:
      $ref: ./components/schemas/req_replace_device.yml
    rfdiag:
      $ref: ./components/schemas/rfdiag.yml
    rftemplate:
      $ref: ./components/schemas/rftemplate.yml
    secpolicy:
      $ref: ./components/schemas/secpolicy.yml
    service:
      $ref: ./components/schemas/service.yml
    service_policy:
      $ref: ./components/schemas/service_policy.yml
    site:
      $ref: ./components/schemas/site.yml
    site_setting:
      $ref: ./components/schemas/site_setting.yml
    sitegroup:
      $ref: ./components/schemas/sitegroup.yml
    sitetemplate:
      $ref: ./components/schemas/sitetemplate.yml
    sle_threshold:
      $ref: ./components/schemas/sle_threshold.yml
    sso:
      $ref: ./components/schemas/sso.yml
    ssorole:
      $ref: ./components/schemas/ssorole.yml
    stats_client:
      $ref: ./components/schemas/stats_client.yml
    stats_client_detail:
      $ref: ./components/schemas/stats_client_detail.yml
    stats_client_wired:
      $ref: ./components/schemas/stats_client_wired.yml
    stats_site:
      $ref: ./components/schemas/stats_site.yml
    synthetic_test:
      $ref: ./components/schemas/synthetic_test.yml
    synthetic_test_device:
      $ref: ./components/schemas/synthetic_test_device.yml
    template:
      $ref: ./components/schemas/template.yml
    test_telstra:
      $ref: ./components/schemas/test_telstra.yml
    test_twilio:
      $ref: ./components/schemas/test_twilio.yml
    ticket:
      $ref: ./components/schemas/ticket.yml
    two_factor:
      $ref: ./components/schemas/two_factor.yml
    ui_settings:
      $ref: ./components/schemas/ui_settings.yml
    user_apitoken:
      $ref: ./components/schemas/user_apitoken.yml
    vpn:
      $ref: ./components/schemas/vpn.yml
    webhook:
      $ref: ./components/schemas/webhook.yml
    wlan:
      $ref: ./components/schemas/wlan.yml
    wxlan_rule:
      $ref: ./components/schemas/wxlan_rule.yml
    wxlan_tag:
      $ref: ./components/schemas/wxlan_tag.yml
    wxlan_tunnel:
      $ref: ./components/schemas/wxlan_tunnel.yml
  securitySchemes:
    apiToken:
      description: "Like many other API providers, it\u2019s also possible to generate\
        \ API Tokens to be used (in HTTP Header) for authentication. An API token\
        \ ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token\
        \ value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated\
        \ for a specific admin has the same privilege as the user\n* an API token\
        \ will be automatically removed if not used for > 90 days\n* SSO admins cannot\
        \ generate these API tokens. Refer Org level API tokens which can have privileges\
        \ of a specific Org/Site for more information."
      in: header
      name: Authorization
      type: apiKey
    basicAuth:
      description: "While our current UI uses Session / Cookie-based authentication,\
        \ it\u2019s also possible to do Basic Auth."
      scheme: basic
      type: http
