openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2401.1.2**

    >

    > Date: **Feb 1, 2024**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2311.1.4
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Login
- description: A Mist account can be linked to OAuth2 providers:\n1. First, login
    with your Mist account\n2. Obtain the Authorization URL for Linking 1. in JSON
    response, more usable for developers. Simply don\'t specify the forward parameter
    when obtaining the authorization URL 2. or as GET parameter, for UI where the
    user flow can be continued. Specify the landing page/url of your choice 3. Obtain
    the authorizaiton code by clicking / going through Authorization URL Link Mist
    Account against OAuth2 Provider by using the authorization code
  name: Login With OAuth2
- description: "In a typical enterprise, a separate group of people, Installers, are\
    \ responsible for install new devices. May it be a new installation (e.g. new\
    \ stores), a replacement installation (e.g. replacing Cisco APs with Mist APs),\
    \ or addition (e.g. adding new APs for better coverage). Instead of granting them\
    \ Admin/Write privilege, it's more desirable to grant them minimum privileges\
    \ to do the initial provisioning so they cannot read sensible information (e.g.\
    \ PSK of a WLAN), or change configs of running APs.\nAt a high level, Installer\
    \ APs try to achieve the following:\n1. identifying a device by MAC (that\u2019\
    s what they see)\n2. they can only touch configurations of the devices they\u2019\
    re installing\n3. allow the following configurations: * name * site assignment\
    \ * device  profile assignment * map and location (x/y) assignment * claim (if\
    \ not already in the inventory) * replace existing device with the device being\
    \ installed\n\n* Grace Period *\nGrace period provides a dynamic way to limit\
    \ what devices / sites   installer can work on. Generally installers work on recent\
    \ deployments -  bringing up new sites, add newly claimed devices to new / existing\
    \ sites. They  make mistakes, too, and may need to further tweak some of the parameters.\
    \   Default grace period is 7 days and can be set from 1 day to 365 days."
  name: Installer
- name: Admin
- name: Mobile
- description: MSP (Managed Service Provider) contains multiple Organizations.
  name: Msps
- name: Msps Admins
- name: Msps Inventory
- name: Msps Invites
- name: Msps Logo
- name: Msps Logs
- name: Msps Licenses
- name: Msps Marvis
- name: Msps Org Groups
- name: Msps Orgs
- name: Msps SLEs
- name: Msps SSO Roles
- name: Msps SSO
- name: Msps Stats
- name: Msps Tickets
- description: An organization usually represents a customer - which has inventories,
    licenses. An Organization can contain multiple sites. A site usually represents
    a deployment at the same location (a campus, an office).
  name: Orgs
- name: Orgs 128T
- name: Orgs Admins
- description: Alarms are triggered based on certain events. Alarms could be configured
    using an Alarm Template.
  name: Orgs Alarms
- description: An Alarm Template is a set of Alarm Rules that could be applied to
    one or more sites (while each site can only pick one Alarm Template), or to the
    whole org.
  name: Orgs Alarm Templates
- name: Orgs AP Templates
- name: Orgs API Tokens
- name: Orgs Assets
- name: Orgs Asset Filters
- name: Orgs Calls
- name: Orgs Cert
- name: Orgs Clients - NAC
- name: Orgs Clients - Wan
- name: Orgs Clients - Wired
- name: Orgs Clients - Wireless
- name: Orgs CRL
- description: 'While Templates / RF Templates / Network Templates / Gateway Templates
    provides powerful ways to control how a Device\''s configuration is derived for
    a Site. There are cases where you\''d like another level of control at the Org
    Level.

    A Device Profile contains a subset of Device\''s configurations you\''d like a
    device to have. It will be merged at runtime when we\''re provisioning an AP.'
  name: Orgs Device Profiles
- name: Orgs Devices
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Orgs EVPN Topologies
- description: API Call for 3rd party devices
  name: Orgs Devices Others
- name: Orgs Devices Stats
- name: Orgs Devices Upgrades
- description: "In Zscaler UI \n 1. add Partner Integration at https://admin.zscalerbeta.net/#administration/partner-integration\
    \ \n 2. Add Partner Administrator Role at https://admin.zscalerbeta.net/#administration/role-management\
    \ - Name: Mist - Access: Full \n 3. add Partner Admin at https://admin.zscalerbeta.net/#administration/admin-management\
    \ with - Login ID: john - email: john@abc.com \n 4. Find the cloud name for ZIA\
    \ https://help.zscaler.com/zia/what-my-cloud-name-zia\n"
  name: Orgs Devices Zscaler
- description: Gateway Template is applied to a site for gateway(s) in a site.
  name: Orgs Gateway Templates
- name: Orgs Guests
- name: Orgs IDP Profiles
- name: Orgs Inventory
- name: Orgs JSE
- description: "Juniper Support Insight is a free service provided to all Mist customers.\
    \ You can adopt your devices via a few lines CLI comands. Allowing you to \n*\
    \ get some basic information about the adopted devices \n* web shell into device\
    \ (write privilege required) \n* upgrade (write privilege required)"
  name: Orgs JSI
- name: Orgs Licenses
- name: Orgs Linked Applications
- name: Orgs Logs
- name: Orgs Marvis
- name: Orgs Maps
- name: Orgs MxClusters
- name: Orgs MxEdges
- name: Orgs MxTunnels
- name: Orgs NAC
- description: 'nactags are the building blocks to compose nacrules.

    They can either appear in the "matching" / "not_matching" sections of a nacrule,
    in which case they play the role of classifiers, or they could appear in the "apply_tags"
    section of the of a nacrule, in which case they influence the result.

    When the "type" field of nactag is "match", it can be used as the classfier of
    a nacrule. "match" field specifies the attribute name and "values" field specifies
    the list of attribute values to match on. When multiple values are specified,
    its treated as an OR condition between those values.

    When the "type" field of nactag is NOT "match", it can be used as the result of
    a nacrule. "type" field identifies the action to take and the corresponding field
    would provide any associated parameters to that action.'
  name: Orgs NAC Tags
- name: Orgs NAC CRL
- name: Orgs NAC Rules
- description: 'Network template is intended to be applied to a Site. It works like
    a blueprint of the network of the site.

    All Site Settings can go into Network Templates. See Site:Site Setting for schema

    Moreover, this can further be overwriten by individual Site Setting'
  name: Orgs Network Templates
- name: Orgs Networks
- name: Orgs Premium Analytics
- name: Orgs Psks
- description: "PSK Self-Service Portals are for \n  1. **WIFI users** who want to\
    \ connect to a WLAN with personal PSK, they\u2019re told to connect to a URL where\
    \ they can login (likely through company\u2019s SSO) and get the WIFI Name / Passphrase\
    \ - required input fields name, email so we can generate PSK \n  2. **PSK Admins**\
    \ (they don\u2019t have access to normal Network Admin Portal)\nWhen a PSK portal\
    \ is created, an unique URL will be generated (e.g. https://psk.mist.com/xxxxxx)"
  name: Orgs Psk Portals
- name: Orgs RF Templates
- name: Orgs SDK Clients
- name: Orgs SDK Templates
- description: "Security Policy is designed to audit / catch discripancies between\
    \ \u201Cwhat\u2019s intended to be running\u201D versus \u201Cwhat\u2019s actually\
    \ running\u201D in a network. Many big organizations have separated Security and\
    \ IT team (for good reasons). Each site can be assigned a security policy. Whenever\
    \ an AP is provisioned, the configuration will be checked against the security\
    \ policy. Any violations will be flagged in [Device Config History](/#operation/searchSiteDeviceConfigHistory)\
    \ where you can search for the when and where the violation occurs."
  name: Orgs SecPolicies
- name: Orgs Services
- name: Orgs Service Policies
- name: Orgs Setting
- name: Orgs Sitegroups
- name: Orgs Sites
- description: Site template is intended to be applied to a Site. The items in site
    setting which should be shared for all device types.
  name: Orgs Site Templates
- name: Orgs SLEs
- name: Orgs SSO Roles
- name: Orgs SSO
- name: Orgs Stats
- name: Orgs Subscriptions
- name: Orgs Templates
- name: Orgs Tickets
- name: Orgs Tunnels Stats
- name: Orgs Vars
- name: Orgs VPNs
- name: Orgs Webhooks
- name: Orgs Wlans
- name: Orgs WxRules
- name: Orgs WxTags
- name: Orgs WxTunnels
- description: A site represents a project, a deployment. For MSP, it can be as small
    as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps,
    Wlans, Policies, Zones.
  name: Sites
- name: Sites Alarms
- name: Sites AP Templates
- description: Applications contains a list of applications users are interested in
    monitoring / routing / policying
  name: Sites Applications
- name: Sites Anomaly
- name: Sites Asset Filters
- name: Sites Assets
- name: Sites Beacons
- name: Sites Calls
- name: Sites Clients - NAC
- name: Sites Clients - Wan
- name: Sites Clients - Wired
- name: Sites Clients - Wireless
- description: 'Mist provides many ways (device-type specific template, site template,
    device profile, per-device) to configure devices for different kind of scenarios.

    The precedence goes from most specific to least specific

    Device > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template
    > Site Template > Site Setting'
  name: Sites Devices
- name: Sites Devices - Wireless
- description: API Call for 3rd party devices
  name: Sites Devices Others
- name: Sites Devices - Wired
- name: Sites Devices - Wired Virtual Chassis
- name: Sites Devices - WAN
- name: Sites Devices - WAN HA
- name: Sites Devices Stats
- name: Sites Devices Upgrades
- name: Sites Devices Utilities
- name: Sites Events
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Sites EVPN Topologies
- name: Sites Guests
- name: Sites Insights
- name: Sites JSE
- name: Sites Licenses
- name: Sites Location
- name: Sites Maps
- name: Sites Maps Auto-orientation
- name: Sites Maps Auto-placement
- name: Sites MxEdges
- name: Sites MxTunnels
- name: Sites Network Templates
- name: Sites Networks
- name: Sites Pcaps
- name: Sites Psks
- name: Sites RF Templates
- name: Sites Rfdiags
- name: Sites Rogues
- name: Sites RRM
- name: Sites Rssizones
- name: Sites Services
- name: Sites Service Policies
- name: Sites Setting
- name: Sites Site Templates
- name: Sites Skyatp
- name: Sites SLEs
- name: Sites Stats
- name: Sites Subscriptions
- name: Sites Synthetic Tests
- name: Sites UI Settings
- name: Sites vBeacons
- name: Sites VPNs
- name: Sites Webhooks
- name: Sites Wlans
- name: Sites WxRules
- name: Sites WxTags
- name: Sites WxTunnels
- name: Sites Zones
- name: Constants
- name: Self Account
- description: "Like many other API providers, it\u2019s also possible to generate\
    \ API Tokens to be used (in HTTP Header) for authentication. An API token ties\
    \ to a Admin with equal or less privileges.\n\nNotes:\n* an API token generated\
    \ for a specific admin has the same privilege as the user\n* an API token will\
    \ be automatically removed if not used for > 90 days\n* SSO admins cannot generate\
    \ these API tokens. Refer Org level API tokens (/api/v1/docs/Org#api-token) which\
    \ can have privileges of a specific Org/Site for more information."
  name: Self API Token
- name: Self OAuth2
- name: Recover Password
- name: Self MFA
- name: Self Alarms
- name: Self Audit Logs
- name: Webhook Samples
paths:
  /api/v1/orgs/{org_id}/gatewaytemplates:
    get:
      description: Get List of Org Gateway Templates
      operationId: listOrgGatewayTemplates
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/GatewaytemplatesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgGatewayTemplates
      tags:
      - Orgs Gateway Templates
      - cat:WAN:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create Org Gateway Template
      operationId: createOrgGatewayTemplate
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  additional_config_cmds:
                  - string
                  bgp_config:
                    property1:
                      auth_key: string
                      bfd_minimum_interval: 0
                      communities:
                      - id: string
                        local_preference: 0
                        vpn_name: string
                      disable_bfd: false
                      export: string
                      export_policy: string
                      graceful_restart_time: 0
                      hold_time: 90
                      import: string
                      import_policy: string
                      local_as: 0
                      neighbor_as: 0
                      neighbors:
                        property1:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                        property2:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                      networks:
                      - string
                      type: internal
                      via: lan
                      vpn_name: string
                      wan_name: string
                    property2:
                      auth_key: string
                      bfd_minimum_interval: 0
                      communities:
                      - id: string
                        local_preference: 0
                        vpn_name: string
                      disable_bfd: false
                      export: string
                      export_policy: string
                      graceful_restart_time: 0
                      hold_time: 90
                      import: string
                      import_policy: string
                      local_as: 0
                      neighbor_as: 0
                      neighbors:
                        property1:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                        property2:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                      networks:
                      - string
                      type: internal
                      via: lan
                      vpn_name: string
                      wan_name: string
                  created_time: 0
                  dhcpd_config:
                    property1:
                      dns_servers:
                      - 192.168.0.1
                      dns_suffix:
                      - string
                      fixed_bindings:
                        property1:
                          ip: 192.168.0.1
                          name: string
                        property2:
                          ip: 192.168.0.1
                          name: string
                      gateway: 192.168.0.1
                      ip_end: 192.168.0.1
                      ip_start: 192.168.0.1
                      servers:
                      - 192.168.0.1
                      type: local
                    property2:
                      dns_servers:
                      - 192.168.0.1
                      dns_suffix:
                      - string
                      fixed_bindings:
                        property1:
                          ip: 192.168.0.1
                          name: string
                        property2:
                          ip: 192.168.0.1
                          name: string
                      gateway: 192.168.0.1
                      ip_end: 192.168.0.1
                      ip_start: 192.168.0.1
                      servers:
                      - 192.168.0.1
                      type: local
                  extra_routes:
                    property1:
                      via: 192.168.0.1
                    property2:
                      via: 192.168.0.1
                  gateway_matching:
                    enable: true
                    rules:
                    - additional_config_cmds:
                      - string
                      name: string
                      port_config:
                        property1:
                          ae_disable_lacp: true
                          ae_idx: 0
                          aggregated: false
                          critical: true
                          description: string
                          disable_autoneg: false
                          duplex: auto
                          dynamic_usage: string
                          esilag: true
                          mtu: 1514
                          no_local_overwrite: true
                          poe_disabled: false
                          speed: auto
                          usage: string
                        property2:
                          ae_disable_lacp: true
                          ae_idx: 0
                          aggregated: false
                          critical: true
                          description: string
                          disable_autoneg: false
                          duplex: auto
                          dynamic_usage: string
                          esilag: true
                          mtu: 1514
                          no_local_overwrite: true
                          poe_disabled: false
                          speed: auto
                          usage: string
                      property1: string
                      property2: string
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f31
                  ip_configs:
                    property1:
                      ip: 192.168.0.1
                      netmask: /24
                    property2:
                      ip: 192.168.0.1
                      netmask: /24
                  modified_time: 0
                  name: string
                  networks:
                    property1:
                      created_time: 0
                      disallow_mist_services: false
                      gateway: 192.168.70.1
                      hosts:
                        property1:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                        property2:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                      id: 497f6eca-6276-4993-bfeb-53cbbbba6f32
                      internal_access:
                        enabled: true
                      internet_access:
                        create_simple_service_policy: false
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                          property2:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                        enabled: true
                        restricted: false
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: printer-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: printer-1
                      isolation: true
                      modified_time: 0
                      name: string
                      org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      subnet: 192.168.70.0/24
                      tenants:
                        property1:
                          addresses: string
                        property2:
                          addresses: string
                      vlan_id: 0
                      vpn_access:
                        property1:
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                        property2:
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                    property2:
                      created_time: 0
                      disallow_mist_services: false
                      gateway: 192.168.70.1
                      hosts:
                        property1:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                        property2:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                      id: 497f6eca-6276-4993-bfeb-53cbbbba6f33
                      internal_access:
                        enabled: true
                      internet_access:
                        create_simple_service_policy: false
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                          property2:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                        enabled: true
                        restricted: false
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: printer-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: printer-1
                      isolation: true
                      modified_time: 0
                      name: string
                      org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      subnet: 192.168.70.0/24
                      tenants:
                        property1:
                          addresses: string
                        property2:
                          addresses: string
                      vlan_id: 0
                      vpn_access:
                        property1:
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                        property2:
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                  oob_ip_config:
                    dns:
                    - string
                    dns_suffix:
                    - string
                    gateway: string
                    ip: string
                    netmask: string
                    network: string
                    node1:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                      use_mgmt_vrf: false
                      use_mgmt_vrf_for_host_out: false
                      vlan_id: 0
                    property1:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                    property2:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                    type: dynamic
                    use_mgmt_vrf: false
                    use_mgmt_vrf_for_host_out: false
                    vlan_id: 0
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  path_preferences:
                    property1:
                      paths:
                        cost: 0
                        gateway_ip: string
                        internet_access: false
                        name: string
                        networks:
                        - string
                        target_ips:
                        - string
                        type: local
                      strategy: ordered
                    property2:
                      paths:
                        cost: 0
                        gateway_ip: string
                        internet_access: false
                        name: string
                        networks:
                        - string
                        target_ips:
                        - string
                        type: local
                      strategy: ordered
                  port_config:
                    property1:
                      description: string
                      disable_autoneg: false
                      dsl_config:
                        ppoe_auth: none
                        ppoe_password: string
                        ppoe_username: string
                      duplex: full
                      ip_config:
                        dns:
                        - string
                        dns_suffix:
                        - string
                        gateway: string
                        ip: string
                        netmask: string
                        network: string
                        poser_password: string
                        ppoe_username: string
                        pppoe_auth: none
                        type: dhcp
                      lte_apn: string
                      lte_auth: none
                      lte_backup: true
                      lte_password: string
                      lte_username: string
                      mtu: 0
                      name: string
                      networks:
                      - string
                      outer_vlan_id: 0
                      poe_disabled: false
                      port_network: string
                      preserve_dscp: true
                      redundant: true
                      reth_idx: 0
                      reth_node: string
                      speed: 1g
                      svr_port_range: 60000-60005
                      traffic_shaping:
                        class_percentages:
                        - 0
                        enabled: false
                      usage: lan
                      vlan_id: 0
                      vpn_paths:
                        property1:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                        property2:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                      wan_ext_ip: string
                      wan_source_nat:
                        disabled: false
                        nat_pool: 64.2.4.0/30
                      wan_type: broadband
                    property2:
                      description: string
                      disable_autoneg: false
                      dsl_config:
                        ppoe_auth: none
                        ppoe_password: string
                        ppoe_username: string
                      duplex: full
                      ip_config:
                        dns:
                        - string
                        dns_suffix:
                        - string
                        gateway: string
                        ip: string
                        netmask: string
                        network: string
                        poser_password: string
                        ppoe_username: string
                        pppoe_auth: none
                        type: dhcp
                      lte_apn: string
                      lte_auth: none
                      lte_backup: true
                      lte_password: string
                      lte_username: string
                      mtu: 0
                      name: string
                      networks:
                      - string
                      outer_vlan_id: 0
                      poe_disabled: false
                      port_network: string
                      preserve_dscp: true
                      redundant: true
                      reth_idx: 0
                      reth_node: string
                      speed: 1g
                      svr_port_range: 60000-60005
                      traffic_shaping:
                        class_percentages:
                        - 0
                        enabled: false
                      usage: lan
                      vlan_id: 0
                      vpn_paths:
                        property1:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                        property2:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                      wan_ext_ip: string
                      wan_source_nat:
                        disabled: false
                        nat_pool: 64.2.4.0/30
                      wan_type: broadband
                  routing_policies:
                    property1:
                      terms:
                      - action:
                          accept: true
                          community:
                          - '65003:10'
                          exclude_as_path:
                          - '65002'
                          export_communitites:
                          - string
                          local_preference: string
                          prepend_as_path:
                          - '65003'
                          summarize: 192.168.0.0/16
                        matching:
                          as_path:
                          - '65001'
                          community:
                          - '65001:2'
                          network:
                          - string
                          prefix:
                          - 192.168.0.0/16-30
                          protocol:
                          - direct
                          route_exists:
                            route: 192.168.0.0/24
                            vrf_name: default
                          vpn_name:
                          - string
                          vpn_path:
                          - string
                    property2:
                      terms:
                      - action:
                          accept: true
                          community:
                          - '65003:10'
                          exclude_as_path:
                          - '65002'
                          export_communitites:
                          - string
                          local_preference: string
                          prepend_as_path:
                          - '65003'
                          summarize: 192.168.0.0/16
                        matching:
                          as_path:
                          - '65001'
                          community:
                          - '65001:2'
                          network:
                          - string
                          prefix:
                          - 192.168.0.0/16-30
                          protocol:
                          - direct
                          route_exists:
                            route: 192.168.0.0/24
                            vrf_name: default
                          vpn_name:
                          - string
                          vpn_path:
                          - string
                  service_policies:
                  - action: allow
                    ewf:
                    - alert_only: true
                      block_message: Access to this URL Category has been blocked
                      enabled: false
                      profille: strict
                    idp:
                      alert_only: string
                      enabled: false
                      profile: strict
                    local_routing: false
                    name: string
                    path_preferences: string
                    servicepolicy_id: a4b81837-7a2f-46c1-bf27-dc8af6edd0a0
                    services:
                    - string
                    tenants:
                    - string
                  tunnel_configs:
                    property1:
                      auto_provision:
                        enable: true
                        latlng:
                          lat: 37.295833
                          lng: -122.032946
                        primary:
                          num_hosts: string
                          wan_names:
                          - wan0
                        region: auto
                        secondary:
                          num_hosts: string
                          wan_names:
                          - wan0
                      ike_lifetime: 0
                      ike_mode: main
                      ike_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      ipsec_lifetime: 0
                      ipsec_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      local_id: string
                      mode: active-standby
                      primary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      probe:
                        interval: 0
                        threshold: 0
                        timeout: 0
                        type: icmp
                      protocol: ipsec
                      provider: zscaler-ipsec
                      psk: string
                      secondary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      version: '2'
                    property2:
                      auto_provision:
                        enable: true
                        latlng:
                          lat: 37.295833
                          lng: -122.032946
                        primary:
                          num_hosts: string
                          wan_names:
                          - wan0
                        region: auto
                        secondary:
                          num_hosts: string
                          wan_names:
                          - wan0
                      ike_lifetime: 0
                      ike_mode: main
                      ike_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      ipsec_lifetime: 0
                      ipsec_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      local_id: string
                      mode: active-standby
                      primary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      probe:
                        interval: 0
                        threshold: 0
                        timeout: 0
                        type: icmp
                      protocol: ipsec
                      provider: zscaler-ipsec
                      psk: string
                      secondary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      version: '2'
                  type: standalone
            schema:
              $ref: '#/components/schemas/gatewaytemplate'
        description: Gateway Template
      responses:
        '200':
          $ref: '#/components/responses/Gatewaytemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgGatewayTemplate
      tags:
      - Orgs Gateway Templates
      - cat:WAN:CONFIGURE
  /api/v1/orgs/{org_id}/gatewaytemplates/{gatewaytemplate_id}:
    delete:
      description: Delete Organization Gateway Template
      operationId: deleteOrgGatewayTemplate
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgGatewayTemplate
      tags:
      - Orgs Gateway Templates
      - cat:WAN:CONFIGURE
    get:
      description: Get Organization Gateway Template details
      operationId: getOrgGatewayTemplate
      responses:
        '200':
          $ref: '#/components/responses/Gatewaytemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgGatewayTemplate
      tags:
      - Orgs Gateway Templates
      - cat:WAN:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/gatewaytemplate_id'
    put:
      description: Update Organization Gateway Template
      operationId: updateOrgGatewayTemplate
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  additional_config_cmds:
                  - string
                  bgp_config:
                    property1:
                      auth_key: string
                      bfd_minimum_interval: 0
                      communities:
                      - id: string
                        local_preference: 0
                        vpn_name: string
                      disable_bfd: false
                      export: string
                      export_policy: string
                      graceful_restart_time: 0
                      hold_time: 90
                      import: string
                      import_policy: string
                      local_as: 0
                      neighbor_as: 0
                      neighbors:
                        property1:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                        property2:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                      networks:
                      - string
                      type: internal
                      via: lan
                      vpn_name: string
                      wan_name: string
                    property2:
                      auth_key: string
                      bfd_minimum_interval: 0
                      communities:
                      - id: string
                        local_preference: 0
                        vpn_name: string
                      disable_bfd: false
                      export: string
                      export_policy: string
                      graceful_restart_time: 0
                      hold_time: 90
                      import: string
                      import_policy: string
                      local_as: 0
                      neighbor_as: 0
                      neighbors:
                        property1:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                        property2:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                      networks:
                      - string
                      type: internal
                      via: lan
                      vpn_name: string
                      wan_name: string
                  created_time: 0
                  dhcpd_config:
                    property1:
                      dns_servers:
                      - 192.168.0.1
                      dns_suffix:
                      - string
                      fixed_bindings:
                        property1:
                          ip: 192.168.0.1
                          name: string
                        property2:
                          ip: 192.168.0.1
                          name: string
                      gateway: 192.168.0.1
                      ip_end: 192.168.0.1
                      ip_start: 192.168.0.1
                      servers:
                      - 192.168.0.1
                      type: local
                    property2:
                      dns_servers:
                      - 192.168.0.1
                      dns_suffix:
                      - string
                      fixed_bindings:
                        property1:
                          ip: 192.168.0.1
                          name: string
                        property2:
                          ip: 192.168.0.1
                          name: string
                      gateway: 192.168.0.1
                      ip_end: 192.168.0.1
                      ip_start: 192.168.0.1
                      servers:
                      - 192.168.0.1
                      type: local
                  extra_routes:
                    property1:
                      via: 192.168.0.1
                    property2:
                      via: 192.168.0.1
                  gateway_matching:
                    enable: true
                    rules:
                    - additional_config_cmds:
                      - string
                      name: string
                      port_config:
                        property1:
                          ae_disable_lacp: true
                          ae_idx: 0
                          aggregated: false
                          critical: true
                          description: string
                          disable_autoneg: false
                          duplex: auto
                          dynamic_usage: string
                          esilag: true
                          mtu: 1514
                          no_local_overwrite: true
                          poe_disabled: false
                          speed: auto
                          usage: string
                        property2:
                          ae_disable_lacp: true
                          ae_idx: 0
                          aggregated: false
                          critical: true
                          description: string
                          disable_autoneg: false
                          duplex: auto
                          dynamic_usage: string
                          esilag: true
                          mtu: 1514
                          no_local_overwrite: true
                          poe_disabled: false
                          speed: auto
                          usage: string
                      property1: string
                      property2: string
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f34
                  ip_configs:
                    property1:
                      ip: 192.168.0.1
                      netmask: /24
                    property2:
                      ip: 192.168.0.1
                      netmask: /24
                  modified_time: 0
                  name: string
                  networks:
                    property1:
                      created_time: 0
                      disallow_mist_services: false
                      gateway: 192.168.70.1
                      hosts:
                        property1:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                        property2:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                      id: 497f6eca-6276-4993-bfeb-53cbbbba6f35
                      internal_access:
                        enabled: true
                      internet_access:
                        create_simple_service_policy: false
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                          property2:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                        enabled: true
                        restricted: false
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: printer-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: printer-1
                      isolation: true
                      modified_time: 0
                      name: string
                      org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      subnet: 192.168.70.0/24
                      tenants:
                        property1:
                          addresses: string
                        property2:
                          addresses: string
                      vlan_id: 0
                      vpn_access:
                        property1:
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                        property2:
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                    property2:
                      created_time: 0
                      disallow_mist_services: false
                      gateway: 192.168.70.1
                      hosts:
                        property1:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                        property2:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                      id: 497f6eca-6276-4993-bfeb-53cbbbba6f36
                      internal_access:
                        enabled: true
                      internet_access:
                        create_simple_service_policy: false
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                          property2:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                        enabled: true
                        restricted: false
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: printer-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: printer-1
                      isolation: true
                      modified_time: 0
                      name: string
                      org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      subnet: 192.168.70.0/24
                      tenants:
                        property1:
                          addresses: string
                        property2:
                          addresses: string
                      vlan_id: 0
                      vpn_access:
                        property1:
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                        property2:
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                  oob_ip_config:
                    dns:
                    - string
                    dns_suffix:
                    - string
                    gateway: string
                    ip: string
                    netmask: string
                    network: string
                    node1:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                      use_mgmt_vrf: false
                      use_mgmt_vrf_for_host_out: false
                      vlan_id: 0
                    property1:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                    property2:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                    type: dynamic
                    use_mgmt_vrf: false
                    use_mgmt_vrf_for_host_out: false
                    vlan_id: 0
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  path_preferences:
                    property1:
                      paths:
                        cost: 0
                        gateway_ip: string
                        internet_access: false
                        name: string
                        networks:
                        - string
                        target_ips:
                        - string
                        type: local
                      strategy: ordered
                    property2:
                      paths:
                        cost: 0
                        gateway_ip: string
                        internet_access: false
                        name: string
                        networks:
                        - string
                        target_ips:
                        - string
                        type: local
                      strategy: ordered
                  port_config:
                    property1:
                      description: string
                      disable_autoneg: false
                      dsl_config:
                        ppoe_auth: none
                        ppoe_password: string
                        ppoe_username: string
                      duplex: full
                      ip_config:
                        dns:
                        - string
                        dns_suffix:
                        - string
                        gateway: string
                        ip: string
                        netmask: string
                        network: string
                        poser_password: string
                        ppoe_username: string
                        pppoe_auth: none
                        type: dhcp
                      lte_apn: string
                      lte_auth: none
                      lte_backup: true
                      lte_password: string
                      lte_username: string
                      mtu: 0
                      name: string
                      networks:
                      - string
                      outer_vlan_id: 0
                      poe_disabled: false
                      port_network: string
                      preserve_dscp: true
                      redundant: true
                      reth_idx: 0
                      reth_node: string
                      speed: 1g
                      svr_port_range: 60000-60005
                      traffic_shaping:
                        class_percentages:
                        - 0
                        enabled: false
                      usage: lan
                      vlan_id: 0
                      vpn_paths:
                        property1:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                        property2:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                      wan_ext_ip: string
                      wan_source_nat:
                        disabled: false
                        nat_pool: 64.2.4.0/30
                      wan_type: broadband
                    property2:
                      description: string
                      disable_autoneg: false
                      dsl_config:
                        ppoe_auth: none
                        ppoe_password: string
                        ppoe_username: string
                      duplex: full
                      ip_config:
                        dns:
                        - string
                        dns_suffix:
                        - string
                        gateway: string
                        ip: string
                        netmask: string
                        network: string
                        poser_password: string
                        ppoe_username: string
                        pppoe_auth: none
                        type: dhcp
                      lte_apn: string
                      lte_auth: none
                      lte_backup: true
                      lte_password: string
                      lte_username: string
                      mtu: 0
                      name: string
                      networks:
                      - string
                      outer_vlan_id: 0
                      poe_disabled: false
                      port_network: string
                      preserve_dscp: true
                      redundant: true
                      reth_idx: 0
                      reth_node: string
                      speed: 1g
                      svr_port_range: 60000-60005
                      traffic_shaping:
                        class_percentages:
                        - 0
                        enabled: false
                      usage: lan
                      vlan_id: 0
                      vpn_paths:
                        property1:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                        property2:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                      wan_ext_ip: string
                      wan_source_nat:
                        disabled: false
                        nat_pool: 64.2.4.0/30
                      wan_type: broadband
                  routing_policies:
                    property1:
                      terms:
                      - action:
                          accept: true
                          community:
                          - '65003:10'
                          exclude_as_path:
                          - '65002'
                          export_communitites:
                          - string
                          local_preference: string
                          prepend_as_path:
                          - '65003'
                          summarize: 192.168.0.0/16
                        matching:
                          as_path:
                          - '65001'
                          community:
                          - '65001:2'
                          network:
                          - string
                          prefix:
                          - 192.168.0.0/16-30
                          protocol:
                          - direct
                          route_exists:
                            route: 192.168.0.0/24
                            vrf_name: default
                          vpn_name:
                          - string
                          vpn_path:
                          - string
                    property2:
                      terms:
                      - action:
                          accept: true
                          community:
                          - '65003:10'
                          exclude_as_path:
                          - '65002'
                          export_communitites:
                          - string
                          local_preference: string
                          prepend_as_path:
                          - '65003'
                          summarize: 192.168.0.0/16
                        matching:
                          as_path:
                          - '65001'
                          community:
                          - '65001:2'
                          network:
                          - string
                          prefix:
                          - 192.168.0.0/16-30
                          protocol:
                          - direct
                          route_exists:
                            route: 192.168.0.0/24
                            vrf_name: default
                          vpn_name:
                          - string
                          vpn_path:
                          - string
                  service_policies:
                  - action: allow
                    ewf:
                    - alert_only: true
                      block_message: Access to this URL Category has been blocked
                      enabled: false
                      profille: strict
                    idp:
                      alert_only: string
                      enabled: false
                      profile: strict
                    local_routing: false
                    name: string
                    path_preferences: string
                    servicepolicy_id: a4b81837-7a2f-46c1-bf27-dc8af6edd0a0
                    services:
                    - string
                    tenants:
                    - string
                  tunnel_configs:
                    property1:
                      auto_provision:
                        enable: true
                        latlng:
                          lat: 37.295833
                          lng: -122.032946
                        primary:
                          num_hosts: string
                          wan_names:
                          - wan0
                        region: auto
                        secondary:
                          num_hosts: string
                          wan_names:
                          - wan0
                      ike_lifetime: 0
                      ike_mode: main
                      ike_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      ipsec_lifetime: 0
                      ipsec_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      local_id: string
                      mode: active-standby
                      primary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      probe:
                        interval: 0
                        threshold: 0
                        timeout: 0
                        type: icmp
                      protocol: ipsec
                      provider: zscaler-ipsec
                      psk: string
                      secondary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      version: '2'
                    property2:
                      auto_provision:
                        enable: true
                        latlng:
                          lat: 37.295833
                          lng: -122.032946
                        primary:
                          num_hosts: string
                          wan_names:
                          - wan0
                        region: auto
                        secondary:
                          num_hosts: string
                          wan_names:
                          - wan0
                      ike_lifetime: 0
                      ike_mode: main
                      ike_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      ipsec_lifetime: 0
                      ipsec_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      local_id: string
                      mode: active-standby
                      primary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      probe:
                        interval: 0
                        threshold: 0
                        timeout: 0
                        type: icmp
                      protocol: ipsec
                      provider: zscaler-ipsec
                      psk: string
                      secondary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      version: '2'
                  type: standalone
            schema:
              $ref: '#/components/schemas/gatewaytemplate'
        description: Gateway Template
      responses:
        '200':
          $ref: '#/components/responses/Gatewaytemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgGatewayTemplate
      tags:
      - Orgs Gateway Templates
      - cat:WAN:CONFIGURE
  /api/v1/orgs/{org_id}/idpprofiles:
    get:
      description: get the list of Org IDP Profiles
      operationId: listOrgIdpProfiles
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/IdpProfileArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgIdpProfiles
      tags:
      - Orgs IDP Profiles
      - cat:WAN:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create Org IDP Profile
      operationId: createOrgIdpProfile
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  base_profile: strict
                  name: relaxed
                  overwrites:
                  - action: alert
                    matching:
                      attack_name:
                      - HTTP:INVALID:HDR-FIELD
                      dst_subnet:
                      - 63.1.2.0/24
                      severity:
                      - major
            schema:
              $ref: '#/components/schemas/idpprofile'
      responses:
        '200':
          $ref: '#/components/responses/IdpProfile'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgIdpProfile
      tags:
      - Orgs IDP Profiles
      - cat:WAN:CONFIGURE
  /api/v1/orgs/{org_id}/idpprofiles/{idpprofile_id}:
    delete:
      description: Delete Org IDP Profile
      operationId: deleteOrgIdpProfile
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgIdpProfile
      tags:
      - Orgs IDP Profiles
      - cat:WAN:CONFIGURE
    get:
      description: Get Org IDP Profile
      operationId: getOrgIdpProfile
      responses:
        '200':
          $ref: '#/components/responses/IdpProfile'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgIdpProfile
      tags:
      - Orgs IDP Profiles
      - cat:WAN:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/idpprofile_id'
    put:
      description: Update Org IDP Profile
      operationId: updateOrgIdpProfile
      requestBody:
        content:
          application/json:
            examples:
              idpprofile:
                value:
                  base_profile: strict
                  name: relaxed
                  overwrites:
                  - action: alert
                    matching:
                      attack_name:
                      - HTTP:INVALID:HDR-FIELD
                      dst_subnet:
                      - 63.1.2.0/24
                      severity:
                      - major
            schema:
              $ref: '#/components/schemas/idpprofile'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgIdpProfile
      tags:
      - Orgs IDP Profiles
      - cat:WAN:CONFIGURE
  /api/v1/orgs/{org_id}/networks:
    get:
      description: Get List of Org Networks
      operationId: listOrgNetworks
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/NetworksArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgNetworks
      tags:
      - Orgs Networks
      - cat:WAN:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create Organization Network
      operationId: createOrgNetwork
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  created_time: 0
                  disallow_mist_services: false
                  gateway: 192.168.70.1
                  hosts:
                    property1:
                      external_ips: 172.16.10.32-172.16.10.35
                      ips: 192.168.70.32-192.168.70.35
                    property2:
                      external_ips: 172.16.10.32-172.16.10.35
                      ips: 192.168.70.32-192.168.70.35
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f37
                  internal_access:
                    enabled: true
                  internet_access:
                    create_simple_service_policy: false
                    destination_nat:
                      property1:
                        internal_ip: 192.168.70.30
                        name: web server
                        port: 443
                      property2:
                        internal_ip: 192.168.70.30
                        name: web server
                        port: 443
                    enabled: true
                    restricted: false
                    static_nat:
                      property1:
                        internal_ip: 192.168.70.3
                        name: printer-1
                      property2:
                        internal_ip: 192.168.70.3
                        name: printer-1
                  isolation: true
                  modified_time: 0
                  name: string
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  subnet: 192.168.70.0/24
                  tenants:
                    property1:
                      addresses: string
                    property2:
                      addresses: string
                  vlan_id: 0
                  vpn_access:
                    property1:
                      allow_ping: true
                      destination_nat:
                        property1:
                          name: web server
                          port: 443
                          to: 192.168.70.5/30
                        property2:
                          name: web server
                          port: 443
                          to: 192.168.70.5/30
                      nat_pool: 172.16.0.0/26
                      routed: true
                      source_nat:
                        exteral_ip: 172.16.0.8/30
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: pos-station-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: pos-station-1
                      summarized_subnet: 172.16.0.0/16
                    property2:
                      allow_ping: true
                      destination_nat:
                        property1:
                          name: web server
                          port: 443
                          to: 192.168.70.5/30
                        property2:
                          name: web server
                          port: 443
                          to: 192.168.70.5/30
                      nat_pool: 172.16.0.0/26
                      routed: true
                      source_nat:
                        exteral_ip: 172.16.0.8/30
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: pos-station-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: pos-station-1
                      summarized_subnet: 172.16.0.0/16
            schema:
              $ref: '#/components/schemas/network'
      responses:
        '200':
          $ref: '#/components/responses/Network'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgNetwork
      tags:
      - Orgs Networks
      - cat:WAN:CONFIGURE
  /api/v1/orgs/{org_id}/networks/{network_id}:
    delete:
      description: Delete Organization Network
      operationId: deleteOrgNetwork
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgNetwork
      tags:
      - Orgs Networks
      - cat:WAN:CONFIGURE
    get:
      description: Get Organization Network Details
      operationId: getOrgNetwork
      responses:
        '200':
          $ref: '#/components/responses/Network'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgNetwork
      tags:
      - Orgs Gateway Templates
      - cat:WAN:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/network_id'
    put:
      description: Update Organization Network
      operationId: updateOrgNetwork
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  created_time: 0
                  disallow_mist_services: false
                  gateway: 192.168.70.1
                  hosts:
                    property1:
                      external_ips: 172.16.10.32-172.16.10.35
                      ips: 192.168.70.32-192.168.70.35
                    property2:
                      external_ips: 172.16.10.32-172.16.10.35
                      ips: 192.168.70.32-192.168.70.35
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f38
                  internal_access:
                    enabled: true
                  internet_access:
                    create_simple_service_policy: false
                    destination_nat:
                      property1:
                        internal_ip: 192.168.70.30
                        name: web server
                        port: 443
                      property2:
                        internal_ip: 192.168.70.30
                        name: web server
                        port: 443
                    enabled: true
                    restricted: false
                    static_nat:
                      property1:
                        internal_ip: 192.168.70.3
                        name: printer-1
                      property2:
                        internal_ip: 192.168.70.3
                        name: printer-1
                  isolation: true
                  modified_time: 0
                  name: string
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  subnet: 192.168.70.0/24
                  tenants:
                    property1:
                      addresses: string
                    property2:
                      addresses: string
                  vlan_id: 0
                  vpn_access:
                    property1:
                      allow_ping: true
                      destination_nat:
                        property1:
                          name: web server
                          port: 443
                          to: 192.168.70.5/30
                        property2:
                          name: web server
                          port: 443
                          to: 192.168.70.5/30
                      nat_pool: 172.16.0.0/26
                      routed: true
                      source_nat:
                        exteral_ip: 172.16.0.8/30
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: pos-station-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: pos-station-1
                      summarized_subnet: 172.16.0.0/16
                    property2:
                      allow_ping: true
                      destination_nat:
                        property1:
                          name: web server
                          port: 443
                          to: 192.168.70.5/30
                        property2:
                          name: web server
                          port: 443
                          to: 192.168.70.5/30
                      nat_pool: 172.16.0.0/26
                      routed: true
                      source_nat:
                        exteral_ip: 172.16.0.8/30
                      static_nat:
                        property1:
                          internal_ip: 192.168.70.3
                          name: pos-station-1
                        property2:
                          internal_ip: 192.168.70.3
                          name: pos-station-1
                      summarized_subnet: 172.16.0.0/16
            schema:
              $ref: '#/components/schemas/network'
      responses:
        '200':
          $ref: '#/components/responses/Network'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgNetwork
      tags:
      - Orgs Networks
      - cat:WAN:CONFIGURE
  /api/v1/orgs/{org_id}/otherdevices:
    get:
      description: Get List of Org other devices (3rd party devices)
      operationId: listOrgOtherDevices
      parameters:
      - in: query
        name: vendor
        schema:
          type: string
      - in: query
        name: mac
        schema:
          type: string
      - in: query
        name: serial
        schema:
          type: string
      - in: query
        name: model
        schema:
          type: string
      - in: query
        name: name
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/DeviceOtherArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgOtherDevices
      tags:
      - Orgs Devices Others
      - cat:WAN:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/org_id'
    put:
      description: If the Site / Device cannot be identified, a manual association
        can be made. Either a site_id or a device_mac needs to be provided.
      operationId: updateOrgOtherDevices
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  device_mac: 0adfea67e65b
                  macs:
                  - 5c5b350e0001
                  - 5c5b350e0003
                  op: assign
                  site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
            schema:
              properties:
                device_mac:
                  description: List of otherdevice mac addresses.
                  type: string
                macs:
                  description: The mac address of the peer device.
                  items:
                    type: string
                  type: array
                op:
                  description: The operation being performed
                  enum:
                  - assign
                  - unassign
                  type: string
                site_id:
                  description: Either a site_id OR a device_mac must be provided
                  type: string
              required:
              - op
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgOtherDevices
      tags:
      - Orgs Devices Others
      - cat:WAN:CONFIGURE
  /api/v1/orgs/{org_id}/otherdevices/events/count:
    get:
      description: Count Org OtherDevices Events
      operationId: countOrgOtherDeviceEvents
      parameters:
      - in: query
        name: distinct
        schema:
          default: mac
          enum:
          - mac
          - type
          - vendor
          - site_id
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countOrgOtherDeviceEvents
      tags:
      - Orgs Devices Others
      - cat:WAN:MONITOR
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/otherdevices/events/search:
    get:
      description: Search Org OtherDevices Events
      operationId: searchOrgOtherDeviceEvents
      parameters:
      - description: site id
        in: query
        name: site_id
        schema:
          type: string
      - description: mac
        in: query
        name: mac
        schema:
          type: string
      - description: mac of attached device
        in: query
        name: device_mac
        schema:
          type: string
      - description: device model
        in: query
        name: model
        schema:
          type: string
      - description: vendor name
        in: query
        name: vendor
        schema:
          type: string
      - description: event type
        in: query
        name: type
        schema:
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/EventsOtherDevicesSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgOtherDeviceEvents
      tags:
      - Orgs Devices Others
      - cat:WAN:MONITOR
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/otherdevices/{device_mac}:
    delete:
      description: Delete OtherDevice
      operationId: deleteOrgOtherDevice
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgOtherDevice
      tags:
      - Orgs Devices Others
      - cat:WAN:CONFIGURE
    get:
      description: Get Org other device (3rd party device)
      operationId: getOrgOtherDevice
      responses:
        '200':
          $ref: '#/components/responses/DeviceOther'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgOtherDevice
      tags:
      - Orgs Devices Others
      - cat:WAN:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/device_mac'
    put:
      description: If the Site / Device cannot be identified, a manual association
        can be made
      operationId: updateOrgOtherDevice
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  device_mac: 0adfea67e65b
[...]
