openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2401.1.2**

    >

    > Date: **Feb 1, 2024**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2311.1.4
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Login
- description: A Mist account can be linked to OAuth2 providers:\n1. First, login
    with your Mist account\n2. Obtain the Authorization URL for Linking 1. in JSON
    response, more usable for developers. Simply don\'t specify the forward parameter
    when obtaining the authorization URL 2. or as GET parameter, for UI where the
    user flow can be continued. Specify the landing page/url of your choice 3. Obtain
    the authorizaiton code by clicking / going through Authorization URL Link Mist
    Account against OAuth2 Provider by using the authorization code
  name: Login With OAuth2
- description: "In a typical enterprise, a separate group of people, Installers, are\
    \ responsible for install new devices. May it be a new installation (e.g. new\
    \ stores), a replacement installation (e.g. replacing Cisco APs with Mist APs),\
    \ or addition (e.g. adding new APs for better coverage). Instead of granting them\
    \ Admin/Write privilege, it's more desirable to grant them minimum privileges\
    \ to do the initial provisioning so they cannot read sensible information (e.g.\
    \ PSK of a WLAN), or change configs of running APs.\nAt a high level, Installer\
    \ APs try to achieve the following:\n1. identifying a device by MAC (that\u2019\
    s what they see)\n2. they can only touch configurations of the devices they\u2019\
    re installing\n3. allow the following configurations: * name * site assignment\
    \ * device  profile assignment * map and location (x/y) assignment * claim (if\
    \ not already in the inventory) * replace existing device with the device being\
    \ installed\n\n* Grace Period *\nGrace period provides a dynamic way to limit\
    \ what devices / sites   installer can work on. Generally installers work on recent\
    \ deployments -  bringing up new sites, add newly claimed devices to new / existing\
    \ sites. They  make mistakes, too, and may need to further tweak some of the parameters.\
    \   Default grace period is 7 days and can be set from 1 day to 365 days."
  name: Installer
- name: Admin
- name: Mobile
- description: MSP (Managed Service Provider) contains multiple Organizations.
  name: Msps
- name: Msps Admins
- name: Msps Inventory
- name: Msps Invites
- name: Msps Logo
- name: Msps Logs
- name: Msps Licenses
- name: Msps Marvis
- name: Msps Org Groups
- name: Msps Orgs
- name: Msps SLEs
- name: Msps SSO Roles
- name: Msps SSO
- name: Msps Stats
- name: Msps Tickets
- description: An organization usually represents a customer - which has inventories,
    licenses. An Organization can contain multiple sites. A site usually represents
    a deployment at the same location (a campus, an office).
  name: Orgs
- name: Orgs 128T
- name: Orgs Admins
- description: Alarms are triggered based on certain events. Alarms could be configured
    using an Alarm Template.
  name: Orgs Alarms
- description: An Alarm Template is a set of Alarm Rules that could be applied to
    one or more sites (while each site can only pick one Alarm Template), or to the
    whole org.
  name: Orgs Alarm Templates
- name: Orgs AP Templates
- name: Orgs API Tokens
- name: Orgs Assets
- name: Orgs Asset Filters
- name: Orgs Calls
- name: Orgs Cert
- name: Orgs Clients - NAC
- name: Orgs Clients - Wan
- name: Orgs Clients - Wired
- name: Orgs Clients - Wireless
- name: Orgs CRL
- description: 'While Templates / RF Templates / Network Templates / Gateway Templates
    provides powerful ways to control how a Device\''s configuration is derived for
    a Site. There are cases where you\''d like another level of control at the Org
    Level.

    A Device Profile contains a subset of Device\''s configurations you\''d like a
    device to have. It will be merged at runtime when we\''re provisioning an AP.'
  name: Orgs Device Profiles
- name: Orgs Devices
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Orgs EVPN Topologies
- description: API Call for 3rd party devices
  name: Orgs Devices Others
- name: Orgs Devices Stats
- name: Orgs Devices Upgrades
- description: "In Zscaler UI \n 1. add Partner Integration at https://admin.zscalerbeta.net/#administration/partner-integration\
    \ \n 2. Add Partner Administrator Role at https://admin.zscalerbeta.net/#administration/role-management\
    \ - Name: Mist - Access: Full \n 3. add Partner Admin at https://admin.zscalerbeta.net/#administration/admin-management\
    \ with - Login ID: john - email: john@abc.com \n 4. Find the cloud name for ZIA\
    \ https://help.zscaler.com/zia/what-my-cloud-name-zia\n"
  name: Orgs Devices Zscaler
- description: Gateway Template is applied to a site for gateway(s) in a site.
  name: Orgs Gateway Templates
- name: Orgs Guests
- name: Orgs IDP Profiles
- name: Orgs Inventory
- name: Orgs JSE
- description: "Juniper Support Insight is a free service provided to all Mist customers.\
    \ You can adopt your devices via a few lines CLI comands. Allowing you to \n*\
    \ get some basic information about the adopted devices \n* web shell into device\
    \ (write privilege required) \n* upgrade (write privilege required)"
  name: Orgs JSI
- name: Orgs Licenses
- name: Orgs Linked Applications
- name: Orgs Logs
- name: Orgs Marvis
- name: Orgs Maps
- name: Orgs MxClusters
- name: Orgs MxEdges
- name: Orgs MxTunnels
- name: Orgs NAC
- description: 'nactags are the building blocks to compose nacrules.

    They can either appear in the "matching" / "not_matching" sections of a nacrule,
    in which case they play the role of classifiers, or they could appear in the "apply_tags"
    section of the of a nacrule, in which case they influence the result.

    When the "type" field of nactag is "match", it can be used as the classfier of
    a nacrule. "match" field specifies the attribute name and "values" field specifies
    the list of attribute values to match on. When multiple values are specified,
    its treated as an OR condition between those values.

    When the "type" field of nactag is NOT "match", it can be used as the result of
    a nacrule. "type" field identifies the action to take and the corresponding field
    would provide any associated parameters to that action.'
  name: Orgs NAC Tags
- name: Orgs NAC CRL
- name: Orgs NAC Rules
- description: 'Network template is intended to be applied to a Site. It works like
    a blueprint of the network of the site.

    All Site Settings can go into Network Templates. See Site:Site Setting for schema

    Moreover, this can further be overwriten by individual Site Setting'
  name: Orgs Network Templates
- name: Orgs Networks
- name: Orgs Premium Analytics
- name: Orgs Psks
- description: "PSK Self-Service Portals are for \n  1. **WIFI users** who want to\
    \ connect to a WLAN with personal PSK, they\u2019re told to connect to a URL where\
    \ they can login (likely through company\u2019s SSO) and get the WIFI Name / Passphrase\
    \ - required input fields name, email so we can generate PSK \n  2. **PSK Admins**\
    \ (they don\u2019t have access to normal Network Admin Portal)\nWhen a PSK portal\
    \ is created, an unique URL will be generated (e.g. https://psk.mist.com/xxxxxx)"
  name: Orgs Psk Portals
- name: Orgs RF Templates
- name: Orgs SDK Clients
- name: Orgs SDK Templates
- description: "Security Policy is designed to audit / catch discripancies between\
    \ \u201Cwhat\u2019s intended to be running\u201D versus \u201Cwhat\u2019s actually\
    \ running\u201D in a network. Many big organizations have separated Security and\
    \ IT team (for good reasons). Each site can be assigned a security policy. Whenever\
    \ an AP is provisioned, the configuration will be checked against the security\
    \ policy. Any violations will be flagged in [Device Config History](/#operation/searchSiteDeviceConfigHistory)\
    \ where you can search for the when and where the violation occurs."
  name: Orgs SecPolicies
- name: Orgs Services
- name: Orgs Service Policies
- name: Orgs Setting
- name: Orgs Sitegroups
- name: Orgs Sites
- description: Site template is intended to be applied to a Site. The items in site
    setting which should be shared for all device types.
  name: Orgs Site Templates
- name: Orgs SLEs
- name: Orgs SSO Roles
- name: Orgs SSO
- name: Orgs Stats
- name: Orgs Subscriptions
- name: Orgs Templates
- name: Orgs Tickets
- name: Orgs Tunnels Stats
- name: Orgs Vars
- name: Orgs VPNs
- name: Orgs Webhooks
- name: Orgs Wlans
- name: Orgs WxRules
- name: Orgs WxTags
- name: Orgs WxTunnels
- description: A site represents a project, a deployment. For MSP, it can be as small
    as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps,
    Wlans, Policies, Zones.
  name: Sites
- name: Sites Alarms
- name: Sites AP Templates
- description: Applications contains a list of applications users are interested in
    monitoring / routing / policying
  name: Sites Applications
- name: Sites Anomaly
- name: Sites Asset Filters
- name: Sites Assets
- name: Sites Beacons
- name: Sites Calls
- name: Sites Clients - NAC
- name: Sites Clients - Wan
- name: Sites Clients - Wired
- name: Sites Clients - Wireless
- description: 'Mist provides many ways (device-type specific template, site template,
    device profile, per-device) to configure devices for different kind of scenarios.

    The precedence goes from most specific to least specific

    Device > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template
    > Site Template > Site Setting'
  name: Sites Devices
- name: Sites Devices - Wireless
- description: API Call for 3rd party devices
  name: Sites Devices Others
- name: Sites Devices - Wired
- name: Sites Devices - Wired Virtual Chassis
- name: Sites Devices - WAN
- name: Sites Devices - WAN HA
- name: Sites Devices Stats
- name: Sites Devices Upgrades
- name: Sites Devices Utilities
- name: Sites Events
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Sites EVPN Topologies
- name: Sites Guests
- name: Sites Insights
- name: Sites JSE
- name: Sites Licenses
- name: Sites Location
- name: Sites Maps
- name: Sites Maps Auto-orientation
- name: Sites Maps Auto-placement
- name: Sites MxEdges
- name: Sites MxTunnels
- name: Sites Network Templates
- name: Sites Networks
- name: Sites Pcaps
- name: Sites Psks
- name: Sites RF Templates
- name: Sites Rfdiags
- name: Sites Rogues
- name: Sites RRM
- name: Sites Rssizones
- name: Sites Services
- name: Sites Service Policies
- name: Sites Setting
- name: Sites Site Templates
- name: Sites Skyatp
- name: Sites SLEs
- name: Sites Stats
- name: Sites Subscriptions
- name: Sites Synthetic Tests
- name: Sites UI Settings
- name: Sites vBeacons
- name: Sites VPNs
- name: Sites Webhooks
- name: Sites Wlans
- name: Sites WxRules
- name: Sites WxTags
- name: Sites WxTunnels
- name: Sites Zones
- name: Constants
- name: Self Account
- description: "Like many other API providers, it\u2019s also possible to generate\
    \ API Tokens to be used (in HTTP Header) for authentication. An API token ties\
    \ to a Admin with equal or less privileges.\n\nNotes:\n* an API token generated\
    \ for a specific admin has the same privilege as the user\n* an API token will\
    \ be automatically removed if not used for > 90 days\n* SSO admins cannot generate\
    \ these API tokens. Refer Org level API tokens (/api/v1/docs/Org#api-token) which\
    \ can have privileges of a specific Org/Site for more information."
  name: Self API Token
- name: Self OAuth2
- name: Recover Password
- name: Self MFA
- name: Self Alarms
- name: Self Audit Logs
- name: Webhook Samples
paths:
  /api/v1/orgs/{org_id}/evpn_topologies:
    get:
      description: Get List of the existing Org EVPN topologies
      operationId: listOrgEvpnTopologies
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/EvpnTopology'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgEvpnTopologies
      tags:
      - Orgs EVPN Topologies
      - cat:LAN:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: "While all the `evpn_id` / `downlink_ips` can be specifidd by hand,\
        \ the easiest way is to call the `build_vpn_topology` API, allowing you to\
        \ examine the diff, and update it yourself. You can also simply call it with\
        \ `overwrite=true` which will apply the updates for you.\n\n**Notes:**\n1.\
        \ You can use `core` / `distribution` / `access` to create a CLOS topology\n\
        2. You can also use `core` / `distribution` to form a 2-tier EVPN topology\
        \ where ESI-Lag is configured distribution to connect to access switches\n\
        3. In a small/medium campus, `collapsed-core` can be used where core switches\
        \ are the inter-connected to do EVPN\n4. The API uses a few pre-defined parameters\
        \ and best-practices to generate the configs. It can be customized by using\
        \ `evpn_options` in Site Setting / Network Template. (e.g. a different subnet\
        \ for the underlay)\n\n#### Collapsed Core\nIn a small-medium campus, EVPN\
        \ can also be enabled only at the core switches (up to 4) by assigning all\
        \ participating switches with `collapsed-core role`. When there are more than\
        \ 2 switches, a ring-like topology will be formed.\n\n#### ESI-Lag\nIf the\
        \ access switchess does not have EVPN support, you can take advantage of EVPN\
        \ by setting up ESI-Lag on distribution switches\n\n#### Leaf / Access / Collapsed-Core\n\
        For leaf nodes in a EVPN topology, you\u2019d have to configure the IPs for\
        \ networks that would participate in EVPN. Optionally, VRFs to isolate traffic\
        \ from one tenant verus another"
      operationId: createOrgEvpnTopology
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  id: 9197ec96-4c8d-529f-c595-035895e688b2
                  name: CC
                  pod_names:
                    '1': default
                    '2': default
                  switches:
                  - mac: 5c5b35000003
                    role: collapsed-core
                  - mac: 5c5b35000004
                    role: collapsed-core
            schema:
              $ref: '#/components/schemas/junos_evpn_topology'
      responses:
        '200':
          $ref: '#/components/responses/EvpnTopology'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgEvpnTopology
      tags:
      - Orgs EVPN Topologies
      - cat:LAN:CONFIGURE
  /api/v1/orgs/{org_id}/evpn_topologies/{evpn_topology_id}:
    delete:
      description: Delete the Org EVPN Topology
      operationId: deleteOrgEvpnTopology
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgEvpnTopology
      tags:
      - Orgs EVPN Topologies
      - cat:LAN:CONFIGURE
    get:
      description: Get One EVPN Topology Detail
      operationId: getOrgEvpnTolopogy
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgEvpnTolopogy
      tags:
      - Orgs EVPN Topologies
      - cat:LAN:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/evpn_topology_id'
    put:
      description: Update the EVPN Topolgy
      operationId: updateOrgEvpnTopology
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  overwrite: false
                  switches:
                  - mac: 5c5b35000003
                    role: collapsed-core
                  - mac: 5c5b35000004
                    role: none
            schema:
              $ref: '#/components/schemas/junos_evpn_topology'
      responses:
        '200':
          $ref: '#/components/responses/EvpnTopology'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgEvpnTopology
      tags:
      - Orgs EVPN Topologies
      - cat:LAN:CONFIGURE
  /api/v1/orgs/{org_id}/stats/ports/search:
    get:
      description: Search Switch / Gateway Ports
      operationId: searchOrgSwOrGwPorts
      parameters:
      - description: indicates full or half duplex
        in: query
        name: full_duplex
        schema:
          type: boolean
      - description: device identifier
        in: query
        name: mac
        schema:
          type: string
      - description: Chassis identifier of the chassis type listed
        in: query
        name: neighbor_mac
        schema:
          type: string
      - description: "Description supplied by the system on the interface E.g. \u201C\
          GigabitEthernet2/0/39\u201D"
        in: query
        name: neighbor_port_desc
        schema:
          type: string
      - description: "Name supplied by the system on the interface E.g. neighbor system\
          \ name E.g. \u201CKumar-Acc-SW.mist.local\u201D"
        in: query
        name: neighbor_system_name
        schema:
          type: string
      - description: is the POE configured not be disabled.
        in: query
        name: poe_disabled
        schema:
          type: boolean
      - description: "poe mode depending on class E.g. \u201C802.3at\u201D"
        in: query
        name: poe_mode
        schema:
          type: string
      - description: is the device attached to POE
        in: query
        name: poe_on
        schema:
          type: boolean
      - description: interface name
        in: query
        name: port_id
        schema:
          type: string
      - description: interface mac address
        in: query
        name: port_mac
        schema:
          type: string
      - description: Amount of power being used by the interface at the time the command
          is executed. Unit in watts.
        in: query
        name: power_draw
        schema:
          type: number
      - description: Output packets
        in: query
        name: tx_pkts
        schema:
          type: integer
      - description: Input packets
        in: query
        name: rx_pkts
        schema:
          type: integer
      - description: Input bytes
        in: query
        name: rx_bytes
        schema:
          type: integer
      - description: Output rate
        in: query
        name: tx_bps
        schema:
          type: integer
      - description: Input rate
        in: query
        name: rx_bps
        schema:
          type: integer
      - description: Output errors
        in: query
        name: tx_errors
        schema:
          type: integer
      - description: Input errors
        in: query
        name: rx_errors
        schema:
          type: integer
      - description: Multicast output packets
        in: query
        name: tx_mcast_pkts
        schema:
          type: integer
      - description: Broadcast output packets
        in: query
        name: tx_bcast_pkts
        schema:
          type: integer
      - description: Multicast input packets
        in: query
        name: rx_mcast_pkts
        schema:
          type: integer
      - description: Broadcast input packets
        in: query
        name: rx_bcast_pkts
        schema:
          type: integer
      - description: port speed
        in: query
        name: speed
        schema:
          type: integer
      - description: Limit on number of dynamically learned macs
        in: query
        name: mac_limit
        schema:
          type: integer
      - description: Number of mac addresses in the forwarding table
        in: query
        name: mac_count
        schema:
          type: integer
      - description: indicates if interface is up
        in: query
        name: up
        schema:
          type: boolean
      - description: if `up`==`true`
        in: query
        name: stp_state
        schema:
          enum:
          - forwarding
          - blocking
          - learning
          - listening
          - disabled
          type: string
      - description: if `up`==`true`
        in: query
        name: stp_role
        schema:
          enum:
          - designated
          - backup
          - alternate
          - root
          - root-prevented
          type: string
      - description: if `up`==`true` && has Authenticator role
        in: query
        name: auth_state
        schema:
          enum:
          - init
          - authenticated
          - authenticating
          - held
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/PortStatsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgSwOrGwPorts
      tags:
      - Orgs Devices Stats
      - cat:LAN:MONITOR
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/stats/switch_ports/count:
    get:
      description: Count by Distinct Attributes of Switch/Gateway Ports
      operationId: countOrgSwitchPorts
      parameters:
      - description: port_id, port_mac, full_duplex, mac, neighbor_macneighbor_port_desc,
          neighbor_system_name, poe_disabled, poe_mode, poe_on, speed, up
        in: query
        name: distinct
        schema:
          default: mac
          enum:
          - port_id
          - port_mac
          - full_duplex
          - mac
          - neighbor_mac
          - neighbor_port_desc
          - neighbor_system_name
          - poe_disabled
          - poe_mode
          - poe_on
          - speed
          - up
          type: string
      - description: indicates full or half duplex
        in: query
        name: full_duplex
        schema:
          type: boolean
      - description: device identifier
        in: query
        name: mac
        schema:
          type: string
      - description: Chassis identifier of the chassis type listed
        in: query
        name: neighbor_mac
        schema:
          type: string
      - description: "Description supplied by the system on the interface E.g. \u201C\
          GigabitEthernet2/0/39\u201D"
        in: query
        name: neighbor_port_desc
        schema:
          type: string
      - description: "Name supplied by the system on the interface E.g. neighbor system\
          \ name E.g. \u201CKumar-Acc-SW.mist.local\u201D"
        in: query
        name: neighbor_system_name
        schema:
          type: string
      - description: is the POE configured not be disabled.
        in: query
        name: poe_disabled
        schema:
          type: boolean
      - description: "poe mode depending on class E.g. \u201C802.3at\u201D"
        in: query
        name: poe_mode
        schema:
          type: string
      - description: is the device attached to POE
        in: query
        name: poe_on
        schema:
          type: boolean
      - description: interface name
        in: query
        name: port_id
        schema:
          type: string
      - description: interface mac address
        in: query
        name: port_mac
        schema:
          type: string
      - description: Amount of power being used by the interface at the time the command
          is executed. Unit in watts.
        in: query
        name: power_draw
        schema:
          type: number
      - description: Output packets
        in: query
        name: tx_pkts
        schema:
          type: integer
      - description: Input packets
        in: query
        name: rx_pkts
        schema:
          type: integer
      - description: Input bytes
        in: query
        name: rx_bytes
        schema:
          type: integer
      - description: Output rate
        in: query
        name: tx_bps
        schema:
          type: integer
      - description: Input rate
        in: query
        name: rx_bps
        schema:
          type: integer
      - description: Multicast output packets
        in: query
        name: tx_mcast_pkts
        schema:
          type: integer
      - description: Broadcast output packets
        in: query
        name: tx_bcast_pkts
        schema:
          type: integer
      - description: Multicast input packets
        in: query
        name: rx_mcast_pkts
        schema:
          type: integer
      - description: Broadcast input packets
        in: query
        name: rx_bcast_pkts
        schema:
          type: integer
      - description: port speed
        in: query
        name: speed
        schema:
          type: integer
      - description: if `up`==`true`
        in: query
        name: stp_state
        schema:
          enum:
          - forwarding
          - blocking
          - learning
          - listening
          - disabled
          type: string
      - description: if `up`==`true`
        in: query
        name: stp_role
        schema:
          enum:
          - designated
          - backup
          - alternate
          - root
          - root-prevented
          type: string
      - description: if `up`==`true`
        in: query
        name: auth_state
        schema:
          enum:
          - init
          - authenticated
          - authenticating
          - held
          type: string
      - description: indicates if interface is up
        in: query
        name: up
        schema:
          type: boolean
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    distinct: mac
                    end: 1513177200
                    limit: 100
                    results:
                    - count: 217
                      mac: '112233445566'
                    - count: 35
                      mac: '001122334455'
                    start: 1511967600
                    total: 20
              schema:
                properties:
                  distinct:
                    type: string
                  end:
                    type: integer
                  limit:
                    type: integer
                  results:
                    items:
                      properties:
                        count:
                          type: integer
                        mac:
                          type: string
                      required:
                      - count
                      - mac
                    minItems: 1
                    type: array
                    uniqueItems: true
                  start:
                    type: integer
                  total:
                    type: integer
                required:
                - start
                - end
                - limit
                - distinct
                - total
                - results
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countOrgSwitchPorts
      tags:
      - Orgs Stats
      - cat:LAN:MONITOR
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/wired_clients/count:
    get:
      description: 'Count by Distinct Attributes of Clients


        Note: For list of avaialable `type` values, please refer to [listClientEventsDefinitions](/#operation/listClientEventsDefinitions)'
      operationId: countOrgWiredClients
      parameters:
      - in: query
        name: distinct
        schema:
          default: mac
          enum:
          - port_id
          - vlan
          - mac
          - device_mac
          - site_id
          - type
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countOrgWiredClients
      tags:
      - Orgs Clients - Wired
      - cat:LAN:MONITOR
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/wired_clients/search:
    get:
      description: 'Search for Wired Clients in org


        Note: For list of avaialable `type` values, please refer to [listClientEventsDefinitions](/#operation/listClientEventsDefinitions)'
      operationId: searchOrgWiredClients
      parameters:
      - description: Site ID
        in: query
        name: site_id
        schema:
          type: string
      - description: device mac
        in: query
        name: device_mac
        schema:
          type: string
      - description: client mac
        in: query
        name: mac
        schema:
          type: string
      - description: port id
        in: query
        name: port_id
        schema:
          type: string
      - description: vlan
        in: query
        name: vlan
        schema:
          type: integer
      - description: ip
        in: query
        name: ip
        schema:
          type: string
      - description: client manufacturer
        in: query
        name: manufacture
        schema:
          type: string
      - description: single entry of hostname/mac
        in: query
        name: text
        schema:
          type: string
      - description: nacrule_id
        in: query
        name: nacrule_id
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/WiredClientsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgWiredClients
      tags:
      - Orgs Clients - Wired
      - cat:LAN:MONITOR
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/sites/{site_id}/devices/upgrade_bios:
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: Upgrade Bios Multiple Device
      operationId: upgraseSiteMultipleDevicesBios
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  device_ids:
                  - 00000000-0000-0000-1000-5c5b35584a6f
                  models:
                  - EX4400-48T
                  version: CDEN_P_EX1_00.15.01.00
            schema:
              properties:
                device_ids:
                  description: list of device id to upgrade bios
                  items:
                    example: 00000000-0000-0000-1000-5c5b35584a6f
                    format: uuid
                    type: string
                  type: array
                models:
                  description: list of device model to upgrade bios
                  items:
                    example: EX4400-48T
                    type: string
                  type: array
                reboot:
                  default: false
                  description: Reboot device immediately after upgrade is completed
                  type: boolean
                version:
                  description: specific bios version
                  example: CDEN_P_EX1_00.15.01.00
                  type: string
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: upgraseSiteMultipleDevicesBios
      tags:
      - Sites Devices Upgrades
      - cat:LAN:CONFIGURE
  /api/v1/sites/{site_id}/devices/{device_id}/clear_bpdu_error:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: Clear bridge protocol data unit (BPDU) error condition caused by
        the detection of a possible bridging loop from Spanning Tree Protocol (STP)
        operation that renders the port unoperational.
      operationId: clearBpduErrosFromPortsOnSwitch
      requestBody:
        content:
          application/json:
            schema:
              properties:
                port:
                  description: the port on which to clear the detected BPDU error,
                    or `all` for all ports
                  type: string
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          description: Port not specified
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: clearBpduErrosFromPortsOnSwitch
      tags:
      - Sites Devices - Wired
      - cat:LAN:CONFIGURE
  /api/v1/sites/{site_id}/devices/{device_id}/clear_macs:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: Clear all learned MAC addresses, including persistent MAC addresses,
        on a port.
      operationId: clearAllLearnedMacsFromPortOnSwitch
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  ports:
                  - ge-0/0/0.0
            schema:
              properties:
                ports:
                  description: the ports on which to clear the detected BPDU error,
                    or `["all"]` for all ports
                  items:
                    type: string
                  type: array
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: clearAllLearnedMacsFromPortOnSwitch
      tags:
      - Sites Devices - Wired
      - cat:LAN:CONFIGURE
  /api/v1/sites/{site_id}/devices/{device_id}/config_cmd:
    get:
      description: 'Get Config CLI Commands

        For a brown-field switch deployment where we adopted the switch through Adoption
        Command, we do not wipe out / overwrite the existing config automatically.
        Instead, we generate CLI commands that we would have generated. The user can
        inspect, modify, and incorporate this into their existing config manually.


        Once they feel comfortable about the config we generate, they can enable allow_mist_config
        where we will take full control of their config like a claimed switch'
      operationId: getSiteDeviceConfigCmd
      parameters:
      - description: Make output cmds sorted (for better readability) or not.
        in: query
        name: sort
        schema:
          default: 'false'
          enum:
          - 'true'
          - 'false'
          type: string
      responses:
        '200':
          $ref: '#/components/responses/DeviceConfigCmd'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteDeviceConfigCmd
      tags:
      - Sites Devices
      - cat:LAN:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
  /api/v1/sites/{site_id}/devices/{device_id}/local_port_config:
    delete:
      description: Sometimes HelpDesk Admin needs to change port configs
      operationId: deleteSiteLocalSwitchPortConfig
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteSiteLocalSwitchPortConfig
      tags:
      - Sites Devices - Wired
      - cat:LAN:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    put:
      description: Sometimes HelpDesk Admin needs to change port configs
      operationId: updateSiteLocalSwitchPortConfig
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  ae_disable_lacp: true
                  ae_idx: 0
                  aggregated: false
                  description: string
                  disable_autoneg: true
                  duplex: auto
                  dynamic_usage: string
                  esilag: true
                  poe_disabled: true
                  speed: auto
                  usage: string
            schema:
              $ref: '#/components/schemas/junos_port_config'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateSiteLocalSwitchPortConfig
      tags:
      - Sites Devices - Wired
      - cat:LAN:CONFIGURE
  /api/v1/sites/{site_id}/devices/{device_id}/poll_stats:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: This API can be used to poll statistics from the Switch proactively
        once. After it is called, the statistics will be pushed back to the cloud
        within the statistics interval.
      operationId: pollSiteSwitchStats
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: pollSiteSwitchStats
      tags:
      - Sites Devices - Wired
      - cat:LAN:CONFIGURE
  /api/v1/sites/{site_id}/devices/{device_id}/snapshot:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: Create recovery device snapshot (Available on Junos OS EX2300-,
        EX3400-, EX4400- devices)
      operationId: createSiteDeviceSnapshot
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    status_id: string
                    staus: starting
                    timestamp: 0
              schema:
                properties:
                  status_id:
                    description: the internal status id
                    type: string
                  staus:
                    enum:
                    - starting
                    - inprogress
                    - success
                    - error
                    - scheduled
                    type: string
                  timestamp:
                    type: number
                type: object
          description: OK
        '400':
          content:
            application/json:
              examples:
                cannot-snapshot-an-offline-device:
                  value: cannot snapshot an offline device
                snapshot-not-supported:
                  value: snapshot not supported
              schema:
                type: string
          description: Bad Request
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createSiteDeviceSnapshot
      tags:
      - Sites Devices Utilities
      - cat:LAN:CONFIGURE
  /api/v1/sites/{site_id}/devices/{device_id}/upgrade_bios:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: Upgrade device bios
      operationId: upgradeSiteDeviceBios
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  version: CDEN_P_EX1_00.20.01.00
            schema:
              properties:
                reboot:
                  default: false
                  description: Reboot device immediately after upgrade is completed
                  type: boolean
                version:
                  description: specific bios version
                  example: CDEN_P_EX1_00.20.01.00
                  type: string
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                Example:
                  value:
                    status: inprogress
                    timestamp: 1428949501
              schema:
                properties:
                  status:
                    type: string
                  timestamp:
                    type: integer
                type: object
          description: OK
      summary: upgradeSiteDeviceBios
      tags:
      - Sites Devices Upgrades
      - cat:LAN:CONFIGURE
  /api/v1/sites/{site_id}/devices/{device_id}/vc:
    delete:
      description: "When all the member switches of VC are removed and only member\
        \ ID 0 is left, the cloud would detect this situation and automatically changes\
        \ the single switch to non-VC role.\n\nFor some unexpected cases that the\
        \ VC is gone and disconncted, the API below could be used to change the state\
        \ of VC\u2019s switches to be standalone. After it is executed, all the switches\
        \ will be shown as standalone switches under Inventory."
      operationId: deleteSiteVirtualChassis
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteSiteVirtualChassis
      tags:
      - Sites Devices - Wired Virtual Chassis
      - cat:LAN:CONFIGURE
    get:
      description: 'Get VC Status


        The API returns a combined view of the VC status which includes topology and
        stats_'
      operationId: getSiteDeviceVirtualChassis
      responses:
        '200':
          $ref: '#/components/responses/Vc'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteDeviceVirtualChassis
      tags:
      - Sites Devices - Wired Virtual Chassis
      - cat:LAN:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: "For models (e.g. EX3400 and up) having dedicated VC ports, it\
        \ is easier to form a VC by just connecting cables with the dedicated VC ports.\
        \ Cloud will detect the new VC and update the inventory.\n\nIn case that the\
        \ user would like to choose the dedicated switch as a VC master. Or for EX2300-C-12P\
        \ and EX2300-C-12T which doesn\u2019t have dedicated VC ports, below are procedures\
        \ to automate the VC creation:\n\n1. Power on the switch that is choosen as\
        \ the VC master first. And the powering on the other member switches.\n2.\
        \ Claim or adopt all these switches under the same organization\u2019s Inventory\n\
        3. Assign these switches into the same Site\n4. Invoke vc command on the switch\
        \ choosen to be the VC master. For EX2300-C-12P, VC ports will be created\
        \ automatically.\n5. Connect the cables to the VC ports for these switches\n\
        6. Wait for the VC to be formed. The Org\u2019s inventory will be updated\
        \ for the new VC."
      operationId: createSiteVirtualChassis
      requestBody:
        content:
          application/json:
            examples:
              create-a-VC-with-three-members:
                value:
                  members:
                  - mac: aff827549235
                    vc_ports:
                    - xe-0/1/0
                    vc_role: master
                  - mac: 8396cd006c8c
                    vc_ports:
                    - xe-0/1/0
                    - xe-0/1/1
                    vc_role: backup
                  - mac: 8396cd00888c
                    vc_ports:
                    - xe-0/1/0
                    vc_role: linecard
              create-a-pre-provisioned-VC-with-three-members:
                value:
                  members:
                  - mac: aff827549235
                    member_id: 0
                    vc_ports:
                    - xe-0/1/0
                    - xe-0/1/1
                    vc_role: master
                  - mac: 8396cd006c8c
                    member_id: 1
                    vc_ports:
                    - xe-0/1/0
                    vc_role: linecard
                  - mac: 8396cd00888c
                    member_id: 2
                    vc_ports:
                    - xe-0/1/0
                    vc_role: backup
                  preprovisioned: true
            schema:
              $ref: '#/components/schemas/device_switch_vc'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Vc'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createSiteVirtualChassis
      tags:
      - Sites Devices - Wired Virtual Chassis
      - cat:LAN:CONFIGURE
    put:
      description: "The VC creation and adding member switch API will update the device\u2019\
        s virtual chassis config which is applied after VC is formed to create JUNOS\
        \ pre-provisioned virtual chassis configuration.\n\n## Change to use preprovisioned\
        \ VC\nTo switch the VC to use preprovisioned VC, enable preprovisioned in\
        \ virtual_chassis config. Both vc_role master and backup will be matched to\
        \ routing-engine role in Junos preprovisioned VC config.\n\nIn this config,\
        \ fpc0 has to be the same as the mac of device_id. Use renumber if you want\
        \ to replace fpc0 which involves device_id change.\n\nNotice: to configure\
        \ preprovisioned VC, every member of the VC must be in the inventory.\n\n\
        ## Add new members\nFor models (e.g. EX4300 and up) having dedicated VC ports,\
        \ it is easier to add new member switches into a VC by just connecting cables\
        \ with the dedicated VC ports. Cloud will detect the new members and update\
        \ the inventory.\n\nFor EX2300 VC, adding new members requires to follow the\
        \ procedures below:\n1. Powering on the new member switches and ensuring cables\
        \ are not connected to any VC ports.\n2. Claim or adopt all new member switches\
        \ under the VC\u2019s organization Inventory\n3. Assign all new member switches\
        \ to the same Site as the VC\n4. Invoke vc command to add switches to the\
        \ VC.\n5. Connect the cables to the VC ports for these switches\n6. After\
        \ a while, the Org\u2019s Inventory shows this new switches has been added\
        \ into the VC.\n\n## Removing member switch\nTo remove a member switch from\
        \ the VC, following the procedures below:\n\n1. Ensuring the VC is connected\
        \ to the cloud first\n2. Unplug the cable from the VC port of the switch\n\
        3. Waiting for the VC state (vc_state) of this switch is changed to not-present\n\
        4. Invoke update_vc with remove to remove this switch from the VC\n5. The\
        \ Org\u2019s Inventory shows the switch is removed.\n\nPlease notice that\
        \ member ID 0 (fpc0) cannot be removed. When a VC has two switches left, unpluging\
        \ the cable may result in the situation that fpc0 becomes a line card (LC).\
        \ When this situation is happened, please re-plug in the cable, wait for both\
        \ switches becoming present (show virtual-chassis) and then removing the cable\
        \ again.\n\n## Renumber a member switch\nWhen a member switch doesn\u2019\
        t work properly and needed to be replaced, the renumber API could be used.\
        \ The following two types of renumber are supported:\n\n1. Replace a non-fpc0\
        \ member switch\n2. Replace fpc0. When fpc0 is relaced, PAPI device config\
        \ and JUNOS config will be both updated.\n\nFor renumber to work, the following\
        \ procedures are needed: \n1. Ensuring the VC is connected to the cloud and\
        \ the state of the member switch to be replaced must be non present. \n2.\
        \ Adding the new member switch to the VC \n3. Waiting for the VC state (vc_state)\
        \ of this VC to be updated to API server \n4. Invoke vc with renumber to replace\
        \ the new member switch from fpc X to\n\n## Perprovision VC members\nBy specifying\
        \ \u201Cpreprovision\u201D op, you can convert the current VC to pre-provisioned\
        \ mode, update VC members as well as specify vc_ports when adding new members\
        \ for device models without dedicated vc ports. Use renumber for fpc0 replacement\
        \ which involves device_id change.\n\nNote: \n1. vc_ports is used for adding\
        \ new members and not needed if * the device model has dedicated vc ports,\
        \ or * no new member is added \n2. New VC members to be added should exist\
        \ in the same Site as the VC\n\nUpdate Device\u2019s VC config can achieve\
        \ similar purpose by directly modifying current virtual_chassis config. However,\
        \ it cannot fulfill requests to enabling vc_ports on new members that are\
        \ yet to belong to current VC."
      operationId: updateSiteVirtualChassisMember
      requestBody:
        content:
          application/json:
            examples:
              adding-two-new-switches-as-line-cards-into-the-VC:
                value:
                  members:
                  - mac: aff827549235
                    member: 0
                    vc_ports:
                    - xe-0/1/1
                    vc_role: linecard
                  - mac: 8396cd00777c
                    vc_ports:
                    - xe-0/1/0
                    vc_role: linecard
                  op: add
              convert-to-pre-provisioned-VC:
                value:
                  member: 0
                  members:
                  - mac: string
                    member: 0
                    vc_ports:
                    - string
                    vc_role: master
                  new-member: 0
                  op: add
              removing-two-switches-from-VC:
                value:
                  members:
                  - member: 2
                  - member: 3
                  op: remove
              renumber-member-ID-3-to-member-ID-2:
                value:
                  member: 3
                  new-member: 2
                  op: renumber
            schema:
              $ref: '#/components/schemas/device_switch_vc_update'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Vc'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateSiteVirtualChassisMember
      tags:
      - Sites Devices - Wired Virtual Chassis
      - cat:LAN:CONFIGURE
  /api/v1/sites/{site_id}/devices/{device_id}/vc/vc_port:
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/device_id'
    post:
      description: Set VC port
      operationId: setSiteVcPort
      requestBody:
        content:
          application/json:
            examples:
              delete-VC-port-of-xe-0/1/1-of-member-0-and-member-2:
                value:
                  members:
                  - member: 0
                    vc_ports:
                    - xe-0/1/1
                  - member: 2
                    vc_ports:
                    - xe-0/1/1
                  op: delete
              set-VC-port-of-xe-0/1/1-of-member-0-and-member-2:
                value:
                  members:
                  - member: 0
                    vc_ports:
                    - xe-0/1/1
                  - member: 2
                    vc_ports:
                    - xe-0/1/1
                  op: set
            schema:
              properties:
                members:
                  items:
                    properties:
                      member:
                        type: number
                      vc_ports:
                        items:
                          type: string
                        type: array
                    required:
                    - member
                    type: object
                  minItems: 1
                  type: array
                  uniqueItems: true
                op:
                  enum:
                  - set
                  - delete
                  minLength: 1
                  type: string
              required:
              - op
              - members
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: setSiteVcPort
      tags:
      - Sites Devices - Wired Virtual Chassis
      - cat:LAN:CONFIGURE
  /api/v1/sites/{site_id}/evpn_topologies:
    get:
      description: Get the existing EVPN topology
      operationId: getSiteEvpnTopology
      responses:
        '200':
          $ref: '#/components/responses/EvpnTopology'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteEvpnTopology
      tags:
      - Sites EVPN Topologies
      - cat:LAN:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/site_id'
    post:
      description: "While all the `evpn_id` / `downlink_ips` can be specifidd by hand,\
        \ the easiest way is to call the `build_vpn_topology` API, allowing you to\
        \ examine the diff, and update it yourself. You can also simply call it with\
        \ `overwrite=true` which will apply the updates for you.\n\n**Notes:**\n1.\
        \ You can use `core` / `distribution` / `access` to create a CLOS topology\n\
        2. You can also use `core` / `distribution` to form a 2-tier EVPN topology\
        \ where ESI-Lag is configured distribution to connect to access switches\n\
        3. In a small/medium campus, `collapsed-core` can be used where core switches\
        \ are the inter-connected to do EVPN\n4. The API uses a few pre-defined parameters\
        \ and best-practices to generate the configs. It can be customized by using\
        \ `evpn_options` in Site Setting / Network Template. (e.g. a different subnet\
        \ for the underlay)\n\n#### Collapsed Core\nIn a small-medium campus, EVPN\
        \ can also be enabled only at the core switches (up to 4) by assigning all\
        \ participating switches with `collapsed-core role`. When there are more than\
        \ 2 switches, a ring-like topology will be formed.\n\n#### ESI-Lag\nIf the\
        \ access switchess does not have EVPN support, you can take advantage of EVPN\
        \ by setting up ESI-Lag on distribution switches\n\n#### Leaf / Access / Collapsed-Core\n\
        For leaf nodes in a EVPN topology, you\u2019d have to configure the IPs for\
        \ networks that would participate in EVPN. Optionally, VRFs to isolate traffic\
        \ from one tenant verus another"
      operationId: createSiteEvpnTopology
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  name: CC
                  overwrite: true
                  pod_names:
                    '1': default
                    '2': default
                  switches:
                  - mac: 5c5b35000003
                    role: collapsed-core
                  - mac: 5c5b35000004
                    role: collapsed-core
            schema:
              $ref: '#/components/schemas/junos_evpn_topology'
      responses:
        '200':
          $ref: '#/components/responses/EvpnTopology'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createSiteEvpnTopology
      tags:
      - Sites EVPN Topologies
      - cat:LAN:CONFIGURE
  /api/v1/sites/{site_id}/evpn_topologies/{evpn_topology_id}:
    delete:
      description: Delete the site EVPN Topology
      operationId: deleteSiteEvpnTopology
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteSiteEvpnTopology
      tags:
      - Sites EVPN Topologies
      - cat:LAN:CONFIGURE
    get:
      description: Get One EVPN Topology Detail
      operationId: getSiteEvpnTolopogy
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteEvpnTolopogy
      tags:
      - Sites EVPN Topologies
      - cat:LAN:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/site_id'
    - $ref: '#/components/parameters/evpn_topology_id'
    put:
      description: Update the EVPN Topolgy
      operationId: updateSiteEvpnTopology
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  overwrite: false
                  switches:
                  - mac: 5c5b35000003
                    role: collapsed-core
                  - mac: 5c5b35000004
                    role: none
            schema:
              $ref: '#/components/schemas/junos_evpn_topology'
      responses:
        '200':
          $ref: '#/components/responses/EvpnTopology'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateSiteEvpnTopology
      tags:
      - Sites EVPN Topologies
      - cat:LAN:CONFIGURE
  /api/v1/sites/{site_id}/stats/discovered_switch_metrics/search:
    get:
      description: Search Discovered Switch Metrics
      operationId: searchSiteDiscoveredSwitchesMetrics
      parameters:
      - description: metric scope, optional
        in: query
        name: scope
        schema:
          default: site
          enum:
          - site
          - switch
          type: string
      - description: metric type, inactive_wired_vlans/switch_ap_affinity/poe_compliance/version_compliance,
          optional
        in: query
        name: type
        schema:
          enum:
          - inactive_wired_vlans
          - switch_ap_affinity
          - poe_compliance
          - version_compliance
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    end: 1675193686.0191767
                    limit: 1
                    next: /api/v1/sites/f5fcbee5-fbca-45b3-8bf1-1619ede87879/stats/discovered_switch_metrics/search?end=1675193686.0191767&limit=1&search_after=%5B1675193400000%5D&start=1675107286.0191767
                    results:
                    - details: {}
                      org_id: 203d3d02-dbc0-4c1b-9f41-76896a3330f4
                      scope: site
                      score: 100
                      site_id: f5fcbee5-fbca-45b3-8bf1-1619ede87879
                      timestamp: 1675193400
                      type: inactive_wired_vlans
                    start: 1675107286.0191767
                    total: 3
              schema:
                properties:
                  end:
                    type: number
                  limit:
                    type: integer
                  next:
                    type: string
                  results:
                    items:
                      properties:
                        details:
                          type: object
                        org_id:
                          type: string
                        scope:
                          type: string
                        score:
                          type: integer
                        site_id:
                          type: string
                        timestamp:
                          type: integer
                        type:
                          type: string
                      type: object
                    type: array
                  start:
                    type: number
                  total:
                    type: integer
                required:
                - results
                - start
                - end
                - limit
                - total
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchSiteDiscoveredSwitchesMetrics
      tags:
      - Sites Stats
      - cat:LAN:MONITOR
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/stats/discovered_switches/count:
    get:
      description: Count Discovered Switches
      operationId: countSiteDiscoveredSwitches
      parameters:
      - in: query
        name: distinct
        schema:
          default: system_name
          enum:
          - system_name
          - version
          - model
          - mgmt_addr
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    distinct: system_name
                    end: 1604496202.3555834
                    limit: 1000
                    percentage: 100
                    results:
                    - count: 1
                      system_name: test-ex
                    - count: 1
                      system_name: sw-jn-01
                    start: 1604409802.3555677
                    total: 2
              schema:
                properties:
                  distinct:
                    type: string
                  end:
                    type: number
                  limit:
                    type: integer
                  percentage:
                    type: integer
                  results:
                    items:
                      properties:
                        count:
                          type: integer
                        system_name:
                          type: string
                      required:
                      - system_name
                      - count
                    minItems: 1
                    type: array
                    uniqueItems: true
                  start:
                    type: number
                  total:
                    type: integer
                required:
                - results
                - start
                - end
                - limit
                - distinct
                - total
                - percentage
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countSiteDiscoveredSwitches
      tags:
      - Sites Stats
      - cat:LAN:MONITOR
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/stats/discovered_switches/metrics:
    get:
      description: Discovered switches related metrics, lists related switch system
        names & details if not compliant
      operationId: getSiteDiscoveredSwitchesMetrics
      parameters:
      - description: 'configurable # ap per switch threshold, default 12'
        in: query
        name: threshold
        schema:
          type: string
      - description: system name for switch level metrics, optional
        in: query
        name: system_name
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    inactive_wired_vlans:
                      details: {}
                      score: 100
                    poe_compliance:
                      details:
                        total_aps: 63
                        total_power: 981500
                      score: 100
                    switch_ap_affinity:
                      details:
                        system_name:
                        - mist-lab-ex2300c
                        - switch1
                        threshold: 12
                      score: 33.3333
                    version_compliance:
                      details:
                        major_versions:
                        - major_count: 2
                          model: EX2300-C-12P
                          system_names:
                          - switch1
                          - mist-lab-ex2300c
                        - major_count: 1
                          model: EX4300-48P
                          system_names: []
                        total_switch_count: 5
                      score: 75
              schema:
                properties:
                  inactive_wired_vlans:
                    properties:
                      details:
                        type: object
                      score:
                        type: number
                    required:
                    - score
                    - details
                    type: object
                  poe_compliance:
                    properties:
                      details:
                        properties:
                          total_aps:
                            type: integer
                          total_power:
                            type: number
                        required:
                        - total_power
                        - total_aps
                        type: object
                      score:
                        type: number
                    required:
                    - score
                    - details
                    type: object
                  switch_ap_affinity:
                    properties:
                      details:
                        properties:
                          system_name:
                            items:
                              type: string
                            type: array
                          threshold:
                            type: number
                        required:
                        - threshold
                        - system_name
                        type: object
                      score:
                        type: number
                    required:
                    - score
                    - details
                    type: object
                  version_compliance:
                    properties:
                      details:
                        properties:
                          major_versions:
                            items:
                              properties:
                                major_count:
                                  type: number
                                model:
                                  type: string
                                system_names:
                                  items:
                                    type: string
                                  type: array
                              required:
                              - model
                              - major_count
                              type: object
                            minItems: 1
                            type: array
                            uniqueItems: true
                          total_switch_count:
                            type: integer
                        required:
                        - major_versions
                        - total_switch_count
                        type: object
                      score:
                        type: number
                    required:
                    - score
                    - details
                    type: object
                required:
                - version_compliance
                - switch_ap_affinity
                - inactive_wired_vlans
                - poe_compliance
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getSiteDiscoveredSwitchesMetrics
      tags:
      - Sites Stats
      - cat:LAN:MONITOR
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/stats/discovered_switches/search:
    get:
      description: Search Discovered Switches
      operationId: searchSiteDiscoveredSwitches
      parameters:
      - in: query
        name: adopted
        schema:
          type: boolean
      - in: query
        name: system_name
        schema:
          type: string
      - in: query
        name: hostname
        schema:
          type: string
      - in: query
        name: vendor
        schema:
          type: string
      - in: query
        name: model
        schema:
          type: string
      - in: query
        name: version
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    end: 1604496474.8978634
                    limit: 1000
                    results:
                    - aps:
                      - hostname: ap41nearlab
                        inactive_wired_vlans: []
                        mac: 5c5b352e2001
                        poe_status: true
                        when: 2019-06-13T19:53:16.870+0000
                      mgmt_addr: 10.1.1.1
                      model: EX2300-C-12P
                      org_id: 6748cfa6-4e12-11e6-9188-0242ac110007
                      site_id: 67970e46-4e12-11e6-9188-0242ac110007
                      system_desc: 'Juniper Networks, Inc. ex2300-c-12p Ethernet Switch,
                        kernel JUNOS 18.2R2.6, Build date: 2018-12-07 13:19:04 UTC
                        Copyright (c) 1996-2018 Juniper Networks, Inc.'
                      system_name: mist-lab-ex2300c
                      timestamp: 1560457177.037
                      vendor: Juniper Networks
                      version: 18.2R2.6
                    start: 1604410074.8978484
                    total: 1
              schema:
                properties:
                  end:
                    type: number
                  limit:
                    type: integer
                  next:
                    type: string
                  results:
                    items:
                      properties:
                        adopted:
                          type: boolean
                        aps:
                          items:
                            properties:
                              hostname:
                                type: string
                              mac:
                                type: string
                              poe_status:
                                type: boolean
                              port:
                                type: string
                              port_id:
                                type: string
                              power_draw:
                                type: number
                              when:
                                type: string
                            type: object
                          type: array
                          uniqueItems: true
                        chassis_id:
                          items:
                            type: string
                          type: array
                        for_site:
                          readOnly: true
                          type: boolean
                        model:
                          type: string
                        org_id:
                          format: uuid
                          type: string
                        site_id:
                          format: uuid
                          type: string
                        system_desc:
                          type: string
                        system_name:
                          type: string
                        timestamp:
                          type: number
                        vendor:
                          type: string
                        version:
                          type: string
                      required:
                      - model
                      - org_id
                      - site_id
                      - system_desc
                      - system_name
                      - timestamp
                      - vendor
                      - version
                      type: object
                    minItems: 1
                    type: array
                    uniqueItems: true
                  start:
                    type: number
                  total:
                    type: integer
                required:
                - end
                - limit
                - results
                - start
                - total
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchSiteDiscoveredSwitches
      tags:
      - Sites Stats
      - cat:LAN:MONITOR
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/stats/ports/count:
    get:
      description: Count by Distinct Attributes of Switch/Gateway Ports
      operationId: countSiteSwOrGwPorts
      parameters:
      - description: port_id, port_mac, full_duplex, mac, neighbor_macneighbor_port_desc,
          neighbor_system_name, poe_disabled, poe_mode, poe_on, speed, up
        in: query
        name: distinct
        schema:
          default: mac
          enum:
          - port_id
          - port_mac
          - full_duplex
          - mac
          - neighbor_mac
          - neighbor_port_desc
          - neighbor_system_name
          - poe_disabled
          - poe_mode
          - poe_on
          - speed
          - up
          type: string
      - description: indicates full or half duplex
        in: query
        name: full_duplex
        schema:
          type: boolean
      - description: device identifier
        in: query
        name: mac
        schema:
          type: string
      - description: Chassis identifier of the chassis type listed
        in: query
        name: neighbor_mac
        schema:
          type: string
      - description: "Description supplied by the system on the interface E.g. \u201C\
          GigabitEthernet2/0/39\u201D"
        in: query
        name: neighbor_port_desc
        schema:
          type: string
      - description: "Name supplied by the system on the interface E.g. neighbor system\
          \ name E.g. \u201CKumar-Acc-SW.mist.local\u201D"
        in: query
        name: neighbor_system_name
        schema:
          type: string
      - description: is the POE configured not be disabled.
        in: query
        name: poe_disabled
        schema:
          type: boolean
      - description: "poe mode depending on class E.g. \u201C802.3at\u201D"
        in: query
        name: poe_mode
        schema:
          type: string
      - description: is the device attached to POE
        in: query
        name: poe_on
        schema:
          type: boolean
      - description: interface name
        in: query
        name: port_id
        schema:
          type: string
      - description: interface mac address
        in: query
        name: port_mac
        schema:
          type: string
      - description: Amount of power being used by the interface at the time the command
          is executed. Unit in watts.
        in: query
        name: power_draw
        schema:
          type: number
      - description: Output packets
        in: query
        name: tx_pkts
        schema:
          type: integer
      - description: Input packets
        in: query
        name: rx_pkts
        schema:
          type: integer
      - description: Input bytes
        in: query
        name: rx_bytes
        schema:
          type: integer
      - description: Output rate
        in: query
        name: tx_bps
        schema:
          type: integer
      - description: Input rate
        in: query
        name: rx_bps
        schema:
          type: integer
      - description: Multicast output packets
        in: query
        name: tx_mcast_pkts
        schema:
          type: integer
      - description: Broadcast output packets
        in: query
        name: tx_bcast_pkts
        schema:
          type: integer
      - description: Multicast input packets
        in: query
        name: rx_mcast_pkts
        schema:
          type: integer
      - description: Broadcast input packets
        in: query
        name: rx_bcast_pkts
        schema:
          type: integer
      - description: port speed
        in: query
        name: speed
        schema:
          type: integer
      - description: if `up`==`true`
        in: query
        name: stp_state
        schema:
          enum:
          - forwarding
          - blocking
          - learning
          - listening
          - disabled
          type: string
      - description: if `up`==`true`
        in: query
        name: stp_role
        schema:
          enum:
          - designated
          - backup
          - alternate
          - root
          - root-prevented
          type: string
      - description: if `up`==`true` && has Authenticator role
        in: query
        name: auth_state
        schema:
          enum:
          - init
          - authenticated
          - authenticating
          - held
          type: string
      - description: indicates if interface is up
        in: query
        name: up
        schema:
          type: boolean
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countSiteSwOrGwPorts
      tags:
      - Sites Devices Stats
      - cat:LAN:MONITOR
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/stats/ports/search:
    get:
      description: Search Switch / Gateway Ports
      operationId: searchSiteSwOrGwPorts
      parameters:
      - description: indicates full or half duplex
        in: query
        name: full_duplex
        schema:
          type: boolean
      - description: device identifier
        in: query
        name: mac
        schema:
          type: string
      - description: device type
        in: query
        name: type
        schema:
          enum:
          - ap
          - ble
          - switch
          - gateway
          - mxedge
          - nac
          type: string
      - description: Chassis identifier of the chassis type listed
        in: query
        name: neighbor_mac
        schema:
          type: string
      - description: "Description supplied by the system on the interface E.g. \u201C\
          GigabitEthernet2/0/39\u201D"
        in: query
        name: neighbor_port_desc
        schema:
          type: string
      - description: "Name supplied by the system on the interface E.g. neighbor system\
          \ name E.g. \u201CKumar-Acc-SW.mist.local\u201D"
        in: query
        name: neighbor_system_name
        schema:
          type: string
      - description: is the POE configured not be disabled.
        in: query
        name: poe_disabled
        schema:
          type: boolean
      - description: "poe mode depending on class E.g. \u201C802.3at\u201D"
        in: query
        name: poe_mode
        schema:
          type: string
      - description: is the device attached to POE
        in: query
        name: poe_on
        schema:
          type: boolean
      - description: interface name
        in: query
        name: port_id
        schema:
          type: string
      - description: interface mac address
        in: query
        name: port_mac
        schema:
          type: string
      - description: Amount of power being used by the interface at the time the command
          is executed. Unit in watts.
        in: query
        name: power_draw
        schema:
          type: number
      - description: Output packets
        in: query
        name: tx_pkts
        schema:
          type: integer
      - description: Input packets
        in: query
        name: rx_pkts
        schema:
          type: integer
      - description: Input bytes
        in: query
        name: rx_bytes
        schema:
          type: integer
      - description: Output rate
        in: query
        name: tx_bps
        schema:
          type: integer
      - description: Input rate
        in: query
        name: rx_bps
        schema:
          type: integer
      - description: Output errors
        in: query
        name: tx_errors
        schema:
          type: integer
      - description: Input errors
        in: query
        name: rx_errors
        schema:
          type: integer
      - description: Multicast output packets
        in: query
        name: tx_mcast_pkts
        schema:
          type: integer
      - description: Broadcast output packets
        in: query
        name: tx_bcast_pkts
        schema:
          type: integer
      - description: Multicast input packets
        in: query
        name: rx_mcast_pkts
        schema:
          type: integer
      - description: Broadcast input packets
        in: query
        name: rx_bcast_pkts
        schema:
          type: integer
      - description: port speed
        in: query
        name: speed
        schema:
          type: integer
      - description: Limit on number of dynamically learned macs
        in: query
        name: mac_limit
        schema:
          type: integer
      - description: Number of mac addresses in the forwarding table
        in: query
        name: mac_count
        schema:
          type: integer
      - description: indicates if interface is up
        in: query
        name: up
        schema:
          type: boolean
      - description: indicates if interface is active/inactive
        in: query
        name: active
        schema:
          type: boolean
      - description: Last sampled jitter of the interface
        in: query
        name: jitter
        schema:
          type: number
      - description: Last sampled loss of the interface
        in: query
        name: loss
        schema:
          type: number
      - description: Last sampled latency of the interface
        in: query
        name: latency
        schema:
          type: number
      - description: if `up`==`true`
        in: query
        name: stp_state
        schema:
          enum:
          - forwarding
          - blocking
          - learning
          - listening
          - disabled
          type: string
      - description: if `up`==`true`
        in: query
        name: stp_role
        schema:
          enum:
          - designated
          - backup
          - alternate
          - root
          - root-prevented
          type: string
      - description: Optic Slot Partnumber, Check for null/empty
        in: query
        name: xcvr_part_number
        schema:
          type: string
      - description: if `up`==`true` && has Authenticator role
        in: query
        name: auth_state
        schema:
          enum:
          - init
          - authenticated
          - authenticating
          - held
          type: string
      - description: LTE IMSI value, Check for null/empty
        in: query
        name: lte_imsi
        schema:
          type: string
      - description: LTE ICCID value, Check for null/empty
        in: query
        name: lte_iccid
        schema:
          type: string
      - description: LTE IMEI value, Check for null/empty
        in: query
        name: lte_imei
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/SwitchPortsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchSiteSwOrGwPorts
      tags:
      - Sites Devices Stats
      - cat:LAN:MONITOR
    parameters:
    - $ref: '#/components/parameters/site_id'
  /api/v1/sites/{site_id}/stats/switch_ports/count:
    get:
      description: Count by Distinct Attributes of Switch/Gateway Ports
      operationId: countSiteSwitchPorts
      parameters:
      - description: port_id, port_mac, full_duplex, mac, neighbor_macneighbor_port_desc,
          neighbor_system_name, poe_disabled, poe_mode, poe_on, speed, up
        in: query
        name: distinct
        schema:
          default: mac
          enum:
          - port_id
          - port_mac
          - full_duplex
          - mac
          - neighbor_mac
          - neighbor_port_desc
          - neighbor_system_name
          - poe_disabled
          - poe_mode
          - poe_on
          - speed
          - up
          type: string
      - description: indicates full or half duplex
        in: query
        name: full_duplex
        schema:
          type: boolean
      - description: device identifier
        in: query
        name: mac
        schema:
          type: string
      - description: Chassis identifier of the chassis type listed
        in: query
        name: neighbor_mac
        schema:
          type: string
      - description: "Description supplied by the system on the interface E.g. \u201C\
          GigabitEthernet2/0/39\u201D"
        in: query
        name: neighbor_port_desc
        schema:
          type: string
      - description: "Name supplied by the system on the interface E.g. neighbor system\
          \ name E.g. \u201CKumar-Acc-SW.mist.local\u201D"
        in: query
        name: neighbor_system_name
        schema:
          type: string
      - description: is the POE configured not be disabled.
        in: query
        name: poe_disabled
        schema:
          type: boolean
      - description: "poe mode depending on class E.g. \u201C802.3at\u201D"
        in: query
        name: poe_mode
        schema:
          type: string
      - description: is the device attached to POE
        in: query
        name: poe_on
        schema:
          type: boolean
      - description: interface name
        in: query
        name: port_id
        schema:
          type: string
      - description: interface mac address
        in: query
        name: port_mac
        schema:
          type: string
      - description: Amount of power being used by the interface at the time the command
          is executed. Unit in watts.
        in: query
        name: power_draw
        schema:
          type: number
      - description: Output packets
        in: query
        name: tx_pkts
        schema:
          type: integer
      - description: Input packets
        in: query
        name: rx_pkts
        schema:
          type: integer
      - description: Input bytes
        in: query
        name: rx_bytes
        schema:
          type: integer
      - description: Output rate
        in: query
        name: tx_bps
        schema:
          type: integer
      - description: Input rate
        in: query
        name: rx_bps
        schema:
          type: integer
      - description: Multicast output packets
        in: query
        name: tx_mcast_pkts
        schema:
          type: integer
      - description: Broadcast output packets
        in: query
        name: tx_bcast_pkts
        schema:
          type: integer
      - description: Multicast input packets
        in: query
        name: rx_mcast_pkts
        schema:
          type: integer
      - description: Broadcast input packets
        in: query
        name: rx_bcast_pkts
        schema:
          type: integer
      - description: port speed
        in: query
        name: speed
        schema:
          type: integer
      - description: if `up`==`true`
        in: query
        name: stp_state
        schema:
          enum:
          - forwarding
          - blocking
          - learning
          - listening
          - disabled
          type: string
      - description: if `up`==`true`
        in: query
        name: stp_role
        schema:
          enum:
          - designated
          - backup
          - alternate
          - root
          - root-prevented
          type: string
      - description: if `up`==`true`
        in: query
        name: auth_state
        schema:
          enum:
          - init
          - authenticated
          - authenticating
          - held
          type: string
      - description: indicates if interface is up
        in: query
        name: up
        schema:
          type: boolean
[...]
