openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2401.1.2**

    >

    > Date: **Feb 1, 2024**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2311.1.4
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Login
- description: A Mist account can be linked to OAuth2 providers:\n1. First, login
    with your Mist account\n2. Obtain the Authorization URL for Linking 1. in JSON
    response, more usable for developers. Simply don\'t specify the forward parameter
    when obtaining the authorization URL 2. or as GET parameter, for UI where the
    user flow can be continued. Specify the landing page/url of your choice 3. Obtain
    the authorizaiton code by clicking / going through Authorization URL Link Mist
    Account against OAuth2 Provider by using the authorization code
  name: Login With OAuth2
- description: "In a typical enterprise, a separate group of people, Installers, are\
    \ responsible for install new devices. May it be a new installation (e.g. new\
    \ stores), a replacement installation (e.g. replacing Cisco APs with Mist APs),\
    \ or addition (e.g. adding new APs for better coverage). Instead of granting them\
    \ Admin/Write privilege, it's more desirable to grant them minimum privileges\
    \ to do the initial provisioning so they cannot read sensible information (e.g.\
    \ PSK of a WLAN), or change configs of running APs.\nAt a high level, Installer\
    \ APs try to achieve the following:\n1. identifying a device by MAC (that\u2019\
    s what they see)\n2. they can only touch configurations of the devices they\u2019\
    re installing\n3. allow the following configurations: * name * site assignment\
    \ * device  profile assignment * map and location (x/y) assignment * claim (if\
    \ not already in the inventory) * replace existing device with the device being\
    \ installed\n\n* Grace Period *\nGrace period provides a dynamic way to limit\
    \ what devices / sites   installer can work on. Generally installers work on recent\
    \ deployments -  bringing up new sites, add newly claimed devices to new / existing\
    \ sites. They  make mistakes, too, and may need to further tweak some of the parameters.\
    \   Default grace period is 7 days and can be set from 1 day to 365 days."
  name: Installer
- name: Admin
- name: Mobile
- description: MSP (Managed Service Provider) contains multiple Organizations.
  name: Msps
- name: Msps Admins
- name: Msps Inventory
- name: Msps Invites
- name: Msps Logo
- name: Msps Logs
- name: Msps Licenses
- name: Msps Marvis
- name: Msps Org Groups
- name: Msps Orgs
- name: Msps SLEs
- name: Msps SSO Roles
- name: Msps SSO
- name: Msps Stats
- name: Msps Tickets
- description: An organization usually represents a customer - which has inventories,
    licenses. An Organization can contain multiple sites. A site usually represents
    a deployment at the same location (a campus, an office).
  name: Orgs
- name: Orgs 128T
- name: Orgs Admins
- description: Alarms are triggered based on certain events. Alarms could be configured
    using an Alarm Template.
  name: Orgs Alarms
- description: An Alarm Template is a set of Alarm Rules that could be applied to
    one or more sites (while each site can only pick one Alarm Template), or to the
    whole org.
  name: Orgs Alarm Templates
- name: Orgs AP Templates
- name: Orgs API Tokens
- name: Orgs Assets
- name: Orgs Asset Filters
- name: Orgs Calls
- name: Orgs Cert
- name: Orgs Clients - NAC
- name: Orgs Clients - Wan
- name: Orgs Clients - Wired
- name: Orgs Clients - Wireless
- name: Orgs CRL
- description: 'While Templates / RF Templates / Network Templates / Gateway Templates
    provides powerful ways to control how a Device\''s configuration is derived for
    a Site. There are cases where you\''d like another level of control at the Org
    Level.

    A Device Profile contains a subset of Device\''s configurations you\''d like a
    device to have. It will be merged at runtime when we\''re provisioning an AP.'
  name: Orgs Device Profiles
- name: Orgs Devices
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Orgs EVPN Topologies
- description: API Call for 3rd party devices
  name: Orgs Devices Others
- name: Orgs Devices Stats
- name: Orgs Devices Upgrades
- description: "In Zscaler UI \n 1. add Partner Integration at https://admin.zscalerbeta.net/#administration/partner-integration\
    \ \n 2. Add Partner Administrator Role at https://admin.zscalerbeta.net/#administration/role-management\
    \ - Name: Mist - Access: Full \n 3. add Partner Admin at https://admin.zscalerbeta.net/#administration/admin-management\
    \ with - Login ID: john - email: john@abc.com \n 4. Find the cloud name for ZIA\
    \ https://help.zscaler.com/zia/what-my-cloud-name-zia\n"
  name: Orgs Devices Zscaler
- description: Gateway Template is applied to a site for gateway(s) in a site.
  name: Orgs Gateway Templates
- name: Orgs Guests
- name: Orgs IDP Profiles
- name: Orgs Inventory
- name: Orgs JSE
- description: "Juniper Support Insight is a free service provided to all Mist customers.\
    \ You can adopt your devices via a few lines CLI comands. Allowing you to \n*\
    \ get some basic information about the adopted devices \n* web shell into device\
    \ (write privilege required) \n* upgrade (write privilege required)"
  name: Orgs JSI
- name: Orgs Licenses
- name: Orgs Linked Applications
- name: Orgs Logs
- name: Orgs Marvis
- name: Orgs Maps
- name: Orgs MxClusters
- name: Orgs MxEdges
- name: Orgs MxTunnels
- name: Orgs NAC
- description: 'nactags are the building blocks to compose nacrules.

    They can either appear in the "matching" / "not_matching" sections of a nacrule,
    in which case they play the role of classifiers, or they could appear in the "apply_tags"
    section of the of a nacrule, in which case they influence the result.

    When the "type" field of nactag is "match", it can be used as the classfier of
    a nacrule. "match" field specifies the attribute name and "values" field specifies
    the list of attribute values to match on. When multiple values are specified,
    its treated as an OR condition between those values.

    When the "type" field of nactag is NOT "match", it can be used as the result of
    a nacrule. "type" field identifies the action to take and the corresponding field
    would provide any associated parameters to that action.'
  name: Orgs NAC Tags
- name: Orgs NAC CRL
- name: Orgs NAC Rules
- description: 'Network template is intended to be applied to a Site. It works like
    a blueprint of the network of the site.

    All Site Settings can go into Network Templates. See Site:Site Setting for schema

    Moreover, this can further be overwriten by individual Site Setting'
  name: Orgs Network Templates
- name: Orgs Networks
- name: Orgs Premium Analytics
- name: Orgs Psks
- description: "PSK Self-Service Portals are for \n  1. **WIFI users** who want to\
    \ connect to a WLAN with personal PSK, they\u2019re told to connect to a URL where\
    \ they can login (likely through company\u2019s SSO) and get the WIFI Name / Passphrase\
    \ - required input fields name, email so we can generate PSK \n  2. **PSK Admins**\
    \ (they don\u2019t have access to normal Network Admin Portal)\nWhen a PSK portal\
    \ is created, an unique URL will be generated (e.g. https://psk.mist.com/xxxxxx)"
  name: Orgs Psk Portals
- name: Orgs RF Templates
- name: Orgs SDK Clients
- name: Orgs SDK Templates
- description: "Security Policy is designed to audit / catch discripancies between\
    \ \u201Cwhat\u2019s intended to be running\u201D versus \u201Cwhat\u2019s actually\
    \ running\u201D in a network. Many big organizations have separated Security and\
    \ IT team (for good reasons). Each site can be assigned a security policy. Whenever\
    \ an AP is provisioned, the configuration will be checked against the security\
    \ policy. Any violations will be flagged in [Device Config History](/#operation/searchSiteDeviceConfigHistory)\
    \ where you can search for the when and where the violation occurs."
  name: Orgs SecPolicies
- name: Orgs Services
- name: Orgs Service Policies
- name: Orgs Setting
- name: Orgs Sitegroups
- name: Orgs Sites
- description: Site template is intended to be applied to a Site. The items in site
    setting which should be shared for all device types.
  name: Orgs Site Templates
- name: Orgs SLEs
- name: Orgs SSO Roles
- name: Orgs SSO
- name: Orgs Stats
- name: Orgs Subscriptions
- name: Orgs Templates
- name: Orgs Tickets
- name: Orgs Tunnels Stats
- name: Orgs Vars
- name: Orgs VPNs
- name: Orgs Webhooks
- name: Orgs Wlans
- name: Orgs WxRules
- name: Orgs WxTags
- name: Orgs WxTunnels
- description: A site represents a project, a deployment. For MSP, it can be as small
    as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps,
    Wlans, Policies, Zones.
  name: Sites
- name: Sites Alarms
- name: Sites AP Templates
- description: Applications contains a list of applications users are interested in
    monitoring / routing / policying
  name: Sites Applications
- name: Sites Anomaly
- name: Sites Asset Filters
- name: Sites Assets
- name: Sites Beacons
- name: Sites Calls
- name: Sites Clients - NAC
- name: Sites Clients - Wan
- name: Sites Clients - Wired
- name: Sites Clients - Wireless
- description: 'Mist provides many ways (device-type specific template, site template,
    device profile, per-device) to configure devices for different kind of scenarios.

    The precedence goes from most specific to least specific

    Device > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template
    > Site Template > Site Setting'
  name: Sites Devices
- name: Sites Devices - Wireless
- description: API Call for 3rd party devices
  name: Sites Devices Others
- name: Sites Devices - Wired
- name: Sites Devices - Wired Virtual Chassis
- name: Sites Devices - WAN
- name: Sites Devices - WAN HA
- name: Sites Devices Stats
- name: Sites Devices Upgrades
- name: Sites Devices Utilities
- name: Sites Events
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Sites EVPN Topologies
- name: Sites Guests
- name: Sites Insights
- name: Sites JSE
- name: Sites Licenses
- name: Sites Location
- name: Sites Maps
- name: Sites Maps Auto-orientation
- name: Sites Maps Auto-placement
- name: Sites MxEdges
- name: Sites MxTunnels
- name: Sites Network Templates
- name: Sites Networks
- name: Sites Pcaps
- name: Sites Psks
- name: Sites RF Templates
- name: Sites Rfdiags
- name: Sites Rogues
- name: Sites RRM
- name: Sites Rssizones
- name: Sites Services
- name: Sites Service Policies
- name: Sites Setting
- name: Sites Site Templates
- name: Sites Skyatp
- name: Sites SLEs
- name: Sites Stats
- name: Sites Subscriptions
- name: Sites Synthetic Tests
- name: Sites UI Settings
- name: Sites vBeacons
- name: Sites VPNs
- name: Sites Webhooks
- name: Sites Wlans
- name: Sites WxRules
- name: Sites WxTags
- name: Sites WxTunnels
- name: Sites Zones
- name: Constants
- name: Self Account
- description: "Like many other API providers, it\u2019s also possible to generate\
    \ API Tokens to be used (in HTTP Header) for authentication. An API token ties\
    \ to a Admin with equal or less privileges.\n\nNotes:\n* an API token generated\
    \ for a specific admin has the same privilege as the user\n* an API token will\
    \ be automatically removed if not used for > 90 days\n* SSO admins cannot generate\
    \ these API tokens. Refer Org level API tokens (/api/v1/docs/Org#api-token) which\
    \ can have privileges of a specific Org/Site for more information."
  name: Self API Token
- name: Self OAuth2
- name: Recover Password
- name: Self MFA
- name: Self Alarms
- name: Self Audit Logs
- name: Webhook Samples
paths:
  /api/v1/const/gateway_applications:
    get:
      description: Get the full list of applications that we recognize
      operationId: listGatewayApplications
      responses:
        '200':
          $ref: '#/components/responses/ConstGatewayApplications'
      summary: listGatewayApplications
      tags:
      - Constants
      - cat:MIST
      - cat:WAN
  /api/v1/const/mxedge_events:
    get:
      description: Get List of available MX Edge Events
      operationId: listMxEdgeEventsDefinitions
      responses:
        '200':
          $ref: '#/components/responses/ConstMxEdgeEventsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listMxEdgeEventsDefinitions
      tags:
      - Constants
      - cat:MIST
      - cat:WLAN
  /api/v1/const/mxedge_models:
    get:
      description: Get List of available Mx Edge models
      operationId: listMxEdgeModels
      responses:
        '200':
          $ref: '#/components/responses/ConstMxEdgeModelsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listMxEdgeModels
      tags:
      - Constants
      - cat:MIST
      - cat:WLAN
  /api/v1/const/otherdevice_events:
    get:
      description: 'Supported Events Type

        '
      operationId: listOtherDeviceEventsDefinitions
      responses:
        '200':
          $ref: '#/components/responses/ConstOtherDeviceEventsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOtherDeviceEventsDefinitions
      tags:
      - Constants
      - cat:MIST
      - cat:WAN
    parameters: []
  /api/v1/const/otherdevice_models:
    get:
      description: 'Supported OtherDevice Models

        '
      operationId: listSupportedOtherDeviceModels
      responses:
        '200':
          content:
            application/json:
              examples:
                Example:
                  value:
                  - _vendor_model_id: '65'
                    display: W1850
                    model: W1850
                    type: router
                    vendor: cradlepoint
              schema:
                items:
                  properties:
                    _vendor_model_id:
                      type: string
                    display:
                      type: string
                    model:
                      type: string
                    type:
                      type: string
                    vendor:
                      type: string
                  type: object
                type: array
          description: OK
      summary: listSupportedOtherDeviceModels
      tags:
      - Constants
      - cat:MIST
      - cat:WAN
  /api/v1/installer/orgs/{org_id}/rftemplates:
    get:
      description: Get List of RF Templates
      operationId: listInstallerRfTemplatesNames
      responses:
        '200':
          $ref: '#/components/responses/InstallerRftemplatesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listInstallerRfTemplatesNames
      tags:
      - Installer
      - cat:MIST:INSTALLER
      - cat:WLAN:INSTALLER
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/sites/{site_name}/maps:
    get:
      description: Get List of Maps
      operationId: listInstallerMaps
      responses:
        '200':
          $ref: '#/components/responses/MapsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listInstallerMaps
      tags:
      - Installer
      - cat:MIST:INSTALLER
      - cat:LOCATION:INSTALLER
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/site_name'
  /api/v1/installer/orgs/{org_id}/sites/{site_name}/maps/import:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/site_name'
    post:
      description: Import data from files is a multipart POST which has an file, an
        optional json, and an optional csv, to create floorplan, assign & place ap
        if name or mac matches
      operationId: importInstallerMap
      requestBody:
        content:
          multipart/form-data:
            examples:
              Example:
                value:
                  csv: string
                  file: string
                  json:
                    import_all_floorplans: false
                    import_height: false
                    import_orientation: false
                    vendor_name: ekahau
            schema:
              $ref: '#/components/schemas/import_site_map'
      responses:
        '200':
          $ref: '#/components/responses/MapImport'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: importInstallerMap
      tags:
      - Installer
      - cat:MIST:INSTALLER
      - cat:LOCATION:INSTALLER
  /api/v1/installer/orgs/{org_id}/sites/{site_name}/maps/{map_id}:
    delete:
      description: Delete Map
      operationId: deleteInstallerMap
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteInstallerMap
      tags:
      - Installer
      - cat:MIST:INSTALLER
      - cat:LOCATION:INSTALLER
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/site_name'
    - $ref: '#/components/parameters/map_id'
    post:
      description: Create a MAP
      operationId: createInstallerMap
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  flags: {}
                  height: 0
                  latlng_br:
                    lat: string
                    lng: string
                  latlng_tl:
                    lat: string
                    lng: string
                  locked: true
                  name: string
                  orientation: 0
                  origin_x: 0
                  origin_y: 0
                  ppm: 0
                  sitesurvey_path:
                  - coordinate: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    nodes:
                    - edges:
                        N2: string
                      name: string
                      position:
                        x: 0
                        y: 0
                  thumbnail_url: string
                  type: image
                  url: string
                  view: roadmap
                  wall_path:
                    coordinate: string
                    nodes:
                    - edges:
                        N2: string
                      name: string
                      position:
                        x: 0
                        y: 0
                  wayfinding:
                    micello:
                      account_key: string
                      default_level_id: 0
                      map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    snap_to_path: true
                  wayfinding_path:
                    coordinate: string
                    nodes:
                    - edges:
                        N2: string
                      name: string
                      position:
                        x: 0
                        y: 0
                  width: 0
            schema:
              $ref: '#/components/schemas/map'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Map'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createInstallerMap
      tags:
      - Installer
      - cat:MIST:INSTALLER
      - cat:LOCATION:INSTALLER
    put:
      description: Update map
      operationId: updateInstallerMap
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/map'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Map'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateInstallerMap
      tags:
      - Installer
      - cat:MIST:INSTALLER
      - cat:LOCATION:INSTALLER
  /api/v1/orgs/{org_id}/deviceprofiles:
    get:
      description: Get List of Org Device Profiles
      operationId: listOrgDeviceProfiles
      parameters:
      - in: query
        name: type
        schema:
          default: ap
          enum:
          - ap
          - switch
          - gateway
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/DeviceprofilesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgDeviceProfiles
      tags:
      - Orgs Device Profiles
      - cat:WLAN:CONFIGURE
      - cat:LAN:CONFIGURE
      - cat:WAN:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create Device Profile
      operationId: createOrgDeviceProfiles
      requestBody:
        content:
          application/json:
            examples:
              deviceprofile_ap:
                value:
                  aeroscout:
                    enabled: false
                    host: aero.pvt.net
                    locate_connected: true
                  ble_config:
                    beacon_enabled: false
                    beacon_rate: 3
                    beacon_rate_mode: custom
                    beam_disabled:
                    - 1
                    - 3
                    - 6
                    custom_ble_packet_enabled: false
                    custom_ble_packet_frame: 0x........
                    custom_ble_packet_freq_msec: 300
                    eddystone_uid_adv_power: -65
                    eddystone_uid_beams: 2-4,7
                    eddystone_uid_enabled: false
                    eddystone_uid_freq_msec: 200
                    eddystone_uid_instance: 5c5b35000001
                    eddystone_uid_namespace: 2818e3868dec25629ede
                    eddystone_url_adv_power: -65
                    eddystone_url_beams: 2-4,7
                    eddystone_url_enabled: true
                    eddystone_url_freq_msec: 1000
                    eddystone_url_url: https://www.abc.com
                    ibeacon_adv_power: -65
                    ibeacon_beams: 2-4,7
                    ibeacon_enabled: false
                    ibeacon_freq_msec: 0
                    ibeacon_major: 13
                    ibeacon_minor: 138
                    ibeacon_uuid: f3f17139-704a-f03a-2786-0400279e37c3
                    power: 10
                    power_mode: custom
                  created_time: 0
                  disable_eth1: false
                  disable_eth2: false
                  disable_eth3: false
                  disable_module: false
                  for_site: true
                  height: 0
                  id: 497f6eca-6276-4993-bfeb-53d9bbba6f08
                  iot_config:
                    A1:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                    A2:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                    A3:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                    A4:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                    DI1:
                      enabled: false
                      name: string
                      pullup: internal
                    DI2:
                      enabled: false
                      name: string
                      pullup: internal
                    DO:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                  ip_config:
                    dns:
                    - 8.8.8.8
                    - 4.4.4.4
                    dns_suffix:
                    - .mist.local
                    - .mist.com
                    gateway: 10.2.1.254
                    gateway6: 2607:f8b0:4005:808::1
                    ip: 10.2.1.1
                    ip6: 2607:f8b0:4005:808::2004
                    mtu: 0
                    netmask: 255.255.255.0
                    netmask6: /32
                    type: static
                    type6: static
                    vlan_id: 1
                  led:
                    brightness: 255
                    enabled: true
                  map_id: 09d2b626-2e4e-45ef-a3c4-e6aeb6c83db1
                  mesh:
                    enabled: false
                    group: 1
                    role: base
                  modified_time: 0
                  name: string
                  notes: string
                  ntp_servers:
                  - string
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  orientation: 0
                  orientation_overwrite: true
                  poe_passthrough: false
                  port_config:
                    property1:
                      additional_vlan_ids:
                      - 55
                      - 66
                      authentication_protocol: pap
                      disabled: true
                      dynamic_vlan:
                        default_vlan_id: 999
                        enabled: true
                        type: string
                        vlans:
                          1-10: null
                          user: null
                      enable_mac_auth: false
                      forwarding: all
                      mx_tunnel_id: 08cd7499-5841-51c8-e663-fb16b6f3b45e
                      mxtunnel_name: string
                      port_auth: none
                      port_vlan_id: 1
                      radius_config:
                        acct_interim_interval: 0
                        acct_servers:
                        - host: 1.2.3.4
                          keywrap_enabled: true
                          keywrap_format: hex
                          keywrap_kek: '1122334455'
                          keywrap_mack: '1122334455'
                          port: 1813
                          secret: testing123
                        auth_servers:
                        - host: 1.2.3.4
                          keywrap_enabled: true
                          keywrap_format: hex
                          keywrap_kek: '1122334455'
                          keywrap_mack: '1122334455'
                          port: 1812
                          secret: testing123
                        auth_servers_retries: 3
                        auth_servers_timeout: 5
                        coa_enabled: false
                        coa_port: 3799
                        network: string
                        source_ip: string
                      radsec:
                        enabled: true
                        idle_timeout: 60
                        mxcluster_ids:
                        - 572586b7-f97b-a22b-526c-8b97a3f609c4
                        proxy_hosts:
                        - mxedge1.local
                        server_name: radsec.abc.com
                        servers:
                        - host: 1.1.1.1
                          port: 1812
                        use_mxedge: true
                        use_site_mxedge: false
                      vlan_id: 9
                      vland_ids:
                      - 1
                      - 10
                      - 50
                      wxtunnel_id: 7dae216d-7c98-a51b-e068-dd7d477b7216
                      wxtunnel_remote_id: wifiguest
                    property2:
                      additional_vlan_ids:
                      - 55
                      - 66
                      authentication_protocol: pap
                      disabled: true
                      dynamic_vlan:
                        default_vlan_id: 999
                        enabled: true
                        type: string
                        vlans:
                          1-10: null
                          user: null
                      enable_mac_auth: false
                      forwarding: all
                      mx_tunnel_id: 08cd7499-5841-51c8-e663-fb16b6f3b45e
                      mxtunnel_name: string
                      port_auth: none
                      port_vlan_id: 1
                      radius_config:
                        acct_interim_interval: 0
                        acct_servers:
                        - host: 1.2.3.4
                          keywrap_enabled: true
                          keywrap_format: hex
                          keywrap_kek: '1122334455'
                          keywrap_mack: '1122334455'
                          port: 1813
                          secret: testing123
                        auth_servers:
                        - host: 1.2.3.4
                          keywrap_enabled: true
                          keywrap_format: hex
                          keywrap_kek: '1122334455'
                          keywrap_mack: '1122334455'
                          port: 1812
                          secret: testing123
                        auth_servers_retries: 3
                        auth_servers_timeout: 5
                        coa_enabled: false
                        coa_port: 3799
                        network: string
                        source_ip: string
                      radsec:
                        enabled: true
                        idle_timeout: 60
                        mxcluster_ids:
                        - 572586b7-f97b-a22b-526c-8b97a3f609c4
                        proxy_hosts:
                        - mxedge1.local
                        server_name: radsec.abc.com
                        servers:
                        - host: 1.1.1.1
                          port: 1812
                        use_mxedge: true
                        use_site_mxedge: false
                      vlan_id: 9
                      vland_ids:
                      - 1
                      - 10
                      - 50
                      wxtunnel_id: 7dae216d-7c98-a51b-e068-dd7d477b7216
                      wxtunnel_remote_id: wifiguest
                  pwr_config:
                    base: 0
                  radio_config:
                    allow_rrm_disable: false
                    ant_gain_24: 4
                    ant_gain_5: 5
                    ant_gain_6: 5
                    antenna_mode: default
                    band_24:
                      allow_rrm_disable: true
                      ant_gain: 0
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      channels:
                      - 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: short
                      usage: '24'
                    band_24_usage: '5'
                    band_5:
                      allow_rrm_disable: true
                      ant_gain: 0
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      channels:
                      - 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: short
                      usage: '24'
                    band_5_on_24_radio:
                      allow_rrm_disable: true
                      ant_gain: 0
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      channels:
                      - 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: short
                      usage: '24'
                    band_6:
                      allow_rrm_disable: true
                      ant_gain: 0
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      channels:
                      - 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: short
                      usage: '24'
                    indoor_use: false
                    scanning_enabled: true
                  site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                  switch_config:
                    enabled: false
                    eth0:
                      additional_vlan_ids:
                      - 0
                      enable_vlan: true
                      port_vlan_id: 0
                      vlan_ids:
                      - 0
                    eth1:
                      additional_vlan_ids:
                      - 0
                      enable_vlan: true
                      port_vlan_id: 0
                      vlan_ids:
                      - 0
                    eth2:
                      additional_vlan_ids:
                      - 0
                      enable_vlan: true
                      port_vlan_id: 0
                      vlan_ids:
                      - 0
                    eth3:
                      additional_vlan_ids:
                      - 0
                      enable_vlan: true
                      port_vlan_id: 0
                      vlan_ids:
                      - 0
                    module:
                      additional_vlan_ids:
                      - 0
                      enable_vlan: true
                      port_vlan_id: 0
                      vlan_ids:
                      - 0
                    wds:
                      additional_vlan_ids:
                      - 0
                      enable_vlan: true
                      port_vlan_id: 0
                      vlan_ids:
                      - 0
                  type: ap
                  usb_config:
                    cacert: string
                    channel: 3
                    enabled: true
                    host: 1.1.1.1
                    port: 0
                    type: imagotag
                    verify_cert: true
                    vlan_id: 1
                  vars: {}
                  x: 0
                  y: 0
              deviceprofile_hub:
                value:
                  additional_config_cmds:
                  - string
                  bgp_config:
                    property1:
                      auth_key: string
                      bfd_minimum_interval: 0
                      communities:
                      - id: string
                        local_preference: 0
                        vpn_name: string
                      disable_bfd: false
                      export: string
                      export_policy: string
                      graceful_restart_time: 0
                      hold_time: 90
                      import: string
                      import_policy: string
                      imported_networks:
                      - dc-apps
                      local_as: 0
                      neighbor_as: 0
                      neighbors:
                        property1:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                        property2:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                      networks:
                      - string
                      no_readvertise_to_overlay: false
                      type: internal
                      via: lan
                      vpn_name: string
                      wan_name: string
                    property2:
                      auth_key: string
                      bfd_minimum_interval: 0
                      communities:
                      - id: string
                        local_preference: 0
                        vpn_name: string
                      disable_bfd: false
                      export: string
                      export_policy: string
                      graceful_restart_time: 0
                      hold_time: 90
                      import: string
                      import_policy: string
                      imported_networks:
                      - dc-apps
                      local_as: 0
                      neighbor_as: 0
                      neighbors:
                        property1:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                        property2:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                      networks:
                      - string
                      no_readvertise_to_overlay: false
                      type: internal
                      via: lan
                      vpn_name: string
                      wan_name: string
                  created_time: 0
                  dhcpd_config:
                    property1:
                      dns_servers:
                      - 192.168.0.1
                      dns_suffix:
                      - string
                      fixed_bindings:
                        property1:
                          ip: 192.168.0.1
                          name: string
                        property2:
                          ip: 192.168.0.1
                          name: string
                      gateway: 192.168.0.1
                      ip_end: 192.168.0.1
                      ip_start: 192.168.0.1
                      servers:
                      - 192.168.0.1
                      type: local
                    property2:
                      dns_servers:
                      - 192.168.0.1
                      dns_suffix:
                      - string
                      fixed_bindings:
                        property1:
                          ip: 192.168.0.1
                          name: string
                        property2:
                          ip: 192.168.0.1
                          name: string
                      gateway: 192.168.0.1
                      ip_end: 192.168.0.1
                      ip_start: 192.168.0.1
                      servers:
                      - 192.168.0.1
                      type: local
                  extra_routes:
                    property1:
                      via: 192.168.0.1
                    property2:
                      via: 192.168.0.1
                  gateway_matching:
                    enable: true
                    rules:
                    - additional_config_cmds:
                      - string
                      name: string
                      port_config:
                        property1:
                          ae_disable_lacp: true
                          ae_idx: 0
                          aggregated: false
                          critical: true
                          description: string
                          disable_autoneg: false
                          duplex: auto
                          dynamic_usage: string
                          esilag: true
                          mtu: 1514
                          no_local_overwrite: true
                          poe_disabled: false
                          speed: auto
                          usage: string
                        property2:
                          ae_disable_lacp: true
                          ae_idx: 0
                          aggregated: false
                          critical: true
                          description: string
                          disable_autoneg: false
                          duplex: auto
                          dynamic_usage: string
                          esilag: true
                          mtu: 1514
                          no_local_overwrite: true
                          poe_disabled: false
                          speed: auto
                          usage: string
                      property1: string
                      property2: string
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f1c
                  ip_configs:
                    property1:
                      ip: 192.168.0.1
                      netmask: /24
                    property2:
                      ip: 192.168.0.1
                      netmask: /24
                  modified_time: 0
                  name: string
                  networks:
                    property1:
                      created_time: 0
                      disallow_mist_services: false
                      gateway: 192.168.70.1
                      hosts:
                        property1:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                        property2:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                      id: 497f6eca-6276-4993-bfeb-53cbbbba6f1d
                      internal_access:
                        enabled: true
                      internet_access:
                        create_simple_service_policy: false
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                          property2:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                        enabled: true
                        restricted: false
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: printer-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: printer-1
                      isolation: true
                      modified_time: 0
                      name: string
                      org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      subnet: 192.168.70.0/24
                      tenants:
                        property1:
                          addresses: string
                        property2:
                          addresses: string
                      vlan_id: 0
                      vpn_access:
                        property1:
                          affinity: hub
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          no_readvertise_to_lan_bgp: false
                          no_readvertise_to_overlay: true
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                          summarized_subnet_to_lan_bgp: 172.16.0.0/16
                        property2:
                          affinity: hub
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          no_readvertise_to_lan_bgp: false
                          no_readvertise_to_overlay: true
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                          summarized_subnet_to_lan_bgp: 172.16.0.0/16
                    property2:
                      created_time: 0
                      disallow_mist_services: false
                      gateway: 192.168.70.1
                      hosts:
                        property1:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                        property2:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                      id: 497f6eca-6276-4993-bfeb-53cbbbba6f1e
                      internal_access:
                        enabled: true
                      internet_access:
                        create_simple_service_policy: false
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                          property2:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                        enabled: true
                        restricted: false
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: printer-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: printer-1
                      isolation: true
                      modified_time: 0
                      name: string
                      org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      subnet: 192.168.70.0/24
                      tenants:
                        property1:
                          addresses: string
                        property2:
                          addresses: string
                      vlan_id: 0
                      vpn_access:
                        property1:
                          affinity: hub
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          no_readvertise_to_lan_bgp: false
                          no_readvertise_to_overlay: true
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                          summarized_subnet_to_lan_bgp: 172.16.0.0/16
                        property2:
                          affinity: hub
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          no_readvertise_to_lan_bgp: false
                          no_readvertise_to_overlay: true
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                          summarized_subnet_to_lan_bgp: 172.16.0.0/16
                  oob_ip_config:
                    dns:
                    - string
                    dns_suffix:
                    - string
                    gateway: string
                    ip: string
                    netmask: string
                    network: string
                    node1:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                      use_mgmt_vrf: false
                      use_mgmt_vrf_for_host_out: false
                      vlan_id: 0
                    property1:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                    property2:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                    type: dynamic
                    use_mgmt_vrf: false
                    use_mgmt_vrf_for_host_out: false
                    vlan_id: 0
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  path_preferences:
                    property1:
                      paths:
                        cost: 0
                        gateway_ip: string
                        internet_access: false
                        name: string
                        networks:
                        - string
                        target_ips:
                        - string
                        type: local
                      strategy: ordered
                    property2:
                      paths:
                        cost: 0
                        gateway_ip: string
                        internet_access: false
                        name: string
                        networks:
                        - string
                        target_ips:
                        - string
                        type: local
                      strategy: ordered
                  port_config:
                    property1:
                      description: string
                      disable_autoneg: false
                      dsl_config:
                        ppoe_auth: none
                        ppoe_password: string
                        ppoe_username: string
                      duplex: full
                      ip_config:
                        dns:
                        - string
                        dns_suffix:
                        - string
                        gateway: string
                        ip: string
                        netmask: string
                        network: string
                        poser_password: string
                        ppoe_username: string
                        pppoe_auth: none
                        type: dhcp
                      lte_apn: string
                      lte_auth: none
                      lte_backup: true
                      lte_password: string
                      lte_username: string
                      mtu: 0
                      name: string
                      networks:
                      - string
                      outer_vlan_id: 0
                      poe_disabled: false
                      port_network: string
                      preserve_dscp: true
                      redundant: true
                      reth_idx: 0
                      reth_node: string
                      speed: 1g
                      svr_port_range: 60000-60005
                      traffic_shaping:
                        class_percentages:
                        - 0
                        enabled: false
                      usage: lan
                      vlan_id: 0
                      vpn_paths:
                        property1:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          bfd_use_tunnel_mode: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                        property2:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          bfd_use_tunnel_mode: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                      wan_ext_ip: string
                      wan_source_nat:
                        disabled: false
                        nat_pool: 64.2.4.0/30
                      wan_type: broadband
                    property2:
                      description: string
                      disable_autoneg: false
                      dsl_config:
                        ppoe_auth: none
                        ppoe_password: string
                        ppoe_username: string
                      duplex: full
                      ip_config:
                        dns:
                        - string
                        dns_suffix:
                        - string
                        gateway: string
                        ip: string
                        netmask: string
                        network: string
                        poser_password: string
                        ppoe_username: string
                        pppoe_auth: none
                        type: dhcp
                      lte_apn: string
                      lte_auth: none
                      lte_backup: true
                      lte_password: string
                      lte_username: string
                      mtu: 0
                      name: string
                      networks:
                      - string
                      outer_vlan_id: 0
                      poe_disabled: false
                      port_network: string
                      preserve_dscp: true
                      redundant: true
                      reth_idx: 0
                      reth_node: string
                      speed: 1g
                      svr_port_range: 60000-60005
                      traffic_shaping:
                        class_percentages:
                        - 0
                        enabled: false
                      usage: lan
                      vlan_id: 0
                      vpn_paths:
                        property1:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          bfd_use_tunnel_mode: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                        property2:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          bfd_use_tunnel_mode: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                      wan_ext_ip: string
                      wan_source_nat:
                        disabled: false
                        nat_pool: 64.2.4.0/30
                      wan_type: broadband
                  routing_policies:
                    property1:
                      terms:
                      - action:
                          accept: true
                          add_community:
                          - '65003:10'
                          community:
                          - '65003:10'
                          exclude_as_path:
                          - '65002'
                          exclude_community:
                          - '65003:10'
                          export_communitites:
                          - string
                          local_preference: string
                          prepend_as_path:
                          - '65003'
                        matching:
                          as_path:
                          - '65001'
                          community:
                          - '65001:2'
                          network:
                          - string
                          prefix:
                          - 192.168.0.0/16-30
                          protocol:
                          - direct
                          route_exists:
                            route: 192.168.0.0/24
                            vrf_name: default
                          vpn_neighbor_mac:
                          - string
                          vpn_path:
                          - string
                          vpn_path_sla:
                            max_jitter: 0
                            max_latency: 1500
                            max_loss: 30
                    property2:
                      terms:
                      - action:
                          accept: true
                          add_community:
                          - '65003:10'
                          community:
                          - '65003:10'
                          exclude_as_path:
                          - '65002'
                          exclude_community:
                          - '65003:10'
                          export_communitites:
                          - string
                          local_preference: string
                          prepend_as_path:
                          - '65003'
                        matching:
                          as_path:
                          - '65001'
                          community:
                          - '65001:2'
                          network:
                          - string
                          prefix:
                          - 192.168.0.0/16-30
                          protocol:
                          - direct
                          route_exists:
                            route: 192.168.0.0/24
                            vrf_name: default
                          vpn_neighbor_mac:
                          - string
                          vpn_path:
                          - string
                          vpn_path_sla:
                            max_jitter: 0
                            max_latency: 1500
                            max_loss: 30
                  service_policies:
                  - action: allow
                    ewf:
                    - alert_only: true
                      block_message: Access to this URL Category has been blocked
                      enabled: false
                      profille: strict
                    idp:
                      alert_only: string
                      enabled: false
                      profile: strict
                    local_routing: false
                    name: string
                    path_preferences: string
                    servicepolicy_id: a4b81837-7a2f-46c1-bf27-dc8af6edd0a0
                    services:
                    - string
                    tenants:
                    - string
                  tunnel_configs:
                    property1:
                      auto_provision:
                        enable: true
                        latlng:
                          lat: 37.295833
                          lng: -122.032946
                        primary:
                          num_hosts: string
                          wan_names:
                          - wan0
                        region: auto
                        secondary:
                          num_hosts: string
                          wan_names:
                          - wan0
                      ike_lifetime: 0
                      ike_mode: main
                      ike_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      ipsec_lifetime: 0
                      ipsec_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      local_id: string
                      mode: active-standby
                      primary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      probe:
                        interval: 0
                        threshold: 0
                        timeout: 0
                        type: icmp
                      protocol: ipsec
                      provider: zscaler-ipsec
                      psk: string
                      secondary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      version: '2'
                    property2:
                      auto_provision:
                        enable: true
                        latlng:
                          lat: 37.295833
                          lng: -122.032946
                        primary:
                          num_hosts: string
                          wan_names:
                          - wan0
                        region: auto
                        secondary:
                          num_hosts: string
                          wan_names:
                          - wan0
                      ike_lifetime: 0
                      ike_mode: main
                      ike_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      ipsec_lifetime: 0
                      ipsec_proposals:
                      - auth_algo: sha1
                        dh_group: '14'
                        enc_algo: aes256
                      local_id: string
                      mode: active-standby
                      primary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      probe:
                        interval: 0
                        threshold: 0
                        timeout: 0
                        type: icmp
                      protocol: ipsec
                      provider: zscaler-ipsec
                      psk: string
                      secondary:
                        hosts:
                        - string
                        internal_ips:
                        - string
                        probe_ips:
                        - string
                        remote_ids:
                        - string
                        wan_names:
                        - string
                      version: '2'
                  type: standalone
            schema:
              $ref: '#/components/schemas/deviceprofile'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Deviceprofile'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgDeviceProfiles
      tags:
      - Orgs Device Profiles
      - cat:WLAN:CONFIGURE
      - cat:LAN:CONFIGURE
      - cat:WAN:CONFIGURE
  /api/v1/orgs/{org_id}/deviceprofiles/{deviceprofile_id}:
    delete:
      description: Delete Org Device Profile
      operationId: deleteOrgDeviceProfile
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgDeviceProfile
      tags:
      - Orgs Device Profiles
      - cat:WLAN:CONFIGURE
      - cat:LAN:CONFIGURE
      - cat:WAN:CONFIGURE
    get:
      description: Get Org device Profile Details
      operationId: getOrgDeviceProfile
      responses:
        '200':
          $ref: '#/components/responses/Deviceprofile'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgDeviceProfile
      tags:
      - Orgs Device Profiles
      - cat:WLAN:CONFIGURE
      - cat:LAN:CONFIGURE
      - cat:WAN:CONFIGURE
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/deviceprofile_id'
    put:
      description: Update Org Device Profile
      operationId: updateOrgDeviceProfile
      requestBody:
        content:
          application/json:
            examples:
              deviceprofile_ap:
                value:
                  aeroscout:
                    enabled: true
                    host: string
                  ble_config:
                    beacon_enabled: true
                    beacon_rate: 0
                    beacon_rate_mode: default
                    beam_disabled:
                    - 0
                    eddystone_uid_adv_power: -100
                    eddystone_uid_beams: string
                    eddystone_uid_enabled: true
                    eddystone_uid_freq_msec: 0
                    eddystone_uid_instance: string
                    eddystone_uid_namespace: string
                    eddystone_url_adv_power: 0
                    eddystone_url_beams: string
                    eddystone_url_enabled: true
                    eddystone_url_freq_msec: 0
                    eddystone_url_url: string
                    ibeacon_adv_power: -100
                    ibeacon_beams: string
                    ibeacon_enabled: true
                    ibeacon_freq_msec: 0
                    ibeacon_major: 0
                    ibeacon_minor: 0
                    ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    power: 1
                    power_mode: string
                  created_time: 0
                  disable_eth1: true
                  disable_module: true
                  id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  ip_config:
                    dns:
                    - string
                    dns_suffix:
                    - string
                    gateway: 192.168.0.1
                    gateway6: 2001:0db8:85a3:0000:0000:8a2e:0370:7334
                    ip: 192.168.0.1
                    ip6: 2001:0db8:85a3:0000:0000:8a2e:0370:7334
                    mtu: 0
                    netmask: 192.168.0.1
                    netmask6: 2001:0db8:85a3:0000:0000:8a2e:0370:7334
                    type: static
                    type6: static
                    vlan_id: 1
                  mesh:
                    enabled: true
                    group: 0
                    role: base
                  modified_time: 0
                  name: string
                  org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  poe_passthrough: true
                  radio_config:
                    ant_gain_24: 0
                    ant_gain_5: 0
                    band_24:
                      allow_rrm_disable: true
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: auto
                      usage: '24'
                    band_24_usage: '24'
                    band_5:
                      allow_rrm_disable: true
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: auto
                      usage: '24'
                    band_5_on_24_radio:
                      allow_rrm_disable: true
                      antenna_mode: default
                      bandwidth: 20
                      channel: 0
                      disabled: true
                      power: 0
                      power_max: 0
                      power_min: 0
                      preamble: auto
                      usage: '24'
                    scanning_enabled: true
                  site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  switch_config:
                    enabled: true
                    eth0:
                      port_vlan_id: 1
                      vlan_ids:
                      - 0
                    eth1:
                      port_vlan_id: 1
                      vlan_ids:
                      - 0
                    eth2:
                      port_vlan_id: 1
                      vlan_ids:
                      - 0
                    eth3:
                      port_vlan_id: 1
                      vlan_ids:
                      - 0
                    module:
                      port_vlan_id: 1
                      vlan_ids:
                      - 0
                    wds:
                      port_vlan_id: 1
                      vlan_ids:
                      - 0
                  usb_config:
                    cacert: string
                    channel: 0
                    enabled: true
                    host: string
                    port: 0
                    type: imagotag
                    verify_cert: true
              deviceprofile_hub:
                value:
                  additional_config_cmds:
                  - string
                  bgp_config:
                    property1:
                      auth_key: string
                      bfd_minimum_interval: 0
                      communities:
                      - id: string
                        local_preference: 0
                        vpn_name: string
                      disable_bfd: false
                      export: string
                      export_policy: string
                      graceful_restart_time: 0
                      hold_time: 90
                      import: string
                      import_policy: string
                      imported_networks:
                      - dc-apps
                      local_as: 0
                      neighbor_as: 0
                      neighbors:
                        property1:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                        property2:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                      networks:
                      - string
                      no_readvertise_to_overlay: false
                      type: internal
                      via: lan
                      vpn_name: string
                      wan_name: string
                    property2:
                      auth_key: string
                      bfd_minimum_interval: 0
                      communities:
                      - id: string
                        local_preference: 0
                        vpn_name: string
                      disable_bfd: false
                      export: string
                      export_policy: string
                      graceful_restart_time: 0
                      hold_time: 90
                      import: string
                      import_policy: string
                      imported_networks:
                      - dc-apps
                      local_as: 0
                      neighbor_as: 0
                      neighbors:
                        property1:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                        property2:
                          export_policy: string
                          hold_time: 90
                          import_policy: string
                          multihop_ttl: 0
                          neighbor_as: 0
                      networks:
                      - string
                      no_readvertise_to_overlay: false
                      type: internal
                      via: lan
                      vpn_name: string
                      wan_name: string
                  created_time: 0
                  dhcpd_config:
                    property1:
                      dns_servers:
                      - 192.168.0.1
                      dns_suffix:
                      - string
                      fixed_bindings:
                        property1:
                          ip: 192.168.0.1
                          name: string
                        property2:
                          ip: 192.168.0.1
                          name: string
                      gateway: 192.168.0.1
                      ip_end: 192.168.0.1
                      ip_start: 192.168.0.1
                      servers:
                      - 192.168.0.1
                      type: local
                    property2:
                      dns_servers:
                      - 192.168.0.1
                      dns_suffix:
                      - string
                      fixed_bindings:
                        property1:
                          ip: 192.168.0.1
                          name: string
                        property2:
                          ip: 192.168.0.1
                          name: string
                      gateway: 192.168.0.1
                      ip_end: 192.168.0.1
                      ip_start: 192.168.0.1
                      servers:
                      - 192.168.0.1
                      type: local
                  extra_routes:
                    property1:
                      via: 192.168.0.1
                    property2:
                      via: 192.168.0.1
                  gateway_matching:
                    enable: true
                    rules:
                    - additional_config_cmds:
                      - string
                      name: string
                      port_config:
                        property1:
                          ae_disable_lacp: true
                          ae_idx: 0
                          aggregated: false
                          critical: true
                          description: string
                          disable_autoneg: false
                          duplex: auto
                          dynamic_usage: string
                          esilag: true
                          mtu: 1514
                          no_local_overwrite: true
                          poe_disabled: false
                          speed: auto
                          usage: string
                        property2:
                          ae_disable_lacp: true
                          ae_idx: 0
                          aggregated: false
                          critical: true
                          description: string
                          disable_autoneg: false
                          duplex: auto
                          dynamic_usage: string
                          esilag: true
                          mtu: 1514
                          no_local_overwrite: true
                          poe_disabled: false
                          speed: auto
                          usage: string
                      property1: string
                      property2: string
                  id: 497f6eca-6276-4993-bfeb-53dabbba6f08
                  ip_configs:
                    property1:
                      ip: 192.168.0.1
                      netmask: /24
                    property2:
                      ip: 192.168.0.1
                      netmask: /24
                  modified_time: 0
                  name: string
                  networks:
                    property1:
                      created_time: 0
                      disallow_mist_services: false
                      gateway: 192.168.70.1
                      hosts:
                        property1:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                        property2:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                      id: 497f6eca-6276-4993-bfeb-53dbbbba6f08
                      internal_access:
                        enabled: true
                      internet_access:
                        create_simple_service_policy: false
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                          property2:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                        enabled: true
                        restricted: false
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: printer-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: printer-1
                      isolation: true
                      modified_time: 0
                      name: string
                      org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      subnet: 192.168.70.0/24
                      tenants:
                        property1:
                          addresses: string
                        property2:
                          addresses: string
                      vlan_id: 0
                      vpn_access:
                        property1:
                          affinity: hub
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          no_readvertise_to_lan_bgp: false
                          no_readvertise_to_overlay: true
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                          summarized_subnet_to_lan_bgp: 172.16.0.0/16
                        property2:
                          affinity: hub
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          no_readvertise_to_lan_bgp: false
                          no_readvertise_to_overlay: true
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                          summarized_subnet_to_lan_bgp: 172.16.0.0/16
                    property2:
                      created_time: 0
                      disallow_mist_services: false
                      gateway: 192.168.70.1
                      hosts:
                        property1:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                        property2:
                          external_ips: 172.16.10.32-172.16.10.35
                          ips: 192.168.70.32-192.168.70.35
                      id: 497f6eca-6276-4993-bfeb-53dcbbba6f08
                      internal_access:
                        enabled: true
                      internet_access:
                        create_simple_service_policy: false
                        destination_nat:
                          property1:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                          property2:
                            internal_ip: 192.168.70.30
                            name: web server
                            port: 443
                        enabled: true
                        restricted: false
                        static_nat:
                          property1:
                            internal_ip: 192.168.70.3
                            name: printer-1
                          property2:
                            internal_ip: 192.168.70.3
                            name: printer-1
                      isolation: true
                      modified_time: 0
                      name: string
                      org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      subnet: 192.168.70.0/24
                      tenants:
                        property1:
                          addresses: string
                        property2:
                          addresses: string
                      vlan_id: 0
                      vpn_access:
                        property1:
                          affinity: hub
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          no_readvertise_to_lan_bgp: false
                          no_readvertise_to_overlay: true
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                          summarized_subnet_to_lan_bgp: 172.16.0.0/16
                        property2:
                          affinity: hub
                          allow_ping: true
                          destination_nat:
                            property1:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                            property2:
                              name: web server
                              port: 443
                              to: 192.168.70.5/30
                          nat_pool: 172.16.0.0/26
                          no_readvertise_to_lan_bgp: false
                          no_readvertise_to_overlay: true
                          routed: true
                          source_nat:
                            exteral_ip: 172.16.0.8/30
                          static_nat:
                            property1:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                            property2:
                              internal_ip: 192.168.70.3
                              name: pos-station-1
                          summarized_subnet: 172.16.0.0/16
                          summarized_subnet_to_lan_bgp: 172.16.0.0/16
                  oob_ip_config:
                    dns:
                    - string
                    dns_suffix:
                    - string
                    gateway: string
                    ip: string
                    netmask: string
                    network: string
                    node1:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                      use_mgmt_vrf: false
                      use_mgmt_vrf_for_host_out: false
                      vlan_id: 0
                    property1:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                    property2:
                      ip: string
                      netmask: string
                      network: string
                      type: dynamic
                    type: dynamic
                    use_mgmt_vrf: false
                    use_mgmt_vrf_for_host_out: false
                    vlan_id: 0
                  org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                  path_preferences:
                    property1:
                      paths:
                        cost: 0
                        gateway_ip: string
                        internet_access: false
                        name: string
                        networks:
                        - string
                        target_ips:
                        - string
                        type: local
                      strategy: ordered
                    property2:
                      paths:
                        cost: 0
                        gateway_ip: string
                        internet_access: false
                        name: string
                        networks:
                        - string
                        target_ips:
                        - string
                        type: local
                      strategy: ordered
                  port_config:
                    property1:
                      description: string
                      disable_autoneg: false
                      dsl_config:
                        ppoe_auth: none
                        ppoe_password: string
                        ppoe_username: string
                      duplex: full
                      ip_config:
                        dns:
                        - string
                        dns_suffix:
                        - string
                        gateway: string
                        ip: string
                        netmask: string
                        network: string
                        poser_password: string
                        ppoe_username: string
                        pppoe_auth: none
                        type: dhcp
                      lte_apn: string
                      lte_auth: none
                      lte_backup: true
                      lte_password: string
                      lte_username: string
                      mtu: 0
                      name: string
                      networks:
                      - string
                      outer_vlan_id: 0
                      poe_disabled: false
                      port_network: string
                      preserve_dscp: true
                      redundant: true
                      reth_idx: 0
                      reth_node: string
                      speed: 1g
                      svr_port_range: 60000-60005
                      traffic_shaping:
                        class_percentages:
                        - 0
                        enabled: false
                      usage: lan
                      vlan_id: 0
                      vpn_paths:
                        property1:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          bfd_use_tunnel_mode: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                        property2:
                          bfd_profile: broadband
                          bfd_udp_transform: false
                          bfd_use_tunnel_mode: false
                          role: spoke
                          traffic_shaping:
                            class_percentage:
                            - 0
                            enabled: true
                            max_tx_kbps: 0
                      wan_ext_ip: string
                      wan_source_nat:
                        disabled: false
                        nat_pool: 64.2.4.0/30
                      wan_type: broadband
                    property2:
                      description: string
                      disable_autoneg: false
                      dsl_config:
                        ppoe_auth: none
                        ppoe_password: string
                        ppoe_username: string
                      duplex: full
                      ip_config:
                        dns:
                        - string
                        dns_suffix:
                        - string
                        gateway: string
                        ip: string
                        netmask: string
                        network: string
                        poser_password: string
                        ppoe_username: string
                        pppoe_auth: none
                        type: dhcp
                      lte_apn: string
                      lte_auth: none
                      lte_backup: true
                      lte_password: string
                      lte_username: string
                      mtu: 0
                      name: string
[...]
