openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2401.1.2**

    >

    > Date: **Feb 1, 2024**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2311.1.4
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Login
- description: A Mist account can be linked to OAuth2 providers:\n1. First, login
    with your Mist account\n2. Obtain the Authorization URL for Linking 1. in JSON
    response, more usable for developers. Simply don\'t specify the forward parameter
    when obtaining the authorization URL 2. or as GET parameter, for UI where the
    user flow can be continued. Specify the landing page/url of your choice 3. Obtain
    the authorizaiton code by clicking / going through Authorization URL Link Mist
    Account against OAuth2 Provider by using the authorization code
  name: Login With OAuth2
- description: "In a typical enterprise, a separate group of people, Installers, are\
    \ responsible for install new devices. May it be a new installation (e.g. new\
    \ stores), a replacement installation (e.g. replacing Cisco APs with Mist APs),\
    \ or addition (e.g. adding new APs for better coverage). Instead of granting them\
    \ Admin/Write privilege, it's more desirable to grant them minimum privileges\
    \ to do the initial provisioning so they cannot read sensible information (e.g.\
    \ PSK of a WLAN), or change configs of running APs.\nAt a high level, Installer\
    \ APs try to achieve the following:\n1. identifying a device by MAC (that\u2019\
    s what they see)\n2. they can only touch configurations of the devices they\u2019\
    re installing\n3. allow the following configurations: * name * site assignment\
    \ * device  profile assignment * map and location (x/y) assignment * claim (if\
    \ not already in the inventory) * replace existing device with the device being\
    \ installed\n\n* Grace Period *\nGrace period provides a dynamic way to limit\
    \ what devices / sites   installer can work on. Generally installers work on recent\
    \ deployments -  bringing up new sites, add newly claimed devices to new / existing\
    \ sites. They  make mistakes, too, and may need to further tweak some of the parameters.\
    \   Default grace period is 7 days and can be set from 1 day to 365 days."
  name: Installer
- name: Admin
- name: Mobile
- description: MSP (Managed Service Provider) contains multiple Organizations.
  name: Msps
- name: Msps Admins
- name: Msps Inventory
- name: Msps Invites
- name: Msps Logo
- name: Msps Logs
- name: Msps Licenses
- name: Msps Marvis
- name: Msps Org Groups
- name: Msps Orgs
- name: Msps SLEs
- name: Msps SSO Roles
- name: Msps SSO
- name: Msps Stats
- name: Msps Tickets
- description: An organization usually represents a customer - which has inventories,
    licenses. An Organization can contain multiple sites. A site usually represents
    a deployment at the same location (a campus, an office).
  name: Orgs
- name: Orgs 128T
- name: Orgs Admins
- description: Alarms are triggered based on certain events. Alarms could be configured
    using an Alarm Template.
  name: Orgs Alarms
- description: An Alarm Template is a set of Alarm Rules that could be applied to
    one or more sites (while each site can only pick one Alarm Template), or to the
    whole org.
  name: Orgs Alarm Templates
- name: Orgs AP Templates
- name: Orgs API Tokens
- name: Orgs Assets
- name: Orgs Asset Filters
- name: Orgs Calls
- name: Orgs Cert
- name: Orgs Clients - NAC
- name: Orgs Clients - Wan
- name: Orgs Clients - Wired
- name: Orgs Clients - Wireless
- name: Orgs CRL
- description: 'While Templates / RF Templates / Network Templates / Gateway Templates
    provides powerful ways to control how a Device\''s configuration is derived for
    a Site. There are cases where you\''d like another level of control at the Org
    Level.

    A Device Profile contains a subset of Device\''s configurations you\''d like a
    device to have. It will be merged at runtime when we\''re provisioning an AP.'
  name: Orgs Device Profiles
- name: Orgs Devices
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Orgs EVPN Topologies
- description: API Call for 3rd party devices
  name: Orgs Devices Others
- name: Orgs Devices Stats
- name: Orgs Devices Upgrades
- description: "In Zscaler UI \n 1. add Partner Integration at https://admin.zscalerbeta.net/#administration/partner-integration\
    \ \n 2. Add Partner Administrator Role at https://admin.zscalerbeta.net/#administration/role-management\
    \ - Name: Mist - Access: Full \n 3. add Partner Admin at https://admin.zscalerbeta.net/#administration/admin-management\
    \ with - Login ID: john - email: john@abc.com \n 4. Find the cloud name for ZIA\
    \ https://help.zscaler.com/zia/what-my-cloud-name-zia\n"
  name: Orgs Devices Zscaler
- description: Gateway Template is applied to a site for gateway(s) in a site.
  name: Orgs Gateway Templates
- name: Orgs Guests
- name: Orgs IDP Profiles
- name: Orgs Inventory
- name: Orgs JSE
- description: "Juniper Support Insight is a free service provided to all Mist customers.\
    \ You can adopt your devices via a few lines CLI comands. Allowing you to \n*\
    \ get some basic information about the adopted devices \n* web shell into device\
    \ (write privilege required) \n* upgrade (write privilege required)"
  name: Orgs JSI
- name: Orgs Licenses
- name: Orgs Linked Applications
- name: Orgs Logs
- name: Orgs Marvis
- name: Orgs Maps
- name: Orgs MxClusters
- name: Orgs MxEdges
- name: Orgs MxTunnels
- name: Orgs NAC
- description: 'nactags are the building blocks to compose nacrules.

    They can either appear in the "matching" / "not_matching" sections of a nacrule,
    in which case they play the role of classifiers, or they could appear in the "apply_tags"
    section of the of a nacrule, in which case they influence the result.

    When the "type" field of nactag is "match", it can be used as the classfier of
    a nacrule. "match" field specifies the attribute name and "values" field specifies
    the list of attribute values to match on. When multiple values are specified,
    its treated as an OR condition between those values.

    When the "type" field of nactag is NOT "match", it can be used as the result of
    a nacrule. "type" field identifies the action to take and the corresponding field
    would provide any associated parameters to that action.'
  name: Orgs NAC Tags
- name: Orgs NAC CRL
- name: Orgs NAC Rules
- description: 'Network template is intended to be applied to a Site. It works like
    a blueprint of the network of the site.

    All Site Settings can go into Network Templates. See Site:Site Setting for schema

    Moreover, this can further be overwriten by individual Site Setting'
  name: Orgs Network Templates
- name: Orgs Networks
- name: Orgs Premium Analytics
- name: Orgs Psks
- description: "PSK Self-Service Portals are for \n  1. **WIFI users** who want to\
    \ connect to a WLAN with personal PSK, they\u2019re told to connect to a URL where\
    \ they can login (likely through company\u2019s SSO) and get the WIFI Name / Passphrase\
    \ - required input fields name, email so we can generate PSK \n  2. **PSK Admins**\
    \ (they don\u2019t have access to normal Network Admin Portal)\nWhen a PSK portal\
    \ is created, an unique URL will be generated (e.g. https://psk.mist.com/xxxxxx)"
  name: Orgs Psk Portals
- name: Orgs RF Templates
- name: Orgs SDK Clients
- name: Orgs SDK Templates
- description: "Security Policy is designed to audit / catch discripancies between\
    \ \u201Cwhat\u2019s intended to be running\u201D versus \u201Cwhat\u2019s actually\
    \ running\u201D in a network. Many big organizations have separated Security and\
    \ IT team (for good reasons). Each site can be assigned a security policy. Whenever\
    \ an AP is provisioned, the configuration will be checked against the security\
    \ policy. Any violations will be flagged in [Device Config History](/#operation/searchSiteDeviceConfigHistory)\
    \ where you can search for the when and where the violation occurs."
  name: Orgs SecPolicies
- name: Orgs Services
- name: Orgs Service Policies
- name: Orgs Setting
- name: Orgs Sitegroups
- name: Orgs Sites
- description: Site template is intended to be applied to a Site. The items in site
    setting which should be shared for all device types.
  name: Orgs Site Templates
- name: Orgs SLEs
- name: Orgs SSO Roles
- name: Orgs SSO
- name: Orgs Stats
- name: Orgs Subscriptions
- name: Orgs Templates
- name: Orgs Tickets
- name: Orgs Tunnels Stats
- name: Orgs Vars
- name: Orgs VPNs
- name: Orgs Webhooks
- name: Orgs Wlans
- name: Orgs WxRules
- name: Orgs WxTags
- name: Orgs WxTunnels
- description: A site represents a project, a deployment. For MSP, it can be as small
    as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps,
    Wlans, Policies, Zones.
  name: Sites
- name: Sites Alarms
- name: Sites AP Templates
- description: Applications contains a list of applications users are interested in
    monitoring / routing / policying
  name: Sites Applications
- name: Sites Anomaly
- name: Sites Asset Filters
- name: Sites Assets
- name: Sites Beacons
- name: Sites Calls
- name: Sites Clients - NAC
- name: Sites Clients - Wan
- name: Sites Clients - Wired
- name: Sites Clients - Wireless
- description: 'Mist provides many ways (device-type specific template, site template,
    device profile, per-device) to configure devices for different kind of scenarios.

    The precedence goes from most specific to least specific

    Device > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template
    > Site Template > Site Setting'
  name: Sites Devices
- name: Sites Devices - Wireless
- description: API Call for 3rd party devices
  name: Sites Devices Others
- name: Sites Devices - Wired
- name: Sites Devices - Wired Virtual Chassis
- name: Sites Devices - WAN
- name: Sites Devices - WAN HA
- name: Sites Devices Stats
- name: Sites Devices Upgrades
- name: Sites Devices Utilities
- name: Sites Events
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Sites EVPN Topologies
- name: Sites Guests
- name: Sites Insights
- name: Sites JSE
- name: Sites Licenses
- name: Sites Location
- name: Sites Maps
- name: Sites Maps Auto-orientation
- name: Sites Maps Auto-placement
- name: Sites MxEdges
- name: Sites MxTunnels
- name: Sites Network Templates
- name: Sites Networks
- name: Sites Pcaps
- name: Sites Psks
- name: Sites RF Templates
- name: Sites Rfdiags
- name: Sites Rogues
- name: Sites RRM
- name: Sites Rssizones
- name: Sites Services
- name: Sites Service Policies
- name: Sites Setting
- name: Sites Site Templates
- name: Sites Skyatp
- name: Sites SLEs
- name: Sites Stats
- name: Sites Subscriptions
- name: Sites Synthetic Tests
- name: Sites UI Settings
- name: Sites vBeacons
- name: Sites VPNs
- name: Sites Webhooks
- name: Sites Wlans
- name: Sites WxRules
- name: Sites WxTags
- name: Sites WxTunnels
- name: Sites Zones
- name: Constants
- name: Self Account
- description: "Like many other API providers, it\u2019s also possible to generate\
    \ API Tokens to be used (in HTTP Header) for authentication. An API token ties\
    \ to a Admin with equal or less privileges.\n\nNotes:\n* an API token generated\
    \ for a specific admin has the same privilege as the user\n* an API token will\
    \ be automatically removed if not used for > 90 days\n* SSO admins cannot generate\
    \ these API tokens. Refer Org level API tokens (/api/v1/docs/Org#api-token) which\
    \ can have privileges of a specific Org/Site for more information."
  name: Self API Token
- name: Self OAuth2
- name: Recover Password
- name: Self MFA
- name: Self Alarms
- name: Self Audit Logs
- name: Webhook Samples
paths:
  /webhook_example/_alarm_:
    parameters: []
    post:
      description: 'Webhook sample for `alarm` topic


        **Note**: The server host will be your own server FQDN where the Mist Cloud
        is sending the webhook messages'
      operationId: alarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  events:
                  - aps:
                    - string
                    bssids:
                    - string
                    count: 0
                    event_id: a7a26ff2-e851-45b6-9634-d595f45458b7
                    for_site: true
                    id: 489f6eca-6276-4993-bfeb-c3cbbbba1f08
                    last_seen: 0
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    ssids:
                    - string
                    timestamp: 0
                    type: string
                    update: true
                  topic: alarms
            schema:
              $ref: '#/components/schemas/webhook_alarms'
        description: "**N.B.**: Fields like `aps`, `bssids`, `ssids` are event specific.\
          \ They are relevant to this event type ( rogue-ap-detected). For a different\
          \ event type, different fields may be sent. These don\u2019t contain all\
          \ affected entities and are representative samples of entities (capped at\
          \ 10). For marvis action related events, we expose `details` to include\
          \ more event specific details.\n\nEvents specific fields for other alarm\
          \ event type can be found with API https://api.mist.com/api/v1/const/alarm_defs,\
          \ under \u201Cfields\u201D array of /alarm_defs response object."
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: alarms
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
  /webhook_example/_asset_raw_:
    parameters: []
    post:
      description: 'Webhook sample for `asset_raw` topic


        **Note**: The server host will be your own server FQDN where the Mist Cloud
        is sending the webhook messages


        **will be deprecated after 03/31/2024**'
      operationId: assetRaw
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  events:
                  - asset_id: b4695157-0d1d-4da0-8f9e-5c53149389e4
                    beam: 0
                    device_id: 3bafab7b-4400-4bcf-8e6e-09f954699940
                    ibeacon_major: 0
                    ibeacon_minor: 0
                    ibeacon_uuid: 1f89bc00-d0af-481b-82fe-a6629259a39f
                    mac: string
                    map_id: 09d2b626-2e4e-45ef-a3c4-e6aeb6c83db1
                    mfg_company_id: 0
                    mfg_data: string
                    rssi: 0
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    timestamp: 0
                  topic: asset-raw
            schema:
              $ref: '#/components/schemas/webhook_asset_raw'
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: assetRaw
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
  /webhook_example/_audit_:
    parameters: []
    post:
      description: 'Webhook sample for `audit` topic


        **Note**: The server host will be your own server FQDN where the Mist Cloud
        is sending the webhook messages'
      operationId: audits
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - admin_name: admin_name8
                    device_id: 00000380-0000-0000-0000-000000000000
                    id: 0000122a-0000-0000-0000-000000000000
                    message: message0
                    org_id: 00001302-0000-0000-0000-000000000000
                    site_id: 00000290-0000-0000-0000-000000000000
                    src_ip: src_ip6
                    timestamp: 157.68
                  topic: audits
            schema:
              $ref: '#/components/schemas/webhook_audits'
        description: ''
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: audits
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
  /webhook_example/_client_info_:
    parameters: []
    post:
      description: 'Webhook sample for `client_info` topic


        **Note**: The server host will be your own server FQDN where the Mist Cloud
        is sending the webhook messages

        '
      operationId: clientInfo
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  events:
                  - ap: string
                    ap_name: string
                    band: string
                    bssid: string
                    connect: 0
                    connect_float: 0
                    mac: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    rssi: 0
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    site_name: string
                    ssid: string
                    timestamp: 0
                    version: 0
                    wlan_id: 5028e92b-fc59-4056-91d1-ea4b4ca1617a
                  topic: client-info
            schema:
              $ref: '#/components/schemas/webhook_client_info'
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: clientJoin
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
  /webhook_example/_client_join_:
    parameters: []
    post:
      description: 'Webhook sample for `client_join` topic


        **Note**: The server host will be your own server FQDN where the Mist Cloud
        is sending the webhook messages

        '
      operationId: clientJoin
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  events:
                  - ap: string
                    ap_name: string
                    band: string
                    bssid: string
                    connect: 0
                    connect_float: 0
                    mac: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    rssi: 0
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    site_name: string
                    ssid: string
                    timestamp: 0
                    version: 0
                    wlan_id: 5028e92b-fc59-4056-91d1-ea4b4ca1617a
                  topic: client-join
            schema:
              $ref: '#/components/schemas/webhook_client_join'
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: clientJoin
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
  /webhook_example/_client_latency_:
    parameters: []
    post:
      description: 'Webhook sample for `client-latency` topic


        **Note**: The server host will be your own server FQDN where the Mist Cloud
        is sending the webhook messages'
      operationId: client_latency
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - auth: 0.17170219
                    dhcp: 0.017828934
                    dns: 0.024532124
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    timestamp: 1696401600
                  topic: client-latency
            schema:
              $ref: '#/components/schemas/webhook_client_latency'
        description: ''
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: alarms
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
  /webhook_example/_client_sessions_:
    parameters: []
    post:
      description: 'Webhook sample for `client_sessions` topic


        **Note**: The server host will be your own server FQDN where the Mist Cloud
        is sending the webhook messages

        '
      operationId: clientSessions
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  events:
                  - ap: string
                    ap_name: string
                    band: string
                    bssid: string
                    client_family: string
                    client_manufacture: string
                    client_model: string
                    client_os: string
                    connect: 0
                    connect_float: 0
                    disconnect: 0
                    disconnect_float: 0
                    duration: 0
                    mac: string
                    next_ap: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    rssi: 0
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    site_name: string
                    ssid: string
                    termination_reason: 0
                    timestamp: 0
                    version: 0
                    wlan_id: 5028e92b-fc59-4056-91d1-ea4b4ca1617a
                  topic: client-sessions
            schema:
              $ref: '#/components/schemas/webhook_client_sessions'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
      summary: clientSessions
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
  /webhook_example/_device_events_:
    parameters: []
    post:
      description: 'Webhook sample for `device_events` topic


        **Note**: The server host will be your own server FQDN where the Mist Cloud
        is sending the webhook messages

        '
      operationId: deviceEvents
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  events:
                  - ap: string
                    ap_name: string
                    audit_id: 78c04fa6-cfb4-46a0-9aa5-3681ba4f3897
                    device_name: string
                    device_type: ap
                    ev_type: notice
                    mac: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    reason: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    site_name: string
                    text: string
                    timestamp: 0
                    type: string
                  topic: device-events
            schema:
              $ref: '#/components/schemas/webhook_device_events'
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: deviceEvents
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
  /webhook_example/_device_updowns_:
    parameters: []
    post:
      description: 'Webhook sample for `device_updowns` topic


        **Note**: The server host will be your own server FQDN where the Mist Cloud
        is sending the webhook messages

        '
      operationId: deviceUpDown
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  events:
                  - ap: string
                    ap_name: string
                    for_site: true
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    site_name: string
                    timestamp: 0
                    type: string
                  topic: device-updowns
            schema:
              $ref: '#/components/schemas/webhook_device_updowns'
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: deviceUpDown
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
  /webhook_example/_discovered_raw_rssi_:
    parameters: []
    post:
      description: 'Webhook sample for `discovered-raw-rssi` topic


        **Note**: The server host will be your own server FQDN where the Mist Cloud
        is sending the webhook messages

        '
      operationId: discovered-raw-rssi
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - ap_loc:
                    - 0
                    beam: 0
                    device_id: 3bafab7b-4400-4bcf-8e6e-09f954699940
                    ibeacon_major: 0
                    ibeacon_minor: 0
                    ibeacon_uuid: 1f89bc00-d0af-481b-82fe-a6629259a39f
                    is_asset: true
                    mac: string
                    map_id: 09d2b626-2e4e-45ef-a3c4-e6aeb6c83db1
                    mfg_company_id: string
                    mfg_data: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    rssi: 0
                    service_packets:
                    - service_data: string
                      service_uuid: 7138cc00-c611-4dec-a05e-5c4b1cae13c0
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    timestamp: 0
                  topic: string
            schema:
              $ref: '#/components/schemas/webhook_discovered_raw_rssi'
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: discovered-raw-rssi
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
  /webhook_example/_location_:
    parameters: []
    post:
      description: 'Webhook sample for `location` topic


        **Note**: The server host will be your own server FQDN where the Mist Cloud
        is sending the webhook messages

        '
      operationId: location
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  events:
                  - battery_voltage: 0
                    eddystone_uid_instance: string
                    eddystone_uid_namespace: string
                    eddystone_url_url: string
                    ibeacon_major: 0
                    ibeacon_minor: 0
                    ibeacon_uuid: 1f89bc00-d0af-481b-82fe-a6629259a39f
                    id: 487f6eca-6276-4993-bfeb-e3cbbbba3f08
                    mac: string
                    map_id: 09d2b626-2e4e-45ef-a3c4-e6aeb6c83db1
                    mfg_company_id: 0
                    mfg_data: string
                    name: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    timestamp: 0
                    type: string
                    x: 0
                    y: 0
                  topic: location
            schema:
              $ref: '#/components/schemas/webhook_location'
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: location
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
  /webhook_example/_nac_accounting_:
    parameters: []
    post:
      description: 'Webhook sample for `nac-accounting` topic


        **Note**: The server host will be your own server FQDN where the Mist Cloud
        is sending the webhook messages

        '
      operationId: nacAccounting
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - ap: 5c5b355005be
                    auth_type: eap-tls
                    bssid: 5c5b35546bb4
                    client_ip: 172.16.87.4
                    client_type: wireless
                    mac: 6e795836d5f9
                    nas_vendor: juniper-mist
                    org_id: 625aba64-fe72-4b14-8985-cbf31ec3d78a
                    rx_pkts: 9523
                    site_id: ec9d1e85-af24-43f9-8d65-d620580e8631
                    ssid: Test-CMR SSID
                    timestamp: 1547235620.89
                    tx_pkts: 5233
                    type: NAC_ACCOUNTING_STOP
                    username: hi
                  topic: nac-accounting
            schema:
              $ref: '#/components/schemas/webhook_nac_accounting'
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: nacAccounting
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
  /webhook_example/_nac_events_:
    parameters: []
    post:
      description: Example Delivery of nac-events
      operationId: nac-events
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - ap: 5c5b35513227
                    auth_type: 802.1X
                    bssid: 5c5b355fafcc
                    dryrun_nacrule_id: 32f27e7d-ff26-4a9b-b3d1-ff9bcb264012
                    dryrun_nacrule_matched: true
                    idp_id: 912ef72e-2239-4996-b81e-469e87a27cd6
                    idp_role:
                    - itsuperusers
                    - vip
                    mac: ac3eb179e535
                    nacrule_id: 32f27e7d-ff26-4a9b-b3d1-ff9bcb264c62
                    nacrule_matched: true
                    nas_vendor: juniper-mist
                    org_id: 27547ac2-d114-4e04-beb1-f3f1e6e81ec6
                    random_mac: true
                    resp_attrs:
                    - Tunnel-Type=VLAN
                    - Tunnel-Medium-Type=IEEE-802
                    - Tunnel-Private-Group-Id=750
                    - User-Name=anonymous
                    site_id: 441a1214-6928-442a-8e92-e1d34b8ec6a6
                    ssid: '##mist_nac'
                    timestamp: 1691512031.358188
                    type: NAC_CLIENT_PERMIT
                    username: user@deaflyz.net
                    vlan: '750'
                  topic: string
            schema:
              $ref: '#/components/schemas/webhook_nac_events'
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: nac-events
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
  /webhook_example/_occupancy_alerts_:
    parameters: []
    post:
      description: 'Webhook sample for `occupancy_alerts` topic


        **Note**: The server host will be your own server FQDN where the Mist Cloud
        is sending the webhook messages

        '
      operationId: occupancyAlerts
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  events:
                  - alert_events:
                    - current_occupancy: 0
                      map_id: 09d2b626-2e4e-45ef-a3c4-e6aeb6c83db1
                      occupancy_limit: 0
                      org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                      timestamp: 0
                      type: COMPLIANCE-VIOLATION
                      zone_id: 4495020a-236f-46e0-9453-e3f9cc6476f4
                      zone_name: string
                    for_site: true
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    site_name: string
                  topic: occupancy-alerts
            schema:
              $ref: '#/components/schemas/webhook_occupancy_alerts'
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: occupancyAlerts
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
  /webhook_example/_ping_:
    parameters: []
    post:
      description: 'Webhook sample for `ping` topic


        **Note**: The server host will be your own server FQDN where the Mist Cloud
        is sending the webhook messages

        '
      operationId: ping
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  events:
                  - id: 487f6eca-6276-4993-bfeb-f3cbbbba4f08
                    name: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    timestamp: 0
                  topic: ping
            schema:
              $ref: '#/components/schemas/webhook_ping'
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: ping
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
  /webhook_example/_sdkclient_scan_data:
    parameters: []
    post:
      description: 'Webhook sample for `sdkclient_scan_data` topic


        **Note**: The server host will be your own server FQDN where the Mist Cloud
        is sending the webhook messages

        '
      operationId: sdkclientScanData
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  events:
                  - connection_ap: 5c5b352f587e
                    connection_band: '2.4'
                    connection_bssid: 5c5b352b51b4
                    connection_channel: 11
                    connection_rssi: -87
                    last_seen: 1592333828
                    mac: 70ef0071535f
                    scan_data:
                    - ap: 5c5b352f587e
                      band: '2.4'
                      bssid: 5c5b352b51b4
                      channel: 11
                      rssi: -87
                      ssid: mist-wifi
                      timestamp: 1592333828
                    - ap: 5c5b352f587e
                      band: '5'
                      bssid: 5c5b352b51b8
                      channel: 36
                      rssi: -75
                      ssid: mist-wifi
                      timestamp: 1592333828
                    site_id: d761985e-49b1-4506-88e9-e0368a05c301
                  topic: sdkclient-scan-data
            schema:
              $ref: '#/components/schemas/webhook_sdkclient-scan-data'
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: sdkclientScanData
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
  /webhook_example/_site_sle_:
    parameters: []
    post:
      description: 'Webhook sample for `site-sle` topic


        **Note**: The server host will be your own server FQDN where the Mist Cloud
        is sending the webhook messages'
      operationId: site-sle
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  events:
                  - org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    sle:
                      ap-availability: 0.6
                      successful-connect: 0.7
                      time-to-connect: 0.9
                    timestamp: 1694620800
                  topic: site-sle
            schema:
              $ref: '#/components/schemas/webhook_site_sle'
        description: ''
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: site-sle
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
  /webhook_example/_zone_:
    parameters: []
    post:
      description: 'Webhook sample for `zone` topic


        **Note**: The server host will be your own server FQDN where the Mist Cloud
        is sending the webhook messages

        '
      operationId: zone
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  events:
                  - asset_id: b4695157-0d1d-4da0-8f9e-5c53149389e4
                    id: 485f6eca-6276-4993-bfeb-54cbbbba5f08
                    mac: string
                    map_id: 09d2b626-2e4e-45ef-a3c4-e6aeb6c83db1
                    name: string
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    timestamp: 0
                    trigger: enter
                    type: string
                    zone_id: 4495020a-236f-46e0-9453-e3f9cc6476f4
                  topic: zone
            schema:
              $ref: '#/components/schemas/webhook_zone'
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: zone
      tags:
      - Webhook Samples
      - cat:SAMPLES:CONFIGURE
components:
  parameters:
    admin_id:
      $ref: ./components/parameters/admin_id.yml
    alarm_id:
      $ref: ./components/parameters/alarm_id.yml
    alarmtemplate_id:
      $ref: ./components/parameters/alarmtemplate_id.yml
    apitoken_id:
      $ref: ./components/parameters/apitoken_id.yml
    aptemplate_id:
      $ref: ./components/parameters/aptemplate_id.yml
    asset_id:
      $ref: ./components/parameters/asset_id.yml
    assetfilter_id:
      $ref: ./components/parameters/assetfilter_id.yml
    beacon_id:
      $ref: ./components/parameters/beacon_id.yml
    client_mac:
      $ref: ./components/parameters/client_mac.yml
    country_code:
      $ref: ./components/parameters/country_code.yml
    device_id:
      $ref: ./components/parameters/device_id.yml
    device_mac:
      $ref: ./components/parameters/device_mac.yml
    duration:
      $ref: ./components/parameters/duration.yml
    end:
      $ref: ./components/parameters/end.yml
    evpn_topology_id:
      $ref: ./components/parameters/evpn_topology_id.yml
    gatewaytemplate_id:
      $ref: ./components/parameters/gatewaytemplate_id.yml
    guest_mac:
      $ref: ./components/parameters/guest_mac.yml
    idpprofile_id:
      $ref: ./components/parameters/idpprofile_id.yml
    image_name:
      $ref: ./components/parameters/image_name.yml
    interval:
      $ref: ./components/parameters/interval.yml
    invite_id:
      $ref: ./components/parameters/invite_id.yml
    ip:
      $ref: ./components/parameters/ip.yml
    limit:
      $ref: ./components/parameters/limit.yml
    map_id:
      $ref: ./components/parameters/map_id.yml
    metric:
      $ref: ./components/parameters/metric.yml
    msp_id:
      $ref: ./components/parameters/msp_id.yml
    mxcluster_id:
      $ref: ./components/parameters/mxcluster_id.yml
    mxedge_id:
      $ref: ./components/parameters/mxedge_id.yml
    mxtunnel_id:
      $ref: ./components/parameters/mxtunnel_id.yml
    nacrule_id:
      $ref: ./components/parameters/nacrule_id.yml
    nactag_id:
      $ref: ./components/parameters/nactag_id.yml
    name:
      $ref: ./components/parameters/name.yml
    network_id:
      $ref: ./components/parameters/network_id.yml
    org_id:
      $ref: ./components/parameters/org_id.yml
    orggroup_id:
      $ref: ./components/parameters/orggroup_id.yml
    page:
      $ref: ./components/parameters/page.yml
    psk_id:
      $ref: ./components/parameters/psk_id.yml
    psk_id_query:
      $ref: ./components/parameters/psk_id_query.yml
    pskportal_id:
      $ref: ./components/parameters/pskportal_id.yml
    q:
      $ref: ./components/parameters/q.yml
    resolution:
      $ref: ./components/parameters/resolution.yml
    rfdiag_id:
      $ref: ./components/parameters/rfdiag_id.yml
    rftemplate_id:
      $ref: ./components/parameters/rftemplate_id.yml
    rogue_bssid:
      $ref: ./components/parameters/rogue_bssid.yml
    rogue_type:
      $ref: ./components/parameters/rogue_type.yml
    rssizone_id:
      $ref: ./components/parameters/rssizone_id.yml
    sdkclient_id:
      $ref: ./components/parameters/sdkclient_id.yml
    sdkinvite_id:
      $ref: ./components/parameters/sdkinvite_id.yml
    sdktemplate_id:
      $ref: ./components/parameters/sdktemplate_id.yml
    secpolicy_id:
      $ref: ./components/parameters/secpolicy_id.yml
    secret:
      $ref: ./components/parameters/secret.yml
    service_id:
      $ref: ./components/parameters/service_id.yml
    servicepolicy_id:
      $ref: ./components/parameters/servicepolicy_id.yml
    site_id:
      $ref: ./components/parameters/site_id.yml
    site_name:
      $ref: ./components/parameters/site_name.yml
    sitegroup_id:
      $ref: ./components/parameters/sitegroup_id.yml
    sitetemplate_id:
      $ref: ./components/parameters/sitetemplate_id.yml
    sso_id:
      $ref: ./components/parameters/sso_id.yml
    ssorole_id:
      $ref: ./components/parameters/ssorole_id.yml
    start:
      $ref: ./components/parameters/start.yml
    template_id:
      $ref: ./components/parameters/template_id.yml
    ticket_id:
      $ref: ./components/parameters/ticket_id.yml
    token:
      $ref: ./components/parameters/token.yml
    uisetting_id:
      $ref: ./components/parameters/uisetting_id.yml
    upgrade_id:
      $ref: ./components/parameters/upgrade_id.yml
    vbeacon_id:
      $ref: ./components/parameters/vbeacon_id.yml
    vpn_id:
      $ref: ./components/parameters/vpn_id.yml
    webhook_id:
      $ref: ./components/parameters/webhook_id.yml
    wlan_id:
      $ref: ./components/parameters/wlan_id.yml
    wxrules_id:
      $ref: ./components/parameters/wxrules_id.yml
    wxtag_id:
      $ref: ./components/parameters/wxtag_id.yml
    wxtunnel_id:
      $ref: ./components/parameters/wxtunnel_id.yml
    zone_id:
      $ref: ./components/parameters/zone_id.yml
    zone_type:
      $ref: ./components/parameters/zone_type.yml
  responses:
    Admin:
      $ref: ./components/responses/Admin.yml
    AdminsArray:
      $ref: ./components/responses/AdminsArray.yml
    AlarmsSearch:
      $ref: ./components/responses/AlarmsSearch.yml
    Alarmtemplate:
      $ref: ./components/responses/Alarmtemplate.yml
    AlarmtemplatesArray:
      $ref: ./components/responses/AlarmtemplatesArray.yml
    AnomalyMetrics:
      $ref: ./components/responses/AnomalyMetrics.yml
    ApitokenOrg:
      $ref: ./components/responses/ApitokenOrg.yml
    ApitokenUser:
      $ref: ./components/responses/ApitokenUser.yml
    ApitokensOrgArray:
      $ref: ./components/responses/ApitokensOrgArray.yml
    ApitokensUserArray:
      $ref: ./components/responses/ApitokensUserArray.yml
    Aptemplate:
      $ref: ./components/responses/Aptemplate.yml
    AptemplatesArray:
      $ref: ./components/responses/AptemplatesArray.yml
    Asset:
      $ref: ./components/responses/Asset.yml
    AssetOfInterestArray:
      $ref: ./components/responses/AssetOfInterestArray.yml
    AssetStats:
      $ref: ./components/responses/AssetStats.yml
    Assetfilter:
      $ref: ./components/responses/Assetfilter.yml
    AssetfiltersArray:
      $ref: ./components/responses/AssetfiltersArray.yml
    AssetsArray:
      $ref: ./components/responses/AssetsArray.yml
    AssetsArrayStats:
      $ref: ./components/responses/AssetsArrayStats.yml
    AssetsArrayStatsSearch:
      $ref: ./components/responses/AssetsArrayStatsSearch.yml
    Beacon:
      $ref: ./components/responses/Beacon.yml
    BeaconsArray:
      $ref: ./components/responses/BeaconsArray.yml
    BgpStatsArraySearch:
      $ref: ./components/responses/BgpStatsArraySearch.yml
    CallEventsArraySearch:
      $ref: ./components/responses/CallEventsArraySearch.yml
    CallStatsArray:
      $ref: ./components/responses/CallStatsArray.yml
    CallTroubleshoot:
      $ref: ./components/responses/CallTroubleshoot.yml
    Certificate:
      $ref: ./components/responses/Certificate.yml
    ClientEventsSearch:
      $ref: ./components/responses/ClientEventsSearch.yml
    ClientNacSearch:
      $ref: ./components/responses/ClientNacSearch.yml
    ClientSessionsSearch:
      $ref: ./components/responses/ClientSessionsSearch.yml
    ClientsSearch:
      $ref: ./components/responses/ClientsSearch.yml
    ConstAlarmDefs:
      $ref: ./components/responses/ConstAlarmDefs.yml
    ConstApChannels:
      $ref: ./components/responses/ConstApChannels.yml
    ConstApLedArray:
      $ref: ./components/responses/ConstApLedArray.yml
    ConstApplications:
      $ref: ./components/responses/ConstApplications.yml
    ConstClientEventsArray:
      $ref: ./components/responses/ConstClientEventsArray.yml
    ConstCrountriesArray:
      $ref: ./components/responses/ConstCrountriesArray.yml
    ConstDeviceEventsArray:
      $ref: ./components/responses/ConstDeviceEventsArray.yml
    ConstDeviceModels:
      $ref: ./components/responses/ConstDeviceModels.yml
    ConstInsightMetrics:
      $ref: ./components/responses/ConstInsightMetrics.yml
    ConstLanaguagesArray:
      $ref: ./components/responses/ConstLanaguagesArray.yml
    ConstLicenceTypesArray:
      $ref: ./components/responses/ConstLicenceTypesArray.yml
    ConstNacEventsArray:
      $ref: ./components/responses/ConstNacEventsArray.yml
    ConstTrafficTypesArray:
      $ref: ./components/responses/ConstTrafficTypesArray.yml
    DeviceConfigCmd:
      $ref: ./components/responses/DeviceConfigCmd.yml
    DeviceEventsSearch:
      $ref: ./components/responses/DeviceEventsSearch.yml
    DeviceIot:
      $ref: ./components/responses/DeviceIot.yml
    DeviceOther:
      $ref: ./components/responses/DeviceOther.yml
    DeviceOtherArray:
      $ref: ./components/responses/DeviceOtherArray.yml
    DeviceOtherStats:
      $ref: ./components/responses/DeviceOtherStats.yml
    DeviceRadioChannels:
      $ref: ./components/responses/DeviceRadioChannels.yml
    EventsFastroam:
      $ref: ./components/responses/EventsFastroam.yml
    EventsNacClientSearch:
      $ref: ./components/responses/EventsNacClientSearch.yml
    EventsOtherDevicesSearch:
      $ref: ./components/responses/EventsOtherDevicesSearch.yml
    EventsSearch:
      $ref: ./components/responses/EventsSearch.yml
    EvpnTopology:
      $ref: ./components/responses/EvpnTopology.yml
    File:
      $ref: ./components/responses/File.yml
    Gatewaytemplate:
      $ref: ./components/responses/Gatewaytemplate.yml
    GatewaytemplatesArray:
      $ref: ./components/responses/GatewaytemplatesArray.yml
    Guest:
      $ref: ./components/responses/Guest.yml
    GuestsArray:
      $ref: ./components/responses/GuestsArray.yml
    GuestsSearch:
      $ref: ./components/responses/GuestsSearch.yml
    HTTP400:
      $ref: ./components/responses/HTTP400.yml
    HTTP401:
      $ref: ./components/responses/HTTP401.yml
    HTTP403:
      $ref: ./components/responses/HTTP403.yml
    HTTP404:
      $ref: ./components/responses/HTTP404.yml
    HTTP429:
      $ref: ./components/responses/HTTP429.yml
    IdpProfile:
      $ref: ./components/responses/IdpProfile.yml
    IdpProfileArray:
      $ref: ./components/responses/IdpProfileArray.yml
    InsightMetric:
      $ref: ./components/responses/InsightMetric.yml
    InsightRogue:
      $ref: ./components/responses/InsightRogue.yml
    InsightRogueClients:
      $ref: ./components/responses/InsightRogueClients.yml
    InstallerAlarmtemplatesArray:
      $ref: ./components/responses/InstallerAlarmtemplatesArray.yml
    InstallerDevicesArray:
      $ref: ./components/responses/InstallerDevicesArray.yml
    InstallerSecpoliciesArray:
      $ref: ./components/responses/InstallerSecpoliciesArray.yml
    InstallerSitegroupsArray:
      $ref: ./components/responses/InstallerSitegroupsArray.yml
    InstallerSitesArray:
      $ref: ./components/responses/InstallerSitesArray.yml
    JseInfo:
      $ref: ./components/responses/JseInfo.yml
    Licence:
      $ref: ./components/responses/Licence.yml
    LicenceUsage:
      $ref: ./components/responses/LicenceUsage.yml
    LogsSearch:
      $ref: ./components/responses/LogsSearch.yml
    MacsArray:
      $ref: ./components/responses/MacsArray.yml
    Map:
      $ref: ./components/responses/Map.yml
    MapImport:
      $ref: ./components/responses/MapImport.yml
    MapsArray:
      $ref: ./components/responses/MapsArray.yml
    Ml:
      $ref: ./components/responses/Ml.yml
    Msp:
      $ref: ./components/responses/Msp.yml
    MxEdgeEventsSearch:
      $ref: ./components/responses/MxEdgeEventsSearch.yml
    MxEdgeSearch:
      $ref: ./components/responses/MxEdgeSearch.yml
    MxEdgeUpgrade:
      $ref: ./components/responses/MxEdgeUpgrade.yml
    MxEdgeUpgradesArray:
      $ref: ./components/responses/MxEdgeUpgradesArray.yml
    Mxcluster:
      $ref: ./components/responses/Mxcluster.yml
    MxclustersArray:
      $ref: ./components/responses/MxclustersArray.yml
    Mxedge:
      $ref: ./components/responses/Mxedge.yml
    MxedgeStats:
      $ref: ./components/responses/MxedgeStats.yml
    MxedgeStatsArray:
      $ref: ./components/responses/MxedgeStatsArray.yml
    MxedgeUpdateInfo:
      $ref: ./components/responses/MxedgeUpdateInfo.yml
    MxedgesArray:
      $ref: ./components/responses/MxedgesArray.yml
    MxedgesArrayStats:
      $ref: ./components/responses/MxedgesArrayStats.yml
    Mxtunnel:
      $ref: ./components/responses/Mxtunnel.yml
    MxtunnelsArray:
      $ref: ./components/responses/MxtunnelsArray.yml
    NacRule:
      $ref: ./components/responses/NacRule.yml
    NacRulesArray:
      $ref: ./components/responses/NacRulesArray.yml
    NacTag:
      $ref: ./components/responses/NacTag.yml
    NacTagsArray:
      $ref: ./components/responses/NacTagsArray.yml
    Network:
      $ref: ./components/responses/Network.yml
    NetworksArray:
      $ref: ./components/responses/NetworksArray.yml
    OK:
      $ref: ./components/responses/OK.yml
    OauthAppLink:
      $ref: ./components/responses/OauthAppLink.yml
    Org:
      $ref: ./components/responses/Org.yml
    OrgInventory:
      $ref: ./components/responses/OrgInventory.yml
    OrgInventoryAdd:
      $ref: ./components/responses/OrgInventoryAdd.yml
    OrgInventoryChanges:
      $ref: ./components/responses/OrgInventoryChanges.yml
    OrgSetting:
      $ref: ./components/responses/OrgSetting.yml
    OrgSiteSle:
      $ref: ./components/responses/OrgSiteSle.yml
    OrgStats:
      $ref: ./components/responses/OrgStats.yml
    Orggroup:
      $ref: ./components/responses/Orggroup.yml
    OrggroupsArray:
      $ref: ./components/responses/OrggroupsArray.yml
    OrggroupsSearch:
      $ref: ./components/responses/OrggroupsSearch.yml
    OrgsArray:
      $ref: ./components/responses/OrgsArray.yml
    OrgsArrayStats:
      $ref: ./components/responses/OrgsArrayStats.yml
    OrgsSearch:
      $ref: ./components/responses/OrgsSearch.yml
    PortStatsSearch:
      $ref: ./components/responses/PortStatsSearch.yml
    Psk:
      $ref: ./components/responses/Psk.yml
    PskPortal:
      $ref: ./components/responses/PskPortal.yml
    PskPortalsArray:
      $ref: ./components/responses/PskPortalsArray.yml
    PsksArray:
      $ref: ./components/responses/PsksArray.yml
    Recaptcha:
      $ref: ./components/responses/Recaptcha.yml
    Rfdiag:
      $ref: ./components/responses/Rfdiag.yml
    RfdiagsArray:
      $ref: ./components/responses/RfdiagsArray.yml
    Rftemplate:
      $ref: ./components/responses/Rftemplate.yml
    RftemplatesArray:
      $ref: ./components/responses/RftemplatesArray.yml
    RogueEventsSearch:
      $ref: ./components/responses/RogueEventsSearch.yml
    Rrm:
      $ref: ./components/responses/Rrm.yml
    RrmConsideration:
      $ref: ./components/responses/RrmConsideration.yml
    RrmEvents:
      $ref: ./components/responses/RrmEvents.yml
    Rssizone:
      $ref: ./components/responses/Rssizone.yml
    RssizonesArray:
      $ref: ./components/responses/RssizonesArray.yml
    Sdkinvite:
      $ref: ./components/responses/Sdkinvite.yml
    SdkinvitesArray:
      $ref: ./components/responses/SdkinvitesArray.yml
    Sdktemplate:
      $ref: ./components/responses/Sdktemplate.yml
    SdktemplatesArray:
      $ref: ./components/responses/SdktemplatesArray.yml
    SecpoliciesArray:
      $ref: ./components/responses/SecpoliciesArray.yml
    Secpolicy:
      $ref: ./components/responses/Secpolicy.yml
    Service:
      $ref: ./components/responses/Service.yml
    ServicePathEventsSearch:
      $ref: ./components/responses/ServicePathEventsSearch.yml
    ServicePoliciesArray:
      $ref: ./components/responses/ServicePoliciesArray.yml
    ServicePolicy:
      $ref: ./components/responses/ServicePolicy.yml
    ServicesArray:
      $ref: ./components/responses/ServicesArray.yml
    Session:
      $ref: ./components/responses/Session.yml
    Site:
      $ref: ./components/responses/Site.yml
    SiteSettings:
      $ref: ./components/responses/SiteSettings.yml
    SiteTemplate:
      $ref: ./components/responses/SiteTemplate.yml
    SiteTemplatesArray:
      $ref: ./components/responses/SiteTemplatesArray.yml
    Sitegroup:
      $ref: ./components/responses/Sitegroup.yml
    SitegroupsArray:
      $ref: ./components/responses/SitegroupsArray.yml
    SitesArray:
      $ref: ./components/responses/SitesArray.yml
    SitesSearch:
      $ref: ./components/responses/SitesSearch.yml
    SleClassifierSummary:
      $ref: ./components/responses/SleClassifierSummary.yml
    SleHistogram:
      $ref: ./components/responses/SleHistogram.yml
    SleImpactSummary:
      $ref: ./components/responses/SleImpactSummary.yml
    SleImpactedApplications:
      $ref: ./components/responses/SleImpactedApplications.yml
    SleImpactedAps:
      $ref: ./components/responses/SleImpactedAps.yml
    SleImpactedChassis:
      $ref: ./components/responses/SleImpactedChassis.yml
    SleImpactedClients:
      $ref: ./components/responses/SleImpactedClients.yml
    SleImpactedGateways:
      $ref: ./components/responses/SleImpactedGateways.yml
    SleImpactedInterfaces:
      $ref: ./components/responses/SleImpactedInterfaces.yml
    SleImpactedSwitches:
      $ref: ./components/responses/SleImpactedSwitches.yml
    SleImpactedUsers:
      $ref: ./components/responses/SleImpactedUsers.yml
    SleSummary:
      $ref: ./components/responses/SleSummary.yml
    SleThreshold:
      $ref: ./components/responses/SleThreshold.yml
    Sso:
      $ref: ./components/responses/Sso.yml
    SsoLatestFailures:
      $ref: ./components/responses/SsoLatestFailures.yml
    SsoSamlMetadata:
      $ref: ./components/responses/SsoSamlMetadata.yml
    Ssorole:
      $ref: ./components/responses/Ssorole.yml
    SsorolesArray:
      $ref: ./components/responses/SsorolesArray.yml
    SsosArray:
      $ref: ./components/responses/SsosArray.yml
    SsrUpgrade:
      $ref: ./components/responses/SsrUpgrade.yml
    SsrUpgradesArray:
      $ref: ./components/responses/SsrUpgradesArray.yml
    SwitchPortsSearch:
      $ref: ./components/responses/SwitchPortsSearch.yml
    SyntheticTest:
      $ref: ./components/responses/SyntheticTest.yml
    SynthetictestStatus:
      $ref: ./components/responses/SynthetictestStatus.yml
    Template:
      $ref: ./components/responses/Template.yml
    TemplatesArray:
      $ref: ./components/responses/TemplatesArray.yml
    Ticket:
      $ref: ./components/responses/Ticket.yml
    TicketsArray:
      $ref: ./components/responses/TicketsArray.yml
    Troubleshoot:
      $ref: ./components/responses/Troubleshoot.yml
    TunnelsSearch:
      $ref: ./components/responses/TunnelsSearch.yml
    TwoFactorSecret:
      $ref: ./components/responses/TwoFactorSecret.yml
    UiSettings:
      $ref: ./components/responses/UiSettings.yml
    UiSettingsArray:
      $ref: ./components/responses/UiSettingsArray.yml
    VBeacon:
      $ref: ./components/responses/VBeacon.yml
    VBeaconsArray:
      $ref: ./components/responses/VBeaconsArray.yml
    Vc:
      $ref: ./components/responses/Vc.yml
    Vpn:
      $ref: ./components/responses/Vpn.yml
    VpnsArray:
      $ref: ./components/responses/VpnsArray.yml
    WanClientEventsSearch:
      $ref: ./components/responses/WanClientEventsSearch.yml
    WanClientsSearch:
      $ref: ./components/responses/WanClientsSearch.yml
    Webhook:
      $ref: ./components/responses/Webhook.yml
    WebhookDeliverySearch:
      $ref: ./components/responses/WebhookDeliverySearch.yml
    WebhooksArray:
      $ref: ./components/responses/WebhooksArray.yml
    WiredClientsSearch:
      $ref: ./components/responses/WiredClientsSearch.yml
    WirelessClientSessionsSearch:
      $ref: ./components/responses/WirelessClientSessionsSearch.yml
    Wlan:
      $ref: ./components/responses/Wlan.yml
    WlansArray:
      $ref: ./components/responses/WlansArray.yml
    WxTagsMatchingArray:
      $ref: ./components/responses/WxTagsMatchingArray.yml
    Wxrule:
      $ref: ./components/responses/Wxrule.yml
    WxruleArray:
      $ref: ./components/responses/WxruleArray.yml
    WxruleStatsArray:
      $ref: ./components/responses/WxruleStatsArray.yml
    Wxtag:
      $ref: ./components/responses/Wxtag.yml
    WxtagArray:
      $ref: ./components/responses/WxtagArray.yml
    WxtagClients:
      $ref: ./components/responses/WxtagClients.yml
    Wxtunnel:
      $ref: ./components/responses/Wxtunnel.yml
    WxtunnelArray:
      $ref: ./components/responses/WxtunnelArray.yml
    Zone:
      $ref: ./components/responses/Zone.yml
    ZoneSessionsSearch:
      $ref: ./components/responses/ZoneSessionsSearch.yml
    ZoneStats:
      $ref: ./components/responses/ZoneStats.yml
    ZoneStatsArray:
      $ref: ./components/responses/ZoneStatsArray.yml
    ZonesArray:
      $ref: ./components/responses/ZonesArray.yml
    ZscalerAccount:
      $ref: ./components/responses/ZscalerAccount.yml
    assignSuccess:
      $ref: ./components/responses/assignSuccess.yml
    claimLicense:
      $ref: ./components/responses/claimLicense.yml
    count:
      $ref: ./components/responses/count.yml
    countMarvisActions:
      $ref: ./components/responses/countMarvisActions.yml
    getLicenceUsage:
      $ref: ./components/responses/getLicenceUsage.yml
  schemas:
    account_jamf_write:
      $ref: ./components/schemas/account_jamf_write.yml
    account_juniper_read:
      $ref: ./components/schemas/account_juniper_read.yml
    account_juniper_write:
      $ref: ./components/schemas/account_juniper_write.yml
    account_oauth_write:
      $ref: ./components/schemas/account_oauth_write.yml
    account_vmware_write:
      $ref: ./components/schemas/account_vmware_write.yml
    account_zscaler_write:
      $ref: ./components/schemas/account_zscaler_write.yml
    admin:
      $ref: ./components/schemas/admin.yml
    alarmtemplate:
      $ref: ./components/schemas/alarmtemplate.yml
    aptemplate:
      $ref: ./components/schemas/aptemplate.yml
    asset:
      $ref: ./components/schemas/asset.yml
    asset_filter:
      $ref: ./components/schemas/asset_filter.yml
    beacon:
      $ref: ./components/schemas/beacon.yml
    claimcodes:
      $ref: ./components/schemas/claimcodes.yml
    create_ha_cluster:
      $ref: ./components/schemas/create_ha_cluster.yml
    delete_ha_cluster:
      $ref: ./components/schemas/delete_ha_cluster.yml
    device_switch_vc:
      $ref: ./components/schemas/device_switch_vc.yml
    device_switch_vc_update:
      $ref: ./components/schemas/device_switch_vc_update.yml
    events_skyatp:
      $ref: ./components/schemas/events_skyatp.yml
    gatewaytemplate:
      $ref: ./components/schemas/gatewaytemplate.yml
    guest:
      $ref: ./components/schemas/guest.yml
    idpprofile:
      $ref: ./components/schemas/idpprofile.yml
    image_upload:
      $ref: ./components/schemas/image_upload.yml
    import_org_map:
      $ref: ./components/schemas/import_org_map.yml
    import_site_map:
      $ref: ./components/schemas/import_site_map.yml
    installer_provision_device:
      $ref: ./components/schemas/installer_provision_device.yml
    installer_site:
      $ref: ./components/schemas/installer_site.yml
    junos_evpn_topology:
      $ref: ./components/schemas/junos_evpn_topology.yml
    junos_port_config:
      $ref: ./components/schemas/junos_port_config.yml
    login:
      $ref: ./components/schemas/login.yml
    map:
      $ref: ./components/schemas/map.yml
    model_ml:
      $ref: ./components/schemas/model_ml.yml
    model_object_device_id:
      $ref: ./components/schemas/model_object_device_id.yml
    model_object_email:
      $ref: ./components/schemas/model_object_email.yml
    model_object_macs_array_string:
      $ref: ./components/schemas/model_object_macs_array_string.yml
    msp:
      $ref: ./components/schemas/msp.yml
    mxcluster:
      $ref: ./components/schemas/mxcluster.yml
    mxedge:
      $ref: ./components/schemas/mxedge.yml
    mxtunnel:
      $ref: ./components/schemas/mxtunnel.yml
    nac_rule:
      $ref: ./components/schemas/nac_rule.yml
    nac_tag:
      $ref: ./components/schemas/nac_tag.yml
    network:
      $ref: ./components/schemas/network.yml
    new_admin:
      $ref: ./components/schemas/new_admin.yml
    note:
      $ref: ./components/schemas/note.yml
    org:
      $ref: ./components/schemas/org.yml
    org_apitoken:
      $ref: ./components/schemas/org_apitoken.yml
    org_setting:
      $ref: ./components/schemas/org_setting.yml
    orggroup:
      $ref: ./components/schemas/orggroup.yml
    psk:
      $ref: ./components/schemas/psk.yml
    psk_portal:
      $ref: ./components/schemas/psk_portal.yml
    recover:
      $ref: ./components/schemas/recover.yml
    req_clear_bgp:
      $ref: ./components/schemas/req_clear_bgp.yml
    req_replace_device:
      $ref: ./components/schemas/req_replace_device.yml
    rfdiag:
      $ref: ./components/schemas/rfdiag.yml
    rftemplate:
      $ref: ./components/schemas/rftemplate.yml
    rssizone:
      $ref: ./components/schemas/rssizone.yml
    sdkinvite:
      $ref: ./components/schemas/sdkinvite.yml
    sdktemplate:
      $ref: ./components/schemas/sdktemplate.yml
    secpolicy:
      $ref: ./components/schemas/secpolicy.yml
    service:
      $ref: ./components/schemas/service.yml
    service_policy:
      $ref: ./components/schemas/service_policy.yml
    site:
      $ref: ./components/schemas/site.yml
    site_setting:
      $ref: ./components/schemas/site_setting.yml
    sitegroup:
      $ref: ./components/schemas/sitegroup.yml
    sitetemplate:
      $ref: ./components/schemas/sitetemplate.yml
    sle_threshold:
      $ref: ./components/schemas/sle_threshold.yml
    sso:
      $ref: ./components/schemas/sso.yml
    ssorole:
      $ref: ./components/schemas/ssorole.yml
    stats_asset:
      $ref: ./components/schemas/stats_asset.yml
    stats_beacon:
      $ref: ./components/schemas/stats_beacon.yml
    stats_client:
      $ref: ./components/schemas/stats_client.yml
    stats_client_detail:
      $ref: ./components/schemas/stats_client_detail.yml
    stats_client_wired:
      $ref: ./components/schemas/stats_client_wired.yml
    stats_sdkclient:
      $ref: ./components/schemas/stats_sdkclient.yml
    stats_sdkclient_details:
      $ref: ./components/schemas/stats_sdkclient_details.yml
    stats_site:
      $ref: ./components/schemas/stats_site.yml
    stats_unconnected_clients:
      $ref: ./components/schemas/stats_unconnected_clients.yml
    synthetic_test:
      $ref: ./components/schemas/synthetic_test.yml
    synthetic_test_device:
      $ref: ./components/schemas/synthetic_test_device.yml
    template:
      $ref: ./components/schemas/template.yml
    test_telstra:
      $ref: ./components/schemas/test_telstra.yml
    test_twilio:
      $ref: ./components/schemas/test_twilio.yml
    ticket:
      $ref: ./components/schemas/ticket.yml
    two_factor:
      $ref: ./components/schemas/two_factor.yml
    ui_settings:
      $ref: ./components/schemas/ui_settings.yml
    user_apitoken:
      $ref: ./components/schemas/user_apitoken.yml
    vbeacon:
      $ref: ./components/schemas/vbeacon.yml
    vpn:
      $ref: ./components/schemas/vpn.yml
    webhook:
      $ref: ./components/schemas/webhook.yml
    webhook_alarms:
      $ref: ./components/schemas/webhook_alarms.yml
    webhook_asset_raw:
      $ref: ./components/schemas/webhook_asset_raw.yml
    webhook_audits:
      $ref: ./components/schemas/webhook_audits.yml
    webhook_client_info:
      $ref: ./components/schemas/webhook_client_info.yml
    webhook_client_join:
      $ref: ./components/schemas/webhook_client_join.yml
    webhook_client_latency:
      $ref: ./components/schemas/webhook_client_latency.yml
    webhook_client_sessions:
      $ref: ./components/schemas/webhook_client_sessions.yml
    webhook_device_events:
      $ref: ./components/schemas/webhook_device_events.yml
    webhook_device_updowns:
      $ref: ./components/schemas/webhook_device_updowns.yml
    webhook_discovered_raw_rssi:
      $ref: ./components/schemas/webhook_discovered_raw_rssi.yml
    webhook_location:
      $ref: ./components/schemas/webhook_location.yml
    webhook_nac_accounting:
      $ref: ./components/schemas/webhook_nac_accounting.yml
    webhook_nac_events:
      $ref: ./components/schemas/webhook_nac_events.yml
    webhook_occupancy_alerts:
      $ref: ./components/schemas/webhook_occupancy_alerts.yml
    webhook_ping:
      $ref: ./components/schemas/webhook_ping.yml
    webhook_sdkclient-scan-data:
      $ref: ./components/schemas/webhook_sdkclient-scan-data.yml
    webhook_site_sle:
      $ref: ./components/schemas/webhook_site_sle.yml
    webhook_zone:
      $ref: ./components/schemas/webhook_zone.yml
    wlan:
      $ref: ./components/schemas/wlan.yml
    wxlan_rule:
      $ref: ./components/schemas/wxlan_rule.yml
    wxlan_tag:
      $ref: ./components/schemas/wxlan_tag.yml
    wxlan_tunnel:
      $ref: ./components/schemas/wxlan_tunnel.yml
    zone:
      $ref: ./components/schemas/zone.yml
  securitySchemes:
    apiToken:
      description: "Like many other API providers, it\u2019s also possible to generate\
        \ API Tokens to be used (in HTTP Header) for authentication. An API token\
        \ ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token\
        \ value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated\
        \ for a specific admin has the same privilege as the user\n* an API token\
        \ will be automatically removed if not used for > 90 days\n* SSO admins cannot\
        \ generate these API tokens. Refer Org level API tokens which can have privileges\
        \ of a specific Org/Site for more information."
      in: header
      name: Authorization
      type: apiKey
    basicAuth:
      description: "While our current UI uses Session / Cookie-based authentication,\
        \ it\u2019s also possible to do Basic Auth."
      scheme: basic
      type: http
