openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2406.1.15**

    >

    > Date: **July 4, 2024**


    ---


    ### Additional Documentation

    * [Mist Automation Guide](https://www.juniper.net/documentation/us/en/software/mist/automation-integration/index.html)

    * [Mist Location SDK](https://www.juniper.net/documentation/us/en/software/mist/location_services/topics/concept/mist-how-get-mist-sdk.html)

    * [Mist Product Updates](https://www.mist.com/documentation/category/product-updates/)


    ---


    ### Helpful Resources

    * [API Sandbox and Exercises](https://api-class.mist.com/)

    * [Postman Collection, Runners and Webhook Samples](https://www.postman.com/juniper-mist/workspace/mist-systems-s-public-workspace)

    * [API Demo Apps](https://apps.mist-lab.fr/)

    * [Juniper Blog](https://blogs.juniper.net/)


    ---

    '
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2406.1.15
  x-codegen-settings:
    BrandLabel: Juniper Networks
    EnableAdditionalModelProperties: true
    GenerateEnums: false
    ProjectName: MistAPI
    ReturnCompleteHttpResponse: true
    SortResources: true
    enableLogging: true
    generateExceptions: false
    generateInterfaces: true
    generateModels: true
    nullify404: true
    shortCopyrightNotice: "Copyright \xA9 2024 Juniper Networks, Inc.  All rights\
      \ reserved"
    useControllerPrefix: false
    useEnumPostfix: true
    useMethodPrefix: false
    useModelPostfix: false
    userAgent: SDK 2024.2.1
    userConfigurableRetries: true
  x-server-configuration:
    default-environment: Mist Global 01
    default-server: API Host
    environments:
    - name: Mist Global 01
      servers:
      - name: API Host
        url: https://api.mist.com
    - name: Mist Global 02
      servers:
      - name: API Host
        url: https://api.gc1.mist.com
    - name: Mist Global 03
      servers:
      - name: API Host
        url: https://api.ac2.mist.com
    - name: Mist Global 04
      servers:
      - name: API Host
        url: https://api.gc2.mist.com
    - name: Mist EMEA 01
      servers:
      - name: API Host
        url: https://api.eu.mist.com
    - name: Mist EMEA 02
      servers:
      - name: API Host
        url: https://api.gc3.mist.com
    - name: Mist APAC 01
      servers:
      - name: API Host
        url: https://api.ac5.mist.com
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist EMEA 01
  url: https://api.eu.mist.com
- description: Mist EMEA 02
  url: https://api.gc3.mist.com
- description: Mist EMEA 03
  url: https://api.ac6.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- description: An organization usually represents a customer - which has inventories,
    licenses. An Organization can contain multiple sites. A site usually represents
    a deployment at the same location (a campus, an office).
  name: Orgs
- name: Orgs AP Templates
- description: API tokens can be generated for a specific Org/Site with the required
    privileges
  name: Orgs API Tokens
- name: Orgs Admins
- description: An Alarm Template is a set of Alarm Rules that could be applied to
    one or more sites (while each site can only pick one Alarm Template), or to the
    whole org.
  name: Orgs Alarm Templates
- description: Alarms are triggered based on certain events. Alarms could be configured
    using an Alarm Template.
  name: Orgs Alarms
- name: Orgs Asset Filters
- name: Orgs Assets
- name: Orgs CRL
- name: Orgs Cert
- description: SDK Invites can be generated for (and belongs to) an Org. They can
    be generated by an Admin of an Org and can be revoked at anytime.
  name: Orgs Clients - Marvis
- name: Orgs Clients - NAC
- name: Orgs Clients - SDK
- name: Orgs Clients - Wan
- name: Orgs Clients - Wired
- name: Orgs Clients - Wireless
- name: Orgs Cradlepoint
- description: 'While Templates / RF Templates / Network Templates / Gateway Templates
    provides powerful ways to control how a Device\''s configuration is derived for
    a Site. There are cases where you\''d like another level of control at the Org
    Level.

    A Device Profile contains a subset of Device\''s configurations you\''d like a
    device to have. It will be merged at runtime when we\''re provisioning an AP.'
  name: Orgs Device Profiles
- name: Orgs Devices
- description: API Call for 3rd party devices
  name: Orgs Devices - Others
- name: Orgs Devices - SSR
- name: Orgs Devices - WAN Cluster
- name: Orgs Devices Stats
- description: 'In Zscaler UI:

    1. add Partner Integration at https://admin.zscalerbeta.net/#administration/partner-integration

    2. Add Partner Administrator Role at https://admin.zscalerbeta.net/#administration/role-management
    - Name: Mist - Access: Full

    3. add Partner Admin at https://admin.zscalerbeta.net/#administration/admin-management  with
    - Login ID: john - email: john@abc.com

    4. Find the cloud name for ZIA https://help.zscaler.com/zia/what-my-cloud-name-zia'
  name: Orgs Devices Zscaler
- description: 'EVPN allows an alternative but more efficient LAN architecture utilizing
    VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding
    plane.

    In our implementation, following the steps to deploy EVPN topologies in a Site'
  name: Orgs EVPN Topologies
- description: 'Gateway Template is applied to a site for gateway(s) in a site.


    When Templates are not used, Site Setting holds settings for multiple device types
    and they can differ to set device_type specific configs, use this whatever is
    defined under `gateway` will overwrite/shadow the one at root-level'
  name: Orgs Gateway Templates
- name: Orgs Guests
- name: Orgs IDP Profiles
- name: Orgs Inventory
- name: Orgs JSE
- description: "Juniper Support Insight is a free service provided to all Mist customers.\n\
    You can adopt your devices via a few lines CLI comands. Allowing you to \n* get\
    \ some basic information about the adopted devices \n* web shell into device (write\
    \ privilege required) \\n* upgrade (write privilege required)"
  name: Orgs JSI
- name: Orgs Licenses
- name: Orgs Linked Applications
- description: Audit logs records all administrative activities in an Org
  name: Orgs Logs
- name: Orgs Maps
- name: Orgs Marvis
- name: Orgs MxClusters
- name: Orgs MxEdges
- name: Orgs MxTunnels
- name: Orgs NAC CRL
- name: Orgs NAC IDP
- description: "PSK Portal is used to onboard Wireless Clients with PSK (by QR Code\
    \ or URL) NAC\n Portals are for onboard Wireless and Wired client with 802.1X\n\
    \nAfter a NAC portal is created, a URL is generated and can be given to the users\n\
    \ (e.g. hosted on a web page \\u201CGet Access to Campus Wireless\\u201D) The\
    \ user\n will use SSO to signin and download a Mist APP (via an App-Installation\
    \ URL)\n that will get installed and used to provision certificates."
  name: Orgs NAC Portals
- name: Orgs NAC Rules
- description: "nactags are the building blocks to compose nacrules.\nThey can either\
    \ appear in the \u201Cmatching\u201D / \u201Cnot_matching\u201D sections of a\
    \ nacrule, in which case they play the role of classifiers, or they could appear\
    \ in the \u201Capply_tags\u201D section of the of a nacrule, in which case they\
    \ influence the result.\nWhen the \u201Ctype\u201D field of nactag is \u201Cmatch\u201D\
    , it can be used as the classfier of a nacrule.\n- \u201Cmatch\u201D field specifies\
    \ the attribute name and \u201Cvalues\u201D field specifies the list of attribute\
    \ values to match on.\n- When multiple values are specified, its treated as an\
    \ OR condition between those values. This behavior can be changed by setting \u201C\
    match_all\u201D field to \u201Ctrue\u201D, in which case it is treated as an AND\
    \ condition between those values.\n- By default exact match is performed.\n\n\
    This behavior can be changed as follows:\n- Adding `-` at the beginning will perform\
    \ suffix match (ex: -staff will match foo-staff and bar-staff)\n- Adding `-` at\
    \ the end will perform prefix match (ex: foo- will match foo-staff and foo-interns)\n\
    - Adding `!` at both ends will perform substring match (ex: printer will match\
    \ hp-printer-bldg1, brother-printer-lab)\n- Adding `!` at the beginning will perform\
    \ negation of the match (ex: !ssid-guest will match any string that is not ssid-guest)\n\
    - Note: when negation should be used along with suffix/substring operation, !\
    \ should always precede \\* (ex: !guest will match any string that is not ending\
    \ with guest)\n\nWhen the \u201Ctype\u201D field of nactag is NOT \u201Cmatch\u201D\
    , it can be used as the result of a nacrule. \u201Ctype\u201D field identifies\
    \ the action to take and the corresponding field would provide any associated\
    \ parameters to that action. When the \u201Ctype\u201D field of nactag is NOT\
    \ \u201Cmatch\u201D and is any of the result type also supported by usermac table(`vlan`),\
    \ \u201Callow_usermac_override\u201D field can be set to true to allow the override\
    \ by usermac result"
  name: Orgs NAC Tags
- description: 'Network template is intended to be applied to a Site. It works like
    a blueprint of the network of the site.


    All Site Settings can go into Network Templates. See Site:Site Setting for schema


    Moreover, this can further be overwriten by individual Site Setting


    WantAssertionsSignedhen Templates are not used, Site Setting holds settings for
    multiple device types and they can differ to set device_type specific configs,
    use this whatever is defined under `switch` will overwrite/shadow the one at root-level'
  name: Orgs Network Templates
- name: Orgs Networks
- name: Orgs Premium Analytics
- description: 'PSK Self-Service Portals are for

    1. **WIFI users** who want to connect to a WLAN with personal PSK, they''re told
    to connect to a URL where they can login (likely through company\u2019s SSO) and
    get the WIFI Name / Passphrase - required input fields name, email so we can generate
    PSK

    2. **PSK Admins** (they don''t have access to normal Network Admin Portal)


    When a PSK portal is created, an unique URL will be generated (e.g. https://psk.mist.com/xxxxxx)'
  name: Orgs Psk Portals
- name: Orgs Psks
- name: Orgs RF Templates
- description: SDK Invites can be generated for (and belongs to) an Org. They can
    be generated by an Admin of an Org and can be revoked at anytime.
  name: Orgs SDK Invites
- name: Orgs SDK Templates
- name: Orgs SLEs
- name: Orgs SSO
- name: Orgs SSO Roles
- description: "Security Policy is designed to audit / catch discripancies between\n\
    \"what's intended to be running\" versus \"what's actually running\" in a network.\
    \ \n\nMany big organizations have separated Security and IT team (for good reasons).\
    \ Each site can be assigned a security policy.\n Whenever an AP is provisioned,\
    \ the configuration will be checked against the security policy.\n Any violations\
    \ will be flagged in [Device Config History]($e/Sites%20Devices/searchSiteDeviceConfigHistory)\
    \ where you can search for the when and where the violation occurs."
  name: Orgs SecPolicies
- name: Orgs Service Policies
- name: Orgs Services
- name: Orgs Setting
- description: Site template is intended to be applied to a Site. The items in site
    setting which should be shared for all device types.
  name: Orgs Site Templates
- description: Site groups are a group of sites under the same Org. It's many-to-many
    mapping to sites
  name: Orgs Sitegroups
- name: Orgs Sites
- name: Orgs Subscriptions
- name: Orgs Tickets
- name: Orgs Tunnels
- name: Orgs User MACs
- name: Orgs VPNs
- name: Orgs Vars
- name: Orgs WLAN Templates
- name: Orgs Webhooks
- name: Orgs Wlans
- name: Orgs WxRules
- name: Orgs WxTags
- name: Orgs WxTunnels
- name: Utilities PCAPs
- name: Utilities Upgrade
- name: Utilities Wi-Fi
paths:
  /api/v1/orgs:
    post:
      description: "Org admin can invite people to manage the org. Furthermore, he\
        \ can dictate the level of security those accounts are. The check is enforced\
        \ when the invited admin tries to \u201Caccept\u201D the invitation and every\
        \ time the admin tries to login"
      operationId: createOrg
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  allow_mist: true
                  msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  name: string
                  orggroup_ids:
                  - 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                  session_expiry: 0
            schema:
              $ref: '#/components/schemas/org'
      responses:
        '200':
          $ref: '#/components/responses/Org'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrg
      tags:
      - Orgs
  /api/v1/orgs/{org_id}:
    delete:
      description: Delete Org
      operationId: deleteOrg
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrg
      tags:
      - Orgs
    get:
      description: Get Organization information
      operationId: getOrg
      responses:
        '200':
          $ref: '#/components/responses/Org'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrg
      tags:
      - Orgs
    parameters:
    - $ref: '#/components/parameters/org_id'
    put:
      description: Update Org
      operationId: updateOrg
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  alarmtemplate_id: 1984805d-2be2-4aec-a8d4-3ddf67fab0df
                  allow_mist: true
                  name: string
                  orggroup_ids: []
                  session_expiry: 1440
            schema:
              $ref: '#/components/schemas/org'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Org'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrg
      tags:
      - Orgs
  /api/v1/orgs/{org_id}/128routers/register_cmd:
    get:
      description: 128T devices can be managed/adopted by Mist.
      operationId: getOrg128TRegistrationCommands
      responses:
        '200':
          $ref: '#/components/responses/Router128TRegisterCmd'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrg128TRegistrationCommands
      tags:
      - Orgs Devices - SSR
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/admins:
    get:
      description: Get List of people who can manage the Site/Org under the Org
      operationId: listOrgAdmins
      responses:
        '200':
          $ref: '#/components/responses/AdminsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgAdmins
      tags:
      - Orgs Admins
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/admins/{admin_id}:
    delete:
      description: This removes all privileges this admin has against the org
      operationId: revokeOrgAdmin
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: revokeOrgAdmin
      tags:
      - Orgs Admins
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/admin_id'
    put:
      description: Invite Org Admin
      operationId: updateOrgAdmin
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  email: jsnow@abc.com
                  expire_time: 0
                  first_name: John
                  hours: 24
                  last_name: Sno
                  phone: string
                  phone2: string
                  privileges:
                  - msp_id: c0cf23fc-d82f-4219-988c-82fb61d8c875
                    name: string
                    org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    org_name: string
                    orggroup_ids:
                    - 497f6eca-6276-4993-bfeb-53d5bbba6f08
                    role: admin
                    scope: org
                    site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                    sitegroup_ids:
                    - 497f6eca-6276-4993-bfeb-53d6bbba6f08
                    views: switch_admin
            schema:
              $ref: '#/components/schemas/admin'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Admin'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgAdmin
      tags:
      - Orgs Admins
  /api/v1/orgs/{org_id}/alarms/ack:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Ack multiple Org Alarms
      operationId: ackOrgMultipleAlarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  alarm_ids:
                  - ccb8c94d-ca56-4075-932f-1f2ab444ff2c
                  - 98ff4a3d-ec9b-4138-a42e-54fc3335179d
                  note: maintenance window
            schema:
              $ref: '#/components/schemas/alarms'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: ackOrgMultipleAlarms
      tags:
      - Orgs Alarms
  /api/v1/orgs/{org_id}/alarms/ack_all:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: 'Ack all Org Alarms


        **N.B.**: Batch size for multiple alarm ack and unack has to be less or or
        equal to 1000.'
      operationId: ackOrgAllAlarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  note: string
            schema:
              $ref: '#/components/schemas/note_string'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: ackOrgAllAlarms
      tags:
      - Orgs Alarms
  /api/v1/orgs/{org_id}/alarms/count:
    get:
      description: Count Org Alarms
      operationId: countOrgAlarms
      parameters:
      - in: query
        name: distinct
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/Count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countOrgAlarms
      tags:
      - Orgs Alarms
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/alarms/search:
    get:
      description: Search Org Alarms
      operationId: searchOrgAlarms
      parameters:
      - description: site ID
        in: query
        name: site_id
        schema:
          format: uuid
          type: string
      - description: alarm type
        in: query
        name: type
        schema:
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/AlarmsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgAlarms
      tags:
      - Orgs Alarms
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/alarms/unack:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Unack multiple Org Alarms
      operationId: unackOrgMultipleAlarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  alarm_ids:
                  - ccb8c94d-ca56-4075-932f-1f2ab444ff2c
                  - 98ff4a3d-ec9b-4138-a42e-54fc3335179d
                  note: maintenance window
            schema:
              $ref: '#/components/schemas/alarms'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: unackOrgMultipleAlarms
      tags:
      - Orgs Alarms
  /api/v1/orgs/{org_id}/alarms/unack_all:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: 'Unack all Org Alarms


        **N.B.**: Batch size for multiple alarm ack and unack has to be less or or
        equal to 1000.'
      operationId: unackOrgAllArlarms
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  note: maintenance window
            schema:
              $ref: '#/components/schemas/note_string'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: unackOrgAllArlarms
      tags:
      - Orgs Alarms
  /api/v1/orgs/{org_id}/alarms/{alarm_id}/ack:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/alarm_id'
    post:
      description: Ack Org Alarm
      operationId: ackOrgAlarm
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  note: maintenance window
            schema:
              $ref: '#/components/schemas/note_string'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: ackOrgAlarm
      tags:
      - Orgs Alarms
  /api/v1/orgs/{org_id}/alarmtemplates:
    get:
      description: Get List of Org Alarm Templates
      operationId: listOrgAlarmTemplates
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/AlarmtemplatesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgAlarmTemplates
      tags:
      - Orgs Alarm Templates
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: 'Available rules can be found in Orgs>Consts>getAlarmDefs


        The delivery dict is only required if different from the template delivery
        settings.'
      operationId: createOrgAlarmTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/alarm_template'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Alarmtemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgAlarmTemplate
      tags:
      - Orgs Alarm Templates
  /api/v1/orgs/{org_id}/alarmtemplates/suppress:
    delete:
      description: Un-Suppress Suppressed Alarms
      operationId: unsuppressOrgSuppressedAlarms
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: unsuppressOrgSuppressedAlarms
      tags:
      - Orgs Alarm Templates
    get:
      description: Get List of Org Alarms Currently Suppressed
      operationId: listOrgSuppressedAlarms
      parameters:
      - in: query
        name: scope
        schema:
          $ref: '#/components/schemas/suppressed_alarm_scope'
      responses:
        '200':
          $ref: '#/components/responses/OrgSuppressedAlarms'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgSuppressedAlarms
      tags:
      - Orgs Alarm Templates
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: In certain situations, for example, scheduled maintenance, you
        may want to suspend alarms to be triggered against Sites for a period of time.
      operationId: suppressOrgAlarm
      requestBody:
        content:
          application/json:
            examples:
              org_suppression:
                value:
                  duration: 3600
                  scheduled_time: 1678232980
                  scope: org
              site_suppression:
                value:
                  applies:
                    org_id: 2818e386-8dec-2562-9ede-5b8a0fbbdc71
                    site_ids:
                    - 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    sitegroup_ids:
                    - 581328b6-e382-f54e-c9dc-999983183a34
                    - f57096b9-0c2f-4df6-c77b-ae6ae87a3d43
                  duration: 3600
                  scheduled_time: 1678232980
                  scope: site
            schema:
              $ref: '#/components/schemas/suppressed_alarm'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: suppressOrgAlarm
      tags:
      - Orgs Alarm Templates
  /api/v1/orgs/{org_id}/alarmtemplates/{alarmtemplate_id}:
    delete:
      description: Delete Org Alarm Template
      operationId: deleteOrgAlarmTemplate
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgAlarmTemplate
      tags:
      - Orgs Alarm Templates
    get:
      description: Get Org Alarm Template Details
      operationId: getOrgAlarmTemplate
      responses:
        '200':
          $ref: '#/components/responses/Alarmtemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgAlarmTemplate
      tags:
      - Orgs Alarm Templates
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/alarmtemplate_id'
    put:
      description: Update Org Alarm Template
      operationId: updateOrgAlarmTemplate
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  delivery:
                    additional_emails:
                    - string
                    enabled: true
                    to_org_admins: true
                    to_site_admins: true
                  name: string
                  rules:
                    adhoc_network:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    air_magnet_scan:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    ap_offline:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    bad_cable:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    beacon_flood:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    bssid_spoofing:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    device_down:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    device_restarted:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    dhcp_failure:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    disassociation_flood:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    dot1x_failure:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    eap_dictionary_attack:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    eap_failure_injection:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    eap_handshake_flood:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    eap_spoofed_success:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    eapol_logoff_attack:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    essid_jack:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    excessive_client:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    excessive_eapol_start:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    gateway_down:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    gw_bad_cable:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    gw_negotiation_mismatch:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    honeypot_ssid:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    krack_attack:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    missing_vlan:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    monkey_jack:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    negotiation_mismatch:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    non_compliant:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    out_of_sequence:
                      enabled: true
                    psk_failure:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    repeated_auth_failures:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    rogue_ap:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    rogue_client:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    secpolicy_violation:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    ssid_injection:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    switch_down:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    tkip_icv_attack:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    vendor_ie_missing:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    watched_station:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
                    zero_ssid_association:
                      delivery:
                        additional_emails:
                        - string
                        enabled: true
                        to_org_admins: true
                        to_site_admins: true
                      enabled: true
            schema:
              $ref: '#/components/schemas/alarm_template'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Alarmtemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgAlarmTemplate
      tags:
      - Orgs Alarm Templates
  /api/v1/orgs/{org_id}/apitokens:
    get:
      description: Get List of Org API Tokens
      operationId: listOrgApiTokens
      responses:
        '200':
          $ref: '#/components/responses/ApitokensOrgArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgApiTokens
      tags:
      - Orgs API Tokens
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: 'Create Org API Token

        Note that the token key is only available during creation time.'
      operationId: createOrgApiToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org_apitoken'
      responses:
        '200':
          $ref: '#/components/responses/ApitokenOrg'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgApiToken
      tags:
      - Orgs API Tokens
  /api/v1/orgs/{org_id}/apitokens/{apitoken_id}:
    delete:
      description: Delete Org API Token
      operationId: deleteOrgApiToken
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgApiToken
      tags:
      - Orgs API Tokens
    get:
      description: Get Org API Token
      operationId: getOrgApiToken
      responses:
        '200':
          $ref: '#/components/responses/ApitokenOrg'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgApiToken
      tags:
      - Orgs API Tokens
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/apitoken_id'
    put:
      description: Update Org API Token
      operationId: updateOrgApiToken
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  name: org_token_xyz
                  privileges:
                  - org_id: a40f5d1f-d889-42e9-94ea-b9b33585fc6b
                    role: admin
                    scope: org
            schema:
              $ref: '#/components/schemas/org_apitoken'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/ApitokenOrg'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgApiToken
      tags:
      - Orgs API Tokens
  /api/v1/orgs/{org_id}/aptemplates:
    get:
      description: Get List of Org AP Templates
      operationId: listOrgAptemplates
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/AptemplatesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgAptemplates
      tags:
      - Orgs AP Templates
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create Org AP Template
      operationId: createOrgAptemplate
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  ap_matching:
                    enabled: true
                    rules:
                    - match_model: string
                      name: string
                      port_config:
                        property1:
                          additional_vlan_ids:
                          - 55
                          - 66
                          authentication_protocol: pap
                          disabled: true
                          dynamic_vlan:
                            default_vlan_id: 999
                            enabled: true
                            type: string
                            vlans:
                              1-10: null
                              user: null
                          enable_mac_auth: false
                          forwarding: all
                          mx_tunnel_id: 08cd7499-5841-51c8-e663-fb16b6f3b45e
                          mxtunnel_name: string
                          port_auth: none
                          port_vlan_id: 1
                          radius_config:
                            acct_interim_interval: 0
                            acct_servers:
                            - host: 1.2.3.4
                              keywrap_enabled: true
                              keywrap_format: hex
                              keywrap_kek: '1122334455'
                              keywrap_mack: '1122334455'
                              port: 1813
                              secret: testing123
                            auth_servers:
                            - host: 1.2.3.4
                              keywrap_enabled: true
                              keywrap_format: hex
                              keywrap_kek: '1122334455'
                              keywrap_mack: '1122334455'
                              port: 1812
                              secret: testing123
                            auth_servers_retries: 3
                            auth_servers_timeout: 5
                            coa_enabled: false
                            coa_port: 3799
                            network: string
                            source_ip: string
                          radsec:
                            enabled: true
                            idle_timeout: 60
                            mxcluster_ids:
                            - 572586b7-f97b-a22b-526c-8b97a3f609c4
                            proxy_hosts:
                            - mxedge1.local
                            server_name: radsec.abc.com
                            servers:
                            - host: 1.1.1.1
                              port: 1812
                            use_mxedge: true
                            use_site_mxedge: false
                          vlan_id: 9
                          vland_ids:
                          - 1
                          - 10
                          - 50
                          wxtunnel_id: 7dae216d-7c98-a51b-e068-dd7d477b7216
                          wxtunnel_remote_id: wifiguest
                        property2:
                          additional_vlan_ids:
                          - 55
                          - 66
                          authentication_protocol: pap
                          disabled: true
                          dynamic_vlan:
                            default_vlan_id: 999
                            enabled: true
                            type: string
                            vlans:
                              1-10: null
                              user: null
                          enable_mac_auth: false
                          forwarding: all
                          mx_tunnel_id: 08cd7499-5841-51c8-e663-fb16b6f3b45e
                          mxtunnel_name: string
                          port_auth: none
                          port_vlan_id: 1
                          radius_config:
                            acct_interim_interval: 0
                            acct_servers:
                            - host: 1.2.3.4
                              keywrap_enabled: true
                              keywrap_format: hex
                              keywrap_kek: '1122334455'
                              keywrap_mack: '1122334455'
                              port: 1813
                              secret: testing123
                            auth_servers:
                            - host: 1.2.3.4
                              keywrap_enabled: true
                              keywrap_format: hex
                              keywrap_kek: '1122334455'
                              keywrap_mack: '1122334455'
                              port: 1812
                              secret: testing123
                            auth_servers_retries: 3
                            auth_servers_timeout: 5
                            coa_enabled: false
                            coa_port: 3799
                            network: string
                            source_ip: string
                          radsec:
                            enabled: true
                            idle_timeout: 60
                            mxcluster_ids:
                            - 572586b7-f97b-a22b-526c-8b97a3f609c4
                            proxy_hosts:
                            - mxedge1.local
                            server_name: radsec.abc.com
                            servers:
                            - host: 1.1.1.1
                              port: 1812
                            use_mxedge: true
                            use_site_mxedge: false
                          vlan_id: 9
                          vland_ids:
                          - 1
                          - 10
                          - 50
                          wxtunnel_id: 7dae216d-7c98-a51b-e068-dd7d477b7216
                          wxtunnel_remote_id: wifiguest
                  wifi:
                    cisco_enabled: true
                    disable_11k: false
                    disable_radios_when_power_constrained: true
                    enable_arp_spoof: true
                    enable_shared_radio_scanning: false
                    enabled: true
                    locate_connected: false
                    locate_unconnected: false
                    mesh_allow_dfs: false
                    mesh_enable_crm: true
                    mesh_enabled: true
                    proxy_arp: false
            schema:
              $ref: '#/components/schemas/ap_template'
      responses:
        '200':
          $ref: '#/components/responses/Aptemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgAptemplate
      tags:
      - Orgs AP Templates
  /api/v1/orgs/{org_id}/aptemplates/{aptemplate_id}:
    delete:
      description: Delete existing AP Template
      operationId: deleteOrgAptemplate
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgAptemplate
      tags:
      - Orgs AP Templates
    get:
      description: Get AP Template
      operationId: getOrgAptemplate
      responses:
        '200':
          $ref: '#/components/responses/Aptemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgAptemplate
      tags:
      - Orgs AP Templates
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/aptemplate_id'
    put:
      description: Update AP Template
      operationId: updateOrgAptemplate
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  ap_matching:
                    enabled: true
                    rules:
                    - match_model: string
                      name: string
                      port_config:
                        property1:
                          additional_vlan_ids:
                          - 55
                          - 66
                          authentication_protocol: pap
                          disabled: true
                          dynamic_vlan:
                            default_vlan_id: 999
                            enabled: true
                            type: string
                            vlans:
                              1-10: null
                              user: null
                          enable_mac_auth: false
                          forwarding: all
                          mx_tunnel_id: 08cd7499-5841-51c8-e663-fb16b6f3b45e
                          mxtunnel_name: string
                          port_auth: none
                          port_vlan_id: 1
                          radius_config:
                            acct_interim_interval: 0
                            acct_servers:
                            - host: 1.2.3.4
                              keywrap_enabled: true
                              keywrap_format: hex
                              keywrap_kek: '1122334455'
                              keywrap_mack: '1122334455'
                              port: 1813
                              secret: testing123
                            auth_servers:
                            - host: 1.2.3.4
                              keywrap_enabled: true
                              keywrap_format: hex
                              keywrap_kek: '1122334455'
                              keywrap_mack: '1122334455'
                              port: 1812
                              secret: testing123
                            auth_servers_retries: 3
                            auth_servers_timeout: 5
                            coa_enabled: false
                            coa_port: 3799
                            network: string
                            source_ip: string
                          radsec:
                            enabled: true
                            idle_timeout: 60
                            mxcluster_ids:
                            - 572586b7-f97b-a22b-526c-8b97a3f609c4
                            proxy_hosts:
                            - mxedge1.local
                            server_name: radsec.abc.com
                            servers:
                            - host: 1.1.1.1
                              port: 1812
                            use_mxedge: true
                            use_site_mxedge: false
                          vlan_id: 9
                          vland_ids:
                          - 1
                          - 10
                          - 50
                          wxtunnel_id: 7dae216d-7c98-a51b-e068-dd7d477b7216
                          wxtunnel_remote_id: wifiguest
                        property2:
                          additional_vlan_ids:
                          - 55
                          - 66
                          authentication_protocol: pap
                          disabled: true
                          dynamic_vlan:
                            default_vlan_id: 999
                            enabled: true
                            type: string
                            vlans:
                              1-10: null
                              user: null
                          enable_mac_auth: false
                          forwarding: all
                          mx_tunnel_id: 08cd7499-5841-51c8-e663-fb16b6f3b45e
                          mxtunnel_name: string
                          port_auth: none
                          port_vlan_id: 1
                          radius_config:
                            acct_interim_interval: 0
                            acct_servers:
                            - host: 1.2.3.4
                              keywrap_enabled: true
                              keywrap_format: hex
                              keywrap_kek: '1122334455'
                              keywrap_mack: '1122334455'
                              port: 1813
                              secret: testing123
                            auth_servers:
                            - host: 1.2.3.4
                              keywrap_enabled: true
                              keywrap_format: hex
                              keywrap_kek: '1122334455'
                              keywrap_mack: '1122334455'
                              port: 1812
                              secret: testing123
                            auth_servers_retries: 3
                            auth_servers_timeout: 5
                            coa_enabled: false
                            coa_port: 3799
                            network: string
                            source_ip: string
                          radsec:
                            enabled: true
                            idle_timeout: 60
                            mxcluster_ids:
                            - 572586b7-f97b-a22b-526c-8b97a3f609c4
                            proxy_hosts:
                            - mxedge1.local
                            server_name: radsec.abc.com
                            servers:
                            - host: 1.1.1.1
                              port: 1812
                            use_mxedge: true
                            use_site_mxedge: false
                          vlan_id: 9
                          vland_ids:
                          - 1
                          - 10
                          - 50
                          wxtunnel_id: 7dae216d-7c98-a51b-e068-dd7d477b7216
                          wxtunnel_remote_id: wifiguest
                  wifi:
                    cisco_enabled: true
                    disable_11k: false
                    disable_radios_when_power_constrained: true
                    enable_arp_spoof: true
                    enable_shared_radio_scanning: false
                    enabled: true
                    locate_connected: false
                    locate_unconnected: false
                    mesh_allow_dfs: false
                    mesh_enable_crm: true
                    mesh_enabled: true
                    proxy_arp: false
            schema:
              $ref: '#/components/schemas/ap_template'
      responses:
        '200':
          $ref: '#/components/responses/Aptemplate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgAptemplate
      tags:
      - Orgs AP Templates
  /api/v1/orgs/{org_id}/assetfilters:
    get:
      description: "Get List of Org BLE asset filters. \nEach asset filter in the\
        \ list operates independently. For a filter object to match an asset, all\
        \ of the filter properties must match (logical \u2018AND\u2019 of each filter\
        \ property). For example, the \u201CVisitor Tags\u201D filter below will match\
        \ an asset when both the \u201Cibeacon\\_uuid\u201D and \u201Cibeacon_major\u201D\
        \ properties match the asset. All non-matching assets are ignored."
      operationId: listOrgAssetFilters
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/AssetfiltersArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgAssetFilters
      tags:
      - Orgs Asset Filters
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: "Create Asset Filter\n\nCreates a single BLE asset filter for the\
        \ given site. Any subset of filter properties can be included in the filter.\
        \ A matching asset must meet the conditions of all given filter properties\
        \ (logical \u2018AND\u2019)."
      operationId: createOrgAssetFilters
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  disasbled: true
                  eddystone_uid_namespace: string
                  eddystone_url: string
                  ibeacon_major: 0
                  ibeacon_uuid: 1f89bc00-d0af-481b-82fe-a6629259a39f
                  mfg_company_id: 0
                  name: string
            schema:
              $ref: '#/components/schemas/asset_filter'
      responses:
        '200':
          $ref: '#/components/responses/Assetfilter'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgAssetFilters
      tags:
      - Orgs Asset Filters
  /api/v1/orgs/{org_id}/assetfilters/{assetfilter_id}:
    delete:
      description: Deletes an existing BLE asset filter for the given site.
      operationId: deleteOrgAssetFilter
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgAssetFilter
      tags:
      - Orgs Asset Filters
    get:
      description: Get Org Asset Filter Details
      operationId: getOrgAssetFilter
      responses:
        '200':
          $ref: '#/components/responses/Assetfilter'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgAssetFilter
      tags:
      - Orgs Asset Filters
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/assetfilter_id'
    put:
      description: Updates an existing BLE asset filter for the given site.
      operationId: updateOrgAssetFilters
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  disabled: true
                  eddystone_uid_namespace: string
                  eddystone_url: string
                  ibeacon_major: 0
                  ibeacon_uuid: b069b358-4c97-5319-1f8c-7c5ca64d6ab2
                  mfg_company_id: 0
                  name: string
            schema:
              $ref: '#/components/schemas/asset_filter'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Assetfilter'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgAssetFilters
      tags:
      - Orgs Asset Filters
  /api/v1/orgs/{org_id}/assets:
    get:
      description: Get List of Org Assets
      operationId: listOrgAssets
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/AssetsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgAssets
      tags:
      - Orgs Assets
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create Org Asset
      operationId: createOrgAsset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/asset'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Asset'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrgAsset
      tags:
      - Orgs Assets
  /api/v1/orgs/{org_id}/assets/import:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: "Impert Org Assets. \n\nIt can be done via a CSV file or a JSON\
        \ payload.\n\n#### CSV File Format\n```csv\nname,mac\n\"asset_name\",5c5b53010101\n\
        ```"
      operationId: importOrgAssets
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                - mac: a31eb04e1c38
                  name: Expensive Instrument
                - mac: a31eb04e1c37
                  name: Cheap Instrument
            schema:
              $ref: '#/components/schemas/assets_import_json'
          multipart/form_data:
            schema:
              $ref: '#/components/schemas/assets_import_file'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: importOrgAssets
      tags:
      - Orgs Assets
  /api/v1/orgs/{org_id}/assets/{asset_id}:
    delete:
      description: Delete Org Asset
      operationId: deleteOrgAsset
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteOrgAsset
      tags:
      - Orgs Assets
    get:
      description: Get Org Asset Details
      operationId: getOrgAsset
      responses:
        '200':
          $ref: '#/components/responses/Asset'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgAsset
      tags:
      - Orgs Assets
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/asset_id'
    put:
      description: Update Org Asset
      operationId: updateOrgAsset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/asset'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Asset'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateOrgAsset
      tags:
      - Orgs Assets
  /api/v1/orgs/{org_id}/cert:
    get:
      description: Get Org Certificates
      operationId: getOrgCertificates
      responses:
        '200':
          $ref: '#/components/responses/Certificate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgCertificates
      tags:
      - Orgs Cert
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/cert/regenerate:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Clear Org Certificates
      operationId: clearOrgCertificates
      responses:
        '200':
          $ref: '#/components/responses/Certificate'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: clearOrgCertificates
      tags:
      - Orgs Cert
  /api/v1/orgs/{org_id}/claim:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Claim Org licenses / activation codes
      operationId: claimOrgLicense
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  code: ZHT3K-H36DT-MG85D-M61AC
                  type: all
            schema:
              $ref: '#/components/schemas/claim_activation'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/ClaimLicense'
        '400':
          description: invalid key (or already used)
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: claimOrgLicense
      tags:
      - Orgs Licenses
  /api/v1/orgs/{org_id}/clients/count:
    get:
      description: Count Org Wireless Clients
      operationId: countOrgWirelessClients
      parameters:
      - in: query
        name: distinct
        schema:
          $ref: '#/components/schemas/org_clients_count_distinct'
      - description: partial / full MAC address
        in: query
        name: mac
        schema:
          type: string
      - description: partial / full hostname
        in: query
        name: hostname
        schema:
          type: string
      - description: device type, e.g. Mac, Nvidia, iPhone
        in: query
        name: device
        schema:
          type: string
      - description: os, e.g. Sierra, Yosemite, Windows 10
        in: query
        name: os
        schema:
          type: string
      - description: "model, e.g. \u201CMBP 15 late 2013\u201D, 6, 6s, \u201C8+ GSM\u201D"
        in: query
        name: model
        schema:
          type: string
      - description: AP mac where the client has connected to
        in: query
        name: ap
        schema:
          type: string
      - description: vlan
        in: query
        name: vlan
        schema:
          type: string
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - $ref: '#/components/parameters/ip'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/Count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countOrgWirelessClients
      tags:
      - Orgs Clients - Wireless
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/clients/events/search:
    get:
      description: Get Org Clients Events
      operationId: searchOrgWirelessClientEvents
      parameters:
      - $ref: '#/components/parameters/client_event_type'
      - description: for assoc/disassoc events
        in: query
        name: reason_code
        schema:
          type: integer
      - description: SSID Name
        in: query
        name: ssid
        schema:
          type: string
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - $ref: '#/components/parameters/dot11_proto'
      - $ref: '#/components/parameters/dot11_band'
      - description: wlan_id
        in: query
        name: wlan_id
        schema:
          type: string
      - description: nacrule_id
        in: query
        name: nacrule_id
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/EventsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgWirelessClientEvents
      tags:
      - Orgs Clients - Wireless
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/clients/search:
    get:
      description: Search Org Wireless Clients
      operationId: searchOrgWirelessClients
      parameters:
      - description: Site ID
        in: query
        name: site_id
        schema:
          type: string
      - description: partial / full MAC address
        in: query
        name: mac
        schema:
          type: string
      - $ref: '#/components/parameters/ip'
      - description: partial / full hostname
        in: query
        name: hostname
        schema:
          type: string
      - description: device type, e.g. Mac, Nvidia, iPhone
        in: query
        name: device
        schema:
          type: string
      - description: os, e.g. Sierra, Yosemite, Windows 10
        in: query
        name: os
        schema:
          type: string
      - description: "model, e.g. \u201CMBP 15 late 2013\u201D, 6, 6s, \u201C8+ GSM\u201D"
        in: query
        name: model
        schema:
          type: string
      - description: AP mac where the client has connected to
        in: query
        name: ap
        schema:
          type: string
      - $ref: '#/components/parameters/psk_id_query'
      - description: PSK Name
        in: query
        name: psk_name
        schema:
          type: string
      - description: vlan
        in: query
        name: vlan
        schema:
          type: string
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - description: partial / full MAC address, hostname, username, psk_name or ip
        in: query
        name: text
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/ClientsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgWirelessClients
      tags:
      - Orgs Clients - Wireless
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/clients/sessions/count:
    get:
      description: Count Org Wireless Clients Sessions
      operationId: countOrgWirelessClientsSessions
      parameters:
      - in: query
        name: distinct
        schema:
          $ref: '#/components/schemas/org_client_sessions_count_distinct'
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - $ref: '#/components/parameters/dot11_band'
      - description: "E.g. \u201CMac\u201D, \u201CiPhone\u201D, \u201CApple watch\u201D"
        in: query
        name: client_family
        schema:
          type: string
      - description: "E.g. \u201CApple\u201D"
        in: query
        name: client_manufacture
        schema:
          type: string
      - description: "E.g. \u201C8+\u201D, \u201CXS\u201D"
        in: query
        name: client_model
        schema:
          type: string
      - description: "E.g. \u201CMojave\u201D, \u201CWindows 10\u201D, \u201CLinux\u201D"
        in: query
        name: client_os
        schema:
          type: string
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - description: wlan_id
        in: query
        name: wlan_id
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/Count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countOrgWirelessClientsSessions
      tags:
      - Orgs Clients - Wireless
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/clients/sessions/search:
    get:
      description: Search Org Wireless Clients Sessions
      operationId: searchOrgWirelessClientSessions
      parameters:
      - description: AP MAC
        in: query
        name: ap
        schema:
          type: string
      - $ref: '#/components/parameters/dot11_band'
      - description: "E.g. \u201CMac\u201D, \u201CiPhone\u201D, \u201CApple watch\u201D"
        in: query
        name: client_family
        schema:
          type: string
      - description: "E.g. \u201CApple\u201D"
        in: query
        name: client_manufacture
        schema:
          type: string
      - description: "E.g. \u201C8+\u201D, \u201CXS\u201D"
        in: query
        name: client_model
        schema:
          type: string
      - description: Username
        in: query
        name: client_username
        schema:
          type: string
      - description: "E.g. \u201CMojave\u201D, \u201CWindows 10\u201D, \u201CLinux\u201D"
        in: query
        name: client_os
        schema:
          type: string
      - description: SSID
        in: query
        name: ssid
        schema:
          type: string
      - description: wlan_id
        in: query
        name: wlan_id
        schema:
          type: string
      - $ref: '#/components/parameters/psk_id_query'
      - description: PSK Name
        in: query
        name: psk_name
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/WirelessClientSessionsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchOrgWirelessClientSessions
      tags:
      - Orgs Clients - Wireless
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/clients/{client_mac}/coa:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/client_mac'
    post:
      description: Trigger a CoA (change of authorization) against a client
      operationId: reauthOrgDot1xWirelessClient
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: reauthOrgDot1xWirelessClient
      tags:
      - Utilities Wi-Fi
  /api/v1/orgs/{org_id}/clone:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create an Org by cloning from another one. Org Settings, Templates,
        Wxlan Tags, Wxlan Tunnels, Wxlan Rules, Org Wlans will be copied. Sites and
        Site Groups will not be copied, and therefore, the copied template will not
        be applied to any site/sitegroups.
      operationId: cloneOrg
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  name: New Org
            schema:
              $ref: '#/components/schemas/name_string'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Org'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: cloneOrg
      tags:
      - Orgs
  /api/v1/orgs/{org_id}/crl:
    get:
      description: Get Org CRL File
      operationId: getOrgCrlFile
      responses:
        '200':
          $ref: '#/components/responses/File'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOrgCrlFile
      tags:
      - Orgs CRL
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/orgs/{org_id}/crl/truncate:
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: By default, all certs used by recently unclaimed devices within
        9 month will be included in CRL. If the list grows too big, you can truncate
        it
      operationId: truncateOrgCrlFile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/days_number'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: truncateOrgCrlFile
      tags:
      - Orgs Cert
  /api/v1/orgs/{org_id}/deviceprofiles:
    get:
      description: Get List of Org Device Profiles
      operationId: listOrgDeviceProfiles
      parameters:
      - in: query
        name: type
        schema:
          $ref: '#/components/schemas/device_type'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/DeviceprofilesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOrgDeviceProfiles
      tags:
      - Orgs Device Profiles
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: Create Device Profile
      operationId: createOrgDeviceProfiles
      requestBody:
        content:
          application/json:
            examples:
              deviceprofile_ap:
                value:
                  aeroscout:
                    enabled: false
                    host: aero.pvt.net
                    locate_connected: true
                  ble_config:
                    beacon_enabled: false
                    beacon_rate: 3
                    beacon_rate_mode: custom
                    beam_disabled:
                    - 1
                    - 3
                    - 6
                    custom_ble_packet_enabled: false
                    custom_ble_packet_frame: 0x........
                    custom_ble_packet_freq_msec: 300
                    eddystone_uid_adv_power: -65
                    eddystone_uid_beams: 2-4,7
                    eddystone_uid_enabled: false
                    eddystone_uid_freq_msec: 200
                    eddystone_uid_instance: 5c5b35000001
                    eddystone_uid_namespace: 2818e3868dec25629ede
                    eddystone_url_adv_power: -65
                    eddystone_url_beams: 2-4,7
                    eddystone_url_enabled: true
                    eddystone_url_freq_msec: 1000
                    eddystone_url_url: https://www.abc.com
                    ibeacon_adv_power: -65
                    ibeacon_beams: 2-4,7
                    ibeacon_enabled: false
                    ibeacon_freq_msec: 0
                    ibeacon_major: 13
                    ibeacon_minor: 138
                    ibeacon_uuid: f3f17139-704a-f03a-2786-0400279e37c3
                    power: 10
                    power_mode: custom
                  disable_eth1: false
                  disable_eth2: false
                  disable_eth3: false
                  disable_module: false
                  height: 0
                  iot_config:
                    A1:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                    A2:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                    A3:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                    A4:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                    DI1:
                      enabled: false
                      name: string
                      pullup: internal
                    DI2:
                      enabled: false
                      name: string
                      pullup: internal
                    DO:
                      enabled: false
                      name: motion
                      output: true
                      pullup: internal
                      value: 0
                  ip_config:
                    dns:
                    - 8.8.8.8
                    - 4.4.4.4
                    dns_suffix:
                    - .mist.local
                    - .mist.com
                    gateway: 10.2.1.254
                    gateway6: 2607:f8b0:4005:808::1
                    ip: 10.2.1.1
                    ip6: 2607:f8b0:4005:808::2004
                    mtu: 0
                    netmask: 255.255.255.0
                    netmask6: /32
                    type: static
                    type6: static
                    vlan_id: 1
                  led:
                    brightness: 255
                    enabled: true
                  mesh:
                    enabled: false
                    group: 1
                    role: base
                  name: string
                  notes: string
                  ntp_servers:
                  - string
                  orientation: 0
                  orientation_overwrite: true
                  poe_passthrough: false
                  port_config:
                    property1:
                      additional_vlan_ids:
                      - 55
                      - 66
                      authentication_protocol: pap
                      disabled: true
                      dynamic_vlan:
                        default_vlan_id: 999
                        enabled: true
                        type: string
                        vlans:
                          1-10: null
                          user: null
                      enable_mac_auth: false
                      forwarding: all
                      mx_tunnel_id: 08cd7499-5841-51c8-e663-fb16b6f3b45e
                      mxtunnel_name: string
                      port_auth: none
                      port_vlan_id: 1
                      radius_config:
                        acct_interim_interval: 0
                        acct_servers:
                        - host: 1.2.3.4
                          keywrap_enabled: true
                          keywrap_format: hex
                          keywrap_kek: '1122334455'
                          keywrap_mack: '1122334455'
                          port: 1813
                          secret: testing123
                        auth_servers:
                        - host: 1.2.3.4
                          keywrap_enabled: true
                          keywrap_format: hex
                          keywrap_kek: '1122334455'
                          keywrap_mack: '1122334455'
                          port: 1812
                          secret: testing123
                        auth_servers_retries: 3
                        auth_servers_timeout: 5
                        coa_enabled: false
                        coa_port: 3799
                        network: string
                        source_ip: string
                      radsec:
                        enabled: true
                        idle_timeout: 60
                        mxcluster_ids:
                        - 572586b7-f97b-a22b-526c-8b97a3f609c4
                        proxy_hosts:
                        - mxedge1.local
                        server_name: radsec.abc.com
                        servers:
                        - host: 1.1.1.1
                          port: 1812
                        use_mxedge: true
                        use_site_mxedge: false
                      vlan_id: 9
                      vland_ids:
                      - 1
                      - 10
[...]
