openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: '> Version: **2401.1.5**

    >

    > Date: **February 15, 2024**


    ---


    #### Available Documentation

    * [Postman](https://documenter.getpostman.com/view/224925/SzYgQufe)

    * [Open API](https://doc.mist-lab.fr/)


    ---


    #### Useful links

    * [Mist Homepage](https://www.mist.com)

    * [Mist Documentation](https://www.mist.com/documentation)

    * [Official API Documentation](https://api.mist.com/api/v1/docs/Home) (Mist account
    required)

    * [Mist Blog](https://www.mist.com/news/?md_post_type=post)

    * [Mist Updates](https://www.mist.com/documentation/category/product-updates/)'
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2401.1.5
  x-logo:
    altText: Juniper-MistAI
    backgroundColor: '#FFFFFF'
    url: https://www.mist.com/wp-content/uploads/logo.png
servers:
- description: Mist Global 01
  url: https://api.mist.com
- description: Mist Global 02
  url: https://api.gc1.mist.com
- description: Mist Global 03
  url: https://api.ac2.mist.com
- description: Mist Global 04
  url: https://api.gc2.mist.com
- description: Mist Europe 01
  url: https://api.eu.mist.com
- description: Mist APAC 01
  url: https://api.ac5.mist.com
security:
- apiToken: []
- basicAuth: []
tags:
- name: Admin
- name: Constants
- description: "In a typical enterprise, a separate group of people, Installers, are\
    \ responsible for install new devices. May it be a new installation (e.g. new\
    \ stores), a replacement installation (e.g. replacing Cisco APs with Mist APs),\
    \ or addition (e.g. adding new APs for better coverage). Instead of granting them\
    \ Admin/Write privilege, it's more desirable to grant them minimum privileges\
    \ to do the initial provisioning so they cannot read sensible information (e.g.\
    \ PSK of a WLAN), or change configs of running APs.\nAt a high level, Installer\
    \ APs try to achieve the following:\n1. identifying a device by MAC (that\u2019\
    s what they see)\n2. they can only touch configurations of the devices they\u2019\
    re installing\n3. allow the following configurations: * name * site assignment\
    \ * device  profile assignment * map and location (x/y) assignment * claim (if\
    \ not already in the inventory) * replace existing device with the device being\
    \ installed\n\n* Grace Period *\nGrace period provides a dynamic way to limit\
    \ what devices / sites   installer can work on. Generally installers work on recent\
    \ deployments -  bringing up new sites, add newly claimed devices to new / existing\
    \ sites. They  make mistakes, too, and may need to further tweak some of the parameters.\
    \   Default grace period is 7 days and can be set from 1 day to 365 days."
  name: Installer
- name: Login
- description: A Mist account can be linked to OAuth2 providers:\n1. First, login
    with your Mist account\n2. Obtain the Authorization URL for Linking 1. in JSON
    response, more usable for developers. Simply don\'t specify the forward parameter
    when obtaining the authorization URL 2. or as GET parameter, for UI where the
    user flow can be continued. Specify the landing page/url of your choice 3. Obtain
    the authorizaiton code by clicking / going through Authorization URL Link Mist
    Account against OAuth2 Provider by using the authorization code
  name: Login With OAuth2
- description: MSP (Managed Service Provider) contains multiple Organizations.
  name: Msps
- name: Msps Admins
- name: Msps Inventory
- name: Msps Invites
- name: Msps Licenses
- name: Msps Logo
- name: Msps Logs
- name: Msps Marvis
- name: Msps Org Groups
- name: Msps Orgs
- name: Msps SLEs
- name: Msps SSO
- name: Msps SSO Roles
- name: Msps Stats
- name: Msps Tickets
- description: An organization usually represents a customer - which has inventories,
    licenses. An Organization can contain multiple sites. A site usually represents
    a deployment at the same location (a campus, an office).
  name: Orgs
- name: Orgs 128T
- name: Orgs API Tokens
- name: Orgs Admins
- description: An Alarm Template is a set of Alarm Rules that could be applied to
    one or more sites (while each site can only pick one Alarm Template), or to the
    whole org.
  name: Orgs Alarm Templates
- description: Alarms are triggered based on certain events. Alarms could be configured
    using an Alarm Template.
  name: Orgs Alarms
- name: Orgs CRL
- name: Orgs Calls
- name: Orgs Cert
- description: 'While Templates / RF Templates / Network Templates / Gateway Templates
    provides powerful ways to control how a Device\''s configuration is derived for
    a Site. There are cases where you\''d like another level of control at the Org
    Level.

    A Device Profile contains a subset of Device\''s configurations you\''d like a
    device to have. It will be merged at runtime when we\''re provisioning an AP.'
  name: Orgs Device Profiles
- name: Orgs Devices
- description: API Call for 3rd party devices
  name: Orgs Devices Others
- name: Orgs Devices Upgrades
- description: "In Zscaler UI \n 1. add Partner Integration at https://admin.zscalerbeta.net/#administration/partner-integration\
    \ \n 2. Add Partner Administrator Role at https://admin.zscalerbeta.net/#administration/role-management\
    \ - Name: Mist - Access: Full \n 3. add Partner Admin at https://admin.zscalerbeta.net/#administration/admin-management\
    \ with - Login ID: john - email: john@abc.com \n 4. Find the cloud name for ZIA\
    \ https://help.zscaler.com/zia/what-my-cloud-name-zia\n"
  name: Orgs Devices Zscaler
- name: Orgs Inventory
- name: Orgs JSE
- description: "Juniper Support Insight is a free service provided to all Mist customers.\
    \ You can adopt your devices via a few lines CLI comands. Allowing you to \n*\
    \ get some basic information about the adopted devices \n* web shell into device\
    \ (write privilege required) \n* upgrade (write privilege required)"
  name: Orgs JSI
- name: Orgs Licenses
- name: Orgs Linked Applications
- name: Orgs Logs
- name: Orgs Marvis
- name: Orgs MxEdges
- name: Orgs Premium Analytics
- name: Orgs SLEs
- name: Orgs SSO
- name: Orgs SSO Roles
- description: "Security Policy is designed to audit / catch discripancies between\
    \ \u201Cwhat\u2019s intended to be running\u201D versus \u201Cwhat\u2019s actually\
    \ running\u201D in a network. Many big organizations have separated Security and\
    \ IT team (for good reasons). Each site can be assigned a security policy. Whenever\
    \ an AP is provisioned, the configuration will be checked against the security\
    \ policy. Any violations will be flagged in [Device Config History](/#operation/searchSiteDeviceConfigHistory)\
    \ where you can search for the when and where the violation occurs."
  name: Orgs SecPolicies
- name: Orgs Setting
- description: Site template is intended to be applied to a Site. The items in site
    setting which should be shared for all device types.
  name: Orgs Site Templates
- name: Orgs Sitegroups
- name: Orgs Sites
- name: Orgs Stats
- name: Orgs Subscriptions
- name: Orgs Tickets
- name: Orgs Vars
- name: Orgs Webhooks
- name: Recover Password
- description: "Like many other API providers, it\u2019s also possible to generate\
    \ API Tokens to be used (in HTTP Header) for authentication. An API token ties\
    \ to a Admin with equal or less privileges.\n\nNotes:\n* an API token generated\
    \ for a specific admin has the same privilege as the user\n* an API token will\
    \ be automatically removed if not used for > 90 days\n* SSO admins cannot generate\
    \ these API tokens. Refer Org level API tokens (/api/v1/docs/Org#api-token) which\
    \ can have privileges of a specific Org/Site for more information.    "
  name: Self API Token
- name: Self Account
- name: Self Alarms
- name: Self Audit Logs
- name: Self MFA
- name: Self OAuth2
- description: A site represents a project, a deployment. For MSP, it can be as small
    as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps,
    Wlans, Policies, Zones.
  name: Sites
- name: Sites Alarms
- name: Sites Anomaly
- description: Applications contains a list of applications users are interested in
    monitoring / routing / policying
  name: Sites Applications
- name: Sites Calls
- description: 'Mist provides many ways (device-type specific template, site template,
    device profile, per-device) to configure devices for different kind of scenarios.

    The precedence goes from most specific to least specific

    Device > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template
    > Site Template > Site Setting'
  name: Sites Devices
- name: Sites Devices - WAN
- name: Sites Devices - Wired
- name: Sites Devices Stats
- name: Sites Devices Upgrades
- name: Sites Devices Utilities
- name: Sites Events
- name: Sites Insights
- name: Sites JSE
- name: Sites Licenses
- name: Sites Pcaps
- name: Sites SLEs
- name: Sites Service Policies
- name: Sites Setting
- name: Sites Site Templates
- name: Sites Stats
- name: Sites Subscriptions
- name: Sites Synthetic Tests
- name: Sites UI Settings
- name: Sites Webhooks
- name: Sites Wlans
paths:
  /api/v1/const/alarm_defs:
    get:
      description: Get List of brief definitions of all the supported alarm types.  The
        example field contains an example payload as you would recieve in the alarm
        webhook output.
      operationId: listAlarmDefinitions
      responses:
        '200':
          $ref: '#/components/responses/ConstAlarmDefs'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listAlarmDefinitions
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/const/ap_channels:
    get:
      description: Get List of List of Available channels per country code
      operationId: listApChannels
      parameters:
      - $ref: '#/components/parameters/country_code'
      responses:
        '200':
          $ref: '#/components/responses/ConstApChannels'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listApChannels
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/const/ap_led_status:
    get:
      description: Get List of AP LED definition
      operationId: listApLedDefinition
      responses:
        '200':
          $ref: '#/components/responses/ConstApLedArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listApLedDefinition
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/const/applications:
    get:
      description: Get List of a list of applications that Juniper-Mist APs recognize
      operationId: listApplications
      responses:
        '200':
          $ref: '#/components/responses/ConstApplications'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listApplications
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/const/client_events:
    get:
      description: Get List of List of available Client Events
      operationId: listClientEventsDefinitions
      responses:
        '200':
          $ref: '#/components/responses/ConstClientEventsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listClientEventsDefinitions
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/const/countries:
    get:
      description: Get List of List of available Country Codes
      operationId: listCountryCodes
      responses:
        '200':
          $ref: '#/components/responses/ConstCrountriesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listCountryCodes
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/const/default_gateway_config:
    get:
      description: Generate Default Gateway Config
      operationId: getGatawayDefaultConfig
      parameters:
      - description: model the default gateway config is intended (as the default
          LAN/WAN port can differ)
        in: query
        name: model
        required: true
        schema:
          type: string
      - description: whether the config is intended for HA
        in: query
        name: ha
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Example:
                  value:
                    dhcpd_config:
                      lan:
                        ip_end: 192.168.1.254
                        ip_start: 192.168.1.2
                    ip_configs:
                      lan:
                        ip: 192.168.1.1
                        type: static
                    networks:
                      lan:
                        name: lan
                        subnet: 192.168.1.0/24
                        vlan_id: 1
                    path_preferences:
                      wan:
                        paths:
                        - name: wan
                          type: wan
                    port_config:
                      cl-1/0/0:
                        ip_config:
                          type: dhcp
                        name: lte
                        usage: wan
                        wan_type: lte
                      ge-0/0/0,ge-0/0/7:
                        ip_config:
                          type: dhcp
                        name: wan
                        usage: wan
                      ge-0/0/1-6:
                        port_network: lan
                        usage: lan
                    service_policies:
                    - action: allow
                      name: Internet
                      path_preference: wan
                      services:
                      - any
                      tenants:
                      - lan
              schema:
                additionalProperties: true
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getGatawayDefaultConfig
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/const/device_events:
    get:
      description: Get list of available Device Events
      operationId: listDeviceEventsDefinitions
      responses:
        '200':
          $ref: '#/components/responses/ConstDeviceEventsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listDeviceEventsDefinitions
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/const/device_models:
    get:
      description: Get list of AP device models for the Mist Site
      operationId: listDeviceModels
      responses:
        '200':
          $ref: '#/components/responses/ConstDeviceModels'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listDeviceModels
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/const/gateway_applications:
    get:
      description: Get the full list of applications that we recognize
      operationId: listGatewayApplications
      responses:
        '200':
          $ref: '#/components/responses/ConstGatewayApplications'
      summary: listGatewayApplications
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/const/insight_metrics:
    get:
      description: List Insight Metrics
      operationId: listInsightMetrics
      responses:
        '200':
          $ref: '#/components/responses/ConstInsightMetrics'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listInsightMetrics
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/const/languages:
    get:
      description: Get List of Languages
      operationId: listSiteLanguages
      responses:
        '200':
          $ref: '#/components/responses/ConstLanaguagesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listSiteLanguages
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/const/license_types:
    get:
      description: 'Get License Types

        '
      operationId: getLicenseTypes
      responses:
        '200':
          $ref: '#/components/responses/ConstLicenceTypesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getLicenseTypes
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/const/mxedge_events:
    get:
      description: Get List of available MX Edge Events
      operationId: listMxEdgeEventsDefinitions
      responses:
        '200':
          $ref: '#/components/responses/ConstMxEdgeEventsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listMxEdgeEventsDefinitions
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/const/mxedge_models:
    get:
      description: Get List of available Mx Edge models
      operationId: listMxEdgeModels
      responses:
        '200':
          $ref: '#/components/responses/ConstMxEdgeModelsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listMxEdgeModels
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/const/nac_events:
    get:
      description: Get List of List of available NAC Client Events
      operationId: listNacEventsDefinitions
      responses:
        '200':
          $ref: '#/components/responses/ConstNacEventsArray'
      summary: listNacEventsDefinitions
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/const/otherdevice_events:
    get:
      description: 'Supported Events Type

        '
      operationId: listOtherDeviceEventsDefinitions
      responses:
        '200':
          $ref: '#/components/responses/ConstOtherDeviceEventsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listOtherDeviceEventsDefinitions
      tags:
      - Constants
      - tag:MIST:Constants
    parameters: []
  /api/v1/const/otherdevice_models:
    get:
      description: 'Supported OtherDevice Models

        '
      operationId: listSupportedOtherDeviceModels
      responses:
        '200':
          content:
            application/json:
              examples:
                Example:
                  value:
                  - _vendor_model_id: '65'
                    display: W1850
                    model: W1850
                    type: router
                    vendor: cradlepoint
              schema:
                items:
                  properties:
                    _vendor_model_id:
                      type: string
                    display:
                      type: string
                    model:
                      type: string
                    type:
                      type: string
                    vendor:
                      type: string
                  type: object
                type: array
          description: OK
      summary: listSupportedOtherDeviceModels
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/const/traffic_types:
    get:
      description: Get List of identified traffic
      operationId: listTrafficTypes
      responses:
        '200':
          $ref: '#/components/responses/ConstTrafficTypesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listTrafficTypes
      tags:
      - Constants
      - tag:MIST:Constants
  /api/v1/installer/orgs/{org_id}/alarmtemplates:
    get:
      description: Get List of alarm templates
      operationId: listInstallerAlarmTemplates
      responses:
        '200':
          $ref: '#/components/responses/InstallerAlarmtemplatesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listInstallerAlarmTemplates
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/deviceprofiles:
    get:
      description: Get List of Device Profiles
      operationId: listInstallerDeviceProfiles
      parameters: []
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                    name: DeviceProfile 1
              schema:
                items:
                  properties:
                    id:
                      format: uuid
                      type: string
                    name:
                      type: string
                  required:
                  - id
                  - name
                  type: object
                minItems: 1
                type: array
                uniqueItems: true
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listInstallerDeviceProfiles
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/devices:
    get:
      description: Get List of recently claimed devices
      operationId: listInstallerListOfRenctlyClaimedDevices
      responses:
        '200':
          $ref: '#/components/responses/InstallerDevicesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listInstallerListOfRenctlyClaimedDevices
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
    post:
      description: This mirrors `POST /api/v1/orgs/{org_id}/inventory` (see Inventory
        API)
      operationId: claimInstallerDevices
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                - 6JG8E-PTFV2-A9Z2N
                - DVH4V-SNMSZ-PDXBR
            schema:
              $ref: '#/components/schemas/claimcodes'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OrgInventoryAdd'
        '400':
          description: Bad Request if none of the entries are valid
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: claimInstallerDevices
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
  /api/v1/installer/orgs/{org_id}/devices/{device_mac}:
    delete:
      description: Unassign recently claimed devices
      operationId: unassignInstallerRecentlyClaimedDevice
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: unassignInstallerRecentlyClaimedDevice
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/device_mac'
    put:
      description: "Provision or Replace a device \n\nIf replacing_mac is in the request\
        \ payload, other attributes are ignored, we attempt to replace existing device\
        \ (with mac replacing_mac) with the inventory device being configured. The\
        \ replacement device must be in the inventory but not assigned, and the replacing_mac\
        \ device must be assigned to a site, and satisfy grace period requirements.\
        \ The Device replaced will become unassigned."
      operationId: provisionInstallerDevices
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  deviceprofile_name: string
                  for_site: true
                  height: 0
                  map_id: 09d2b626-2e4e-45ef-a3c4-e6aeb6c83db1
                  name: string
                  orientation: 0
                  site_id: 72771e6a-6f5e-4de4-a5b9-1266c4197811
                  site_name: string
                  x: 0
                  y: 0
            schema:
              $ref: '#/components/schemas/installer_provision_device'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          content:
            application/json:
              examples:
                invalid-mac-given-for-replacing_mac:
                  value:
                    detail: invalid replacing_mac
                inventory-device-is-already-assigned:
                  value:
                    detail: device already assigned
                outsite-of-grace-period:
                  value:
                    detail: outside of grace period
                replacing_mac-device-is-not-assigned-to-a-site:
                  value:
                    detail: replacing_mac device is unassigned
                replacing_mac-device-last-modified-outside-of-grace-period:
                  value:
                    detail: replacing_mac device outside of grace period
              schema:
                properties:
                  detail:
                    type: string
                required:
                - detail
                type: object
          description: Bad Request
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          content:
            application/json:
              examples:
                replacing_mac-device-is-not-in-org-inventory:
                  value:
                    detail: replacing_mac inventory not found
                replacing_mac-device-not-found:
                  value:
                    detail: replacing_mac device not found
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not Found
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: provisionInstallerDevices
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
  /api/v1/installer/orgs/{org_id}/devices/{device_mac}/locate:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/device_mac'
    post:
      description: "Locate a Device by blinking it\u2019s LED, it\u2019s a persisted\
        \ state that has to be stopped by calling Stop Locating API"
      operationId: startInstallerLocateDevice
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: startInstallerLocateDevice
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
  /api/v1/installer/orgs/{org_id}/devices/{device_mac}/unlocate:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/device_mac'
    post:
      description: Stop it
      operationId: stopInstallerLocateDevice
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: stopInstallerLocateDevice
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
  /api/v1/installer/orgs/{org_id}/devices/{device_mac}/{image_name}:
    delete:
      description: delete image
      operationId: deleteInstallerDeviceImage
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteInstallerDeviceImage
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/image_name'
    - $ref: '#/components/parameters/device_mac'
    post:
      description: Add image
      operationId: addInstallerDeviceImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              format: binary
              type: string
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: addInstallerDeviceImage
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
  /api/v1/installer/orgs/{org_id}/rftemplates:
    get:
      description: Get List of RF Templates
      operationId: listInstallerRfTemplatesNames
      responses:
        '200':
          $ref: '#/components/responses/InstallerRftemplatesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listInstallerRfTemplatesNames
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/secpolicies:
    get:
      description: Get List of Secuity Policies
      operationId: listInstallerSecPolicies
      responses:
        '200':
          $ref: '#/components/responses/InstallerSecpoliciesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listInstallerSecPolicies
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/sitegroups:
    get:
      description: Get List of Site Groups
      operationId: listInstallerSiteGroups
      responses:
        '200':
          $ref: '#/components/responses/InstallerSitegroupsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listInstallerSiteGroups
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/sites:
    get:
      description: Get List of Sites
      operationId: listInstallerSites
      responses:
        '200':
          $ref: '#/components/responses/InstallerSitesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listInstallerSites
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
  /api/v1/installer/orgs/{org_id}/sites/{site_name}:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/site_name'
    put:
      description: Often the Installers are asked to assign Devices to Sites. The
        Sites can either be pre-created or created/modified by the Installer. If this
        is an update, the same grace period also applies.
      operationId: createOrUpdateInstallerSites
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  address: 1601 S. Deanza Blvd., Cupertino, CA, 95014
                  country_code: US
                  latlng:
                    lat: 37.295833
                    lng: -122.032946
                  name: string
                  rftemplate_name: rftemplate1
                  sitegroup_names:
                  - sg1
                  - sg2
                  timezone: America/Los_Angeles
            schema:
              $ref: '#/components/schemas/installer_site'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createOrUpdateInstallerSites
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
  /api/v1/installer/orgs/{org_id}/sites/{site_name}/maps:
    get:
      description: Get List of Maps
      operationId: listInstallerMaps
      responses:
        '200':
          $ref: '#/components/responses/MapsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listInstallerMaps
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/site_name'
  /api/v1/installer/orgs/{org_id}/sites/{site_name}/maps/import:
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/site_name'
    post:
      description: Import data from files is a multipart POST which has an file, an
        optional json, and an optional csv, to create floorplan, assign & place ap
        if name or mac matches
      operationId: importInstallerMap
      requestBody:
        content:
          multipart/form-data:
            examples:
              Example:
                value:
                  csv: string
                  file: string
                  json:
                    import_all_floorplans: false
                    import_height: false
                    import_orientation: false
                    vendor_name: ekahau
            schema:
              $ref: '#/components/schemas/import_site_map'
      responses:
        '200':
          $ref: '#/components/responses/MapImport'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: importInstallerMap
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
  /api/v1/installer/orgs/{org_id}/sites/{site_name}/maps/{map_id}:
    delete:
      description: Delete Map
      operationId: deleteInstallerMap
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteInstallerMap
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
    parameters:
    - $ref: '#/components/parameters/org_id'
    - $ref: '#/components/parameters/site_name'
    - $ref: '#/components/parameters/map_id'
    post:
      description: Create a MAP
      operationId: createInstallerMap
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  flags: {}
                  height: 0
                  latlng_br:
                    lat: string
                    lng: string
                  latlng_tl:
                    lat: string
                    lng: string
                  locked: true
                  name: string
                  orientation: 0
                  origin_x: 0
                  origin_y: 0
                  ppm: 0
                  sitesurvey_path:
                  - coordinate: string
                    id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    name: string
                    nodes:
                    - edges:
                        N2: string
                      name: string
                      position:
                        x: 0
                        y: 0
                  thumbnail_url: string
                  type: image
                  url: string
                  view: roadmap
                  wall_path:
                    coordinate: string
                    nodes:
                    - edges:
                        N2: string
                      name: string
                      position:
                        x: 0
                        y: 0
                  wayfinding:
                    micello:
                      account_key: string
                      default_level_id: 0
                      map_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    snap_to_path: true
                  wayfinding_path:
                    coordinate: string
                    nodes:
                    - edges:
                        N2: string
                      name: string
                      position:
                        x: 0
                        y: 0
                  width: 0
            schema:
              $ref: '#/components/schemas/map'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Map'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createInstallerMap
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
    put:
      description: Update map
      operationId: updateInstallerMap
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/map'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Map'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateInstallerMap
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
  /api/v1/installer/sites/{site_name}/optimize:
    get:
      description: "After installation is considered complete (APs are placed on maps,\
        \ all powered up), you can trigger an optimize operation where RRM will kick\
        \ in (and maybe other things in the future) before it\u2019s automatically\
        \ scheduled."
      operationId: optimizeInstallerRrm
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: optimizeInstallerRrm
      tags:
      - Installer
      - tag:MIST:CONFIGURE:Installer
    parameters:
    - $ref: '#/components/parameters/site_name'
  /api/v1/invite/verify/{token}:
    parameters:
    - $ref: '#/components/parameters/token'
    post:
      description: '**Note**: another call to ```GET /api/v1/self``` is required to
        see the new set of privileges'
      operationId: verifyAdminInvite
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          content:
            application/json:
              examples:
                invalid-secret:
                  value:
                    detail: invalid secret
                invite-created-by-self:
                  value:
                    detail: invite created by self
              schema:
                properties:
                  detail:
                    type: string
                type: object
          description: Not Found
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: verifyAdminInvite
      tags:
      - Admin
      - tag:MIST:CONFIGURE:Admin
  /api/v1/login:
    post:
      description: "Log in with email/password.\nWhen 2FA is enabled, there are two\
        \ ways to login:\n1. login with two_factor token (with Google Authenticator,\
        \ etc) \n2. login with email/password, generate the token, and use /login/two_factor\
        \ with the token"
      operationId: login
      requestBody:
        content:
          application/json:
            examples:
              with-2FA:
                value:
                  email: test@mistsys.com
                  password: foryoureyesonly
                  two_factor: '123456'
              without-2FA:
                value:
                  email: test@mistsys.com
                  password: foryoureyesonly
            schema:
              $ref: '#/components/schemas/login'
      responses:
        '200':
          content:
            application/json:
              examples:
                2FA-required:
                  value:
                    email: test@mistsys.com
                    two_factor_passed: false
                    two_factor_required: true
                OK:
                  value: {}
              schema:
                properties:
                  email:
                    type: string
                  two_factor_passed:
                    type: boolean
                  two_factor_required:
                    type: boolean
                type: object
          description: Login Success
          headers:
            Set-Cookie:
              description: Session Cookie if login/password authentication is successful
              schema:
                example: csrftoken=vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx; expires=Tue,
                  15-Mar-2016 19:47:20 GMT; Max-Age=31449600; Path=/
                type: string
        '400':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    detail: sso admin login needs to be initiated by IdP
                    forward_url: https://my.sso/idp_sso_url
              schema:
                oneOf:
                - properties:
                    detail:
                      type: string
                    forward_url:
                      type: string
                  required:
                  - detail
                  type: object
          description: Login Failed
      summary: login
      tags:
      - Login
      - tag:MIST:AUTHENTICATION:Login
  /api/v1/login/lookup:
    post:
      description: Login Lookup
      operationId: lookup
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  email: test@mistsys.com
            schema:
              $ref: '#/components/schemas/Model_object_email'
        description: Request Body
      responses:
        '200':
          content:
            application/json:
              examples:
                SSO-user-exists:
                  value:
                    sso_url: https://my.sso/idp_sso_url
                local-user-exists:
                  value: {}
              schema:
                properties:
                  sso_url:
                    type: string
                type: object
          description: account exists
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          description: user does not exist
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: lookup
      tags:
      - Login
      - tag:MIST:AUTHENTICATION:Login
  /api/v1/login/oauth/{provider}:
    delete:
      description: Unlink OAuth2 Provider
      operationId: unlinkOAuth2Provider
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: unlinkOAuth2Provider
      tags:
      - Login With OAuth2
      - tag:MIST:AUTHENTICATION:Login With OAuth2
    get:
      description: Obtain Authorization URL for Login
      operationId: getOAuth2AuthorizationUrlForLogin
      parameters:
      - in: query
        name: forward
        schema:
          example: http://manage.mist.com/oauth/callback.html
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    authorization_url: https://accounts.google.com/o/oauth2/v2/auth?.....
                    client_id: 173131512-mpbnju32.apps.googleusercontent.com
              schema:
                properties:
                  authorization_url:
                    type: string
                  client_id:
                    type: string
                required:
                - client_id
                - authorization_url
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getOAuth2AuthorizationUrlForLogin
      tags:
      - Login With OAuth2
      - tag:MIST:AUTHENTICATION:Login With OAuth2
    parameters:
    - in: path
      name: provider
      required: true
      schema:
        type: string
    post:
      description: Login via OAuth2
      operationId: loginOAuth2
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  code: 4/S9tegDeLkrYg0L9pWNXV4cgMVbbr3SR9t693A2kSHzw
            schema:
              properties:
                code:
                  type: string
              required:
              - code
              type: object
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: loginOAuth2
      tags:
      - Login With OAuth2
      - tag:MIST:AUTHENTICATION:Login With OAuth2
  /api/v1/login/two_factor:
    post:
      description: Send 2FA Code
      operationId: twoFactor
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  two_factor: '123456'
            schema:
              $ref: '#/components/schemas/two_factor'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          description: "two_factor code is incorrect or the user hasn\u2019t login\
            \ yet"
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          description: "the user doesn\u2019t have 2FA enabled"
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: twoFactor
      tags:
      - Login
      - tag:MIST:AUTHENTICATION:Login
  /api/v1/logout:
    post:
      description: Logout
      operationId: logout
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    forward_url: https://my.sso/custom_logout_url
              schema:
                properties:
                  forward_url:
                    description: if configured in SSO as custom_logout_url
                    type: string
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: logout
      tags:
      - Login
      - tag:MIST:AUTHENTICATION:Login
  /api/v1/msps:
    post:
      description: Create MSP account
      operationId: createMsp
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  name: MSP
            schema:
              $ref: '#/components/schemas/Msp'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Msp'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createMsp
      tags:
      - Msps
      - tag:MIST:CONFIGURE:Msps
  /api/v1/msps/{msp_id}:
    delete:
      description: Deleting MSP removes the MSP and OrgGroup under the MSP as well
        as all privileges associated with them. It does not remove any Org or Admins
      operationId: deleteMsp
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteMsp
      tags:
      - Msps
      - tag:MIST:CONFIGURE:Msps
    get:
      description: Get MSP Detail
      operationId: getMspDetails
      responses:
        '200':
          $ref: '#/components/responses/Msp'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getMspDetails
      tags:
      - Msps
      - tag:MIST:CONFIGURE:Msps
    parameters:
    - $ref: '#/components/parameters/msp_id'
    put:
      description: Update MSP
      operationId: updateMsp
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  name: MSP
            schema:
              $ref: '#/components/schemas/Msp'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Msp'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateMsp
      tags:
      - Msps
      - tag:MIST:CONFIGURE:Msps
  /api/v1/msps/{msp_id}/admins:
    get:
      description: Get List of MSP Admins
      operationId: listMspAdmins
      responses:
        '200':
          $ref: '#/components/responses/AdminsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listMspAdmins
      tags:
      - Msps Admins
      - tag:MIST:CONFIGURE:Msps Admins
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/admins/{admin_id}:
    delete:
      description: This removes all privileges this admin has against the MSP. This
        goes deep all the way to the sites
      operationId: revokeMspAdmin
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: revokeMspAdmin
      tags:
      - Msps Admins
      - tag:MIST:CONFIGURE:Msps Admins
    get:
      description: Get MSP Admins
      operationId: getMspAdmin
      responses:
        '200':
          $ref: '#/components/responses/Admin'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getMspAdmin
      tags:
      - Msps Admins
      - tag:MIST:CONFIGURE:Msps Admins
    parameters:
    - $ref: '#/components/parameters/msp_id'
    - $ref: '#/components/parameters/admin_id'
    put:
      description: Update MSP Admin
      operationId: updateMspAdmin
      requestBody:
        content:
          application/json:
            examples:
              example-2:
                value:
                  admin_id: 919c4da0-421a-479a-918d-df80e426d3bf
                  email: user@example.com
                  enable_two_factor: true
                  first_name: string
                  last_name: string
                  oauth_google: true
                  privileges:
                  - for_site: true
                    msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    msp_name: string
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    org_name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    role: admin
                    scope: org
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    sitegroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  session_expiry: 0
                  tags:
                  - string
                  two_factor_verified: true
            schema:
              $ref: '#/components/schemas/admin'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Admin'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateMspAdmin
      tags:
      - Msps Admins
      - tag:MIST:CONFIGURE:Msps Admins
  /api/v1/msps/{msp_id}/claim:
    parameters:
    - $ref: '#/components/parameters/msp_id'
    post:
      description: Claim an Order by Activation Code
      operationId: claimMspLicence
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  code: ZHT3K-H36DT-MG85D-M61AC
            schema:
              properties:
                code:
                  description: activation code
                  minLength: 1
                  type: string
              required:
              - code
              type: object
      responses:
        '200':
          $ref: '#/components/responses/claimLicense'
        '400':
          description: Response when the key is invalid (or already used)
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: claimMspLicence
      tags:
      - Msps Licenses
      - tag:MIST:CONFIGURE:Msps Licenses
  /api/v1/msps/{msp_id}/insights/{metric}:
    get:
      description: Get MSP SLEs (all/worst Orgs ...)
      operationId: getMspSle
      parameters:
      - description: see /api/v1/const/insight_metrics for more details
        in: query
        name: sle
        schema:
          type: string
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/interval'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      responses:
        '200':
          content:
            application/json:
              examples:
                orgs-sle:
                  value:
                    end: 1643706000
                    interval: 3600
                    limit: 100
                    results:
                    - ap-availability: 0.9919400860511628
                      ap-health: 0.967607512909879
                      capacity: 0.7484652273070254
                      coverage: 0.91217567374857
                      num_aps: 13
                      num_clients: 12
                      org_id: 978c48e6-6ef6-11e6-8bbf-02e208b2d34f
                      roaming: 0.991735537682683
                      roaming-exp: 0.991735537682683
                      successful-connect: 0.46052632135780236
                      throughput: 0.6775702123846302
                      time-to-connect: 0.9349112447196916
                    - ap-availability: 0.9990384613092129
                      ap-health: 0.48201754375507955
                      capacity: 0.9702673450306101
                      coverage: 0.8335392334930375
                      num_aps: 1
                      num_clients: 6
                      org_id: 49ff76e0-a283-4e7d-b38d-041f1e9aff3c
                      roaming: 1
                      roaming-exp: 1
                      successful-connect: 1
                      throughput: 0
                      time-to-connect: 1
                    - ap-availability: 1
                      ap-health: 0.982456140612301
                      capacity: 1
                      coverage: 0.9276041182442488
                      num_aps: 2
                      num_clients: 3
                      org_id: 9b9b48f1-15a4-459e-86cc-9cbec9005983
                      roaming: 1
                      roaming-exp: 1
                      successful-connect: 1
                      throughput: 1
                      time-to-connect: 0.8125
                    - ap-availability: 0.9981132070973234
                      ap-health: 0.9991228068084047
                      capacity: 1
                      coverage: 1
                      num_aps: 1
                      num_clients: 0
                      org_id: eb0e1671-7a6b-472b-94c3-c187dafe5274
                      roaming: 1
                      roaming-exp: 1
                      successful-connect: 1
                      throughput: 0
                      time-to-connect: 0.5
                    start: 1643670000
              schema:
                properties:
                  end:
                    type: number
                  interval:
                    type: number
                  limit:
                    type: number
                  results:
                    items:
                      additionalProperties: {}
                      type: object
                    type: array
                    uniqueItems: true
                  start:
                    type: number
                required:
                - start
                - end
                - interval
                - limit
                - results
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getMspSle
      tags:
      - Msps SLEs
      - tag:MIST:MONITOR:Msps SLEs
    parameters:
    - $ref: '#/components/parameters/msp_id'
    - $ref: '#/components/parameters/metric'
  /api/v1/msps/{msp_id}/inventory/{device_mac}:
    get:
      description: Get Inventoy By device MAC address
      operationId: getMspInventoryByMac
      responses:
        '200':
          content:
            application/json:
              examples:
                example-1:
                  value:
                    mac: 5c5b35000018
                    model: AP200
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    serial: FXLH2015150025
                    site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
                    type: ap
              schema:
                properties:
                  for_site:
                    readOnly: true
                    type: boolean
                  mac:
                    readOnly: true
                    type: string
                  model:
                    readOnly: true
                    type: string
                  org_id:
                    format: uuid
                    readOnly: true
                    type: string
                  serial:
                    readOnly: true
                    type: string
                  site_id:
                    format: uuid
                    readOnly: true
                    type: string
                  type:
                    readOnly: true
                    type: string
                required:
                - serial
                - model
                - type
                - mac
                - org_id
                - site_id
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getMspInventoryByMac
      tags:
      - Msps Inventory
      - tag:MIST:MONITOR:Msps Inventory
    parameters:
    - $ref: '#/components/parameters/msp_id'
    - $ref: '#/components/parameters/device_mac'
  /api/v1/msps/{msp_id}/invites:
    parameters:
    - $ref: '#/components/parameters/msp_id'
    post:
      description: 'Invite MSP Admin


        **Note**: An email will also be sent to the user with a link to https://manage.mist.com/verify/invite?token=:token'
      operationId: inviteMspAdmin
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  email: user@example.com
                  first_name: string
                  last_name: string
                  privileges:
                  - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    msp_name: string
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    org_name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    role: admin
                    scope: org
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    sitegroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: '#/components/schemas/admin'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Admin'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: inviteMspAdmin
      tags:
      - Msps Invites
      - tag:MIST:CONFIGURE:Msps Invites
  /api/v1/msps/{msp_id}/invites/{invite_id}:
    delete:
      description: Delete admin invite
      operationId: uninviteMspAdmin
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: uninviteMspAdmin
      tags:
      - Msps Invites
      - tag:MIST:CONFIGURE:Msps Invites
    parameters:
    - $ref: '#/components/parameters/msp_id'
    - $ref: '#/components/parameters/invite_id'
    put:
      description: Update MSP admin invite
      operationId: updateMspAdminInvite
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  email: user@example.com
                  first_name: string
                  last_name: string
                  privileges:
                  - msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    msp_name: string
                    name: string
                    org_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    org_name: string
                    orggroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    role: admin
                    scope: org
                    site_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                    sitegroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: '#/components/schemas/admin'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Admin'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateMspAdminInvite
      tags:
      - Msps Invites
      - tag:MIST:CONFIGURE:Msps Invites
  /api/v1/msps/{msp_id}/licenses:
    get:
      description: Get List of Msp Licenses
      operationId: listMspLicenses
      responses:
        '200':
          $ref: '#/components/responses/Licence'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listMspLicenses
      tags:
      - Msps Licenses
      - tag:MIST:CONFIGURE:Msps Licenses
    parameters:
    - $ref: '#/components/parameters/msp_id'
    put:
      description: Move or Delete MSP Licenses
      operationId: moveOrDeleteMspLicenseToAnotherOrg
      requestBody:
        content:
          application/json:
            examples:
              delete-license:
                value:
                  op: delete
                  subscription_id: SUB-0000144
              move-micense:
                value:
                  dst_org_id: 3eff35f7-c218-894e-bca2-24e5325601cc
                  op: amend
                  quantity: 10
                  subscription_id: SUB-0000144
              undo-the-license-move:
                value:
                  amendment_id: 2b9116ab-cd1e-e897-6e08-31fccd88e792
                  op: unamend
            schema:
              properties:
                amendment_id:
                  description: required if `op`==`unamend`
                  type: string
                dst_org_id:
                  description: required if `op`==`amend`, destination org id
                  minLength: 1
                  type: string
                notes:
                  description: required if `op`== `annotate`
                  type: string
                op:
                  enum:
                  - amend
                  - unamend
                  - delete
                  - annotate
                  minLength: 1
                  type: string
                quantity:
                  description: required if `op`==`amend`
                  type: number
                subscription_id:
                  description: required if `op`== `annotate`
                  minLength: 1
                  type: string
              required:
              - op
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: moveOrDeleteMspLicenseToAnotherOrg
      tags:
      - Msps Licenses
      - tag:MIST:CONFIGURE:Msps Licenses
  /api/v1/msps/{msp_id}/logo:
    delete:
      description: Delete MSP Logo
      operationId: deleteMspLogo
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteMspLogo
      tags:
      - Msps Logo
      - tag:MIST:CONFIGURE:Msps Logo
    parameters:
    - $ref: '#/components/parameters/msp_id'
    post:
      description: Upload Logo (only for advanced msp tier)
      operationId: postMspLogo
      requestBody:
        content:
          application/json:
            schema:
              properties:
                logo_url:
                  type: string
              type: object
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: postMspLogo
      tags:
      - Msps Logo
      - tag:MIST:CONFIGURE:Msps Logo
  /api/v1/msps/{msp_id}/logs:
    get:
      description: Get list of change logs for the current MSP
      operationId: listMspLogs
      parameters:
      - description: site id
        in: query
        name: site_id
        schema:
          type: string
      - description: admin name or email
        in: query
        name: admin_name
        schema:
          type: string
      - description: message
        in: query
        name: message
        schema:
          type: string
      - description: sort order
        in: query
        name: sort
        schema:
          enum:
          - timestamp
          - -timestamp
          - site_id
          - admin_id
          type: string
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/LogsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listMspLogs
      tags:
      - Msps Logs
      - tag:MIST:MONITOR:Msps Logs
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/logs/count:
    get:
      description: Count by Distinct Attributes of Audit Logs
      operationId: countMspLogs
      parameters:
      - in: query
        name: distinct
        schema:
          default: admin_name
          enum:
          - admin_id
          - admin_name
          - message
          - org_id
          type: string
      responses:
        '200':
          $ref: '#/components/responses/count'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: countMspLogs
      tags:
      - Msps Logs
      - tag:MIST:MONITOR:Msps Logs
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/orggroups:
    get:
      description: Get List of MSP Org Groups
      operationId: listMspOrgGroups
      responses:
        '200':
          $ref: '#/components/responses/OrggroupsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listMspOrgGroups
      tags:
      - Msps Org Groups
      - tag:MIST:CONFIGURE:Msps Org Groups
    parameters:
    - $ref: '#/components/parameters/msp_id'
    post:
      description: Create MSP Org Group
      operationId: createMspOrgGroup
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  msp_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  name: string
                  org_ids:
                  - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              $ref: '#/components/schemas/orggroup'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Orggroup'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createMspOrgGroup
      tags:
      - Msps Org Groups
      - tag:MIST:CONFIGURE:Msps Org Groups
  /api/v1/msps/{msp_id}/orggroups/{orggroup_id}:
    delete:
      description: Delete MSP Org Group
      operationId: deleteMspOrgGroup
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteMspOrgGroup
      tags:
      - Msps Org Groups
      - tag:MIST:CONFIGURE:Msps Org Groups
    get:
      description: Get MSP Org Group Details
      operationId: getMspOrgGroup
      responses:
        '200':
          $ref: '#/components/responses/Orggroup'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getMspOrgGroup
      tags:
      - Msps Org Groups
      - tag:MIST:CONFIGURE:Msps Org Groups
    parameters:
    - $ref: '#/components/parameters/msp_id'
    - $ref: '#/components/parameters/orggroup_id'
    put:
      description: Update MSP Org Group
      operationId: updateMspOrgGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orggroup'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Orggroup'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateMspOrgGroup
      tags:
      - Msps Org Groups
      - tag:MIST:CONFIGURE:Msps Org Groups
  /api/v1/msps/{msp_id}/orgs:
    get:
      description: Get List of MSP Orgs
      operationId: listMspOrgs
      responses:
        '200':
          $ref: '#/components/responses/OrgsArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listMspOrgs
      tags:
      - Msps Orgs
      - tag:MIST:CONFIGURE:Msps Orgs
    parameters:
    - $ref: '#/components/parameters/msp_id'
    post:
      description: Create an Org under MSP
      operationId: createMspOrg
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  allow_mist: true
                  name: string
                  orggroup_ids:
                  - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  session_expiry: 10
            schema:
              $ref: '#/components/schemas/org'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Org'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createMspOrg
      tags:
      - Msps Orgs
      - tag:MIST:CONFIGURE:Msps Orgs
    put:
      description: Assign or Unassign Orgs to an MSP account
      operationId: manageMspOrgs
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  op: assign
                  org_ids:
                  - 2b069b358-4c97-5319-1f8c-7c5ca64d6ab1
            schema:
              properties:
                op:
                  enum:
                  - assign
                  - unassign
                  type: string
                org_ids:
                  description: list of org_id
                  items:
                    type: string
                  type: array
              required:
              - op
              - org_ids
              type: object
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: manageMspOrgs
      tags:
      - Msps Orgs
      - tag:MIST:CONFIGURE:Msps Orgs
  /api/v1/msps/{msp_id}/orgs/search:
    get:
      description: Search Org in MSP
      operationId: searchMspOrgs
      parameters:
      - $ref: '#/components/parameters/name'
      - description: org id
        in: query
        name: org_id
        schema:
          format: uuid
          type: string
      - description: if this org has sufficient subscription
        in: query
        name: sub_insufficient
        schema:
          type: boolean
      - description: if this org is under trial period
        in: query
        name: trial_enabled
        schema:
          type: boolean
      - description: a list of types that enabled by usage
        in: query
        name: usage_types
        schema:
          items:
            type: string
          type: array
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/OrgsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchMspOrgs
      tags:
      - Msps Orgs
      - tag:MIST:MONITOR:Msps Orgs
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/orgs/{org_id}:
    delete:
      description: delete MSP Org
      operationId: deleteMspOrg
      responses:
        '200':
          $ref: '#/components/responses/OK'
      summary: deleteMspOrg
      tags:
      - Msps Orgs
      - tag:MIST:CONFIGURE:Msps Orgs
    get:
      description: Get MSP Org Details
      operationId: getMspOrg
      responses:
        '200':
          $ref: '#/components/responses/Org'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getMspOrg
      tags:
      - Msps Orgs
      - tag:MIST:CONFIGURE:Msps Orgs
    parameters:
    - $ref: '#/components/parameters/msp_id'
    - $ref: '#/components/parameters/org_id'
    put:
      description: Update MSP Org
      operationId: updateMspOrg
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/org'
      responses:
        '200':
          $ref: '#/components/responses/Org'
      summary: updateMspOrg
      tags:
      - Msps Orgs
      - tag:MIST:CONFIGURE:Msps Orgs
  /api/v1/msps/{msp_id}/search:
    get:
      description: Search in MSP Orgs
      operationId: searchMspOrgGroup
      parameters:
      - description: orgs
        example: orgs
        in: query
        name: type
        required: true
        schema:
          enum:
          - orgs
          type: string
      - $ref: '#/components/parameters/q'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          $ref: '#/components/responses/OrggroupsSearch'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: searchMspOrgGroup
      tags:
      - Msps Org Groups
      - tag:MIST:MONITOR:Msps Org Groups
    parameters:
    - $ref: '#/components/parameters/msp_id'
  /api/v1/msps/{msp_id}/ssoroles:
    get:
      description: Get List of MSP SSO Roles
      operationId: listMspSsoRoles
      responses:
        '200':
          $ref: '#/components/responses/SsorolesArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listMspSsoRoles
      tags:
      - Msps SSO Roles
      - tag:MIST:CONFIGURE:Msps SSO Roles
    parameters:
    - $ref: '#/components/parameters/msp_id'
    post:
      description: Create MSP Role
      operationId: createMspSsoRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ssorole'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Ssorole'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createMspSsoRole
      tags:
      - Msps SSO Roles
      - tag:MIST:CONFIGURE:Msps SSO Roles
  /api/v1/msps/{msp_id}/ssoroles/{ssorole_id}:
    delete:
      description: Delete MSP SSO Roles
      operationId: deleteMspSsoRole
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteMspSsoRole
      tags:
      - Msps SSO Roles
      - tag:MIST:CONFIGURE:Msps SSO Roles
    parameters:
    - $ref: '#/components/parameters/msp_id'
    - $ref: '#/components/parameters/ssorole_id'
    put:
      description: Update SSO Role
      operationId: updateMspSsoRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ssorole'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Ssorole'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateMspSsoRole
      tags:
      - Msps SSO Roles
      - tag:MIST:CONFIGURE:Msps SSO Roles
  /api/v1/msps/{msp_id}/ssos:
    get:
      description: List MSP SSO Configs
      operationId: listMspSsos
      responses:
        '200':
          $ref: '#/components/responses/SsosArray'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listMspSsos
      tags:
      - Msps SSO
      - tag:MIST:CONFIGURE:Msps SSO
    parameters:
    - $ref: '#/components/parameters/msp_id'
    post:
      description: Create MSP SSO profile
      operationId: createMspSso
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sso'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Sso'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: createMspSso
      tags:
      - Msps SSO
      - tag:MIST:CONFIGURE:Msps SSO
  /api/v1/msps/{msp_id}/ssos/{sso_id}:
    delete:
      description: Delete MSP SSO Config
      operationId: deleteMspSso
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: deleteMspSso
      tags:
      - Msps SSO
      - tag:MIST:CONFIGURE:Msps SSO
    get:
      description: Get MSP SSO Config
      operationId: getMspSso
      responses:
        '200':
          $ref: '#/components/responses/Sso'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: getMspSso
      tags:
      - Msps SSO
      - tag:MIST:CONFIGURE:Msps SSO
    parameters:
    - $ref: '#/components/parameters/msp_id'
    - $ref: '#/components/parameters/sso_id'
    put:
      description: Update MSP SSO config
      operationId: updateMspSso
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  custom_logout_url: string
                  idp_cert: string
                  idp_sign_algo: string
                  idp_sso_url: string
                  ignore_unmatched_roles: true
                  issuer: string
                  name: string
                  nameid_format: email
            schema:
              $ref: '#/components/schemas/sso'
        description: Request Body
      responses:
        '200':
          $ref: '#/components/responses/Sso'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: updateMspSso
      tags:
      - Msps SSO
      - tag:MIST:CONFIGURE:Msps SSO
  /api/v1/msps/{msp_id}/ssos/{sso_id}/failures:
    get:
      description: Get List of MSP SSO Latest Failures
      operationId: listMspSsoLatestFailures
      responses:
        '200':
          $ref: '#/components/responses/SsoLatestFailures'
        '400':
          $ref: '#/components/responses/HTTP400'
        '401':
          $ref: '#/components/responses/HTTP401'
        '403':
          $ref: '#/components/responses/HTTP403'
        '404':
          $ref: '#/components/responses/HTTP404'
        '429':
          $ref: '#/components/responses/HTTP429'
      summary: listMspSsoLatestFailures
      tags:
      - Msps SSO
      - tag:MIST:MONITOR:Msps SSO
    parameters:
    - $ref: '#/components/parameters/msp_id'
    - $ref: '#/components/parameters/sso_id'
  /api/v1/msps/{msp_id}/ssos/{sso_id}/metadata:
    get:
      description: Get MSP SSO SAML Metadata
      operationId: getMspSsoSamlMetadata
      responses:
        '200':
          $ref: '#/components/responses/SsoSamlMetadata'
[...]
